
@{
                /**/

                ViewBag.Title = "Shift Bottom Row : Lesson 2 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Shift Bottom Row : Lesson 2&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Upper Row with Shift Keys", "Lesson", "ShiftUpperRow", new { id = "1" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + x
                        </td>
                        <td>
                            Shift + c
                        </td>
                        <td>
                            Shift + b
                        </td>
                        <td>
                            Shift + n
                        </td>
                        <td>
                            Shift + m
                        </td>
                        <td>
                            Shift + >
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਂ
                        </td>
                        <td>
                            ਣ
                        </td>
                        <td>
                            ੲ
                        </td>
                        <td>
                            ਲ਼
                        </td>
                        <td>
                            ਸ਼
                        </td>
                        <td>
                            ।
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">

                <table id="third_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="l_shift_key _key" id="l_shift_key"><span class="special_characters">⇧</span> Shift</td>
                            <td class="_key">
                                <span class="_right_char">ਁ</span> <br>
                                <span class="_right_char">Z</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੰ</span> <br>
                                <span class="_right_char">X</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਣ</span> <br>
                                <span class="_right_char">C</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਨ</span> <br>
                                <span class="_right_char">V</span> <br />
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ੲ</span> <br>
                                <span class="_right_char">B</span> <br />
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਲ਼</span> <br>
                                <span class="_right_char">N</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਸ਼</span> <br>
                                <span class="_right_char">M</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">&lt;</span> <br>
                                <span class="_right_char">,</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">।</span> <br>
                                <span class="_right_char">.</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">?</span> <br>
                                <span class="_right_char">ਯ</span>
                            </td>

                            <td class="r_shift_key _key" id="r_shift_key"><span class="special_characters">⇧</span> Shift</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ਮਾਂ </span><span>ਛਾਂ </span><span>ਜਾਂ </span><span>ਛਾਵਾਂ </span><span>ਇਟਾਂ </span><span>ਵਾਂਝਾ </span><span>ਪੌਣ </span><span>ਪਾਣੀ </span><span>ਸ਼ੰਖ </span><span>ਨਮਕ </span><span>ਮਾਣਕ </span><span>ਮੰਨਣਾ </span><span>ਲਕਸ਼ </span><span>ਪਹਿਚਾਣ </span><span>ਗਿਣਤੀ </span><span>ਗਣਿਤ </span><span>ਆਦਰ </span><span>ਈਰਖਾ </span><span>ਮਨਮਾਨ </span><span>ਸਤਿਕਾਰ </span><span>ਨਿਰਾਦਰ </span><span>ਸ਼ਲਗਮ </span><span>ਔਰਤ </span><span>ਮਤਲਬ </span><span>ਅਮਰਿੰਦਰ </span><span>ਕਰਤਾਰ </span><span>ਸਿੰਘ </span><span>ਸਰਾਭਾ </span><span>ਸ਼ੋਰ </span><span>ਟਾਈਪਿੰਗ </span><span>ਮਹੀਨਾ </span><span>ਆਨਲਾਈਨ </span><span>ਯੂਨੀਕੋਡ </span><span>ਲਿਸ਼ਕਾਰਾ </span><span>ਇਲਾਵਾ </span><span>ਅਪਲਾਈ </span><span>ਆਧਾਰ </span><span>ਸਿਖਾਇ </span><span>ਯੂਨੀਕੋਡ </span><span>ਫੋਟੋਸਟੇਟ </span><span>ਇਲਾਵਾ </span><span>ਨਨਕਾਣਾ </span><span>ਸਾਹਿਬ </span><span>ਹਰਮਿੰਦਰ </span><span>ਸਾਹਿਬ </span><span>ਜਾਂਦੇ </span><span>ਹਨ </span><span>ਜਾਂਦੀ </span><span> ਹੈ </span><span>ਨਿਰਮਾਣ </span><span>ਹੈਰਾਨੀਜਨਕ</span></section>

            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>
<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        var wordList = ["ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ"];
    </script>

    <script src="~/Scripts/JavaScript.js"></script>

}


