
@{
    ViewBag.Title = "Shift Bottom Row : Lesson 2 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Shift Bottom Row : Lesson 2&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Upper Row with Shift Keys", "Lesson", "ShiftUpperRow", new { id = "1" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + x
                        </td>
                        <td>
                            Shift + c
                        </td>
                        <td>
                            Shift + b
                        </td>
                        <td>
                            Shift + n
                        </td>
                        <td>
                            Shift + m
                        </td>
                        <td>
                            Shift + >
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਂ
                        </td>
                        <td>
                            ਣ
                        </td>
                        <td>
                            ੲ
                        </td>
                        <td>
                            ਲ਼
                        </td>
                        <td>
                            ਸ਼
                        </td>
                        <td>
                            ।
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">

                <table id="third_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="l_shift_key _key" id="l_shift_key"><span class="special_characters">⇧</span> Shift</td>
                            <td class="_key">
                                <span class="_right_char">ਁ</span> <br>
                                <span class="_right_char">Z</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੰ</span> <br>
                                <span class="_right_char">X</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਣ</span> <br>
                                <span class="_right_char">C</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਨ</span> <br>
                                <span class="_right_char">V</span> <br />
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ੲ</span> <br>
                                <span class="_right_char">B</span> <br />
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਲ਼</span> <br>
                                <span class="_right_char">N</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਸ਼</span> <br>
                                <span class="_right_char">M</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">&lt;</span> <br>
                                <span class="_right_char">,</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">।</span> <br>
                                <span class="_right_char">.</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">?</span> <br>
                                <span class="_right_char">ਯ</span>
                            </td>

                            <td class="r_shift_key _key" id="r_shift_key"><span class="special_characters">⇧</span> Shift</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ਮਾਂ </span><span>ਛਾਂ </span><span>ਜਾਂ </span><span>ਛਾਵਾਂ </span><span>ਇਟਾਂ </span><span>ਵਾਂਝਾ </span><span>ਪੌਣ </span><span>ਪਾਣੀ </span><span>ਸ਼ੰਖ </span><span>ਨਮਕ </span><span>ਮਾਣਕ </span><span>ਮੰਨਣਾ </span><span>ਲਕਸ਼ </span><span>ਪਹਿਚਾਣ </span><span>ਗਿਣਤੀ </span><span>ਗਣਿਤ </span><span>ਆਦਰ </span><span>ਈਰਖਾ </span><span>ਮਨਮਾਨ </span><span>ਸਤਿਕਾਰ </span><span>ਨਿਰਾਦਰ </span><span>ਸ਼ਲਗਮ </span><span>ਔਰਤ </span><span>ਮਤਲਬ </span><span>ਅਮਰਿੰਦਰ </span><span>ਕਰਤਾਰ </span><span>ਸਿੰਘ </span><span>ਸਰਾਭਾ </span><span>ਸ਼ੋਰ </span><span>ਟਾਈਪਿੰਗ </span><span>ਮਹੀਨਾ </span><span>ਆਨਲਾਈਨ </span><span>ਯੂਨੀਕੋਡ </span><span>ਲਿਸ਼ਕਾਰਾ </span><span>ਇਲਾਵਾ </span><span>ਅਪਲਾਈ </span><span>ਆਧਾਰ </span><span>ਸਿਖਾਇ </span><span>ਯੂਨੀਕੋਡ </span><span>ਫੋਟੋਸਟੇਟ </span><span>ਇਲਾਵਾ </span><span>ਨਨਕਾਣਾ </span><span>ਸਾਹਿਬ </span><span>ਹਰਮਿੰਦਰ </span><span>ਸਾਹਿਬ </span><span>ਜਾਂਦੇ </span><span>ਹਨ </span><span>ਜਾਂਦੀ </span><span> ਹੈ </span><span>ਨਿਰਮਾਣ </span><span>ਹੈਰਾਨੀਜਨਕ</span></section>

            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script type="text/javascript">
        var wordList = ["ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ", "ਮ", "ਂ", "ਛ", "ਂ", "ਜ", "ਂ", "ਛ", "ਵ", "ਂ", "ਇਟ", "ਂ", "ਵ", "ਂਝ", "ਪੌਣ", "ਪ", "ਣ", "ਸ਼ੰਖ", "ਨਮਕ", "ਮ", "ਣਕ", "ਮੰਨਣ", "ਲਕਸ਼", "ਪਹ", "ਚ", "ਣ", "ਗ", "ਣਤ", "ਗਣ", "ਤ", "ਆਦਰ", "ਈਰਖ", "ਮਨਮ", "ਨ", "ਸਤ", "ਕ", "ਰ", "ਨ", "ਰ", "ਦਰ", "ਸ਼ਲਗਮ", "ਔਰਤ", "ਮਤਲਬ", "ਅਮਰ", "ੰਦਰ", "ਕਰਤ", "ਰ", "ਸ", "ੰਘ", "ਸਰ", "ਭ", "ਸ਼ੋਰ", "ਟ", "ਈਪ", "ੰਗ", "ਮਹ", "ਨ", "ਆਨਲ", "ਈਨ", "ਯੂਨ", "ਕੋਡ", "ਲ", "ਸ਼ਕ", "ਰ", "ਇਲ", "ਵ", "ਅਪਲ", "ਈ", "ਆਧ", "ਰ", "ਸ", "ਖ", "ਇ", "ਯੂਨ", "ਕੋਡ", "ਫੋਟੋਸਟੇਟ", "ਇਲ", "ਵ", "ਨਨਕ", "ਣ", "ਸ", "ਹ", "ਬ", "ਹਰਮ", "ੰਦਰ", "ਸ", "ਹ", "ਬ", "ਜ", "ਂਦੇ", "ਹਨ", "ਜ", "ਂਦ", "ਹੈ", "ਨ", "ਰਮ", "ਣ", "ਹੈਰ", "ਨ", "ਜਨਕ"];
            //    console.log('Value taken from Lesson1');
            //for (i = 0; i < wordList.length; i++)
            //    console.log((i + 1) + ": " + wordList[i]);
    </script>

    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}


