
@{

    ViewBag.Title = "Passage Typing : Lesson 23 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 23:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "24" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 446      </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਭੂਮਿਕਾ</span><span>ਰੁੱਖ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਅਨਮੋਲ</span><span>ਧਨ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਕੁਦਰਤ</span><span>ਵੱਲੋਂ</span><span>ਮਿਲਿਆ</span><span>ਅਨਮੋਲ</span><span>ਤੋਹਫ਼ਾ</span><span>ਹੈ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਨਾਲ</span><span>ਜੰਗਲ</span><span>ਮੌਜੂਦ</span><span>ਹਨ,</span><span>ਕੁਦਰਤ</span><span>ਧੜਕਦੀ</span><span>ਹੈ,</span><span>ਵਾਤਾਵਰਨ</span><span>ਰਮਣੀਕ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਵੇਲਾਂ,</span><span>ਬੂਟਿਆਂ</span><span>ਰਾਹੀਂ</span><span>ਬਾਤਾਂ</span><span>ਪਾਉਂਦੀਆਂ</span><span>ਹਨ,</span><span>ਰੁੱਖ</span><span>ਝੂਮਦੇ</span><span>ਹਨ,</span><span>ਹਵਾ</span><span>ਸਰਗੋਸ਼ੀਆਂ</span><span>ਕਰਦੀ</span><span>ਹੈ,</span><span>ਠੰਡੀਆ-ਮਿਠੀਆਂ</span><span>ਪੌਣਾਂ</span><span>ਵਤਰਾਰਨ</span><span>ਵਿਚ</span><span>ਸੁਗੰਧੀਆਂ</span><span>ਘੋਲਦੀਆਂ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਚਾਰ-ਚੁਫ਼ੇਰੇ</span><span>ਹਰਿਆਵਲ</span><span>ਲੋਰੀਆ</span><span>ਦਿੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਧਨ</span><span>ਹੈ</span><span>ਰੁੱਖਾਂ</span><span>ਦਾ</span><span>ਜੇਰਾ</span><span>ਜੋ</span><span>ਬਿਨਾਂ</span><span>ਕਿਸੇ</span><span>ਭੇਦ-ਭਾਵ</span><span>ਦੇ</span><span>ਸਭ</span><span>ਲਈ</span><span>ਬਾਹਾਂ</span><span>ਪਸਾਰ</span><span>ਕੇ</span><span>ਖੜ੍ਹੇ</span><span>ਹਨ</span><span>|</span><span>ਆਪ</span><span>ਗਰਮੀ-ਸਰਦੀ</span><span>ਮੀਂਹ-ਧੁੱਪ</span><span>ਆਦਿ</span><span>ਸਹਾਰ</span><span>ਕੇ</span><span>ਸਭ</span><span>ਨੂੰ</span><span>ਛਾਂ,</span><span>ਆਸਰਾ,</span><span>ਫੁੱਲ</span><span>ਦਿੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਛਾਂ,</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਥਾਂ</span><span>ਸਭ</span><span>ਨਿਰਮਲ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਪਵਿੱਤਰ</span><span>ਹੈ</span><span>|</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਅਜਿਹੀ</span><span>ਸਹਿਣਸ਼ੀਲਤਾ</span><span>ਨੂੰ</span><span>ਵੇਖ</span><span>ਕੇ</span><span>ਹੀ</span><span>ਬਾਬਾ</span><span>ਫ਼ਰੀਦ</span><span>ਜੀ</span><span>ਨੇ</span><span>ਕਿਹਾ</span><span>ਹੈ</span><span>ਲੋਕ-ਮਾਨਸਿਕਤਾ</span><span>ਅਤੇ</span><span>ਰੁੱਖ</span><span>ਨਿੰਮ,</span><span>ਬਹੋੜ,</span><span>ਪਿੱਪਲ,</span><span>ਤੁਲਸੀ</span><span>ਤੇ</span><span>ਅੰਬ</span><span>ਆਦਿ</span><span>ਨਾਲ</span><span>ਪਵਿੱਤਰਤਾ,</span><span>ਪੂਜਨੀਕਤਾ</span><span>ਤੇ</span><span>ਸਨਮਾਨ</span><span>ਦੀ</span><span>ਭਾਵਨਾ</span><span>ਜੁੜੀ</span><span>ਹੋਈ</span><span>ਹੈ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਰੁੱਖਾਂ</span><span>ਵਿਚਲੇ</span><span>ਗੁਣ</span><span>ਹੀ</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਪੂਜਾ</span><span>ਦੇ</span><span>ਕਾਰਨ</span><span>ਹਨ</span><span>ਜਿਵੇਂ</span><span>ਨਿੰਮ</span><span>ਅਤੇ</span><span>ਤੁਲਸੀ</span><span>ਤਾਂ</span><span>ਹੈ</span><span>ਹੀ</span><span>ਗੁਣਾਂ</span><span>ਦੇ</span><span>ਖਜ਼ਾਨੇ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਤੋਂ</span><span>ਇਲਾਵਾ</span><span>ਬੇਰੀ</span><span>ਨੂੰ</span><span>ਤੇ</span><span>ਬੇਰੀ</span><span>ਦੀ</span><span>ਲੱਕੜੀ</span><span>ਨੂੰ</span><span>ਸ਼ੁੱਭ</span><span>ਮੰਨ</span><span>ਕੇ</span><span>ਹਵਨ</span><span>ਤੇ</span><span>ਵਿਆਹ-ਸ਼ਾਦੀ</span><span>ਵੇਲੇ</span><span>ਵਰਤੋਂ</span><span>ਵਿਚ</span><span>ਲਿਆਂਦਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਚੰਦਨ</span><span>ਦੇ</span><span>ਰੁੱਖਾਂ</span><span>ਦੇ</span><span>ਬਹੁਤ</span><span>ਸਾਰੇ</span><span>ਲਾਭ</span><span>ਹਨ</span><span>ਜਿਵੇਂ</span><span>ਰੁੱਖ</span><span>ਮਨੁੱਖ</span><span>ਨੂੰ</span><span>ਧੁੱਪ,</span><span>ਗਰਮੀ,</span><span>ਮੀਹ</span><span>ਆਦਿ</span><span>ਵਿਚ</span><span>ਆਸਰਾ</span><span>ਦਿੰਦੇ</span><span>ਹਨ,</span><span>ਛਾਂ</span><span>ਦਿੰਦੇ</span><span>ਹਨ,</span><span>ਭਰ-ਗਰਮੀ</span><span>ਵਿਚ</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਗੁੜ੍ਹੀ</span><span>ਛਾਂ</span><span>ਦਾ</span><span>ਅਨੰਦ</span><span>ਹੀ</span><span>ਕੁਝ</span><span>ਹੋਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਜੋ</span><span>ਠੰਢੀ</span><span>ਹਵਾ</span><span>ਰੁੱਖਾਂ</span><span>ਤੋਂ</span><span>ਮਿਲਦੀ</span><span>ਹੈ,</span><span>ਉਹ</span><span>ਪੱਖਿਆ,</span><span>ਕੂਲਰਾ</span><span>ਤੋਂ</span><span>ਨਹੀਂ</span><span>ਮਿਲਦੀ</span><span>|</span><span>ਸਾਡੀ</span><span>ਜਿੰਦਗੀ</span><span>ਬਚਾਉਣ</span><span>ਵਿਚ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਮਦਦਗਾਰ</span><span>ਇਹ</span><span>ਰੁੱਖ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਸਾਨੂੰ</span><span>ਜਿੰਦਾ</span><span>ਰਹਿਣ</span><span>ਲਈ</span><span>ਆਕਸੀਜਨ</span><span>ਦਿੰਦੇ</span><span>ਹਨ,</span><span>ਰੁੱਖਾਂ</span><span>ਤੋਂ</span><span>ਸਾਨੂੰ</span><span>ਲੱਕੜੀ</span><span>ਪ੍ਰਾਪਤ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਤੋਂ</span><span>ਅਸੀਂ</span><span>ਫ਼ਰਨਿਚਰ</span><span>ਬਣਾਉਂਦੇ</span><span>ਹਾਂ</span><span>|</span><span>ਰੁੱਖਾਂ</span><span>ਤੋਂ</span><span>ਸਾਨੂੰ</span><span>ਫਲ</span><span>ਮਿਲਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਲੱਕੜੀ</span><span>ਬਾਲਣ</span><span>ਦੇ</span><span>ਕੰਮ</span><span>ਵੀ</span><span>ਆਉਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਭੋ-ਖੋਰ</span><span>ਤੋਂ</span><span>ਬਚਾਉਂਦੇ,</span><span>ਵਾਤਾਵਰਨ</span><span>ਨੂੰ</span><span>ਸ਼ੁੱਧ</span><span>ਰੱਖਦੇ</span><span>ਤੇ</span><span>ਮੀਂਹ</span><span>ਲਿਆਉਣ</span><span>ਵਿਚ</span><span>ਸਹਾਈ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਵਾਤਾਵਰਨ</span><span>ਪ੍ਰਦੂਸ਼ਤ</span><span>ਹੋਣ</span><span>ਤੋਂ</span><span>ਬਚਾਉਂਦੇ</span><span>ਹਨ,</span><span>ਧਰਤੀ</span><span>ਹੇਠਲੇ</span><span>ਪਾਣੀ</span><span>ਦੀ</span><span>ਸਡ਼੍ਹਾ</span><span>ਨੂੰ</span><span>ਕੰਟਰੋਲ</span><span>ਵਿਚ</span><span>ਰੱਖਦੇ</span><span>ਹਨ,</span><span>ਪੰਛੀ</span><span>ਇਨ੍ਹਾਂ</span><span>'ਤੇ</span><span>ਆਲ੍ਹਣੇ</span><span>ਪਾਉਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਰੁੱਖਾਂ</span><span>'ਤੇ</span><span>ਕਹਿਰ</span><span>ਪਰ</span><span>ਇਹ</span><span>ਕਿਹੋ</span><span>ਜਿਹਾ</span><span>ਸਮਾਂ</span><span>ਆ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>|</span><span>ਕਿ</span><span>ਮਨੁੱਖ</span><span>ਆਪਣੇ</span><span>ਸਵਾਰਥ</span><span>ਦੀ</span><span>ਖ਼ਾਤਰ</span><span>ਰੁੱਖ</span><span>ਵੱਢੀ</span><span>ਜਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਜੰਗਲ</span><span>ਦੇ</span><span>ਜੰਗਲ</span><span>ਵੱਢ</span><span>ਕੇ</span><span>ਆਪਣੀਆਂ</span><span>ਲੋੜਾਂ</span><span>ਖ਼ਾਤਰ</span><span>ਇਨ੍ਹਾਂ</span><span>'ਤੇ</span><span>ਕਹਿਰ</span><span>ਢਾਹਿਆ</span><span>ਜਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਕਿਤੇ</span><span>ਕੋਈ</span><span>ਇਮਾਰਤ</span><span>ਖੜ੍ਹੀ</span><span>ਕਰਨ</span><span>ਹੋਵੇ,</span><span>ਸੜਕ</span><span>ਬਣਾਓਣੀ</span><span>ਹੋਵੇ</span><span>ਜਾਂ</span><span>ਕਿਸੇ</span><span>ਫਰਨੀਚਰ</span><span>ਦੇ</span><span>ਕੰਮ</span><span>ਵਾਸਤੇ</span><span>ਲੱਕੜੀ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੋਵੇ</span><span>ਤਾਂ</span><span>ਲੋਕ</span><span>ਰੁੱਖਾਂ</span><span>'ਤੇ</span><span>ਆਰੀ</span><span>ਚਲਾਉਣ</span><span>ਤੋਂ</span><span>ਨਹੀ</span><span>ਝਿਜਕਦੇ</span><span>|</span><span>ਹਮੇਸ਼ਾ</span><span>ਇਹੀ</span><span>ਰੁੱਖ</span><span>ਬਲੀ</span><span>ਦਾ</span><span>ਬੱਕਰਾ</span><span>ਬਣਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਠੀਕ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਫ਼ਰਨਿਚਰ</span><span>ਜਾਂ</span><span>ਬਾਲਣ</span><span>ਵਾਸਤੇ</span><span>ਇਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਵੱਢਣਾ</span><span>ਹੀ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>ਪਰ</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਜਗ੍ਹਾ</span><span>ਹੋਰ</span><span>ਰੁੱਖ</span><span>ਵੀ</span><span>ਤਾਂ</span><span>ਲਾਏ</span><span>ਜਾ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਹੋਰ</span><span>ਰੁੱਖ</span><span>ਲਾਉਣ</span><span>ਦੀ</span><span>ਬਜਾਏ</span><span>ਪਹਿਲਾਂ</span><span>ਲੱਗੇ</span><span>ਹੋਏ</span><span>ਰੁੱਖ</span><span>ਨੂੰ</span><span>ਧੜਾ-ਧੜ</span><span>ਵੱਢੀ</span><span>ਜਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>
<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਭੂਮਿਕਾ", "ਰੁੱਖ", "ਸਾਡੇ", "ਜੀਵਨ", "ਦਾ", "ਅਨਮੋਲ", "ਧਨ", "ਹੈ", "|", "ਇਹ", "ਕੁਦਰਤ", "ਵੱਲੋਂ", "ਮਿਲਿਆ", "ਅਨਮੋਲ", "ਤੋਹਫ਼ਾ", "ਹੈ", "|", "ਇਨ੍ਹਾਂ", "ਨਾਲ", "ਜੰਗਲ", "ਮੌਜੂਦ", "ਹਨ,", "ਕੁਦਰਤ", "ਧੜਕਦੀ", "ਹੈ,", "ਵਾਤਾਵਰਨ", "ਰਮਣੀਕ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਵੇਲਾਂ,", "ਬੂਟਿਆਂ", "ਰਾਹੀਂ", "ਬਾਤਾਂ", "ਪਾਉਂਦੀਆਂ", "ਹਨ,", "ਰੁੱਖ", "ਝੂਮਦੇ", "ਹਨ,", "ਹਵਾ", "ਸਰਗੋਸ਼ੀਆਂ", "ਕਰਦੀ", "ਹੈ,", "ਠੰਡੀਆ-ਮਿਠੀਆਂ", "ਪੌਣਾਂ", "ਵਤਰਾਰਨ", "ਵਿਚ", "ਸੁਗੰਧੀਆਂ", "ਘੋਲਦੀਆਂ", "ਹਨ", "ਤੇ", "ਚਾਰ-ਚੁਫ਼ੇਰੇ", "ਹਰਿਆਵਲ", "ਲੋਰੀਆ", "ਦਿੰਦੀ", "ਹੈ", "|", "ਧਨ", "ਹੈ", "ਰੁੱਖਾਂ", "ਦਾ", "ਜੇਰਾ", "ਜੋ", "ਬਿਨਾਂ", "ਕਿਸੇ", "ਭੇਦ-ਭਾਵ", "ਦੇ", "ਸਭ", "ਲਈ", "ਬਾਹਾਂ", "ਪਸਾਰ", "ਕੇ", "ਖੜ੍ਹੇ", "ਹਨ", "|", "ਆਪ", "ਗਰਮੀ-ਸਰਦੀ", "ਮੀਂਹ-ਧੁੱਪ", "ਆਦਿ", "ਸਹਾਰ", "ਕੇ", "ਸਭ", "ਨੂੰ", "ਛਾਂ,", "ਆਸਰਾ,", "ਫੁੱਲ", "ਦਿੰਦੇ", "ਹਨ", "|", "ਰੁੱਖਾਂ", "ਦੀ", "ਛਾਂ,", "ਰੁੱਖਾਂ", "ਦੀ", "ਥਾਂ", "ਸਭ", "ਨਿਰਮਲ", "ਹੈ", "ਤੇ", "ਪਵਿੱਤਰ", "ਹੈ", "|", "ਰੁੱਖਾਂ", "ਦੀ", "ਅਜਿਹੀ", "ਸਹਿਣਸ਼ੀਲਤਾ", "ਨੂੰ", "ਵੇਖ", "ਕੇ", "ਹੀ", "ਬਾਬਾ", "ਫ਼ਰੀਦ", "ਜੀ", "ਨੇ", "ਕਿਹਾ", "ਹੈ", "ਲੋਕ-ਮਾਨਸਿਕਤਾ", "ਅਤੇ", "ਰੁੱਖ", "ਨਿੰਮ,", "ਬਹੋੜ,", "ਪਿੱਪਲ,", "ਤੁਲਸੀ", "ਤੇ", "ਅੰਬ", "ਆਦਿ", "ਨਾਲ", "ਪਵਿੱਤਰਤਾ,", "ਪੂਜਨੀਕਤਾ", "ਤੇ", "ਸਨਮਾਨ", "ਦੀ", "ਭਾਵਨਾ", "ਜੁੜੀ", "ਹੋਈ", "ਹੈ", "|", "ਇਨ੍ਹਾਂ", "ਰੁੱਖਾਂ", "ਵਿਚਲੇ", "ਗੁਣ", "ਹੀ", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਪੂਜਾ", "ਦੇ", "ਕਾਰਨ", "ਹਨ", "ਜਿਵੇਂ", "ਨਿੰਮ", "ਅਤੇ", "ਤੁਲਸੀ", "ਤਾਂ", "ਹੈ", "ਹੀ", "ਗੁਣਾਂ", "ਦੇ", "ਖਜ਼ਾਨੇ", "|", "ਇਨ੍ਹਾਂ", "ਤੋਂ", "ਇਲਾਵਾ", "ਬੇਰੀ", "ਨੂੰ", "ਤੇ", "ਬੇਰੀ", "ਦੀ", "ਲੱਕੜੀ", "ਨੂੰ", "ਸ਼ੁੱਭ", "ਮੰਨ", "ਕੇ", "ਹਵਨ", "ਤੇ", "ਵਿਆਹ-ਸ਼ਾਦੀ", "ਵੇਲੇ", "ਵਰਤੋਂ", "ਵਿਚ", "ਲਿਆਂਦਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਚੰਦਨ", "ਦੇ", "ਰੁੱਖਾਂ", "ਦੇ", "ਬਹੁਤ", "ਸਾਰੇ", "ਲਾਭ", "ਹਨ", "ਜਿਵੇਂ", "ਰੁੱਖ", "ਮਨੁੱਖ", "ਨੂੰ", "ਧੁੱਪ,", "ਗਰਮੀ,", "ਮੀਹ", "ਆਦਿ", "ਵਿਚ", "ਆਸਰਾ", "ਦਿੰਦੇ", "ਹਨ,", "ਛਾਂ", "ਦਿੰਦੇ", "ਹਨ,", "ਭਰ-ਗਰਮੀ", "ਵਿਚ", "ਰੁੱਖਾਂ", "ਦੀ", "ਗੁੜ੍ਹੀ", "ਛਾਂ", "ਦਾ", "ਅਨੰਦ", "ਹੀ", "ਕੁਝ", "ਹੋਰ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਜੋ", "ਠੰਢੀ", "ਹਵਾ", "ਰੁੱਖਾਂ", "ਤੋਂ", "ਮਿਲਦੀ", "ਹੈ,", "ਉਹ", "ਪੱਖਿਆ,", "ਕੂਲਰਾ", "ਤੋਂ", "ਨਹੀਂ", "ਮਿਲਦੀ", "|", "ਸਾਡੀ", "ਜਿੰਦਗੀ", "ਬਚਾਉਣ", "ਵਿਚ", "ਸਭ", "ਤੋਂ", "ਵੱਧ", "ਮਦਦਗਾਰ", "ਇਹ", "ਰੁੱਖ", "ਹਨ", "|", "ਇਹ", "ਸਾਨੂੰ", "ਜਿੰਦਾ", "ਰਹਿਣ", "ਲਈ", "ਆਕਸੀਜਨ", "ਦਿੰਦੇ", "ਹਨ,", "ਰੁੱਖਾਂ", "ਤੋਂ", "ਸਾਨੂੰ", "ਲੱਕੜੀ", "ਪ੍ਰਾਪਤ", "ਹੁੰਦੀ", "ਹੈ", "ਜਿਸ", "ਤੋਂ", "ਅਸੀਂ", "ਫ਼ਰਨਿਚਰ", "ਬਣਾਉਂਦੇ", "ਹਾਂ", "|", "ਰੁੱਖਾਂ", "ਤੋਂ", "ਸਾਨੂੰ", "ਫਲ", "ਮਿਲਦੇ", "ਹਨ", "ਤੇ", "ਇਸ", "ਦੀ", "ਲੱਕੜੀ", "ਬਾਲਣ", "ਦੇ", "ਕੰਮ", "ਵੀ", "ਆਉਂਦੇ", "ਹਨ", "|", "ਇਹ", "ਭੋ-ਖੋਰ", "ਤੋਂ", "ਬਚਾਉਂਦੇ,", "ਵਾਤਾਵਰਨ", "ਨੂੰ", "ਸ਼ੁੱਧ", "ਰੱਖਦੇ", "ਤੇ", "ਮੀਂਹ", "ਲਿਆਉਣ", "ਵਿਚ", "ਸਹਾਈ", "ਹੁੰਦੇ", "ਹਨ", "|", "ਇਹ", "ਵਾਤਾਵਰਨ", "ਪ੍ਰਦੂਸ਼ਤ", "ਹੋਣ", "ਤੋਂ", "ਬਚਾਉਂਦੇ", "ਹਨ,", "ਧਰਤੀ", "ਹੇਠਲੇ", "ਪਾਣੀ", "ਦੀ", "ਸਡ਼੍ਹਾ", "ਨੂੰ", "ਕੰਟਰੋਲ", "ਵਿਚ", "ਰੱਖਦੇ", "ਹਨ,", "ਪੰਛੀ", "ਇਨ੍ਹਾਂ", "'ਤੇ", "ਆਲ੍ਹਣੇ", "ਪਾਉਂਦੇ", "ਹਨ", "|", "ਰੁੱਖਾਂ", "'ਤੇ", "ਕਹਿਰ", "ਪਰ", "ਇਹ", "ਕਿਹੋ", "ਜਿਹਾ", "ਸਮਾਂ", "ਆ", "ਗਿਆ", "ਹੈ", "|", "ਕਿ", "ਮਨੁੱਖ", "ਆਪਣੇ", "ਸਵਾਰਥ", "ਦੀ", "ਖ਼ਾਤਰ", "ਰੁੱਖ", "ਵੱਢੀ", "ਜਾ", "ਰਿਹਾ", "ਹੈ", "|", "ਜੰਗਲ", "ਦੇ", "ਜੰਗਲ", "ਵੱਢ", "ਕੇ", "ਆਪਣੀਆਂ", "ਲੋੜਾਂ", "ਖ਼ਾਤਰ", "ਇਨ੍ਹਾਂ", "'ਤੇ", "ਕਹਿਰ", "ਢਾਹਿਆ", "ਜਾ", "ਰਿਹਾ", "ਹੈ", "|", "ਕਿਤੇ", "ਕੋਈ", "ਇਮਾਰਤ", "ਖੜ੍ਹੀ", "ਕਰਨ", "ਹੋਵੇ,", "ਸੜਕ", "ਬਣਾਓਣੀ", "ਹੋਵੇ", "ਜਾਂ", "ਕਿਸੇ", "ਫਰਨੀਚਰ", "ਦੇ", "ਕੰਮ", "ਵਾਸਤੇ", "ਲੱਕੜੀ", "ਦੀ", "ਲੋੜ", "ਹੋਵੇ", "ਤਾਂ", "ਲੋਕ", "ਰੁੱਖਾਂ", "'ਤੇ", "ਆਰੀ", "ਚਲਾਉਣ", "ਤੋਂ", "ਨਹੀ", "ਝਿਜਕਦੇ", "|", "ਹਮੇਸ਼ਾ", "ਇਹੀ", "ਰੁੱਖ", "ਬਲੀ", "ਦਾ", "ਬੱਕਰਾ", "ਬਣਦੇ", "ਹਨ", "|", "ਇਹ", "ਠੀਕ", "ਹੈ", "ਕਿ", "ਫ਼ਰਨਿਚਰ", "ਜਾਂ", "ਬਾਲਣ", "ਵਾਸਤੇ", "ਇਨ੍ਹਾਂ", "ਨੂੰ", "ਵੱਢਣਾ", "ਹੀ", "ਪੈਂਦਾ", "ਹੈ", "ਪਰ", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਜਗ੍ਹਾ", "ਹੋਰ", "ਰੁੱਖ", "ਵੀ", "ਤਾਂ", "ਲਾਏ", "ਜਾ", "ਸਕਦੇ", "ਹਨ", "|", "ਮਨੁੱਖ", "ਹੋਰ", "ਰੁੱਖ", "ਲਾਉਣ", "ਦੀ", "ਬਜਾਏ", "ਪਹਿਲਾਂ", "ਲੱਗੇ", "ਹੋਏ", "ਰੁੱਖ", "ਨੂੰ", "ਧੜਾ-ਧੜ", "ਵੱਢੀ", "ਜਾ", "ਰਿਹਾ", "ਹੈ", "|"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>
}







