
@{

    ViewBag.Title = "Passage Typing : Lesson 24 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 24:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "25" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 406       </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਪਿੰਡ</span><span>ਜਾਂ</span><span>ਸ਼ਹਿਰ</span><span>ਦੀ</span><span>ਕਿਸੇ</span><span>ਗਲੀ/ਮੁਹੱਲੇ</span><span>ਵਿੱਚ</span><span>ਮਦਾਰੀ</span><span>ਦਾ</span><span>ਤਮਾਸ਼ਾ</span><span>ਬੜੀ</span><span>ਰੋਚਕ</span><span>ਗੱਲ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>।</span><span>ਕਿਸ</span><span>ਦਾ</span><span>ਮਨ</span><span>ਨਹੀਂ</span><span>ਕਰਦਾ</span><span>ਅਜਿਹੇ</span><span>ਤਮਾਸ਼ੇ</span><span>ਵੇਖਣ</span><span>ਨੂੰ</span><span>।</span><span>ਕੋਈ</span><span>ਵੱਡਾ</span><span>ਸਮਾਨ</span><span>ਨਹੀਂ,</span><span>ਕੋਈ</span><span>ਅਗਾਊਂ</span><span>ਸੂਚਨਾ</span><span>ਨਹੀਂ</span><span>ਬਸ</span><span>ਮਦਾਰੀ</span><span>ਦੀ</span><span>ਡੁਗ-ਡੁਗ</span><span>ਹੋਈ,</span><span>ਬੰਸਰੀ</span><span>ਦੀ</span><span>ਸੁਰ</span><span>ਨਿਕਲੀ</span><span>ਤੇ</span><span>ਨਿੱਕੇ-ਵੱਡੇ</span><span>ਮਦਾਰੀ</span><span>ਦੇ</span><span>ਦੁਆਲੇ</span><span>ਹੋ</span><span>ਕ</span><span>ਬੈਠ</span><span>ਗਏ</span><span>।</span><span>ਬਸ</span><span>ਮਦਾਰੀ</span><span>ਦਾ</span><span>ਤਮਾਸ਼ਾ</span><span>ਸ਼ੁਰੂ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>।</span><span>ਮਦਾਰੀ</span><span>ਦਾ</span><span>ਤਮਾਸ਼ਾ</span><span>ਮਨੋਰੰਜਨ</span><span>ਦਾ</span><span>ਇੱਕ</span><span>ਚੰਗਾ</span><span>ਤੇ</span><span>ਸਸਤਾ</span><span>ਸਰੋਤ</span><span>ਹੈ</span><span>।</span><span>ਮਦਾਰੀ</span><span>ਹੈਰਾਨ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਕਰਤਬ</span><span>ਵਿਖਾ</span><span>ਕੇ</span><span>ਲੋਕਾਂ</span><span>ਦਾ</span><span>ਮਨ</span><span>ਪਰਚਾਵਾ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਉਸ</span><span>ਦਾ</span><span>ਪੇਸ਼ਾ</span><span>ਵੀ</span><span>ਹੈ</span><span>।</span><span>ਇੱਕ</span><span>ਦਿਨ</span><span>ਮੈਨੂੰ</span><span>ਘਰ</span><span>ਬੈਠਿਆ</span><span>ਬੰਸਰੀ</span><span>ਦੀ</span><span>ਧੁਨੀ</span><span>ਅਤੇ</span><span>ਡੌਰੂ</span><span>ਦੀ</span><span>ਡੁਗ-ਡੁਗ</span><span>ਸੁਣੀ</span><span>।</span><span>ਮੈਂ</span><span>ਬਾਹਰ</span><span>ਨਿਕਲ</span><span>ਕੇ</span><span>ਵੇਖਿਆ</span><span>।</span><span>ਬੱਚੇ-ਬਜੁਰਗ</span><span>ਚੌਂਕ</span><span>ਵੱਲ</span><span>ਨੂੰ</span><span>ਨੱਠੇ</span><span>ਜਾ</span><span>ਰਹੇ</span><span>ਸਨ</span><span>।</span><span>ਮੈਂ</span><span>ਵੀ</span><span>ਉੱਥੇ</span><span>ਪਹੁੰਚ</span><span>ਗਿਆ</span><span>।</span><span>ਮਦਾਰੀ</span><span>ਨੇ</span><span>ਇੱਕ</span><span>ਗੰਦੀ</span><span>ਜਿਹੀ</span><span>ਚਾਦਰ</span><span>ਵਿਛਾ</span><span>ਕੇ</span><span>ਉੱਤੇ</span><span>ਇਕ</span><span>ਪਟਾਰੀ,</span><span>ਇੱਕ</span><span>ਵੱਡੀ</span><span>ਸਾਰੀ</span><span>ਥੈਲੀ</span><span>ਅਤੇ</span><span>ਹੋਰ</span><span>ਥੋੜਾ</span><span>ਬਹੁਤਾ</span><span>ਸਮਾਨ</span><span>ਰੱਖਿਆ</span><span>ਹੋਇਆ</span><span>ਸੀ</span><span>।</span><span>ਉਹ</span><span>ਬੜੀ</span><span>ਮਿੱਠੀ</span><span>ਅਤੇ</span><span>ਸੁਰੀਲੀ</span><span>ਬੰਸਰੀ</span><span>ਵਜਾ</span><span>ਕੇ</span><span>ਚੱਕਰ</span><span>ਕੱਟ</span><span>ਰਿਹਾ</span><span>ਸੀ</span><span>।</span><span>ਉਸ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਇੱਕ</span><span>ਬੱਚਾ</span><span>ਸੀ</span><span>ਜਿਸ</span><span>ਨੇ</span><span>ਢੋਲਕੀ</span><span>ਵਜਾਉਣੀ</span><span>ਸ਼ੁਰੂ</span><span>ਕਰ</span><span>ਦਿੱਤੀ</span><span>।</span><span>ਹੌਲੀ-ਹੌਲੀ</span><span>ਹੋਰ</span><span>ਬੱਚੇ</span><span>ਅਤੇ</span><span>ਆਦਮੀ</span><span>ਵੀ</span><span>ਗਏ</span><span>।</span><span>ਲੜਕੀਆਂ/ਔਰਤਾਂ</span><span>ਨੇੜੇ</span><span>ਦੇ</span><span>ਘਰਾਂ</span><span>ਦੇ</span><span>ਬੂਹਿਆਂ</span><span>ਅੱਗੇ</span><span>ਜਾਂ</span><span>ਚੁਬਾਰੇ</span><span>ਤੇ</span><span>ਬੈਠ</span><span>ਗਈਆ</span><span>।</span><span>ਤਮਾਸ਼ਬੀਨਾਂ</span><span>ਦੇ</span><span>ਘੇਰੇ</span><span>ਵਿੱਚ</span><span>ਖੜ੍ਹਾ</span><span>ਮਦਾਰੀ</span><span>ਬੰਸਰੀ</span><span>ਦੀਆਂ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਧੁਨਾਂ</span><span>ਕੱਢ</span><span>ਰਿਹਾ</span><span>ਸੀ</span><span>।</span><span>ਉਹ</span><span>ਕਦੇ</span><span>ਤੇਜ਼</span><span>ਕਦੇ</span><span>ਹੌਲੀ</span><span>ਡੌਰੂ</span><span>ਵਜਾਉਂਦਾ</span><span>।</span><span>ਸਾਰੇ</span><span>ਤਮਾਸ਼ਾ</span><span>ਵੇਖਣ</span><span>ਲਈ</span><span>ਬਹੁਤ</span><span>ਉਤਸੁਕ</span><span>ਸਨ</span><span>।</span><span>ਜਦੋਂ</span><span>ਕਾਫੀ</span><span>ਭੀੜ</span><span>ਇਕੱਠੀ</span><span>ਹੋ</span><span>ਗਈ</span><span>ਤਾਂ</span><span>ਮਦਾਰੀ</span><span>ਨੇ</span><span>ਬੰਸਰੀ</span><span>ਤੇ</span><span>ਡੁਗਡੁਗੀ</span><span>ਵਜਾਉਣੀ</span><span>ਬੰਦ</span><span>ਕਰ</span><span>ਦਿੱਤੀ</span><span>।</span><span>ਆਪਣੀ</span><span>ਪਟਾਰੀ</span><span>ਕੋਲ</span><span>ਜਾ</span><span>ਕੇ</span><span>ਬੈਠ</span><span>ਗਿਆ</span><span>।</span><span>ਉਸ</span><span>ਨੇ</span><span>ਪਟਾਰੀ</span><span>ਖੋਲ੍ਹੀ</span><span>ਅਤੇ</span><span>ਉਸ</span><span>ਵਿਚੋਂ</span><span>ਇੱਕ-ਇੱਕ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਚੀਜ਼ਾਂ</span><span>ਕੱਢਣ</span><span>ਲੱਗਾ</span><span>ਪਰ</span><span>ਉਸ</span><span>ਦਾ</span><span>ਧਿਆਨ</span><span>ਦਰਸ਼ਕਾਂ</span><span>ਵੱਲ</span><span>ਸੀ</span><span>।</span><span>ਉਹ</span><span>ਵਿੱਚ-ਵਿੱਚ</span><span>ਕਿਸੇ</span><span>ਦਰਸ਼ਕ</span><span>ਦਾ</span><span>ਮਜ਼ਾਕ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਸਾਰੀਆਂ</span><span>ਨੂੰ</span><span>ਹੱਸਾਉਂਦਾ</span><span>।</span><span>ਆਪਣੇ</span><span>ਕਰਤਬ</span><span>ਵਿਖਾਉਣ</span><span>ਤੋਂ</span><span>ਪਹਿਲਾਂ</span><span>ਉਸ</span><span>ਨੇ</span><span>ਤਮਾਸ਼ਾ</span><span>ਸ਼ੁਰੂ</span><span>ਕਰ</span><span>ਦਿੱਤਾ</span><span>।</span><span>ਪਹਿਲਾ</span><span>ਤਮਾਸ਼ਾ</span><span>ਗੋਲਿਆਂ</span><span>ਦਾ</span><span>ਸੀ</span><span>।</span><span>ਉਸ</span><span>ਨੇ</span><span>ਦੋ</span><span>ਗੋਲੇ</span><span>ਚੁੱਕੇ</span><span>।</span><span>ਇੱਕ</span><span>ਨੂੰ</span><span>ਉਤਾਂਹ</span><span>ਉਛਾਲਿਆ</span><span>।</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਹੱਥ</span><span>ਵਿੱਚ</span><span>ਬੋਚ</span><span>ਕੇ</span><span>ਦੂਜਾ</span><span>ਗੋਲਾ</span><span>ਉਤਾਂਹ</span><span>ਨੂੰ</span><span>ਉਛਾਲਿਆ</span><span>।</span><span>ਇਸੇ</span><span>ਤਰ੍ਹਾਂ</span><span>ਉਸ</span><span>ਨੇ</span><span>ਤੀਜਾ</span><span>ਗੋਲਾ</span><span>ਵੀ</span><span>ਸ਼ਾਮਲ</span><span>ਕਰ</span><span>ਲਿਆ,</span><span>ਫਿਰ</span><span>ਚੌਥਾ,</span><span>ਪੰਜਵਾਂ</span><span>ਤੇ</span><span>ਛੇਵਾਂ</span><span>।</span><span>ਹੁਣ</span><span>ਉਹ</span><span>ਛੇ</span><span>ਗੋਲੇ</span><span>ਦੋਹਾਂ</span><span>ਹੱਥਾਂ</span><span>ਨਾਲ</span><span>ਲਗਾਤਾਰ</span><span>ਉਛਾਲਦਾ</span><span>ਤੇ</span><span>ਬੁੱਚਦਾ</span><span>।</span><span>ਇਸ</span><span>ਖੇਡ</span><span>ਦੀ</span><span>ਰੋਚਕ</span><span>ਗੱਲ</span><span>ਇਹ</span><span>ਸੀ</span><span>ਉਸ</span><span>ਨੇ</span><span>ਛੇਆਂ</span><span>ਵਿੱਚੋਂ</span><span>ਇੱਕ</span><span>ਗੋਲਾ</span><span>ਵੀ</span><span>ਭੁੰਜੇ</span><span>ਡਿੱਗਣ</span><span>ਨਹੀਂ</span><span>ਦਿੱਤਾ</span><span>।</span><span>ਇਹ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਅਭਿਆਸ</span><span>ਇਕਾਗਰਤਾ</span><span>ਤੇ</span><span>ਫੁਰਤੀ</span><span>ਦਾ</span><span>ਕਮਾਲ</span><span>ਸੀ</span><span>।</span><span>ਅਗਲਾ</span><span>ਕਰਤਬ</span><span>ਤਾਸ਼</span><span>ਦੇ</span><span>ਪੱਤਿਆਂ</span><span>ਦਾ</span><span>ਸੀ</span><span>।</span><span>ਉਸ</span><span>ਨੇ</span><span>ਦਰਸ਼ਕਾਂ</span><span>ਨੂੰ</span><span>ਤਾਸ਼</span><span>ਦਾ</span><span>ਪੱਤਾ</span><span>ਸਾਹਮਣੇ</span><span>ਦਿਖਾਇਆ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਪਿੰਡ", "ਜਾਂ", "ਸ਼ਹਿਰ", "ਦੀ", "ਕਿਸੇ", "ਗਲੀ/ਮੁਹੱਲੇ", "ਵਿੱਚ", "ਮਦਾਰੀ", "ਦਾ", "ਤਮਾਸ਼ਾ", "ਬੜੀ", "ਰੋਚਕ", "ਗੱਲ", "ਹੁੰਦੀ", "ਹੈ", "।", "ਕਿਸ", "ਦਾ", "ਮਨ", "ਨਹੀਂ", "ਕਰਦਾ", "ਅਜਿਹੇ", "ਤਮਾਸ਼ੇ", "ਵੇਖਣ", "ਨੂੰ", "।", "ਕੋਈ", "ਵੱਡਾ", "ਸਮਾਨ", "ਨਹੀਂ,", "ਕੋਈ", "ਅਗਾਊਂ", "ਸੂਚਨਾ", "ਨਹੀਂ", "ਬਸ", "ਮਦਾਰੀ", "ਦੀ", "ਡੁਗ-ਡੁਗ", "ਹੋਈ,", "ਬੰਸਰੀ", "ਦੀ", "ਸੁਰ", "ਨਿਕਲੀ", "ਤੇ", "ਨਿੱਕੇ-ਵੱਡੇ", "ਮਦਾਰੀ", "ਦੇ", "ਦੁਆਲੇ", "ਹੋ", "ਕ", "ਬੈਠ", "ਗਏ", "।", "ਬਸ", "ਮਦਾਰੀ", "ਦਾ", "ਤਮਾਸ਼ਾ", "ਸ਼ੁਰੂ", "ਹੋ", "ਗਿਆ", "।", "ਮਦਾਰੀ", "ਦਾ", "ਤਮਾਸ਼ਾ", "ਮਨੋਰੰਜਨ", "ਦਾ", "ਇੱਕ", "ਚੰਗਾ", "ਤੇ", "ਸਸਤਾ", "ਸਰੋਤ", "ਹੈ", "।", "ਮਦਾਰੀ", "ਹੈਰਾਨ", "ਕਰਨ", "ਵਾਲੇ", "ਕਰਤਬ", "ਵਿਖਾ", "ਕੇ", "ਲੋਕਾਂ", "ਦਾ", "ਮਨ", "ਪਰਚਾਵਾ", "ਕਰਦਾ", "ਹੈ", "।", "ਇਹ", "ਉਸ", "ਦਾ", "ਪੇਸ਼ਾ", "ਵੀ", "ਹੈ", "।", "ਇੱਕ", "ਦਿਨ", "ਮੈਨੂੰ", "ਘਰ", "ਬੈਠਿਆ", "ਬੰਸਰੀ", "ਦੀ", "ਧੁਨੀ", "ਅਤੇ", "ਡੌਰੂ", "ਦੀ", "ਡੁਗ-ਡੁਗ", "ਸੁਣੀ", "।", "ਮੈਂ", "ਬਾਹਰ", "ਨਿਕਲ", "ਕੇ", "ਵੇਖਿਆ", "।", "ਬੱਚੇ-ਬਜੁਰਗ", "ਚੌਂਕ", "ਵੱਲ", "ਨੂੰ", "ਨੱਠੇ", "ਜਾ", "ਰਹੇ", "ਸਨ", "।", "ਮੈਂ", "ਵੀ", "ਉੱਥੇ", "ਪਹੁੰਚ", "ਗਿਆ", "।", "ਮਦਾਰੀ", "ਨੇ", "ਇੱਕ", "ਗੰਦੀ", "ਜਿਹੀ", "ਚਾਦਰ", "ਵਿਛਾ", "ਕੇ", "ਉੱਤੇ", "ਇਕ", "ਪਟਾਰੀ,", "ਇੱਕ", "ਵੱਡੀ", "ਸਾਰੀ", "ਥੈਲੀ", "ਅਤੇ", "ਹੋਰ", "ਥੋੜਾ", "ਬਹੁਤਾ", "ਸਮਾਨ", "ਰੱਖਿਆ", "ਹੋਇਆ", "ਸੀ", "।", "ਉਹ", "ਬੜੀ", "ਮਿੱਠੀ", "ਅਤੇ", "ਸੁਰੀਲੀ", "ਬੰਸਰੀ", "ਵਜਾ", "ਕੇ", "ਚੱਕਰ", "ਕੱਟ", "ਰਿਹਾ", "ਸੀ", "।", "ਉਸ", "ਦੇ", "ਨਾਲ", "ਇੱਕ", "ਬੱਚਾ", "ਸੀ", "ਜਿਸ", "ਨੇ", "ਢੋਲਕੀ", "ਵਜਾਉਣੀ", "ਸ਼ੁਰੂ", "ਕਰ", "ਦਿੱਤੀ", "।", "ਹੌਲੀ-ਹੌਲੀ", "ਹੋਰ", "ਬੱਚੇ", "ਅਤੇ", "ਆਦਮੀ", "ਵੀ", "ਗਏ", "।", "ਲੜਕੀਆਂ/ਔਰਤਾਂ", "ਨੇੜੇ", "ਦੇ", "ਘਰਾਂ", "ਦੇ", "ਬੂਹਿਆਂ", "ਅੱਗੇ", "ਜਾਂ", "ਚੁਬਾਰੇ", "ਤੇ", "ਬੈਠ", "ਗਈਆ", "।", "ਤਮਾਸ਼ਬੀਨਾਂ", "ਦੇ", "ਘੇਰੇ", "ਵਿੱਚ", "ਖੜ੍ਹਾ", "ਮਦਾਰੀ", "ਬੰਸਰੀ", "ਦੀਆਂ", "ਵੱਖ-ਵੱਖ", "ਧੁਨਾਂ", "ਕੱਢ", "ਰਿਹਾ", "ਸੀ", "।", "ਉਹ", "ਕਦੇ", "ਤੇਜ਼", "ਕਦੇ", "ਹੌਲੀ", "ਡੌਰੂ", "ਵਜਾਉਂਦਾ", "।", "ਸਾਰੇ", "ਤਮਾਸ਼ਾ", "ਵੇਖਣ", "ਲਈ", "ਬਹੁਤ", "ਉਤਸੁਕ", "ਸਨ", "।", "ਜਦੋਂ", "ਕਾਫੀ", "ਭੀੜ", "ਇਕੱਠੀ", "ਹੋ", "ਗਈ", "ਤਾਂ", "ਮਦਾਰੀ", "ਨੇ", "ਬੰਸਰੀ", "ਤੇ", "ਡੁਗਡੁਗੀ", "ਵਜਾਉਣੀ", "ਬੰਦ", "ਕਰ", "ਦਿੱਤੀ", "।", "ਆਪਣੀ", "ਪਟਾਰੀ", "ਕੋਲ", "ਜਾ", "ਕੇ", "ਬੈਠ", "ਗਿਆ", "।", "ਉਸ", "ਨੇ", "ਪਟਾਰੀ", "ਖੋਲ੍ਹੀ", "ਅਤੇ", "ਉਸ", "ਵਿਚੋਂ", "ਇੱਕ-ਇੱਕ", "ਕਰ", "ਕੇ", "ਚੀਜ਼ਾਂ", "ਕੱਢਣ", "ਲੱਗਾ", "ਪਰ", "ਉਸ", "ਦਾ", "ਧਿਆਨ", "ਦਰਸ਼ਕਾਂ", "ਵੱਲ", "ਸੀ", "।", "ਉਹ", "ਵਿੱਚ-ਵਿੱਚ", "ਕਿਸੇ", "ਦਰਸ਼ਕ", "ਦਾ", "ਮਜ਼ਾਕ", "ਕਰ", "ਕੇ", "ਸਾਰੀਆਂ", "ਨੂੰ", "ਹੱਸਾਉਂਦਾ", "।", "ਆਪਣੇ", "ਕਰਤਬ", "ਵਿਖਾਉਣ", "ਤੋਂ", "ਪਹਿਲਾਂ", "ਉਸ", "ਨੇ", "ਤਮਾਸ਼ਾ", "ਸ਼ੁਰੂ", "ਕਰ", "ਦਿੱਤਾ", "।", "ਪਹਿਲਾ", "ਤਮਾਸ਼ਾ", "ਗੋਲਿਆਂ", "ਦਾ", "ਸੀ", "।", "ਉਸ", "ਨੇ", "ਦੋ", "ਗੋਲੇ", "ਚੁੱਕੇ", "।", "ਇੱਕ", "ਨੂੰ", "ਉਤਾਂਹ", "ਉਛਾਲਿਆ", "।", "ਉਸ", "ਨੂੰ", "ਹੱਥ", "ਵਿੱਚ", "ਬੋਚ", "ਕੇ", "ਦੂਜਾ", "ਗੋਲਾ", "ਉਤਾਂਹ", "ਨੂੰ", "ਉਛਾਲਿਆ", "।", "ਇਸੇ", "ਤਰ੍ਹਾਂ", "ਉਸ", "ਨੇ", "ਤੀਜਾ", "ਗੋਲਾ", "ਵੀ", "ਸ਼ਾਮਲ", "ਕਰ", "ਲਿਆ,", "ਫਿਰ", "ਚੌਥਾ,", "ਪੰਜਵਾਂ", "ਤੇ", "ਛੇਵਾਂ", "।", "ਹੁਣ", "ਉਹ", "ਛੇ", "ਗੋਲੇ", "ਦੋਹਾਂ", "ਹੱਥਾਂ", "ਨਾਲ", "ਲਗਾਤਾਰ", "ਉਛਾਲਦਾ", "ਤੇ", "ਬੁੱਚਦਾ", "।", "ਇਸ", "ਖੇਡ", "ਦੀ", "ਰੋਚਕ", "ਗੱਲ", "ਇਹ", "ਸੀ", "ਉਸ", "ਨੇ", "ਛੇਆਂ", "ਵਿੱਚੋਂ", "ਇੱਕ", "ਗੋਲਾ", "ਵੀ", "ਭੁੰਜੇ", "ਡਿੱਗਣ", "ਨਹੀਂ", "ਦਿੱਤਾ", "।", "ਇਹ", "ਉਸ", "ਦੇ", "ਅਭਿਆਸ", "ਇਕਾਗਰਤਾ", "ਤੇ", "ਫੁਰਤੀ", "ਦਾ", "ਕਮਾਲ", "ਸੀ", "।", "ਅਗਲਾ", "ਕਰਤਬ", "ਤਾਸ਼", "ਦੇ", "ਪੱਤਿਆਂ", "ਦਾ", "ਸੀ", "।", "ਉਸ", "ਨੇ", "ਦਰਸ਼ਕਾਂ", "ਨੂੰ", "ਤਾਸ਼", "ਦਾ", "ਪੱਤਾ", "ਸਾਹਮਣੇ", "ਦਿਖਾਇਆ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







