

@{
    ViewBag.Title = "Passage Typing : Lesson 14 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 14:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "15" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 501      </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਇਤਿਹਾਸਿਕ</span><span>ਸਥਾਨਾਂ</span><span>ਦੀ</span><span>ਯਾਤਰਾ</span><span>ਤੋਂ</span><span>ਸਾਨੂੰ</span><span>ਵਾਪਰ</span><span>ਚੁੱਕੀਆਂ</span><span>ਇਤਿਹਾਸਿਕ</span><span>ਘਟਨਾਵਾਂ</span><span>ਬਾਰੇ</span><span>ਜਾਣਕਾਰੀ</span><span>ਮਿਲਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਨਾਲ</span><span>ਸਾਡੇ</span><span>ਗਿਆਨ</span><span>ਵਿੱਚ</span><span>ਵਾਧਾ</span><span>ਵੀ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਸਾਰਾ</span><span>ਸਾਲ</span><span>ਅਸੀਂ</span><span>ਕਿਤਾਬੀ</span><span>ਪੜ੍ਹਾਈ</span><span>ਕਰਕੇ</span><span>ਅੱਕ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>|</span><span>ਅਜਿਹੇ</span><span>ਸਮੇਂ</span><span>ਕੀਤੀ</span><span>ਯਾਤਰਾ</span><span>ਸਾਡੇ</span><span>ਮਨ</span><span>ਨੂੰ</span><span>ਮੁੜ</span><span>ਤਾਜ਼ਾ</span><span>ਕਰ</span><span>ਦਿੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਮੈਂ</span><span>ਇਤਿਹਾਸਿਕ</span><span>ਸਥਾਨਾਂ</span><span>ਬਾਰੇ</span><span>ਸੁਣਿਆਂ</span><span>ਤੇ</span><span>ਕਿਤਾਬਾਂ</span><span>ਵਿੱਚ</span><span>ਪੜ੍ਹਿਆ</span><span>ਸੀ</span><span>|</span><span>ਪਿਛਲੇ</span><span>ਸਾਲ</span><span>ਮੈੰ</span><span>ਜੂਨ</span><span>ਮਹੀਨੇ</span><span>ਦੀਆਂ</span><span>ਛੁੱਟੀਆਂ</span><span>ਵਿੱਚ</span><span>ਕਿਸੇ</span><span>ਇਤਿਹਾਸਿਕ</span><span>ਸਥਾਨ</span><span>ਦੀ</span><span>ਸੈਰ</span><span>ਕਰਨ</span><span>ਦਾ</span><span>ਫੈਸਲਾ</span><span>ਕਰ</span><span>ਲਿਆ</span><span>|</span><span>ਕਿਤਾਬਾਂ</span><span>ਵਿੱਚ</span><span>ਜੋ</span><span>ਕੁਝ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਬਾਰੇ</span><span>ਪੜ੍ਹਿਆ</span><span>ਸੀ,</span><span>ਉਹ</span><span>ਅੱਖੀ</span><span>ਦੇਖਣ</span><span>ਲਈ</span><span>ਮਨ</span><span>ਬਹੁਤ</span><span>ਉਤਸਕ</span><span>ਸੀ</span><span>|</span><span>ਅਸੀਂ</span><span>ਪਰਿਵਾਰ</span><span>ਦੇ</span><span>5</span><span>ਮੈਂਬਰ</span><span>ਆਗਰੇ</span><span>ਜਾਣ</span><span>ਲਈ</span><span>ਤਿਆਰ</span><span>ਹੋ</span><span>ਗਏ</span><span>|</span><span>ਆਗਰਾ</span><span>ਜਾਣ</span><span>ਤੋਂ</span><span>ਪਹਿਲਾਂ</span><span>ਅਸੀਂ</span><span>ਯਾਤਰਾ</span><span>ਲਈ</span><span>ਪੂਰੀ</span><span>ਤਿਆਰੀ</span><span>ਕਰ</span><span>ਲਈ</span><span>|</span><span>ਕੁਝ</span><span>ਕਪੜੇ,</span><span>ਖਾਣ-ਪੀਣ</span><span>ਦਾ</span><span>ਸਮਾਨ</span><span>ਅਤੇ</span><span>ਹੋਰ</span><span>ਜਰੂਰੀ</span><span>ਵਸਤਾਂ</span><span>ਨਾਲ</span><span>ਲਿਜਾਣ</span><span>ਲਈ</span><span>ਤਿਆਰ</span><span>ਕਰ</span><span>ਲਈਆਂ</span><span>|</span><span>ਅਗਲੇ</span><span>ਦਿਨ</span><span>ਸਵੇਰੇ</span><span>ਵੀ</span><span>ਅਸੀਂ</span><span>ਸਾਰੇ</span><span>ਠੀਕ</span><span>ਸਮੇਂ</span><span>ਤੇ</span><span>ਸਟੇਸ਼ਨ</span><span>ਪੁੱਜ</span><span>ਗਏ</span><span>ਤੇ</span><span>ਗੱਡੀ</span><span>ਵਿੱਚ</span><span>ਸਵਾਰ</span><span>ਹੋ</span><span>ਕੇ</span><span>ਦੂਸਰੇ</span><span>ਦਿਨ</span><span>ਆਗਰੇ</span><span>ਪਹੁੰਚ</span><span>ਗਏ</span><span>|</span><span>ਸਾਡੇ</span><span>ਮਾਮਾ</span><span>ਜੀ</span><span>ਆਗਰੇ</span><span>ਵਿੱਚ</span><span>ਰਹਿੰਦੇ</span><span>ਸਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਅਸੀਂ</span><span>ਆਗਰੇ</span><span>ਆਉਣ</span><span>ਬਾਰੇ</span><span>ਪਹਿਲਾਂ</span><span>ਹੀ</span><span>ਚਿੱਠੀ</span><span>ਪਾ</span><span>ਦਿੱਤੀ</span><span>ਸੀ</span><span>|</span><span>ਉਹ</span><span>ਕਾਰ</span><span>ਲੇ</span><span>ਕੇ</span><span>ਸਟੇਸ਼ਨ</span><span>ਤੇ</span><span>ਪੁੱਜੇ</span><span>ਹੋਏ</span><span>ਸਨ</span><span>|</span><span>ਉਹ</span><span>ਸਾਨੂੰ</span><span>ਕਾਰ</span><span>ਵਿੱਚ</span><span>ਬਿਠਾ</span><span>ਕੇ</span><span>ਘਰ</span><span>ਲੈ</span><span>ਗਏ</span><span>|</span><span>ਉਹਨਾਂ</span><span>ਨੇ</span><span>ਸਾਡੇ</span><span>ਰਹਿਣ</span><span>ਦਾ</span><span>ਆਪਣੇ</span><span>ਹੀ</span><span>ਘਰ</span><span>ਵਿੱਚ</span><span>ਵਧੀਆ</span><span>ਪ੍ਰਬੰਧ</span><span>ਕੀਤਾ</span><span>ਹੋਇਆ</span><span>ਸੀ</span><span>|</span><span>ਅਸੀਂ</span><span>ਕੁਝ</span><span>ਦੇਰ</span><span>ਆਰਾਮ</span><span>ਕੀਤਾ</span><span>|</span><span>ਸਾਡੀ</span><span>ਤੀਬਰ</span><span>ਇੱਛਾ</span><span>ਸੀ</span><span>ਕਿ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਜਲਦੀ</span><span>ਤੋਂ</span><span>ਜਲਦੀ</span><span>ਪਹੁੰਚਿਆ</span><span>ਜਾਵੇ</span><span>|</span><span>ਉਸ</span><span>ਦਿਨ</span><span>ਪੂਰਨੀਮਾ</span><span>ਸੀ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਮਾਮਾ</span><span>ਜੀ</span><span>ਨੇ</span><span>ਦੱਸਿਆ</span><span>ਕਿ</span><span>ਪੂਰਨੀਮਾ</span><span>ਵਾਲੀ</span><span>ਚਾਨਣੀ</span><span>ਰਾਤ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਦੀ</span><span>ਸੁੰਦਰਤਾ</span><span>ਨੂੰ</span><span>ਚਾਰ</span><span>ਚੰਨ</span><span>ਲਾ</span><span>ਦਿੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਰਾਤ</span><span>ਨੂੰ</span><span>ਅਸੀਂ</span><span>ਸਾਰੇ</span><span>ਕਾਰ</span><span>ਵਿੱਚ</span><span>ਬੈਠ</span><span>ਕੇ</span><span>ਮਾਮਾ</span><span>ਜੀ</span><span>ਨਾਲ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਵੇਖਣ</span><span>ਲਈ</span><span>ਚੱਲ</span><span>ਪਏ</span><span>|</span><span>ਸਾਡੀ</span><span>ਕਾਰ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਦੇ</span><span>ਸੁੰਦਰ</span><span>ਦਰਵਾਜ਼ੇ</span><span>ਕੋਲ</span><span>ਪਹੁੰਚ</span><span>ਗਈ</span><span>|</span><span>ਅਸੀਂ</span><span>ਇੱਕ</span><span>ਉੱਚੇ</span><span>ਸੁੰਦਰ</span><span>ਦਰਵਾਜੇ</span><span>ਰਾਹੀਂ</span><span>ਅੰਦਰ</span><span>ਦਾਖਲ</span><span>ਹੋਏ</span><span>|</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਦਾ</span><span>ਮੁੱਖ</span><span>ਪਰਵੇਸ਼</span><span>ਸਥਾਨ</span><span>ਲਾਲ</span><span>ਪੱਥਰ</span><span>ਦਾ</span><span>ਬਣਿਆ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਉੱਤੇ</span><span>ਕੁਰਾਨ</span><span>ਵਿੱਚੋਂ</span><span>ਆਇਤਾਂ</span><span>ਲਿਖਿਆਂ</span><span>ਹੋਇਆ</span><span>ਹਨ</span><span>|</span><span>ਸਾਹਮਣੇ</span><span>ਸਾਨੂੰ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਦੀ</span><span>ਸੁੰਦਰ</span><span>ਇਮਾਰਤ</span><span>ਦਿਖਾਈ</span><span>ਦੇ</span><span>ਰਹੀ</span><span>ਸੀ</span><span>|</span><span>ਇਸ</span><span>ਦਰਵਾਜ਼ੇ</span><span>ਤੋਂ</span><span>ਅੱਗੇ</span><span>ਇੱਕ</span><span>ਖੂਬਸੂਰਤ</span><span>ਬਾਗ਼</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਦੇ</span><span>ਵਿਚਕਾਰ</span><span>ਇੱਕ</span><span>ਨਹਿਰ</span><span>ਲੰਘਦੀ</span><span>ਹੈ</span><span>|</span><span>ਨਹਿਰ</span><span>ਵਿੱਚ</span><span>ਫ਼ਹਾਰੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਦੋਹੀ</span><span>ਪਸੀ</span><span>ਸੰਗਮਰਮਰ</span><span>ਦੇ</span><span>ਸੁੰਦਰ</span><span>ਰਸਤੇ</span><span>ਬਣੇ</span><span>ਹੋਏ</span><span>ਸਨ</span><span>|</span><span>ਬਾਗ</span><span>ਵਿੱਚ</span><span>ਨਰਮ</span><span>ਤੇ</span><span>ਮੁਲਾਇਮ</span><span>ਘਾਹ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾ</span><span>ਜਾਪਦਾ</span><span>ਹੈ</span><span>ਜਿਵੇਂ</span><span>ਕਿਸੇ</span><span>ਨੇ</span><span>ਵਧੀਆਂ</span><span>ਕਾਲੀਨ</span><span>ਵਿਛਾਇਆ</span><span>ਹੋਵੇ</span><span>|</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਇੱਕ</span><span>ਉੱਚੇ</span><span>ਚਬੂਤਰੇ</span><span>'ਤੇ</span><span>ਖੜ੍ਹਾ</span><span>ਇੱਕ</span><span>ਸੁੰਦਰ</span><span>ਅਜੂਬਾ</span><span>ਦਿਖਾਈ</span><span>ਦਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਅਸੀਂ</span><span>ਬੜੀ</span><span>ਉਤਸੁਕਤਾ</span><span>ਨਾਲ</span><span>ਅੱਗੇ</span><span>ਵਧੇ</span><span>ਅਤੇ</span><span>ਚਬੂਤਰੇ</span><span>ਦੇ</span><span>ਹੇਠਾਂ</span><span>ਕਰਕੇ</span><span>ਜੁੱਤੀਆਂ/ਚੱਪਲਾਂ</span><span>ਲਾਹ</span><span>ਕੇ</span><span>ਚਬੂਤਰੇ</span><span>ਉਪਰ</span><span>ਚੜ੍ਹ</span><span>ਗਏ</span><span>|</span><span>ਚਬੂਤਰੇ</span><span>ਦੇ</span><span>ਚਾਰੇ</span><span>ਕੋਨਿਆਂ</span><span>ਉਪਰ</span><span>ਚਾਰ</span><span>ਸੁੰਦਰ</span><span>ਮੀਨਾਰ</span><span>ਬਣੇ</span><span>ਹੋਏ</span><span>ਹਨ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਚਾਰ</span><span>ਮੀਨਾਰਾਂ</span><span>ਤੋਂ</span><span>ਬਗੈਰ</span><span>ਇਮਾਰਤ</span><span>ਅਧੂਰੀ</span><span>ਜਾਪਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਮਾਮਾ</span><span>ਜੀ</span><span>ਨੇ</span><span>ਦੱਸਿਆ</span><span>ਕਿ</span><span>ਇਹ</span><span>ਮਿਨਾਰ</span><span>ਪੰਜਾਹ</span><span>ਮੀਟਰ</span><span>ਉੱਚੇ</span><span>ਸਨ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਚਾਰ</span><span>ਮੀਨਾਰਾਂ</span><span>ਵਿੱਚ</span><span>ਘਿਰਿਆ</span><span>ਹੋਇਆ</span><span>ਇੱਕ</span><span>ਗੁੰਬਦ</span><span>ਵਾਲਾ</span><span>ਮਕਬਰਾ</span><span>ਹੈ</span><span>|</span><span>ਕੰਧਾ</span><span>ਉੱਤੇ</span><span>ਪੱਥਰ</span><span>ਨਾਲ</span><span>ਬੜੀ</span><span>ਸੋਹਣੀ</span><span>ਮੀਨਾਕਾਰੀ</span><span>ਕੀਤੀ</span><span>ਹੋਈ</span><span>ਹੈ</span><span>|</span><span>ਵੇਖਣ</span><span>ਨੂੰ</span><span>ਗੁੰਬਦ</span><span>ਛੋਟਾ</span><span>ਲਗਦਾ</span><span>ਪਰ</span><span>ਅਕਾਰ</span><span>ਵਿੱਚ</span><span>ਇਹ</span><span>ਓਡਾ</span><span>ਹੀ</span><span>ਹੈ</span><span>ਜਿੱਡਾ</span><span>ਤਾਜ</span><span>ਮਹੱਲ</span><span>ਦੇ</span><span>ਖੱਬੇ</span><span>ਹੱਥ</span><span>ਖੁੱਲ੍ਹੇ</span><span>ਥਾਂ</span><span>ਤੇ</span><span>ਕਾਲੇ</span><span>ਪੱਥਰ</span><span>ਦਾ</span><span>ਬਣਿਆ</span><span>ਗੁੰਬਦ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />


@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਇਤਿਹਾਸਿਕ", "ਸਥਾਨਾਂ", "ਦੀ", "ਯਾਤਰਾ", "ਤੋਂ", "ਸਾਨੂੰ", "ਵਾਪਰ", "ਚੁੱਕੀਆਂ", "ਇਤਿਹਾਸਿਕ", "ਘਟਨਾਵਾਂ", "ਬਾਰੇ", "ਜਾਣਕਾਰੀ", "ਮਿਲਦੀ", "ਹੈ", "|", "ਇਸ", "ਨਾਲ", "ਸਾਡੇ", "ਗਿਆਨ", "ਵਿੱਚ", "ਵਾਧਾ", "ਵੀ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਸਾਰਾ", "ਸਾਲ", "ਅਸੀਂ", "ਕਿਤਾਬੀ", "ਪੜ੍ਹਾਈ", "ਕਰਕੇ", "ਅੱਕ", "ਜਾਂਦੇ", "ਹਾਂ", "|", "ਅਜਿਹੇ", "ਸਮੇਂ", "ਕੀਤੀ", "ਯਾਤਰਾ", "ਸਾਡੇ", "ਮਨ", "ਨੂੰ", "ਮੁੜ", "ਤਾਜ਼ਾ", "ਕਰ", "ਦਿੰਦੀ", "ਹੈ", "|", "ਮੈਂ", "ਇਤਿਹਾਸਿਕ", "ਸਥਾਨਾਂ", "ਬਾਰੇ", "ਸੁਣਿਆਂ", "ਤੇ", "ਕਿਤਾਬਾਂ", "ਵਿੱਚ", "ਪੜ੍ਹਿਆ", "ਸੀ", "|", "ਪਿਛਲੇ", "ਸਾਲ", "ਮੈੰ", "ਜੂਨ", "ਮਹੀਨੇ", "ਦੀਆਂ", "ਛੁੱਟੀਆਂ", "ਵਿੱਚ", "ਕਿਸੇ", "ਇਤਿਹਾਸਿਕ", "ਸਥਾਨ", "ਦੀ", "ਸੈਰ", "ਕਰਨ", "ਦਾ", "ਫੈਸਲਾ", "ਕਰ", "ਲਿਆ", "|", "ਕਿਤਾਬਾਂ", "ਵਿੱਚ", "ਜੋ", "ਕੁਝ", "ਤਾਜ", "ਮਹੱਲ", "ਬਾਰੇ", "ਪੜ੍ਹਿਆ", "ਸੀ,", "ਉਹ", "ਅੱਖੀ", "ਦੇਖਣ", "ਲਈ", "ਮਨ", "ਬਹੁਤ", "ਉਤਸਕ", "ਸੀ", "|", "ਅਸੀਂ", "ਪਰਿਵਾਰ", "ਦੇ", "5", "ਮੈਂਬਰ", "ਆਗਰੇ", "ਜਾਣ", "ਲਈ", "ਤਿਆਰ", "ਹੋ", "ਗਏ", "|", "ਆਗਰਾ", "ਜਾਣ", "ਤੋਂ", "ਪਹਿਲਾਂ", "ਅਸੀਂ", "ਯਾਤਰਾ", "ਲਈ", "ਪੂਰੀ", "ਤਿਆਰੀ", "ਕਰ", "ਲਈ", "|", "ਕੁਝ", "ਕਪੜੇ,", "ਖਾਣ-ਪੀਣ", "ਦਾ", "ਸਮਾਨ", "ਅਤੇ", "ਹੋਰ", "ਜਰੂਰੀ", "ਵਸਤਾਂ", "ਨਾਲ", "ਲਿਜਾਣ", "ਲਈ", "ਤਿਆਰ", "ਕਰ", "ਲਈਆਂ", "|", "ਅਗਲੇ", "ਦਿਨ", "ਸਵੇਰੇ", "ਵੀ", "ਅਸੀਂ", "ਸਾਰੇ", "ਠੀਕ", "ਸਮੇਂ", "ਤੇ", "ਸਟੇਸ਼ਨ", "ਪੁੱਜ", "ਗਏ", "ਤੇ", "ਗੱਡੀ", "ਵਿੱਚ", "ਸਵਾਰ", "ਹੋ", "ਕੇ", "ਦੂਸਰੇ", "ਦਿਨ", "ਆਗਰੇ", "ਪਹੁੰਚ", "ਗਏ", "|", "ਸਾਡੇ", "ਮਾਮਾ", "ਜੀ", "ਆਗਰੇ", "ਵਿੱਚ", "ਰਹਿੰਦੇ", "ਸਨ", "ਜਿਨ੍ਹਾਂ", "ਨੂੰ", "ਅਸੀਂ", "ਆਗਰੇ", "ਆਉਣ", "ਬਾਰੇ", "ਪਹਿਲਾਂ", "ਹੀ", "ਚਿੱਠੀ", "ਪਾ", "ਦਿੱਤੀ", "ਸੀ", "|", "ਉਹ", "ਕਾਰ", "ਲੇ", "ਕੇ", "ਸਟੇਸ਼ਨ", "ਤੇ", "ਪੁੱਜੇ", "ਹੋਏ", "ਸਨ", "|", "ਉਹ", "ਸਾਨੂੰ", "ਕਾਰ", "ਵਿੱਚ", "ਬਿਠਾ", "ਕੇ", "ਘਰ", "ਲੈ", "ਗਏ", "|", "ਉਹਨਾਂ", "ਨੇ", "ਸਾਡੇ", "ਰਹਿਣ", "ਦਾ", "ਆਪਣੇ", "ਹੀ", "ਘਰ", "ਵਿੱਚ", "ਵਧੀਆ", "ਪ੍ਰਬੰਧ", "ਕੀਤਾ", "ਹੋਇਆ", "ਸੀ", "|", "ਅਸੀਂ", "ਕੁਝ", "ਦੇਰ", "ਆਰਾਮ", "ਕੀਤਾ", "|", "ਸਾਡੀ", "ਤੀਬਰ", "ਇੱਛਾ", "ਸੀ", "ਕਿ", "ਤਾਜ", "ਮਹੱਲ", "ਜਲਦੀ", "ਤੋਂ", "ਜਲਦੀ", "ਪਹੁੰਚਿਆ", "ਜਾਵੇ", "|", "ਉਸ", "ਦਿਨ", "ਪੂਰਨੀਮਾ", "ਸੀ", "|", "ਸਾਨੂੰ", "ਮਾਮਾ", "ਜੀ", "ਨੇ", "ਦੱਸਿਆ", "ਕਿ", "ਪੂਰਨੀਮਾ", "ਵਾਲੀ", "ਚਾਨਣੀ", "ਰਾਤ", "ਤਾਜ", "ਮਹੱਲ", "ਦੀ", "ਸੁੰਦਰਤਾ", "ਨੂੰ", "ਚਾਰ", "ਚੰਨ", "ਲਾ", "ਦਿੰਦੀ", "ਹੈ", "|", "ਰਾਤ", "ਨੂੰ", "ਅਸੀਂ", "ਸਾਰੇ", "ਕਾਰ", "ਵਿੱਚ", "ਬੈਠ", "ਕੇ", "ਮਾਮਾ", "ਜੀ", "ਨਾਲ", "ਤਾਜ", "ਮਹੱਲ", "ਵੇਖਣ", "ਲਈ", "ਚੱਲ", "ਪਏ", "|", "ਸਾਡੀ", "ਕਾਰ", "ਤਾਜ", "ਮਹੱਲ", "ਦੇ", "ਸੁੰਦਰ", "ਦਰਵਾਜ਼ੇ", "ਕੋਲ", "ਪਹੁੰਚ", "ਗਈ", "|", "ਅਸੀਂ", "ਇੱਕ", "ਉੱਚੇ", "ਸੁੰਦਰ", "ਦਰਵਾਜੇ", "ਰਾਹੀਂ", "ਅੰਦਰ", "ਦਾਖਲ", "ਹੋਏ", "|", "ਤਾਜ", "ਮਹੱਲ", "ਦਾ", "ਮੁੱਖ", "ਪਰਵੇਸ਼", "ਸਥਾਨ", "ਲਾਲ", "ਪੱਥਰ", "ਦਾ", "ਬਣਿਆ", "ਹੋਇਆ", "ਹੈ", "|", "ਇਸ", "ਉੱਤੇ", "ਕੁਰਾਨ", "ਵਿੱਚੋਂ", "ਆਇਤਾਂ", "ਲਿਖਿਆਂ", "ਹੋਇਆ", "ਹਨ", "|", "ਸਾਹਮਣੇ", "ਸਾਨੂੰ", "ਤਾਜ", "ਮਹੱਲ", "ਦੀ", "ਸੁੰਦਰ", "ਇਮਾਰਤ", "ਦਿਖਾਈ", "ਦੇ", "ਰਹੀ", "ਸੀ", "|", "ਇਸ", "ਦਰਵਾਜ਼ੇ", "ਤੋਂ", "ਅੱਗੇ", "ਇੱਕ", "ਖੂਬਸੂਰਤ", "ਬਾਗ਼", "ਹੈ", "ਜਿਸ", "ਦੇ", "ਵਿਚਕਾਰ", "ਇੱਕ", "ਨਹਿਰ", "ਲੰਘਦੀ", "ਹੈ", "|", "ਨਹਿਰ", "ਵਿੱਚ", "ਫ਼ਹਾਰੇ", "ਹਨ", "ਤੇ", "ਦੋਹੀ", "ਪਸੀ", "ਸੰਗਮਰਮਰ", "ਦੇ", "ਸੁੰਦਰ", "ਰਸਤੇ", "ਬਣੇ", "ਹੋਏ", "ਸਨ", "|", "ਬਾਗ", "ਵਿੱਚ", "ਨਰਮ", "ਤੇ", "ਮੁਲਾਇਮ", "ਘਾਹ", "ਇਸ", "ਤਰ੍ਹਾ", "ਜਾਪਦਾ", "ਹੈ", "ਜਿਵੇਂ", "ਕਿਸੇ", "ਨੇ", "ਵਧੀਆਂ", "ਕਾਲੀਨ", "ਵਿਛਾਇਆ", "ਹੋਵੇ", "|", "ਤਾਜ", "ਮਹੱਲ", "ਇੱਕ", "ਉੱਚੇ", "ਚਬੂਤਰੇ", "'ਤੇ", "ਖੜ੍ਹਾ", "ਇੱਕ", "ਸੁੰਦਰ", "ਅਜੂਬਾ", "ਦਿਖਾਈ", "ਦਿੰਦਾ", "ਹੈ", "|", "ਅਸੀਂ", "ਬੜੀ", "ਉਤਸੁਕਤਾ", "ਨਾਲ", "ਅੱਗੇ", "ਵਧੇ", "ਅਤੇ", "ਚਬੂਤਰੇ", "ਦੇ", "ਹੇਠਾਂ", "ਕਰਕੇ", "ਜੁੱਤੀਆਂ/ਚੱਪਲਾਂ", "ਲਾਹ", "ਕੇ", "ਚਬੂਤਰੇ", "ਉਪਰ", "ਚੜ੍ਹ", "ਗਏ", "|", "ਚਬੂਤਰੇ", "ਦੇ", "ਚਾਰੇ", "ਕੋਨਿਆਂ", "ਉਪਰ", "ਚਾਰ", "ਸੁੰਦਰ", "ਮੀਨਾਰ", "ਬਣੇ", "ਹੋਏ", "ਹਨ", "|", "ਇਹਨਾਂ", "ਚਾਰ", "ਮੀਨਾਰਾਂ", "ਤੋਂ", "ਬਗੈਰ", "ਇਮਾਰਤ", "ਅਧੂਰੀ", "ਜਾਪਦੀ", "ਹੈ", "|", "ਸਾਨੂੰ", "ਮਾਮਾ", "ਜੀ", "ਨੇ", "ਦੱਸਿਆ", "ਕਿ", "ਇਹ", "ਮਿਨਾਰ", "ਪੰਜਾਹ", "ਮੀਟਰ", "ਉੱਚੇ", "ਸਨ", "|", "ਇਹਨਾਂ", "ਚਾਰ", "ਮੀਨਾਰਾਂ", "ਵਿੱਚ", "ਘਿਰਿਆ", "ਹੋਇਆ", "ਇੱਕ", "ਗੁੰਬਦ", "ਵਾਲਾ", "ਮਕਬਰਾ", "ਹੈ", "|", "ਕੰਧਾ", "ਉੱਤੇ", "ਪੱਥਰ", "ਨਾਲ", "ਬੜੀ", "ਸੋਹਣੀ", "ਮੀਨਾਕਾਰੀ", "ਕੀਤੀ", "ਹੋਈ", "ਹੈ", "|", "ਵੇਖਣ", "ਨੂੰ", "ਗੁੰਬਦ", "ਛੋਟਾ", "ਲਗਦਾ", "ਪਰ", "ਅਕਾਰ", "ਵਿੱਚ", "ਇਹ", "ਓਡਾ", "ਹੀ", "ਹੈ", "ਜਿੱਡਾ", "ਤਾਜ", "ਮਹੱਲ", "ਦੇ", "ਖੱਬੇ", "ਹੱਥ", "ਖੁੱਲ੍ਹੇ", "ਥਾਂ", "ਤੇ", "ਕਾਲੇ", "ਪੱਥਰ", "ਦਾ", "ਬਣਿਆ", "ਗੁੰਬਦ", "ਹੈ", "|"];
            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







