

@{
    /**/


    ViewBag.Title = "Passage Typing : Lesson 7 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 7:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "8" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 204    </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਅਖਬਾਰਾਂ</span><span>ਅੱਜ</span><span>ਦੇ</span><span>ਯੁੱਗ</span><span>ਵਿੱਚ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਇੱਕ</span><span>ਮਹਤਵਪੂਰਨ</span><span>ਹਿੱਸਾ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਮਨੁੱਖ</span><span>ਦੀ</span><span>ਵੱਧ</span><span>ਤੋ</span><span>ਵੱਧ</span><span>ਜਾਨਣ</span><span>ਦੀ</span><span>ਰੂਚੀ</span><span>ਨੂੰ</span><span>ਪੂਰਾ</span><span>ਕਰਦਿਆਂ</span><span>ਹਨ</span><span>|</span><span>ਅਖਬਾਰਾਂ</span><span>ਸ਼ਬਦ-ਖ਼ਬਰਾਂ</span><span>ਦਾ</span><span>ਬਹੁ-ਵਚਨ</span><span>ਹੈ</span><span>ਭਾਵ</span><span>ਜਾਣਕਾਰੀ</span><span>ਦਾ</span><span>ਉਹ</span><span>ਮਹੱਤਵਪੂਰਨ</span><span>ਤੱਤ</span><span>ਹੈ</span><span>ਜਿੱਥੋਂ</span><span>ਬਹੁਤ</span><span>ਸਾਰੀਆਂ</span><span>ਦੇਸ਼-ਵਿਦੇਸ਼ਾ</span><span>ਦੀਆਂ</span><span>ਹਰ</span><span>ਕਿਸਮ</span><span>ਦੀਆਂ</span><span>ਖਬਰਾਂ</span><span>ਇਕੱਠੀਆਂ</span><span>ਹੀ</span><span>ਮਿਲਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਅਖਬਾਰ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਦੀ</span><span>ਆਦਤ</span><span>ਬਣ</span><span>ਚੁੱਕਿਆ</span><span>ਹਨ</span><span>|</span><span>ਸਵੇਰੇ</span><span>ਦਿਨ</span><span>ਚਾੜ੍ਹਦਿਆ</span><span>ਹੀ</span><span>ਹਰ</span><span>ਇੱਕ</span><span>ਨੂੰ</span><span>ਅਖਬਾਰ</span><span>ਪੜ੍ਹਨ</span><span>ਦੀ</span><span>ਵਧੀਆ</span><span>ਆਦਤ</span><span>ਜਿਹੀ</span><span>ਲੱਗ</span><span>ਗਈ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਗੱਲ</span><span>ਸ਼ਾਲਾਘਾਯੋਗ</span><span>ਹੈ</span><span>|</span><span>ਅਖਬਾਰਾਂ</span><span>ਗਿਆਨ</span><span>ਦਾ</span><span>ਅਨਮੋਲ</span><span>ਭੰਡਾਰ</span><span>ਹਨ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਜ਼ਰੀਏ</span><span>ਕੋਨੇ-ਕੋਨੇ</span><span>ਤੇ</span><span>ਵਪਾਰ</span><span>ਰਹੀਆ</span><span>ਘਟਨਾਵਾਂ</span><span>ਬਾਰੇ</span><span>ਜਾਣਕਾਰੀ</span><span>ਮਿਲ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਕੀਮਤ</span><span>ਬਹੋਤ</span><span>ਘਟ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਲਈ</span><span>ਹਰ</span><span>ਕੋਈ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਆਸਾਨੀ</span><span>ਨਾਲ</span><span>ਖਰੀਦ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਦੇਸ਼-ਵਿਦੇਸ਼ਾ</span><span>ਦੀ</span><span>ਸਮਾਜਿਕ,</span><span>ਆਰਥਿਕ,</span><span>ਰਾਜਨੀਤਿਕ,</span><span>ਸੱਭਿਆਚਾਰ,</span><span>ਵਿਦਿਅਕ</span><span>ਅਤੇ</span><span>ਸਾਹਿਤਿਕ</span><span>ਸਥਿਤੀ</span><span>ਤੇ</span><span>ਚਾਨਣਾ</span><span>ਪਾਉਂਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਸਾਨੂੰ</span><span>ਮੌਸਮ</span><span>ਦਾ</span><span>ਹਾਲ</span><span>ਦੱਸਦੀਆ,</span><span>ਰੋਜ਼ਗਾਰ</span><span>ਮੁਹੱਈਆ</span><span>ਕਰਵਾਉਦੀਆ</span><span>ਤੇ</span><span>ਦਿਲ-ਪ੍ਰਚਾਵੇ</span><span>ਦਾ</span><span>ਵਧੀਆ</span><span>ਸਾਧਨ</span><span>ਹਨ</span><span>|</span><span>ਅਖਬਾਰ</span><span>ਦਾ</span><span>ਸਭ</span><span>ਤੋ</span><span>ਵੱਡਾ</span><span>ਲਾਭ</span><span>ਇਹ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਅਸੀਂ</span><span>ਘਰ</span><span>ਬੈਠੇ-ਬਿਠਾਏ</span><span>ਹੀ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਹਾਲਾਤ</span><span>ਤੋ</span><span>ਜਾਣੂ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>|</span><span>ਰੋਜ਼ਾਨਾ</span><span>ਵਾਪਰਨ</span><span>ਵਲੀਆ</span><span>ਘਟਨਾਵਾਂ</span><span>ਤੁਰੰਤ</span><span>ਹੀ</span><span>ਅਖਬਾਰਾਂ</span><span>ਵਿੱਚ</span><span>ਛਪ</span><span>ਜਾਂਦੀਆ</span><span>ਹਨ</span><span>|</span><span>ਅਖਬਾਰਾਂ</span><span>ਦੇ</span><span>ਜਰੀਏ</span><span>ਅਸੀਂ</span><span>ਜਾਣ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>ਕਿ</span><span>ਕਿੱਥੇ</span><span>ਕਿ</span><span>ਵਪਾਰ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span></span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
   
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਅਖਬਾਰਾਂ", "ਅੱਜ", "ਦੇ", "ਯੁੱਗ", "ਵਿੱਚ", "ਜੀਵਨ", "ਦਾ", "ਇੱਕ", "ਮਹਤਵਪੂਰਨ", "ਹਿੱਸਾ", "ਹਨ", "|", "ਇਹ", "ਮਨੁੱਖ", "ਦੀ", "ਵੱਧ", "ਤੋ", "ਵੱਧ", "ਜਾਨਣ", "ਦੀ", "ਰੂਚੀ", "ਨੂੰ", "ਪੂਰਾ", "ਕਰਦਿਆਂ", "ਹਨ", "|", "ਅਖਬਾਰਾਂ", "ਸ਼ਬਦ-ਖ਼ਬਰਾਂ", "ਦਾ", "ਬਹੁ-ਵਚਨ", "ਹੈ", "ਭਾਵ", "ਜਾਣਕਾਰੀ", "ਦਾ", "ਉਹ", "ਮਹੱਤਵਪੂਰਨ", "ਤੱਤ", "ਹੈ", "ਜਿੱਥੋਂ", "ਬਹੁਤ", "ਸਾਰੀਆਂ", "ਦੇਸ਼-ਵਿਦੇਸ਼ਾ", "ਦੀਆਂ", "ਹਰ", "ਕਿਸਮ", "ਦੀਆਂ", "ਖਬਰਾਂ", "ਇਕੱਠੀਆਂ", "ਹੀ", "ਮਿਲਦੀਆਂ", "ਹਨ", "|", "ਅਖਬਾਰ", "ਸਾਡੇ", "ਜੀਵਨ", "ਦੀ", "ਆਦਤ", "ਬਣ", "ਚੁੱਕਿਆ", "ਹਨ", "|", "ਸਵੇਰੇ", "ਦਿਨ", "ਚਾੜ੍ਹਦਿਆ", "ਹੀ", "ਹਰ", "ਇੱਕ", "ਨੂੰ", "ਅਖਬਾਰ", "ਪੜ੍ਹਨ", "ਦੀ", "ਵਧੀਆ", "ਆਦਤ", "ਜਿਹੀ", "ਲੱਗ", "ਗਈ", "ਹੈ", "|", "ਇਹ", "ਗੱਲ", "ਸ਼ਾਲਾਘਾਯੋਗ", "ਹੈ", "|", "ਅਖਬਾਰਾਂ", "ਗਿਆਨ", "ਦਾ", "ਅਨਮੋਲ", "ਭੰਡਾਰ", "ਹਨ", "|", "ਇਨ੍ਹਾਂ", "ਦੇ", "ਜ਼ਰੀਏ", "ਕੋਨੇ-ਕੋਨੇ", "ਤੇ", "ਵਪਾਰ", "ਰਹੀਆ", "ਘਟਨਾਵਾਂ", "ਬਾਰੇ", "ਜਾਣਕਾਰੀ", "ਮਿਲ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਕੀਮਤ", "ਬਹੋਤ", "ਘਟ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਇਸ", "ਲਈ", "ਹਰ", "ਕੋਈ", "ਇਸ", "ਨੂੰ", "ਆਸਾਨੀ", "ਨਾਲ", "ਖਰੀਦ", "ਸਕਦਾ", "ਹੈ", "|", "ਇਹ", "ਦੇਸ਼-ਵਿਦੇਸ਼ਾ", "ਦੀ", "ਸਮਾਜਿਕ,", "ਆਰਥਿਕ,", "ਰਾਜਨੀਤਿਕ,", "ਸੱਭਿਆਚਾਰ,", "ਵਿਦਿਅਕ", "ਅਤੇ", "ਸਾਹਿਤਿਕ", "ਸਥਿਤੀ", "ਤੇ", "ਚਾਨਣਾ", "ਪਾਉਂਦੀਆਂ", "ਹਨ", "|", "ਇਹ", "ਸਾਨੂੰ", "ਮੌਸਮ", "ਦਾ", "ਹਾਲ", "ਦੱਸਦੀਆ,", "ਰੋਜ਼ਗਾਰ", "ਮੁਹੱਈਆ", "ਕਰਵਾਉਦੀਆ", "ਤੇ", "ਦਿਲ-ਪ੍ਰਚਾਵੇ", "ਦਾ", "ਵਧੀਆ", "ਸਾਧਨ", "ਹਨ", "|", "ਅਖਬਾਰ", "ਦਾ", "ਸਭ", "ਤੋ", "ਵੱਡਾ", "ਲਾਭ", "ਇਹ", "ਹੈ", "ਕਿ", "ਅਸੀਂ", "ਘਰ", "ਬੈਠੇ-ਬਿਠਾਏ", "ਹੀ", "ਭਰ", "ਦੇ", "ਹਾਲਾਤ", "ਤੋ", "ਜਾਣੂ", "ਹੋ", "ਜਾਂਦੇ", "ਹਾਂ", "|", "ਰੋਜ਼ਾਨਾ", "ਵਾਪਰਨ", "ਵਲੀਆ", "ਘਟਨਾਵਾਂ", "ਤੁਰੰਤ", "ਹੀ", "ਅਖਬਾਰਾਂ", "ਵਿੱਚ", "ਛਪ", "ਜਾਂਦੀਆ", "ਹਨ", "|", "ਅਖਬਾਰਾਂ", "ਦੇ", "ਜਰੀਏ", "ਅਸੀਂ", "ਜਾਣ", "ਜਾਂਦੇ", "ਹਾਂ", "ਕਿ", "ਕਿੱਥੇ", "ਕਿ", "ਵਪਾਰ", "ਰਿਹਾ", "ਹੈ", "|", ""];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







