

@{

    ViewBag.Title = "Passage Typing : Lesson 12 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 12:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "13" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 519    </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਆਧੁਨਿਕ</span><span>ਯੁੱਗ</span><span>ਵਿੱਚ</span><span>ਸੂਚਨਾ-ਸੰਚਾਰ</span><span>ਦਾ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਹਰਮਨ-ਪਿਆਰਾ</span><span>ਸਾਧਨ</span><span>ਹੈ-</span><span>ਮੋਬਾਇਲ</span><span>ਫੋਨ</span><span>ਜਿਸ</span><span>ਨੂੰ</span><span>'ਸਮਾਰਟ</span><span>ਫੋਨ'</span><span>ਵੀ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਛੋਟਾ</span><span>ਜਿਹਾ</span><span>ਯੰਤਰ</span><span>ਸਾਡਾ</span><span>ਹਰ</span><span>ਵਕਤ</span><span>ਦਾ</span><span>ਸਾਥੀ</span><span>ਬਣ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>।</span><span>ਅੱਜ</span><span>ਦੀ</span><span>ਤੇਜ਼</span><span>ਰਫਤਾਰ</span><span>ਤੇ</span><span>ਰੁਝੇਵਿਆਂ</span><span>ਭਰੀ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਵਿੱਚ</span><span>ਇਸ</span><span>ਤੋਂ</span><span>ਬਿਨਾ</span><span>ਗੁਜ਼ਾਰਾ</span><span>ਅਸੰਭਵ</span><span>ਜਿਹਾ</span><span>ਮਹਿਸੂਸ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਅੱਜ</span><span>ਤੋਂ</span><span>ਲਗਭਗ</span><span>10-11</span><span>ਸਾਲ</span><span>ਪਹਿਲਾਂ</span><span>ਜਦੋਂ</span><span>ਭਾਰਤ</span><span>ਵਿੱਚ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਸ਼ੁਰੂ</span><span>ਹੋਈ</span><span>ਸੀ</span><span>ਤਾਂ</span><span>ਉਸ</span><span>ਸਮੇਂ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਇੱਕ</span><span>'ਨਾਯਾਬ</span><span>ਚੀਜ਼'</span><span>ਸਮਝਿਆ</span><span>ਜਾਂਦਾ</span><span>ਸੀ</span><span>।</span><span>ਇਹ</span><span>ਅਮੀਰੀ</span><span>ਅਤੇ</span><span>ਖ਼ਾਸ</span><span>ਕਿਸਮ</span><span>ਦੀ</span><span>ਸ਼ਾਨ</span><span>ਦਾ</span><span>ਚਿੰਨ</span><span>ਸੀ</span><span>।</span><span>ਉਸ</span><span>ਸਮੇਂ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਕੀਮਤ</span><span>ਵੀ</span><span>ਬਹੁਤ</span><span>ਜ਼ਿਆਦਾ</span><span>ਸੀ</span><span>ਤੇ</span><span>ਖਰਚਾ</span><span>ਵੀ</span><span>।</span><span>ਫ਼ੋਨ</span><span>ਸੁਣਨ</span><span>ਦੇ</span><span>ਵੀ</span><span>ਪੈਸੇ-ਚਾਰਜ</span><span>ਕੀਤੇ</span><span>ਜਾਂਦੇ</span><span>ਸਨ</span><span>ਕਿਉਂਕਿ</span><span>ਉਸ</span><span>ਵੇਲੇ</span><span>ਫ਼ੋਨ</span><span>ਕੰਪਨੀਆਂ</span><span>ਬਹੁਤ</span><span>ਘੱਟ</span><span>ਸਨ</span><span>ਪਰ</span><span>ਅੱਜ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਆਮ</span><span>ਜਿਹੀ</span><span>ਹੋ</span><span>ਗਈ</span><span>ਹੈ</span><span>।</span><span>ਹਰ</span><span>ਕੋਈ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਆਸਾਨੀ</span><span>ਨਾਲ</span><span>ਖ਼ਰੀਦ/ਵੇਚ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹੋ</span><span>ਕਾਰਨ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਲੋਕਾਂ</span><span>ਦੀ</span><span>ਗਿਣਤੀ</span><span>ਵਿੱਚ</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਵਾਧਾ</span><span>ਹੋ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>।</span><span>ਜਿੱਥੇ</span><span>ਕੁਝ</span><span>ਸਾਲ</span><span>ਪਹਿਲਾਂ</span><span>ਮੋਬਾਇਲ</span><span>ਰੱਖਣਾ</span><span>ਰੁਤਬੇ</span><span>ਦੀ</span><span>ਨਿਸ਼ਾਨੀ</span><span>ਸੀ,</span><span>ਉੱਥੇ</span><span>ਅੱਜ</span><span>ਇਹ</span><span>ਲੋੜ</span><span>ਬਣ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਚਮਤਕਾਰੀ</span><span>ਲਾਭਾਂ</span><span>ਤੋਂ</span><span>ਪ੍ਰਭਾਵਿਤ</span><span>ਹੋ</span><span>ਕੇ</span><span>ਹਰ</span><span>ਕੋਈ,</span><span>ਭਾਵੇਂ</span><span>ਉਹ</span><span>ਵੱਡੇ</span><span>ਤੋਂ</span><span>ਵੱਡਾ</span><span>ਉਦਯੋਗਪਤੀ</span><span>ਜਾਂ</span><span>ਮੰਤਰੀ</span><span>ਹੋਵੇ</span><span>ਜਾਂ</span><span>ਦਿਹਾੜੀਦਾਰ</span><span>ਕਾਮਾ,</span><span>ਦੁਕਾਨਦਾਰ</span><span>ਜਾਂ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਆਦਿ</span><span>ਕੋਈ</span><span>ਵੀ</span><span>ਹੋਵੇ,</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਕਰ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਸਮੇਂ</span><span>ਭਾਰਤ</span><span>ਵਿੱਚ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਸੇਵਾ</span><span>ਮੁੱਹਈਆ</span><span>ਕਰਾਉਣ</span><span>ਲਈ</span><span>ਬਹੁਤ</span><span>ਸਾਰੀਆਂ</span><span>ਕੰਪਨੀਆਂ</span><span>ਆ</span><span>ਗਈਆਂ</span><span>ਹਨ,</span><span>ਜਿਵੇਂ,</span><span>ਹੱਚ(ਵੋਡਾਫੋਨ)</span><span>ਟਾਟਾ-ਇੰਡੀਕਾਮ,</span><span>ਬੀ.ਐੱਸ.ਐੱਨ.ਐੱਲ,</span><span>ਸਪਾਈਸ,</span><span>ਏਅਰਟੈੱਲ,</span><span>ਰਿਲਾਇੰਸ,</span><span>ਕਨੈਕਟ</span><span>ਆਦਿ</span><span>।</span><span>ਇਹ</span><span>ਕੰਪਨੀਆਂ</span><span>ਆਪਣੇ</span><span>ਗਾਹਕਾਂ</span><span>ਦੀ</span><span>ਗਿਣਤੀ</span><span>ਵਧਾਉਣ</span><span>ਵਾਸਤੇ</span><span>ਨਵੀਆਂ-ਨਵੀਆਂ</span><span>ਰਿਆਇਤੀ</span><span>ਸਕੀਮਾਂ,</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਛੌਟਾਂ</span><span>ਤੇ</span><span>ਹੋਰ</span><span>ਕੋਈ</span><span>ਦਿਲ-ਲੁਭਾਉਣੇ</span><span>ਨਵੇਂ-ਨਵੇਂ</span><span>ਪੈਕੇਜਾਂ</span><span>ਨਾਲ</span><span>ਗਾਹਕਾਂ</span><span>ਨੂੰ</span><span>ਆਕਰਸ਼ਿਤ</span><span>ਕਰ</span><span>ਰਹੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਇਨ੍ਹਾਂ</span><span>ਕੰਪਨੀਆਂ</span><span>ਤੋਂ</span><span>ਬਿਨਾਂ</span><span>ਸਾਰੇ</span><span>ਸੰਸਾਰ</span><span>ਵਿੱਚ</span><span>ਸੋਨੀ,</span><span>ਵਿਵੋ,</span><span>ਰੇਡਮੀ,</span><span>ਲਿਨੋਵੋ,</span><span>ਪੈਨਾਸੋਨਿਕ,</span><span>ਸੈਮਸੰਗ,</span><span>ਮੋਟਰੋਲਾ,</span><span>ਆਦਿ</span><span>ਕੰਪਨੀਆਂ</span><span>ਦੇ</span><span>ਸਮਾਰਟਫੋਨ</span><span>ਹੈਂਡ-ਸੈੱਟਾਂ</span><span>ਦੀ</span><span>ਵਿਕਰੀ</span><span>ਹੋ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਹੈਂਡ-ਸੈੱਟ</span><span>ਘੱਟ</span><span>ਤੋਂ</span><span>ਘੱਟ</span><span>ਰੇਟ</span><span>ਵਿੱਚ</span><span>ਵੇਚੇ</span><span>ਜਾ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>।</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਰਿਆਇਤਾਂ</span><span>ਤੋਂ</span><span>ਬਿਨਾਂ</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਿਚਲੇ</span><span>ਅਨੇਕਾਂ</span><span>ਹੀ</span><span>ਫੰਕਸ਼ਨ</span><span>ਗਾਹਕਾਂ</span><span>ਨੂੰ</span><span>ਆਪਣੇ</span><span>ਵੱਲ</span><span>ਆਕਰਸ਼ਿਤ</span><span>ਕਰ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>।</span><span>ਇਸ</span><span>ਸੰਚਾਰ-ਸਾਧਨ</span><span>ਦੀ</span><span>ਲੋਕਪ੍ਰਿਅਤਾ</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਆਪਣੇ</span><span>ਪੈਰ</span><span>ਪਸਾਰ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਖਪਤਕਾਰਾਂ</span><span>ਦੀ</span><span>ਗਿਣਤੀ</span><span>ਦੇ</span><span>ਅਧਾਰ</span><span>'ਤੇ</span><span>ਭਾਰਤ</span><span>ਛੇਵੇਂ</span><span>ਸਥਾਨ</span><span>'ਤੇ</span><span>ਹੈ</span><span>।</span><span>ਮੋਬਾਇਲ</span><span>ਫ਼ੋਨ</span><span>ਦੀਆਂ</span><span>ਖ਼ੂਬੀਆਂ</span><span>ਨੇ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਏਨਾ</span><span>ਉਪਯੋਗੀ</span><span>ਬਣਾ</span><span>ਦਿੱਤਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਸਿਰਫ਼</span><span>ਲੋੜ</span><span>ਅਨੁਸਾਰ</span><span>ਹੀ</span><span>ਨਹੀਂ</span><span>ਬਲਕਿ</span><span>ਲੋੜ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਕੀਤੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਲਾਭ</span><span>ਕਿਸੇ</span><span>ਚਮਤਕਾਰ</span><span>ਜਾਂ</span><span>ਕ੍ਰਿਸ਼ਮੇ</span><span>ਨਾਲੋਂ</span><span>ਘੱਟ</span><span>ਨਹੀਂ</span><span>ਹਨ</span><span>ਪਰ</span><span>ਇਹ</span><span>ਕੋਈ</span><span>ਕੁਦਰਤ</span><span>ਦਾ</span><span>ਕ੍ਰਿਸ਼ਮਾ</span><span>ਨਹੀਂ</span><span>ਬਲਕਿ</span><span>ਵਿਗਿਆਨ</span><span>ਦਾ</span><span>ਕ੍ਰਿਸ਼ਮਾ</span><span>ਹੈ</span><span>।</span><span>ਮੋਬਾਈਲ</span><span>ਫ਼ੋਨ</span><span>ਦਾ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਵੱਡਾ</span><span>ਪਹਿਲਾ</span><span>ਲਾਭ</span><span>ਇਹ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਇਹ</span><span>ਸਾਡੇ</span><span>ਕੋਲ</span><span>ਪਰਸ</span><span>ਜਾਂ</span><span>ਜੇਬ</span><span>ਵਿੱਚ</span><span>ਮੌਜੂਦ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਲਈ</span><span>ਅਸੀਂ</span><span>ਜਦੋਂ</span><span>ਵੀ</span><span>ਚਾਹੀਏ</span><span>ਕਿਸੇ</span><span>ਨੂੰ</span><span>ਕਿਸੇ</span><span>ਵੀ</span><span>ਵੇਲੇ</span><span>ਫ਼ੋਨ</span><span>ਕਰ</span><span>ਸਕਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਸਾਨੂੰ</span><span>ਕਿਸੇ</span><span>ਐੱਸ.ਟੀ.ਈ.</span><span>'ਤੇ</span><span>ਜਾਣ</span><span>ਦੀ</span><span>ਜਾਂ</span><span>ਕਿਸੇ</span><span>ਦੇ</span><span>ਇੰਤਜ਼ਾਰ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਨਹੀਂ</span><span>ਪੈਂਦੀ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਹੀ</span><span>ਇਸ</span><span>ਰਾਹੀਂ</span><span>ਫ਼ੋਨ</span><span>ਕਰਨ</span><span>'ਤੇ</span><span>ਲਾਈਨਾਂ</span><span>ਦੇ</span><span>ਬਿਜ਼ੀ</span><span>ਹੋਣ</span><span>ਦਾ</span><span>ਝੰਜਟ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਬੱਸ</span><span>ਨੰਬਰ</span><span>ਡਾਇਲ</span><span>ਕਰੋ</span><span>ਤਾਂ</span><span>ਤੁਰੰਤ</span><span>ਹੀ</span><span>ਦੂਜੀ</span><span>ਪਾਰਟੀ</span><span>ਨਾਲ</span><span>ਸੰਪਰਕ</span><span>ਸਥਾਪਿਤ</span><span>ਹੋ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਨਾਲ</span><span>ਮਿੰਟਾਂ-ਸਕਿੰਟਾਂ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਤੁਹਾਡਾ</span><span>ਸੰਦੇਸ਼</span><span>ਜਾਂ</span><span>ਗੱਲਬਾਤ</span><span>ਤੁਹਾਡੇ</span><span>ਮਿੱਤਰ-ਪਿਆਰਿਆਂ</span><span>ਜਾਂ</span><span>ਸਕੇ-ਸਬੰਧੀਆਂ</span><span>ਤੱਕ</span><span>ਪਹੁੰਚ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਦੇ</span><span>ਸਿੱਟੇ</span><span>ਵੱਜੋਂ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਵਿੱਚ</span><span>ਤੇਜ਼ੀ,</span><span>ਦ੍ਰਿੜ੍ਹਤਾ</span><span>ਤੇ</span><span>ਸੁਖਾਲਾਪਣ</span><span>ਆਉਂਦਾ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
 
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਆਧੁਨਿਕ", "ਯੁੱਗ", "ਵਿੱਚ", "ਸੂਚਨਾ-ਸੰਚਾਰ", "ਦਾ", "ਸਭ", "ਤੋਂ", "ਵੱਧ", "ਹਰਮਨ-ਪਿਆਰਾ", "ਸਾਧਨ", "ਹੈ-", "ਮੋਬਾਇਲ", "ਫੋਨ", "ਜਿਸ", "ਨੂੰ", "'ਸਮਾਰਟ", "ਫੋਨ'", "ਵੀ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਹ", "ਛੋਟਾ", "ਜਿਹਾ", "ਯੰਤਰ", "ਸਾਡਾ", "ਹਰ", "ਵਕਤ", "ਦਾ", "ਸਾਥੀ", "ਬਣ", "ਗਿਆ", "ਹੈ", "।", "ਅੱਜ", "ਦੀ", "ਤੇਜ਼", "ਰਫਤਾਰ", "ਤੇ", "ਰੁਝੇਵਿਆਂ", "ਭਰੀ", "ਜ਼ਿੰਦਗੀ", "ਵਿੱਚ", "ਇਸ", "ਤੋਂ", "ਬਿਨਾ", "ਗੁਜ਼ਾਰਾ", "ਅਸੰਭਵ", "ਜਿਹਾ", "ਮਹਿਸੂਸ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਅੱਜ", "ਤੋਂ", "ਲਗਭਗ", "10-11", "ਸਾਲ", "ਪਹਿਲਾਂ", "ਜਦੋਂ", "ਭਾਰਤ", "ਵਿੱਚ", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਸ਼ੁਰੂ", "ਹੋਈ", "ਸੀ", "ਤਾਂ", "ਉਸ", "ਸਮੇਂ", "ਇਸ", "ਨੂੰ", "ਇੱਕ", "'ਨਾਯਾਬ", "ਚੀਜ਼'", "ਸਮਝਿਆ", "ਜਾਂਦਾ", "ਸੀ", "।", "ਇਹ", "ਅਮੀਰੀ", "ਅਤੇ", "ਖ਼ਾਸ", "ਕਿਸਮ", "ਦੀ", "ਸ਼ਾਨ", "ਦਾ", "ਚਿੰਨ", "ਸੀ", "।", "ਉਸ", "ਸਮੇਂ", "ਇਸ", "ਦੀ", "ਕੀਮਤ", "ਵੀ", "ਬਹੁਤ", "ਜ਼ਿਆਦਾ", "ਸੀ", "ਤੇ", "ਖਰਚਾ", "ਵੀ", "।", "ਫ਼ੋਨ", "ਸੁਣਨ", "ਦੇ", "ਵੀ", "ਪੈਸੇ-ਚਾਰਜ", "ਕੀਤੇ", "ਜਾਂਦੇ", "ਸਨ", "ਕਿਉਂਕਿ", "ਉਸ", "ਵੇਲੇ", "ਫ਼ੋਨ", "ਕੰਪਨੀਆਂ", "ਬਹੁਤ", "ਘੱਟ", "ਸਨ", "ਪਰ", "ਅੱਜ", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਆਮ", "ਜਿਹੀ", "ਹੋ", "ਗਈ", "ਹੈ", "।", "ਹਰ", "ਕੋਈ", "ਇਸ", "ਨੂੰ", "ਆਸਾਨੀ", "ਨਾਲ", "ਖ਼ਰੀਦ/ਵੇਚ", "ਸਕਦਾ", "ਹੈ", "।", "ਇਹੋ", "ਕਾਰਨ", "ਹੈ", "ਕਿ", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਕਰਨ", "ਵਾਲੇ", "ਲੋਕਾਂ", "ਦੀ", "ਗਿਣਤੀ", "ਵਿੱਚ", "ਦਿਨੋ-ਦਿਨ", "ਵਾਧਾ", "ਹੋ", "ਰਿਹਾ", "ਹੈ", "।", "ਜਿੱਥੇ", "ਕੁਝ", "ਸਾਲ", "ਪਹਿਲਾਂ", "ਮੋਬਾਇਲ", "ਰੱਖਣਾ", "ਰੁਤਬੇ", "ਦੀ", "ਨਿਸ਼ਾਨੀ", "ਸੀ,", "ਉੱਥੇ", "ਅੱਜ", "ਇਹ", "ਲੋੜ", "ਬਣ", "ਗਿਆ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਚਮਤਕਾਰੀ", "ਲਾਭਾਂ", "ਤੋਂ", "ਪ੍ਰਭਾਵਿਤ", "ਹੋ", "ਕੇ", "ਹਰ", "ਕੋਈ,", "ਭਾਵੇਂ", "ਉਹ", "ਵੱਡੇ", "ਤੋਂ", "ਵੱਡਾ", "ਉਦਯੋਗਪਤੀ", "ਜਾਂ", "ਮੰਤਰੀ", "ਹੋਵੇ", "ਜਾਂ", "ਦਿਹਾੜੀਦਾਰ", "ਕਾਮਾ,", "ਦੁਕਾਨਦਾਰ", "ਜਾਂ", "ਵਿਦਿਆਰਥੀ", "ਆਦਿ", "ਕੋਈ", "ਵੀ", "ਹੋਵੇ,", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਕਰ", "ਰਿਹਾ", "ਹੈ", "।", "ਇਸ", "ਸਮੇਂ", "ਭਾਰਤ", "ਵਿੱਚ", "ਇਸ", "ਦੀ", "ਸੇਵਾ", "ਮੁੱਹਈਆ", "ਕਰਾਉਣ", "ਲਈ", "ਬਹੁਤ", "ਸਾਰੀਆਂ", "ਕੰਪਨੀਆਂ", "ਆ", "ਗਈਆਂ", "ਹਨ,", "ਜਿਵੇਂ,", "ਹੱਚ(ਵੋਡਾਫੋਨ)", "ਟਾਟਾ-ਇੰਡੀਕਾਮ,", "ਬੀ.ਐੱਸ.ਐੱਨ.ਐੱਲ,", "ਸਪਾਈਸ,", "ਏਅਰਟੈੱਲ,", "ਰਿਲਾਇੰਸ,", "ਕਨੈਕਟ", "ਆਦਿ", "।", "ਇਹ", "ਕੰਪਨੀਆਂ", "ਆਪਣੇ", "ਗਾਹਕਾਂ", "ਦੀ", "ਗਿਣਤੀ", "ਵਧਾਉਣ", "ਵਾਸਤੇ", "ਨਵੀਆਂ-ਨਵੀਆਂ", "ਰਿਆਇਤੀ", "ਸਕੀਮਾਂ,", "ਵਿਸ਼ੇਸ਼", "ਛੌਟਾਂ", "ਤੇ", "ਹੋਰ", "ਕੋਈ", "ਦਿਲ-ਲੁਭਾਉਣੇ", "ਨਵੇਂ-ਨਵੇਂ", "ਪੈਕੇਜਾਂ", "ਨਾਲ", "ਗਾਹਕਾਂ", "ਨੂੰ", "ਆਕਰਸ਼ਿਤ", "ਕਰ", "ਰਹੀਆਂ", "ਹਨ", "।", "ਇਨ੍ਹਾਂ", "ਕੰਪਨੀਆਂ", "ਤੋਂ", "ਬਿਨਾਂ", "ਸਾਰੇ", "ਸੰਸਾਰ", "ਵਿੱਚ", "ਸੋਨੀ,", "ਵਿਵੋ,", "ਰੇਡਮੀ,", "ਲਿਨੋਵੋ,", "ਪੈਨਾਸੋਨਿਕ,", "ਸੈਮਸੰਗ,", "ਮੋਟਰੋਲਾ,", "ਆਦਿ", "ਕੰਪਨੀਆਂ", "ਦੇ", "ਸਮਾਰਟਫੋਨ", "ਹੈਂਡ-ਸੈੱਟਾਂ", "ਦੀ", "ਵਿਕਰੀ", "ਹੋ", "ਰਹੀ", "ਹੈ", "।", "ਇਹ", "ਹੈਂਡ-ਸੈੱਟ", "ਘੱਟ", "ਤੋਂ", "ਘੱਟ", "ਰੇਟ", "ਵਿੱਚ", "ਵੇਚੇ", "ਜਾ", "ਰਹੇ", "ਹਨ", "।", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਰਿਆਇਤਾਂ", "ਤੋਂ", "ਬਿਨਾਂ", "ਇਨ੍ਹਾਂ", "ਵਿਚਲੇ", "ਅਨੇਕਾਂ", "ਹੀ", "ਫੰਕਸ਼ਨ", "ਗਾਹਕਾਂ", "ਨੂੰ", "ਆਪਣੇ", "ਵੱਲ", "ਆਕਰਸ਼ਿਤ", "ਕਰ", "ਰਹੇ", "ਹਨ", "।", "ਇਸ", "ਸੰਚਾਰ-ਸਾਧਨ", "ਦੀ", "ਲੋਕਪ੍ਰਿਅਤਾ", "ਦਿਨੋ-ਦਿਨ", "ਆਪਣੇ", "ਪੈਰ", "ਪਸਾਰ", "ਰਹੀ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਖਪਤਕਾਰਾਂ", "ਦੀ", "ਗਿਣਤੀ", "ਦੇ", "ਅਧਾਰ", "'ਤੇ", "ਭਾਰਤ", "ਛੇਵੇਂ", "ਸਥਾਨ", "'ਤੇ", "ਹੈ", "।", "ਮੋਬਾਇਲ", "ਫ਼ੋਨ", "ਦੀਆਂ", "ਖ਼ੂਬੀਆਂ", "ਨੇ", "ਇਸ", "ਨੂੰ", "ਏਨਾ", "ਉਪਯੋਗੀ", "ਬਣਾ", "ਦਿੱਤਾ", "ਹੈ", "ਕਿ", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਸਿਰਫ਼", "ਲੋੜ", "ਅਨੁਸਾਰ", "ਹੀ", "ਨਹੀਂ", "ਬਲਕਿ", "ਲੋੜ", "ਤੋਂ", "ਵੱਧ", "ਕੀਤੀ", "ਜਾ", "ਰਹੀ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਲਾਭ", "ਕਿਸੇ", "ਚਮਤਕਾਰ", "ਜਾਂ", "ਕ੍ਰਿਸ਼ਮੇ", "ਨਾਲੋਂ", "ਘੱਟ", "ਨਹੀਂ", "ਹਨ", "ਪਰ", "ਇਹ", "ਕੋਈ", "ਕੁਦਰਤ", "ਦਾ", "ਕ੍ਰਿਸ਼ਮਾ", "ਨਹੀਂ", "ਬਲਕਿ", "ਵਿਗਿਆਨ", "ਦਾ", "ਕ੍ਰਿਸ਼ਮਾ", "ਹੈ", "।", "ਮੋਬਾਈਲ", "ਫ਼ੋਨ", "ਦਾ", "ਸਭ", "ਤੋਂ", "ਵੱਡਾ", "ਪਹਿਲਾ", "ਲਾਭ", "ਇਹ", "ਹੈ", "ਕਿ", "ਇਹ", "ਸਾਡੇ", "ਕੋਲ", "ਪਰਸ", "ਜਾਂ", "ਜੇਬ", "ਵਿੱਚ", "ਮੌਜੂਦ", "ਰਹਿੰਦਾ", "ਹੈ", "।", "ਇਸ", "ਲਈ", "ਅਸੀਂ", "ਜਦੋਂ", "ਵੀ", "ਚਾਹੀਏ", "ਕਿਸੇ", "ਨੂੰ", "ਕਿਸੇ", "ਵੀ", "ਵੇਲੇ", "ਫ਼ੋਨ", "ਕਰ", "ਸਕਦੇ", "ਹਾਂ", "।", "ਸਾਨੂੰ", "ਕਿਸੇ", "ਐੱਸ.ਟੀ.ਈ.", "'ਤੇ", "ਜਾਣ", "ਦੀ", "ਜਾਂ", "ਕਿਸੇ", "ਦੇ", "ਇੰਤਜ਼ਾਰ", "ਕਰਨ", "ਦੀ", "ਲੋੜ", "ਨਹੀਂ", "ਪੈਂਦੀ", "ਤੇ", "ਨਾ", "ਹੀ", "ਇਸ", "ਰਾਹੀਂ", "ਫ਼ੋਨ", "ਕਰਨ", "'ਤੇ", "ਲਾਈਨਾਂ", "ਦੇ", "ਬਿਜ਼ੀ", "ਹੋਣ", "ਦਾ", "ਝੰਜਟ", "ਰਹਿੰਦਾ", "ਹੈ", "।", "ਬੱਸ", "ਨੰਬਰ", "ਡਾਇਲ", "ਕਰੋ", "ਤਾਂ", "ਤੁਰੰਤ", "ਹੀ", "ਦੂਜੀ", "ਪਾਰਟੀ", "ਨਾਲ", "ਸੰਪਰਕ", "ਸਥਾਪਿਤ", "ਹੋ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਸ", "ਨਾਲ", "ਮਿੰਟਾਂ-ਸਕਿੰਟਾਂ", "ਵਿੱਚ", "ਹੀ", "ਤੁਹਾਡਾ", "ਸੰਦੇਸ਼", "ਜਾਂ", "ਗੱਲਬਾਤ", "ਤੁਹਾਡੇ", "ਮਿੱਤਰ-ਪਿਆਰਿਆਂ", "ਜਾਂ", "ਸਕੇ-ਸਬੰਧੀਆਂ", "ਤੱਕ", "ਪਹੁੰਚ", "ਸਕਦੀ", "ਹੈ", "ਜਿਸ", "ਦੇ", "ਸਿੱਟੇ", "ਵੱਜੋਂ", "ਜ਼ਿੰਦਗੀ", "ਵਿੱਚ", "ਤੇਜ਼ੀ,", "ਦ੍ਰਿੜ੍ਹਤਾ", "ਤੇ", "ਸੁਖਾਲਾਪਣ", "ਆਉਂਦਾ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







