
@{

    ViewBag.Title = "Passage Typing : Lesson 27 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 27:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "28" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 180        </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਪੰਜਾਬੀ</span><span>ਭਾਸ਼ਾ</span><span>ਪੰਜਾਬ</span><span>ਦੀ</span><span>ਬੋਲੀ</span><span>ਹੈ</span><span>।</span><span>ਜਦ</span><span>ਤੋਂ</span><span>ਪੰਜਾਬ</span><span>ਭੂਗੋਲਿਕ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਹੋਦ</span><span>ਵਿੱਚ</span><span>ਆਇਆ</span><span>ਹੈ,</span><span>ਉਸ</span><span>ਸਮੇਂ</span><span>ਤੋਂ</span><span>ਹੀ</span><span>ਬੋਲੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਆਰੀਆ</span><span>ਦੇ</span><span>ਆਉਣ</span><span>ਤੋਂ</span><span>ਪਹਿਲਾਂ</span><span>ਇਹ</span><span>'ਦਰਾਵੜ'</span><span>ਦੀ</span><span>ਪਿਆਰੀ</span><span>ਸੀ</span><span>ਪਿੱਛੋਂ</span><span>ਆਮ</span><span>ਆਰੀਆ</span><span>ਜਨਤਾ</span><span>ਦੀ</span><span>ਬੋਲੀ</span><span>ਬਣ</span><span>ਗਈ</span><span>।</span><span>ਆਰੀਆ</span><span>ਨੇ</span><span>ਆਪਣੇ</span><span>ਧਾਰਮਿਕ-ਗ੍ਰੰਥਾ</span><span>ਲਈ</span><span>ਇਸ</span><span>ਨਿਯਮ-ਬੱਧ</span><span>ਕੀਤਾ</span><span>ਤੇ</span><span>ਇਸਨੂੰ</span><span>ਸੰਸਕ੍ਰਿਤ</span><span>ਦੇ</span><span>ਰੂਪ</span><span>ਵਿੱਚ</span><span>ਢਾਲ</span><span>ਕੇ</span><span>ਪਵਿੱਤਰ</span><span>ਕੀਤਾ</span><span>ਅਤੇ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਆਪਣੀ</span><span>ਜੀਵਨ</span><span>ਸ਼ੈਲੀ</span><span>ਵਿੱਚ</span><span>ਅਪਣਾਇਆ</span><span>।</span><span>ਪ੍ਰਕਿਰਪਤਾਂ</span><span>ਵੇਲੇ</span><span>ਫਿਰ</span><span>ਇਹ</span><span>ਪੰਜਾਬੀ</span><span>ਜਨਮਸੂਹਾਂ</span><span>ਦੇ</span><span>ਮੂੰਹਾਂ</span><span>'ਤੇ</span><span>ਚੜ੍ਹ</span><span>ਗਈ</span><span>ਤੇ</span><span>ਲੋਕਾਂ</span><span>ਦੇ</span><span>ਅੰਤਰੀਵ</span><span>ਤੇ</span><span>ਮਨ</span><span>ਭਾਵਾਂ</span><span>ਦੇ</span><span>ਪ੍ਰਗਟਾਉਣ</span><span>ਲਈ</span><span>ਵਰਤੀ</span><span>ਜਾਣ</span><span>ਲਗ</span><span>ਪਈ</span><span>।</span><span>ਨਾਥਾਂ</span><span>-</span><span>ਜੋਗੀਆਂ</span><span>ਤੇ</span><span>ਸਿੱਧਾਂ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਆਪਣੇ</span><span>ਅਧਿਆਤਮ</span><span>ਪ੍ਰਚਾਰ</span><span>ਦਾ</span><span>ਮਾਧਿਅਮ</span><span>ਬਣਾਇਣਾ</span><span>ਤੇ</span><span>ਜੋਗੀਆਂ</span><span>ਨ</span><span>ਆਪਣੀ</span><span>ਬੀਨ</span><span>ਰਹੀ</span><span>ਇਸ</span><span>ਦੀਆਂ</span><span>ਸੁਰਾਂ</span><span>ਤੇ</span><span>ਧੁਨੀਆਂ</span><span>ਨੂੰ</span><span>ਜਨਤਾ</span><span>ਤੱਕ</span><span>ਪਹੰਚਾਇਆ</span><span>।</span><span>ਇਸ</span><span>ਲਈ</span><span>ਅੱਠਵੀ</span><span>ਤੇ</span><span>ਨੌਵੀਂ</span><span>ਸਦੀ</span><span>ਵਿੱਚ</span><span>ਇਹ</span><span>ਸਾਰੇ</span><span>ਉੱਤਰੀ</span><span>ਭਾਰਤ</span><span>ਦੀ</span><span>ਲੋਕਪ੍ਰਿਆ</span><span>ਬੋਲੀ</span><span>ਬਣ</span><span>ਗਈ</span><span>ਜਿਸ</span><span>ਦਾ</span><span>ਪ੍ਰਯੋਗ</span><span>ਹੱਦਾਂ</span><span>ਤੋਂ</span><span>ਬਾਹਰ</span><span>ਵੀ</span><span>ਹੋਣ</span><span>ਲੱਗਾ</span><span>।</span><span>ਭਗਤੀ-ਲਹਿਰ</span><span>ਦੇ</span><span>ਆਰੰਭ</span><span>ਨਾਲ</span><span>ਇਸ</span><span>ਦਾ</span><span>ਮੁਹਾਂਦਰਾ</span><span>ਸਾਧ-ਲਹਿਰ</span><span>ਨਾਲ</span><span>ਜੁੜਣ</span><span>ਲੱਗਾ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਨੇ</span><span>ਪੰਡਿਤ</span><span>ਮੱਤ</span><span>ਦੇ</span><span>ਪ੍ਰਚਾਰ</span><span>ਤੇ</span><span>ਪ੍ਰਸਾਰ</span><span>ਦਾ</span><span>ਵੱਡਾ</span><span>ਸਾਧਨ</span><span>ਬਣ</span><span>ਗਈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਪੰਜਾਬੀ", "ਭਾਸ਼ਾ", "ਪੰਜਾਬ", "ਦੀ", "ਬੋਲੀ", "ਹੈ", "।", "ਜਦ", "ਤੋਂ", "ਪੰਜਾਬ", "ਭੂਗੋਲਿਕ", "ਤੌਰ", "ਤੇ", "ਹੋਦ", "ਵਿੱਚ", "ਆਇਆ", "ਹੈ,", "ਉਸ", "ਸਮੇਂ", "ਤੋਂ", "ਹੀ", "ਬੋਲੀ", "ਜਾ", "ਰਹੀ", "ਹੈ", "।", "ਆਰੀਆ", "ਦੇ", "ਆਉਣ", "ਤੋਂ", "ਪਹਿਲਾਂ", "ਇਹ", "'ਦਰਾਵੜ'", "ਦੀ", "ਪਿਆਰੀ", "ਸੀ", "ਪਿੱਛੋਂ", "ਆਮ", "ਆਰੀਆ", "ਜਨਤਾ", "ਦੀ", "ਬੋਲੀ", "ਬਣ", "ਗਈ", "।", "ਆਰੀਆ", "ਨੇ", "ਆਪਣੇ", "ਧਾਰਮਿਕ-ਗ੍ਰੰਥਾ", "ਲਈ", "ਇਸ", "ਨਿਯਮ-ਬੱਧ", "ਕੀਤਾ", "ਤੇ", "ਇਸਨੂੰ", "ਸੰਸਕ੍ਰਿਤ", "ਦੇ", "ਰੂਪ", "ਵਿੱਚ", "ਢਾਲ", "ਕੇ", "ਪਵਿੱਤਰ", "ਕੀਤਾ", "ਅਤੇ", "ਇਸ", "ਨੂੰ", "ਆਪਣੀ", "ਜੀਵਨ", "ਸ਼ੈਲੀ", "ਵਿੱਚ", "ਅਪਣਾਇਆ", "।", "ਪ੍ਰਕਿਰਪਤਾਂ", "ਵੇਲੇ", "ਫਿਰ", "ਇਹ", "ਪੰਜਾਬੀ", "ਜਨਮਸੂਹਾਂ", "ਦੇ", "ਮੂੰਹਾਂ", "'ਤੇ", "ਚੜ੍ਹ", "ਗਈ", "ਤੇ", "ਲੋਕਾਂ", "ਦੇ", "ਅੰਤਰੀਵ", "ਤੇ", "ਮਨ", "ਭਾਵਾਂ", "ਦੇ", "ਪ੍ਰਗਟਾਉਣ", "ਲਈ", "ਵਰਤੀ", "ਜਾਣ", "ਲਗ", "ਪਈ", "।", "ਨਾਥਾਂ", "-", "ਜੋਗੀਆਂ", "ਤੇ", "ਸਿੱਧਾਂ", "ਤੇ", "ਇਸ", "ਨੂੰ", "ਆਪਣੇ", "ਅਧਿਆਤਮ", "ਪ੍ਰਚਾਰ", "ਦਾ", "ਮਾਧਿਅਮ", "ਬਣਾਇਣਾ", "ਤੇ", "ਜੋਗੀਆਂ", "ਨ", "ਆਪਣੀ", "ਬੀਨ", "ਰਹੀ", "ਇਸ", "ਦੀਆਂ", "ਸੁਰਾਂ", "ਤੇ", "ਧੁਨੀਆਂ", "ਨੂੰ", "ਜਨਤਾ", "ਤੱਕ", "ਪਹੰਚਾਇਆ", "।", "ਇਸ", "ਲਈ", "ਅੱਠਵੀ", "ਤੇ", "ਨੌਵੀਂ", "ਸਦੀ", "ਵਿੱਚ", "ਇਹ", "ਸਾਰੇ", "ਉੱਤਰੀ", "ਭਾਰਤ", "ਦੀ", "ਲੋਕਪ੍ਰਿਆ", "ਬੋਲੀ", "ਬਣ", "ਗਈ", "ਜਿਸ", "ਦਾ", "ਪ੍ਰਯੋਗ", "ਹੱਦਾਂ", "ਤੋਂ", "ਬਾਹਰ", "ਵੀ", "ਹੋਣ", "ਲੱਗਾ", "।", "ਭਗਤੀ-ਲਹਿਰ", "ਦੇ", "ਆਰੰਭ", "ਨਾਲ", "ਇਸ", "ਦਾ", "ਮੁਹਾਂਦਰਾ", "ਸਾਧ-ਲਹਿਰ", "ਨਾਲ", "ਜੁੜਣ", "ਲੱਗਾ", "ਤੇ", "ਇਸ", "ਨੇ", "ਪੰਡਿਤ", "ਮੱਤ", "ਦੇ", "ਪ੍ਰਚਾਰ", "ਤੇ", "ਪ੍ਰਸਾਰ", "ਦਾ", "ਵੱਡਾ", "ਸਾਧਨ", "ਬਣ", "ਗਈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







