

@{

    ViewBag.Title = "Passage Typing : Lesson 9 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 9:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "10" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 498 </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਖੁਸ਼ੀ</span><span>ਦੇ</span><span>ਦਿਨ</span><span>ਆਪੇ</span><span>ਨਹੀਂ</span><span>ਆਉਂਦੇ,</span><span>ਸਗੋਂ</span><span>ਇਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਬੁਲਾਉਣਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਆਉਣ</span><span>ਦਾ</span><span>ਰਸਤਾ</span><span>ਬਣਾਉਣਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਅਸੀਂ</span><span>ਜਿਹੋ</span><span>ਜਿਹੀ</span><span>ਛੋਟੀ-ਵੱਡੀ</span><span>ਪਰਿਵਾਰਿਕ,</span><span>ਸਮੂਹਿਕ,</span><span>ਦੁਨਿਆਵੀ</span><span>ਜਾਂ</span><span>ਰੂਹਾਨੀ</span><span>ਖੁਸ਼ੀ</span><span>ਨੂੰ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਨਾ</span><span>ਚਾਈਏ,</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਕੋਸ਼ਿਸ਼</span><span>ਕਰਨੀ</span><span>ਪੈਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਨੂੰ</span><span>ਨਿੱਕੀਆ</span><span>ਗਲਾਂ</span><span>ਤੇ</span><span>ਨਿੱਕੇ</span><span>ਰਿਸ਼ਤੇ</span><span>ਵੀ</span><span>ਵੱਡੀਆਂ</span><span>ਖੁਸ਼ੀਆ</span><span>ਦੇ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਕਿੱਸੇ</span><span>ਦੇ</span><span>ਰੋਂਦੇ</span><span>ਬੱਚੇ</span><span>ਨੂੰ</span><span>ਚੁੱਪ</span><span>ਕਰਾਉਣ,</span><span>ਕਿਸੇ</span><span>ਲੋੜਵੰਦ</span><span>ਨਾਲ</span><span>ਪ੍ਰੇਮ</span><span>ਦੀ</span><span>ਗੱਲਬਾਤ</span><span>ਕਰਨ</span><span>ਵਿੱਚ,</span><span>ਕਿਸੇ</span><span>ਬੀਮਾਰ</span><span>ਮਰੀਜ਼</span><span>ਦੀ</span><span>ਸਹਾਇਤਾ</span><span>ਕਰਨ</span><span>ਵਿੱਚ,</span><span>ਕੁੱਤੇ</span><span>ਨੂੰ</span><span>ਰੋਟੀ</span><span>ਦਾ</span><span>ਟੁਕੜਾ</span><span>ਪਾਉਣ</span><span>ਵਿੱਚ,</span><span>ਕਿਸੇ</span><span>ਅਨਪੜ੍ਹ</span><span>ਦੀ</span><span>ਆਈ</span><span>ਚਿੱਠੀ-ਪੱਤਰ</span><span>ਨੂੰ</span><span>ਪੜ੍ਹਨ</span><span>ਵਿੱਚ,</span><span>ਕਿਸੇ</span><span>ਮਰੀਜ਼</span><span>ਦੀ</span><span>ਸਹਾਇਤਾ</span><span>ਕਰਨ</span><span>ਵਿੱਚ,</span><span>ਮੰਦਿਰ</span><span>ਜਾਂ</span><span>ਗੁਰਦੁਆਰੇ</span><span>ਜਾਣ</span><span>ਵਿੱਚ</span><span>ਅਦਭੁੱਤ</span><span>ਖੁਸ਼ੀ</span><span>ਮਿਲਦੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਸਾਨੂੰ</span><span>ਅਜਿਹੀ</span><span>ਖੁਸ਼ੀ</span><span>ਨੂੰ</span><span>ਵਾਰ-ਵਾਰ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਨਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਮਿੱਠਾ</span><span>ਬੋਲਣਾ</span><span>ਤੇ</span><span>ਬੱਚਿਆਂ</span><span>ਨਾਲ</span><span>ਖੇਡਣ</span><span>ਦਾ</span><span>ਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨਾਲ</span><span>ਗੱਲਾਂ</span><span>ਕਰਨਾ</span><span>ਵੀ</span><span>ਖੁਸ਼ੀ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਨ</span><span>ਦਾ</span><span>ਹੀ</span><span>ਚੰਗਾ</span><span>ਸਾਧਨ</span><span>ਹੈ</span><span>|</span><span></span><span></span><span>ਪਤੀ-ਪਤਨੀ</span><span>ਦਾ</span><span>ਕਿਸੇ</span><span>ਨਾ</span><span>ਕਿਸੇ</span><span>ਮਮਲੇ</span><span>ਜਾ</span><span>ਗੱਲ</span><span>ਉੱਤੇ</span><span>ਤਕਰਾਰ/ਲੜਾਈ</span><span>ਹੁੰਦੀ</span><span>ਰਹਿੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਕਈ</span><span>ਪਰਿਵਾਰ</span><span>ਅਜਿਹੇ</span><span>ਹੁੰਦੇ</span><span>ਹਨ,</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਮਾਹੌਲ</span><span>ਘੁੱਟਿਆ-ਘੁੱਟਿਆ</span><span>ਮਹਿਸੂਸ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਅਜਿਹੇ</span><span>ਵਿਅਕਤੀ</span><span>ਆਪ</span><span>ਵੀ</span><span>ਤੰਗ</span><span>ਪਰੇਸ਼ਾਨ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਹੋਰਨਾਂ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਪਰੇਸ਼ਾਨ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਗੁੱਸਾ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਹਰਕਤ</span><span>ਅਤੇ</span><span>ਭਾਸ਼ਾ</span><span>ਵਿੱਚੋ</span><span>ਝਲਕਦਾ</span><span>ਦਿਖਾਈ</span><span>ਦਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਅਜਿਹੇ</span><span>ਪਤੀ-ਪਤਨੀ</span><span>ਆਪਣੀ</span><span>ਸਮੱਸਿਆ</span><span>ਸ਼ਾਂਤੀ</span><span>ਨਾਲ</span><span>ਹੱਲ</span><span>ਕਰਕੇ</span><span>ਘਰ</span><span>ਦਾ</span><span>ਸਾਰਾ</span><span>ਮਾਹੌਲ</span><span>ਖੁਸ਼ਗਵਾਰ</span><span>ਬਣਾ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>|</span><span>ਕੋਈ</span><span>ਵੀ</span><span>ਮਨੁੱਖ</span><span>ਮੁਸਕਰਾਓਂਦਾ</span><span>ਜਾਂ</span><span>ਹੱਸਦਾ</span><span>ਨਹੀਂ</span><span>ਹੁੰਦਾ,</span><span>ਸਗੋਂ</span><span>ਹਸੱਣ</span><span>ਤੇ</span><span>ਮੁਸਕਰਾਉਣ</span><span>ਦੀ</span><span>ਆਦਤ</span><span>ਪਾਉਣੀ</span><span>ਪੈਂਦੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਇਹ</span><span>ਪਾਈ</span><span>ਜਾ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਆਪਣੇ</span><span>ਆਸ-ਪਾਸ</span><span>ਕੁੱਝ</span><span>ਅਜਿਹੇ</span><span>ਵਿਅਕਤੀ</span><span>ਜਰੂਰ</span><span>ਮਿਲ</span><span>ਜਾਣਗੇ,</span><span>ਜੋ</span><span>ਹਮੇਸ਼ਾ</span><span>ਖਿੜੇ</span><span>ਜਾਂ</span><span>ਖੁਸ਼</span><span>ਰਹਿੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਗੰਭੀਰ</span><span>ਤੋਂ</span><span>ਗੰਭੀਰ</span><span>ਮੁਸ਼ਕਿਲ</span><span>ਸਮੇਂ</span><span>ਵੀ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਮੂੰਹ</span><span>ਉੱਤੇ</span><span>ਚਿੰਤਾਂ</span><span>ਜਾ</span><span>ਗਮ</span><span>ਦੀਆਂ</span><span>ਲਕੀਰਾਂ</span><span>ਨਹੀਂ</span><span>ਦਿਖਾਈ</span><span>ਦਿੰਦੀਆਂ</span><span>|</span><span>ਉਹ</span><span>ਹੱਸਦੇ-ਖੇਡਦੇ</span><span>ਹੀ</span><span>ਆਪਣੀਆਂ</span><span>ਸਮੱਸਿਆਵਾਂ</span><span>ਹਾਲ</span><span>ਕਰ</span><span>ਲੈਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਉਹ</span><span>ਜੰਮਾਦਰੂ</span><span>ਹੀ</span><span>ਅਜਿਹੇ</span><span>ਨਹੀਂ</span><span>ਸਨ</span><span>|</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੇ</span><span>ਮੁਸੀਬਤਾਂ</span><span>ਨਾਲ</span><span>ਖਿੜੇ</span><span>ਮੱਥੇ</span><span>ਘੁਲਣ</span><span>ਦੀ</span><span>ਆਦਤ</span><span>ਪਾਈ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਉਨ੍ਹਾਂ</span><span>ਕੋਲ</span><span>ਬਹੁਤ</span><span>ਸਾਰੇ</span><span>ਸ਼ੇਅਰ</span><span>ਅਤੇ</span><span>ਹਾਸੇ</span><span>ਦੀਆਂ</span><span>ਨਿੱਕੀਆਂ-ਨਿੱਕਿਆ</span><span>ਫੁਲਝੜੀਆਂ</span><span>ਹੁੰਦਿਆਂ</span><span>ਹਨ</span><span>|</span><span>ਹਰ</span><span>ਮਨੁੱਖ</span><span>ਅਜਿਹਾ</span><span>ਜੀਵਨ</span><span>ਗੁਜ਼ਾਰ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>|</span><span>ਬੱਸ</span><span>ਥੋੜ੍ਹੀ</span><span>ਜਿਹੀ</span><span>ਸੋਚ</span><span>ਤੇ</span><span>ਯੋਜਨਾਬੰਦੀ</span><span>ਤੋਂ</span><span>ਕੰਮ</span><span>ਲੈਣ</span><span>ਦੀ</span><span>ਜ਼ਰੂਰਤ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਪਤੀ</span><span>ਪਤਨੀ</span><span>ਆਪਸ</span><span>ਵਿੱਚ</span><span>ਇੱਕ</span><span>ਦੂਜੇ</span><span>ਦੇ</span><span>ਕੰਮ</span><span>ਵਿੱਚ</span><span>ਹੱਥ</span><span>ਵਟਾਉਂਦੇ</span><span>ਹਨ,</span><span>ਸਕੂਲ</span><span>ਪੜ੍ਹਦੇ</span><span>ਬੱਚੇ</span><span>ਨੂੰ</span><span>ਇਨਾਮ</span><span>ਮਿਲਨਾ,</span><span>undefined</span><span>ਕਿਸੇ</span><span>ਪਿਆਰੇ</span><span>ਦੀ</span><span>ਚਿੱਟੀ</span><span>ਦਾ</span><span>ਸਾਲਾਂ</span><span>ਬਾਅਦ</span><span>ਇਕ</span><span>ਦਮ</span><span>ਆਉਣਾ,</span><span>ਗਰਮੀ</span><span>ਦੇ</span><span>ਮੌਸਮ</span><span>ਵਿੱਚ</span><span>ਮੀਂਹ</span><span>ਪੈਣਾ,</span><span>ਗੁਆਂਢੀ</span><span>ਦੇ</span><span>ਘਰ</span><span>ਅਖੰਡ-ਪਾਠ</span><span>ਜਾਂ</span><span>ਧੀ</span><span>ਦਾ</span><span>ਵਿਆਹ</span><span>ਸਭ</span><span>ਖੁਸ਼ੀ</span><span>ਦੇ</span><span>ਮੋਕੇ</span><span>ਹਨ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਗੱਜ-ਵੱਜ</span><span>ਕੇ</span><span>ਸ਼ਾਮਿਲ</span><span>ਹੋਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਜਿਹੜੇ</span><span>ਖੁਸ਼ੀਆ</span><span>ਨੂੰ</span><span>ਸੱਦਾ</span><span>ਦੇਣਾ</span><span>ਜਾਣਦੇ</span><span>ਹਨ,</span><span>ਉਹ</span><span>ਆਂਡ-ਗੁਆਂਢ</span><span>ਵਿੱਚ</span><span>ਮਨਾਈ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਕਿਸੇ</span><span>ਵੀ</span><span>ਖੁਸ਼ੀ</span><span>ਵਿੱਚ</span><span>ਸ਼ਾਮਿਲ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਭੰਗੜੇ</span><span>ਵੀ</span><span>ਪਾਉਣ</span><span>ਲੱਗ</span><span>ਪੈਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਸਾਡੇ</span><span>ਵੱਡੇ-ਵਡੇਰਿਆਂ</span><span>ਨੇ</span><span>ਆਪਣੇ</span><span>ਘਰਾਂ,</span><span>ਪਰਿਵਾਰਾਂ</span><span>ਅਤੇ</span><span>ਸਮਾਜ</span><span>ਵਿੱਚ</span><span>ਖੁਸ਼ੀਆ</span><span>ਨੂੰ</span><span>ਸੱਦਾ</span><span>ਦੇਣ</span><span>ਤੇ</span><span>ਬਹੁਤ</span><span>ਸਾਰੇ</span><span>ਢੰਗ</span><span>ਕੱਢੇ</span><span>ਹਨ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਕੁੱਝ</span><span>ਰਸਮਾਂ,</span><span>ਰੀਤਾਂ,</span><span>ਮੇਲਿਆਂ,</span><span>ਸਮਾਗਮਾਂ</span><span>ਤੇ</span><span>ਤਿਉਹਾਰਾਂ</span><span>ਦੇ</span><span>ਰੂਪ</span><span>ਵਿੱਚ</span><span>ਅੱਜ</span><span>ਵੀ</span><span>ਤੁਰੇ</span><span>ਆ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>|</span><span>ਵਰਤਮਾਨ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਅਜ਼ਾਦੀ</span><span>ਦਿਵਸ,</span><span>ਗਣਤੰਤਰਤਾ</span><span>ਦਿਵਸ,</span><span>ਬਾਲ-ਦਿਵਸ</span><span>ਅਧਿਆਪਕ-ਦਿਵਸ</span><span>ਮਾਂ</span><span>ਦਿਵਸ,</span><span>ਪਿਤਾ</span><span>ਦਿਵਸ,</span><span>ਮਜ਼ਦੂਰ</span><span>ਦਿਵਸ</span><span>ਤੇ</span><span>ਧਰਤੀ</span><span>ਦਿਵਸ</span><span>ਆਦਿ</span><span>ਹੋਰ</span><span>ਜੁੜੇ</span><span>ਗਏ</span><span>ਹਨ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਖੁਸ਼ੀ", "ਦੇ", "ਦਿਨ", "ਆਪੇ", "ਨਹੀਂ", "ਆਉਂਦੇ,", "ਸਗੋਂ", "ਇਨ੍ਹਾਂ", "ਨੂੰ", "ਬੁਲਾਉਣਾ", "ਪੈਂਦਾ", "ਹੈ", "ਤੇ", "ਉਨ੍ਹਾਂ", "ਦੇ", "ਆਉਣ", "ਦਾ", "ਰਸਤਾ", "ਬਣਾਉਣਾ", "ਪੈਂਦਾ", "ਹੈ", "|", "ਅਸੀਂ", "ਜਿਹੋ", "ਜਿਹੀ", "ਛੋਟੀ-ਵੱਡੀ", "ਪਰਿਵਾਰਿਕ,", "ਸਮੂਹਿਕ,", "ਦੁਨਿਆਵੀ", "ਜਾਂ", "ਰੂਹਾਨੀ", "ਖੁਸ਼ੀ", "ਨੂੰ", "ਪ੍ਰਾਪਤ", "ਕਰਨਾ", "ਚਾਈਏ,", "ਉਸ", "ਨੂੰ", "ਪ੍ਰਾਪਤ", "ਕਰਨ", "ਲਈ", "ਕੋਸ਼ਿਸ਼", "ਕਰਨੀ", "ਪੈਂਦੀ", "ਹੈ", "|", "ਮਨੁੱਖ", "ਨੂੰ", "ਨਿੱਕੀਆ", "ਗਲਾਂ", "ਤੇ", "ਨਿੱਕੇ", "ਰਿਸ਼ਤੇ", "ਵੀ", "ਵੱਡੀਆਂ", "ਖੁਸ਼ੀਆ", "ਦੇ", "ਸਕਦੇ", "ਹਨ", "|", "ਸਾਨੂੰ", "ਕਿੱਸੇ", "ਦੇ", "ਰੋਂਦੇ", "ਬੱਚੇ", "ਨੂੰ", "ਚੁੱਪ", "ਕਰਾਉਣ,", "ਕਿਸੇ", "ਲੋੜਵੰਦ", "ਨਾਲ", "ਪ੍ਰੇਮ", "ਦੀ", "ਗੱਲਬਾਤ", "ਕਰਨ", "ਵਿੱਚ,", "ਕਿਸੇ", "ਬੀਮਾਰ", "ਮਰੀਜ਼", "ਦੀ", "ਸਹਾਇਤਾ", "ਕਰਨ", "ਵਿੱਚ,", "ਕੁੱਤੇ", "ਨੂੰ", "ਰੋਟੀ", "ਦਾ", "ਟੁਕੜਾ", "ਪਾਉਣ", "ਵਿੱਚ,", "ਕਿਸੇ", "ਅਨਪੜ੍ਹ", "ਦੀ", "ਆਈ", "ਚਿੱਠੀ-ਪੱਤਰ", "ਨੂੰ", "ਪੜ੍ਹਨ", "ਵਿੱਚ,", "ਕਿਸੇ", "ਮਰੀਜ਼", "ਦੀ", "ਸਹਾਇਤਾ", "ਕਰਨ", "ਵਿੱਚ,", "ਮੰਦਿਰ", "ਜਾਂ", "ਗੁਰਦੁਆਰੇ", "ਜਾਣ", "ਵਿੱਚ", "ਅਦਭੁੱਤ", "ਖੁਸ਼ੀ", "ਮਿਲਦੀ", "ਹੈ", "ਤੇ", "ਸਾਨੂੰ", "ਅਜਿਹੀ", "ਖੁਸ਼ੀ", "ਨੂੰ", "ਵਾਰ-ਵਾਰ", "ਪ੍ਰਾਪਤ", "ਕਰਨਾ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਮਿੱਠਾ", "ਬੋਲਣਾ", "ਤੇ", "ਬੱਚਿਆਂ", "ਨਾਲ", "ਖੇਡਣ", "ਦਾ", "ਤੇ", "ਉਨ੍ਹਾਂ", "ਨਾਲ", "ਗੱਲਾਂ", "ਕਰਨਾ", "ਵੀ", "ਖੁਸ਼ੀ", "ਪ੍ਰਾਪਤ", "ਕਰਨ", "ਦਾ", "ਹੀ", "ਚੰਗਾ", "ਸਾਧਨ", "ਹੈ", "|", "", "", "ਪਤੀ-ਪਤਨੀ", "ਦਾ", "ਕਿਸੇ", "ਨਾ", "ਕਿਸੇ", "ਮਮਲੇ", "ਜਾ", "ਗੱਲ", "ਉੱਤੇ", "ਤਕਰਾਰ/ਲੜਾਈ", "ਹੁੰਦੀ", "ਰਹਿੰਦੀ", "ਹੈ", "|", "ਕਈ", "ਪਰਿਵਾਰ", "ਅਜਿਹੇ", "ਹੁੰਦੇ", "ਹਨ,", "ਜਿਨ੍ਹਾਂ", "ਵਿੱਚ", "ਮਾਹੌਲ", "ਘੁੱਟਿਆ-ਘੁੱਟਿਆ", "ਮਹਿਸੂਸ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਅਜਿਹੇ", "ਵਿਅਕਤੀ", "ਆਪ", "ਵੀ", "ਤੰਗ", "ਪਰੇਸ਼ਾਨ", "ਹੁੰਦੇ", "ਹਨ", "ਅਤੇ", "ਹੋਰਨਾਂ", "ਨੂੰ", "ਵੀ", "ਪਰੇਸ਼ਾਨ", "ਕਰਦੇ", "ਹਨ", "|", "ਗੁੱਸਾ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਹਰਕਤ", "ਅਤੇ", "ਭਾਸ਼ਾ", "ਵਿੱਚੋ", "ਝਲਕਦਾ", "ਦਿਖਾਈ", "ਦਿੰਦਾ", "ਹੈ", "|", "ਅਜਿਹੇ", "ਪਤੀ-ਪਤਨੀ", "ਆਪਣੀ", "ਸਮੱਸਿਆ", "ਸ਼ਾਂਤੀ", "ਨਾਲ", "ਹੱਲ", "ਕਰਕੇ", "ਘਰ", "ਦਾ", "ਸਾਰਾ", "ਮਾਹੌਲ", "ਖੁਸ਼ਗਵਾਰ", "ਬਣਾ", "ਸਕਦੇ", "ਹਨ", "|", "ਕੋਈ", "ਵੀ", "ਮਨੁੱਖ", "ਮੁਸਕਰਾਓਂਦਾ", "ਜਾਂ", "ਹੱਸਦਾ", "ਨਹੀਂ", "ਹੁੰਦਾ,", "ਸਗੋਂ", "ਹਸੱਣ", "ਤੇ", "ਮੁਸਕਰਾਉਣ", "ਦੀ", "ਆਦਤ", "ਪਾਉਣੀ", "ਪੈਂਦੀ", "ਹੈ", "ਤੇ", "ਇਹ", "ਪਾਈ", "ਜਾ", "ਸਕਦੀ", "ਹੈ", "|", "ਸਾਨੂੰ", "ਆਪਣੇ", "ਆਸ-ਪਾਸ", "ਕੁੱਝ", "ਅਜਿਹੇ", "ਵਿਅਕਤੀ", "ਜਰੂਰ", "ਮਿਲ", "ਜਾਣਗੇ,", "ਜੋ", "ਹਮੇਸ਼ਾ", "ਖਿੜੇ", "ਜਾਂ", "ਖੁਸ਼", "ਰਹਿੰਦੇ", "ਹਨ", "|", "ਗੰਭੀਰ", "ਤੋਂ", "ਗੰਭੀਰ", "ਮੁਸ਼ਕਿਲ", "ਸਮੇਂ", "ਵੀ", "ਉਨ੍ਹਾਂ", "ਦੇ", "ਮੂੰਹ", "ਉੱਤੇ", "ਚਿੰਤਾਂ", "ਜਾ", "ਗਮ", "ਦੀਆਂ", "ਲਕੀਰਾਂ", "ਨਹੀਂ", "ਦਿਖਾਈ", "ਦਿੰਦੀਆਂ", "|", "ਉਹ", "ਹੱਸਦੇ-ਖੇਡਦੇ", "ਹੀ", "ਆਪਣੀਆਂ", "ਸਮੱਸਿਆਵਾਂ", "ਹਾਲ", "ਕਰ", "ਲੈਂਦੇ", "ਹਨ", "|", "ਉਹ", "ਜੰਮਾਦਰੂ", "ਹੀ", "ਅਜਿਹੇ", "ਨਹੀਂ", "ਸਨ", "|", "ਉਨ੍ਹਾਂ", "ਨੇ", "ਮੁਸੀਬਤਾਂ", "ਨਾਲ", "ਖਿੜੇ", "ਮੱਥੇ", "ਘੁਲਣ", "ਦੀ", "ਆਦਤ", "ਪਾਈ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਉਨ੍ਹਾਂ", "ਕੋਲ", "ਬਹੁਤ", "ਸਾਰੇ", "ਸ਼ੇਅਰ", "ਅਤੇ", "ਹਾਸੇ", "ਦੀਆਂ", "ਨਿੱਕੀਆਂ-ਨਿੱਕਿਆ", "ਫੁਲਝੜੀਆਂ", "ਹੁੰਦਿਆਂ", "ਹਨ", "|", "ਹਰ", "ਮਨੁੱਖ", "ਅਜਿਹਾ", "ਜੀਵਨ", "ਗੁਜ਼ਾਰ", "ਸਕਦਾ", "ਹੈ", "|", "ਬੱਸ", "ਥੋੜ੍ਹੀ", "ਜਿਹੀ", "ਸੋਚ", "ਤੇ", "ਯੋਜਨਾਬੰਦੀ", "ਤੋਂ", "ਕੰਮ", "ਲੈਣ", "ਦੀ", "ਜ਼ਰੂਰਤ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਪਤੀ", "ਪਤਨੀ", "ਆਪਸ", "ਵਿੱਚ", "ਇੱਕ", "ਦੂਜੇ", "ਦੇ", "ਕੰਮ", "ਵਿੱਚ", "ਹੱਥ", "ਵਟਾਉਂਦੇ", "ਹਨ,", "ਸਕੂਲ", "ਪੜ੍ਹਦੇ", "ਬੱਚੇ", "ਨੂੰ", "ਇਨਾਮ", "ਮਿਲਨਾ,", , "ਕਿਸੇ", "ਪਿਆਰੇ", "ਦੀ", "ਚਿੱਟੀ", "ਦਾ", "ਸਾਲਾਂ", "ਬਾਅਦ", "ਇਕ", "ਦਮ", "ਆਉਣਾ,", "ਗਰਮੀ", "ਦੇ", "ਮੌਸਮ", "ਵਿੱਚ", "ਮੀਂਹ", "ਪੈਣਾ,", "ਗੁਆਂਢੀ", "ਦੇ", "ਘਰ", "ਅਖੰਡ-ਪਾਠ", "ਜਾਂ", "ਧੀ", "ਦਾ", "ਵਿਆਹ", "ਸਭ", "ਖੁਸ਼ੀ", "ਦੇ", "ਮੋਕੇ", "ਹਨ", "|", "ਸਾਨੂੰ", "ਇਨ੍ਹਾਂ", "ਵਿੱਚ", "ਗੱਜ-ਵੱਜ", "ਕੇ", "ਸ਼ਾਮਿਲ", "ਹੋਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਜਿਹੜੇ", "ਖੁਸ਼ੀਆ", "ਨੂੰ", "ਸੱਦਾ", "ਦੇਣਾ", "ਜਾਣਦੇ", "ਹਨ,", "ਉਹ", "ਆਂਡ-ਗੁਆਂਢ", "ਵਿੱਚ", "ਮਨਾਈ", "ਜਾ", "ਰਹੀ", "ਕਿਸੇ", "ਵੀ", "ਖੁਸ਼ੀ", "ਵਿੱਚ", "ਸ਼ਾਮਿਲ", "ਹੋ", "ਜਾਂਦੇ", "ਹਨ", "ਤੇ", "ਭੰਗੜੇ", "ਵੀ", "ਪਾਉਣ", "ਲੱਗ", "ਪੈਂਦੇ", "ਹਨ", "|", "ਸਾਡੇ", "ਵੱਡੇ-ਵਡੇਰਿਆਂ", "ਨੇ", "ਆਪਣੇ", "ਘਰਾਂ,", "ਪਰਿਵਾਰਾਂ", "ਅਤੇ", "ਸਮਾਜ", "ਵਿੱਚ", "ਖੁਸ਼ੀਆ", "ਨੂੰ", "ਸੱਦਾ", "ਦੇਣ", "ਤੇ", "ਬਹੁਤ", "ਸਾਰੇ", "ਢੰਗ", "ਕੱਢੇ", "ਹਨ", "|", "ਇਨ੍ਹਾਂ", "ਵਿੱਚ", "ਕੁੱਝ", "ਰਸਮਾਂ,", "ਰੀਤਾਂ,", "ਮੇਲਿਆਂ,", "ਸਮਾਗਮਾਂ", "ਤੇ", "ਤਿਉਹਾਰਾਂ", "ਦੇ", "ਰੂਪ", "ਵਿੱਚ", "ਅੱਜ", "ਵੀ", "ਤੁਰੇ", "ਆ", "ਰਹੇ", "ਹਨ", "|", "ਵਰਤਮਾਨ", "ਸਮੇਂ", "ਵਿੱਚ", "ਇਨ੍ਹਾਂ", "ਵਿੱਚ", "ਅਜ਼ਾਦੀ", "ਦਿਵਸ,", "ਗਣਤੰਤਰਤਾ", "ਦਿਵਸ,", "ਬਾਲ-ਦਿਵਸ", "ਅਧਿਆਪਕ-ਦਿਵਸ", "ਮਾਂ", "ਦਿਵਸ,", "ਪਿਤਾ", "ਦਿਵਸ,", "ਮਜ਼ਦੂਰ", "ਦਿਵਸ", "ਤੇ", "ਧਰਤੀ", "ਦਿਵਸ", "ਆਦਿ", "ਹੋਰ", "ਜੁੜੇ", "ਗਏ", "ਹਨ", "|",];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







