
@{

    ViewBag.Title = "Passage Typing : Lesson 28 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 28:&nbsp;&nbsp;</h4>

            <h5 style="text-align:right">Total Words: 439  </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਇੱਕਵੀਂ</span><span>ਸਦੀ</span><span>ਨੂੰ</span><span>'ਸਾਇੰਸ</span><span>ਦਾ</span><span>ਯੁੱਗ'</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>21ਵੀਂ</span><span>ਸਦੀ</span><span>ਦਾ</span><span>ਯੁੱਗ</span><span>ਹੋਰ</span><span>ਵੱਧ</span><span>ਪ੍ਰਾਪਤੀਆਂ</span><span>ਦਾ</span><span>ਸਮਾਂ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੀਆਂ</span><span>ਇਹ</span><span>ਪ੍ਰਾਪਤੀਆਂ</span><span>ਕੰਪਿਊਟਰ</span><span>ਮਸ਼ੀਨ</span><span>ਤੋਂ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਨੈਨੋ</span><span>ਮੈਕਰੋ</span><span>ਤਕਨਾਲੋਜੀ</span><span>ਤੱਕ</span><span>ਪਹੁੰਚ</span><span>ਗਈਆਂ</span><span>ਹਨ</span><span>।</span><span>ਸਾਇੰਸ</span><span>ਦੀਆਂ</span><span>ਇਹ</span><span>ਕਾਢਾਂ-ਖੋਜਾਂ</span><span>ਅਤੇ</span><span>ਪ੍ਰਾਪਤੀਆਂ</span><span>ਮਨੁੱਖ</span><span>ਦੇ</span><span>ਸੁੱਖਾਂ</span><span>ਵਿੱਚ</span><span>ਵਾਧੇ</span><span>ਲਈ</span><span>ਕੀਤੀਆਂ</span><span>ਗਈਆਂ</span><span>ਹਨ</span><span>ਕਿਉਂਕਿ</span><span>ਬਦਲ</span><span>ਰਹੇ</span><span>ਸਮੇਂ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਅਤੇ</span><span>ਮੰਗ</span><span>ਅਨੁਸਾਰ</span><span>ਨਿੱਤ</span><span>ਨਵੀਆਂ</span><span>ਕਾਢਾਂ</span><span>ਮਨੁੱਖ</span><span>ਦੀ</span><span>ਸੁੱਖ-ਸੁਵਿਧਾ</span><span>ਨੂੰ</span><span>ਧਿਆਨ</span><span>ਵਿੱਚ</span><span>ਰੱਖ</span><span>ਕੇ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਸੱਭਿਅਤਾ</span><span>ਦੇ</span><span>ਭਲੇ</span><span>ਦੇ</span><span>ਵਿਕਾਸ</span><span>ਲਈ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਮਨੁੱਖੀ</span><span>ਸੋਚਾਂ</span><span>ਨੂੰ,</span><span>ਕਲਪਨਾਵਾਂ</span><span>ਨੂੰ</span><span>ਸੱਚ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਵਿਖਾਉਣ</span><span>ਲਈ</span><span>ਕੀਤੇ</span><span>ਗਏ</span><span>ਹੈਰਾਨੀਜਨਕ</span><span>ਕਾਰਨਾਮੇ</span><span>ਹਨ</span><span>।</span><span>ਸੱਚ-ਮੁੱਚ,</span><span>ਸਾਇੰਸ</span><span>ਦੀਆਂ</span><span>ਕਾਢਾਂ</span><span>ਨੇ</span><span>ਪੂਰੀ</span><span>ਦੁਨੀਆਂ</span><span>ਦੀ</span><span>ਨੁਹਾਰ</span><span>ਹੀ</span><span>ਬਦਲ</span><span>ਦਿੱਤੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਉਸ</span><span>ਦੀ</span><span>ਇਹ</span><span>ਕੋਸ਼ਿਸ਼</span><span>ਲਗਾਤਾਰ</span><span>ਜਾਰੀ</span><span>ਹੈ,</span><span>ਪ੍ਰਕਿਰਤੀ</span><span>ਦੇ</span><span>ਰਹੱਸਾਂ</span><span>ਨੂੰ</span><span>ਜਾਣਨ</span><span>ਤੇ</span><span>ਸਮਝਣ</span><span>ਦੀ</span><span>ਤੀਬਰਤਾ</span><span>ਨੇ</span><span>ਸਮੁੱਚੇ</span><span>ਬ੍ਰਹਿਮੰਡ</span><span>ਤੱਕ</span><span>ਪੈਰ</span><span>ਪਸਾਰ</span><span>ਲਏ</span><span>ਹਨ</span><span>।</span><span>ਧਰਤੀ</span><span>ਤੋਂ</span><span>ਵੱਖਰੇ</span><span>ਗ੍ਰਹਿਆਂ</span><span>ਬਾਰੇ</span><span>ਤਾਂ</span><span>ਸਿਰਫ</span><span>ਖ਼ਿਆਲੀ</span><span>ਕਲਪਨਾਵਾਂ</span><span>ਹੀ</span><span>ਸਨ</span><span>ਪ੍ਰਾ</span><span>ਹੁਣ</span><span>ਅਸੀਂ</span><span>ਚੰਦਰਮਾ</span><span>'ਤੇ</span><span>ਆਬਾਦੀ</span><span>ਵਸਾਉਣ</span><span>ਦੀ</span><span>ਗੱਲ</span><span>ਕਰ</span><span>ਰਹੇ</span><span>ਹਾਂ,</span><span>ਮੰਗਲ</span><span>ਗ੍ਰਹਿ</span><span>'ਤੇ</span><span>ਪਹੁੰਚ</span><span>ਗਏ</span><span>ਹਾਂ</span><span>।</span><span>ਇਹ</span><span>ਕਮਾਲ</span><span>ਸਾਇੰਸਦਾਨਾਂ</span><span>ਦਾ</span><span>ਹੀ</span><span>ਹੈ</span><span>।</span><span>ਅੱਜ</span><span>ਦੇ</span><span>ਯੁੱਗ</span><span>ਵਿੱਚ</span><span>ਮਨੁੱਖ</span><span>ਦੀ</span><span>ਸੋਚ</span><span>ਵੀ</span><span>ਸਾਇੰਸੀ</span><span>ਜਿਹੀ</span><span>ਹੋ</span><span>ਗਈ</span><span>ਹੈ</span><span>।</span><span>ਅਸੀਂ</span><span>ਹਰ</span><span>ਗੱਲ</span><span>ਨੂੰ</span><span>ਵਿਗਿਆਨਕ</span><span>ਢੰਗ</span><span>ਨਾਲ</span><span>ਸੋਚਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਸਾਇੰਸ</span><span>ਦੀ</span><span>ਮਿਹਰ</span><span>ਸਦਕਾ</span><span>ਅਸੀਂ</span><span>ਬਹੁਤ</span><span>ਸਾਰੀਆਂ</span><span>ਸੁੱਖ-ਸੁਵਿਧਾਵਾਂ</span><span>ਦਾ</span><span>ਅਨੰਦ</span><span>ਮਾਣ</span><span>ਰਹੇ</span><span>ਹਾਂ</span><span>।</span><span>ਬਿਜਲੀ</span><span>ਅਤੇ</span><span>ਬਿਜਲੀ</span><span>ਨਾਲ</span><span>ਚੱਲਣ</span><span>ਵਾਲੇ</span><span>ਉਪਕਰਨਾਂ</span><span>ਵਿੱਚ</span><span>ਸਾਇੰਸ</span><span>ਨੇ</span><span>ਬੇਹਿਸਾਬੀ</span><span>ਤਰੱਕੀ</span><span>ਕੀਤੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਨਿੱਤ-ਨਵੀਆਂ</span><span>ਕਾਢਾਂ</span><span>ਕੀਤੀਆਂ</span><span>ਜਾ</span><span>ਰਹੀਆਂ</span><span>ਹਨ</span><span>ਜਿਹੜੀਆਂ</span><span>ਇਲੈਕਟ੍ਰੋਨਿਕਸ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਇਸ</span><span>ਦੀ</span><span>ਮਿਸਾਲ</span><span>ਅਸੀਂ</span><span>ਆਪਣੇ</span><span>ਘਰਾਂ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਲੈ</span><span>ਸਕਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਆਵਾਜਾਈ</span><span>ਦੇ</span><span>ਖੇਤਰ</span><span>ਵਿਚਲੀਆਂ</span><span>ਖੋਜ਼ਾਂ</span><span>ਨੇ</span><span>ਯਾਤਰਾ</span><span>ਦਾ</span><span>ਰਸਤਾ</span><span>ਸੁਖਾਲਾ</span><span>ਬਣਾ</span><span>ਦਿੱਤਾ</span><span>ਹੈ</span><span>।</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿਦੇਸ਼ਾਂ</span><span>ਦੀ</span><span>ਲੰਮੀ</span><span>ਯਾਤਰਾਂ</span><span>ਲਈ</span><span>ਬੱਸਾਂ,</span><span>ਗੱਡੀਆਂ</span><span>ਤੇ</span><span>ਸਫ਼ਰ</span><span>ਕੀਤਾ</span><span>ਜਾ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>।</span><span>ਖੇਤੀਬਾੜੀ</span><span>ਦੇ</span><span>ਸਾਧਨਾਂ</span><span>ਵਿੱਚ</span><span>ਸਾਇੰਸ</span><span>ਨੇ</span><span>ਤਰੱਕੀ</span><span>ਕੀਤੀ</span><span>ਹੈ</span><span>।</span><span>ਖੇਤੀਬਾੜੀ</span><span>ਦੇ</span><span>ਸਾਧਨ</span><span>ਜਿਵੇਂ</span><span>ਟ੍ਰੈਕਟਰ,</span><span>ਟਿਊਵੈੱਲ,</span><span>ਕੰਬਾਇਨ</span><span>ਆਦਿ</span><span>।</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਨੀਵੇਂ</span><span>ਹੋ</span><span>ਰਹੇ</span><span>ਧਰਤੀ</span><span>ਦੇ</span><span>ਪਾਣੀ</span><span>ਦੇ</span><span>ਸਤਰ</span><span>ਨੂੰ</span><span>ਧਿਆਨ</span><span>ਵਿੱਚ</span><span>ਰੱਖਦਿਆਂ</span><span>ਨਵੀਆਂ</span><span>ਤਕਨੀਕਾਂ</span><span>ਰਾਹੀਂ</span><span>ਫਸਲਾਂ</span><span>ਦੀ</span><span>ਬਿਜਾਈ</span><span>ਕਰਨ</span><span>ਦੇ</span><span>ਤਰੀਕੇ</span><span>ਅਪਣਾਏ</span><span>ਜਾ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>।</span><span>ਮੋਬਾਇਲ</span><span>ਫ਼ੋਨ</span><span>ਵੀ</span><span>ਸਾਇੰਸ</span><span>ਦੀ</span><span>ਮਹਤੱਵਪੂਰਨ</span><span>ਕਾਢਾਂ</span><span>ਵਿੱਚੋ</span><span>ਇੱਕ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਨਿੱਕੇ</span><span>ਜਿਹੇ</span><span>ਯੰਤਰ</span><span>ਨਾਲ</span><span>ਸਿਰਫ</span><span>ਅੱਸੀਂ</span><span>ਦੂਸਰੀਆਂ</span><span>ਨਾਲ</span><span>ਗੱਲ-ਬਾਤ</span><span>ਹੀ</span><span>ਨਹੀਂ</span><span>ਕਰ</span><span>ਸਕਦੇ</span><span>ਬਲਕਿ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਫ਼ੋਟੋ</span><span>ਵੀ</span><span>ਵੇਖ</span><span>ਸਕਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਇਸੇ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਬੇਸ਼ੁਮਾਰ</span><span>ਫੰਕਸ਼ਨ</span><span>ਹਨ</span><span>ਜਿਵੇਂ</span><span>ਕੈਲਕੂਲੇਟਰ,</span><span>ਗੇਮਾਂ</span><span>ਆਦਿ</span><span>।</span><span>ਸਾਇੰਸ</span><span>ਦੀਆਂ</span><span>ਕਾਢਾਂ</span><span>ਨਾਲ</span><span>ਜਿੱਥੇ</span><span>ਉਦਯੌਗਿਕ</span><span>ਕ੍ਰਾਂਤੀ</span><span>ਹੋਈ</span><span>ਅਤੇ</span><span>ਬੇਸ਼ੁਮਾਰ</span><span>ਮਸ਼ੀਨਰੀ</span><span>ਹੋਂਦ</span><span>ਵਿੱਚ</span><span>ਆਈ,</span><span>ਉੱਥੇ</span><span>ਇਸ</span><span>ਕਾਢ</span><span>ਨੇ</span><span>ਲੱਖਾਂ</span><span>ਹੀ</span><span>ਮਜ਼ਦੂਰ</span><span>ਬੇਰੁਜ਼ਗਾਰ</span><span>ਕਰ</span><span>ਦਿੱਤੇ</span><span>ਹਨ</span><span>ਜਿਸ</span><span>ਨਾਲ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਵਧ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸੇ</span><span>ਤਰ੍ਹਾਂ</span><span>ਜਿੱਥੇ</span><span>ਡਾਕਟਰੀ</span><span>ਖੇਤਰ</span><span>ਵਿੱਚ</span><span>ਮਨੁੱਖੀ</span><span>ਸ਼ਰੀਰ</span><span>ਦੀ</span><span>ਅੰਦਰੂਨੀ</span><span>ਜਾਂਚ</span><span>ਲਈ</span><span>ਅਲਟਰਾਸਾਊਂਡ,</span><span>ਸਕੈਨ</span><span>ਆਦਿ</span><span>ਦੀ</span><span>ਕਾਢ</span><span>ਕੱਢੀ</span><span>ਗਈ</span><span>ਸੀ,</span><span>ਇਸ</span><span>ਦੀ</span><span>ਦੁਰਵਰਤੋਂ</span><span>ਨਾਲ</span><span>ਭਰੂਣ-ਹੱਤਿਆ</span><span>ਵਰਗੀਆਂ</span><span>ਬੁਰਾਈਆਂ</span><span>ਨੇ</span><span>ਜਨਮ</span><span>ਲਿਆ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    @*<script type="text/javascript">

        var wordList = ["ਇੱਕਵੀਂ", "ਸਦੀ", "ਨੂੰ", "'ਸਾਇੰਸ", "ਦਾ", "ਯੁੱਗ'", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "ਅਤੇ", "21ਵੀਂ", "ਸਦੀ", "ਦਾ", "ਯੁੱਗ", "ਹੋਰ", "ਵੱਧ", "ਪ੍ਰਾਪਤੀਆਂ", "ਦਾ", "ਸਮਾਂ", "ਹੈ", "।", "ਇਸ", "ਦੀਆਂ", "ਇਹ", "ਪ੍ਰਾਪਤੀਆਂ", "ਕੰਪਿਊਟਰ", "ਮਸ਼ੀਨ", "ਤੋਂ", "ਲੈ", "ਕੇ", "ਨੈਨੋ", "ਮੈਕਰੋ", "ਤਕਨਾਲੋਜੀ", "ਤੱਕ", "ਪਹੁੰਚ", "ਗਈਆਂ", "ਹਨ", "।", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਇਹ", "ਕਾਢਾਂ-ਖੋਜਾਂ","ਅਤੇ", "ਪ੍ਰਾਪਤੀਆਂ", "ਮਨੁੱਖ", "ਦੇ", "ਸੁੱਖਾਂ", "ਵਿੱਚ", "ਵਾਧੇ", "ਲਈ", "ਕੀਤੀਆਂ", "ਗਈਆਂ", "ਹਨ", "ਕਿਉਂਕਿ", "ਬਦਲ", "ਰਹੇ", "ਸਮੇਂ", "ਦੀ", "ਲੋੜ", "ਅਤੇ", "ਮੰਗ", "ਅਨੁਸਾਰ", "ਨਿੱਤ", "ਨਵੀਆਂ", "ਕਾਢਾਂ", "ਮਨੁੱਖ", "ਦੀ", "ਸੁੱਖ-ਸੁਵਿਧਾ", "ਨੂੰ", "ਧਿਆਨ", "ਵਿੱਚ", "ਰੱਖ", "ਕੇ", "ਹੁੰਦੀਆਂ", "ਹਨ", "।", "ਇਹ", "ਸੱਭਿਅਤਾ", "ਦੇ", "ਭਲੇ", "ਦੇ", "ਵਿਕਾਸ", "ਲਈ", "ਹਨ", "।", "ਇਹ", "ਮਨੁੱਖੀ", "ਸੋਚਾਂ", "ਨੂੰ,", "ਕਲਪਨਾਵਾਂ", "ਨੂੰ", "ਸੱਚ", "ਕਰ", "ਕੇ", "ਵਿਖਾਉਣ", "ਲਈ", "ਕੀਤੇ", "ਗਏ", "ਹੈਰਾਨੀਜਨਕ", "ਕਾਰਨਾਮੇ", "ਹਨ", "।", "ਸੱਚ-ਮੁੱਚ,", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਕਾਢਾਂ", "ਨੇ", "ਪੂਰੀ", "ਦੁਨੀਆਂ", "ਦੀ", "ਨੁਹਾਰ", "ਹੀ", "ਬਦਲ", "ਦਿੱਤੀ", "ਹੈ", "ਤੇ", "ਉਸ", "ਦੀ", "ਇਹ", "ਕੋਸ਼ਿਸ਼", "ਲਗਾਤਾਰ", "ਜਾਰੀ", "ਹੈ,","ਪ੍ਰਕਿਰਤੀ", "ਦੇ", "ਰਹੱਸਾਂ", "ਨੂੰ", "ਜਾਣਨ", "ਤੇ", "ਸਮਝਣ", "ਦੀ", "ਤੀਬਰਤਾ", "ਨੇ", "ਸਮੁੱਚੇ", "ਬ੍ਰਹਿਮੰਡ", "ਤੱਕ", "ਪੈਰ", "ਪਸਾਰ", "ਲਏ", "ਹਨ", "।", "ਧਰਤੀ", "ਤੋਂ", "ਵੱਖਰੇ", "ਗ੍ਰਹਿਆਂ", "ਬਾਰੇ", "ਤਾਂ", "ਸਿਰਫ", "ਖ਼ਿਆਲੀ", "ਕਲਪਨਾਵਾਂ", "ਹੀ", "ਸਨ", "ਪ੍ਰਾ", "ਹੁਣ", "ਅਸੀਂ", "ਚੰਦਰਮਾ", "'ਤੇ", "ਆਬਾਦੀ", "ਵਸਾਉਣ", "ਦੀ", "ਗੱਲ", "ਕਰ", "ਰਹੇ", "ਹਾਂ,", "ਮੰਗਲ", "ਗ੍ਰਹਿ", "'ਤੇ", "ਪਹੁੰਚ", "ਗਏ", "ਹਾਂ", "।", "ਇਹ", "ਕਮਾਲ", "ਸਾਇੰਸਦਾਨਾਂ", "ਦਾ", "ਹੀ", "ਹੈ", "।", "ਅੱਜ", "ਦੇ", "ਯੁੱਗ", "ਵਿੱਚ", "ਮਨੁੱਖ", "ਦੀ", "ਸੋਚ", "ਵੀ", "ਸਾਇੰਸੀ", "ਜਿਹੀ", "ਹੋ", "ਗਈ", "ਹੈ", "।", "ਅਸੀਂ", "ਹਰ", "ਗੱਲ", "ਨੂੰ", "ਵਿਗਿਆਨਕ", "ਢੰਗ", "ਨਾਲ", "ਸੋਚਦੇ", "ਹਾਂ", "।", "ਸਾਇੰਸ", "ਦੀ", "ਮਿਹਰ", "ਸਦਕਾ", "ਅਸੀਂ", "ਬਹੁਤ", "ਸਾਰੀਆਂ", "ਸੁੱਖ-ਸੁਵਿਧਾਵਾਂ", "ਦਾ", "ਅਨੰਦ", "ਮਾਣ", "ਰਹੇ", "ਹਾਂ", "।", "ਬਿਜਲੀ", "ਅਤੇ", "ਬਿਜਲੀ", "ਨਾਲ", "ਚੱਲਣ", "ਵਾਲੇ", "ਉਪਕਰਨਾਂ", "ਵਿੱਚ", "ਸਾਇੰਸ", "ਨੇ", "ਬੇਹਿਸਾਬੀ", "ਤਰੱਕੀ", "ਕੀਤੀ", "ਹੈ", "ਤੇ", "ਨਿੱਤ-ਨਵੀਆਂ", "ਕਾਢਾਂ", "ਕੀਤੀਆਂ", "ਜਾ", "ਰਹੀਆਂ", "ਹਨ", "ਜਿਹੜੀਆਂ", "ਇਲੈਕਟ੍ਰੋਨਿਕਸ", "ਹੁੰਦੀਆਂ", "ਹਨ", "।", "ਇਸ", "ਦੀ", "ਮਿਸਾਲ", "ਅਸੀਂ", "ਆਪਣੇ", "ਘਰਾਂ", "ਵਿੱਚ", "ਹੀ", "ਲੈ", "ਸਕਦੇ", "ਹਾਂ", "।", "ਆਵਾਜਾਈ", "ਦੇ", "ਖੇਤਰ", "ਵਿਚਲੀਆਂ", "ਖੋਜ਼ਾਂ", "ਨੇ", "ਯਾਤਰਾ", "ਦਾ", "ਰਸਤਾ", "ਸੁਖਾਲਾ", "ਬਣਾ", "ਦਿੱਤਾ", "ਹੈ", "।", "ਦੇਸ਼ਾਂ", "ਵਿਦੇਸ਼ਾਂ", "ਦੀ", "ਲੰਮੀ", "ਯਾਤਰਾਂ", "ਲਈ", "ਬੱਸਾਂ,", "ਗੱਡੀਆਂ", "ਤੇ", "ਸਫ਼ਰ", "ਕੀਤਾ", "ਜਾ", "ਸਕਦਾ", "ਹੈ", "।", "ਖੇਤੀਬਾੜੀ", "ਦੇ", "ਸਾਧਨਾਂ", "ਵਿੱਚ", "ਸਾਇੰਸ", "ਨੇ", "ਤਰੱਕੀ", "ਕੀਤੀ", "ਹੈ", "।", "ਖੇਤੀਬਾੜੀ", "ਦੇ", "ਸਾਧਨ", "ਜਿਵੇਂ", "ਟ੍ਰੈਕਟਰ,",  "ਟਿਊਵੈੱਲ,",  "ਕੰਬਾਇਨ", "ਆਦਿ", "।", "ਦਿਨੋ-ਦਿਨ", "ਨੀਵੇਂ", "ਹੋ", "ਰਹੇ", "ਧਰਤੀ", "ਦੇ", "ਪਾਣੀ", "ਦੇ", "ਸਤਰ", "ਨੂੰ", "ਧਿਆਨ", "ਵਿੱਚ", "ਰੱਖਦਿਆਂ", "ਨਵੀਆਂ", "ਤਕਨੀਕਾਂ", "ਰਾਹੀਂ", "ਫਸਲਾਂ", "ਦੀ", "ਬਿਜਾਈ", "ਕਰਨ", "ਦੇ", "ਤਰੀਕੇ", "ਅਪਣਾਏ", "ਜਾ", "ਰਹੇ", "ਹਨ", "।", "ਮੋਬਾਇਲ", "ਫ਼ੋਨ", "ਵੀ", "ਸਾਇੰਸ", "ਦੀ", "ਮਹਤੱਵਪੂਰਨ", "ਕਾਢਾਂ", "ਵਿੱਚੋ", "ਇੱਕ", "ਹੈ", "।", "ਇਸ", "ਨਿੱਕੇ", "ਜਿਹੇ", "ਯੰਤਰ", "ਨਾਲ", "ਸਿਰਫ", "ਅੱਸੀਂ", "ਦੂਸਰੀਆਂ", "ਨਾਲ", "ਗੱਲ-ਬਾਤ", "ਹੀ", "ਨਹੀਂ", "ਕਰ", "ਸਕਦੇ", "ਬਲਕਿ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਫ਼ੋਟੋ", "ਵੀ", "ਵੇਖ", "ਸਕਦੇ", "ਹਾਂ", "।", "ਇਸੇ", "ਵਿੱਚ", "ਹੀ", "ਬੇਸ਼ੁਮਾਰ", "ਫੰਕਸ਼ਨ", "ਹਨ", "ਜਿਵੇਂ", "ਕੈਲਕੂਲੇਟਰ,", "ਗੇਮਾਂ", "ਆਦਿ", "।", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਕਾਢਾਂ", "ਨਾਲ", "ਜਿੱਥੇ", "ਉਦਯੌਗਿਕ", "ਕ੍ਰਾਂਤੀ", "ਹੋਈ", "ਅਤੇ", "ਬੇਸ਼ੁਮਾਰ", "ਮਸ਼ੀਨਰੀ", "ਹੋਂਦ", "ਵਿੱਚ", "ਆਈ,", "ਉੱਥੇ", "ਇਸ", "ਕਾਢ", "ਨੇ", "ਲੱਖਾਂ", "ਹੀ", "ਮਜ਼ਦੂਰ", "ਬੇਰੁਜ਼ਗਾਰ", "ਕਰ", "ਦਿੱਤੇ", "ਹਨ", "ਜਿਸ", "ਨਾਲ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦਿਨੋ-ਦਿਨ", "ਵਧ", "ਰਹੀ", "ਹੈ", "।", "ਇਸੇ", "ਤਰ੍ਹਾਂ", "ਜਿੱਥੇ", "ਡਾਕਟਰੀ", "ਖੇਤਰ", "ਵਿੱਚ", "ਮਨੁੱਖੀ", "ਸ਼ਰੀਰ", "ਦੀ", "ਅੰਦਰੂਨੀ", "ਜਾਂਚ", "ਲਈ", "ਅਲਟਰਾਸਾਊਂਡ,", "ਸਕੈਨ", "ਆਦਿ", "ਦੀ", "ਕਾਢ", "ਕੱਢੀ", "ਗਈ", "ਸੀ,", "ਇਸ", "ਦੀ", "ਦੁਰਵਰਤੋਂ", "ਨਾਲ", "ਭਰੂਣ-ਹੱਤਿਆ", "ਵਰਗੀਆਂ", "ਬੁਰਾਈਆਂ", "ਨੇ", "ਜਨਮ", "ਲਿਆ", "ਹੈ", "।"];
            for (i = 0; i < wordList.length; i++) {
                console.log(i + ":" + wordList[i]);
            }
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                //console.log(i + ":" + wordSpan);
                wordSection.innerHTML += wordSpan;
            }
            var txt = "";
            $("#word-section span").each(function () {
                txt += "<span>" + $(this).text() + "</span>";
            });
            console.log(txt);
        </script>*@

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਇੱਕਵੀਂ", "ਸਦੀ", "ਨੂੰ", "'ਸਾਇੰਸ", "ਦਾ", "ਯੁੱਗ'", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "ਅਤੇ", "21ਵੀਂ", "ਸਦੀ", "ਦਾ", "ਯੁੱਗ", "ਹੋਰ", "ਵੱਧ", "ਪ੍ਰਾਪਤੀਆਂ", "ਦਾ", "ਸਮਾਂ", "ਹੈ", "।", "ਇਸ", "ਦੀਆਂ", "ਇਹ", "ਪ੍ਰਾਪਤੀਆਂ", "ਕੰਪਿਊਟਰ", "ਮਸ਼ੀਨ", "ਤੋਂ", "ਲੈ", "ਕੇ", "ਨੈਨੋ", "ਮੈਕਰੋ", "ਤਕਨਾਲੋਜੀ", "ਤੱਕ", "ਪਹੁੰਚ", "ਗਈਆਂ", "ਹਨ", "।", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਇਹ", "ਕਾਢਾਂ-ਖੋਜਾਂ", "ਅਤੇ", "ਪ੍ਰਾਪਤੀਆਂ", "ਮਨੁੱਖ", "ਦੇ", "ਸੁੱਖਾਂ", "ਵਿੱਚ", "ਵਾਧੇ", "ਲਈ", "ਕੀਤੀਆਂ", "ਗਈਆਂ", "ਹਨ", "ਕਿਉਂਕਿ", "ਬਦਲ", "ਰਹੇ", "ਸਮੇਂ", "ਦੀ", "ਲੋੜ", "ਅਤੇ", "ਮੰਗ", "ਅਨੁਸਾਰ", "ਨਿੱਤ", "ਨਵੀਆਂ", "ਕਾਢਾਂ", "ਮਨੁੱਖ", "ਦੀ", "ਸੁੱਖ-ਸੁਵਿਧਾ", "ਨੂੰ", "ਧਿਆਨ", "ਵਿੱਚ", "ਰੱਖ", "ਕੇ", "ਹੁੰਦੀਆਂ", "ਹਨ", "।", "ਇਹ", "ਸੱਭਿਅਤਾ", "ਦੇ", "ਭਲੇ", "ਦੇ", "ਵਿਕਾਸ", "ਲਈ", "ਹਨ", "।", "ਇਹ", "ਮਨੁੱਖੀ", "ਸੋਚਾਂ", "ਨੂੰ,", "ਕਲਪਨਾਵਾਂ", "ਨੂੰ", "ਸੱਚ", "ਕਰ", "ਕੇ", "ਵਿਖਾਉਣ", "ਲਈ", "ਕੀਤੇ", "ਗਏ", "ਹੈਰਾਨੀਜਨਕ", "ਕਾਰਨਾਮੇ", "ਹਨ", "।", "ਸੱਚ-ਮੁੱਚ,", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਕਾਢਾਂ", "ਨੇ", "ਪੂਰੀ", "ਦੁਨੀਆਂ", "ਦੀ", "ਨੁਹਾਰ", "ਹੀ", "ਬਦਲ", "ਦਿੱਤੀ", "ਹੈ", "ਤੇ", "ਉਸ", "ਦੀ", "ਇਹ", "ਕੋਸ਼ਿਸ਼", "ਲਗਾਤਾਰ", "ਜਾਰੀ", "ਹੈ,", "ਪ੍ਰਕਿਰਤੀ", "ਦੇ", "ਰਹੱਸਾਂ", "ਨੂੰ", "ਜਾਣਨ", "ਤੇ", "ਸਮਝਣ", "ਦੀ", "ਤੀਬਰਤਾ", "ਨੇ", "ਸਮੁੱਚੇ", "ਬ੍ਰਹਿਮੰਡ", "ਤੱਕ", "ਪੈਰ", "ਪਸਾਰ", "ਲਏ", "ਹਨ", "।", "ਧਰਤੀ", "ਤੋਂ", "ਵੱਖਰੇ", "ਗ੍ਰਹਿਆਂ", "ਬਾਰੇ", "ਤਾਂ", "ਸਿਰਫ", "ਖ਼ਿਆਲੀ", "ਕਲਪਨਾਵਾਂ", "ਹੀ", "ਸਨ", "ਪ੍ਰਾ", "ਹੁਣ", "ਅਸੀਂ", "ਚੰਦਰਮਾ", "'ਤੇ", "ਆਬਾਦੀ", "ਵਸਾਉਣ", "ਦੀ", "ਗੱਲ", "ਕਰ", "ਰਹੇ", "ਹਾਂ,", "ਮੰਗਲ", "ਗ੍ਰਹਿ", "'ਤੇ", "ਪਹੁੰਚ", "ਗਏ", "ਹਾਂ", "।", "ਇਹ", "ਕਮਾਲ", "ਸਾਇੰਸਦਾਨਾਂ", "ਦਾ", "ਹੀ", "ਹੈ", "।", "ਅੱਜ", "ਦੇ", "ਯੁੱਗ", "ਵਿੱਚ", "ਮਨੁੱਖ", "ਦੀ", "ਸੋਚ", "ਵੀ", "ਸਾਇੰਸੀ", "ਜਿਹੀ", "ਹੋ", "ਗਈ", "ਹੈ", "।", "ਅਸੀਂ", "ਹਰ", "ਗੱਲ", "ਨੂੰ", "ਵਿਗਿਆਨਕ", "ਢੰਗ", "ਨਾਲ", "ਸੋਚਦੇ", "ਹਾਂ", "।", "ਸਾਇੰਸ", "ਦੀ", "ਮਿਹਰ", "ਸਦਕਾ", "ਅਸੀਂ", "ਬਹੁਤ", "ਸਾਰੀਆਂ", "ਸੁੱਖ-ਸੁਵਿਧਾਵਾਂ", "ਦਾ", "ਅਨੰਦ", "ਮਾਣ", "ਰਹੇ", "ਹਾਂ", "।", "ਬਿਜਲੀ", "ਅਤੇ", "ਬਿਜਲੀ", "ਨਾਲ", "ਚੱਲਣ", "ਵਾਲੇ", "ਉਪਕਰਨਾਂ", "ਵਿੱਚ", "ਸਾਇੰਸ", "ਨੇ", "ਬੇਹਿਸਾਬੀ", "ਤਰੱਕੀ", "ਕੀਤੀ", "ਹੈ", "ਤੇ", "ਨਿੱਤ-ਨਵੀਆਂ", "ਕਾਢਾਂ", "ਕੀਤੀਆਂ", "ਜਾ", "ਰਹੀਆਂ", "ਹਨ", "ਜਿਹੜੀਆਂ", "ਇਲੈਕਟ੍ਰੋਨਿਕਸ", "ਹੁੰਦੀਆਂ", "ਹਨ", "।", "ਇਸ", "ਦੀ", "ਮਿਸਾਲ", "ਅਸੀਂ", "ਆਪਣੇ", "ਘਰਾਂ", "ਵਿੱਚ", "ਹੀ", "ਲੈ", "ਸਕਦੇ", "ਹਾਂ", "।", "ਆਵਾਜਾਈ", "ਦੇ", "ਖੇਤਰ", "ਵਿਚਲੀਆਂ", "ਖੋਜ਼ਾਂ", "ਨੇ", "ਯਾਤਰਾ", "ਦਾ", "ਰਸਤਾ", "ਸੁਖਾਲਾ", "ਬਣਾ", "ਦਿੱਤਾ", "ਹੈ", "।", "ਦੇਸ਼ਾਂ", "ਵਿਦੇਸ਼ਾਂ", "ਦੀ", "ਲੰਮੀ", "ਯਾਤਰਾਂ", "ਲਈ", "ਬੱਸਾਂ,", "ਗੱਡੀਆਂ", "ਤੇ", "ਸਫ਼ਰ", "ਕੀਤਾ", "ਜਾ", "ਸਕਦਾ", "ਹੈ", "।", "ਖੇਤੀਬਾੜੀ", "ਦੇ", "ਸਾਧਨਾਂ", "ਵਿੱਚ", "ਸਾਇੰਸ", "ਨੇ", "ਤਰੱਕੀ", "ਕੀਤੀ", "ਹੈ", "।", "ਖੇਤੀਬਾੜੀ", "ਦੇ", "ਸਾਧਨ", "ਜਿਵੇਂ", "ਟ੍ਰੈਕਟਰ,", "ਟਿਊਵੈੱਲ,", "ਕੰਬਾਇਨ", "ਆਦਿ", "।", "ਦਿਨੋ-ਦਿਨ", "ਨੀਵੇਂ", "ਹੋ", "ਰਹੇ", "ਧਰਤੀ", "ਦੇ", "ਪਾਣੀ", "ਦੇ", "ਸਤਰ", "ਨੂੰ", "ਧਿਆਨ", "ਵਿੱਚ", "ਰੱਖਦਿਆਂ", "ਨਵੀਆਂ", "ਤਕਨੀਕਾਂ", "ਰਾਹੀਂ", "ਫਸਲਾਂ", "ਦੀ", "ਬਿਜਾਈ", "ਕਰਨ", "ਦੇ", "ਤਰੀਕੇ", "ਅਪਣਾਏ", "ਜਾ", "ਰਹੇ", "ਹਨ", "।", "ਮੋਬਾਇਲ", "ਫ਼ੋਨ", "ਵੀ", "ਸਾਇੰਸ", "ਦੀ", "ਮਹਤੱਵਪੂਰਨ", "ਕਾਢਾਂ", "ਵਿੱਚੋ", "ਇੱਕ", "ਹੈ", "।", "ਇਸ", "ਨਿੱਕੇ", "ਜਿਹੇ", "ਯੰਤਰ", "ਨਾਲ", "ਸਿਰਫ", "ਅੱਸੀਂ", "ਦੂਸਰੀਆਂ", "ਨਾਲ", "ਗੱਲ-ਬਾਤ", "ਹੀ", "ਨਹੀਂ", "ਕਰ", "ਸਕਦੇ", "ਬਲਕਿ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਫ਼ੋਟੋ", "ਵੀ", "ਵੇਖ", "ਸਕਦੇ", "ਹਾਂ", "।", "ਇਸੇ", "ਵਿੱਚ", "ਹੀ", "ਬੇਸ਼ੁਮਾਰ", "ਫੰਕਸ਼ਨ", "ਹਨ", "ਜਿਵੇਂ", "ਕੈਲਕੂਲੇਟਰ,", "ਗੇਮਾਂ", "ਆਦਿ", "।", "ਸਾਇੰਸ", "ਦੀਆਂ", "ਕਾਢਾਂ", "ਨਾਲ", "ਜਿੱਥੇ", "ਉਦਯੌਗਿਕ", "ਕ੍ਰਾਂਤੀ", "ਹੋਈ", "ਅਤੇ", "ਬੇਸ਼ੁਮਾਰ", "ਮਸ਼ੀਨਰੀ", "ਹੋਂਦ", "ਵਿੱਚ", "ਆਈ,", "ਉੱਥੇ", "ਇਸ", "ਕਾਢ", "ਨੇ", "ਲੱਖਾਂ", "ਹੀ", "ਮਜ਼ਦੂਰ", "ਬੇਰੁਜ਼ਗਾਰ", "ਕਰ", "ਦਿੱਤੇ", "ਹਨ", "ਜਿਸ", "ਨਾਲ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦਿਨੋ-ਦਿਨ", "ਵਧ", "ਰਹੀ", "ਹੈ", "।", "ਇਸੇ", "ਤਰ੍ਹਾਂ", "ਜਿੱਥੇ", "ਡਾਕਟਰੀ", "ਖੇਤਰ", "ਵਿੱਚ", "ਮਨੁੱਖੀ", "ਸ਼ਰੀਰ", "ਦੀ", "ਅੰਦਰੂਨੀ", "ਜਾਂਚ", "ਲਈ", "ਅਲਟਰਾਸਾਊਂਡ,", "ਸਕੈਨ", "ਆਦਿ", "ਦੀ", "ਕਾਢ", "ਕੱਢੀ", "ਗਈ", "ਸੀ,", "ਇਸ", "ਦੀ", "ਦੁਰਵਰਤੋਂ", "ਨਾਲ", "ਭਰੂਣ-ਹੱਤਿਆ", "ਵਰਗੀਆਂ", "ਬੁਰਾਈਆਂ", "ਨੇ", "ਜਨਮ", "ਲਿਆ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







