
@{

                ViewBag.Title = "Passage Typing : Lesson 25 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 25:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "26" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 499       </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਅੱਜ</span><span>ਸਾਰੀ</span><span>ਧਰਤੀ</span><span>'ਤੇ</span><span>ਹੀ</span><span>ਗਲੇਬਲ</span><span>ਵਰਮਿੰਗ</span><span>ਦਾ</span><span>ਖਤਰਾ</span><span>ਮੰਡਰਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਧਰਤੀ</span><span>ਦੀ</span><span>ਤਪਸ</span><span>ਵਧ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>|</span><span>ਗਲੇਸ਼ੀਆਰ</span><span>ਪਿਘਲ</span><span>ਰਹੇ</span><span>ਹਨ,</span><span>ਮੌਸਮ</span><span>ਬਦਲ</span><span>ਰਹੇ</span><span>ਹਨ,</span><span>ਬਿਮਾਰੀਆਂ</span><span>ਵਧ</span><span>ਰਹੀਆਂ</span><span>ਹਨ,</span><span>ਜੀਵਨ</span><span>ਦੁਰਲੱਭ</span><span>ਹੀ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>ਵਾਤਾਵਰਨ</span><span>ਦੁਸਿਤ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>|</span><span>ਹਵਾ</span><span>ਪਾਣੀ</span><span>ਮਿੱਟੀ</span><span>ਆਦਿ</span><span>ਸਭ</span><span>ਜ਼ਹਿਰੀ</span><span>ਹੋ</span><span>ਗਏ</span><span>ਹਨ</span><span>|</span><span>ਪਾਣੀ</span><span>ਦਾ</span><span>ਪੱਧਰ</span><span>ਦਿਨ-ਬ-ਦਿਨ</span><span>ਨੀਵਾਂ</span><span>ਹੋ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਪੀਣ</span><span>ਯੋਗ</span><span>ਪਾਣੀ</span><span>ਵੀ</span><span>ਘਟ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>|</span><span>ਜਿਹੜਾ</span><span>ਉਪਲਬਦ</span><span>ਹੈ</span><span>ਉਹ</span><span>ਹੀ</span><span>ਜ਼ਹਿਰੀਲਾ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਵਰਤਣਯੋਗ</span><span>ਹੈ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਖਤਰਿਆਂ</span><span>ਦੇ</span><span>ਕਈ</span><span>ਕਾਰਨ</span><span>ਹੋਰ</span><span>ਵੀ</span><span>ਹਨ</span><span>ਪਰ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਅਹਿਮ</span><span>ਕਾਰਨ</span><span>ਹੈ-</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਕਟਾਈ,</span><span>ਜੰਗਲ</span><span>ਦਾ</span><span>ਖਾਤਮਾ/ਅੱਗ</span><span>ਲੱਗਣਾ,</span><span>ਵੱਡੀਆਂ-ਵੱਡੀਆਂ</span><span>ਇਮਾਰਤਾਂ</span><span></span><span>ਫੈਕਟਰੀਆਂ</span><span>ਦਾ</span><span>ਪ੍ਰਦੂਸ਼ਣ/ਉਸਰਨਾ</span><span>ਆਦਿ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਦੀ</span><span>ਸਵਾਰਥੀ</span><span>ਸੋਚ</span><span>ਨੇ</span><span>ਪੈਸਿਆਂ</span><span>ਦੇ</span><span>ਲਾਲਚ</span><span>ਵਿਚ</span><span>ਰੁੱਖਾਂ</span><span>ਦੇ</span><span>ਰੁੱਖ</span><span>ਵੱਢ</span><span>ਕੇ</span><span>ਉੱਚੀਆਂ-ਲੰਮੀਆਂ</span><span>ਇਮਾਰਤਾਂ,</span><span>ਪ੍ਰਦੂਸ਼ਿਤ</span><span>ਕਰਨ</span><span>ਵਾਲਿਆਂ</span><span>ਫੈਕਟਰੀਆਂ</span><span>ਤੇ</span><span>ਵੱਡੀਆਂ-ਵੱਡੀਆਂ</span><span>ਸੜਕਾਂ</span><span>ਦਾ</span><span>ਨਿਰਮਾਣ</span><span>ਕਰ</span><span>ਲਿਆ</span><span>ਹੈ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਨੇ</span><span>ਆਪਣੀ</span><span>ਲੋੜ</span><span>ਪੂਰੀ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਪਹਿਲਾਂ</span><span>ਤੋਂ</span><span>ਨਿਸੱਰੇ</span><span>ਹੋਏ</span><span>ਰੁੱਖ</span><span>ਝੱਟ</span><span>ਹੀ</span><span>ਵੱਢ</span><span>ਦਿੱਤੇ</span><span>ਪਰ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਥਾਂ</span><span>ਹੋਰ</span><span>ਰੁੱਖ</span><span>ਲਾਉਣ</span><span>ਬਾਰੇ</span><span>ਸੋਚਿਆ</span><span>ਵੀ</span><span>ਨਾ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਇਹ</span><span>ਕਿਉੇਂ</span><span>ਭੁੱਲ</span><span>ਗਿਆ</span><span>ਕਿ</span><span>ਰੁੱਖ</span><span>ਤਾਂ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਅਨਮੋਲ</span><span>ਖ਼ਜ਼ਾਨਾ</span><span>ਹਨ</span><span>|</span><span>ਕੁਦਰਤ</span><span>ਵੱਲੋਂ</span><span>ਮਿਲਿਆ</span><span>ਅਨਮੋਲ</span><span>ਤੋਹਫ਼ਾ</span><span>ਹਨ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਹੋਦ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਜਨ-ਜੀਵਨ</span><span>ਗਤੀਸ਼ੀਲ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਰੁੱਖ</span><span>ਤਾਂ</span><span>ਆਪਣੇ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਗੁਣਾਂ</span><span>ਕਾਰਨ</span><span>ਪੂਜਣਯੋਗ</span><span>ਹਨ,</span><span>ਤੁਲਸੀ,</span><span>ਨਿੰਮ,</span><span>ਪਿੱਪਲ</span><span>ਤਾਂ</span><span>ਹੈ</span><span>ਹੀ</span><span>ਗੁਣਾਂ</span><span>ਦੇ</span><span>ਖਜਾਨੇ</span><span>।</span><span>ਇਨ੍ਹਾਂ</span><span>ਤੋਂ</span><span>ਛਾਂ</span><span>ਮਿਲਦੀ</span><span>ਹੈ,</span><span>ਫਲ,</span><span>ਫੁੱਲ,</span><span>ਹਰਿਆਵਲ,</span><span>ਫਰਨੀਚਰ,</span><span>ਬਾਲਣ</span><span>ਗੁੰਦ,</span><span>ਬਰੋਜਾ,</span><span>ਕਾਗਜ਼</span><span>ਤੇ</span><span>ਕਈ</span><span>ਜੜ੍ਹੀ-ਬੂਟੀਆਂ</span><span>ਜੋ</span><span>ਦਵਾਈਆਂ</span><span>ਵਿਚ</span><span>ਵਰਤੀਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਹਨ,</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਬਦੌਲਤ</span><span>ਹੀ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਵਾਤਾਵਰਨ</span><span>ਨੂੰ</span><span>ਸ਼ੁੱਧ,</span><span>ਪਵਿੱਤਰ</span><span>ਤੇ</span><span>ਬੇਦਾਗ</span><span>ਰੱਖਦੇ</span><span>ਹਨ,</span><span>ਪਾਣੀ</span><span>ਦਾ</span><span>ਸੋਮਾ</span><span>ਹੁੰਦੇ</span><span>ਹਨ,</span><span>ਹੜ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਰੋਕਣ</span><span>ਵਿੱਚ</span><span>ਸਹਾਈ</span><span>ਹੁੰਦੇ</span><span>ਹਨ,</span><span>ਪਾਣੀ</span><span>ਦਾ</span><span>ਪੱਧਰ</span><span>ਕੰਟਰੋਲ</span><span>ਵਿਚ</span><span>ਰੱਖਦੇ,</span><span>ਭੋ-ਖੋਰ</span><span>ਨੂੰ</span><span>ਬਚਾਉਂਦੇ,</span><span>ਆਕਸੀਜਨ</span><span>ਦਿੰਦੇ</span><span>ਤੇ</span><span>ਕਾਰਬਨ-ਡਾਈਆਕਸਾਈਡ</span><span>ਸੋਖ</span><span>ਕੇ</span><span>ਮਨੁੱਖੀ</span><span>ਜੀਵਨ</span><span>ਨੂੰ</span><span>ਬਚਾਈ</span><span>ਰੱਖਦੇ</span><span>ਹਨ</span><span>।</span><span>ਪੰਛੀ</span><span>ਇਨ੍ਹਾਂ</span><span>ਤੇ</span><span>ਆਲ੍ਹਣਾ</span><span>ਬਣਾਉਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਰੁੱਖ</span><span>ਪ੍ਰਤੀਕ</span><span>ਹਨ</span><span>ਖੁਸ਼ੀਆਂ-ਹਰਿਆਲੀ</span><span>ਦੇ</span><span>।</span><span>ਰੁੱਖਾਂ</span><span>ਦੇ</span><span>ਨਸ਼ਟ</span><span>ਹੋਣ</span><span>ਨਾਲ</span><span>ਸਮੁੱਚਾ</span><span>ਵਾਤਾਵਰਨ</span><span>ਹੀ</span><span>ਪ੍ਰਦੂਸ਼ਿਤ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>|</span><span>ਪਰ</span><span>ਮਨੁੱਖ</span><span>ਅਜੇ</span><span>ਸੁਚੇਤ</span><span>ਨਹੀਂ</span><span>ਹੋਇਆ</span><span>ਜਾਪਦਾ</span><span>|</span><span>ਭਾਵੇਂ</span><span>ਕਿ</span><span>ਬੁੱਧੀਜੀਵੀਆਂ</span><span>ਤੇ</span><span>ਵਿਗਿਆਨੀਆਂ</span><span>ਵੱਲੋਂ</span><span>ਇਸ</span><span>ਖਤਰੇ</span><span>ਬਾਰੇ</span><span>ਕਦੋਂ</span><span>ਦਾ</span><span>ਸੁਚੇਤ</span><span>ਕੀਤਾ</span><span>ਹੋਇਆ</span><span>ਹੈ,</span><span>ਮਾੜੇ</span><span>ਨਤੀਜੇ</span><span>ਸਾਹਮਣੇ</span><span>ਵੀ</span><span>ਆ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>ਪਰ</span><span>ਫਿਰ</span><span>ਵੀ</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਸਾਂਭ-ਸੰਭਾਲ</span><span>ਬਾਰੇ</span><span>ਕਿਸੇ</span><span>ਨੂੰ</span><span>ਕੋਈ</span><span>ਚਿੰਤਾ</span><span>ਨਹੀਂ</span><span>।</span><span>ਰੁੱਖ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਮਨੁੱਖੀ/ਪੰਛੀਆਂ</span><span>ਦਾ</span><span>ਜੀਵਨ</span><span>ਹੈ</span><span>।</span><span>ਵਿਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਜਾਂ</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਪੁਰਾਣੇ</span><span>ਸਮੇਂ</span><span>ਇਮਾਨ</span><span>ਦੇ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਰੁੱਖ</span><span>ਦਿੱਤਾ</span><span>ਜਾਂਦਾ</span><span>ਸੀ</span><span>।</span><span>ਭਾਵੇਂ</span><span>ਕਿ</span><span>ਅੱਜ</span><span>ਇੱਥੇ</span><span>ਵੀ</span><span>ਧਾਰਮਿਕ</span><span>ਸਥਾਨਾਂ</span><span>ਤੇ</span><span>ਰੁੱਖਾਂ</span><span>ਨੂੰ</span><span>ਪ੍ਰਸ਼ਾਦ</span><span>ਵਜੋਂ</span><span>ਜਾਂ</span><span>ਕੋਈ</span><span>ਮਹੁਤੱਸਵ</span><span>ਵੇਲੇ</span><span>ਲਗਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਬਾਬਾ</span><span>ਸੇਵਾ</span><span>ਸਿੰਘ</span><span>ਜੀ</span><span>ਖੜੂਰ</span><span>ਸਾਹਿਬ</span><span>ਵਾਲਿਆਂ</span><span>ਨੇ</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਅਹਿਮੀਅਤ</span><span>ਸਮਝਦਿਆਂ,</span><span>ਇਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਕਦਰ</span><span>ਪਾਈ,</span><span>ਚਾਰ-ਚੁਫੇਰੇ</span><span>ਹਰਿਆਵਲ</span><span>ਵੰਡਣ</span><span>ਦਾ</span><span>ਬੀੜਾ</span><span>ਚੁੱਕਿਆ,</span><span>ਬੂਟੇ</span><span>ਲਈ</span><span>ਹੀ</span><span>ਨਹੀਂ</span><span>ਬਲਕਿ</span><span>ਓਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਸੇਵਾ-ਸੰਭਾਲ/ਦੇਖ-ਭਾਲ</span><span>ਦਾ</span><span>ਜਿੰਮਾ</span><span>ਵੀ</span><span>ਚੁੱਕਿਆ</span><span>।</span><span>ਅੱਜ਼,</span><span>ਉਨ੍ਹਾਂ</span><span>ਵੱਲੋਂ</span><span>ਲਏ</span><span>ਹੋਏ</span><span>ਬੂਟੇ</span><span>ਭਰ</span><span>ਜੋਬਨ</span><span>ਵਿੱਚ</span><span>ਹਨ,</span><span>ਵੱਡੇ</span><span>ਰੁੱਖ</span><span>ਬਣੇ</span><span>ਹਨ,</span><span>ਛਾਂ</span><span>ਵੰਡਦੇ,</span><span>ਹਰਿਆਵਲ</span><span>ਵੰਡਦੇ,</span><span>ਫੁੱਲ</span><span>ਦਿੰਦੇ,</span><span>ਫੁੱਲਾਂ</span><span>ਵਾਲੀਆਂ</span><span>ਖੁਸ਼ੀਆਂ</span><span>ਪ੍ਰਦਾਨ</span><span>ਕਰਦੇ</span><span>ਤੇ</span><span>ਆਪਣੀ</span><span>ਹੋਦ</span><span>ਬਚਣ</span><span>'ਤੇ</span><span>ਖੁਸ਼</span><span>ਹੁੰਦੇ</span><span>ਨਜ਼ਰੀ</span><span>ਆਉਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਹਰ</span><span>ਕੋਈ</span><span>ਬਾਬਾ</span><span>ਜੀ</span><span>ਦੇ</span><span>ਉਦਮਾਂ/ਯਤਨਾਂ</span><span>ਦੀ</span><span>ਸ਼ਲਾਘਾ</span><span>ਕਰਦਾ</span><span>ਹੋਇਆ</span><span>ਨਹੀਂ</span><span>ਥੱਕਦਾ</span><span>।</span><span>ਓਨ੍ਹਾਂ</span><span>ਦਾ</span><span>ਇਹ</span><span>ਪਰਉਪਕਾਰੀ</span><span>ਕਾਰਜ</span><span>ਨਿਸ਼ਕਾਮ</span><span>ਭਾਵਨਾ</span><span>ਨਾਲ</span><span>ਅਜੇ</span><span>ਵੀ</span><span>ਜਾਰੀ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਅੱਜ", "ਸਾਰੀ", "ਧਰਤੀ", "'ਤੇ", "ਹੀ", "ਗਲੇਬਲ", "ਵਰਮਿੰਗ", "ਦਾ", "ਖਤਰਾ", "ਮੰਡਰਾ", "ਰਿਹਾ", "ਹੈ", "|", "ਧਰਤੀ", "ਦੀ", "ਤਪਸ", "ਵਧ", "ਰਹੀ", "ਹੈ", "|", "ਗਲੇਸ਼ੀਆਰ", "ਪਿਘਲ", "ਰਹੇ", "ਹਨ,", "ਮੌਸਮ", "ਬਦਲ", "ਰਹੇ", "ਹਨ,", "ਬਿਮਾਰੀਆਂ", "ਵਧ", "ਰਹੀਆਂ", "ਹਨ,", "ਜੀਵਨ", "ਦੁਰਲੱਭ", "ਹੀ", "ਰਿਹਾ", "ਹੈ", "ਵਾਤਾਵਰਨ", "ਦੁਸਿਤ", "ਹੋ", "ਗਿਆ", "ਹੈ", "|", "ਹਵਾ", "ਪਾਣੀ", "ਮਿੱਟੀ", "ਆਦਿ", "ਸਭ", "ਜ਼ਹਿਰੀ", "ਹੋ", "ਗਏ", "ਹਨ", "|", "ਪਾਣੀ", "ਦਾ", "ਪੱਧਰ", "ਦਿਨ-ਬ-ਦਿਨ", "ਨੀਵਾਂ", "ਹੋ", "ਰਿਹਾ", "ਹੈ", "|", "ਪੀਣ", "ਯੋਗ", "ਪਾਣੀ", "ਵੀ", "ਘਟ", "ਗਿਆ", "ਹੈ", "|", "ਜਿਹੜਾ", "ਉਪਲਬਦ", "ਹੈ", "ਉਹ", "ਹੀ", "ਜ਼ਹਿਰੀਲਾ", "ਤੇ", "ਨਾ", "ਵਰਤਣਯੋਗ", "ਹੈ", "|", "ਇਨ੍ਹਾਂ", "ਖਤਰਿਆਂ", "ਦੇ", "ਕਈ", "ਕਾਰਨ", "ਹੋਰ", "ਵੀ", "ਹਨ", "ਪਰ", "ਸਭ", "ਤੋਂ", "ਵੱਧ", "ਅਹਿਮ", "ਕਾਰਨ", "ਹੈ-", "ਰੁੱਖਾਂ", "ਦੀ", "ਕਟਾਈ,", "ਜੰਗਲ", "ਦਾ", "ਖਾਤਮਾ/ਅੱਗ", "ਲੱਗਣਾ,", "ਵੱਡੀਆਂ-ਵੱਡੀਆਂ", "ਇਮਾਰਤਾਂ", "", "ਫੈਕਟਰੀਆਂ", "ਦਾ", "ਪ੍ਰਦੂਸ਼ਣ/ਉਸਰਨਾ", "ਆਦਿ", "|", "ਮਨੁੱਖ", "ਦੀ", "ਸਵਾਰਥੀ", "ਸੋਚ", "ਨੇ", "ਪੈਸਿਆਂ", "ਦੇ", "ਲਾਲਚ", "ਵਿਚ", "ਰੁੱਖਾਂ", "ਦੇ", "ਰੁੱਖ", "ਵੱਢ", "ਕੇ", "ਉੱਚੀਆਂ-ਲੰਮੀਆਂ", "ਇਮਾਰਤਾਂ,", "ਪ੍ਰਦੂਸ਼ਿਤ", "ਕਰਨ", "ਵਾਲਿਆਂ", "ਫੈਕਟਰੀਆਂ", "ਤੇ", "ਵੱਡੀਆਂ-ਵੱਡੀਆਂ", "ਸੜਕਾਂ", "ਦਾ", "ਨਿਰਮਾਣ", "ਕਰ", "ਲਿਆ", "ਹੈ", "|", "ਮਨੁੱਖ", "ਨੇ", "ਆਪਣੀ", "ਲੋੜ", "ਪੂਰੀ", "ਕਰਨ", "ਲਈ", "ਪਹਿਲਾਂ", "ਤੋਂ", "ਨਿਸੱਰੇ", "ਹੋਏ", "ਰੁੱਖ", "ਝੱਟ", "ਹੀ", "ਵੱਢ", "ਦਿੱਤੇ", "ਪਰ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਥਾਂ", "ਹੋਰ", "ਰੁੱਖ", "ਲਾਉਣ", "ਬਾਰੇ", "ਸੋਚਿਆ", "ਵੀ", "ਨਾ", "|", "ਮਨੁੱਖ", "ਇਹ", "ਕਿਉੇਂ", "ਭੁੱਲ", "ਗਿਆ", "ਕਿ", "ਰੁੱਖ", "ਤਾਂ", "ਸਾਡੇ", "ਜੀਵਨ", "ਦਾ", "ਅਨਮੋਲ", "ਖ਼ਜ਼ਾਨਾ", "ਹਨ", "|", "ਕੁਦਰਤ", "ਵੱਲੋਂ", "ਮਿਲਿਆ", "ਅਨਮੋਲ", "ਤੋਹਫ਼ਾ", "ਹਨ", "|", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਹੋਦ", "ਨਾਲ", "ਹੀ", "ਜਨ-ਜੀਵਨ", "ਗਤੀਸ਼ੀਲ", "ਰਹਿੰਦਾ", "ਹੈ", "|", "ਰੁੱਖ", "ਤਾਂ", "ਆਪਣੇ", "ਵਿਸ਼ੇਸ਼", "ਗੁਣਾਂ", "ਕਾਰਨ", "ਪੂਜਣਯੋਗ", "ਹਨ,", "ਤੁਲਸੀ,", "ਨਿੰਮ,", "ਪਿੱਪਲ", "ਤਾਂ", "ਹੈ", "ਹੀ", "ਗੁਣਾਂ", "ਦੇ", "ਖਜਾਨੇ", "।", "ਇਨ੍ਹਾਂ", "ਤੋਂ", "ਛਾਂ", "ਮਿਲਦੀ", "ਹੈ,", "ਫਲ,", "ਫੁੱਲ,", "ਹਰਿਆਵਲ,", "ਫਰਨੀਚਰ,", "ਬਾਲਣ", "ਗੁੰਦ,", "ਬਰੋਜਾ,", "ਕਾਗਜ਼", "ਤੇ", "ਕਈ", "ਜੜ੍ਹੀ-ਬੂਟੀਆਂ", "ਜੋ", "ਦਵਾਈਆਂ", "ਵਿਚ", "ਵਰਤੀਆਂ", "ਜਾਂਦੀਆਂ", "ਹਨ,", "ਰੁੱਖਾਂ", "ਦੀ", "ਬਦੌਲਤ", "ਹੀ", "ਹਨ", "।", "ਇਹ", "ਵਾਤਾਵਰਨ", "ਨੂੰ", "ਸ਼ੁੱਧ,", "ਪਵਿੱਤਰ", "ਤੇ", "ਬੇਦਾਗ", "ਰੱਖਦੇ", "ਹਨ,", "ਪਾਣੀ", "ਦਾ", "ਸੋਮਾ", "ਹੁੰਦੇ", "ਹਨ,", "ਹੜ੍ਹਾਂ", "ਨੂੰ", "ਰੋਕਣ", "ਵਿੱਚ", "ਸਹਾਈ", "ਹੁੰਦੇ", "ਹਨ,", "ਪਾਣੀ", "ਦਾ", "ਪੱਧਰ", "ਕੰਟਰੋਲ", "ਵਿਚ", "ਰੱਖਦੇ,", "ਭੋ-ਖੋਰ", "ਨੂੰ", "ਬਚਾਉਂਦੇ,", "ਆਕਸੀਜਨ", "ਦਿੰਦੇ", "ਤੇ", "ਕਾਰਬਨ-ਡਾਈਆਕਸਾਈਡ", "ਸੋਖ", "ਕੇ", "ਮਨੁੱਖੀ", "ਜੀਵਨ", "ਨੂੰ", "ਬਚਾਈ", "ਰੱਖਦੇ", "ਹਨ", "।", "ਪੰਛੀ", "ਇਨ੍ਹਾਂ", "ਤੇ", "ਆਲ੍ਹਣਾ", "ਬਣਾਉਂਦੇ", "ਹਨ", "।", "ਰੁੱਖ", "ਪ੍ਰਤੀਕ", "ਹਨ", "ਖੁਸ਼ੀਆਂ-ਹਰਿਆਲੀ", "ਦੇ", "।", "ਰੁੱਖਾਂ", "ਦੇ", "ਨਸ਼ਟ", "ਹੋਣ", "ਨਾਲ", "ਸਮੁੱਚਾ", "ਵਾਤਾਵਰਨ", "ਹੀ", "ਪ੍ਰਦੂਸ਼ਿਤ", "ਹੋ", "ਗਿਆ", "ਹੈ", "|", "ਪਰ", "ਮਨੁੱਖ", "ਅਜੇ", "ਸੁਚੇਤ", "ਨਹੀਂ", "ਹੋਇਆ", "ਜਾਪਦਾ", "|", "ਭਾਵੇਂ", "ਕਿ", "ਬੁੱਧੀਜੀਵੀਆਂ", "ਤੇ", "ਵਿਗਿਆਨੀਆਂ", "ਵੱਲੋਂ", "ਇਸ", "ਖਤਰੇ", "ਬਾਰੇ", "ਕਦੋਂ", "ਦਾ", "ਸੁਚੇਤ", "ਕੀਤਾ", "ਹੋਇਆ", "ਹੈ,", "ਮਾੜੇ", "ਨਤੀਜੇ", "ਸਾਹਮਣੇ", "ਵੀ", "ਆ", "ਰਹੇ", "ਹਨ", "ਪਰ", "ਫਿਰ", "ਵੀ", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਸਾਂਭ-ਸੰਭਾਲ", "ਬਾਰੇ", "ਕਿਸੇ", "ਨੂੰ", "ਕੋਈ", "ਚਿੰਤਾ", "ਨਹੀਂ", "।", "ਰੁੱਖ", "ਨਾਲ", "ਹੀ", "ਮਨੁੱਖੀ/ਪੰਛੀਆਂ", "ਦਾ", "ਜੀਵਨ", "ਹੈ", "।", "ਵਿਦੇਸ਼", "ਵਿੱਚ", "ਜਾਂ", "ਭਾਰਤ", "ਵਿਚ", "ਪੁਰਾਣੇ", "ਸਮੇਂ", "ਇਮਾਨ", "ਦੇ", "ਤੌਰ", "ਤੇ", "ਰੁੱਖ", "ਦਿੱਤਾ", "ਜਾਂਦਾ", "ਸੀ", "।", "ਭਾਵੇਂ", "ਕਿ", "ਅੱਜ", "ਇੱਥੇ", "ਵੀ", "ਧਾਰਮਿਕ", "ਸਥਾਨਾਂ", "ਤੇ", "ਰੁੱਖਾਂ", "ਨੂੰ", "ਪ੍ਰਸ਼ਾਦ", "ਵਜੋਂ", "ਜਾਂ", "ਕੋਈ", "ਮਹੁਤੱਸਵ", "ਵੇਲੇ", "ਲਗਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਬਾਬਾ", "ਸੇਵਾ", "ਸਿੰਘ", "ਜੀ", "ਖੜੂਰ", "ਸਾਹਿਬ", "ਵਾਲਿਆਂ", "ਨੇ", "ਰੁੱਖਾਂ", "ਦੀ", "ਅਹਿਮੀਅਤ", "ਸਮਝਦਿਆਂ,", "ਇਨ੍ਹਾਂ", "ਦੀ", "ਕਦਰ", "ਪਾਈ,", "ਚਾਰ-ਚੁਫੇਰੇ", "ਹਰਿਆਵਲ", "ਵੰਡਣ", "ਦਾ", "ਬੀੜਾ", "ਚੁੱਕਿਆ,", "ਬੂਟੇ", "ਲਈ", "ਹੀ", "ਨਹੀਂ", "ਬਲਕਿ", "ਓਨ੍ਹਾਂ", "ਦੀ", "ਸੇਵਾ-ਸੰਭਾਲ/ਦੇਖ-ਭਾਲ", "ਦਾ", "ਜਿੰਮਾ", "ਵੀ", "ਚੁੱਕਿਆ", "।", "ਅੱਜ਼,", "ਉਨ੍ਹਾਂ", "ਵੱਲੋਂ", "ਲਏ", "ਹੋਏ", "ਬੂਟੇ", "ਭਰ", "ਜੋਬਨ", "ਵਿੱਚ", "ਹਨ,", "ਵੱਡੇ", "ਰੁੱਖ", "ਬਣੇ", "ਹਨ,", "ਛਾਂ", "ਵੰਡਦੇ,", "ਹਰਿਆਵਲ", "ਵੰਡਦੇ,", "ਫੁੱਲ", "ਦਿੰਦੇ,", "ਫੁੱਲਾਂ", "ਵਾਲੀਆਂ", "ਖੁਸ਼ੀਆਂ", "ਪ੍ਰਦਾਨ", "ਕਰਦੇ", "ਤੇ", "ਆਪਣੀ", "ਹੋਦ", "ਬਚਣ", "'ਤੇ", "ਖੁਸ਼", "ਹੁੰਦੇ", "ਨਜ਼ਰੀ", "ਆਉਂਦੇ", "ਹਨ", "।", "ਹਰ", "ਕੋਈ", "ਬਾਬਾ", "ਜੀ", "ਦੇ", "ਉਦਮਾਂ/ਯਤਨਾਂ", "ਦੀ", "ਸ਼ਲਾਘਾ", "ਕਰਦਾ", "ਹੋਇਆ", "ਨਹੀਂ", "ਥੱਕਦਾ", "।", "ਓਨ੍ਹਾਂ", "ਦਾ", "ਇਹ", "ਪਰਉਪਕਾਰੀ", "ਕਾਰਜ", "ਨਿਸ਼ਕਾਮ", "ਭਾਵਨਾ", "ਨਾਲ", "ਅਜੇ", "ਵੀ", "ਜਾਰੀ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







