
@{

                ViewBag.Title = "Passage Typing : Lesson 20 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 20:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "21" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 398    </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਪਰੀਖਿਆ</span><span>ਜਾਂ</span><span>ਇਮਤਿਹਾਨ</span><span>ਦਾ</span><span>ਅਰਥ</span><span>ਹੈ</span><span>'ਕਿਸੇ</span><span>ਦੀ</span><span>ਯੋਗਤਾ</span><span>ਦੀ</span><span>ਪਰਖ</span><span>ਕਰਨੀ</span><span>।'</span><span>ਹਰ</span><span>ਖੇਤਰ</span><span>ਵਿੱਚ</span><span>ਯੋਗਤਾ</span><span>ਅਤੇ</span><span>ਗਿਆਨ</span><span>ਦੀ</span><span>ਪਰੱਖ</span><span>ਦਾ</span><span>ਢੰਗ</span><span>ਵੱਖਰਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਹਰ</span><span>ਮਨੁੱਖ</span><span>ਨੂੰ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਵਿੱੱਚ</span><span>ਕਈ</span><span>ਤਰ੍ਹਾਂ</span><span>ਦੇ</span><span>ਇਮਤਿਹਾਨਾਂ</span><span>ਵਿੱਚੋਂ</span><span>ਗੁਜ਼ਰਨਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਪਾਸ</span><span>ਜਾਂ</span><span>ਫੇਲ੍ਹ</span><span>ਹੋਣਾ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਸਮਰੱਥਾ</span><span>'ਤੇ</span><span>ਨਿਰਭਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਮਨੁੱਖੀ</span><span>ਜੀਵਨ</span><span>ਆਪਣੇ</span><span>ਆਪ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਇੱਕ</span><span>ਬਹੁਤ</span><span>ਵੱਡਾ</span><span>ਇਮਤਿਹਾਨ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਵਿੱਚ</span><span>ਸਮੇਂ-ਸਮੇਂ,</span><span>ਥਾਂ-ਥਾਂ</span><span>'ਤੇ</span><span>ਕਈ</span><span>ਅਜਿਹੀਆਂ</span><span>ਮੁਸ਼ਕਲਾਂ</span><span>ਦਰਪੇਸ਼</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>'ਤੇ</span><span>ਕਾਬੂ</span><span>ਪਾਉਣ</span><span>ਦਾ</span><span>ਜਤਨ</span><span>ਹਰ</span><span>ਪ੍ਰਾਣੀ</span><span>ਵਲੋਂ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਮੁਸ਼ਕਲਾਂ</span><span>ਨੂੰ</span><span>ਸਹਿਜ</span><span>-ਸੁਭਾਅ</span><span>ਹੀ</span><span>ਪਾਰ</span><span>ਕਰ</span><span>ਲੈਣ</span><span>ਨਾਲ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਸਫ਼ਲਤਾ</span><span>ਵੱਲ</span><span>ਵੱਧਦੀ</span><span>ਹੈ</span><span>।</span><span>ਸਾਡੇ</span><span>ਇਤਿਹਾਸ-ਮਿਥਿਹਾਸ</span><span>ਵਿੱਚੋੰ</span><span>ਵੀ</span><span>ਕਈ</span><span>ਅਜਿਹੀਆਂ</span><span>ਸਾਖੀਆਂ</span><span>ਮਿਲਦੀਆਂ</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਸੰਤਾਂ-ਮਹਾਤਮਾਵਾਂ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਪਰੀਖਿਆ</span><span>ਵਿੱਚੋ</span><span>ਗੁਜ਼ਰਨਾ</span><span>ਪਿਆ,</span><span>ਜਿਵੇਂ</span><span>ਮਹਾਤਮਾ</span><span>ਬੁੱਧ</span><span>ਅਤੇ</span><span>ਈਸਾ</span><span>ਮਸਹੀ</span><span>ਵਰਗੇ</span><span>ਮਹਾਂਪੁਰੱਖ</span><span>ਵੀ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਦੇ</span><span>ਇਮਤਿਹਾਨਾਂ</span><span>ਵਿੱਚੋਂ</span><span>ਲੰਘੇ</span><span>ਸਨ</span><span>।</span><span>ਗੁਰੂ</span><span>ਨਾਨਕ</span><span>ਦੇਵ</span><span>ਜੀ</span><span>ਨੇ</span><span>ਵੀ</span><span>ਆਪਣੇ</span><span>ਗੱਦੀ</span><span>ਦਾ</span><span>ਵਾਰਸ</span><span>ਚੁਣਨ</span><span>ਲਈ</span><span>ਭਾਈ</span><span>ਲਹਿਣਾ</span><span>ਜੀ</span><span>ਅਤੇ</span><span>ਆਪਣੇ</span><span>ਪੁੱਤਰਾਂ</span><span>ਦੀ</span><span>ਪਰੀਖਿਆ</span><span>ਲਈ</span><span>ਜਿਸ</span><span>ਵਿੱਚ</span><span>ਭਾਈ</span><span>ਲਹਿਣਾ</span><span>ਜੀ</span><span>ਪਾਸ</span><span>ਹੋ</span><span>ਗਏ</span><span>ਤੇ</span><span>ਗੱਦੀ</span><span>ਦੇ</span><span>ਵਾਰਸ</span><span>ਬਣ</span><span>ਗਏ</span><span>।</span><span>ਅਸਲ</span><span>ਵਿੱਚ</span><span>ਕਿਸੇ</span><span>ਦੀ</span><span>ਯੋਗਤਾ</span><span>ਦੀ</span><span>ਪਰੱਖ</span><span>ਲਈ</span><span>ਇੰਤਿਹਾਨ</span><span>ਬਹੁਤ</span><span>ਲੋੜੀਂਦੇ</span><span>ਹਨ</span><span>ਪਰ</span><span>ਇੱਥੇ</span><span>ਸਾਡਾ</span><span>ਮਕਸਦ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਦੇ</span><span>ਇਮਤਿਹਾਨਾਂ</span><span>ਨਾਲ</span><span>ਨਹੀਂ</span><span>ਹੈ</span><span>ਬਲਕਿ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਵਰਗ</span><span>ਨਾਲ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਵਿੱਚ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਵਿੱਦਿਆ</span><span>ਅਤੇ</span><span>ਗਿਆਨ</span><span>ਦੀ</span><span>ਪਰੱਖ</span><span>ਕੀਤੀ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਉਹ</span><span>ਇਮਤਿਹਾਨ</span><span>ਜਿਹੜੇ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਨੂੰ</span><span>ਦੇਣੇ</span><span>ਪੈਂਦੇ</span><span>ਸਨ</span><span>।</span><span>ਇਹ</span><span>ਇੱਕ</span><span>ਅਜਿਹੀ</span><span>ਕਾਰਜਵਿਧੀ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਦੁਆਰਾ</span><span>ਕਿਸੇ</span><span>ਖ਼ਾਸ</span><span>ਵਿਸ਼ੇ</span><span>ਜਾਂ</span><span>ਖੇਤਰ</span><span>ਬਾਰੇ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਦੇ</span><span>ਗਿਆਨ</span><span>ਅਤੇ</span><span>ਯੋਗਤਾ</span><span>ਦੀ</span><span>ਪਰੱਖ</span><span>ਕੀਤੀ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਵਿੱਚ</span><span>ਯੋਗਤਾ</span><span>ਦੀ</span><span>ਪਰੱਖ</span><span>ਲਈ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਮਾਂ</span><span>ਤੇ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਿਲੇਬਸ</span><span>ਨਿਰਧਾਰਿਤ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਆਧਾਰ</span><span>'ਤੇ</span><span>ਹੀ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਨੂੰ</span><span>ਲਿਖਤੀ</span><span>ਟੈੱਸਟ</span><span>ਦੇਣਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਕਈ</span><span>ਵਾਰ</span><span>ਕਈ</span><span>ਵਿਸ਼ੇ</span><span>ਵੀ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਤਜਰਬੇ</span><span>ਤੇ</span><span>ਮੌਖਿਕ</span><span>ਪਰੀਖਿਆ</span><span>ਵੀ</span><span>ਸ਼ਾਮਿਲ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>।</span><span>ਸੰਸਾਰ</span><span>ਦੇ</span><span>ਬਹੁਤ</span><span>ਸਾਰੇ</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿੱਚ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਨੂੰ</span><span>ਇੱਕ</span><span>ਜਮਾਤ</span><span>ਤੋਂ</span><span>ਦੂਜੀ</span><span>ਜਮਾਤ</span><span>ਤੱਕ</span><span>ਸਾਲ</span><span>ਭਰ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਿਲੇਬਸ</span><span>ਪੜ੍ਹਨਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਸਾਲ</span><span>ਦੇ</span><span>ਅੰਤ</span><span>'ਚ</span><span>ਸਿਰਫ਼</span><span>ਤਿੰਨ</span><span>ਘੰਟੇ</span><span>ਦੇ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਪ੍ਰਸ਼ਨਾਂ</span><span>ਦੇ</span><span>ਜਵਾਬ</span><span>ਦੇਣੇ</span><span>ਪੈਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਲਗਭਗ</span><span>ਇਹੋ</span><span>ਪ੍ਰਣਾਲੀ</span><span>ਸਾਰੇ</span><span>ਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਚੱਲ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਲਈ</span><span>ਇਮਤਿਹਾਨ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਲਈ</span><span>'ਡਰ'</span><span>ਬਣਿਆ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਮਤਿਹਾਨਾਂ</span><span>ਦੇ</span><span>ਲਾਭ</span><span>ਵੀ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਇੱਕ</span><span>ਅਜਿਹਾ</span><span>ਸਾਧਨ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਨਾਲ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਦੀ</span><span>ਲਿਆਕਤ</span><span>ਪਰੱਖੀ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>ਕਿਉਂਕੀ</span><span>ਇਸ</span><span>ਤੋਂ</span><span>ਇਲਾਵਾ</span><span>ਅਜੇ</span><span>ਤੱਕ</span><span>ਕੋਈ</span><span>ਅਜਿਹਾ</span><span>ਹੋਰ</span><span>ਸਾਧਨ</span><span>ਹੋਂਦ</span><span>ਵਿੱਚ</span><span>ਨਹੀਂ</span><span>ਆਇਆ</span><span>ਜਿਹੜਾ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਦੀ</span><span>ਯੋਗਤਾ</span><span>ਦਾ</span><span>ਨਿਰੀਖਣ</span><span>ਕਰ</span><span>ਸਕੇ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    @*<script type="text/javascript">
        var wordList = ["ਪਰੀਖਿਆ", "ਜਾਂ", "ਇਮਤਿਹਾਨ", "ਦਾ", "ਅਰਥ", "ਹੈ", "'ਕਿਸੇ", "ਦੀ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰਖ", "ਕਰਨੀ", "।'", "ਹਰ", "ਖੇਤਰ", "ਵਿੱਚ", "ਯੋਗਤਾ", "ਅਤੇ", "ਗਿਆਨ", "ਦੀ", "ਪਰੱਖ", "ਦਾ", "ਢੰਗ", "ਵੱਖਰਾ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਹਰ", "ਮਨੁੱਖ", "ਨੂੰ", "ਜ਼ਿੰਦਗੀ", "ਵਿੱੱਚ", "ਕਈ", "ਤਰ੍ਹਾਂ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਵਿੱਚੋਂ", "ਗੁਜ਼ਰਨਾ", "ਪੈਂਦਾ", "ਹੈ", "।", "ਪਾਸ", "ਜਾਂ", "ਫੇਲ੍ਹ", "ਹੋਣਾ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਸਮਰੱਥਾ", "'ਤੇ", "ਨਿਰਭਰ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਮਨੁੱਖੀ", "ਜੀਵਨ", "ਆਪਣੇ", "ਆਪ", "ਵਿੱਚ", "ਹੀ", "ਇੱਕ", "ਬਹੁਤ", "ਵੱਡਾ", "ਇਮਤਿਹਾਨ", "ਹੈ", "।", "ਇਸ", "ਵਿੱਚ", "ਸਮੇਂ-ਸਮੇਂ,", "ਥਾਂ-ਥਾਂ", "'ਤੇ", "ਕਈ", "ਅਜਿਹੀਆਂ", "ਮੁਸ਼ਕਲਾਂ", "ਦਰਪੇਸ਼", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "'ਤੇ", "ਕਾਬੂ", "ਪਾਉਣ", "ਦਾ", "ਜਤਨ", "ਹਰ", "ਪ੍ਰਾਣੀ", "ਵਲੋਂ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਮੁਸ਼ਕਲਾਂ", "ਨੂੰ", "ਸਹਿਜ", "-ਸੁਭਾਅ", "ਹੀ", "ਪਾਰ", "ਕਰ", "ਲੈਣ", "ਨਾਲ", "ਜ਼ਿੰਦਗੀ", "ਸਫ਼ਲਤਾ", "ਵੱਲ", "ਵੱਧਦੀ", "ਹੈ", "।", "ਸਾਡੇ", "ਇਤਿਹਾਸ-ਮਿਥਿਹਾਸ", "ਵਿੱਚੋੰ", "ਵੀ", "ਕਈ", "ਅਜਿਹੀਆਂ", "ਸਾਖੀਆਂ", "ਮਿਲਦੀਆਂ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਵਿੱਚ", "ਸੰਤਾਂ-ਮਹਾਤਮਾਵਾਂ", "ਨੂੰ", "ਵੀ", "ਪਰੀਖਿਆ", "ਵਿੱਚੋ", "ਗੁਜ਼ਰਨਾ", "ਪਿਆ,", "ਜਿਵੇਂ", "ਮਹਾਤਮਾ", "ਬੁੱਧ", "ਅਤੇ", "ਈਸਾ", "ਮਸਹੀ", "ਵਰਗੇ", "ਮਹਾਂਪੁਰੱਖ", "ਵੀ", "ਜ਼ਿੰਦਗੀ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਵਿੱਚੋਂ", "ਲੰਘੇ", "ਸਨ", "।", "ਗੁਰੂ", "ਨਾਨਕ", "ਦੇਵ", "ਜੀ", "ਨੇ", "ਵੀ", "ਆਪਣੇ", "ਗੱਦੀ", "ਦਾ", "ਵਾਰਸ", "ਚੁਣਨ", "ਲਈ", "ਭਾਈ", "ਲਹਿਣਾ", "ਜੀ", "ਅਤੇ", "ਆਪਣੇ", "ਪੁੱਤਰਾਂ", "ਦੀ", "ਪਰੀਖਿਆ", "ਲਈ", "ਜਿਸ", "ਵਿੱਚ", "ਭਾਈ", "ਲਹਿਣਾ", "ਜੀ", "ਪਾਸ", "ਹੋ", "ਗਏ", "ਤੇ", "ਗੱਦੀ", "ਦੇ", "ਵਾਰਸ", "ਬਣ", "ਗਏ", "।", "ਅਸਲ", "ਵਿੱਚ", "ਕਿਸੇ", "ਦੀ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਲਈ", "ਇੰਤਿਹਾਨ", "ਬਹੁਤ", "ਲੋੜੀਂਦੇ", "ਹਨ", "ਪਰ", "ਇੱਥੇ", "ਸਾਡਾ", "ਮਕਸਦ", "ਜ਼ਿੰਦਗੀ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਨਾਲ", "ਨਹੀਂ", "ਹੈ", "ਬਲਕਿ", "ਵਿਦਿਆਰਥੀ", "ਵਰਗ", "ਨਾਲ", "ਹੈ", "ਜਿਸ", "ਵਿੱਚ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਵਿੱਦਿਆ", "ਅਤੇ", "ਗਿਆਨ", "ਦੀ", "ਪਰੱਖ", "ਕੀਤੀ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਉਹ", "ਇਮਤਿਹਾਨ", "ਜਿਹੜੇ", "ਵਿਦਿਆਰਥੀਆਂ", "ਨੂੰ", "ਦੇਣੇ", "ਪੈਂਦੇ", "ਸਨ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹੀ", "ਕਾਰਜਵਿਧੀ", "ਹੈ", "ਜਿਸ", "ਦੁਆਰਾ", "ਕਿਸੇ", "ਖ਼ਾਸ", "ਵਿਸ਼ੇ", "ਜਾਂ", "ਖੇਤਰ", "ਬਾਰੇ", "ਵਿਦਿਆਰਥੀ", "ਦੇ", "ਗਿਆਨ", "ਅਤੇ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਕੀਤੀ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਇਸ", "ਵਿੱਚ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਲਈ", "ਨਿਸ਼ਚਿਤ", "ਸਮਾਂ", "ਤੇ", "ਨਿਸ਼ਚਿਤ", "ਸਿਲੇਬਸ", "ਨਿਰਧਾਰਿਤ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਆਧਾਰ", "'ਤੇ", "ਹੀ", "ਵਿਦਿਆਰਥੀ", "ਨੂੰ", "ਲਿਖਤੀ", "ਟੈੱਸਟ", "ਦੇਣਾ", "ਪੈਂਦਾ", "ਹੈ", "ਤੇ", "ਕਈ", "ਵਾਰ", "ਕਈ", "ਵਿਸ਼ੇ", "ਵੀ", "ਹੁੰਦੇ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਵਿੱਚ", "ਤਜਰਬੇ", "ਤੇ", "ਮੌਖਿਕ", "ਪਰੀਖਿਆ", "ਵੀ", "ਸ਼ਾਮਿਲ", "ਹੁੰਦੀ", "ਹੈ", "।", "ਸੰਸਾਰ", "ਦੇ", "ਬਹੁਤ", "ਸਾਰੇ", "ਦੇਸ਼ਾਂ", "ਵਿੱਚ", "ਵਿਦਿਆਰਥੀ", "ਨੂੰ", "ਇੱਕ", "ਜਮਾਤ", "ਤੋਂ", "ਦੂਜੀ", "ਜਮਾਤ", "ਤੱਕ", "ਸਾਲ", "ਭਰ", "ਨਿਸ਼ਚਿਤ", "ਸਿਲੇਬਸ", "ਪੜ੍ਹਨਾ", "ਪੈਂਦਾ", "ਹੈ", "ਤੇ", "ਸਾਲ", "ਦੇ", "ਅੰਤ", "'ਚ", "ਸਿਰਫ਼", "ਤਿੰਨ", "ਘੰਟੇ", "ਦੇ", "ਨਿਸ਼ਚਿਤ", "ਸਮੇਂ", "ਵਿੱਚ", "ਨਿਸ਼ਚਿਤ", "ਪ੍ਰਸ਼ਨਾਂ", "ਦੇ", "ਜਵਾਬ", "ਦੇਣੇ", "ਪੈਂਦੇ", "ਹਨ", "।", "ਲਗਭਗ", "ਇਹੋ", "ਪ੍ਰਣਾਲੀ", "ਸਾਰੇ", "ਦੇਸ਼", "ਵਿੱਚ", "ਚੱਲ", "ਰਹੀ", "ਹੈ", "।", "ਇਸ", "ਲਈ", "ਇਮਤਿਹਾਨ", "ਵਿਦਿਆਰਥੀ", "ਲਈ", "'ਡਰ'", "ਬਣਿਆ", "ਰਹਿੰਦਾ", "ਹੈ", "।", "ਇਮਤਿਹਾਨਾਂ", "ਦੇ", "ਲਾਭ", "ਵੀ", "ਹੁੰਦੇ", "ਹਨ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹਾ", "ਸਾਧਨ", "ਹੁੰਦੇ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਨਾਲ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੀ", "ਲਿਆਕਤ", "ਪਰੱਖੀ", "ਜਾਂਦੀ", "ਹੈ", "ਕਿਉਂਕੀ", "ਇਸ", "ਤੋਂ", "ਇਲਾਵਾ", "ਅਜੇ", "ਤੱਕ", "ਕੋਈ", "ਅਜਿਹਾ", "ਹੋਰ", "ਸਾਧਨ", "ਹੋਂਦ", "ਵਿੱਚ", "ਨਹੀਂ", "ਆਇਆ", "ਜਿਹੜਾ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੀ", "ਯੋਗਤਾ", "ਦਾ", "ਨਿਰੀਖਣ", "ਕਰ", "ਸਕੇ", "।"];
            for (i = 0; i < wordList.length; i++) {
                console.log(i + ":" + wordList[i]);
            }
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                //console.log(i + ":" + wordSpan);
                wordSection.innerHTML += wordSpan;
            }
            var txt = "";
            $("#word-section span").each(function () {
                txt += "<span>" + $(this).text() + "</span>";
            });
            console.log(txt);
        </script>*@

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਪਰੀਖਿਆ", "ਜਾਂ", "ਇਮਤਿਹਾਨ", "ਦਾ", "ਅਰਥ", "ਹੈ", "'ਕਿਸੇ", "ਦੀ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰਖ", "ਕਰਨੀ", "।'", "ਹਰ", "ਖੇਤਰ", "ਵਿੱਚ", "ਯੋਗਤਾ", "ਅਤੇ", "ਗਿਆਨ", "ਦੀ", "ਪਰੱਖ", "ਦਾ", "ਢੰਗ", "ਵੱਖਰਾ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਹਰ", "ਮਨੁੱਖ", "ਨੂੰ", "ਜ਼ਿੰਦਗੀ", "ਵਿੱੱਚ", "ਕਈ", "ਤਰ੍ਹਾਂ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਵਿੱਚੋਂ", "ਗੁਜ਼ਰਨਾ", "ਪੈਂਦਾ", "ਹੈ", "।", "ਪਾਸ", "ਜਾਂ", "ਫੇਲ੍ਹ", "ਹੋਣਾ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਸਮਰੱਥਾ", "'ਤੇ", "ਨਿਰਭਰ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਮਨੁੱਖੀ", "ਜੀਵਨ", "ਆਪਣੇ", "ਆਪ", "ਵਿੱਚ", "ਹੀ", "ਇੱਕ", "ਬਹੁਤ", "ਵੱਡਾ", "ਇਮਤਿਹਾਨ", "ਹੈ", "।", "ਇਸ", "ਵਿੱਚ", "ਸਮੇਂ-ਸਮੇਂ,", "ਥਾਂ-ਥਾਂ", "'ਤੇ", "ਕਈ", "ਅਜਿਹੀਆਂ", "ਮੁਸ਼ਕਲਾਂ", "ਦਰਪੇਸ਼", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "'ਤੇ", "ਕਾਬੂ", "ਪਾਉਣ", "ਦਾ", "ਜਤਨ", "ਹਰ", "ਪ੍ਰਾਣੀ", "ਵਲੋਂ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਮੁਸ਼ਕਲਾਂ", "ਨੂੰ", "ਸਹਿਜ", "-ਸੁਭਾਅ", "ਹੀ", "ਪਾਰ", "ਕਰ", "ਲੈਣ", "ਨਾਲ", "ਜ਼ਿੰਦਗੀ", "ਸਫ਼ਲਤਾ", "ਵੱਲ", "ਵੱਧਦੀ", "ਹੈ", "।", "ਸਾਡੇ", "ਇਤਿਹਾਸ-ਮਿਥਿਹਾਸ", "ਵਿੱਚੋੰ", "ਵੀ", "ਕਈ", "ਅਜਿਹੀਆਂ", "ਸਾਖੀਆਂ", "ਮਿਲਦੀਆਂ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਵਿੱਚ", "ਸੰਤਾਂ-ਮਹਾਤਮਾਵਾਂ", "ਨੂੰ", "ਵੀ", "ਪਰੀਖਿਆ", "ਵਿੱਚੋ", "ਗੁਜ਼ਰਨਾ", "ਪਿਆ,", "ਜਿਵੇਂ", "ਮਹਾਤਮਾ", "ਬੁੱਧ", "ਅਤੇ", "ਈਸਾ", "ਮਸਹੀ", "ਵਰਗੇ", "ਮਹਾਂਪੁਰੱਖ", "ਵੀ", "ਜ਼ਿੰਦਗੀ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਵਿੱਚੋਂ", "ਲੰਘੇ", "ਸਨ", "।", "ਗੁਰੂ", "ਨਾਨਕ", "ਦੇਵ", "ਜੀ", "ਨੇ", "ਵੀ", "ਆਪਣੇ", "ਗੱਦੀ", "ਦਾ", "ਵਾਰਸ", "ਚੁਣਨ", "ਲਈ", "ਭਾਈ", "ਲਹਿਣਾ", "ਜੀ", "ਅਤੇ", "ਆਪਣੇ", "ਪੁੱਤਰਾਂ", "ਦੀ", "ਪਰੀਖਿਆ", "ਲਈ", "ਜਿਸ", "ਵਿੱਚ", "ਭਾਈ", "ਲਹਿਣਾ", "ਜੀ", "ਪਾਸ", "ਹੋ", "ਗਏ", "ਤੇ", "ਗੱਦੀ", "ਦੇ", "ਵਾਰਸ", "ਬਣ", "ਗਏ", "।", "ਅਸਲ", "ਵਿੱਚ", "ਕਿਸੇ", "ਦੀ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਲਈ", "ਇੰਤਿਹਾਨ", "ਬਹੁਤ", "ਲੋੜੀਂਦੇ", "ਹਨ", "ਪਰ", "ਇੱਥੇ", "ਸਾਡਾ", "ਮਕਸਦ", "ਜ਼ਿੰਦਗੀ", "ਦੇ", "ਇਮਤਿਹਾਨਾਂ", "ਨਾਲ", "ਨਹੀਂ", "ਹੈ", "ਬਲਕਿ", "ਵਿਦਿਆਰਥੀ", "ਵਰਗ", "ਨਾਲ", "ਹੈ", "ਜਿਸ", "ਵਿੱਚ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਵਿੱਦਿਆ", "ਅਤੇ", "ਗਿਆਨ", "ਦੀ", "ਪਰੱਖ", "ਕੀਤੀ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਉਹ", "ਇਮਤਿਹਾਨ", "ਜਿਹੜੇ", "ਵਿਦਿਆਰਥੀਆਂ", "ਨੂੰ", "ਦੇਣੇ", "ਪੈਂਦੇ", "ਸਨ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹੀ", "ਕਾਰਜਵਿਧੀ", "ਹੈ", "ਜਿਸ", "ਦੁਆਰਾ", "ਕਿਸੇ", "ਖ਼ਾਸ", "ਵਿਸ਼ੇ", "ਜਾਂ", "ਖੇਤਰ", "ਬਾਰੇ", "ਵਿਦਿਆਰਥੀ", "ਦੇ", "ਗਿਆਨ", "ਅਤੇ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਕੀਤੀ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਇਸ", "ਵਿੱਚ", "ਯੋਗਤਾ", "ਦੀ", "ਪਰੱਖ", "ਲਈ", "ਨਿਸ਼ਚਿਤ", "ਸਮਾਂ", "ਤੇ", "ਨਿਸ਼ਚਿਤ", "ਸਿਲੇਬਸ", "ਨਿਰਧਾਰਿਤ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਆਧਾਰ", "'ਤੇ", "ਹੀ", "ਵਿਦਿਆਰਥੀ", "ਨੂੰ", "ਲਿਖਤੀ", "ਟੈੱਸਟ", "ਦੇਣਾ", "ਪੈਂਦਾ", "ਹੈ", "ਤੇ", "ਕਈ", "ਵਾਰ", "ਕਈ", "ਵਿਸ਼ੇ", "ਵੀ", "ਹੁੰਦੇ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਵਿੱਚ", "ਤਜਰਬੇ", "ਤੇ", "ਮੌਖਿਕ", "ਪਰੀਖਿਆ", "ਵੀ", "ਸ਼ਾਮਿਲ", "ਹੁੰਦੀ", "ਹੈ", "।", "ਸੰਸਾਰ", "ਦੇ", "ਬਹੁਤ", "ਸਾਰੇ", "ਦੇਸ਼ਾਂ", "ਵਿੱਚ", "ਵਿਦਿਆਰਥੀ", "ਨੂੰ", "ਇੱਕ", "ਜਮਾਤ", "ਤੋਂ", "ਦੂਜੀ", "ਜਮਾਤ", "ਤੱਕ", "ਸਾਲ", "ਭਰ", "ਨਿਸ਼ਚਿਤ", "ਸਿਲੇਬਸ", "ਪੜ੍ਹਨਾ", "ਪੈਂਦਾ", "ਹੈ", "ਤੇ", "ਸਾਲ", "ਦੇ", "ਅੰਤ", "'ਚ", "ਸਿਰਫ਼", "ਤਿੰਨ", "ਘੰਟੇ", "ਦੇ", "ਨਿਸ਼ਚਿਤ", "ਸਮੇਂ", "ਵਿੱਚ", "ਨਿਸ਼ਚਿਤ", "ਪ੍ਰਸ਼ਨਾਂ", "ਦੇ", "ਜਵਾਬ", "ਦੇਣੇ", "ਪੈਂਦੇ", "ਹਨ", "।", "ਲਗਭਗ", "ਇਹੋ", "ਪ੍ਰਣਾਲੀ", "ਸਾਰੇ", "ਦੇਸ਼", "ਵਿੱਚ", "ਚੱਲ", "ਰਹੀ", "ਹੈ", "।", "ਇਸ", "ਲਈ", "ਇਮਤਿਹਾਨ", "ਵਿਦਿਆਰਥੀ", "ਲਈ", "'ਡਰ'", "ਬਣਿਆ", "ਰਹਿੰਦਾ", "ਹੈ", "।", "ਇਮਤਿਹਾਨਾਂ", "ਦੇ", "ਲਾਭ", "ਵੀ", "ਹੁੰਦੇ", "ਹਨ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹਾ", "ਸਾਧਨ", "ਹੁੰਦੇ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਨਾਲ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੀ", "ਲਿਆਕਤ", "ਪਰੱਖੀ", "ਜਾਂਦੀ", "ਹੈ", "ਕਿਉਂਕੀ", "ਇਸ", "ਤੋਂ", "ਇਲਾਵਾ", "ਅਜੇ", "ਤੱਕ", "ਕੋਈ", "ਅਜਿਹਾ", "ਹੋਰ", "ਸਾਧਨ", "ਹੋਂਦ", "ਵਿੱਚ", "ਨਹੀਂ", "ਆਇਆ", "ਜਿਹੜਾ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੀ", "ਯੋਗਤਾ", "ਦਾ", "ਨਿਰੀਖਣ", "ਕਰ", "ਸਕੇ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







