
@{

    ViewBag.Title = "Passage Typing : Lesson 26 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 26:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "27" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 213       </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਪੰਜਾਬੀ</span><span>ਸੱਭਿਆਚਾਰ</span><span>ਕੋਈ</span><span>ਗਿੱਧੇ-ਭੰਗੜੇ</span><span>ਅਤੇ</span><span>ਹੱਸੀ-ਮਜ਼ਾਕ</span><span>ਕਰਨ</span><span>ਵਾਲਾ</span><span>ਸੱਭਿਆਚਾਰ</span><span>ਨਹੀਂ</span><span>ਜਿਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਕੂਝ</span><span>ਲੋਕ</span><span>ਕਹਿੰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਤਾਂ</span><span>ਬਹੁਤ</span><span>ਵਧੀਆ</span><span>ਤਰੀਕੇ</span><span>ਨਾਲ</span><span>ਮਨ</span><span>ਦੀ</span><span>ਉਸਾਰੀ</span><span>ਕਰਨ</span><span>ਤੇ</span><span>ਕਿਰਤੀ</span><span>ਪ੍ਰਧਾਨ</span><span>ਖਿਸਿਕਿਆ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>।</span><span>ਇਸੇ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਉਸ</span><span>ਇਸ</span><span>ਪ੍ਰਤੀ</span><span>ਧਿਆਨ</span><span>ਵਫ਼ਾਦਾਰ</span><span>ਨਹੀਂ</span><span>ਹੈ</span><span>।</span><span>ਪੰਜਾਬੀ</span><span>ਸੱਭਿਆਚਾਰ</span><span>ਧਿਆਨ</span><span>ਪੱਧਰ</span><span>'ਤੇ</span><span>ਆਪਣੇ</span><span>ਵਿੱਚ</span><span>ਬਹੁਤ</span><span>ਕੁਝ</span><span>ਲੁਕਾਈ</span><span>ਬੈਠਾ</span><span>ਹੈ</span><span>।</span><span>ਪੰਜ</span><span>ਨਦੀਆਂ</span><span>ਦਾ</span><span>ਦੇਸ਼</span><span>ਪੰਜਾਬ</span><span>ਸ਼ੁਰੂ</span><span>ਤੋਂ</span><span>ਹੀ</span><span>ਮੁਗਲਾਂ</span><span>ਦਾ</span><span>ਰਾਹ</span><span>ਬਣਿਆ</span><span>ਰਿਹਾ</span><span>ਹੈ,</span><span>ਜਿਸ</span><span>ਨਾਲ</span><span>ਪੰਜਾਬੀ</span><span>ਸਦਾ</span><span>ਜੂਝਦਾ</span><span>ਰਿਹਾ</span><span>ਤੇ</span><span>ਜਿੱਤਾਂ</span><span>ਹਾਸਲ</span><span>ਕਰਦਾ</span><span>ਰਿਹਾ</span><span>।</span><span>ਬਹਾਦਰੀ,</span><span>ਅਣਖ</span><span>ਤੇ</span><span>ਆਪਣੀਆਂ</span><span>ਲਈ</span><span>ਜਾਨਾਂ</span><span>ਵਾਰਨ</span><span>ਦੀ</span><span>ਸਮਰੱਥਾ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਸੱਭਿਆਚਾਰ</span><span>ਦਾ</span><span>ਇੱਕ</span><span>ਅਟੁੱਟ</span><span>ਹਿੱਸਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>।</span><span>ਪੰਜਾਬੀ</span><span>ਸੱਭਿਆਚਾਰ</span><span>'ਚ</span><span>ਭਾਈ</span><span>ਕਨ੍ਹਈਆ</span><span>ਜੀ</span><span>ਦੁਸ਼ਮਣਾਂ</span><span>ਨੂੰ</span><span>ਪਾਣੀ</span><span>ਪਿਆਉਂਦਾ</span><span>ਹੈ,</span><span>ਲਾਲਾ</span><span>ਲਾਜਪਤ</span><span>ਰਾਏ</span><span>ਤੇ</span><span>ਭਗਤ</span><span>ਸਿੰਘ</span><span>ਦੇਸ਼-ਭਗਤੀ</span><span>ਦਾ</span><span>ਜਲਵਾ</span><span>ਪ੍ਰਗਟਾਉਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਪੰਜਾਬ</span><span>ਦੇ</span><span>ਦਰਿਆ</span><span>ਜਪੁ</span><span>ਸਾਹਿਬ</span><span>ਗਾਉਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਕਿਸਾਨ</span><span>ਖੇਤਾਂ</span><span>ਵਿੱਚ</span><span>ਅੰਨ</span><span>ਉਪਜਾਉਂਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਪੂਰੇ</span><span>ਭਾਰਤ</span><span>ਵਾਸੀਆਂ</span><span>ਦਾ</span><span>ਢਿੱਡ</span><span>ਭਰ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਲਗਨ,</span><span>ਮਿਹਨਤ,</span><span>ਸੰਕਟ</span><span>ਵਿੱਚ</span><span>ਵੀ</span><span>ਭਰੋਸਾ,</span><span>ਚੜ੍ਹਦੀ</span><span>ਕਲਾ,</span><span>ਸ਼ਾਸਤਰ</span><span>ਤੇ</span><span>ਸ਼ਸਤਰ,</span><span>ਪੂਰੀ</span><span>ਜਿੰਮੇਵਾਰੀ,</span><span>ਕੌਮਾਂਤਰੀ</span><span>ਪੱਧਰ</span><span>ਪ੍ਰਤੀ</span><span>ਜਾਗਰੂਕਤਾ</span><span>ਆਦਿ</span><span>।</span><span>ਕਈ</span><span>ਲੋਕ</span><span>ਪੰਜਾਬੀ</span><span>ਸੱਭਿਆਚਾਰ</span><span>ਦੀ</span><span>ਤਸਵੀਰ</span><span>ਦਾ</span><span>ਹਾਲੇ</span><span>ਅੱਧਾ</span><span>ਹੀ</span><span>ਪੱਖ</span><span>ਉਸਾਰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਸੋ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਸਮਝਣ</span><span>ਦੀ</span><span>ਇਸ</span><span>ਪ੍ਰਤੀ</span><span>ਜਾਗਰੂਕ</span><span>ਹੋਣ</span><span>ਦੀ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਅਪਣਾਉਣ</span><span>ਦੀ,</span><span>ਤਾਂ</span><span>ਜ਼ੋ</span><span>ਪੂਰੀ</span><span>ਦੁਨੀਆ</span><span>ਨੂੰ</span><span>ਪੰਜਾਬੀ</span><span>ਕਲਚਰ</span><span>ਨੂੰ</span><span>ਸਮਝਣ</span><span>ਦਾ</span><span>ਮੌਕਾ</span><span>ਮਿਲੇ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਪੰਜਾਬੀ", "ਸੱਭਿਆਚਾਰ", "ਕੋਈ", "ਗਿੱਧੇ-ਭੰਗੜੇ", "ਅਤੇ", "ਹੱਸੀ-ਮਜ਼ਾਕ", "ਕਰਨ", "ਵਾਲਾ", "ਸੱਭਿਆਚਾਰ", "ਨਹੀਂ", "ਜਿਸ", "ਤਰ੍ਹਾਂ", "ਕੂਝ", "ਲੋਕ", "ਕਹਿੰਦੇ", "ਹਨ", "।", "ਇਹ", "ਤਾਂ", "ਬਹੁਤ", "ਵਧੀਆ", "ਤਰੀਕੇ", "ਨਾਲ", "ਮਨ", "ਦੀ", "ਉਸਾਰੀ", "ਕਰਨ", "ਤੇ", "ਕਿਰਤੀ", "ਪ੍ਰਧਾਨ", "ਖਿਸਿਕਿਆ", "ਹੋਇਆ", "ਹੈ", "।", "ਇਸੇ", "ਕਰ", "ਕੇ", "ਉਸ", "ਇਸ", "ਪ੍ਰਤੀ", "ਧਿਆਨ", "ਵਫ਼ਾਦਾਰ", "ਨਹੀਂ", "ਹੈ", "।", "ਪੰਜਾਬੀ", "ਸੱਭਿਆਚਾਰ", "ਧਿਆਨ", "ਪੱਧਰ", "'ਤੇ", "ਆਪਣੇ", "ਵਿੱਚ", "ਬਹੁਤ", "ਕੁਝ", "ਲੁਕਾਈ", "ਬੈਠਾ", "ਹੈ", "।", "ਪੰਜ", "ਨਦੀਆਂ", "ਦਾ", "ਦੇਸ਼", "ਪੰਜਾਬ", "ਸ਼ੁਰੂ", "ਤੋਂ", "ਹੀ", "ਮੁਗਲਾਂ", "ਦਾ", "ਰਾਹ", "ਬਣਿਆ", "ਰਿਹਾ", "ਹੈ,", "ਜਿਸ", "ਨਾਲ", "ਪੰਜਾਬੀ", "ਸਦਾ", "ਜੂਝਦਾ", "ਰਿਹਾ", "ਤੇ", "ਜਿੱਤਾਂ", "ਹਾਸਲ", "ਕਰਦਾ", "ਰਿਹਾ", "।", "ਬਹਾਦਰੀ,", "ਅਣਖ", "ਤੇ", "ਆਪਣੀਆਂ", "ਲਈ", "ਜਾਨਾਂ", "ਵਾਰਨ", "ਦੀ", "ਸਮਰੱਥਾ", "ਇਸ", "ਦੇ", "ਸੱਭਿਆਚਾਰ", "ਦਾ", "ਇੱਕ", "ਅਟੁੱਟ", "ਹਿੱਸਾ", "ਰਿਹਾ", "ਹੈ", "।", "ਪੰਜਾਬੀ", "ਸੱਭਿਆਚਾਰ", "'ਚ", "ਭਾਈ", "ਕਨ੍ਹਈਆ", "ਜੀ", "ਦੁਸ਼ਮਣਾਂ", "ਨੂੰ", "ਪਾਣੀ", "ਪਿਆਉਂਦਾ", "ਹੈ,", "ਲਾਲਾ", "ਲਾਜਪਤ", "ਰਾਏ", "ਤੇ", "ਭਗਤ", "ਸਿੰਘ", "ਦੇਸ਼-ਭਗਤੀ", "ਦਾ", "ਜਲਵਾ", "ਪ੍ਰਗਟਾਉਂਦੇ", "ਹਨ", "।", "ਪੰਜਾਬ", "ਦੇ", "ਦਰਿਆ", "ਜਪੁ", "ਸਾਹਿਬ", "ਗਾਉਂਦੇ", "ਹਨ", "।", "ਕਿਸਾਨ", "ਖੇਤਾਂ", "ਵਿੱਚ", "ਅੰਨ", "ਉਪਜਾਉਂਦਾ", "ਹੈ", "ਤੇ", "ਪੂਰੇ", "ਭਾਰਤ", "ਵਾਸੀਆਂ", "ਦਾ", "ਢਿੱਡ", "ਭਰ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਲਗਨ,", "ਮਿਹਨਤ,", "ਸੰਕਟ", "ਵਿੱਚ", "ਵੀ", "ਭਰੋਸਾ,", "ਚੜ੍ਹਦੀ", "ਕਲਾ,", "ਸ਼ਾਸਤਰ", "ਤੇ", "ਸ਼ਸਤਰ,", "ਪੂਰੀ", "ਜਿੰਮੇਵਾਰੀ,", "ਕੌਮਾਂਤਰੀ", "ਪੱਧਰ", "ਪ੍ਰਤੀ", "ਜਾਗਰੂਕਤਾ", "ਆਦਿ", "।", "ਕਈ", "ਲੋਕ", "ਪੰਜਾਬੀ", "ਸੱਭਿਆਚਾਰ", "ਦੀ", "ਤਸਵੀਰ", "ਦਾ", "ਹਾਲੇ", "ਅੱਧਾ", "ਹੀ", "ਪੱਖ", "ਉਸਾਰਦੇ", "ਹਨ", "।", "ਸੋ", "ਲੋੜ", "ਹੈ", "ਇਸ", "ਨੂੰ", "ਸਮਝਣ", "ਦੀ", "ਇਸ", "ਪ੍ਰਤੀ", "ਜਾਗਰੂਕ", "ਹੋਣ", "ਦੀ", "ਤੇ", "ਇਸ", "ਨੂੰ", "ਅਪਣਾਉਣ", "ਦੀ,", "ਤਾਂ", "ਜ਼ੋ", "ਪੂਰੀ", "ਦੁਨੀਆ", "ਨੂੰ", "ਪੰਜਾਬੀ", "ਕਲਚਰ", "ਨੂੰ", "ਸਮਝਣ", "ਦਾ", "ਮੌਕਾ", "ਮਿਲੇ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>
}







