

@{

    ViewBag.Title = "Passage Typing : Lesson 4 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 4:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "5" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words:238  </h5>
            <br />

            <section id="word-section">
                <span class="current-word">ਵਿਦਿਆਰਥੀ</span><span>ਜੀਵਨ</span><span>ਮਨੁੱਖ</span><span>ਦੇ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਇੱਕ</span><span>ਬੜਾ</span><span>ਕੀਮਤੀ</span><span>ਭਾਗ</span><span>ਹੈ।</span><span>ਇਹ</span><span>ਅਵਸਰ</span><span>ਉਹ</span><span>ਬੁਨਿਆਦ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਉਪਰ</span><span>ਆਉਣ</span><span>ਵਾਲੀ</span><span>ਜ਼ਿੰਦਗੀ</span><span>ਦੀ</span><span>ਨਵੀਂ</span><span>ਸ਼ੁਰੂਆਤ</span><span>ਉਸਾਰੀ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਜਿੰਨਾ</span><span>ਕੋਈ</span><span>ਇਸ</span><span>ਨੀਂਹ</span><span>ਨੂੰ</span><span>ਪੱਕਾ</span><span>ਕਰ</span><span>ਲੈਂਦਾ</span><span>ਹੈ,</span><span>ਓਨਾ</span><span>ਹੀ</span><span>ਉਹ</span><span>ਆਪਣੀ</span><span>ਜਿੰਦਗੀ</span><span>ਸੁਆਰ</span><span>ਲੈਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਬਹੁਤ</span><span>ਸਾਰੇ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਇਸ</span><span>ਜੀਵਨ</span><span>ਨੂੰ</span><span>ਨਿਰਾ</span><span>ਮਜ਼ਾਕ</span><span>ਅਤੇ</span><span>ਸ਼ਰਾਰਤਾਂ</span><span>ਦਾ</span><span>ਮੌਕਾ</span><span>ਸਮਝਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਇਸ</span><span>ਜੀਵਨ</span><span>ਵਿੱਚੋੰ</span><span>ਕੁਝ</span><span>ਪ੍ਰਾਪਤ</span><span>ਨਾ</span><span>ਕਰਦੇ</span><span>ਹੋਏ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਵਿਅਰਥ</span><span>ਗਵਾ</span><span>ਦਿੰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਸ</span><span>ਲਾਪਰਵਾਹੀ</span><span>ਲਈ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਬਾਅਦ</span><span>ਵਿੱਚ</span><span>ਪੱਛਤਾਉਂਣਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>ਕਿਉਂਕਿ</span><span>ਜਿੰਦਗੀ</span><span>ਦੀਆਂ</span><span>ਖੱਟੀਆਂ</span><span>ਮਿੱਠੀਆਂ</span><span>ਅਸਲੀਅਤਾਂ</span><span>ਦਾ</span><span>ਸਾਹਮਣਾ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੇ</span><span>ਆਪਣੇ</span><span>-ਆਪ</span><span>ਨੂੰ</span><span>ਤਿਆਰ</span><span>ਨਹੀਂ</span><span>ਕੀਤਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਦਾ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਵੱਡਾ</span><span>ਫ਼ਰਜ</span><span>ਵਿੱਦਿਆ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਨਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>ਨਾ</span><span>ਕਿ</span><span>ਸਮੇਂ</span><span>ਨੂੰ</span><span>ਬਰਬਾਦ</span><span>ਕਰਨਾ</span><span>।</span><span>ਉਹ</span><span>ਪੜ੍ਹਾਈ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਹੀ</span><span>ਸਕੂਲ</span><span>ਜਾਂ</span><span>ਕਲਾਸ</span><span>ਵਿੱਚ</span><span>ਆਉਂਦਾ</span><span>ਹੈ</span><span>ਕਈ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਇਹ</span><span>ਸਮਾਂ</span><span>ਹੱਸੀ-ਮਜ਼ਾਕ</span><span>ਵਿੱਚ</span><span>ਖਰਾਬ</span><span>ਕਰ</span><span>ਦਿੰਦੇ</span><span>ਹਨ,</span><span>ਅਤੇ</span><span>ਕਈ</span><span>ਨਿਰਾ</span><span>ਕਿਤਾਬੀ-ਕੀੜਾ</span><span>ਹੀ</span><span>ਬਣਿਆ</span><span>ਰਹਿਣਾ</span><span>ਪਸੰਦ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਪੜ੍ਹਾਈ</span><span>ਦਾ</span><span>ਅਰਥ</span><span>ਸਿਰਫ</span><span>ਦਿਮਾਗੀ</span><span>ਵਿਕਾਸ</span><span>ਹੀ</span><span>ਨਹੀਂ</span><span>ਸਗੋਂ</span><span>ਮਨੁੱਖ</span><span>ਦਾ</span><span>ਸਮੁੱਚਾ</span><span>ਵਿਕਾਸ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਲਈ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਨੂੰ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਉਹ</span><span>ਦਿਮਾਗੀ</span><span>ਵਿਕਾਸ</span><span>ਦੇ</span><span>ਨਾਲ-ਨਾਲ</span><span>ਆਪਣੇ</span><span>ਸ਼ਰੀਰ</span><span>ਤੇ</span><span>ਆਤਮਾ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਵਿਕਸਿਤ</span><span>ਕਰਨ</span><span>।</span><span>ਵਿੱਦਿਆ</span><span>ਨਾਲ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਦੇ</span><span>ਗਿਆਨ</span><span>ਵਿੱਚ</span><span>ਤਾਂ</span><span>ਵਾਧਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਜਿੰਦਗੀ</span><span>ਦੀਆਂ</span><span>ਮੁਸ਼ਕਲਾਂ</span><span>ਦਾ</span><span>ਹੱਲ</span><span>ਬੜੇ</span><span>ਸੋਖੇ</span><span>ਤਰੀਕੇ</span><span>ਨਾਲ</span><span>ਲੱਭ</span><span>ਲੈਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਜਿੰਨਾ</span><span>ਕੋਈ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਇਸ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਆਪਣੀ</span><span>ਸ਼ਖ਼ਸੀਅਤ</span><span>ਨੂੰ</span><span>ਵਧੇਰੇ</span><span>ਨਿਖਾਰ</span><span>ਲਵੇਗਾ,</span><span>ਓਨਾ</span><span>ਹੀ</span><span>ਵੱਧ</span><span>ਸਤਿਕਾਰ</span><span>ਉਹ</span><span>ਸਮਾਜ</span><span>ਵਿੱਚ</span><span>ਪਵੇਗਾ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਵਿਦਿਆਰਥੀ", "ਜੀਵਨ", "ਮਨੁੱਖ", "ਦੇ", "ਜੀਵਨ", "ਦਾ", "ਇੱਕ", "ਬੜਾ", "ਕੀਮਤੀ", "ਭਾਗ", "ਹੈ।", "ਇਹ", "ਅਵਸਰ", "ਉਹ", "ਬੁਨਿਆਦ", "ਹੈ", "ਜਿਸ", "ਉਪਰ", "ਆਉਣ", "ਵਾਲੀ", "ਜ਼ਿੰਦਗੀ", "ਦੀ", "ਨਵੀਂ", "ਸ਼ੁਰੂਆਤ", "ਉਸਾਰੀ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਜਿੰਨਾ", "ਕੋਈ", "ਇਸ", "ਨੀਂਹ", "ਨੂੰ", "ਪੱਕਾ", "ਕਰ", "ਲੈਂਦਾ", "ਹੈ,", "ਓਨਾ", "ਹੀ", "ਉਹ", "ਆਪਣੀ", "ਜਿੰਦਗੀ", "ਸੁਆਰ", "ਲੈਂਦਾ", "ਹੈ", "।", "ਬਹੁਤ", "ਸਾਰੇ", "ਵਿਦਿਆਰਥੀ", "ਇਸ", "ਜੀਵਨ", "ਨੂੰ", "ਨਿਰਾ", "ਮਜ਼ਾਕ", "ਅਤੇ", "ਸ਼ਰਾਰਤਾਂ", "ਦਾ", "ਮੌਕਾ", "ਸਮਝਦੇ", "ਹਨ", "ਅਤੇ", "ਇਸ", "ਜੀਵਨ", "ਵਿੱਚੋੰ", "ਕੁਝ", "ਪ੍ਰਾਪਤ", "ਨਾ", "ਕਰਦੇ", "ਹੋਏ", "ਇਸ", "ਨੂੰ", "ਵਿਅਰਥ", "ਗਵਾ", "ਦਿੰਦੇ", "ਹਨ", "।", "ਇਸ", "ਲਾਪਰਵਾਹੀ", "ਲਈ", "ਉਨ੍ਹਾਂ", "ਨੂੰ", "ਬਾਅਦ", "ਵਿੱਚ", "ਪੱਛਤਾਉਂਣਾ", "ਪੈਂਦਾ", "ਹੈ", "ਕਿਉਂਕਿ", "ਜਿੰਦਗੀ", "ਦੀਆਂ", "ਖੱਟੀਆਂ", "ਮਿੱਠੀਆਂ", "ਅਸਲੀਅਤਾਂ", "ਦਾ", "ਸਾਹਮਣਾ", "ਕਰਨ", "ਲਈ", "ਉਨ੍ਹਾਂ", "ਨੇ", "ਆਪਣੇ", "-ਆਪ", "ਨੂੰ", "ਤਿਆਰ", "ਨਹੀਂ", "ਕੀਤਾ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਵਿਦਿਆਰਥੀ", "ਦਾ", "ਸਭ", "ਤੋਂ", "ਵੱਡਾ", "ਫ਼ਰਜ", "ਵਿੱਦਿਆ", "ਪ੍ਰਾਪਤ", "ਕਰਨਾ", "ਹੁੰਦਾ", "ਹੈ", "ਨਾ", "ਕਿ", "ਸਮੇਂ", "ਨੂੰ", "ਬਰਬਾਦ", "ਕਰਨਾ", "।", "ਉਹ", "ਪੜ੍ਹਾਈ", "ਕਰਨ", "ਲਈ", "ਹੀ", "ਸਕੂਲ", "ਜਾਂ", "ਕਲਾਸ", "ਵਿੱਚ", "ਆਉਂਦਾ", "ਹੈ", "ਕਈ", "ਵਿਦਿਆਰਥੀ", "ਇਹ", "ਸਮਾਂ", "ਹੱਸੀ-ਮਜ਼ਾਕ", "ਵਿੱਚ", "ਖਰਾਬ", "ਕਰ", "ਦਿੰਦੇ", "ਹਨ,", "ਅਤੇ", "ਕਈ", "ਨਿਰਾ", "ਕਿਤਾਬੀ-ਕੀੜਾ", "ਹੀ", "ਬਣਿਆ", "ਰਹਿਣਾ", "ਪਸੰਦ", "ਕਰਦੇ", "ਹਨ", "।", "ਪੜ੍ਹਾਈ", "ਦਾ", "ਅਰਥ", "ਸਿਰਫ", "ਦਿਮਾਗੀ", "ਵਿਕਾਸ", "ਹੀ", "ਨਹੀਂ", "ਸਗੋਂ", "ਮਨੁੱਖ", "ਦਾ", "ਸਮੁੱਚਾ", "ਵਿਕਾਸ", "ਹੈ", "।", "ਇਸ", "ਲਈ", "ਵਿਦਿਆਰਥੀਆਂ", "ਨੂੰ", "ਚਾਹੀਦਾ", "ਹੈ", "ਕਿ", "ਉਹ", "ਦਿਮਾਗੀ", "ਵਿਕਾਸ", "ਦੇ", "ਨਾਲ-ਨਾਲ", "ਆਪਣੇ", "ਸ਼ਰੀਰ", "ਤੇ", "ਆਤਮਾ", "ਨੂੰ", "ਵੀ", "ਵਿਕਸਿਤ", "ਕਰਨ", "।", "ਵਿੱਦਿਆ", "ਨਾਲ", "ਵਿਦਿਆਰਥੀ", "ਦੇ", "ਗਿਆਨ", "ਵਿੱਚ", "ਤਾਂ", "ਵਾਧਾ", "ਹੁੰਦਾ", "ਹੈ", "ਨਾਲ", "ਹੀ", "ਜਿੰਦਗੀ", "ਦੀਆਂ", "ਮੁਸ਼ਕਲਾਂ", "ਦਾ", "ਹੱਲ", "ਬੜੇ", "ਸੋਖੇ", "ਤਰੀਕੇ", "ਨਾਲ", "ਲੱਭ", "ਲੈਂਦਾ", "ਹੈ", "।", "ਜਿੰਨਾ", "ਕੋਈ", "ਵਿਦਿਆਰਥੀ", "ਇਸ", "ਸਮੇਂ", "ਵਿੱਚ", "ਆਪਣੀ", "ਸ਼ਖ਼ਸੀਅਤ", "ਨੂੰ", "ਵਧੇਰੇ", "ਨਿਖਾਰ", "ਲਵੇਗਾ,", "ਓਨਾ", "ਹੀ", "ਵੱਧ", "ਸਤਿਕਾਰ", "ਉਹ", "ਸਮਾਜ", "ਵਿੱਚ", "ਪਵੇਗਾ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}



