
@{

    ViewBag.Title = "Passage Typing : Lesson 18 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 18:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "19" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 441   </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਸਾਇੰਸ</span><span>ਨੇ</span><span>ਅਨੇਕਾਂ</span><span>ਕਾਢਾਂ</span><span>ਕੱਢੀਆਂ</span><span>ਹਨ</span><span>ਜਿਸ</span><span>ਦੇ</span><span>ਜ਼ਰੀਏ</span><span>ਵੀਹਵੀਂ</span><span>ਸਦੀ</span><span>ਨੂੰ</span><span>ਸਾਇੰਸ</span><span>ਯੁੱਗ</span><span>ਕਿਹਾ</span><span>ਜਾਣ</span><span>ਲੱਗ</span><span>ਪਿਆ</span><span>।</span><span>ਇਸੇ</span><span>ਲੜੀ</span><span>ਦੀ</span><span>ਇੱਕ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਅਦਭੁੱਤ</span><span>ਅਤੇ</span><span>ਮਹੱਤਵਪੂਰਨ</span><span>ਕਾਢ</span><span>ਹੈ</span><span>'ਕੰਪਿਊਟਰ</span><span>ਮਸ਼ੀਨ'</span><span>।</span><span>ਕੰਪਿਊਟਰ</span><span>ਮਸ਼ੀਨ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਅਤੇ</span><span>ਗੁਣਾਂ</span><span>ਤੇ</span><span>ਅਧਾਰ</span><span>'ਤੇ</span><span>ਅੱਜ</span><span>ਦੇ</span><span>ਯੁੱਗ</span><span>ਨੂੰ</span><span>'ਕੰਪਿਊਟਰ</span><span>ਯੁੱਗ'</span><span>ਕਹਿ</span><span>ਦਿੱਤਾ</span><span>ਜਾਵੇ</span><span>ਤਾਂ</span><span>ਅਤਿਕਥਨੀ</span><span>ਨਹੀਂ</span><span>ਹੋਵੇਗੀ</span><span>।</span><span>ਕੰਪਿਊਟਰ</span><span>ਵਰਤਮਾਨ</span><span>ਸਾਇੰਸ</span><span>ਦੀ</span><span>ਮਨੁੱਖ</span><span>ਨੂੰ</span><span>ਇੱਕ</span><span>ਅਦਭੁੱਤ</span><span>ਤੇ</span><span>ਮਹੱਤਵਪੂਰਣ</span><span>ਦੇਣ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਇੱਕ</span><span>ਅਜਿਹੀ</span><span>ਮਸ਼ੀਨ</span><span>ਹੈ</span><span>ਜਿਹੜੀ</span><span>ਦਫਤਰਾਂ,</span><span>ਸਕੂਲਾਂ,</span><span>ਹਸਪਤਾਲਾਂ,</span><span>ਬੈਂਕਾਂ,</span><span></span><span>ਰੇਲਵੇ-ਸਟੇਸ਼ਨਾਂ,</span><span>ਹਵਾਈ</span><span>ਅੱਡਿਆਂ,</span><span>ਵੱਖ-ਵੱਖ</span><span>ਖੋਜ-ਕੇਂਦਰਾਂ,</span><span>ਡਿਜ਼ਾਈਨਿੰਗ,</span><span>ਪੁਲਿਸ</span><span>ਕੇਂਦਰ,</span><span>ਫੌਜ,</span><span>ਵਿੱਦਿਅਕ</span><span>ਅਤੇ</span><span>ਸਨਅਤੀ</span><span>ਅਦਾਰਿਆਂ</span><span>ਤੋਂ</span><span>ਇਲਾਵਾ</span><span>ਅੱਜ</span><span>ਸਾਡੇ</span><span>ਘਰਾਂ</span><span>ਵਿੱਚ</span><span>ਵੀ</span><span>ਮੌਜੂਦ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਨੇ</span><span>ਥੋੜ੍ਹੇ</span><span>ਅਰਸੇ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਦੇ</span><span>ਹਰ</span><span>ਖੇਤਰ</span><span>ਵਿੱਚ</span><span>ਆਪਣੀ</span><span>ਥਾਂ</span><span>ਬਣਾ</span><span>ਲਈ</span><span>ਹੈ</span><span>।</span><span>ਕੰਪਿਊਟਰ</span><span>ਕੀ</span><span>ਹੈ?</span><span>ਕੁਝ</span><span>ਸਮਾਂ</span><span>ਪਹਿਲਾਂ</span><span>ਕੰਪਿਊਟਰ</span><span>ਨੂੰ</span><span>ਮਨੁੱਖੀ</span><span>ਦਿਮਾਗ</span><span>ਵੀ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>ਪਰ</span><span>ਇਹ</span><span>ਤਾਂ</span><span>ਮਨੁੱਖੀ</span><span>ਦਿਮਾਗ</span><span>ਤੋਂ</span><span>ਕਈ</span><span>ਗੁਣਾ</span><span>ਤੇਜ਼</span><span>ਹੈ</span><span>।</span><span>ਮਨੁੱਖ</span><span>ਨੂੰ</span><span>ਕੋਈ</span><span>ਜਵਾਬ,</span><span>ਨਤੀਜਾ</span><span>ਜਾਂ</span><span>ਫੈਸਲਾ</span><span>ਲੈਣ</span><span>ਲਗਿਆਂ</span><span>ਕੁਝ</span><span>ਸਮਾਂ</span><span>ਲੱਗਦਾ</span><span>ਹੈ</span><span>ਪਰ</span><span>ਕੰਪਿਊਟਰ</span><span>ਇੰਤਜ਼ਾਰ</span><span>ਨਹੀਂ</span><span>ਕਰਦਾ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਹੀ</span><span>ਕਰਾਉਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਇੱਕ</span><span>ਅਜਿਹੀ</span><span>ਇਲੈਕਟ੍ਰੋਨਿਕ</span><span>ਮਸ਼ੀਨ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਦੇ</span><span>ਤਿੰਨ</span><span>ਭਾਗ</span><span>ਹੁੰਦੇ</span><span>ਹਨ-</span><span>ਆਦਾਨ</span><span>ਭਾਗ</span><span></span><span>ਕੇਂਦਰੀ</span><span>ਅਤੇ</span><span>ਪ੍ਰਦਾਨ</span><span>ਭਾਗ</span><span>।</span><span>ਆਦਾਨ</span><span>ਭਾਗ</span><span>ਦੀ</span><span>ਸਹਾਇਤਾ</span><span>ਨਾਲ</span><span>ਅਸੀਂ</span><span>ਕੇਂਦਰੀ</span><span>ਭਾਗ</span><span>ਨੂੰ</span><span>ਲੋੜੀਂਦੀ</span><span>ਸੂਚਨਾ</span><span>ਦਿੰਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਪ੍ਰਦਾਨ</span><span>ਭਾਗ</span><span>ਸਾਨੂੰ</span><span>ਲੋੜੀਂਦੇ</span><span>ਨਤੀਜੇ</span><span>ਕੱਢ</span><span>ਕੇ</span><span>ਦਿੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਕੇਂਦਰੀ</span><span>ਭਾਗ</span><span>ਨੂੰ</span><span>ਸੀ.ਪੀ.ਯੂ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹੋ</span><span>ਹੀ</span><span>ਕੰਪਿਊਟਰ</span><span>ਦਾ</span><span>ਦਿਮਾਗ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਕੰਪਿਊਟਰ</span><span>ਦੇ</span><span>ਦੋ</span><span>ਭਾਗ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇੱਕ</span><span>ਹੈ</span><span>ਹਾਰਡ-ਵੇਅਰ:</span><span>ਜੋ</span><span>ਕੁਝ</span><span>ਦਿੱਸਦਾ</span><span>ਹੈ,</span><span>ਜਿਵੇਂ</span><span>ਮਾਨੀਟਰ,</span><span>ਸੀ.ਪੀ.ਯੂ,</span><span>ਕੀ-ਬੋਰਡ,</span><span>ਸਪੀਕਰ,</span><span>ਡਿਸਕ,</span><span>ਡਿਸਕ</span><span>ਪ੍ਰਿੰਟਰ,</span><span>ਮਾਊਸ</span><span>ਆਦਿ</span><span>ਸਮਾਨ</span><span>ਹਾਰਡ-ਵੇਅਰ</span><span>ਦਾ</span><span>ਹਿੱਸਾ</span><span>ਹਨ</span><span>।</span><span>ਦੂਜਾ</span><span>ਭਾਗ</span><span>ਹੈ</span><span>ਸਾਫ਼ਟ-ਵੇਅਰ:</span><span>ਕੋਈ</span><span>ਕੰਮ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਕੰਪਿਊਟਰ</span><span>ਨੂੰ</span><span>ਦੇਣ</span><span>ਵਾਲੀਆਂ</span><span>ਹਿਦਾਇਤਾਂ</span><span>ਦੀ</span><span>ਲੜੀ</span><span>ਨੂੰ</span><span>ਸਾਫਟ-ਵੇਅਰ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਉਦਾਹਰਨ</span><span>ਦੇ</span><span>ਤੌਰ</span><span>'ਤੇ</span><span>ਅਸੀਂ</span><span>ਜੋ</span><span>ਫਲਾਪੀ</span><span>ਜਾਂ</span><span>ਸੀ.ਡੀ:</span><span>ਲੈਂਦੇ</span><span>ਹਾਂ</span><span>ਉਹ</span><span>ਹਾਰਡ-ਵੇਅਰ</span><span>ਹੈ,</span><span>ਉਸ</span><span>ਅੰਦਰ</span><span>ਜੋ</span><span>ਫੀਡ</span><span>ਕੀਤਾ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span></span><span>ਉਹ</span><span>ਸਾਫਟ-ਵੇਅਰ</span><span>ਹੈ</span><span>।</span><span>ਉਸ</span><span>ਵਿਵਸਥਾ</span><span>ਦਾ</span><span>ਨਾਂ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਰਾਹੀਂ</span><span>ਦੁਨੀਆ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਕੰਪਿਊਟਰ</span><span>ਇੱਕ-ਦੂਜੇ</span><span>ਨਾਲ</span><span>ਜੁੜੇ</span><span>ਹੋਏ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਉਹ</span><span>ਇੱਕ-ਦੂਜੇ</span><span>ਨੂੰ</span><span>ਸੰਦੇਸ਼</span><span>ਭੇਜ</span><span>ਕੇ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਇੱਕ-ਦੂਜੇ</span><span>ਵਿੱਚ</span><span>ਮੌਜੂਦ</span><span>ਸੂਚਨਾ</span><span>ਦਾ</span><span>ਆਦਾਨ-ਪ੍ਰਦਾਨ</span><span>ਕਰ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>।</span><span>ਅੱਜ</span><span>ਕੱਲ੍ਹ</span><span>ਇਸੇ</span><span>ਦੀ</span><span>ਚੜ੍ਹਤ</span><span>ਵਧੇਰੇ</span><span>ਹੈ</span><span>।</span><span>ਕੰਪਿਊਟਰ</span><span>ਦੀ</span><span>ਕਾਢ</span><span>ਨੇ</span><span>ਮਨੁੱਖ</span><span>ਦੇ</span><span>ਜੀਵਨ</span><span>ਵਿੱਚ</span><span>ਉਸ</span><span>ਦੀ</span><span>ਤਰੱਕੀ</span><span>ਅਤੇ</span><span>ਖੁਸ਼ਹਾਲੀ</span><span>ਲਈ</span><span>ਹੈਰਾਨੀਜਨਕ</span><span>ਵਾਧਾ</span><span>ਕੀਤਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਯੰਤਰ</span><span>ਮਨੁੱਖੀ</span><span>ਸਮਾਜ</span><span>ਦੇ</span><span>ਹੋਰ</span><span>ਖੇਤਰ</span><span>ਵਿੱਚ</span><span>ਆਪਣੇ</span><span>ਪੈਰ</span><span>ਪਸਾਰ</span><span>ਚੁੱਕਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਅੱਜ</span><span>ਆਮ</span><span>ਹੀ</span><span>ਹੋ</span><span>ਗਈ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਨੇ</span><span>ਮਨੁੱਖ</span><span>ਦੀ</span><span>ਦਿਮਾਗੀ</span><span>ਸ਼ਕਤੀ</span><span>ਵਿੱਚ</span><span>ਕਈ</span><span>ਗੁਣਾ</span><span>ਵਾਧਾ</span><span>ਕੀਤਾ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਹਿਸਾਬ-ਕਿਤਾਬ</span><span>ਰੱਖਣ</span><span>ਵਿੱਚ,</span><span>ਸੂਚਨਾਵਾਂ</span><span>ਅਤੇ</span><span>ਜਾਣਕਾਰੀ</span><span>ਇਕੱਠੀ</span><span>ਕਰਨ</span><span>ਅਤੇ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਸੰਭਾਲਣ</span><span>ਵਿੱਚ</span><span>ਮਨੁੱਖ</span><span>ਦਾ</span><span>ਵਫ਼ਾਦਾਰ</span><span>ਸੇਵਕ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਅਣਗਿਣਤ</span><span>ਕੰਮ</span><span>ਬਿਨਾਂ</span><span>ਕਿਸੇ</span><span>ਰੁਕਾਵਟ</span><span>ਤੋਂ</span><span>ਕਰ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਸਾਇੰਸ", "ਨੇ", "ਅਨੇਕਾਂ", "ਕਾਢਾਂ", "ਕੱਢੀਆਂ", "ਹਨ", "ਜਿਸ", "ਦੇ", "ਜ਼ਰੀਏ", "ਵੀਹਵੀਂ", "ਸਦੀ", "ਨੂੰ", "ਸਾਇੰਸ", "ਯੁੱਗ", "ਕਿਹਾ", "ਜਾਣ", "ਲੱਗ", "ਪਿਆ", "।", "ਇਸੇ", "ਲੜੀ", "ਦੀ", "ਇੱਕ", "ਸਭ", "ਤੋਂ", "ਅਦਭੁੱਤ", "ਅਤੇ", "ਮਹੱਤਵਪੂਰਨ", "ਕਾਢ", "ਹੈ", "'ਕੰਪਿਊਟਰ", "ਮਸ਼ੀਨ'", "।", "ਕੰਪਿਊਟਰ", "ਮਸ਼ੀਨ", "ਦੀ", "ਵਰਤੋਂ", "ਅਤੇ", "ਗੁਣਾਂ", "ਤੇ", "ਅਧਾਰ", "'ਤੇ", "ਅੱਜ", "ਦੇ", "ਯੁੱਗ", "ਨੂੰ", "'ਕੰਪਿਊਟਰ", "ਯੁੱਗ'", "ਕਹਿ", "ਦਿੱਤਾ", "ਜਾਵੇ", "ਤਾਂ", "ਅਤਿਕਥਨੀ", "ਨਹੀਂ", "ਹੋਵੇਗੀ", "।", "ਕੰਪਿਊਟਰ", "ਵਰਤਮਾਨ", "ਸਾਇੰਸ", "ਦੀ", "ਮਨੁੱਖ", "ਨੂੰ", "ਇੱਕ", "ਅਦਭੁੱਤ", "ਤੇ", "ਮਹੱਤਵਪੂਰਣ", "ਦੇਣ", "ਹੈ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹੀ", "ਮਸ਼ੀਨ", "ਹੈ", "ਜਿਹੜੀ", "ਦਫਤਰਾਂ,", "ਸਕੂਲਾਂ,", "ਹਸਪਤਾਲਾਂ,", "ਬੈਂਕਾਂ,", "", "ਰੇਲਵੇ-ਸਟੇਸ਼ਨਾਂ,", "ਹਵਾਈ", "ਅੱਡਿਆਂ,", "ਵੱਖ-ਵੱਖ", "ਖੋਜ-ਕੇਂਦਰਾਂ,", "ਡਿਜ਼ਾਈਨਿੰਗ,", "ਪੁਲਿਸ", "ਕੇਂਦਰ,", "ਫੌਜ,", "ਵਿੱਦਿਅਕ", "ਅਤੇ", "ਸਨਅਤੀ", "ਅਦਾਰਿਆਂ", "ਤੋਂ", "ਇਲਾਵਾ", "ਅੱਜ", "ਸਾਡੇ", "ਘਰਾਂ", "ਵਿੱਚ", "ਵੀ", "ਮੌਜੂਦ", "ਹੈ", "।", "ਇਸ", "ਨੇ", "ਥੋੜ੍ਹੇ", "ਅਰਸੇ", "ਵਿੱਚ", "ਹੀ", "ਸਾਡੇ", "ਜੀਵਨ", "ਦੇ", "ਹਰ", "ਖੇਤਰ", "ਵਿੱਚ", "ਆਪਣੀ", "ਥਾਂ", "ਬਣਾ", "ਲਈ", "ਹੈ", "।", "ਕੰਪਿਊਟਰ", "ਕੀ", "ਹੈ?", "ਕੁਝ", "ਸਮਾਂ", "ਪਹਿਲਾਂ", "ਕੰਪਿਊਟਰ", "ਨੂੰ", "ਮਨੁੱਖੀ", "ਦਿਮਾਗ", "ਵੀ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਰਿਹਾ", "ਹੈ", "ਪਰ", "ਇਹ", "ਤਾਂ", "ਮਨੁੱਖੀ", "ਦਿਮਾਗ", "ਤੋਂ", "ਕਈ", "ਗੁਣਾ", "ਤੇਜ਼", "ਹੈ", "।", "ਮਨੁੱਖ", "ਨੂੰ", "ਕੋਈ", "ਜਵਾਬ,", "ਨਤੀਜਾ", "ਜਾਂ", "ਫੈਸਲਾ", "ਲੈਣ", "ਲਗਿਆਂ", "ਕੁਝ", "ਸਮਾਂ", "ਲੱਗਦਾ", "ਹੈ", "ਪਰ", "ਕੰਪਿਊਟਰ", "ਇੰਤਜ਼ਾਰ", "ਨਹੀਂ", "ਕਰਦਾ", "ਤੇ", "ਨਾ", "ਹੀ", "ਕਰਾਉਂਦਾ", "ਹੈ", "।", "ਇਹ", "ਇੱਕ", "ਅਜਿਹੀ", "ਇਲੈਕਟ੍ਰੋਨਿਕ", "ਮਸ਼ੀਨ", "ਹੈ", "ਜਿਸ", "ਦੇ", "ਤਿੰਨ", "ਭਾਗ", "ਹੁੰਦੇ", "ਹਨ-", "ਆਦਾਨ", "ਭਾਗ", "", "ਕੇਂਦਰੀ", "ਅਤੇ", "ਪ੍ਰਦਾਨ", "ਭਾਗ", "।", "ਆਦਾਨ", "ਭਾਗ", "ਦੀ", "ਸਹਾਇਤਾ", "ਨਾਲ", "ਅਸੀਂ", "ਕੇਂਦਰੀ", "ਭਾਗ", "ਨੂੰ", "ਲੋੜੀਂਦੀ", "ਸੂਚਨਾ", "ਦਿੰਦੇ", "ਹਾਂ", "ਤੇ", "ਪ੍ਰਦਾਨ", "ਭਾਗ", "ਸਾਨੂੰ", "ਲੋੜੀਂਦੇ", "ਨਤੀਜੇ", "ਕੱਢ", "ਕੇ", "ਦਿੰਦਾ", "ਹੈ", "।", "ਕੇਂਦਰੀ", "ਭਾਗ", "ਨੂੰ", "ਸੀ.ਪੀ.ਯੂ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਹੋ", "ਹੀ", "ਕੰਪਿਊਟਰ", "ਦਾ", "ਦਿਮਾਗ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਕੰਪਿਊਟਰ", "ਦੇ", "ਦੋ", "ਭਾਗ", "ਹੁੰਦੇ", "ਹਨ", "।", "ਇੱਕ", "ਹੈ", "ਹਾਰਡ-ਵੇਅਰ:", "ਜੋ", "ਕੁਝ", "ਦਿੱਸਦਾ", "ਹੈ,", "ਜਿਵੇਂ", "ਮਾਨੀਟਰ,", "ਸੀ.ਪੀ.ਯੂ,", "ਕੀ-ਬੋਰਡ,", "ਸਪੀਕਰ,", "ਡਿਸਕ,", "ਡਿਸਕ", "ਪ੍ਰਿੰਟਰ,", "ਮਾਊਸ", "ਆਦਿ", "ਸਮਾਨ", "ਹਾਰਡ-ਵੇਅਰ", "ਦਾ", "ਹਿੱਸਾ", "ਹਨ", "।", "ਦੂਜਾ", "ਭਾਗ", "ਹੈ", "ਸਾਫ਼ਟ-ਵੇਅਰ:", "ਕੋਈ", "ਕੰਮ", "ਕਰਨ", "ਲਈ", "ਕੰਪਿਊਟਰ", "ਨੂੰ", "ਦੇਣ", "ਵਾਲੀਆਂ", "ਹਿਦਾਇਤਾਂ", "ਦੀ", "ਲੜੀ", "ਨੂੰ", "ਸਾਫਟ-ਵੇਅਰ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਉਦਾਹਰਨ", "ਦੇ", "ਤੌਰ", "'ਤੇ", "ਅਸੀਂ", "ਜੋ", "ਫਲਾਪੀ", "ਜਾਂ", "ਸੀ.ਡੀ:", "ਲੈਂਦੇ", "ਹਾਂ", "ਉਹ", "ਹਾਰਡ-ਵੇਅਰ", "ਹੈ,", "ਉਸ", "ਅੰਦਰ", "ਜੋ", "ਫੀਡ", "ਕੀਤਾ", "ਹੋਇਆ", "ਹੈ", "", "ਉਹ", "ਸਾਫਟ-ਵੇਅਰ", "ਹੈ", "।", "ਉਸ", "ਵਿਵਸਥਾ", "ਦਾ", "ਨਾਂ", "ਹੈ", "ਜਿਸ", "ਰਾਹੀਂ", "ਦੁਨੀਆ", "ਭਰ", "ਦੇ", "ਕੰਪਿਊਟਰ", "ਇੱਕ-ਦੂਜੇ", "ਨਾਲ", "ਜੁੜੇ", "ਹੋਏ", "ਹਨ", "ਤੇ", "ਉਹ", "ਇੱਕ-ਦੂਜੇ", "ਨੂੰ", "ਸੰਦੇਸ਼", "ਭੇਜ", "ਕੇ", "ਪ੍ਰਾਪਤ", "ਕਰ", "ਸਕਦੇ", "ਹਨ", "ਅਤੇ", "ਇੱਕ-ਦੂਜੇ", "ਵਿੱਚ", "ਮੌਜੂਦ", "ਸੂਚਨਾ", "ਦਾ", "ਆਦਾਨ-ਪ੍ਰਦਾਨ", "ਕਰ", "ਸਕਦੇ", "ਹਨ", "।", "ਅੱਜ", "ਕੱਲ੍ਹ", "ਇਸੇ", "ਦੀ", "ਚੜ੍ਹਤ", "ਵਧੇਰੇ", "ਹੈ", "।", "ਕੰਪਿਊਟਰ", "ਦੀ", "ਕਾਢ", "ਨੇ", "ਮਨੁੱਖ", "ਦੇ", "ਜੀਵਨ", "ਵਿੱਚ", "ਉਸ", "ਦੀ", "ਤਰੱਕੀ", "ਅਤੇ", "ਖੁਸ਼ਹਾਲੀ", "ਲਈ", "ਹੈਰਾਨੀਜਨਕ", "ਵਾਧਾ", "ਕੀਤਾ", "ਹੈ", "।", "ਇਹ", "ਯੰਤਰ", "ਮਨੁੱਖੀ", "ਸਮਾਜ", "ਦੇ", "ਹੋਰ", "ਖੇਤਰ", "ਵਿੱਚ", "ਆਪਣੇ", "ਪੈਰ", "ਪਸਾਰ", "ਚੁੱਕਾ", "ਹੈ", "।", "ਇਸ", "ਦੀ", "ਵਰਤੋਂ", "ਅੱਜ", "ਆਮ", "ਹੀ", "ਹੋ", "ਗਈ", "ਹੈ", "।", "ਇਸ", "ਨੇ", "ਮਨੁੱਖ", "ਦੀ", "ਦਿਮਾਗੀ", "ਸ਼ਕਤੀ", "ਵਿੱਚ", "ਕਈ", "ਗੁਣਾ", "ਵਾਧਾ", "ਕੀਤਾ", "ਹੈ", "।", "ਇਹ", "ਹਿਸਾਬ-ਕਿਤਾਬ", "ਰੱਖਣ", "ਵਿੱਚ,", "ਸੂਚਨਾਵਾਂ", "ਅਤੇ", "ਜਾਣਕਾਰੀ", "ਇਕੱਠੀ", "ਕਰਨ", "ਅਤੇ", "ਉਸ", "ਨੂੰ", "ਸੰਭਾਲਣ", "ਵਿੱਚ", "ਮਨੁੱਖ", "ਦਾ", "ਵਫ਼ਾਦਾਰ", "ਸੇਵਕ", "ਹੈ", "।", "ਇਹ", "ਅਣਗਿਣਤ", "ਕੰਮ", "ਬਿਨਾਂ", "ਕਿਸੇ", "ਰੁਕਾਵਟ", "ਤੋਂ", "ਕਰ", "ਸਕਦਾ", "ਹੈ", "।"];
            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







