

@{
    /**/


    ViewBag.Title = "Passage Typing : Lesson 6 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 6:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "7" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 340   </h5>
            <br />

            <section id="word-section">
                <span class="current-word">ਘਰੇਲੂ</span><span>ਮੱਛਰ,</span><span>ਮੱਖੀਆਂ,</span><span>ਕੀਟਾਣੂ</span><span>ਫੈਲਾਉਣ</span><span>ਵਾਲੇ</span><span>ਜੀਵਾਂ</span><span>ਦੇ</span><span>ਲਈ</span><span>ਆਮ</span><span>ਗੱਲ</span><span>ਹੈ</span><span>।</span><span>ਮੱਖੀਆਂ</span><span>ਹਮੇਸ਼ਾ</span><span>ਕੁੜੇ-ਕਰਕਟ,</span><span>ਗੰਦਾ</span><span>ਪਾਣੀ,</span><span>ਭੋਜਨ</span><span>ਪਦਾਰਥ</span><span>'ਤੇ</span><span>ਮਲ-ਮੂਤਰ</span><span>ਵਲ</span><span>ਆਮ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਖਿੱਚੀ</span><span>ਚੱਲੀ</span><span>ਆ</span><span>ਜ਼ਾਂਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਜਦੋਂ</span><span>ਉਹ</span><span>ਵਾਸੀ,</span><span>ਸੜੇ-ਗਲੇ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਪਦਾਰਥਾਂ</span><span>'ਤੇ</span><span>ਬੈਠਦੀਆਂ</span><span>ਹਨ</span><span>ਤਾਂ</span><span>ਹਜ਼ਾਰਾਂ</span><span>ਸੂਖਮਜੀਵ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀਆਂ</span><span>ਲੱਤਾਂ,</span><span>ਵਾਲਾਂ</span><span>ਅਤੇ</span><span>ਸ਼ਰੀਰ</span><span>ਦੇ</span><span>ਹੋਰ</span><span>ਭਾਗਾਂ</span><span>ਨਾਲ</span><span>ਚਿਪਕ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਜਦੋਂ</span><span>ਇਹ</span><span>ਮੱਖੀਆਂ</span><span>ਸਾਡੇ</span><span>ਖਾਧ</span><span>ਪਦਾਰਥਾਂ</span><span>'ਤੇ</span><span>ਬੈਠਦੀਆਂ</span><span>ਹਨ</span><span>ਤਾ</span><span>ਸੂਖਮਜੀਵਾਂ</span><span>ਨੂੰ</span><span>ਇਨ੍ਹਾਂ</span><span>ਪਦਾਰਥਾਂ</span><span>'ਤੇ</span><span>ਛੱਡ</span><span>ਦਿੰਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਜਦੋਂ</span><span>ਮਨੁੱਖ</span><span>ਇਨ੍ਹਾਂ</span><span>ਜੀਵਾਂ</span><span>ਵਾਲੇ</span><span>ਖਾਧ</span><span>ਪਦਾਰਥਾਂ</span><span>ਦਾ</span><span>ਸੇਵਨ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>ਤਾਂ</span><span>ਸੂਖਮਜੀਵ</span><span>ਮਨੁੱਖੀ</span><span>ਸ਼ਰੀਰ</span><span>ਵਿੱਚ</span><span>ਪ੍ਰਵੇਸ਼</span><span>ਕਰ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਸਰੀਰ</span><span>ਵਿੱਚ</span><span>ਉੱਚਿਤ</span><span>ਵਾਤਾਵਰਨ</span><span>ਮਿਲਣ</span><span>ਤੇ</span><span>ਇੰਨ੍ਹਾ</span><span>ਦੇ</span><span>ਗਿਣਤੀ</span><span>ਬਹੁਤ</span><span>ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਵੱਧਦੀ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਕਾਰਨ</span><span>ਅਸੀਂ</span><span>ਰੋਗੀ</span><span>ਬਣ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਇਹਨਾ</span><span>ਮੱਖੀਆਂ</span><span>ਦੁਆਰਾ</span><span>ਟਾਈਫਾਈਡ,</span><span>ਹੈਜ਼ਾਂ</span><span>ਆਦਿ</span><span>ਦੇ</span><span>ਰੋਗਾਣੂ</span><span>ਸਾਡੇ</span><span>ਤਕ</span><span>ਪੁੱਜਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਸਦੇ</span><span>ਇਲਾਵਾ</span><span>ਮੱਖੀਆਂ</span><span>ਜਖਮਾਂ,</span><span>ਬਾਕੀ</span><span>ਸਰੀਰ</span><span>ਦੇ</span><span>ਅੰਗਾਂ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਸੰਕਰਮਿਤ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>।</span><span>ਬਾਜ਼ਾਰ</span><span>ਵਿੱਚੋਂ</span><span>ਫਲ,</span><span>ਸਬਜ਼ੀਆਂ</span><span>ਆਦਿ</span><span>ਲਿਆਉਣ</span><span>ਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਸਾਫ਼</span><span>ਪਾਣੀ</span><span>ਨਾਲ</span><span>ਧੋਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>ਕਿਉਂਕਿ</span><span>ਇੰਨ੍ਹਾ</span><span>ਉੱਪਰ</span><span>ਕੀਟਨਾਸ਼ਕ</span><span>ਅਤੇ</span><span>ਧੂੜ</span><span>ਦੇ</span><span>ਕਣ</span><span>ਚਿਪਕੇ</span><span>ਰਹਿੰਦੇ</span><span>ਹਨ,</span><span>ਸਾਫ਼</span><span>ਪਾਣੀ</span><span>ਨਾਲ</span><span>ਧੋਣ</span><span>ਨਾਲ</span><span>ਇਹ</span><span>ਵੱਖ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਫਲ</span><span>ਸਬਜ਼ੀਆਂ</span><span>ਸੂਖਮਜੀਵ,</span><span>ਕਿਰਮਾਂ</span><span>ਆਦਿ</span><span>ਦੇ</span><span>ਅਸਰ</span><span>ਤੋਂ</span><span>ਬਚ</span><span>ਜਾਂਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਇਨ੍ਹਾਂ</span><span>ਸਬਜ਼ੀਆਂ</span><span>ਦਾ</span><span>ਸਾਫ਼,</span><span>ਠੰਡੇ</span><span>ਅਤੇ</span><span>ਮੱਖੀ</span><span>ਰਹਿਤ</span><span>ਸਥਾਨ</span><span>ਤੇ</span><span>ਭੰਡਾਰਨ</span><span>ਕਰਨਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>।</span><span>ਪਾਣੀ</span><span>ਨੂੰ</span><span>ਉਬਾਲ</span><span>ਕੇ,</span><span>ਛਾਣ</span><span>ਕੇ</span><span>ਪੀਣ</span><span>ਨਾਲ</span><span>ਪਾਣੀ</span><span>ਕੀਟਾਣੂ</span><span>ਰਹਿਤ</span><span>ਹੋ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਬਿਮਾਰੀ</span><span>ਵਾਲੇ</span><span>ਦਿਨਾਂ</span><span>ਵਿੱਚ</span><span>ਇਹ</span><span>ਜ਼ਰੂਰੀ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਪਾਣੀ</span><span>ਨੂੰ</span><span>ਉਬਾਲ</span><span>ਕੇ</span><span>ਹੀ</span><span>ਵਰਤਿਆ</span><span>ਜਾਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ,</span><span>।</span><span>ਅਜਿਹਾ</span><span>ਕਰਨ</span><span>ਨਾਲ</span><span>ਪਾਣੀ</span><span>ਜੀਵਾਣੂਆਂ</span><span>ਤੋਂ</span><span>ਮੁਕਤ</span><span>ਹੋ</span><span>ਜ਼ਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਬਰਤਨ</span><span>ਧੋਣ,</span><span>ਖਾਣਾ</span><span>ਪਕਾਉਣ</span><span>ਅਤੇ</span><span>ਪੀਣ</span><span>ਆਦਿ</span><span>ਲਈ</span><span>ਕਦੇ</span><span>ਵੀ</span><span>ਤਲਾਬਾਂ</span><span>ਜਾਂ</span><span>ਨਦੀ</span><span>ਦਾ</span><span>ਪਾਣੀ</span><span>ਨਹੀਂ</span><span>ਵਰਤਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>।</span><span>ਸਿਹਤ</span><span>ਵਿਅਕਤੀਗਤ</span><span>ਅਤੇ</span><span>ਸਮੁਦਾਇਕ</span><span>ਪੱਧਰ</span><span>ਤੇ</span><span>ਠੀਕ</span><span>ਹੋਣੀ</span><span>ਚਾਹੀਦੀ</span><span>ਹੈ</span><span>।</span><span>ਵਿਅਕਤੀਗਤ</span><span>ਪੱਧਰ</span><span>ਤੇ</span><span>ਸਰੀਰ</span><span>ਸਾਫ਼</span><span>ਰੱਖਣਾ,</span><span>ਸਾਫ਼-ਸੂਥਰੇ</span><span>ਕੱਪੜੇ</span><span>ਪਹਿਨਣਾ,</span><span>ਸੰਤੁਲਿਤ</span><span>ਆਹਾਰ</span><span>ਲੈਣਾ</span><span>ਅਤੇ</span><span>ਮਾਦਕ</span><span>ਅਤੇ</span><span>ਹਾਨੀਕਾਰਕ</span><span>ਪਦਾਰਥਾਂ</span><span>ਤੋਂ</span><span>ਦੂਰ</span><span>ਰਹਿਣਾ</span><span>ਆਦਿ</span><span>ਗੱਲਾਂ</span><span>ਦਾ</span><span>ਧਿਆਨ</span><span>ਰੱਖਣਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਸਿਗਰੇਟ,</span><span>ਸ਼ਰਾਬ</span><span>ਜਾਂ</span><span>ਹੋਰ</span><span>ਨਸ਼ੀਲੇ</span><span>ਪਦਾਰਥਾਂ</span><span>ਦਾ</span><span>ਸੇਵਨ</span><span>ਨਹੀਂ</span><span>ਕਰਨਾ</span><span>ਚਾਹੀਦਾ</span><span>।</span><span>ਭੋਜਨ</span><span>ਸੰਤੁਲਿਤ</span><span>ਹੋਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>ਤਾਂਕਿ</span><span>ਸਰੀਰ</span><span>ਦੀ</span><span>ਪ੍ਰਾਕਿਰਤਕ</span><span>ਪ੍ਰਤੀ</span><span>ਰੱਖੀਆ</span><span>ਠੀਕ</span><span>ਬਣੀ</span><span>ਰਹੇ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
   
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਘਰੇਲੂ", "ਮੱਛਰ,", "ਮੱਖੀਆਂ,", "ਕੀਟਾਣੂ", "ਫੈਲਾਉਣ", "ਵਾਲੇ", "ਜੀਵਾਂ", "ਦੇ", "ਲਈ", "ਆਮ", "ਗੱਲ", "ਹੈ", "।", "ਮੱਖੀਆਂ", "ਹਮੇਸ਼ਾ", "ਕੁੜੇ-ਕਰਕਟ,", "ਗੰਦਾ", "ਪਾਣੀ,", "ਭੋਜਨ", "ਪਦਾਰਥ", "'ਤੇ", "ਮਲ-ਮੂਤਰ", "ਵਲ", "ਆਮ", "ਤੌਰ", "ਤੇ", "ਖਿੱਚੀ", "ਚੱਲੀ", "ਆ", "ਜ਼ਾਂਦੀਆਂ", "ਹਨ", "।", "ਜਦੋਂ", "ਉਹ", "ਵਾਸੀ,", "ਸੜੇ-ਗਲੇ", "ਵੱਖ-ਵੱਖ", "ਪਦਾਰਥਾਂ", "'ਤੇ", "ਬੈਠਦੀਆਂ", "ਹਨ", "ਤਾਂ", "ਹਜ਼ਾਰਾਂ", "ਸੂਖਮਜੀਵ", "ਉਨ੍ਹਾਂ", "ਦੀਆਂ", "ਲੱਤਾਂ,", "ਵਾਲਾਂ", "ਅਤੇ", "ਸ਼ਰੀਰ", "ਦੇ", "ਹੋਰ", "ਭਾਗਾਂ", "ਨਾਲ", "ਚਿਪਕ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਜਦੋਂ", "ਇਹ", "ਮੱਖੀਆਂ", "ਸਾਡੇ", "ਖਾਧ", "ਪਦਾਰਥਾਂ", "'ਤੇ", "ਬੈਠਦੀਆਂ", "ਹਨ", "ਤਾ", "ਸੂਖਮਜੀਵਾਂ", "ਨੂੰ", "ਇਨ੍ਹਾਂ", "ਪਦਾਰਥਾਂ", "'ਤੇ", "ਛੱਡ", "ਦਿੰਦੀਆਂ", "ਹਨ", "।", "ਜਦੋਂ", "ਮਨੁੱਖ", "ਇਨ੍ਹਾਂ", "ਜੀਵਾਂ", "ਵਾਲੇ", "ਖਾਧ", "ਪਦਾਰਥਾਂ", "ਦਾ", "ਸੇਵਨ", "ਕਰਦਾ", "ਹੈ", "ਤਾਂ", "ਸੂਖਮਜੀਵ", "ਮਨੁੱਖੀ", "ਸ਼ਰੀਰ", "ਵਿੱਚ", "ਪ੍ਰਵੇਸ਼", "ਕਰ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਸਰੀਰ", "ਵਿੱਚ", "ਉੱਚਿਤ", "ਵਾਤਾਵਰਨ", "ਮਿਲਣ", "ਤੇ", "ਇੰਨ੍ਹਾ", "ਦੇ", "ਗਿਣਤੀ", "ਬਹੁਤ", "ਤੇਜ਼ੀ", "ਨਾਲ", "ਵੱਧਦੀ", "ਹੈ", "ਜਿਸ", "ਕਾਰਨ", "ਅਸੀਂ", "ਰੋਗੀ", "ਬਣ", "ਜਾਂਦੇ", "ਹਾਂ", "।", "ਇਹਨਾ", "ਮੱਖੀਆਂ", "ਦੁਆਰਾ", "ਟਾਈਫਾਈਡ,", "ਹੈਜ਼ਾਂ", "ਆਦਿ", "ਦੇ", "ਰੋਗਾਣੂ", "ਸਾਡੇ", "ਤਕ", "ਪੁੱਜਦੇ", "ਹਨ", "।", "ਇਸਦੇ", "ਇਲਾਵਾ", "ਮੱਖੀਆਂ", "ਜਖਮਾਂ,", "ਬਾਕੀ", "ਸਰੀਰ", "ਦੇ", "ਅੰਗਾਂ", "ਨੂੰ", "ਵੀ", "ਸੰਕਰਮਿਤ", "ਕਰਦੀ", "ਹੈ", "।", "ਬਾਜ਼ਾਰ", "ਵਿੱਚੋਂ", "ਫਲ,", "ਸਬਜ਼ੀਆਂ", "ਆਦਿ", "ਲਿਆਉਣ", "ਤੇ", "ਉਨ੍ਹਾਂ", "ਨੂੰ", "ਸਾਫ਼", "ਪਾਣੀ", "ਨਾਲ", "ਧੋਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "ਕਿਉਂਕਿ", "ਇੰਨ੍ਹਾ", "ਉੱਪਰ", "ਕੀਟਨਾਸ਼ਕ", "ਅਤੇ", "ਧੂੜ", "ਦੇ", "ਕਣ", "ਚਿਪਕੇ", "ਰਹਿੰਦੇ", "ਹਨ,", "ਸਾਫ਼", "ਪਾਣੀ", "ਨਾਲ", "ਧੋਣ", "ਨਾਲ", "ਇਹ", "ਵੱਖ", "ਹੋ", "ਜਾਂਦੇ", "ਹਨ", "ਅਤੇ", "ਫਲ", "ਸਬਜ਼ੀਆਂ", "ਸੂਖਮਜੀਵ,", "ਕਿਰਮਾਂ", "ਆਦਿ", "ਦੇ", "ਅਸਰ", "ਤੋਂ", "ਬਚ", "ਜਾਂਦੀਆਂ", "ਹਨ", "।", "ਇਨ੍ਹਾਂ", "ਸਬਜ਼ੀਆਂ", "ਦਾ", "ਸਾਫ਼,", "ਠੰਡੇ", "ਅਤੇ", "ਮੱਖੀ", "ਰਹਿਤ", "ਸਥਾਨ", "ਤੇ", "ਭੰਡਾਰਨ", "ਕਰਨਾ", "ਚਾਹੀਦਾ", "ਹੈ", "।", "ਪਾਣੀ", "ਨੂੰ", "ਉਬਾਲ", "ਕੇ,", "ਛਾਣ", "ਕੇ", "ਪੀਣ", "ਨਾਲ", "ਪਾਣੀ", "ਕੀਟਾਣੂ", "ਰਹਿਤ", "ਹੋ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਬਿਮਾਰੀ", "ਵਾਲੇ", "ਦਿਨਾਂ", "ਵਿੱਚ", "ਇਹ", "ਜ਼ਰੂਰੀ", "ਹੈ", "ਕਿ", "ਪਾਣੀ", "ਨੂੰ", "ਉਬਾਲ", "ਕੇ", "ਹੀ", "ਵਰਤਿਆ", "ਜਾਣਾ", "ਚਾਹੀਦਾ", "ਹੈ,", "।", "ਅਜਿਹਾ", "ਕਰਨ", "ਨਾਲ", "ਪਾਣੀ", "ਜੀਵਾਣੂਆਂ", "ਤੋਂ", "ਮੁਕਤ", "ਹੋ", "ਜ਼ਾਂਦਾ", "ਹੈ", "।", "ਬਰਤਨ", "ਧੋਣ,", "ਖਾਣਾ", "ਪਕਾਉਣ", "ਅਤੇ", "ਪੀਣ", "ਆਦਿ", "ਲਈ", "ਕਦੇ", "ਵੀ", "ਤਲਾਬਾਂ", "ਜਾਂ", "ਨਦੀ", "ਦਾ", "ਪਾਣੀ", "ਨਹੀਂ", "ਵਰਤਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "।", "ਸਿਹਤ", "ਵਿਅਕਤੀਗਤ", "ਅਤੇ", "ਸਮੁਦਾਇਕ", "ਪੱਧਰ", "ਤੇ", "ਠੀਕ", "ਹੋਣੀ", "ਚਾਹੀਦੀ", "ਹੈ", "।", "ਵਿਅਕਤੀਗਤ", "ਪੱਧਰ", "ਤੇ", "ਸਰੀਰ", "ਸਾਫ਼", "ਰੱਖਣਾ,", "ਸਾਫ਼-ਸੂਥਰੇ", "ਕੱਪੜੇ", "ਪਹਿਨਣਾ,", "ਸੰਤੁਲਿਤ", "ਆਹਾਰ", "ਲੈਣਾ", "ਅਤੇ", "ਮਾਦਕ", "ਅਤੇ", "ਹਾਨੀਕਾਰਕ", "ਪਦਾਰਥਾਂ", "ਤੋਂ", "ਦੂਰ", "ਰਹਿਣਾ", "ਆਦਿ", "ਗੱਲਾਂ", "ਦਾ", "ਧਿਆਨ", "ਰੱਖਣਾ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਸਿਗਰੇਟ,", "ਸ਼ਰਾਬ", "ਜਾਂ", "ਹੋਰ", "ਨਸ਼ੀਲੇ", "ਪਦਾਰਥਾਂ", "ਦਾ", "ਸੇਵਨ", "ਨਹੀਂ", "ਕਰਨਾ", "ਚਾਹੀਦਾ", "।", "ਭੋਜਨ", "ਸੰਤੁਲਿਤ", "ਹੋਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "ਤਾਂਕਿ", "ਸਰੀਰ", "ਦੀ", "ਪ੍ਰਾਕਿਰਤਕ", "ਪ੍ਰਤੀ", "ਰੱਖੀਆ", "ਠੀਕ", "ਬਣੀ", "ਰਹੇ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}





