
@{
                /**/


                ViewBag.Title = "Passage Typing : Lesson 22 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 22:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "23" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 491      </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਬੀਤੀ</span><span>ਅੱਧੀ</span><span>ਸਦੀ</span><span>ਤੋਂ</span><span>ਮਹਿੰਗਾਈ</span><span>ਦੀ</span><span>ਸਮੱਸਿਆ</span><span>ਤੋਂ</span><span>ਸੰਸਾਰ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਲੋਕ</span><span>ਪਰੇਸ਼ਾਨ</span><span>ਹਨ।</span><span>ਭਾਰਤ</span><span>ਵਿੱਚ</span><span>ਪਿਛਲੇ</span><span>ਦਹਾਕਿ</span><span>ਆਂ</span><span>ਵਿੱਚ</span><span>ਚੀਜ਼ਾਂ</span><span>ਦੀਆਂ</span><span>ਕੀਮਤਾਂ</span><span>ਦੇ</span><span>ਵਾਧੇ</span><span>ਦੀ</span><span>ਰਫ਼ਤਾਰ</span><span>ਬੜੀ</span><span>ਤੇਜ਼</span><span>ਰਹੀ</span><span>ਹੈ</span><span>ਪਰੰਤੂ</span><span>ਬੀਤੇ</span><span>ਚਾਰ</span><span>ਕੁ</span><span>ਸਾਲਾਂ</span><span>ਤੋਂ</span><span>ਆਮ</span><span>ਵਰ</span><span>ਤੋਂ</span><span>ਦੀਆਂ</span><span>ਚੀਜ਼ਾਂ</span><span>ਦੀ</span><span>ਮਹਿੰਗਾਈ</span><span>ਸਾਰੇ</span><span>ਹੱਦਾਂ</span><span>ਬੰਨੇ</span><span>ਤੋੜ</span><span>ਕੇ</span><span>ਇੱਕ</span><span>ਮਖੌਲ</span><span>ਦਾ</span><span>ਰੂਪ</span><span>ਧਾਰਨ</span><span>ਕਰ</span><span>ਚੁੱਕੀ</span><span>ਹੈ</span><span>।</span><span>ਅੱਜ-ਕੱਲ੍ਹ</span><span>ਤਾਂ </span><span>ਚੀਜ਼ਾਂ</span><span>ਦੇ</span><span>ਭਾਅ</span><span>ਸਵੇਰੇ</span><span>ਕੁੱਝ,</span><span>ਦੁਪਹਿਰੇ</span><span>ਕੁੱਝ</span><span>ਤੇ</span><span>ਸ਼ਾਮੀ</span><span>ਕੁੱਝ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>।</span><span>2008</span><span>ਤੋਂ</span><span>ਪਿੱਛੋਂ</span><span>ਖਾਧ-ਪਦਾਰਥਾਂ,</span><span>ਲੋਹਾ,</span><span>ਸੀਮਿੰਟ,</span><span>ਪੈਟਰੋਲ,</span><span>ਡੀਜ਼ਲ</span><span>ਤੇ</span><span>ਰਸੋਈ</span><span>ਗੈਸ</span><span>ਦੀਆਂ</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਅਜਿਹਾ</span><span>ਭਿਆਨਕ</span><span> ਵਾਧਾ</span><span> ਹੋਣਾ</span><span> ਸ਼ੁਰੂ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਮੰਨੇ-ਪ੍ਰਮੰਨੇ</span><span>ਅਰਥ</span><span>ਸ਼ਾਸਤਰੀ</span><span>ਸਾਡੇ</span><span>ਪ੍ਰਧਾਨ</span><span>ਮੰਤਰੀ</span><span>ਤੇ</span><span>ਵਿੱਤ</span><span>ਮੰਤਰੀ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਇਹ</span><span>ਕਹਿੰਦਿਆਂ</span><span>ਹੱਥ </span><span>ਖੜ੍ਹੇ</span><span>ਕਰ</span><span>ਦਿੱਤੇ</span><span>ਹਨ</span><span>ਕਿ</span><span>ਉਨ੍ਹਾਂ</span><span>ਕੋਲ</span><span>ਮਹਿੰਗਾਈ</span><span>ਨੂੰ</span><span>ਰੋਕਣ</span><span>ਲਈ</span><span>ਕੋਈ</span><span>ਜਾਦੂ</span><span>ਦੀ</span><span>ਛੜੀ</span><span>ਜ਼ਾਂ</span><span>ਅਲਾਦੀਨ</span><span>ਦਾ</span><span>ਚਿਰਾਗ</span><span>ਨਹੀਂ</span><span>।</span><span>2009</span><span>ਵਿੱਚ</span><span>ਮਹਿੰਗਾਈ</span><span>ਦੀ</span><span>ਦਰ</span><span>ਕੁੱਝ</span><span>ਘੱਟੀ</span><span>ਪਰੰਤੂ</span><span>2010</span><span>ਵਿੱਚ</span><span>ਮਹਿੰਗਾਈ</span><span>ਦੀ</span><span>ਦਰ</span><span>ਵਿੱਚ</span><span>ਦਿਲ-ਕੰਬਾਊ</span><span>ਵਾਧਾ</span><span>ਹੋਇਆ</span><span>ਤੇ</span><span>ਨਿਗੂਣੀ</span><span>ਮਸਰਾਂ</span><span>ਦੀ</span><span>ਦਾਲ</span><span>ਵੀ</span><span>90</span><span>ਰੁਪਏ</span><span>ਕਿੱਲੋ</span><span>ਵਿਕਣੀ</span><span>ਸ਼ੁਰੂ</span><span>ਹੋ</span><span>ਗਈ।</span><span>ਇਸ</span><span>ਤੋਂ</span><span>ਇਲਾਵਾ</span><span>ਹੋਰਨਾਂ</span><span>ਦਾਲਾਂ,</span><span> ਚਾਵਲਾਂ,</span><span>ਆਟਾ,</span><span>ਖੰਡ,</span><span> ਦੁੱਧ,</span><span> ਘਿਓ</span><span>ਤੇ</span><span>ਸਬਜ਼ੀਆਂ</span><span>ਦੀਆਂ</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਆਮ</span><span>ਵਿਅਕਤੀ</span><span>ਨੂੰ</span><span>ਕਾਬਾਂ</span><span>ਛੇੜ</span><span>ਦੇਣ</span><span>ਵਾਲਾ</span><span>ਵਾਧਾ</span><span>ਹੋਇਆ</span><span>ਅਤੇ</span><span>ਆਰਥਿਕ</span><span>ਮਾਹਰਾਂ</span><span>ਨੂੰ</span><span>ਅਗਲੇ</span><span>ਨੇੜਲੇ</span><span>ਸਮੇਂ</span><span>ਇਸ</span><span>ਉੱਪਰ</span><span>ਕਾਬੂ</span><span>ਪੈਣ</span><span>ਦੇ</span><span>ਕੋਈ</span><span>ਆਸਾਰ</span><span>ਨਹੀਂ</span><span>ਦਿਸ</span><span>ਰਹੇ</span><span>।</span><span>ਬੇਸ਼ੱਕ</span><span>ਸਰਕਾਰ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਦੂਰ</span><span>ਕਰਨ</span><span>ਸੰਬੰਧੀ</span><span>ਲੋਕਾਂ</span><span>ਨੂੰ</span><span>ਭੁਚਲਾਉਣ</span><span>ਲਈ</span><span>ਹਰ</span><span>ਰੋਜ਼</span><span>ਕੋਈ</span><span>ਨਾ</span><span>ਕੋਈ</span><span>ਬਿਆਨ</span><span>ਦਿੰਦੀ</span><span>ਰਹਿੰਦੀ</span><span>ਹੈ</span><span>ਪਰ</span><span>ਮਹਿੰਗਾਈ</span><span>ਦਾ</span><span>ਦੈਂਤ</span><span>ਬੇਕਾਬੂ</span><span>ਹੈ</span><span>।</span><span>ਕੇਂਦਰੀ</span><span>ਬਜਟ</span><span>ਤੋਂ</span><span>ਵੀ</span><span>ਸਰਕਾਰ</span><span>ਦੀ</span><span>ਮਹਿੰਗਾਈ</span><span>ਨੂੰ</span><span>ਕਾਬੂ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਕੋਈ</span><span>ਨੀਤੀ</span><span>ਨਹੀਂ</span><span>ਝਲਕਦੀ,</span><span>ਸਗੋਂ</span><span>ਪੈਟਰੋਲ</span><span>ਕੀਮਤਾਂ</span><span>ਤੇ</span><span>ਰਸੋਈ</span><span>ਗੈਸ</span><span>ਵਿੱਚ</span><span>ਬੀਤੇ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਕੀਤੇ</span><span>ਵਾਧੇ</span><span>ਨੇ</span><span>ਬਲਦੀ</span><span>ਉੱਤੇ</span><span>ਤੇਲ</span><span>ਪਾਇਆ</span><span>ਹੈ</span><span>।</span><span>ਖਾਧ-ਪਦਾਰਥਾਂ</span><span>ਤੇ</span><span>ਆਮ</span><span>ਨਿੱਤ</span><span>ਵਰਤੋਂ</span><span>ਦੀਆਂ</span><span>ਚੀਜ਼ਾਂ</span><span>ਦੀਆਂ</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਵਾਧੇ</span><span>ਦਾ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਬੁਰਾ</span><span>ਅਸਰ</span><span>ਘੱਟ</span><span>ਜਾਂ</span><span>ਬੱਧੀ</span><span>ਆਮਦਨ</span><span>ਵਾਲੇ</span><span>ਵਿਅਕਤੀ</span><span>ਦੇ</span><span>ਉੱਪਰ</span><span>ਪਿਆ</span><span>ਹੈ</span><span>।</span><span>ਜਿੱਥੇ</span><span>ਨਿੱਤ</span><span>ਵਰਤੋਂ</span><span>ਦੀਆਂ</span><span>ਚੀਜ਼ਾਂ</span><span>ਵਿੱਚ</span><span>ਬੀਤੇ</span><span>ਇੱਕ</span><span>ਸਾਲ</span><span>ਵਿੱਚ</span><span>20-21%</span><span>ਵਾਧਾ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>ਉੱਥੇ</span><span>ਆਮ</span><span>ਆਦਮੀ</span><span>ਦੀ</span><span>ਆਮਦਨ</span><span>ਵਿੱਚ</span><span>ਕੇਵਲ</span><span>6%</span><span>ਵਾਧਾ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>।</span><span>ਅਧਿਐਨ</span><span>ਇਹ</span><span>ਵੀ</span><span>ਦੱਸਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਆਉਂਦੇ</span><span>ਮਹੀਨਿਆਂ</span><span>ਵਿੱਚ</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਹੋਰ</span><span>ਵਾਧਾ</span><span>ਹੋਣਾ</span><span>ਦੇ</span><span>ਆਸਾਰ</span><span>ਹਨ</span><span>ਕਿਉਂਕਿ</span><span>ਸਰਕਾਰ</span><span>ਪੈਟਰੋਲ</span><span>ਤੇ</span><span>ਡੀਜ਼ਲ</span><span>ਦੀਆਂ</span><span>ਕੀਮਤਾਂ</span><span>ਵਿੱਚ</span><span>ਆਏ</span><span>ਦਿਨ</span><span>ਵਾਧਾ</span><span>ਕਰਦੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>।</span><span>ਮਹਿੰਗਾਈ</span><span>ਦੇ</span><span>ਵਾਧੇ</span><span>ਦਾ</span><span>ਮੁੱਖ</span><span>ਕਾਰਨ</span><span>ਅੱਜ</span><span>ਦੀ</span><span>ਆਮ</span><span>ਵਰਤੋਂ</span><span>ਦੇ</span><span>ਖਾਧ-ਪਦਾਰਥਾਂ</span><span>ਦੀ</span><span>ਮੰਡੀ</span><span>ਦਾ</span><span>ਜੋੜ-ਤੋੜ</span><span>ਦੀ</span><span>ਸੌਦੇਬਾਜ਼ੀ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਚਲਬਾਜ਼ਾਂ</span><span>ਸੱਟੇਬਾਜ਼ਾਂ</span><span>ਮੁਨਾਫ਼ਾਖ਼ੋਰਾਂ</span><span>ਤੇ</span><span>ਜੱਕਬਾਜ਼ਾਂ</span><span>ਦੇ</span><span>ਹੱਥਾਂ</span><span>ਵਿੱਚ</span><span>ਹੋਣਾ</span><span>ਹੈ</span><span>। </span><span>ਉਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਮਾਰਕਿਟ</span><span>ਨੂੰ</span><span>ਆਪਣੀ</span><span>ਮਰਜ਼ੀ</span><span>ਅਨੁਸਾਰ</span><span>ਚਲਾਉਣ</span><span>ਦੀ</span><span>ਪੂਰੀ</span><span>ਸਮਰੱਥਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਸਰਕਾਰ</span><span>ਦੀ</span><span>ਪੂਰੀ</span><span>ਮਦੱਦ</span><span>ਤੇ</span><span>ਹਮਾਇਤ</span><span>ਹਾਸਲ</span><span>ਹੈ</span><span>ਕਿਉਂਕੀ</span><span>ਉਹ</span><span>ਰਾਜ</span><span>ਕਰ</span><span>ਰਹੀ</span><span>ਪਾਰਟੀ</span><span>ਨੂੰ</span><span>ਚੋਣਾਂ</span><span>ਲੜਨ</span><span>ਲਈ</span><span>ਵੱਡੇ-ਵੱਡੇ</span><span>ਗੱਢੇ</span><span>ਦਿੰਦੇ</span><span>ਹਨ।</span><span>ਉਹ</span><span>ਮੰਡੀ</span><span>ਹੀ</span><span>ਵਿਚੋਂ</span><span>ਕਿਸਾਨ</span><span>ਦਾ</span><span>ਮਾਲ</span><span>ਖ਼ਰੀਦਣ</span><span>ਸਮੇਂ</span><span>ਭਾਅ</span><span>ਥੱਲੇ</span><span>ਡੇਗ</span><span>ਦਿੰਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਮਗਰੋਂ</span><span>ਜ਼ਖੀਰੇਬਾਜ਼ੀ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਅਤੇ</span><span>ਨਕਲੀ</span><span>ਸੰਕਟ</span><span>ਪੈਦਾ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਮਾਲ</span><span>ਨੂੰ</span><span>ਕਾਲੇ</span><span>ਬਜ਼ਾਰ</span><span>ਵਿੱਚ</span><span>ਵੇਚ</span><span>ਕੇ</span><span>ਖੂਬ</span><span>ਧਨ</span><span>ਕਮਾਉਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਸਰਕਾਰ</span><span>ਕਿਸਾਨਾਂ</span><span>ਨੂੰ</span><span>ਆਪਣੀ</span><span>ਜਿਣਸ</span><span>ਜਿੱਥੇ</span><span>ਚਾਹੁੰਣ</span><span>ਉੱਥੇ</span><span>ਵੇਚਣ</span><span>ਦੀ</span><span>ਖੁਲ੍ਹ</span><span>ਨਾ</span><span>ਦੇ</span><span>ਕੇ</span><span>ਅਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਜਿਣਸੋ</span><span>ਦੇ</span><span>ਭਾਅ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਕਰਕੇ</span><span>ਖੁੱਲੇ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਕਾਲਾ</span><span>ਧੰਦਾ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਲਾਲਚੀ</span><span>ਮੁਨਾਫ਼ਾ</span><span>ਖੋਰਾਂ</span><span>ਦੀ</span><span>ਮੱਦਦ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਬੀਤੀ", "ਅੱਧੀ", "ਸਦੀ", "ਤੋਂ", "ਮਹਿੰਗਾਈ", "ਦੀ", "ਸਮੱਸਿਆ", "ਤੋਂ", "ਸੰਸਾਰ", "ਭਰ", "ਦੇ", "ਲੋਕ", "ਪਰੇਸ਼ਾਨ", "ਹਨ।", "ਭਾਰਤ", "ਵਿੱਚ", "ਪਿਛਲੇ", "ਦਹਾਕਿ", "ਆਂ", "ਵਿੱਚ", "ਚੀਜ਼ਾਂ", "ਦੀਆਂ", "ਕੀਮਤਾਂ", "ਦੇ", "ਵਾਧੇ", "ਦੀ", "ਰਫ਼ਤਾਰ", "ਬੜੀ", "ਤੇਜ਼", "ਰਹੀ", "ਹੈ", "ਪਰੰਤੂ", "ਬੀਤੇ", "ਚਾਰ", "ਕੁ", "ਸਾਲਾਂ", "ਤੋਂ", "ਆਮ", "ਵਰ", "ਤੋਂ", "ਦੀਆਂ", "ਚੀਜ਼ਾਂ", "ਦੀ", "ਮਹਿੰਗਾਈ", "ਸਾਰੇ", "ਹੱਦਾਂ", "ਬੰਨੇ", "ਤੋੜ", "ਕੇ", "ਇੱਕ", "ਮਖੌਲ", "ਦਾ", "ਰੂਪ", "ਧਾਰਨ", "ਕਰ", "ਚੁੱਕੀ", "ਹੈ", "।", "ਅੱਜ-ਕੱਲ੍ਹ", "ਤਾਂ ", "ਚੀਜ਼ਾਂ", "ਦੇ", "ਭਾਅ", "ਸਵੇਰੇ", "ਕੁੱਝ,", "ਦੁਪਹਿਰੇ", "ਕੁੱਝ", "ਤੇ", "ਸ਼ਾਮੀ", "ਕੁੱਝ", "ਹੁੰਦੇ", "ਹਨ", "।", "2008", "ਤੋਂ", "ਪਿੱਛੋਂ", "ਖਾਧ-ਪਦਾਰਥਾਂ,", "ਲੋਹਾ,", "ਸੀਮਿੰਟ,", "ਪੈਟਰੋਲ,", "ਡੀਜ਼ਲ", "ਤੇ", "ਰਸੋਈ", "ਗੈਸ", "ਦੀਆਂ", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਅਜਿਹਾ", "ਭਿਆਨਕ", " ਵਾਧਾ", " ਹੋਣਾ", " ਸ਼ੁਰੂ", "ਹੋਇਆ", "ਹੈ", "ਕਿ", "ਮੰਨੇ-ਪ੍ਰਮੰਨੇ", "ਅਰਥ", "ਸ਼ਾਸਤਰੀ", "ਸਾਡੇ", "ਪ੍ਰਧਾਨ", "ਮੰਤਰੀ", "ਤੇ", "ਵਿੱਤ", "ਮੰਤਰੀ", "ਨੂੰ", "ਵੀ", "ਇਹ", "ਕਹਿੰਦਿਆਂ", "ਹੱਥ ", "ਖੜ੍ਹੇ", "ਕਰ", "ਦਿੱਤੇ", "ਹਨ", "ਕਿ", "ਉਨ੍ਹਾਂ", "ਕੋਲ", "ਮਹਿੰਗਾਈ", "ਨੂੰ", "ਰੋਕਣ", "ਲਈ", "ਕੋਈ", "ਜਾਦੂ", "ਦੀ", "ਛੜੀ", "ਜ਼ਾਂ", "ਅਲਾਦੀਨ", "ਦਾ", "ਚਿਰਾਗ", "ਨਹੀਂ", "।", "2009", "ਵਿੱਚ", "ਮਹਿੰਗਾਈ", "ਦੀ", "ਦਰ", "ਕੁੱਝ", "ਘੱਟੀ", "ਪਰੰਤੂ", "2010", "ਵਿੱਚ", "ਮਹਿੰਗਾਈ", "ਦੀ", "ਦਰ", "ਵਿੱਚ", "ਦਿਲ-ਕੰਬਾਊ", "ਵਾਧਾ", "ਹੋਇਆ", "ਤੇ", "ਨਿਗੂਣੀ", "ਮਸਰਾਂ", "ਦੀ", "ਦਾਲ", "ਵੀ", "90", "ਰੁਪਏ", "ਕਿੱਲੋ", "ਵਿਕਣੀ", "ਸ਼ੁਰੂ", "ਹੋ", "ਗਈ।", "ਇਸ", "ਤੋਂ", "ਇਲਾਵਾ", "ਹੋਰਨਾਂ", "ਦਾਲਾਂ,", " ਚਾਵਲਾਂ,", "ਆਟਾ,", "ਖੰਡ,", " ਦੁੱਧ,", " ਘਿਓ", "ਤੇ", "ਸਬਜ਼ੀਆਂ", "ਦੀਆਂ", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਆਮ", "ਵਿਅਕਤੀ", "ਨੂੰ", "ਕਾਬਾਂ", "ਛੇੜ", "ਦੇਣ", "ਵਾਲਾ", "ਵਾਧਾ", "ਹੋਇਆ", "ਅਤੇ", "ਆਰਥਿਕ", "ਮਾਹਰਾਂ", "ਨੂੰ", "ਅਗਲੇ", "ਨੇੜਲੇ", "ਸਮੇਂ", "ਇਸ", "ਉੱਪਰ", "ਕਾਬੂ", "ਪੈਣ", "ਦੇ", "ਕੋਈ", "ਆਸਾਰ", "ਨਹੀਂ", "ਦਿਸ", "ਰਹੇ", "।", "ਬੇਸ਼ੱਕ", "ਸਰਕਾਰ", "ਇਸ", "ਨੂੰ", "ਦੂਰ", "ਕਰਨ", "ਸੰਬੰਧੀ", "ਲੋਕਾਂ", "ਨੂੰ", "ਭੁਚਲਾਉਣ", "ਲਈ", "ਹਰ", "ਰੋਜ਼", "ਕੋਈ", "ਨਾ", "ਕੋਈ", "ਬਿਆਨ", "ਦਿੰਦੀ", "ਰਹਿੰਦੀ", "ਹੈ", "ਪਰ", "ਮਹਿੰਗਾਈ", "ਦਾ", "ਦੈਂਤ", "ਬੇਕਾਬੂ", "ਹੈ", "।", "ਕੇਂਦਰੀ", "ਬਜਟ", "ਤੋਂ", "ਵੀ", "ਸਰਕਾਰ", "ਦੀ", "ਮਹਿੰਗਾਈ", "ਨੂੰ", "ਕਾਬੂ", "ਕਰਨ", "ਦੀ", "ਕੋਈ", "ਨੀਤੀ", "ਨਹੀਂ", "ਝਲਕਦੀ,", "ਸਗੋਂ", "ਪੈਟਰੋਲ", "ਕੀਮਤਾਂ", "ਤੇ", "ਰਸੋਈ", "ਗੈਸ", "ਵਿੱਚ", "ਬੀਤੇ", "ਸਮੇਂ", "ਵਿੱਚ", "ਕੀਤੇ", "ਵਾਧੇ", "ਨੇ", "ਬਲਦੀ", "ਉੱਤੇ", "ਤੇਲ", "ਪਾਇਆ", "ਹੈ", "।", "ਖਾਧ-ਪਦਾਰਥਾਂ", "ਤੇ", "ਆਮ", "ਨਿੱਤ", "ਵਰਤੋਂ", "ਦੀਆਂ", "ਚੀਜ਼ਾਂ", "ਦੀਆਂ", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਵਾਧੇ", "ਦਾ", "ਸਭ", "ਤੋਂ", "ਬੁਰਾ", "ਅਸਰ", "ਘੱਟ", "ਜਾਂ", "ਬੱਧੀ", "ਆਮਦਨ", "ਵਾਲੇ", "ਵਿਅਕਤੀ", "ਦੇ", "ਉੱਪਰ", "ਪਿਆ", "ਹੈ", "।", "ਜਿੱਥੇ", "ਨਿੱਤ", "ਵਰਤੋਂ", "ਦੀਆਂ", "ਚੀਜ਼ਾਂ", "ਵਿੱਚ", "ਬੀਤੇ", "ਇੱਕ", "ਸਾਲ", "ਵਿੱਚ", "20-21%", "ਵਾਧਾ", "ਹੋਇਆ", "ਹੈ", "ਉੱਥੇ", "ਆਮ", "ਆਦਮੀ", "ਦੀ", "ਆਮਦਨ", "ਵਿੱਚ", "ਕੇਵਲ", "6%", "ਵਾਧਾ", "ਹੋਇਆ", "ਹੈ", "।", "ਅਧਿਐਨ", "ਇਹ", "ਵੀ", "ਦੱਸਦਾ", "ਹੈ", "ਕਿ", "ਆਉਂਦੇ", "ਮਹੀਨਿਆਂ", "ਵਿੱਚ", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਹੋਰ", "ਵਾਧਾ", "ਹੋਣਾ", "ਦੇ", "ਆਸਾਰ", "ਹਨ", "ਕਿਉਂਕਿ", "ਸਰਕਾਰ", "ਪੈਟਰੋਲ", "ਤੇ", "ਡੀਜ਼ਲ", "ਦੀਆਂ", "ਕੀਮਤਾਂ", "ਵਿੱਚ", "ਆਏ", "ਦਿਨ", "ਵਾਧਾ", "ਕਰਦੀ", "ਜਾ", "ਰਹੀ", "ਹੈ", "।", "ਮਹਿੰਗਾਈ", "ਦੇ", "ਵਾਧੇ", "ਦਾ", "ਮੁੱਖ", "ਕਾਰਨ", "ਅੱਜ", "ਦੀ", "ਆਮ", "ਵਰਤੋਂ", "ਦੇ", "ਖਾਧ-ਪਦਾਰਥਾਂ", "ਦੀ", "ਮੰਡੀ", "ਦਾ", "ਜੋੜ-ਤੋੜ", "ਦੀ", "ਸੌਦੇਬਾਜ਼ੀ", "ਕਰਨ", "ਵਾਲੇ", "ਚਲਬਾਜ਼ਾਂ", "ਸੱਟੇਬਾਜ਼ਾਂ", "ਮੁਨਾਫ਼ਾਖ਼ੋਰਾਂ", "ਤੇ", "ਜੱਕਬਾਜ਼ਾਂ", "ਦੇ", "ਹੱਥਾਂ", "ਵਿੱਚ", "ਹੋਣਾ", "ਹੈ", "। ", "ਉਨ੍ਹਾਂ", "ਵਿੱਚ", "ਮਾਰਕਿਟ", "ਨੂੰ", "ਆਪਣੀ", "ਮਰਜ਼ੀ", "ਅਨੁਸਾਰ", "ਚਲਾਉਣ", "ਦੀ", "ਪੂਰੀ", "ਸਮਰੱਥਾ", "ਹੈ", "ਤੇ", "ਉਨ੍ਹਾਂ", "ਨੂੰ", "ਸਰਕਾਰ", "ਦੀ", "ਪੂਰੀ", "ਮਦੱਦ", "ਤੇ", "ਹਮਾਇਤ", "ਹਾਸਲ", "ਹੈ", "ਕਿਉਂਕੀ", "ਉਹ", "ਰਾਜ", "ਕਰ", "ਰਹੀ", "ਪਾਰਟੀ", "ਨੂੰ", "ਚੋਣਾਂ", "ਲੜਨ", "ਲਈ", "ਵੱਡੇ-ਵੱਡੇ", "ਗੱਢੇ", "ਦਿੰਦੇ", "ਹਨ।", "ਉਹ", "ਮੰਡੀ", "ਹੀ", "ਵਿਚੋਂ", "ਕਿਸਾਨ", "ਦਾ", "ਮਾਲ", "ਖ਼ਰੀਦਣ", "ਸਮੇਂ", "ਭਾਅ", "ਥੱਲੇ", "ਡੇਗ", "ਦਿੰਦੇ", "ਹਨ", "ਤੇ", "ਮਗਰੋਂ", "ਜ਼ਖੀਰੇਬਾਜ਼ੀ", "ਕਰ", "ਕੇ", "ਅਤੇ", "ਨਕਲੀ", "ਸੰਕਟ", "ਪੈਦਾ", "ਕਰ", "ਕੇ", "ਮਾਲ", "ਨੂੰ", "ਕਾਲੇ", "ਬਜ਼ਾਰ", "ਵਿੱਚ", "ਵੇਚ", "ਕੇ", "ਖੂਬ", "ਧਨ", "ਕਮਾਉਂਦੇ", "ਹਨ", "।", "ਸਰਕਾਰ", "ਕਿਸਾਨਾਂ", "ਨੂੰ", "ਆਪਣੀ", "ਜਿਣਸ", "ਜਿੱਥੇ", "ਚਾਹੁੰਣ", "ਉੱਥੇ", "ਵੇਚਣ", "ਦੀ", "ਖੁਲ੍ਹ", "ਨਾ", "ਦੇ", "ਕੇ", "ਅਤੇ", "ਉਨ੍ਹਾਂ", "ਦੇ", "ਜਿਣਸੋ", "ਦੇ", "ਭਾਅ", "ਨਿਸ਼ਚਿਤ", "ਕਰਕੇ", "ਖੁੱਲੇ", "ਤੌਰ", "ਤੇ", "ਕਾਲਾ", "ਧੰਦਾ", "ਕਰਨ", "ਵਾਲੇ", "ਲਾਲਚੀ", "ਮੁਨਾਫ਼ਾ", "ਖੋਰਾਂ", "ਦੀ", "ਮੱਦਦ", "ਕਰਦੀ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>
}







