

@{
    ViewBag.Title = "Passage Typing : Lesson 8 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 8:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "9" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 166</h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਜਿਨ੍ਹਾ</span><span>ਲੋਕਾਂ</span><span>ਨੇ</span><span>ਆਪਣੇ</span><span>ਮਨ</span><span>ਉੱਤੇ</span><span>ਕਾਬੂ</span><span>ਪਾਇਆ</span><span>ਹੋਇਆ</span><span>ਹੈ,</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੇ</span><span>ਸੰਸਾਰ</span><span>ਉੱਤੇ</span><span>ਬੜੇ</span><span>ਕਾਰਨਾਮੇ</span><span>ਕਰਕੇ</span><span>ਵਿਖਾਏ</span><span>ਹਨ</span><span>|</span><span>ਵਿਗਿਆਨ</span><span>ਦੀਆਂ</span><span>ਕਾਢਾਂ</span><span>ਮਨੁੱਖੀ</span><span>ਮਨ</span><span>ਦੇ</span><span>ਅੰਦਰ</span><span>ਪੈਦਾ</span><span>ਹੋਈਆਂ</span><span>ਹਨ</span><span>|</span><span>ਭਗਤੀ</span><span>ਜਾ</span><span>ਸਾਧਨਾ</span><span>ਅਤੇ</span><span>ਤਪੱਸਿਆ</span><span>ਮਨ</span><span>ਦੀ</span><span>ਇਕਗਾਰਤਾ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਹੋ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸਾਰੇ</span><span>ਇਲਮ</span><span>ਅਤੇ</span><span>ਹੁਨਰ</span><span>ਇਕਾਗਰ</span><span>ਮਨ</span><span>ਦੀ</span><span>ਕਿਰਤ</span><span>ਹਨ</span><span>|</span><span>ਬੜੇ-ਬੜੇ</span><span>ਰਾਜਸੀ,</span><span>ਸਮਾਜਿਕ</span><span>ਤੇ</span><span>ਆਰਥਿਕ</span><span>ਪਰਿਵਰਤਨ</span><span>ਲਿਆਉਣ</span><span>ਵਾਲੇ</span><span>ਆਗੂਆਂ</span><span>ਦੇ</span><span>ਮਨ</span><span>ਕਿੱਸੇ</span><span>ਖ਼ਾਸ</span><span>ਆਦਰਸ਼</span><span>ਵਿੱਚ</span><span>ਬੁੱਝੇ</span><span>ਹੋਏ</span><span>ਸਨ</span><span>|</span><span>ਜਿਸ</span><span>ਮਨ</span><span>ਦੇ</span><span>ਸਾਹਮਣੇ</span><span>ਕਿਸੇ</span><span>ਆਦਰਸ਼</span><span>ਦੀ</span><span>ਉਚਾਈ</span><span>ਅਵਾਜਾਂ</span><span>ਮਾਰਦੀ</span><span>ਹੋਵੇ</span><span>ਉਸ</span><span>ਵਿੱਚ</span><span>ਇੱਕ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਪੈਦਾ</span><span>ਹੋ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਅੱਜ</span><span>ਮਨੁੱਖ</span><span>ਨੇ</span><span>ਪ੍ਰਕਿਰਤੀ</span><span>ਉਪਰ</span><span>ਆਪਣਾ</span><span>ਰਾਜ</span><span>ਹੱਕ</span><span>ਕਾਇਮ</span><span>ਕਰ</span><span>ਲਿਆ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਸਭ</span><span>ਮਨ</span><span>ਦੇ</span><span>ਟਿਕਾਅ</span><span>ਤੇ</span><span>ਉਚੇਚੀ</span><span>ਮਿਹਨਤ</span><span>ਦੀਆਂ</span><span>ਹਰਕਤਾਂ</span><span>ਹਨ</span><span>|</span><span>ਮਨੁੱਖ</span><span>ਨੇ</span><span>ਸੰਸਾਰ</span><span>ਭਰ</span><span>ਦਾ</span><span>ਸਾਰਾ</span><span>ਪੁਰਾਣਾ</span><span>ਇਤਹਾਸ</span><span>ਬਦਲ</span><span>ਦਿੱਤਾ</span><span>ਹੈ</span><span>|</span><span>ਜੇਕਰ</span><span>ਮੈਨੂੰ</span><span>ਪ੍ਰਮੰਨੇ</span><span>ਵਿਗਿਆਨੀਆਂ</span><span>ਤੇ</span><span>ਉਨਹਾ</span><span>ਦੇ</span><span>ਮਨ</span><span>ਉੱਤੇ</span><span>ਕਾਬੂ</span><span>ਨਾ</span><span>ਹੁੰਦਾ</span><span>ਤਾਂ</span><span>ਉਹ</span><span>ਕਦੇ</span><span>ਵੀ</span><span>ਅਜਿਹੇ</span><span>ਅਦਭੁੱਤ</span><span>ਕਾਢਾ</span><span>ਨਾ</span><span>ਕੱਢ</span><span>ਸਕਦੇ</span><span>|</span><span>ਮਨ</span><span>ਨੂੰ</span><span>ਕਾਬੂ</span><span>ਵਿੱਚ</span><span>ਰੱਖਣਾ</span><span>ਉੱਨਤੀ</span><span>ਦਾ</span><span>ਸੰਕੇਤ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਜਿਨ੍ਹਾ", "ਲੋਕਾਂ", "ਨੇ", "ਆਪਣੇ", "ਮਨ", "ਉੱਤੇ", "ਕਾਬੂ", "ਪਾਇਆ", "ਹੋਇਆ", "ਹੈ,", "ਉਨ੍ਹਾਂ", "ਨੇ", "ਸੰਸਾਰ", "ਉੱਤੇ", "ਬੜੇ", "ਕਾਰਨਾਮੇ", "ਕਰਕੇ", "ਵਿਖਾਏ", "ਹਨ", "|", "ਵਿਗਿਆਨ", "ਦੀਆਂ", "ਕਾਢਾਂ", "ਮਨੁੱਖੀ", "ਮਨ", "ਦੇ", "ਅੰਦਰ", "ਪੈਦਾ", "ਹੋਈਆਂ", "ਹਨ", "|", "ਭਗਤੀ", "ਜਾ", "ਸਾਧਨਾ", "ਅਤੇ", "ਤਪੱਸਿਆ", "ਮਨ", "ਦੀ", "ਇਕਗਾਰਤਾ", "ਨਾਲ", "ਹੀ", "ਹੋ", "ਸਕਦੀ", "ਹੈ", "|", "ਸਾਰੇ", "ਇਲਮ", "ਅਤੇ", "ਹੁਨਰ", "ਇਕਾਗਰ", "ਮਨ", "ਦੀ", "ਕਿਰਤ", "ਹਨ", "|", "ਬੜੇ-ਬੜੇ", "ਰਾਜਸੀ,", "ਸਮਾਜਿਕ", "ਤੇ", "ਆਰਥਿਕ", "ਪਰਿਵਰਤਨ", "ਲਿਆਉਣ", "ਵਾਲੇ", "ਆਗੂਆਂ", "ਦੇ", "ਮਨ", "ਕਿੱਸੇ", "ਖ਼ਾਸ", "ਆਦਰਸ਼", "ਵਿੱਚ", "ਬੁੱਝੇ", "ਹੋਏ", "ਸਨ", "|", "ਜਿਸ", "ਮਨ", "ਦੇ", "ਸਾਹਮਣੇ", "ਕਿਸੇ", "ਆਦਰਸ਼", "ਦੀ", "ਉਚਾਈ", "ਅਵਾਜਾਂ", "ਮਾਰਦੀ", "ਹੋਵੇ", "ਉਸ", "ਵਿੱਚ", "ਇੱਕ", "ਬਿਜਲੀ", "ਦੀ", "ਸ਼ਕਤੀ", "ਪੈਦਾ", "ਹੋ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਅੱਜ", "ਮਨੁੱਖ", "ਨੇ", "ਪ੍ਰਕਿਰਤੀ", "ਉਪਰ", "ਆਪਣਾ", "ਰਾਜ", "ਹੱਕ", "ਕਾਇਮ", "ਕਰ", "ਲਿਆ", "ਹੈ", "|", "ਇਹ", "ਸਭ", "ਮਨ", "ਦੇ", "ਟਿਕਾਅ", "ਤੇ", "ਉਚੇਚੀ", "ਮਿਹਨਤ", "ਦੀਆਂ", "ਹਰਕਤਾਂ", "ਹਨ", "|", "ਮਨੁੱਖ", "ਨੇ", "ਸੰਸਾਰ", "ਭਰ", "ਦਾ", "ਸਾਰਾ", "ਪੁਰਾਣਾ", "ਇਤਹਾਸ", "ਬਦਲ", "ਦਿੱਤਾ", "ਹੈ", "|", "ਜੇਕਰ", "ਮੈਨੂੰ", "ਪ੍ਰਮੰਨੇ", "ਵਿਗਿਆਨੀਆਂ", "ਤੇ", "ਉਨਹਾ", "ਦੇ", "ਮਨ", "ਉੱਤੇ", "ਕਾਬੂ", "ਨਾ", "ਹੁੰਦਾ", "ਤਾਂ", "ਉਹ", "ਕਦੇ", "ਵੀ", "ਅਜਿਹੇ", "ਅਦਭੁੱਤ", "ਕਾਢਾ", "ਨਾ", "ਕੱਢ", "ਸਕਦੇ", "|", "ਮਨ", "ਨੂੰ", "ਕਾਬੂ", "ਵਿੱਚ", "ਰੱਖਣਾ", "ਉੱਨਤੀ", "ਦਾ", "ਸੰਕੇਤ", "ਹੈ", "|",];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







