

@{

    ViewBag.Title = "Passage Typing : Lesson 11 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 11:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "12" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 427   </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਕਿਤਾਬਾਂ</span><span>ਗਿਆਨ</span><span>ਦਾ</span><span>ਭਰਪੂਰ</span><span>ਸੋਮਾ</span><span>ਹਨ,</span><span>ਮਨੋਰੰਜਨ</span><span>ਦਾ</span><span>ਵਧੀਆ</span><span>ਸਾਧਨ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਇਕੱਲੇ</span><span>ਪਨ</span><span>ਦਾ</span><span>ਸਾਥੀ</span><span>ਵੀ</span><span>ਹਨ</span><span>|</span><span>ਕਿਤਾਬਾਂ</span><span>ਦੀ</span><span>ਦੁਨੀਆ</span><span>ਬੜੀ</span><span>ਨਿਰਾਲੀ/ਅਨੋਖੀ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਦੁਨੀਆ</span><span>ਵਿੱਚ</span><span>ਪ੍ਰਵੇਸ਼</span><span>ਕਰਨ</span><span>ਵਾਲਾ</span><span>ਮਨੁੱਖ</span><span>ਗਿਆਨਵਾਨ</span><span>ਹੋ</span><span>ਕੇ</span><span>ਨਿਕਲਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਕਿਸੇ</span><span>ਨਵੇਂ</span><span>ਜੀਵਨ-ਪੱਧਰ</span><span>ਉੱਤੇ</span><span>ਤੋਰਨ</span><span>ਵਿੱਚ</span><span>ਸਹਾਈ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਪ੍ਰੰਤੂ,</span><span>ਸਵਾਲ</span><span>ਇਹ</span><span>ਪੈਦਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਕਿਤਾਬਾਂ</span><span>ਦੀ</span><span>ਚੋਣ</span><span>ਕਿਵੇਂ</span><span>ਕੀਤੀ</span><span>ਜਾਣੀ</span><span>ਚਹੀਦੀ</span><span>ਹੈ</span><span>?</span><span>ਕਿਤਾਬਾਂ</span><span>ਦੀ</span><span>ਗਿਣਤੀ</span><span>ਵਿੱਚ</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਵਾਧਾ</span><span>ਹੋ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਨਿਰਸੰਦੇਹ</span><span>ਜੀਵਨ</span><span>ਵਿੱਚ</span><span>ਕਿਤਾਬਾਂ</span><span>ਦੀ</span><span>ਵਿਸੇ਼ਸ਼</span><span>ਮਹੱਤਤਾ</span><span>ਹੈ</span><span>ਪਰੰਤੂ</span><span>ਸਾਰੀਆਂ</span><span>ਕਿਤਾਬਾਂ</span><span>ਹਰ</span><span>ਸਮੇਂ</span><span>ਹਰੇਕ</span><span>ਵਿਅਕਤੀ</span><span>ਲਈ</span><span>ਖਿੱਚ-ਭਰਪੂਰ</span><span>ਨਹੀਂ</span><span>ਹੋ</span><span>ਸਕਦੀਆਂ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਹੀ</span><span>ਸਾਰੀਆਂ</span><span>ਪੁਸਤਕਾਂ</span><span>ਇੱਕ</span><span>ਵਿਅਕਤੀ</span><span>ਦੁਆਰਾ</span><span>ਪੜ੍ਹਿਆ</span><span>ਹੀ</span><span>ਜਾ</span><span>ਸਕਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਕੁਝ</span><span>ਕਿਤਾਬਾਂ</span><span>ਅਜਿਹੀਆਂ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ,</span><span>ਜਿਹੜੀਆਂ</span><span>ਕੇਵਾਲ</span><span>ਇੱਕ</span><span>ਵਾਰ</span><span>ਹੀ</span><span>ਵੇਖੀਆਂ</span><span>ਜਾਂਦੀਆ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਉਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਪੜ੍ਹਨ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਮਹਿਸੂਸ</span><span>ਨਹੀਂ</span><span>ਕੀਤੀ</span><span>ਜਾਂਦੀ,</span><span>ਕੁਝ</span><span>ਅਜਿਹੀਆਂ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਦਾ</span><span>ਵਿਸ਼ਾ-ਵਸਤੂ</span><span>ਤੇ</span><span>ਸ਼ਾਬਦਾਵਲੀ</span><span>ਦਿਲ</span><span>ਨੂੰ</span><span>ਅਜਿਹਾ</span><span>ਛੁੰਦੀਆ</span><span>ਹਨ</span><span>ਕਿ</span><span>ਵਾਰ</span><span>-</span><span>ਵਾਰ</span><span>ਪੜ੍ਹਨ</span><span>ਦਾ</span><span>ਦਿਲ</span><span>ਕਰਦਾ</span><span>ਹੈ,</span><span>ਕੁਝ</span><span>ਗਿਆਨ-ਪ੍ਰਾਪਤੀ</span><span>ਲਈ</span><span>ਲਿਖੀਆ</span><span>ਹੁੰਦੀਆ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਕੁਝ</span><span>ਸਿਰਫ਼</span><span>ਮਨੋਰੰਜਨ</span><span>ਦਾ</span><span>ਹੀ</span><span>ਸਾਧਨ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਪਾਠਕਾਂ</span><span>ਦੀਆਂ</span><span>ਪੜ੍ਹਨ</span><span>ਰੁਚੀਆਂ</span><span>ਵੀ</span><span>ਭਿੰਨ-ਭਿੰਨ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਕੁਝ</span><span>ਲੋਕ</span><span>ਇੱਕੋ</span><span>ਕਿਤਾਬਾਂ</span><span>ਵਿਚੋਂ</span><span>ਅਥਾਹ</span><span>ਗਿਆਨ</span><span>ਇੱਕਠਾ</span><span>ਕਰ</span><span>ਲੈਂਦਾ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਕੁਝ</span><span>ਉਸੇ</span><span>ਵਿਚੋਂ</span><span>ਹੀ</span><span>ਸਿਰਫ਼</span><span>ਮਨੋਰੰਜਨ</span><span>ਲੱਭਦੇ</span><span>ਹਨ</span><span>|</span><span>ਜਿਵੇਂ</span><span>ਕੁਝ</span><span>ਕਿਤਾਬਾਂ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਦੇ</span><span>ਸਿਲੇਬਸ</span><span>ਵਿੱਚ</span><span>ਸ਼ਾਮਲ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ,</span><span>ਉਹਨਾਂ</span><span>ਨੂੰ</span><span>ਕੁਝ</span><span>ਵਿਦਿਆਰਥੀ</span><span>ਸਿਰਫ</span><span>ਪਰੀਖਿਆ</span><span>ਦੇ</span><span>ਨਜ਼ਰੀਏ</span><span>ਤੋਂ</span><span>ਹੀ</span><span>ਪੜ੍ਹਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਕੁਝ</span><span>ਉਨ੍ਹਾਂ</span><span>ਤੋਂ</span><span>ਹੀ</span><span>ਪ੍ਰੇਰਨਾ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਜਾਂ</span><span>ਪ੍ਰਭਾਵਿਤ</span><span>ਹੋ</span><span>ਕੇ</span><span>ਹੋਰ</span><span>ਕਿਤਾਬਾਂ</span><span>ਪੜ੍ਹਨ</span><span>ਦੀ</span><span>ਕੋਸ਼ਿਸ਼</span><span>ਕਰਨਗੇ</span><span>ਜਾ</span><span>ਸਿਲੇਬਸ</span><span>ਦੇ</span><span>ਪਾਠ-ਪੁਸਤਕ</span><span>ਦਾ</span><span>ਹੀ</span><span>ਹਰ</span><span>ਪੱਖੋਂ</span><span>ਗੰਭੀਰ</span><span>ਅਧਿਐਨ</span><span>ਵੀ</span><span>ਕਰਨਗੇ</span><span>|</span><span>ਇੰਵ</span><span>ਉਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਪੜ੍ਹਨ</span><span>ਦੀ</span><span>ਰੁਚੀ</span><span>ਪੈਦਾ</span><span>ਹੋ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਕਾਪੀ</span><span>ਕਿਤਾਬਾਂ</span><span>ਨੂੰ</span><span>ਆਪਣਾ</span><span>ਸਾਥੀ</span><span>ਬਣਾ</span><span>ਲੈਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਉੇਂਵ</span><span>ਤਾ</span><span>ਕਿਤਾਬਾਂ</span><span>ਦੀਆਂ</span><span>ਅਨੇਕਾਂ</span><span>ਹੀ</span><span>ਕਿਸਮਾਂ</span><span>ਹਨ</span><span>ਪਰ</span><span>ਇੱਥੇ</span><span>ਕੇਵਲ</span><span>ਕੁਝ</span><span>ਕੁ</span><span>ਚੋਣਵੀਆਂ</span><span>ਕਿਸਮਾਂ</span><span>ਬਾਰੇ</span><span>ਚਾਨਣਾ</span><span>ਪਾਇਆ</span><span>ਜਾਵੇਗਾ</span><span>|</span><span>ਇੱਕ</span><span>ਪੁਸਤਕ</span><span>ਤ</span><span>ਉਹ</span><span>ਹੁੰਦੀਆ</span><span>ਹਨ</span><span>ਜਿਹੜੀਆਂ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਦੇ</span><span>ਸਿਲੇਬਸ</span><span>ਵਿੱਚ</span><span>ਨਿਰਧਾਰਤ</span><span>ਕੀਤੀਆ</span><span>ਹੁੰਦੀਆ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਦੂਜਿਆਂ</span><span>ਸਿਲੇਬਸ</span><span>ਤੋਂ</span><span>ਬਾਹਰ</span><span>|</span><span>ਹੁਣ</span><span>ਕਿਹੜੀਆਂ</span><span>ਕਿਤਾਬਾਂ</span><span>ਚੰਗੀਆ</span><span>ਤੇ</span><span>ਕਿਹੜੀਆਂ</span><span>ਮਾੜੀਆਂ</span><span>ਹੁੰਦੀਆ</span><span>ਹਨ,</span><span>ਇਨ੍ਹਾਂ</span><span>ਦਾ</span><span>ਵੀ</span><span>ਨਿਰਨਾ</span><span>ਕਰ</span><span>ਲੈਣਾ</span><span>ਜ਼ਰੂਰੀ</span><span>ਹੈ</span><span>|</span><span>ਚੰਗੀਆਂ</span><span>ਪੁਸਤਕਾਂ</span><span>ਉਹ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>ਜਿਹੜੀਆਂ</span><span>ਹਰੇਕ</span><span>ਦੇ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਮਾਰਗ-ਦਰਸ਼ਨ</span><span>ਕਰਨ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਿੱਚ</span><span>ਮਹਾਂਪੁਰਸ਼ਾਂ,</span><span>ਸੰਤਾ,</span><span>ਸੂਫੀਆਂ,</span><span>ਗੁਰੂਆਂ,</span><span>ਯੋਧਿਆਂ,</span><span>ਵਿਗਿਆਨੀਆਂ,</span><span>ਡਾਕਟਰਾਂ,</span><span>ਫਿਲਾਸਫਰਾਂ,</span><span>ਸਾਹਿਤਕਾਰਾਂ</span><span>ਆਦਿ</span><span>ਦੇ</span><span>ਜੀਵਨ-ਫਲਸਫੇ</span><span>ਜਾ</span><span>ਇਨ੍ਹਾਂ</span><span>ਵਲੋਂ</span><span>ਲਿਖੀਆ</span><span>ਪੁਸਤਕਾਂ</span><span>ਸ਼ਾਮਲ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਸੰਸਾਰ-ਸਾਹਿਤ</span><span>ਵਿੱਚ</span><span>ਕੁਝ</span><span>ਕਲਸੀਕਲ</span><span>ਪੁਸਤਕਾਂ</span><span>ਅਜਿਹੀਆਂ</span><span>ਹਨ</span><span>ਜਿਹੜੀਆਂ</span><span>ਹਰੇਕ</span><span>ਯੁੱਗ</span><span>ਵਿੱਚ</span><span>ਇੱਕੋ</span><span>ਜਿਹੀ</span><span>ਲਗਨ</span><span>ਨਾਲ</span><span>ਪੜ੍ਹੀਆਂ</span><span>ਤੇ</span><span>ਵਿਚਾਰੀਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਰਹੀਆਂ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਅੱਜ</span><span>ਵੀ</span><span>ਉਸੇ</span><span>ਲਗਨ</span><span>ਤੇ</span><span>ਸ਼ਰਧਾ</span><span>ਨਾਲ</span><span>ਪੜ੍ਹੀਆਂ</span><span>ਜਾ</span><span>ਰਹੀਆਂ</span><span>ਹਨ</span><span>ਜਿਵੇਂ</span><span>ਰਮਾਇਣ,</span><span>ਮਹਾਂਭਾਰਤ,</span><span>ਪ੍ਰਰਾਣ,</span><span>ਬਾਈਬਲ,</span><span>ਸ਼ੈਕਸਪੀਅਰ</span><span>ਦੀਆਂ</span><span>ਰਚਨਾਵਾਂ,</span><span>ਅੰਮ੍ਰਿਤਾ</span><span>ਪ੍ਰੀਤਮ,</span><span>ਹੀਰ</span><span>ਵਾਰਸ,</span><span>ਭਾਈ</span><span>ਵੀਰ</span><span>ਸਿੰਘ,</span><span>ਨਾਨਕ</span><span>ਸਿੰਘ</span><span>ਆਦਿ</span><span>ਦੀਆਂ</span><span>ਪੁਸਤਕਾਂ</span><span>ਆਦਿ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਕਿਤਾਬਾਂ", "ਗਿਆਨ", "ਦਾ", "ਭਰਪੂਰ", "ਸੋਮਾ", "ਹਨ,", "ਮਨੋਰੰਜਨ", "ਦਾ", "ਵਧੀਆ", "ਸਾਧਨ", "ਹਨ", "ਤੇ", "ਇਕੱਲੇ", "ਪਨ", "ਦਾ", "ਸਾਥੀ", "ਵੀ", "ਹਨ", "|", "ਕਿਤਾਬਾਂ", "ਦੀ", "ਦੁਨੀਆ", "ਬੜੀ", "ਨਿਰਾਲੀ/ਅਨੋਖੀ", "ਹੈ", "|", "ਇਸ", "ਦੁਨੀਆ", "ਵਿੱਚ", "ਪ੍ਰਵੇਸ਼", "ਕਰਨ", "ਵਾਲਾ", "ਮਨੁੱਖ", "ਗਿਆਨਵਾਨ", "ਹੋ", "ਕੇ", "ਨਿਕਲਦਾ", "ਹੈ", "|", "ਇਹ", "ਉਸ", "ਨੂੰ", "ਕਿਸੇ", "ਨਵੇਂ", "ਜੀਵਨ-ਪੱਧਰ", "ਉੱਤੇ", "ਤੋਰਨ", "ਵਿੱਚ", "ਸਹਾਈ", "ਹੁੰਦੀਆਂ", "ਹਨ", "|", "ਪ੍ਰੰਤੂ,", "ਸਵਾਲ", "ਇਹ", "ਪੈਦਾ", "ਹੁੰਦਾ", "ਹੈ", "ਕਿ", "ਕਿਤਾਬਾਂ", "ਦੀ", "ਚੋਣ", "ਕਿਵੇਂ", "ਕੀਤੀ", "ਜਾਣੀ", "ਚਹੀਦੀ", "ਹੈ", "?", "ਕਿਤਾਬਾਂ", "ਦੀ", "ਗਿਣਤੀ", "ਵਿੱਚ", "ਦਿਨੋ-ਦਿਨ", "ਵਾਧਾ", "ਹੋ", "ਰਿਹਾ", "ਹੈ", "|", "ਨਿਰਸੰਦੇਹ", "ਜੀਵਨ", "ਵਿੱਚ", "ਕਿਤਾਬਾਂ", "ਦੀ", "ਵਿਸੇ਼ਸ਼", "ਮਹੱਤਤਾ", "ਹੈ", "ਪਰੰਤੂ", "ਸਾਰੀਆਂ", "ਕਿਤਾਬਾਂ", "ਹਰ", "ਸਮੇਂ", "ਹਰੇਕ", "ਵਿਅਕਤੀ", "ਲਈ", "ਖਿੱਚ-ਭਰਪੂਰ", "ਨਹੀਂ", "ਹੋ", "ਸਕਦੀਆਂ", "ਤੇ", "ਨਾ", "ਹੀ", "ਸਾਰੀਆਂ", "ਪੁਸਤਕਾਂ", "ਇੱਕ", "ਵਿਅਕਤੀ", "ਦੁਆਰਾ", "ਪੜ੍ਹਿਆ", "ਹੀ", "ਜਾ", "ਸਕਦੀਆਂ", "ਹਨ", "|", "ਕੁਝ", "ਕਿਤਾਬਾਂ", "ਅਜਿਹੀਆਂ", "ਹੁੰਦੀਆਂ", "ਹਨ,", "ਜਿਹੜੀਆਂ", "ਕੇਵਾਲ", "ਇੱਕ", "ਵਾਰ", "ਹੀ", "ਵੇਖੀਆਂ", "ਜਾਂਦੀਆ", "ਹਨ", "ਤੇ", "ਉਨ੍ਹਾਂ", "ਨੂੰ", "ਪੜ੍ਹਨ", "ਦੀ", "ਲੋੜ", "ਮਹਿਸੂਸ", "ਨਹੀਂ", "ਕੀਤੀ", "ਜਾਂਦੀ,", "ਕੁਝ", "ਅਜਿਹੀਆਂ", "ਹੁੰਦੀਆਂ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਦਾ", "ਵਿਸ਼ਾ-ਵਸਤੂ", "ਤੇ", "ਸ਼ਾਬਦਾਵਲੀ", "ਦਿਲ", "ਨੂੰ", "ਅਜਿਹਾ", "ਛੁੰਦੀਆ", "ਹਨ", "ਕਿ", "ਵਾਰ", "-", "ਵਾਰ", "ਪੜ੍ਹਨ", "ਦਾ", "ਦਿਲ", "ਕਰਦਾ", "ਹੈ,", "ਕੁਝ", "ਗਿਆਨ-ਪ੍ਰਾਪਤੀ", "ਲਈ", "ਲਿਖੀਆ", "ਹੁੰਦੀਆ", "ਹਨ", "ਤੇ", "ਕੁਝ", "ਸਿਰਫ਼", "ਮਨੋਰੰਜਨ", "ਦਾ", "ਹੀ", "ਸਾਧਨ", "ਹੁੰਦੀਆਂ", "ਹਨ", "|", "ਪਾਠਕਾਂ", "ਦੀਆਂ", "ਪੜ੍ਹਨ", "ਰੁਚੀਆਂ", "ਵੀ", "ਭਿੰਨ-ਭਿੰਨ", "ਹੁੰਦੀਆਂ", "ਹਨ", "|", "ਕੁਝ", "ਲੋਕ", "ਇੱਕੋ", "ਕਿਤਾਬਾਂ", "ਵਿਚੋਂ", "ਅਥਾਹ", "ਗਿਆਨ", "ਇੱਕਠਾ", "ਕਰ", "ਲੈਂਦਾ", "ਹਨ", "ਤੇ", "ਕੁਝ", "ਉਸੇ", "ਵਿਚੋਂ", "ਹੀ", "ਸਿਰਫ਼", "ਮਨੋਰੰਜਨ", "ਲੱਭਦੇ", "ਹਨ", "|", "ਜਿਵੇਂ", "ਕੁਝ", "ਕਿਤਾਬਾਂ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੇ", "ਸਿਲੇਬਸ", "ਵਿੱਚ", "ਸ਼ਾਮਲ", "ਹੁੰਦੀਆਂ", "ਹਨ,", "ਉਹਨਾਂ", "ਨੂੰ", "ਕੁਝ", "ਵਿਦਿਆਰਥੀ", "ਸਿਰਫ", "ਪਰੀਖਿਆ", "ਦੇ", "ਨਜ਼ਰੀਏ", "ਤੋਂ", "ਹੀ", "ਪੜ੍ਹਦੇ", "ਹਨ", "ਤੇ", "ਕੁਝ", "ਉਨ੍ਹਾਂ", "ਤੋਂ", "ਹੀ", "ਪ੍ਰੇਰਨਾ", "ਲੈ", "ਕੇ", "ਜਾਂ", "ਪ੍ਰਭਾਵਿਤ", "ਹੋ", "ਕੇ", "ਹੋਰ", "ਕਿਤਾਬਾਂ", "ਪੜ੍ਹਨ", "ਦੀ", "ਕੋਸ਼ਿਸ਼", "ਕਰਨਗੇ", "ਜਾ", "ਸਿਲੇਬਸ", "ਦੇ", "ਪਾਠ-ਪੁਸਤਕ", "ਦਾ", "ਹੀ", "ਹਰ", "ਪੱਖੋਂ", "ਗੰਭੀਰ", "ਅਧਿਐਨ", "ਵੀ", "ਕਰਨਗੇ", "|", "ਇੰਵ", "ਉਨ੍ਹਾਂ", "ਵਿੱਚ", "ਪੜ੍ਹਨ", "ਦੀ", "ਰੁਚੀ", "ਪੈਦਾ", "ਹੋ", "ਜਾਂਦੀ", "ਹੈ", "ਤੇ", "ਕਾਪੀ", "ਕਿਤਾਬਾਂ", "ਨੂੰ", "ਆਪਣਾ", "ਸਾਥੀ", "ਬਣਾ", "ਲੈਂਦੇ", "ਹਨ", "|", "ਉੇਂਵ", "ਤਾ", "ਕਿਤਾਬਾਂ", "ਦੀਆਂ", "ਅਨੇਕਾਂ", "ਹੀ", "ਕਿਸਮਾਂ", "ਹਨ", "ਪਰ", "ਇੱਥੇ", "ਕੇਵਲ", "ਕੁਝ", "ਕੁ", "ਚੋਣਵੀਆਂ", "ਕਿਸਮਾਂ", "ਬਾਰੇ", "ਚਾਨਣਾ", "ਪਾਇਆ", "ਜਾਵੇਗਾ", "|", "ਇੱਕ", "ਪੁਸਤਕ", "ਤ", "ਉਹ", "ਹੁੰਦੀਆ", "ਹਨ", "ਜਿਹੜੀਆਂ", "ਵਿਦਿਆਰਥੀਆਂ", "ਦੇ", "ਸਿਲੇਬਸ", "ਵਿੱਚ", "ਨਿਰਧਾਰਤ", "ਕੀਤੀਆ", "ਹੁੰਦੀਆ", "ਹਨ", "ਤੇ", "ਦੂਜਿਆਂ", "ਸਿਲੇਬਸ", "ਤੋਂ", "ਬਾਹਰ", "|", "ਹੁਣ", "ਕਿਹੜੀਆਂ", "ਕਿਤਾਬਾਂ", "ਚੰਗੀਆ", "ਤੇ", "ਕਿਹੜੀਆਂ", "ਮਾੜੀਆਂ", "ਹੁੰਦੀਆ", "ਹਨ,", "ਇਨ੍ਹਾਂ", "ਦਾ", "ਵੀ", "ਨਿਰਨਾ", "ਕਰ", "ਲੈਣਾ", "ਜ਼ਰੂਰੀ", "ਹੈ", "|", "ਚੰਗੀਆਂ", "ਪੁਸਤਕਾਂ", "ਉਹ", "ਹੁੰਦੀਆਂ", "ਹਨ", "ਜਿਹੜੀਆਂ", "ਹਰੇਕ", "ਦੇ", "ਜੀਵਨ", "ਦਾ", "ਮਾਰਗ-ਦਰਸ਼ਨ", "ਕਰਨ", "|", "ਇਨ੍ਹਾਂ", "ਵਿੱਚ", "ਮਹਾਂਪੁਰਸ਼ਾਂ,", "ਸੰਤਾ,", "ਸੂਫੀਆਂ,", "ਗੁਰੂਆਂ,", "ਯੋਧਿਆਂ,", "ਵਿਗਿਆਨੀਆਂ,", "ਡਾਕਟਰਾਂ,", "ਫਿਲਾਸਫਰਾਂ,", "ਸਾਹਿਤਕਾਰਾਂ", "ਆਦਿ", "ਦੇ", "ਜੀਵਨ-ਫਲਸਫੇ", "ਜਾ", "ਇਨ੍ਹਾਂ", "ਵਲੋਂ", "ਲਿਖੀਆ", "ਪੁਸਤਕਾਂ", "ਸ਼ਾਮਲ", "ਹੁੰਦੀਆਂ", "ਹਨ", "|", "ਸੰਸਾਰ-ਸਾਹਿਤ", "ਵਿੱਚ", "ਕੁਝ", "ਕਲਸੀਕਲ", "ਪੁਸਤਕਾਂ", "ਅਜਿਹੀਆਂ", "ਹਨ", "ਜਿਹੜੀਆਂ", "ਹਰੇਕ", "ਯੁੱਗ", "ਵਿੱਚ", "ਇੱਕੋ", "ਜਿਹੀ", "ਲਗਨ", "ਨਾਲ", "ਪੜ੍ਹੀਆਂ", "ਤੇ", "ਵਿਚਾਰੀਆਂ", "ਜਾਂਦੀਆਂ", "ਰਹੀਆਂ", "ਹਨ", "ਤੇ", "ਅੱਜ", "ਵੀ", "ਉਸੇ", "ਲਗਨ", "ਤੇ", "ਸ਼ਰਧਾ", "ਨਾਲ", "ਪੜ੍ਹੀਆਂ", "ਜਾ", "ਰਹੀਆਂ", "ਹਨ", "ਜਿਵੇਂ", "ਰਮਾਇਣ,", "ਮਹਾਂਭਾਰਤ,", "ਪ੍ਰਰਾਣ,", "ਬਾਈਬਲ,", "ਸ਼ੈਕਸਪੀਅਰ", "ਦੀਆਂ", "ਰਚਨਾਵਾਂ,", "ਅੰਮ੍ਰਿਤਾ", "ਪ੍ਰੀਤਮ,", "ਹੀਰ", "ਵਾਰਸ,", "ਭਾਈ", "ਵੀਰ", "ਸਿੰਘ,", "ਨਾਨਕ", "ਸਿੰਘ", "ਆਦਿ", "ਦੀਆਂ", "ਪੁਸਤਕਾਂ", "ਆਦਿ", "|"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







