

@{

    ViewBag.Title = "Passage Typing : Lesson 2 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 2:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "2" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 593</h5>
            <br />

            <section id="word-section">
                <span class="current-word">ਖੇਡਾਂ</span><span>ਦੀ</span><span>ਮਨੁੱਖੀ</span><span>ਜੀਵਨ</span><span>ਵਿਚ</span><span>ਬਹੁਤ</span><span>ਮਹੱਤਤਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਦੀ</span><span>ਸਾਡੇ</span><span>ਸਰੀਰ</span><span>ਨੂੰ</span><span>ਇਸੇ</span><span>ਪ੍ਰਕਾਰ</span><span>ਦੀ</span><span>ਜਰੂਰਤ</span><span>ਹੈ,</span><span>ਜਿਵੇਂ</span><span>ਸਾਨੂੰ</span><span>ਸੰਤੁਲਿਤ</span><span>ਆਹਾਰ/ਖੁਰਾਕ,</span><span>ਹਵਾ</span><span>ਤੇ</span><span>ਪਾਣੀ</span><span>ਆਦਿ</span><span>ਦੀ</span><span>ਬਹੁਤ</span><span>ਜਰੂਰਤ</span><span>ਹੈ</span><span>|</span><span>ਜਿਥੇ</span><span>ਸਰੀਰ</span><span>ਨੂੰ</span><span>ਤੰਦਰੁਸਤ</span><span>ਰੱਖਣ</span><span>ਲਈ</span><span>ਸੰਤੁਲਿਤ</span><span>ਆਹਾਰ/ਖੁਰਾਕ</span><span>ਆਪਣਾ</span><span>ਹਿੱਸਾ</span><span>ਪਾਉਂਦੀ</span><span>ਹੈ,</span><span>ਉੱਥੇ</span><span>ਖੇਡਾਂ</span><span>ਵੀ</span><span>ਸਾਡੇ</span><span>ਸਰੀਰ</span><span>ਨੂੰ</span><span>ਖੁਰਾਕ</span><span>ਦਾ</span><span>ਵੱਧ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਲਾਭ</span><span>ਚੁੱਕਣ</span><span>ਦੇ</span><span>ਯੋਗ</span><span>ਬਣਾਉਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਸਾਡੇ</span><span>ਦਿਨ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਦਿਮਾਗੀ</span><span>ਅਤੇ</span><span>ਸਰੀਰਕ</span><span>ਥਕੇਵੇਂ</span><span>ਨੂੰ</span><span>ਦੂਰ</span><span>ਕਰ</span><span>ਦਿੰਦਿਆਂ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਸਾਡੇ</span><span>ਸਰੀਰ</span><span>ਵਿਚ</span><span>ਤਾਜਗੀ</span><span>ਤੇ</span><span>ਫੁਰਤੀ</span><span>ਪੈਦਾ</span><span>ਕਰਨ</span><span>ਵਿਚ</span><span>ਸਹਾਇਕ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>
                    |
                    ਸਰੀਰ
                </span><span>ਦੇ</span><span>ਅਰੋਗ</span><span>ਰਹਿਣ</span><span>ਨਾਲ</span><span>ਮਨੁੱਖ</span><span>ਆਪਣੇ</span><span>ਦਿਮਾਗ</span><span>ਤੋਂ</span><span>ਵੀ</span><span>ਵੱਧ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਲਾਭ</span><span>ਉਠਾ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਨਾਲ</span><span>ਦਿਮਾਗ</span><span>ਦੀ</span><span>ਗ੍ਰਹਿਣ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਹੋਰ</span><span>ਤੇਜ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਨਾਲ</span><span>ਦਿਮਾਗ</span><span>ਤਾਜ਼ਾ</span><span>ਤੇ</span><span>ਚੁਸਤ</span><span>ਫੁਰਤ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਤੋਂ</span><span>ਬਿਨਾ</span><span>ਨਿਰੇ</span><span>ਕਿਤਾਬੀ</span><span>ਕੀੜੇ</span><span>ਜਿੰਦਗੀ</span><span>ਦੀ</span><span>ਦੌੜ</span><span>ਵਿੱਚ</span><span>ਦੁਜਿਆਂ</span><span>ਨਾਲੋਂ</span><span>ਪਿੱਛੇ</span><span>ਰਹਿ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਸਰੀਰਕ</span><span>ਅਤੇ</span><span>ਦਿਮਾਗੀ</span><span>ਅਰੋਗਤਾ</span><span>ਤੋਂ</span><span>ਬਿਨਾਂ</span><span>ਖੇਡਾਂ</span><span>ਮਨੁੱਖ</span><span>ਦੇ</span><span>ਆਚਰਨ</span><span>ਦੀ</span><span>ਉਸਾਰੀ</span><span>ਵੀ</span><span>ਕਰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਜਦੋਂ</span><span>ਅਸੀਂ</span><span>ਦੁਜਿਆਂ</span><span>ਨਾਲ</span><span>ਮਿਲ</span><span>ਕੇ</span><span>ਖੇਡਾਂ</span><span>ਖੇਡਦੇ</span><span>ਹਾ,</span><span>ਤਾਂ</span><span>ਸਾਡੇ</span><span>ਵਿੱਚ</span><span>ਇਕ-ਦੂਸਰੇ</span><span>ਦੀ</span><span>ਸਹਾਇਤਾ</span><span>ਕਰਨ,</span><span>ਕਿਸੇ</span><span>ਨਾਲ</span><span>ਚਲਾਕੀ</span><span>ਨਾ</span><span>ਕਰਨ,</span><span>ਆਪਣੀ</span><span>ਗ਼ਲਤੀ</span><span>ਨੂੰ</span><span>ਮੰਨ</span><span>ਲੈਣ,</span><span>ਧੋਖਾ</span><span>ਨਾ</span><span>ਕਰਨ,</span><span>ਆਗੁਦਾ</span><span>ਹੁਕਮ</span><span>ਮੰਨਣ,</span><span>ਆਪਣੀ</span><span>ਜਿੱਤ</span><span>ਲਈ</span><span>ਪੂਰੀ</span><span>ਟੀਮ</span><span>ਕਾ</span><span>ਸਾਥ</span><span>ਦੇਣਾ,</span><span>ਨਿਯਮਾਂ</span><span>ਦੀ</span><span>ਪਾਲਣਾ</span><span>ਕਰਨਾ</span><span>ਤੇ</span><span>ਇਕ</span><span>ਦੂਜੇ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਮਿਲ</span><span>ਕੇ</span><span>ਚੱਲਣ</span><span>ਦੇ</span><span>ਗੁਣ</span><span>ਪੈਦਾ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸੰਸਾਰ</span><span>ਦੀਆਂ</span><span>ਉੱਨਤ</span><span>ਕੋਮਾ</span><span>ਖੇਡਾਂ</span><span>ਦੀ</span><span>ਮਹਾਨਤਾ</span><span>ਨੂੰ</span><span>ਚੰਗੀ</span><span>ਤਾਰਨ</span><span>ਸਮਝਦਿਆਂ</span><span>ਹਨ,</span><span>ਇਸ</span><span>ਕਰਕੇ</span><span>ਹੀ</span><span>ਉਹ</span><span>ਜੀਵਨ</span><span>ਦੇ</span><span>ਹਰ</span><span>ਖੇਤਰ</span><span>ਵਿੱਚ</span><span>ਖੇਡਾਂ</span><span>ਨੂੰ</span><span>ਵੱਧ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਮਹੱਤਤਾ</span><span>ਦਿੰਦਿਆਂ</span><span>ਹਨ</span><span>|</span><span>ਉੱਨਤ</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿੱਚ</span><span>ਖੇਡਾਂ</span><span>ਦਾ</span><span>ਦੇਖ</span><span>ਰੇਖ</span><span>ਕੇਵਲ</span><span>ਵਿਦਿਆਰਥੀਆਂ</span><span>ਜਾਨ</span><span>ਨੌਜਵਾਨਾਂ</span><span>ਲਈ</span><span>ਹੀ</span><span>ਨਹੀਂ,</span><span>ਸਗੋਂ</span><span>ਵੱਡੀ</span><span>ਉਮਰ</span><span>ਦੇ</span><span>ਵਿਅਕਤੀਆਂ</span><span>ਤੇ</span><span>ਬੱਚਿਆਂ</span><span>ਲਈ</span><span>ਵੀ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਸਾਡੇ</span><span>ਸਰੀਰ</span><span>ਨੂੰ</span><span>ਤਕੜਾ</span><span>ਰੱਖਣ</span><span>ਵਿੱਚ</span><span>ਭਾਰੀ</span><span>ਹਿੱਸਾ</span><span>ਪਾਉਂਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਹਿੱਸਾ</span><span>ਲੈਣ</span><span>ਨਾਲ</span><span>ਸਾਡੇ</span><span>ਸਰੀਰ</span><span>ਵਿੱਚ</span><span>ਖੂਨ</span><span>ਦਾ</span><span>ਪ੍ਰਸਾਰ</span><span>ਤੇਜ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਫੇਫੜਿਆਂ</span><span>ਨੂੰ</span><span>ਤਾਜੀ</span><span>ਹਵਾ</span><span>ਮਿਲਦੀ</span><span></span><span>ਹੈ</span><span>ਤੇ</span><span>ਪਾਚਨ-ਸ਼ਕਤੀ</span><span>ਤੇਜ਼</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਰੋਜ</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਹਿੱਸਾ</span><span>ਲੈਣ</span><span>ਵਾਲੇ</span><span>ਮਨੁੱਖਾਂ</span><span>ਦਾ</span><span>ਸਰੀਰ</span><span>ਅਰੋਗ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਉਹਨਾਂ</span><span>ਦੇ</span><span>ਅੰਦਰ</span><span>ਬਿਮਾਰੀਆਂ</span><span>ਦਾ</span><span>ਟਾਕਰਾ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਪੈਦਾ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਭਾਗ</span><span>ਲੈਣ</span><span>ਵਾਲਿਆਂ</span><span>ਦੇ</span><span>ਸਰੀਰ</span><span>ਵਿੱਚ</span><span>ਹਮੇਸ਼ਾ</span><span>ਚੁਸਤੀ</span><span>ਤੇ</span><span>ਤਾਜਗੀ</span><span>ਰਹਿੰਦੀ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਉਹਨਾਂ</span><span>ਦਾ</span><span>ਚੇਹਰਾ</span><span>ਖਿੜਿਆ-ਖਿੜਿਆ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਮਨੁੱਖੀ</span><span>ਮਨ</span><span>ਵਿੱਚ</span><span>ਟਿਕਾਓ</span><span>ਤੇ</span><span>ਇਕਾਗਰਤਾ</span><span>ਅਤੇ</span><span>ਵਿਸ਼ਵਾਸ</span><span>ਪੈਦਾ</span><span>ਕਰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਲੱਗ</span><span>ਕੇ</span><span>ਮਨੁੱਖ</span><span>ਸੰਸਾਰਕ</span><span>ਝੰਜਟਾਂ</span><span>ਨੂੰ</span><span>ਭੁੱਲ</span><span>ਕੇ</span><span>ਫਿਕਰਾਂ</span><span>ਤੇ</span><span>ਮਾਨਸਿਕ</span><span>ਤਣਾਓ</span><span>ਤੋਂ</span><span>ਮੁਕਤ</span><span>ਹੋ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਕਰਕੇ</span><span>ਖੇਡਾਂ</span><span>ਦੀ</span><span>ਬਾਰੀ</span><span>ਮਨੋਵਿਗਿਆਨਿਕ</span><span>ਮਹੱਤਤਾ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਦਿਲ-ਪਰਚਾਵੇ</span><span>ਦਾ</span><span>ਇਕ</span><span>ਬਹੁਤ</span><span>ਵਧੀਆ</span><span>ਸਾਧਨ</span><span>ਹੈ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਨਾਲ</span><span>ਮਨੁੱਖੀ</span><span>ਮਨ</span><span>ਵਿੱਚ</span><span>ਖੁਸ਼ੀ</span><span>ਨੱਚਦੀ</span><span>ਹੈ</span><span>|</span><span>ਮਿਲਖਾ</span><span>ਸਿੰਘ,</span><span>ਗਗਨ</span><span>ਨਾਰੰਗ</span><span>,</span><span>ਸਾਨੀਆ</span><span>ਮਿਰਜਾ,</span><span>ਵਿਰਾਟ</span><span>ਕੋਹਲੀ</span><span>ਆਦਿ</span><span>ਕੁਝ</span><span>ਇਹੋ</span><span>ਜਿਹੇ</span><span>ਨਾਮ</span><span>ਹਨ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਨੇ</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਭਾਗ</span><span>ਲਿਆ</span><span>ਤੇ</span><span>ਆਪਣੇ</span><span>ਦੇਸ਼</span><span>ਦਾ</span><span>ਨਾ</span><span>ਰੋਸ਼ਨ</span><span>ਕੀਤਾ</span><span>ਹੈ</span><span>|</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਕਈ</span><span>ਮੌਕਿਆਂ</span><span>ਤੇ</span><span>ਖੁਲ</span><span>ਖੁਲ</span><span>ਕੇ</span><span>ਹੱਸਣ</span><span>ਦਾ</span><span>ਮੌਕਾ</span><span>ਮਿਲਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਉਸ</span><span>ਦਾ</span><span>ਮਨ</span><span>ਖਿੜਦਾ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਸਰੀਰ</span><span>ਰੂਪੀ</span><span>ਮਸ਼ੀਨ</span><span>ਲਈ</span><span>ਤੇਲ</span><span>ਦਾ</span><span>ਕੰਮ</span><span>ਕਰਦੀਆਂ</span><span></span><span>ਹਨ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਭਾਗ</span><span>ਲੈਣ</span><span>ਵਾਲਾ</span><span>ਮਨੁੱਖ</span><span>ਜੀਵਨ</span><span>ਦੀ</span><span>ਖੇਡ</span><span>ਨੂੰ</span><span>ਦਲੇਰੀ</span><span>ਨਾਲ</span><span>ਖੇਡਦਾ</span><span>ਹੈ</span><span>|</span><span>ਉਹ</span><span>ਕਿਸੇ</span><span>ਥਾਂ</span><span>ਇਕ</span><span>ਵਾਰ</span><span>ਹਾਰ</span><span>ਖਾ</span><span></span><span>ਕੇ</span><span>ਨਿਰਾਸ਼</span><span>ਨਹੀਂ</span><span>ਹੁੰਦਾ,</span><span>ਸਗੋਂ</span><span>ਆਸ਼ਾਵਾਦੀ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਖੇਡਾਂ</span><span>ਖੇਡਣ</span><span>ਨਾਲ</span><span>ਸਾਨੂੰ</span><span>ਸਿੱਖਿਆ</span><span>ਦੀ</span><span>ਸਕੋਲਰਸ਼ਿਪ</span><span>ਲੈਣ</span><span>ਅਤੇ</span><span>ਨੌਕਰੀ</span><span>ਲੈਣ</span><span>ਵਿੱਚ</span><span>ਵੀ</span><span>ਮਦਦ</span><span>ਮਿਲਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਇਹ</span><span>ਗੱਲ</span><span>ਨਹੀਂ</span><span>ਭੁਲਣੀ</span><span>ਚਾਹੀਦੀ</span><span>ਕਿ</span><span>ਖੇਡਾਂ</span><span>ਨੂੰ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਮਾਂ</span><span>ਹੀ</span><span>ਦੇਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਸਾਨੂੰ</span><span>ਹਰ</span><span>ਸਮੇਂ</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਨਹੀਂ</span><span>ਲੱਗੇ</span><span>ਰਹਿਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਕਿਉਂਕਿ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਅਸੀਂ</span><span>ਆਪਣੀਆਂ</span><span>ਹੋਰਨਾਂ</span><span>ਜਿੰਮੇਵਾਰੀਆਂ</span><span>ਨੂੰ</span><span>ਸਫਲਤਾ</span><span>ਨਾਲ</span><span>ਨਹੀਂ</span><span>ਨਿਭਾ</span><span>ਸਕਾਂਗੇ</span><span>|</span><span>ਇਸ</span><span>ਲਈ</span><span>ਸਾਨੂੰ</span><span>ਯਾਦ</span><span>ਰੱਖਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>'ਖੇਡਾਂ</span><span>ਜੀਵਨ</span><span>ਲਈ</span><span>ਹਨ,</span><span>ਨਾ</span><span>ਕਿ</span><span>ਜੀਵਨ</span><span>ਖੇਡਾਂ</span><span>ਲਈ</span><span>|'</span>

            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>


@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script src="~/Scripts/JavaScript.js"></script>

    <script type="text/javascript">

        var wordList = ["ਖੇਡਾਂ", "ਦੀ", "ਮਨੁੱਖੀ", "ਜੀਵਨ", "ਵਿਚ", "ਬਹੁਤ", "ਮਹੱਤਤਾ", "ਹੈ", "|", "ਇਹਨਾਂ", "ਦੀ", "ਸਾਡੇ", "ਸਰੀਰ", "ਨੂੰ", "ਇਸੇ", "ਪ੍ਰਕਾਰ", "ਦੀ", "ਜਰੂਰਤ", "ਹੈ,", "ਜਿਵੇਂ", "ਸਾਨੂੰ", "ਸੰਤੁਲਿਤ", "ਆਹਾਰ/ਖੁਰਾਕ,", "ਹਵਾ", "ਤੇ", "ਪਾਣੀ", "ਆਦਿ", "ਦੀ", "ਬਹੁਤ", "ਜਰੂਰਤ", "ਹੈ", "|", "ਜਿਥੇ", "ਸਰੀਰ", "ਨੂੰ", "ਤੰਦਰੁਸਤ", "ਰੱਖਣ", "ਲਈ", "ਸੰਤੁਲਿਤ", "ਆਹਾਰ/ਖੁਰਾਕ", "ਆਪਣਾ", "ਹਿੱਸਾ", "ਪਾਉਂਦੀ", "ਹੈ,", "ਉੱਥੇ", "ਖੇਡਾਂ", "ਵੀ", "ਸਾਡੇ", "ਸਰੀਰ", "ਨੂੰ", "ਖੁਰਾਕ", "ਦਾ", "ਵੱਧ", "ਤੋਂ", "ਵੱਧ", "ਲਾਭ", "ਚੁੱਕਣ", "ਦੇ", "ਯੋਗ", "ਬਣਾਉਦੀ", "ਹੈ", "|", "ਇਹ", "ਸਾਡੇ", "ਦਿਨ", "ਭਰ", "ਦੇ", "ਦਿਮਾਗੀ", "ਅਤੇ", "ਸਰੀਰਕ", "ਥਕੇਵੇਂ", "ਨੂੰ", "ਦੂਰ", "ਕਰ", "ਦਿੰਦਿਆਂ", "ਹਨ", "ਤੇ", "ਸਾਡੇ", "ਸਰੀਰ", "ਵਿਚ", "ਤਾਜਗੀ", "ਤੇ", "ਫੁਰਤੀ", "ਪੈਦਾ", "ਕਰਨ", "ਵਿਚ", "ਸਹਾਇਕ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਸਰੀਰ", "ਦੇ", "ਅਰੋਗ", "ਰਹਿਣ", "ਨਾਲ", "ਮਨੁੱਖ", "ਆਪਣੇ", "ਦਿਮਾਗ", "ਤੋਂ", "ਵੀ", "ਵੱਧ", "ਤੋਂ", "ਵੱਧ", "ਲਾਭ", "ਉਠਾ", "ਸਕਦਾ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਨਾਲ", "ਦਿਮਾਗ", "ਦੀ", "ਗ੍ਰਹਿਣ", "ਕਰਨ", "ਦੀ", "ਸ਼ਕਤੀ", "ਹੋਰ", "ਤੇਜ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਇਹਨਾਂ", "ਨਾਲ", "ਦਿਮਾਗ", "ਤਾਜ਼ਾ", "ਤੇ", "ਚੁਸਤ", "ਫੁਰਤ", "ਰਹਿੰਦਾ", "ਹੈ", "|", "ਇਹਨਾਂ", "ਤੋਂ", "ਬਿਨਾ", "ਨਿਰੇ", "ਕਿਤਾਬੀ", "ਕੀੜੇ", "ਜਿੰਦਗੀ", "ਦੀ", "ਦੌੜ", "ਵਿੱਚ", "ਦੁਜਿਆਂ", "ਨਾਲੋਂ", "ਪਿੱਛੇ", "ਰਹਿ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਸਰੀਰਕ", "ਅਤੇ", "ਦਿਮਾਗੀ", "ਅਰੋਗਤਾ", "ਤੋਂ", "ਬਿਨਾਂ", "ਖੇਡਾਂ", "ਮਨੁੱਖ", "ਦੇ", "ਆਚਰਨ", "ਦੀ", "ਉਸਾਰੀ", "ਵੀ", "ਕਰਦੀਆਂ", "ਹਨ", "|", "ਜਦੋਂ", "ਅਸੀਂ", "ਦੁਜਿਆਂ", "ਨਾਲ", "ਮਿਲ", "ਕੇ", "ਖੇਡਾਂ", "ਖੇਡਦੇ", "ਹਾਂ,", "ਤਾਂ", "ਸਾਡੇ", "ਵਿੱਚ", "ਇਕ-ਦੂਸਰੇ", "ਦੀ", "ਸਹਾਇਤਾ", "ਕਰਨ,", "ਕਿਸੇ", "ਨਾਲ", "ਚਲਾਕੀ", "ਨਾ", "ਕਰਨ,", "ਆਪਣੀ", "ਗ਼ਲਤੀ", "ਨੂੰ", "ਮੰਨ", "ਲੈਣ", "", "ਧੋਖਾ", "ਨਾ", "ਕਰਨ,", "ਆਗੁਦਾ", "ਹੁਕਮ", "ਮੰਨਣ,", "ਆਪਣੀ", "ਜਿੱਤ", "ਲਈ", "ਪੂਰੀ", "ਟੀਮ", "ਕਾ", "ਸਾਥ", "ਦੇਣਾ,", "ਨਿਯਮਾਂ", "ਦੀ", "ਪਾਲਣਾ", "ਕਰਨਾ", "ਤੇ", "ਇਕ", "ਦੂਜੇ", "ਦੇ", "ਨਾਲ", "ਮਿਲ", "ਕੇ", "ਚੱਲਣ", "ਦੇ", "ਗੁਣ", "ਪੈਦਾ", "ਕਰਦੀ", "ਹੈ", "|", "ਸੰਸਾਰ", "ਦੀਆਂ", "ਉੱਨਤ", "ਕੋਮਾ", "ਖੇਡਾਂ", "ਦੀ", "ਮਹਾਨਤਾ", "ਨੂੰ", "ਚੰਗੀ", "ਤਾਰਨ", "ਸਮਝਦਿਆਂ", "ਹਨ,", "ਇਸ", "ਕਰਕੇ", "ਹੀ", "ਉਹ", "ਜੀਵਨ", "ਦੇ", "ਹਰ", "ਖੇਤਰ", "ਵਿੱਚ", "ਖੇਡਾਂ", "ਨੂੰ", "ਵੱਧ", "ਤੋਂ", "ਵੱਧ", "ਮਹੱਤਤਾ", "ਦਿੰਦਿਆਂ", "ਹਨ", "|", "ਉੱਨਤ", "ਦੇਸ਼ਾਂ", "ਵਿੱਚ", "ਖੇਡਾਂ", "ਦਾ", "ਦੇਖ", "ਰੇਖ", "ਕੇਵਲ", "ਵਿਦਿਆਰਥੀਆਂ", "ਜਾਨ", "ਨੌਜਵਾਨਾਂ", "ਲਈ", "ਹੀ", "ਨਹੀਂ,", "ਸਗੋਂ", "ਵੱਡੀ", "ਉਮਰ", "ਦੇ", "ਵਿਅਕਤੀਆਂ", "ਤੇ", "ਬੱਚਿਆਂ", "ਲਈ", "ਵੀ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਸਾਡੇ", "ਸਰੀਰ", "ਨੂੰ", "ਤਕੜਾ", "ਰੱਖਣ", "ਵਿੱਚ", "ਭਾਰੀ", "ਹਿੱਸਾ", "ਪਾਉਂਦੀਆਂ", "ਹਨ", "|", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਹਿੱਸਾ", "ਲੈਣ", "ਨਾਲ", "ਸਾਡੇ", "ਸਰੀਰ", "ਵਿੱਚ", "ਖੂਨ", "ਦਾ", "ਪ੍ਰਸਾਰ", "ਤੇਜ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਫੇਫੜਿਆਂ", "ਨੂੰ", "ਤਾਜੀ", "ਹਵਾ", "ਮਿਲਦੀ", "ਹੈ", "ਤੇ", "ਪਾਚਨ-ਸ਼ਕਤੀ", "ਤੇਜ਼", "ਹੁੰਦੀ", "ਹੈ", "|", "ਰੋਜ", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਹਿੱਸਾ", "ਲੈਣ", "ਵਾਲੇ", "ਮਨੁੱਖਾਂ", "ਦਾ", "ਸਰੀਰ", "ਅਰੋਗ", "ਰਹਿੰਦਾ", "ਹੈ", "ਤੇ", "ਉਹਨਾਂ", "ਦੇ", "ਅੰਦਰ", "ਬਿਮਾਰੀਆਂ", "ਦਾ", "ਟਾਕਰਾ", "ਕਰਨ", "ਦੀ", "ਸ਼ਕਤੀ", "ਪੈਦਾ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਭਾਗ", "ਲੈਣ", "ਵਾਲਿਆਂ", "ਦੇ", "ਸਰੀਰ", "ਵਿੱਚ", "ਹਮੇਸ਼ਾ", "ਚੁਸਤੀ", "ਤੇ", "ਤਾਜਗੀ", "ਰਹਿੰਦੀ", "ਹੈ", "ਤੇ", "ਉਹਨਾਂ", "ਦਾ", "ਚੇਹਰਾ", "ਖਿੜਿਆ-ਖਿੜਿਆ", "ਰਹਿੰਦਾ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਮਨੁੱਖੀ", "ਮਨ", "ਵਿੱਚ", "ਟਿਕਾਓ", "ਤੇ", "ਇਕਾਗਰਤਾ", "ਅਤੇ", "ਵਿਸ਼ਵਾਸ", "ਪੈਦਾ", "ਕਰਦੀਆਂ", "ਹਨ", "|", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਲੱਗ", "ਕੇ", "ਮਨੁੱਖ", "ਸੰਸਾਰਕ", "ਝੰਜਟਾਂ", "ਨੂੰ", "ਭੁੱਲ", "ਕੇ", "ਫਿਕਰਾਂ", "ਤੇ", "ਮਾਨਸਿਕ", "ਤਣਾਓ", "ਤੋਂ", "ਮੁਕਤ", "ਹੋ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇਸ", "ਕਰਕੇ", "ਖੇਡਾਂ", "ਦੀ", "ਬਾਰੀ", "ਮਨੋਵਿਗਿਆਨਿਕ", "ਮਹੱਤਤਾ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਦਿਲ-ਪਰਚਾਵੇ", "ਦਾ", "ਇਕ", "ਬਹੁਤ", "ਵਧੀਆ", "ਸਾਧਨ", "ਹੈ", "|", "ਇਹਨਾਂ", "ਨਾਲ", "ਮਨੁੱਖੀ", "ਮਨ", "ਵਿੱਚ", "ਖੁਸ਼ੀ", "ਨੱਚਦੀ", "ਹੈ", "|", "ਮਿਲਖਾ", "ਸਿੰਘ,", "ਗਗਨ", "ਨਾਰੰਗ,", "ਸਾਨੀਆ", "ਮਿਰਜਾ,", "ਵਿਰਾਟ", "ਕੋਹਲੀ", "ਆਦਿ", "ਕੁਝ", "ਇਹੋ", "ਜਿਹੇ", "ਨਾਮ", "ਹਨ", "ਜਿਨ੍ਹਾਂ", "ਨੇ", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਭਾਗ", "ਲਿਆ", "ਤੇ", "ਆਪਣੇ", "ਦੇਸ਼", "ਦਾ", "ਨਾ", "ਰੋਸ਼ਨ", "ਕੀਤਾ", "ਹੈ", "|", "ਉਸ", "ਨੂੰ", "ਕਈ", "ਮੌਕਿਆਂ", "ਤੇ", "ਖੁਲ", "ਖੁਲ", "ਕੇ", "ਹੱਸਣ", "ਦਾ", "ਮੌਕਾ", "ਮਿਲਦਾ", "ਹੈ", "|", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਉਸ", "ਦਾ", "ਮਨ", "ਖਿੜਦਾ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਸਰੀਰ", "ਰੂਪੀ", "ਮਸ਼ੀਨ", "ਲਈ", "ਤੇਲ", "ਦਾ", "ਕੰਮ", "ਕਰਦੀਆਂ", "ਹਨ", "|", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਭਾਗ", "ਲੈਣ", "ਵਾਲਾ", "ਮਨੁੱਖ", "ਜੀਵਨ", "ਦੀ", "ਖੇਡ", "ਨੂੰ", "ਦਲੇਰੀ", "ਨਾਲ", "ਖੇਡਦਾ", "ਹੈ", "|", "ਉਹ", "ਕਿਸੇ", "ਥਾਂ", "ਇਕ", "ਵਾਰ", "ਹਾਰ", "ਖਾ", "ਕੇ", "ਨਿਰਾਸ਼", "ਨਹੀਂ", "ਹੁੰਦਾ,", "ਸਗੋਂ", "ਆਸ਼ਾਵਾਦੀ", "ਰਹਿੰਦਾ", "ਹੈ", "|", "ਖੇਡਾਂ", "ਖੇਡਣ", "ਨਾਲ", "ਸਾਨੂੰ", "ਸਿੱਖਿਆ", "ਦੀ", "ਸਕੋਲਰਸ਼ਿਪ", "ਲੈਣ", "ਅਤੇ", "ਨੌਕਰੀ", "ਲੈਣ", "ਵਿੱਚ", "ਵੀ", "ਮਦਦ", "ਮਿਲਦੀ", "ਹੈ", "|", "ਸਾਨੂੰ", "ਇਹ", "ਗੱਲ", "ਨਹੀਂ", "ਭੁਲਣੀ", "ਚਾਹੀਦੀ", "ਕਿ", "ਖੇਡਾਂ", "ਨੂੰ", "ਨਿਸ਼ਚਿਤ", "ਸਮਾਂ", "ਹੀ", "ਦੇਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਸਾਨੂੰ", "ਹਰ", "ਸਮੇਂ", "ਖੇਡਾਂ", "ਵਿੱਚ", "ਹੀ", "ਨਹੀਂ", "ਲੱਗੇ", "ਰਹਿਣਾ", "ਚਾਹੀਦਾ", "ਕਿਉਂਕਿ", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਅਸੀਂ", "ਆਪਣੀਆਂ", "ਹੋਰਨਾਂ", "ਜਿੰਮੇਵਾਰੀਆਂ", "ਨੂੰ", "ਸਫਲਤਾ", "ਨਾਲ", "ਨਹੀਂ", "ਨਿਭਾ", "ਸਕਾਂਗੇ", "|", "ਇਸ", "ਲਈ", "ਸਾਨੂੰ", "ਯਾਦ", "ਰੱਖਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "ਕਿ", "'ਖੇਡਾਂ", "ਜੀਵਨ", "ਲਈ", "ਹਨ,", "ਨਾ", "ਕਿ", "ਜੀਵਨ", "ਖੇਡਾਂ", "ਲਈ", "|'"];

        //console.log('Value taken from array');
        //for (i = 0; i < wordList.length; i++)
        //    console.log((i + 1) + ": " + wordList[i]);

        function addWords() {

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                console.log(i + ":" + wordSpan);
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}



