

@{

    ViewBag.Title = "Passage Typing : Lesson 10 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 10:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "11" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 531  </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਤਾਪਮਾਨ</span><span>ਅਤੇ</span><span>ਦਬਾਓ</span><span>'ਤੇ</span><span>ਨਿਰਭਰ</span><span>ਕਰਦੇ</span><span>ਹੋਏ</span><span>ਕੋਈ</span><span>ਵੀ</span><span>ਪਦਾਰਥ</span><span>ਠੋਸ,</span><span>ਤਰਲ</span><span>ਜਾਂ</span><span>ਗੈਸ</span><span>ਅਵਸਥਾ</span><span>ਨੂੰ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਨੂੰ</span><span>ਅਵਸਥਾ</span><span>ਪਰਿਵਰਤਨ</span><span>ਕਹਿੰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਜੇ</span><span>ਕਿਸੇ</span><span>ਵਸਤੂ</span><span>ਦਾ</span><span>ਪਿਘਲਣ</span><span>ਦਰਜਾ</span><span>ਆਮ</span><span>ਤਾਪਮਾਨ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਹੋਵੇ</span><span>ਤਾਂ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਠੋਸ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਜੇ</span><span>ਉਸਦਾ</span><span>ਉਬਾਲ</span><span>ਦਰਜਾ</span><span>ਆਮ</span><span>ਤਾਪਮਾਨ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਹੋਵੇ</span><span>ਤਾਂ</span><span>ਉਹ</span><span>ਤਰਲ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਆਮ</span><span>ਦਬਾਅ</span><span>ਤੇ</span><span>ਜੇ</span><span>ਉਬਾਲ</span><span>ਦਰਜਾ</span><span>ਘੱਟ</span><span>ਹੋਵੇ</span><span>ਤਾਂ</span><span>ਇਸਨੂੰ</span><span>ਗੈਸ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ।</span><span>ਤਾਪਮਾਨ</span><span>ਅਤੇ</span><span>ਦਬਾਅ</span><span>ਵਿੱਚ</span><span>ਪਰਿਵਰਤਨ</span><span>ਨਾਲ</span><span>ਕਿਸੇ</span><span>ਪਦਾਰਥ</span><span>ਨੂੰ</span><span>ਠੋਸ,</span><span>ਦ੍ਰਵ</span><span>ਜਾਂ</span><span>ਗੈਸ</span><span>ਅਵਸਥਾ</span><span>ਦਿੱਤੀ</span><span>ਜਾ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>।</span><span>ਬਰਫ਼</span><span>ਨੂੰ</span><span>ਗਰਮ</span><span>ਕਰਨ</span><span>'ਤੇ</span><span>ਇਹ</span><span>ਤਰਲ</span><span>ਅਤੇ</span><span>ਤਰਲ</span><span>ਨੂੰ</span><span>ਗਰਮ</span><span>ਕਰਨ</span><span>ਤੇ</span><span>ਇਹ</span><span>ਵਾਸ਼ਪ</span><span>ਵਿੱਚ</span><span>ਬਦਲ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਵਾਸ਼ਪ</span><span>ਨੂੰ</span><span>ਕਰਨ</span><span>ਨਾਲ</span><span>ਤਰਲ</span><span>ਅਤੇ</span><span>ਤਰਲ</span><span>ਨੂੰ</span><span>ਠੰਡਾ</span><span>ਕਰਨ</span><span>ਤੇ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਠੋਸ</span><span>ਵਿੱਚ</span><span>ਬਦਲਿਆ</span><span>ਜਾ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇੱਕ</span><span>ਬੀਕਰ</span><span>ਵਿੱਚ</span><span>ਲਗਪਗ</span><span>150</span><span>ਗ੍ਰਾਮ</span><span>ਬਰਫ਼</span><span>ਦੇ</span><span>ਟੁੱਕੜੇ</span><span>ਲਓ</span><span>ਅਤੇ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਸਟੈਂਡ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਰੱਖੋ</span><span>ਕਿ</span><span>ਥਰਮਾਮੀਟਰ</span><span>ਦਾ</span><span>ਬਲਬ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਛੂਹ</span><span>ਰਿਹਾ</span><span>ਹੋਵੇ</span><span>।</span><span>ਆਪਣੀ</span><span>ਸਮਝ</span><span>ਜਾਂ</span><span>ਕਿਸੇ</span><span>ਦੀ</span><span>ਸਹਾਇਤਾ</span><span>ਨਾਲ</span><span>ਉਪਕਰਨ</span><span>ਸੈੱਟ</span><span>ਕਰੋ</span><span>।</span><span>ਜਦੋਂ</span><span>ਪੂਰੀ</span><span>ਬਰਫ਼</span><span>ਪਾਣੀ</span><span>ਵਿੱਚ</span><span>ਬਦਲ</span><span>ਜਾਵੇ</span><span>ਤਾਂ</span><span>ਫਿਰ</span><span>ਤਾਪਮਾਨ</span><span>ਨੋਟ</span><span>ਕਰੋ</span><span>।</span><span>ਜਦੋਂ</span><span>ਪਾਣੀ</span><span>ਉਬਲਣ</span><span>ਲੱਗੇ</span><span>ਅਤੇ</span><span>ਭਾਫ਼</span><span>ਬਣਨ</span><span>ਲੱਗੇ</span><span>ਤਾਂ</span><span>ਤਾਪਮਾਨ</span><span>ਨੋਟ</span><span>ਕਰੋ</span><span>।</span><span>ਬਰਫ਼</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਤੇ</span><span>ਪਿਘਲਦੀ</span><span>ਹੈ</span><span>।</span><span>ਜਦੋਂ</span><span>ਸਾਰੀ</span><span>ਬਰਫ਼</span><span>ਪਿਘਲ</span><span>ਕੇ</span><span>ਪਾਣੀ</span><span>ਵਿੱਚ</span><span>ਬਦਲ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>ਤਾਂ</span><span>ਉਸਦਾ</span><span>ਤਾਪਮਾਨ</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਹੁੰਦਾ</span><span>ਹੈ।</span><span>ਪਾਣੀ</span><span>ਦੀ</span><span>ਤਰਲ</span><span>ਅਵਸਥਾ</span><span>ਤੋਂ</span><span>ਗੈਸੀ</span><span>ਅਵਸਥਾ</span><span>ਵਿੱਚ</span><span>ਬਦਲਾਵ</span><span>100</span><span>ਡਿਗਰੀ</span><span>ਤੇ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਤਾਪ</span><span>ਅਤੇ</span><span>ਦਬਾਅ</span><span>ਦਾ</span><span>ਪਦਾਰਥ</span><span>ਦੀ</span><span>ਅਵਸਥਾ</span><span>'ਤੇ</span><span>ਅਸਰ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਜਦੋਂ</span><span>ਕਿਸੇ</span><span>ਠੋਸ</span><span>ਨੂੰ</span><span>ਗਰਮ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਤਾਂ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਕਣਾਂ</span><span>ਦੀ</span><span>ਗਤਿਜ</span><span>ਉਰਜਾ</span><span>ਵੱਧ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਉਹ</span><span>ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਕੰਪਨ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਵਧੇਰੇ</span><span>ਜਗ੍ਹਾ</span><span>ਘੇਰਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਫੈਲਣ</span><span>ਲੱਗਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇੱਕ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਤਾਪਮਾਨ</span><span>'ਤੇ</span><span>ਆਕਰਸ਼ਣ</span><span>ਦੇ</span><span>ਬੰਧਣ</span><span>ਤੋਂ</span><span>ਮੁਕਤ</span><span>ਹੋ</span><span>ਕੇ</span><span>ਆਜ਼ਾਦੀ</span><span>ਨਾਲ</span><span>ਘੁੰਮਣ</span><span>ਲੱਗਦੇ</span><span>ਹਨ।</span><span>ਹੁਣ</span><span>ਅਣੂਆਂ</span><span>ਦੀ</span><span>ਗਤੀ</span><span>ਨਹੀਂ</span><span>ਵੱਧਦੀ</span><span>ਤੇ</span><span>ਉਹਨਾਂ</span><span>ਦੀ</span><span>ਵਿਵਸਥਾ</span><span>ਅਤੇ</span><span>ਕ੍ਰਮ</span><span>ਵਿੱਚ</span><span>ਪਰਿਵਰਤਨ</span><span>ਹੋਣ</span><span>ਲੱਗਦਾ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਇਹ</span><span>ਤਰਲ</span><span>ਅਵਸਥਾ</span><span>ਵਿੱਚ</span><span>ਬਦਲ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਦ੍ਰਵ</span><span>ਨੂੰ</span><span>ਗਰਮ</span><span>ਕਰਨ</span><span>ਤੇ</span><span>ਅਣੂਆਂ</span><span>ਦਾ</span><span>ਵੇਗ</span><span>ਵੱਧ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਉਹਨਾਂ</span><span>ਦੀ</span><span>ਗਤਿਜ</span><span>ਊਰਜਾ</span><span>ਵੱਧ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਤੇਜ਼</span><span>ਗਤੀ</span><span>ਵਾਲੇ</span><span>ਅਣੂਆਂ</span><span>ਦਾ</span><span>ਸੰਵੇਗ</span><span>ਜਦੋਂ</span><span>ਉਹਨਾਂ</span><span>ਦੇ</span><span>ਅੰਦਰ</span><span>ਲੱਗ</span><span>ਰਹੇ</span><span>ਬਲ</span><span>ਤੋਂ</span><span>ਵੱਧ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਤਾਂ</span><span>ਉਹ</span><span>ਵਾਸ਼ਪ</span><span>ਅਵਸਥਾ</span><span>ਵਿੱਚ</span><span>ਬਦਲ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਤਰਲ</span><span>ਦੀ</span><span>ਸਤਹਿ</span><span>ਤੋਂ</span><span>ਬਾਹਰ</span><span>ਨਿਕਲ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਹ</span><span>ਪਰਯੋਗ</span><span>ਸਕੂਲ</span><span>ਵਿੱਚ</span><span>ਟੀਚਰ</span><span>ਦੀ</span><span>ਦੇਖਰੇਖ</span><span>ਹੇਠਾਂ</span><span>ਕੀਤਾ</span><span>ਜਾਵੇ</span><span>।</span><span>ਕੱਚ</span><span>ਦੀ</span><span>ਇੱਕ</span><span>ਨਲੀ</span><span>ਨੂੰ</span><span>ਅੱਧੇ</span><span>ਭਾਗ</span><span>ਤਕ</span><span>ਪਾਣੀ</span><span>ਨਾਲ</span><span>ਭਰੋ।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਬਾਕੀ</span><span>ਅੱਧੇ</span><span>ਭਾਗ</span><span>ਨੂੰ</span><span>ਇਥਾਈਲ</span><span>ਅਲਕੋਹਲ</span><span>ਨਾਲ</span><span>ਭਰ</span><span>ਦਿਓ</span><span>।</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਚੰਗੀ</span><span>ਤਰ੍ਹਾਂ</span><span>ਹਿਲਾਉ</span><span>।</span><span>ਨਲੀ</span><span>ਵਿੱਚ</span><span>ਕੁਝ</span><span>ਖਾਲੀ</span><span>ਥਾਂ</span><span>ਦਿਖਾਈ</span><span>ਦੇਵੇਗੀ</span><span>।</span><span>ਕੁੱਝ</span><span>ਸਮੇਂ</span><span>ਬਾਅਦ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਫਿਰ</span><span>ਦੇਖੋ</span><span>।</span><span>ਮਿਸ਼ਰਣ</span><span>ਦਾ</span><span>ਆਇਤਨ</span><span>ਸ਼ੁਰੂ</span><span>ਵਿੱਚ</span><span>ਲਏ</span><span>ਗਏ</span><span>ਪਾਣੀ</span><span>ਅਤੇ</span><span>ਅਲਕੋਹਲ</span><span>ਦੇ</span><span>ਆਇਤਨ</span><span>ਦੇ</span><span>ਯਗ</span><span>ਤੋਂ</span><span>ਕੁਝ</span><span>ਘੱਟ</span><span>ਦਿਖਾਈ</span><span>ਦੇਵੇਗਾ</span><span>ਕਿਉਂਕਿ</span><span>ਅਲਕੋਹਲ</span><span>ਦੇ</span><span>ਕਣ</span><span>ਪਾਣੀ</span><span>ਦੇ</span><span>ਅੰਤਰਾਅਣੁਕ</span><span>ਖਾਲੀ</span><span>ਥਾਂ</span><span>ਵਿੱਚ</span><span>ਸਮਾਂ</span><span>ਗਏ</span><span>ਹਨ</span><span>।</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਤਾਪਮਾਨ</span><span>ਵਾਲੀ</span><span>ਬਰਫ</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਵਾਲੇ</span><span>ਪਾਣੀ</span><span>ਦੀ</span><span>ਤੁਲਨਾ</span><span>ਵਿੱਚ</span><span>ਵਧੇਰੇ</span><span>ਠੰਡਾ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>ਕਿਉਂਕਿ</span><span>ਇਹ</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਵਾਲੇ</span><span>ਪਾਣੀ</span><span>ਵਿੱਚ</span><span>ਬਦਲਣ</span><span>ਲਈ</span><span>ਆਪਣੀ</span><span>ਪਿਘਲਣ</span><span>ਦੀ</span><span>ਗੁਪਤ</span><span>ਤਾਪ</span><span>ਊਰਜਾ</span><span>ਲੈਂਦੀ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਫਿਰ</span><span>ਤਾਪ</span><span>ਦੇ</span><span>ਵਾਧੇ</span><span>ਲਈ</span><span>ਤਾਪ</span><span>ਊਰਜਾ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>ਜਦੋਂ</span><span>ਕਿ</span><span>0</span><span>ਡਿਗਰੀ</span><span>ਵਾਲਾ</span><span>ਪਾਣੀ</span><span>ਸਿਰਫ</span><span>ਤਾਪ</span><span>ਵਿੱਚ</span><span>ਵਾਧੇ</span><span>ਲਈ</span><span>ਤਾਪ</span><span>ਊਰਜਾ</span><span>ਪ੍ਰਾਪਤ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>


<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />


@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਤਾਪਮਾਨ", "ਅਤੇ", "ਦਬਾਓ", "'ਤੇ", "ਨਿਰਭਰ", "ਕਰਦੇ", "ਹੋਏ", "ਕੋਈ", "ਵੀ", "ਪਦਾਰਥ", "ਠੋਸ,", "ਤਰਲ", "ਜਾਂ", "ਗੈਸ", "ਅਵਸਥਾ", "ਨੂੰ", "ਪ੍ਰਾਪਤ", "ਕਰ", "ਸਕਦਾ", "ਹੈ", "ਜਿਸ", "ਨੂੰ", "ਅਵਸਥਾ", "ਪਰਿਵਰਤਨ", "ਕਹਿੰਦੇ", "ਹਨ", "।", "ਜੇ", "ਕਿਸੇ", "ਵਸਤੂ", "ਦਾ", "ਪਿਘਲਣ", "ਦਰਜਾ", "ਆਮ", "ਤਾਪਮਾਨ", "ਤੋਂ", "ਵੱਧ", "ਹੋਵੇ", "ਤਾਂ", "ਉਸ", "ਨੂੰ", "ਠੋਸ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "ਅਤੇ", "ਜੇ", "ਉਸਦਾ", "ਉਬਾਲ", "ਦਰਜਾ", "ਆਮ", "ਤਾਪਮਾਨ", "ਤੋਂ", "ਵੱਧ", "ਹੋਵੇ", "ਤਾਂ", "ਉਹ", "ਤਰਲ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਆਮ", "ਦਬਾਅ", "ਤੇ", "ਜੇ", "ਉਬਾਲ", "ਦਰਜਾ", "ਘੱਟ", "ਹੋਵੇ", "ਤਾਂ", "ਇਸਨੂੰ", "ਗੈਸ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ।", "ਤਾਪਮਾਨ", "ਅਤੇ", "ਦਬਾਅ", "ਵਿੱਚ", "ਪਰਿਵਰਤਨ", "ਨਾਲ", "ਕਿਸੇ", "ਪਦਾਰਥ", "ਨੂੰ", "ਠੋਸ,", "ਦ੍ਰਵ", "ਜਾਂ", "ਗੈਸ", "ਅਵਸਥਾ", "ਦਿੱਤੀ", "ਜਾ", "ਸਕਦੀ", "ਹੈ", "।", "ਬਰਫ਼", "ਨੂੰ", "ਗਰਮ", "ਕਰਨ", "'ਤੇ", "ਇਹ", "ਤਰਲ", "ਅਤੇ", "ਤਰਲ", "ਨੂੰ", "ਗਰਮ", "ਕਰਨ", "ਤੇ", "ਇਹ", "ਵਾਸ਼ਪ", "ਵਿੱਚ", "ਬਦਲ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਵਾਸ਼ਪ", "ਨੂੰ", "ਕਰਨ", "ਨਾਲ", "ਤਰਲ", "ਅਤੇ", "ਤਰਲ", "ਨੂੰ", "ਠੰਡਾ", "ਕਰਨ", "ਤੇ", "ਉਸ", "ਨੂੰ", "ਠੋਸ", "ਵਿੱਚ", "ਬਦਲਿਆ", "ਜਾ", "ਸਕਦਾ", "ਹੈ", "।", "ਇੱਕ", "ਬੀਕਰ", "ਵਿੱਚ", "ਲਗਪਗ", "150", "ਗ੍ਰਾਮ", "ਬਰਫ਼", "ਦੇ", "ਟੁੱਕੜੇ", "ਲਓ", "ਅਤੇ", "ਉਸ", "ਨੂੰ", "ਸਟੈਂਡ", "ਤੇ", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਰੱਖੋ", "ਕਿ", "ਥਰਮਾਮੀਟਰ", "ਦਾ", "ਬਲਬ", "ਉਸ", "ਨੂੰ", "ਛੂਹ", "ਰਿਹਾ", "ਹੋਵੇ", "।", "ਆਪਣੀ", "ਸਮਝ", "ਜਾਂ", "ਕਿਸੇ", "ਦੀ", "ਸਹਾਇਤਾ", "ਨਾਲ", "ਉਪਕਰਨ", "ਸੈੱਟ", "ਕਰੋ", "।", "ਜਦੋਂ", "ਪੂਰੀ", "ਬਰਫ਼", "ਪਾਣੀ", "ਵਿੱਚ", "ਬਦਲ", "ਜਾਵੇ", "ਤਾਂ", "ਫਿਰ", "ਤਾਪਮਾਨ", "ਨੋਟ", "ਕਰੋ", "।", "ਜਦੋਂ", "ਪਾਣੀ", "ਉਬਲਣ", "ਲੱਗੇ", "ਅਤੇ", "ਭਾਫ਼", "ਬਣਨ", "ਲੱਗੇ", "ਤਾਂ", "ਤਾਪਮਾਨ", "ਨੋਟ", "ਕਰੋ", "।", "ਬਰਫ਼", "0", "ਡਿਗਰੀ", "ਤੇ", "ਪਿਘਲਦੀ", "ਹੈ", "।", "ਜਦੋਂ", "ਸਾਰੀ", "ਬਰਫ਼", "ਪਿਘਲ", "ਕੇ", "ਪਾਣੀ", "ਵਿੱਚ", "ਬਦਲ", "ਜਾਂਦੀ", "ਹੈ", "ਤਾਂ", "ਉਸਦਾ", "ਤਾਪਮਾਨ", "0", "ਡਿਗਰੀ", "ਹੁੰਦਾ", "ਹੈ।", "ਪਾਣੀ", "ਦੀ", "ਤਰਲ", "ਅਵਸਥਾ", "ਤੋਂ", "ਗੈਸੀ", "ਅਵਸਥਾ", "ਵਿੱਚ", "ਬਦਲਾਵ", "100", "ਡਿਗਰੀ", "ਤੇ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਤਾਪ", "ਅਤੇ", "ਦਬਾਅ", "ਦਾ", "ਪਦਾਰਥ", "ਦੀ", "ਅਵਸਥਾ", "'ਤੇ", "ਅਸਰ", "ਪੈਂਦਾ", "ਹੈ", "।", "ਜਦੋਂ", "ਕਿਸੇ", "ਠੋਸ", "ਨੂੰ", "ਗਰਮ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "ਤਾਂ", "ਉਸ", "ਦੇ", "ਕਣਾਂ", "ਦੀ", "ਗਤਿਜ", "ਉਰਜਾ", "ਵੱਧ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਉਹ", "ਤੇਜ਼ੀ", "ਨਾਲ", "ਕੰਪਨ", "ਕਰਦੇ", "ਹਨ", "ਅਤੇ", "ਵਧੇਰੇ", "ਜਗ੍ਹਾ", "ਘੇਰਦੇ", "ਹਨ", "ਤੇ", "ਫੈਲਣ", "ਲੱਗਦੇ", "ਹਨ", "।", "ਇੱਕ", "ਨਿਸ਼ਚਿਤ", "ਤਾਪਮਾਨ", "'ਤੇ", "ਆਕਰਸ਼ਣ", "ਦੇ", "ਬੰਧਣ", "ਤੋਂ", "ਮੁਕਤ", "ਹੋ", "ਕੇ", "ਆਜ਼ਾਦੀ", "ਨਾਲ", "ਘੁੰਮਣ", "ਲੱਗਦੇ", "ਹਨ।", "ਹੁਣ", "ਅਣੂਆਂ", "ਦੀ", "ਗਤੀ", "ਨਹੀਂ", "ਵੱਧਦੀ", "ਤੇ", "ਉਹਨਾਂ", "ਦੀ", "ਵਿਵਸਥਾ", "ਅਤੇ", "ਕ੍ਰਮ", "ਵਿੱਚ", "ਪਰਿਵਰਤਨ", "ਹੋਣ", "ਲੱਗਦਾ", "ਹੈ", "ਅਤੇ", "ਇਹ", "ਤਰਲ", "ਅਵਸਥਾ", "ਵਿੱਚ", "ਬਦਲ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਦ੍ਰਵ", "ਨੂੰ", "ਗਰਮ", "ਕਰਨ", "ਤੇ", "ਅਣੂਆਂ", "ਦਾ", "ਵੇਗ", "ਵੱਧ", "ਜਾਂਦਾ", "ਹੈ", "ਉਹਨਾਂ", "ਦੀ", "ਗਤਿਜ", "ਊਰਜਾ", "ਵੱਧ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਤੇਜ਼", "ਗਤੀ", "ਵਾਲੇ", "ਅਣੂਆਂ", "ਦਾ", "ਸੰਵੇਗ", "ਜਦੋਂ", "ਉਹਨਾਂ", "ਦੇ", "ਅੰਦਰ", "ਲੱਗ", "ਰਹੇ", "ਬਲ", "ਤੋਂ", "ਵੱਧ", "ਜਾਂਦਾ", "ਹੈ", "ਤਾਂ", "ਉਹ", "ਵਾਸ਼ਪ", "ਅਵਸਥਾ", "ਵਿੱਚ", "ਬਦਲ", "ਜਾਂਦੇ", "ਹਨ", "ਅਤੇ", "ਤਰਲ", "ਦੀ", "ਸਤਹਿ", "ਤੋਂ", "ਬਾਹਰ", "ਨਿਕਲ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਇਹ", "ਪਰਯੋਗ", "ਸਕੂਲ", "ਵਿੱਚ", "ਟੀਚਰ", "ਦੀ", "ਦੇਖਰੇਖ", "ਹੇਠਾਂ", "ਕੀਤਾ", "ਜਾਵੇ", "।", "ਕੱਚ", "ਦੀ", "ਇੱਕ", "ਨਲੀ", "ਨੂੰ", "ਅੱਧੇ", "ਭਾਗ", "ਤਕ", "ਪਾਣੀ", "ਨਾਲ", "ਭਰੋ।", "ਇਸ", "ਦੇ", "ਬਾਕੀ", "ਅੱਧੇ", "ਭਾਗ", "ਨੂੰ", "ਇਥਾਈਲ", "ਅਲਕੋਹਲ", "ਨਾਲ", "ਭਰ", "ਦਿਓ", "।", "ਇਸ", "ਨੂੰ", "ਚੰਗੀ", "ਤਰ੍ਹਾਂ", "ਹਿਲਾਉ", "।", "ਨਲੀ", "ਵਿੱਚ", "ਕੁਝ", "ਖਾਲੀ", "ਥਾਂ", "ਦਿਖਾਈ", "ਦੇਵੇਗੀ", "।", "ਕੁੱਝ", "ਸਮੇਂ", "ਬਾਅਦ", "ਇਸ", "ਨੂੰ", "ਫਿਰ", "ਦੇਖੋ", "।", "ਮਿਸ਼ਰਣ", "ਦਾ", "ਆਇਤਨ", "ਸ਼ੁਰੂ", "ਵਿੱਚ", "ਲਏ", "ਗਏ", "ਪਾਣੀ", "ਅਤੇ", "ਅਲਕੋਹਲ", "ਦੇ", "ਆਇਤਨ", "ਦੇ", "ਯਗ", "ਤੋਂ", "ਕੁਝ", "ਘੱਟ", "ਦਿਖਾਈ", "ਦੇਵੇਗਾ", "ਕਿਉਂਕਿ", "ਅਲਕੋਹਲ", "ਦੇ", "ਕਣ", "ਪਾਣੀ", "ਦੇ", "ਅੰਤਰਾਅਣੁਕ", "ਖਾਲੀ", "ਥਾਂ", "ਵਿੱਚ", "ਸਮਾਂ", "ਗਏ", "ਹਨ", "।", "0", "ਡਿਗਰੀ", "ਤਾਪਮਾਨ", "ਵਾਲੀ", "ਬਰਫ", "0", "ਡਿਗਰੀ", "ਵਾਲੇ", "ਪਾਣੀ", "ਦੀ", "ਤੁਲਨਾ", "ਵਿੱਚ", "ਵਧੇਰੇ", "ਠੰਡਾ", "ਕਰਦੀ", "ਹੈ", "ਕਿਉਂਕਿ", "ਇਹ", "0", "ਡਿਗਰੀ", "ਵਾਲੇ", "ਪਾਣੀ", "ਵਿੱਚ", "ਬਦਲਣ", "ਲਈ", "ਆਪਣੀ", "ਪਿਘਲਣ", "ਦੀ", "ਗੁਪਤ", "ਤਾਪ", "ਊਰਜਾ", "ਲੈਂਦੀ", "ਹੈ", "ਅਤੇ", "ਫਿਰ", "ਤਾਪ", "ਦੇ", "ਵਾਧੇ", "ਲਈ", "ਤਾਪ", "ਊਰਜਾ", "ਪ੍ਰਾਪਤ", "ਕਰਦੀ", "ਹੈ", "ਜਦੋਂ", "ਕਿ", "0", "ਡਿਗਰੀ", "ਵਾਲਾ", "ਪਾਣੀ", "ਸਿਰਫ", "ਤਾਪ", "ਵਿੱਚ", "ਵਾਧੇ", "ਲਈ", "ਤਾਪ", "ਊਰਜਾ", "ਪ੍ਰਾਪਤ", "ਕਰਦਾ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>
}







