

@{

    ViewBag.Title = "Passage Typing : Lesson 5 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 5:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "6" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 167  </h5>
            <br />

            <section id="word-section">
                <span class="current-word">ਸਮਾਂ</span><span>ਇੱਕ</span><span>ਮਹਾਨ</span><span>ਖਜਨਾ</span><span>ਹੈ</span><span>|</span><span>ਅਮਰੀਕਾ,</span><span>ਜਾਪਾਨ</span><span>ਵਿੱਚ</span><span>ਮੀਹ</span><span>ਹੋਵੇ,</span><span>ਗਰਮੀ</span><span>ਹੋਵੇ,</span><span>ਹਨੇਰਾ,</span><span>ਹੋਵੇ,</span><span>ਅੱਠ</span><span>ਘੰਟੇ</span><span>ਹਰ</span><span>ਕੋਈ</span><span>ਡਟ</span><span>ਕੇ</span><span>ਕੰਮ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਦਫ਼ਤਰ</span><span>ਵਿੱਚ,</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ,</span><span>ਕਾਰਖਾਨਿਆਂ</span><span>ਵਿੱਚ</span><span>ਵਿਸੇਸ਼</span><span>ਛੁੱਟਿਆ</span><span>ਸਾਲ</span><span>ਵਿੱਚ</span><span>ਕੁੱਝ</span><span>ਕੁ</span><span>ਹੀ</span><span>ਹੁੰਦੀਆ</span><span>ਹਨ</span><span>|</span><span>ਸਾਡੇ</span><span>ਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਕਿੰਨੀਆਂ</span><span>ਹੀ</span><span>ਛੁੱਟਿਆ,</span><span>ਕਿੰਨੇ</span><span>ਘੱਟ</span><span>ਘੰਟੇ</span><span>ਕੰਮ,</span><span>ਕਿੰਨਾ</span><span>ਬਿਨਾਂ</span><span>ਦਿਲ</span><span>ਲਗਾ</span><span>ਕੇ</span><span>ਕੰਮ</span><span>ਤੇ</span><span>ਫੇਰ</span><span>ਹਰ</span><span>ਵਕਤ</span><span>ਮੰਦਰਾਂ,</span><span>ਗੁਰੂਦੁਆਰਿਆ</span><span>ਵਿੱਚ</span><span>ਭੀੜਾਂ,</span><span>ਸਾਧੂਆਂ</span><span>ਦੀ</span><span>ਨਿੱਤ</span><span>ਫੇਰੀ,</span><span>ਮਰਨੇ-ਜੰਮਣੇ</span><span>ਤੇ</span><span>ਵਿਆਹ,</span><span>ਇੱਧਰ-ਉੱਧਰ</span><span>ਘੁੰਮਣ</span><span>ਕੇ</span><span>ਸਮਾਂ</span><span>ਨਾਸ਼ਟ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਕਿਸੇ</span><span>ਹੋਰ</span><span>ਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਇਨ੍ਹਾਂ</span><span>ਗੱਲਾਂ</span><span>ਉੱਤੇ</span><span>ਸਮਾਂ</span><span>ਬਰਬਾਦ</span><span>ਨਹੀਂ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>|</span><span>ਲਊਡ-ਸਪੀਕਰਾਂ</span><span>ਉਤੇ</span><span>ਦਿਨ-ਰਾਤ</span><span>ਧਰਮ</span><span>ਨਹੀਂ</span><span>ਸਗੋਂ</span><span>ਵਹਿਮ-ਭਰਮ</span><span>ਪ੍ਰਚਾਰੇ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਹੋਰਨਾ</span><span>ਦੇਸਾਂ</span><span>ਵਿੱਚ</span><span>ਭਾਵੇਂ</span><span>ਕਿੰਨੀ</span><span>ਵੀ</span><span>ਬਰਫ਼</span><span>ਜੰਮੀ</span><span>ਹੋਵੇ</span><span>|</span><span>ਕਮੇ</span><span>ਪੂਰੇ</span><span>ਅੱਠ</span><span>ਵਜੇ</span><span>ਆਪਣੇ</span><span>ਕੰਮਾਂ</span><span>ਉੱਤੇ</span><span>ਪਹੁੰਚ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਰਾਤ</span><span>ਦੇ</span><span>ਗਿਆਰਾਂ-ਬਾਰਾਂ</span><span>ਵਜੇ</span><span>ਤੱਕ</span><span>ਡਟ</span><span>ਕੇ</span><span>ਕੰਮ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇੱਕ-ਇੱਕ</span><span>ਘੰਟਾ</span><span>ਵਿਚਕਾਰ</span><span>ਖਾਣਾ</span><span>ਖਾ</span><span>ਕੇ</span><span>ਫਿਰ</span><span>ਪੰਜ</span><span>ਵਜੇ</span><span>ਤੱਕ</span><span>ਅਣਥੱਕ</span><span>ਮਿਹਨਤ</span><span>ਹੁੰਦੀ</span><span>ਹੈ,</span><span>ਇਹੀ</span><span>ਕਾਰਨ</span><span>ਹੈ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਸਿੱਖਿਆ,</span><span>ਉਦਯੋਗਿਕ</span><span>ਵਿਕਾਸ</span><span>ਸਾਡੇ</span><span>ਨਾਲੋ</span><span>ਕਈ</span><span>ਗੁਣਾ</span><span>ਅੱਗੇ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਸਮਾਂ", "ਇੱਕ", "ਮਹਾਨ", "ਖਜਨਾ", "ਹੈ", "|", "ਅਮਰੀਕਾ,", "ਜਾਪਾਨ", "ਵਿੱਚ", "ਮੀਹ", "ਹੋਵੇ,", "ਗਰਮੀ", "ਹੋਵੇ,", "ਹਨੇਰਾ,", "ਹੋਵੇ,", "ਅੱਠ", "ਘੰਟੇ", "ਹਰ", "ਕੋਈ", "ਡਟ", "ਕੇ", "ਕੰਮ", "ਕਰਦਾ", "ਹੈ", "|", "ਦਫ਼ਤਰ", "ਵਿੱਚ,", "ਖੇਡਾਂ", "ਵਿੱਚ,", "ਕਾਰਖਾਨਿਆਂ", "ਵਿੱਚ", "ਵਿਸੇਸ਼", "ਛੁੱਟਿਆ", "ਸਾਲ", "ਵਿੱਚ", "ਕੁੱਝ", "ਕੁ", "ਹੀ", "ਹੁੰਦੀਆ", "ਹਨ", "|", "ਸਾਡੇ", "ਦੇਸ਼", "ਵਿੱਚ", "ਕਿੰਨੀਆਂ", "ਹੀ", "ਛੁੱਟਿਆ,", "ਕਿੰਨੇ", "ਘੱਟ", "ਘੰਟੇ", "ਕੰਮ,", "ਕਿੰਨਾ", "ਬਿਨਾਂ", "ਦਿਲ", "ਲਗਾ", "ਕੇ", "ਕੰਮ", "ਤੇ", "ਫੇਰ", "ਹਰ", "ਵਕਤ", "ਮੰਦਰਾਂ,", "ਗੁਰੂਦੁਆਰਿਆ", "ਵਿੱਚ", "ਭੀੜਾਂ,", "ਸਾਧੂਆਂ", "ਦੀ", "ਨਿੱਤ", "ਫੇਰੀ,", "ਮਰਨੇ-ਜੰਮਣੇ", "ਤੇ", "ਵਿਆਹ,", "ਇੱਧਰ-ਉੱਧਰ", "ਘੁੰਮਣ", "ਕੇ", "ਸਮਾਂ", "ਨਾਸ਼ਟ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਕਿਸੇ", "ਹੋਰ", "ਦੇਸ਼", "ਵਿੱਚ", "ਇਨ੍ਹਾਂ", "ਗੱਲਾਂ", "ਉੱਤੇ", "ਸਮਾਂ", "ਬਰਬਾਦ", "ਨਹੀਂ", "ਕੀਤਾ", "ਜਾਂਦਾ", "|", "ਲਊਡ-ਸਪੀਕਰਾਂ", "ਉਤੇ", "ਦਿਨ-ਰਾਤ", "ਧਰਮ", "ਨਹੀਂ", "ਸਗੋਂ", "ਵਹਿਮ-ਭਰਮ", "ਪ੍ਰਚਾਰੇ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਹੋਰਨਾ", "ਦੇਸਾਂ", "ਵਿੱਚ", "ਭਾਵੇਂ", "ਕਿੰਨੀ", "ਵੀ", "ਬਰਫ਼", "ਜੰਮੀ", "ਹੋਵੇ", "|", "ਕਮੇ", "ਪੂਰੇ", "ਅੱਠ", "ਵਜੇ", "ਆਪਣੇ", "ਕੰਮਾਂ", "ਉੱਤੇ", "ਪਹੁੰਚ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਰਾਤ", "ਦੇ", "ਗਿਆਰਾਂ-ਬਾਰਾਂ", "ਵਜੇ", "ਤੱਕ", "ਡਟ", "ਕੇ", "ਕੰਮ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇੱਕ-ਇੱਕ", "ਘੰਟਾ", "ਵਿਚਕਾਰ", "ਖਾਣਾ", "ਖਾ", "ਕੇ", "ਫਿਰ", "ਪੰਜ", "ਵਜੇ", "ਤੱਕ", "ਅਣਥੱਕ", "ਮਿਹਨਤ", "ਹੁੰਦੀ", "ਹੈ,", "ਇਹੀ", "ਕਾਰਨ", "ਹੈ", "ਉਨ੍ਹਾਂ", "ਦੀ", "ਸਿੱਖਿਆ,", "ਉਦਯੋਗਿਕ", "ਵਿਕਾਸ", "ਸਾਡੇ", "ਨਾਲੋ", "ਕਈ", "ਗੁਣਾ", "ਅੱਗੇ", "ਹੁੰਦਾ", "ਹੈ", "|"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}



