

@{
    ViewBag.Title = "Passage Typing : Lesson 15 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 15:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "16" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 571       </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਲੰਮੇ</span><span>ਸਮੇਂ</span><span>ਤੋਂ</span><span>ਚੱਲਦੀ</span><span>ਆ</span><span>ਰਹੀ</span><span>ਦਾਜ</span><span>ਦੀ</span><span>ਪ੍ਰਥਾ</span><span>ਅੱਜ</span><span>ਸਮਾਜ</span><span>ਨੂੰ</span><span>ਘੁਣ</span><span>ਵਾਂਗੂੰ</span><span>ਖਾ</span><span>ਰਹੀਆ</span><span>ਹਨ</span><span>।</span><span>ਕਿੰਨੀਆ</span><span>ਹੀ</span><span>ਅਨਮੋਲ</span><span>ਜ਼ਿੰਦਗੀਆਂ</span><span>ਇਸ</span><span>ਖਤਰਨਾਕ</span><span>ਬਿਮਾਰੀ</span><span>ਦਾ</span><span>ਸ਼ਿਕਾਰ</span><span>ਹੋ</span><span>ਰਹੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਕਿੰਨੀਆ</span><span>ਧੀਆਂ</span><span>ਵਾਲਿਆਂ</span><span>ਦਾ</span><span>ਜੀਵਨ</span><span>ਇਸ</span><span>ਬੁਰਾਈ</span><span>ਨੇ</span><span>ਸੁਆਹ</span><span>ਬਣਾ</span><span>ਦਿੱਤੀ</span><span>ਹੈ</span><span>।</span><span>ਦਾਜ</span><span>ਦੀ</span><span>ਭੈੜੀ</span><span>ਪ੍ਰਥਾ</span><span>ਨੇ</span><span>ਵਿਆਹ</span><span>ਦਾ</span><span>ਪਵਿੱਤਰ</span><span>ਸੰਬੰਧ</span><span>ਜਿਵੇਂ</span><span>ਗ੍ਰਸ</span><span>ਲਿਆ</span><span>ਹੈ</span><span>।</span><span>ਲੜਕੀ</span><span>ਨੂੰ</span><span>ਸ਼ਾਦੀ</span><span>ਦੇ</span><span>ਮੌਕੇ</span><span>ਦੇ</span><span>ਮਾਪਿਆਂ</span><span>ਵਲੋਂ</span><span>ਪਿਆਰ,</span><span>ਮਮਤਾ</span><span>ਨਾਲ</span><span>ਦਿੱਤਾ</span><span>ਸਮਾਨ</span><span>ਦਾਜ</span><span>ਹੈ</span><span>।</span><span>ਪੁਰਾਣੇ</span><span>ਜ਼ੁਮਾਣੇ</span><span>ਵਿੱਚ</span><span>ਲੜਕੀ</span><span>ਦੇ</span><span>ਵਿਆਹ</span><span>ਤੇ</span><span>ਮਾਪਿਆਂ</span><span>ਵਲੋਂ</span><span>ਆਪਣੀ</span><span>ਹੈਸੀਅਤ</span><span>ਦੇ</span><span>ਅਨੁਸਾਰ</span><span>ਚੀਜ਼ਾਂ,</span><span>ਤੋਹਫੇ</span><span>ਜਾਂ</span><span>ਭੇਟਾ</span><span>ਦੇ</span><span>ਰੂਪ</span><span>ਵਿੱਚ</span><span>ਦਿੱਤੀਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਸਨ</span><span>ਤੇ</span><span>ਦੂਸਰੀ</span><span>ਧਿਰ</span><span>ਵਲੋਂ</span><span>ਵੀ</span><span>ਇਹ</span><span>ਖ਼ੁਸ਼ੀ-ਖੁਸ਼ੀ</span><span>ਪ੍ਰਵਾਨ</span><span>ਕਰ</span><span>ਲਈਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਹਨ</span><span>।</span><span>ਪਰ</span><span>ਹੌਲੀ</span><span>ਹੌਲੀ</span><span>ਇਹ</span><span>ਗੱਲ</span><span>ਇੱਕ</span><span>ਲਾਜ਼ਮੀ</span><span>ਰਸਮ</span><span>ਬਣ</span><span>ਗਈ</span><span>ਤੇ</span><span>ਦਾਜ</span><span>ਦੇਣਾ</span><span>ਜ਼ਰੂਰੀ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>।</span><span>ਪਿਛਲੇ</span><span>ਕੁਝ</span><span>ਸਮੇਂ</span><span>ਤੋਂ,</span><span>ਦਾਜ</span><span>ਦੀ</span><span>ਪ੍ਰਥਾ</span><span>ਨੇ</span><span>ਇੱਕ</span><span>ਡਰਾਵਣਾ</span><span>ਰੂਪ</span><span>ਧਾਰਨ</span><span>ਕਰ</span><span>ਲਿਆ</span><span>ਹੈ</span><span>।</span><span>ਹੋਰ</span><span>ਗੱਲਾਂ</span><span>ਤੋਂ</span><span>ਬਿਨਾਂ</span><span>ਲੜਕੀ</span><span>ਦੇ</span><span>ਵਿਆਹ</span><span>'ਤੇ</span><span>ਦਾਜ</span><span>ਦੇਣਾ</span><span>ਦੀ</span><span>ਮਜ਼ਬੂਰੀ</span><span>ਨੇ</span><span>ਲੜਕੀਆਂ</span><span>ਨੂੰ</span><span>ਸਮਾਜ</span><span>ਵਿੱਚ</span><span>ਕੁਝ</span><span>ਅਣਚਾਹਿਆ</span><span>ਜਿਹਾ</span><span>ਬਣਾ</span><span>ਦਿੱਤਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਮੁਕਾਬਲੇ</span><span>ਲੜਕੇ</span><span>ਦੇ</span><span>ਵਿਆਹ</span><span>ਸਮੇਂ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਮਾਪਿਆ</span><span>ਨੂੰ</span><span>ਹੋਰ</span><span>ਗੱਲਾਂ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਨਾਲ</span><span>ਦਾਜ</span><span>ਦੇ</span><span>ਰੂਪ</span><span>ਵਿੱਚ</span><span>ਪ੍ਰਾਪਤ</span><span>ਹੋਣ</span><span>ਵਾਲੇ</span><span>ਕਾਰਨ</span><span>ਵੀ</span><span>ਖੁਸ਼ੀ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸੇ</span><span>ਲਈ</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਤਾਂ</span><span>ਵਿਆਹ</span><span>ਨਿਸਚਿਤ</span><span>ਹੋਣ</span><span>ਸਮੇਂ</span><span>ਦਾਜ-ਦਹੇਜ਼</span><span>ਨੂੰ</span><span>ਕਿਸੇ</span><span>ਭਾਅ</span><span>ਵਾਂਗ</span><span>ਤੈਅ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਲੜਕੇ</span><span>ਵਾਲੇ</span><span>ਇੱਕ</span><span>ਤਰ੍ਹਾਂ</span><span>ਨਾਲ</span><span>ਲੜਕੇ</span><span>ਦਾ</span><span>ਮੁੱਲ</span><span>ਮੰਗਦੇ</span><span>ਜਾਪਦੇ</span><span>ਹਨ</span><span>।</span><span>ਕਈ</span><span>ਮਾਪੇ</span><span>ਤਾਂ</span><span>ਆਪਣੇ</span><span>ਲੜਕੇ</span><span>ਦੇ</span><span>ਪਾਲਣ-ਪੋਸਣ</span><span>ਤੇ</span><span>ਪੜ੍ਹਾਈ</span><span>ਤੱਕ</span><span>ਦੇ</span><span>ਖ਼ਰਚੇ</span><span>ਦੱਸਣ</span><span>ਤੋਂ</span><span>ਵੀ</span><span>ਸੰਕੋਚ</span><span>ਨਹੀਂ</span><span>ਕਰਦੇ</span><span>।</span><span>ਇਸ</span><span>ਰੁਚੀ</span><span>ਕਾਰਨ</span><span>ਉਹ</span><span>ਬਿਲਕੁਲ</span><span>ਲਾਲਚੀ</span><span>ਬਣ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਵਿਆਹ</span><span>ਪਿੱਛੋਂ</span><span>ਵੀ</span><span>ਉਹਨਾਂ</span><span>ਦੀਆਂ</span><span>ਮੰਗਾਂ</span><span>ਨਹੀਂ</span><span>ਮੁਕਦੀਆਂ</span><span>।</span><span>ਇਸ</span><span>ਗੱਲ</span><span>ਦਾ</span><span>ਇੱਕ</span><span>ਭੈੜਾ</span><span>ਪੱਖ</span><span>ਇਹ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਲੜਕੇ</span><span>ਤੇ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਮਾਂ</span><span>ਬਾਪ</span><span>ਦਾ</span><span>ਝੁਕਾ</span><span>ਲੜਕੀ</span><span>ਦੇ</span><span>ਗੁਣਾਂ</span><span>ਤੋਂ</span><span>ਹਟ</span><span>ਕੇ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਪ੍ਰਾਪਤ</span><span>ਹੋਣ</span><span>ਵਾਲੀਆ</span><span>ਕੀਮਤੀ</span><span>ਵਸਤੂਆਂ</span><span>ਵੱਲ</span><span>ਵਧੇਰੇ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਮਾਨਵੀ</span><span>ਕਦਰਾਂ</span><span>ਕੀਮਤਾਂ</span><span>ਦੀ</span><span>ਥਾਂ</span><span>ਕੇਵਲ</span><span>ਪਦਾਰਥਕ</span><span>ਲਾਭ</span><span>ਹੀ</span><span>ਮੁੱਖ</span><span>ਹੋ</span><span>ਗਏ</span><span>ਹਨ</span><span>।</span><span>ਦਾਜ</span><span>ਦੀ</span><span>ਕੋਈ</span><span>ਨਿਸਚਿਤ</span><span>ਸੀਮਾ</span><span>ਨਹੀਂ</span><span>ਹੈ</span><span>।</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਮਾਪਿਆਂ</span><span>ਵਲੋਂ</span><span>ਆਪਣੀ</span><span>ਹੈਸੀਅਤ</span><span>ਤੋਂ</span><span>ਵਧ</span><span>ਕੇ</span><span>ਦਾਜ</span><span>ਕੇ</span><span>ਬਾਵਜੂਦ</span><span>ਵੀ</span><span>ਅੱਗੋਂ</span><span>ਸੁਹਰਿਆਂ</span><span>ਦਾ</span><span>ਨੂੰਹ</span><span>ਪ੍ਰਤੀ</span><span>ਵਰਤਾਓ</span><span>ਬੜਾ</span><span>ਭੈੜਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਉਸ</span><span>ਦੇ</span><span>ਦਾਜ</span><span>ਘੱਟ</span><span>ਲਿਆਉਣ</span><span>ਦੇ</span><span>ਤਾਹਨੇ</span><span>ਦਿੱਤੇ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।</span><span>ਲੜਾਈ</span><span>ਝਗੜਾ</span><span>ਤੇ</span><span>ਮਾਰ</span><span>ਕੁਟਾਈ</span><span>ਤੱਕ</span><span>ਨੌਬਤ</span><span>ਪਹੁੰਚ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਨੂੰਹ</span><span>ਨੂੰ</span><span>ਮਜ਼ਬੂਰ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਉਹ</span><span>ਆਪਣੇ</span><span>ਪੇਕਿਆਂ</span><span>ਤੋਂ</span><span>ਹੋਰ</span><span>ਕੁਝ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਆਏ,</span><span>ਪਿਉ</span><span>ਦੀ</span><span>ਜਾਇਦਾਦ</span><span>ਵਿੱਚੋਂ</span><span>ਹਿੱਸਾ</span><span>ਵੰਡਾਏ,</span><span>ਆਦਿ</span><span>।</span><span>ਬਾਰ-ਬਾਰ</span><span>ਮੰਗੀਆਂ</span><span>ਵਸਤੂਆਂ</span><span>ਲਿਆਉਣ</span><span>ਦੇ</span><span>ਬਾਵਜੂਦ</span><span>ਸਹੁਰਿਆਂ</span><span>ਦੇ</span><span>ਵਰਤਾਉ</span><span>ਵਿੱਚ</span><span>ਕੋਈ</span><span>ਫ਼ਰਕ</span><span>ਨਹੀਂ</span><span>ਪੈਂਦਾ</span><span>ਸਗੋਂ</span><span>ਉਹਨਾਂ</span><span>ਦਾ</span><span>ਲਾਲਚ</span><span>ਹੋਰ</span><span>ਵਧ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਕਦੇ</span><span>ਕਦੇ</span><span>ਤਾਂ</span><span>ਨੂੰਹ</span><span>ਨੂੰ</span><span>ਸਿਰਫ਼</span><span>ਇਸ</span><span>ਕਰਕੇ</span><span>ਪੇਕੇ</span><span>ਬਿਨਾ</span><span>ਦਿੱਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਜੇ</span><span>ਦੂਸਰੀਆਂ</span><span>ਮਹਿੰਗੀਆਂ</span><span>ਚੀਜ਼ਾਂ</span><span>ਲਿਆਵੇਂਗੀ</span><span>ਤਾਂ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਜਾਵਾਂਗੇ</span><span>।</span><span>ਇਸ</span><span>ਗੱਲ</span><span>ਤੋਂ</span><span>ਸ਼ੁਰੂ</span><span>ਹੋਇਆ</span><span>ਝਗੜਾ</span><span>ਕਈ</span><span>ਵਾਰ</span><span>ਤਲਾਕ</span><span>ਦੀ</span><span>ਨੌਬਤ</span><span>ਤੱਕ</span><span>ਪਹੁੰਚ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਪਰ</span><span>ਸਾਡੇ</span><span>ਮੁਲਕ</span><span>ਵਿੱਚ</span><span>ਤਲਾਕ</span><span>ਵੀ</span><span>ਐਨਾ</span><span>ਸੌਖਾ</span><span>ਨਹੀਂ</span><span>ਮਿਲਦਾ</span><span>ਹੈ</span><span>।</span><span>ਛੱਡ</span><span>ਛੱਡਾਈ</span><span>ਹੋ</span><span>ਜਾਵੇ</span><span>ਤਾਂ</span><span>ਭਲੀ,</span><span>ਨਹੀਂ</span><span>ਤਾਂ</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਨੂੰਹ</span><span>ਘਰ</span><span>ਲਿਜਾ</span><span>ਕੇ</span><span>ਮਾਰ/ਜਲਾ</span><span>ਦਿੱਤਾ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>।</span><span>ਅਜਿਹੀ</span><span>ਦੁਖਾਂਤਰ</span><span>ਘਟਨਾ</span><span>ਇਸ</span><span>ਕੁਰੀਤੀ</span><span>ਦੀ</span><span>ਹੱਦ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>।</span><span>ਸਹੁਰੇ</span><span>ਇਹ</span><span>ਸੋਚ</span><span>ਲੈਂਦੇ</span><span>ਹਨ</span><span>ਜੋ</span><span>ਆ</span><span>ਗਿਆ,</span><span>ਉਹ</span><span>ਤਾਂ</span><span>ਆ</span><span>ਗਿਆ</span><span>ਨੂੰਹ</span><span>ਮਾਰ</span><span>ਕੇ</span><span>ਮੁੰਡੇ</span><span>ਨੂੰ</span><span>ਫਿਰ</span><span>ਵਿਆਹ</span><span>ਲਵਾਂਗੇ</span><span>ਤੇ</span><span>ਹੋਰ</span><span>ਸਮਾਨ</span><span>ਆਵੇਗਾ</span><span>।</span><span>ਇਹ</span><span>ਘਟਨਾਵਾਂ</span><span>ਰੋਜ਼</span><span>ਹੀ</span><span>ਸਾਹਮਣੇ</span><span>ਆਉਂਦੀਆਂ</span><span>ਹਨ,</span><span>ਖਾਸ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਨੂੰਹ</span><span>ਸੜਨ</span><span>ਦੀਆਂ</span><span>।</span><span>ਆਰਥਿਕ</span><span>ਪੱਖੋਂ</span><span>ਖੁਸ਼ਹਾਲ</span><span>ਤਬਕੇ</span><span>ਲਈ</span><span>ਦਾਜ</span><span>ਦੇਣਾ</span><span>ਸ਼ਾਇਦ</span><span>ਇੰਨਾ</span><span>ਦੁਖਦਾਈ</span><span>ਨਾਂ</span><span>ਹੋਵੇ</span><span>ਪਰ</span><span>ਸੀਮਤ</span><span>ਆਮਦਨੀ</span><span>ਵਾਲੇ</span><span>ਲੋਕਾਂ</span><span>ਲਈ</span><span>ਕੇਵਲ</span><span>ਦਾਜ</span><span>ਦੇਣ</span><span>ਦੀ</span><span>ਸਮੱਸਿਆ</span><span>ਕਾਰਨ</span><span>ਧੀਆਂ</span><span>ਚਿੰਤਾ</span><span>ਦਾ</span><span>ਕਾਰਨ</span><span>ਬਣ</span><span>ਜਾਂਦੀਆਂ</span><span>ਹਨ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">
        var wordList = ["ਲੰਮੇ", "ਸਮੇਂ", "ਤੋਂ", "ਚੱਲਦੀ", "ਆ", "ਰਹੀ", "ਦਾਜ", "ਦੀ", "ਪ੍ਰਥਾ", "ਅੱਜ", "ਸਮਾਜ", "ਨੂੰ", "ਘੁਣ", "ਵਾਂਗੂੰ", "ਖਾ", "ਰਹੀਆ", "ਹਨ", "।", "ਕਿੰਨੀਆ", "ਹੀ", "ਅਨਮੋਲ", "ਜ਼ਿੰਦਗੀਆਂ", "ਇਸ", "ਖਤਰਨਾਕ", "ਬਿਮਾਰੀ", "ਦਾ", "ਸ਼ਿਕਾਰ", "ਹੋ", "ਰਹੀਆਂ", "ਹਨ", "।", "ਕਿੰਨੀਆ", "ਧੀਆਂ", "ਵਾਲਿਆਂ", "ਦਾ", "ਜੀਵਨ", "ਇਸ", "ਬੁਰਾਈ", "ਨੇ", "ਸੁਆਹ", "ਬਣਾ", "ਦਿੱਤੀ", "ਹੈ", "।", "ਦਾਜ", "ਦੀ", "ਭੈੜੀ", "ਪ੍ਰਥਾ", "ਨੇ", "ਵਿਆਹ", "ਦਾ", "ਪਵਿੱਤਰ", "ਸੰਬੰਧ", "ਜਿਵੇਂ", "ਗ੍ਰਸ", "ਲਿਆ", "ਹੈ", "।", "ਲੜਕੀ", "ਨੂੰ", "ਸ਼ਾਦੀ", "ਦੇ", "ਮੌਕੇ", "ਦੇ", "ਮਾਪਿਆਂ", "ਵਲੋਂ", "ਪਿਆਰ,", "ਮਮਤਾ", "ਨਾਲ", "ਦਿੱਤਾ", "ਸਮਾਨ", "ਦਾਜ", "ਹੈ", "।", "ਪੁਰਾਣੇ", "ਜ਼ੁਮਾਣੇ", "ਵਿੱਚ", "ਲੜਕੀ", "ਦੇ", "ਵਿਆਹ", "ਤੇ", "ਮਾਪਿਆਂ", "ਵਲੋਂ", "ਆਪਣੀ", "ਹੈਸੀਅਤ", "ਦੇ", "ਅਨੁਸਾਰ", "ਚੀਜ਼ਾਂ,", "ਤੋਹਫੇ", "ਜਾਂ", "ਭੇਟਾ", "ਦੇ", "ਰੂਪ", "ਵਿੱਚ", "ਦਿੱਤੀਆਂ", "ਜਾਂਦੀਆਂ", "ਸਨ", "ਤੇ", "ਦੂਸਰੀ", "ਧਿਰ", "ਵਲੋਂ", "ਵੀ", "ਇਹ", "ਖ਼ੁਸ਼ੀ-ਖੁਸ਼ੀ", "ਪ੍ਰਵਾਨ", "ਕਰ", "ਲਈਆਂ", "ਜਾਂਦੀਆਂ", "ਹਨ", "।", "ਪਰ", "ਹੌਲੀ", "ਹੌਲੀ", "ਇਹ", "ਗੱਲ", "ਇੱਕ", "ਲਾਜ਼ਮੀ", "ਰਸਮ", "ਬਣ", "ਗਈ", "ਤੇ", "ਦਾਜ", "ਦੇਣਾ", "ਜ਼ਰੂਰੀ", "ਹੋ", "ਗਿਆ", "।", "ਪਿਛਲੇ", "ਕੁਝ", "ਸਮੇਂ", "ਤੋਂ,", "ਦਾਜ", "ਦੀ", "ਪ੍ਰਥਾ", "ਨੇ", "ਇੱਕ", "ਡਰਾਵਣਾ", "ਰੂਪ", "ਧਾਰਨ", "ਕਰ", "ਲਿਆ", "ਹੈ", "।", "ਹੋਰ", "ਗੱਲਾਂ", "ਤੋਂ", "ਬਿਨਾਂ", "ਲੜਕੀ", "ਦੇ", "ਵਿਆਹ", "'ਤੇ", "ਦਾਜ", "ਦੇਣਾ", "ਦੀ", "ਮਜ਼ਬੂਰੀ", "ਨੇ", "ਲੜਕੀਆਂ", "ਨੂੰ", "ਸਮਾਜ", "ਵਿੱਚ", "ਕੁਝ", "ਅਣਚਾਹਿਆ", "ਜਿਹਾ", "ਬਣਾ", "ਦਿੱਤਾ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਮੁਕਾਬਲੇ", "ਲੜਕੇ", "ਦੇ", "ਵਿਆਹ", "ਸਮੇਂ", "ਉਸ", "ਦੇ", "ਮਾਪਿਆ", "ਨੂੰ", "ਹੋਰ", "ਗੱਲਾਂ", "ਦੇ", "ਨਾਲ", "ਨਾਲ", "ਦਾਜ", "ਦੇ", "ਰੂਪ", "ਵਿੱਚ", "ਪ੍ਰਾਪਤ", "ਹੋਣ", "ਵਾਲੇ", "ਕਾਰਨ", "ਵੀ", "ਖੁਸ਼ੀ", "ਹੁੰਦੀ", "ਹੈ", "।", "ਇਸੇ", "ਲਈ", "ਕਈ", "ਵਾਰੀ", "ਤਾਂ", "ਵਿਆਹ", "ਨਿਸਚਿਤ", "ਹੋਣ", "ਸਮੇਂ", "ਦਾਜ-ਦਹੇਜ਼", "ਨੂੰ", "ਕਿਸੇ", "ਭਾਅ", "ਵਾਂਗ", "ਤੈਅ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਲੜਕੇ", "ਵਾਲੇ", "ਇੱਕ", "ਤਰ੍ਹਾਂ", "ਨਾਲ", "ਲੜਕੇ", "ਦਾ", "ਮੁੱਲ", "ਮੰਗਦੇ", "ਜਾਪਦੇ", "ਹਨ", "।", "ਕਈ", "ਮਾਪੇ", "ਤਾਂ", "ਆਪਣੇ", "ਲੜਕੇ", "ਦੇ", "ਪਾਲਣ-ਪੋਸਣ", "ਤੇ", "ਪੜ੍ਹਾਈ", "ਤੱਕ", "ਦੇ", "ਖ਼ਰਚੇ", "ਦੱਸਣ", "ਤੋਂ", "ਵੀ", "ਸੰਕੋਚ", "ਨਹੀਂ", "ਕਰਦੇ", "।", "ਇਸ", "ਰੁਚੀ", "ਕਾਰਨ", "ਉਹ", "ਬਿਲਕੁਲ", "ਲਾਲਚੀ", "ਬਣ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਵਿਆਹ", "ਪਿੱਛੋਂ", "ਵੀ", "ਉਹਨਾਂ", "ਦੀਆਂ", "ਮੰਗਾਂ", "ਨਹੀਂ", "ਮੁਕਦੀਆਂ", "।", "ਇਸ", "ਗੱਲ", "ਦਾ", "ਇੱਕ", "ਭੈੜਾ", "ਪੱਖ", "ਇਹ", "ਹੈ", "ਕਿ", "ਲੜਕੇ", "ਤੇ", "ਉਸ", "ਦੇ", "ਮਾਂ", "ਬਾਪ", "ਦਾ", "ਝੁਕਾ", "ਲੜਕੀ", "ਦੇ", "ਗੁਣਾਂ", "ਤੋਂ", "ਹਟ", "ਕੇ", "ਉਸ", "ਦੇ", "ਨਾਲ", "ਪ੍ਰਾਪਤ", "ਹੋਣ", "ਵਾਲੀਆ", "ਕੀਮਤੀ", "ਵਸਤੂਆਂ", "ਵੱਲ", "ਵਧੇਰੇ", "ਹੋ", "ਗਿਆ", "ਹੈ", "।", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਮਾਨਵੀ", "ਕਦਰਾਂ", "ਕੀਮਤਾਂ", "ਦੀ", "ਥਾਂ", "ਕੇਵਲ", "ਪਦਾਰਥਕ", "ਲਾਭ", "ਹੀ", "ਮੁੱਖ", "ਹੋ", "ਗਏ", "ਹਨ", "।", "ਦਾਜ", "ਦੀ", "ਕੋਈ", "ਨਿਸਚਿਤ", "ਸੀਮਾ", "ਨਹੀਂ", "ਹੈ", "।", "ਕਈ", "ਵਾਰੀ", "ਮਾਪਿਆਂ", "ਵਲੋਂ", "ਆਪਣੀ", "ਹੈਸੀਅਤ", "ਤੋਂ", "ਵਧ", "ਕੇ", "ਦਾਜ", "ਕੇ", "ਬਾਵਜੂਦ", "ਵੀ", "ਅੱਗੋਂ", "ਸੁਹਰਿਆਂ", "ਦਾ", "ਨੂੰਹ", "ਪ੍ਰਤੀ", "ਵਰਤਾਓ", "ਬੜਾ", "ਭੈੜਾ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਉਸ", "ਦੇ", "ਦਾਜ", "ਘੱਟ", "ਲਿਆਉਣ", "ਦੇ", "ਤਾਹਨੇ", "ਦਿੱਤੇ", "ਜਾਂਦੇ", "ਹਨ", "।", "ਲੜਾਈ", "ਝਗੜਾ", "ਤੇ", "ਮਾਰ", "ਕੁਟਾਈ", "ਤੱਕ", "ਨੌਬਤ", "ਪਹੁੰਚ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਨੂੰਹ", "ਨੂੰ", "ਮਜ਼ਬੂਰ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "ਕਿ", "ਉਹ", "ਆਪਣੇ", "ਪੇਕਿਆਂ", "ਤੋਂ", "ਹੋਰ", "ਕੁਝ", "ਲੈ", "ਕੇ", "ਆਏ,", "ਪਿਉ", "ਦੀ", "ਜਾਇਦਾਦ", "ਵਿੱਚੋਂ", "ਹਿੱਸਾ", "ਵੰਡਾਏ,", "ਆਦਿ", "।", "ਬਾਰ-ਬਾਰ", "ਮੰਗੀਆਂ", "ਵਸਤੂਆਂ", "ਲਿਆਉਣ", "ਦੇ", "ਬਾਵਜੂਦ", "ਸਹੁਰਿਆਂ", "ਦੇ", "ਵਰਤਾਉ", "ਵਿੱਚ", "ਕੋਈ", "ਫ਼ਰਕ", "ਨਹੀਂ", "ਪੈਂਦਾ", "ਸਗੋਂ", "ਉਹਨਾਂ", "ਦਾ", "ਲਾਲਚ", "ਹੋਰ", "ਵਧ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਕਦੇ", "ਕਦੇ", "ਤਾਂ", "ਨੂੰਹ", "ਨੂੰ", "ਸਿਰਫ਼", "ਇਸ", "ਕਰਕੇ", "ਪੇਕੇ", "ਬਿਨਾ", "ਦਿੱਤਾ", "ਜਾਂਦਾ", "ਹੈ", "ਕਿ", "ਜੇ", "ਦੂਸਰੀਆਂ", "ਮਹਿੰਗੀਆਂ", "ਚੀਜ਼ਾਂ", "ਲਿਆਵੇਂਗੀ", "ਤਾਂ", "ਲੈ", "ਕੇ", "ਜਾਵਾਂਗੇ", "।", "ਇਸ", "ਗੱਲ", "ਤੋਂ", "ਸ਼ੁਰੂ", "ਹੋਇਆ", "ਝਗੜਾ", "ਕਈ", "ਵਾਰ", "ਤਲਾਕ", "ਦੀ", "ਨੌਬਤ", "ਤੱਕ", "ਪਹੁੰਚ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਪਰ", "ਸਾਡੇ", "ਮੁਲਕ", "ਵਿੱਚ", "ਤਲਾਕ", "ਵੀ", "ਐਨਾ", "ਸੌਖਾ", "ਨਹੀਂ", "ਮਿਲਦਾ", "ਹੈ", "।", "ਛੱਡ", "ਛੱਡਾਈ", "ਹੋ", "ਜਾਵੇ", "ਤਾਂ", "ਭਲੀ,", "ਨਹੀਂ", "ਤਾਂ", "ਕਈ", "ਵਾਰੀ", "ਨੂੰਹ", "ਘਰ", "ਲਿਜਾ", "ਕੇ", "ਮਾਰ/ਜਲਾ", "ਦਿੱਤਾ", "ਜਾਂਦੀ", "ਹੈ", "।", "ਅਜਿਹੀ", "ਦੁਖਾਂਤਰ", "ਘਟਨਾ", "ਇਸ", "ਕੁਰੀਤੀ", "ਦੀ", "ਹੱਦ", "ਹੁੰਦੀ", "ਹੈ", "।", "ਸਹੁਰੇ", "ਇਹ", "ਸੋਚ", "ਲੈਂਦੇ", "ਹਨ", "ਜੋ", "ਆ", "ਗਿਆ,", "ਉਹ", "ਤਾਂ", "ਆ", "ਗਿਆ", "ਨੂੰਹ", "ਮਾਰ", "ਕੇ", "ਮੁੰਡੇ", "ਨੂੰ", "ਫਿਰ", "ਵਿਆਹ", "ਲਵਾਂਗੇ", "ਤੇ", "ਹੋਰ", "ਸਮਾਨ", "ਆਵੇਗਾ", "।", "ਇਹ", "ਘਟਨਾਵਾਂ", "ਰੋਜ਼", "ਹੀ", "ਸਾਹਮਣੇ", "ਆਉਂਦੀਆਂ", "ਹਨ,", "ਖਾਸ", "ਕਰ", "ਕੇ", "ਨੂੰਹ", "ਸੜਨ", "ਦੀਆਂ", "।", "ਆਰਥਿਕ", "ਪੱਖੋਂ", "ਖੁਸ਼ਹਾਲ", "ਤਬਕੇ", "ਲਈ", "ਦਾਜ", "ਦੇਣਾ", "ਸ਼ਾਇਦ", "ਇੰਨਾ", "ਦੁਖਦਾਈ", "ਨਾਂ", "ਹੋਵੇ", "ਪਰ", "ਸੀਮਤ", "ਆਮਦਨੀ", "ਵਾਲੇ", "ਲੋਕਾਂ", "ਲਈ", "ਕੇਵਲ", "ਦਾਜ", "ਦੇਣ", "ਦੀ", "ਸਮੱਸਿਆ", "ਕਾਰਨ", "ਧੀਆਂ", "ਚਿੰਤਾ", "ਦਾ", "ਕਾਰਨ", "ਬਣ", "ਜਾਂਦੀਆਂ", "ਹਨ", "।"];

        function addWords() {
            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>
}







