

@{
    ViewBag.Title = "Passage Typing : Lesson 13 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 13:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "14" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 554     </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਸਮਾਂ</span><span>ਬਹੁਤ</span><span>ਕੀਮਤੀ</span><span>ਹੈ</span><span>।</span><span>ਕੋਈ</span><span>ਗੁਆਚੀ</span><span>ਵਸਤੂ</span><span>ਤਾਂ</span><span>ਹੱਥ</span><span>ਆ</span><span>ਸਕਦੀ</span><span>ਹੈ,</span><span>ਪਰ</span><span>ਬੀਤਿਆਂ</span><span>ਸਮਾਂ</span><span>ਕਿਸੇ</span><span>ਸਾਧਨ</span><span>ਜਾਂ</span><span>ਕੀਮਤ</span><span>ਨਾਲ</span><span>ਵਾਪਸ</span><span>ਨਹੀਂ</span><span>ਆਉਂਦਾ</span><span>।ਇਸ</span><span>ਕਰਕੇ</span><span>ਸਾਨੂੰ</span><span>ਸਮੇਂ</span><span>ਦੇ</span><span>ਨਿੱਕੇ-ਨਿੱਕੇ</span><span>ਅੰਸ਼</span><span>ਦਾ</span><span>ਲਾਭ</span><span>ਉਠਾਉਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਸਮੇਂ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਠੀਕ</span><span>ਤਰੀਕੇ</span><span>ਨਾਲ</span><span>ਕਰਨੀ</span><span>ਚਾਹੀਦੀ</span><span>ਹੈ</span><span>।</span><span>ਕੁਝ</span><span>ਲੋਕਾਂ</span><span>ਵਿੱਚ</span><span>ਇਹ</span><span>ਆਮ</span><span>ਗੱਲ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਉਹ</span><span>ਸਮੇਂ</span><span>ਦੀ</span><span>ਕਦਰ</span><span>ਨਹੀਂ</span><span>ਕਰਦੇ</span><span>।ਅਸੀਂ</span><span>ਕਿਸੇ</span><span>ਕੰਮ</span><span>ਵਿੱਚ</span><span>ਥੋੜ੍ਹਾ</span><span>ਬਹੁਤ</span><span>ਵਧੇਰੇ</span><span>ਸਮਾਂ</span><span>ਲੱਗ</span><span>ਜਾਣ</span><span>ਨੂੰ</span><span>ਇਕ</span><span>ਮਾਮੂਲੀ</span><span>ਗੱਲ</span><span>ਸਮਝਦੇ</span><span>ਹਾਂ,</span><span>ਅਤੇ</span><span>ਸਾਨੂੰ</span><span>ਸਮੇਂ</span><span>ਦਾ</span><span>ਹੱਥੋਂ</span><span>ਜਾਣ</span><span>ਦਾ</span><span>ਡਰ</span><span>ਨਹੀਂ</span><span>ਹੁੰਦਾ</span><span>।</span><span>ਫਿਰ</span><span>ਸਾਡੀਆਂ</span><span>ਆਦਤਾਂ</span><span>ਅਜਿਹੀਆਂ</span><span>ਹਨ</span><span>ਕਿ</span><span>ਸਾਡੇ</span><span>ਖਾਣ-ਪੀਣ,</span><span>ਉੱਠਣ,</span><span>ਜਾਗਣ,</span><span>ਦਫ਼ਤਰ</span><span>ਜਾਣ,</span><span>ਖੇਡਣ</span><span>ਤੇ</span><span>ਪੜ੍ਹਣ</span><span>ਦਾ</span><span>ਕੋਈ</span><span>ਸਮਾਂ</span><span>ਨਹੀਂ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>।</span><span>ਜਦੋਂ</span><span>ਸਾਡਾ</span><span>ਮੰਨ</span><span>ਕਰਦਾ</span><span>ਹੈ,</span><span>ਅੱਸੀਂ</span><span>ਖਾਣ</span><span>ਬਹਿ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ,</span><span>ਜਦੋਂ</span><span>ਜੀ</span><span>ਕਰਦਾ</span><span>ਹੈ,</span><span>ਸੋ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਜਦੋਂ</span><span>ਜੀ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>ਨੀਂਦ</span><span>ਤੋਂ</span><span>ਜਾਗਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਜਦੋਂ</span><span>ਜੀ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>ਅਸੀਂ</span><span>ਉੱਠਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਜਦੋਂ</span><span>ਜੀ</span><span>ਕਰਦਾ</span><span>ਹੈ</span><span>ਅਸੀਂ</span><span>ਪੜ੍ਹਣ</span><span>ਲਿਖਣ</span><span>ਬੈਠ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>।ਜੇਕਰ</span><span>ਕਿਸੇ</span><span>ਦੋਸਤ</span><span>ਜਾਂ</span><span>ਰਿਸ਼ਤੇਦਾਰ</span><span>ਕੋਲ</span><span>ਜਾਵਾਂਗੇ,</span><span>ਤਾਂ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਕੋਲ</span><span>ਬਹਿ</span><span>ਕੇ</span><span>ਬਹੁਤਾ</span><span>ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰਨ</span><span>ਨੂੰ</span><span>ਅਸੀਂ</span><span>ਚੰਗੀ</span><span>ਗੱਲ</span><span>ਸਮਝਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਇਸੇ</span><span>ਪ੍ਰਕਾਰ</span><span>ਹੀ</span><span>ਜਾਂ</span><span>ਤਾਂ</span><span>ਅਸੀਂ</span><span>ਖੇਡਣ</span><span>ਵਿੱਚ</span><span>ਰੁੱਝੇ</span><span>ਰਹਾਂਗੇ</span><span>ਜਾਂ</span><span>ਰੇਡੀਓ</span><span>ਸੁਣਨ,</span><span>ਅਖ਼ਬਾਰਾਂ</span><span>ਪੜ੍ਹਨ</span><span>ਤੇ</span><span>ਟੈਲੀਵਿਜ਼ਨ</span><span>ਦੇਖਣ,</span><span>ਇੱਧਰ-ਉੱਧਰ</span><span>ਘੁੰਮਣ</span><span>ਵਿੱਚ</span><span>ਮਸਤ</span><span>ਰਹਾਂਗੇ</span><span>।ਜੇਕਰ</span><span>ਆਪਣੇ</span><span>ਘਰ</span><span>ਟੈਲੀਵਿਜ਼ਨ</span><span>ਨਾ</span><span>ਹੋਵੇ,</span><span>ਤਾਂ</span><span>ਕੰਧ</span><span>ਟੱਪ</span><span>ਕੇ</span><span>ਦੂਸਰੇ</span><span>ਦੇ</span><span>ਘਰ</span><span>ਜਾ</span><span>ਵੜਾਂਗੇ</span><span>।</span><span>ਜੇਕਰ</span><span>ਸੜਕ</span><span>'ਤੇ</span><span>ਜਾਂਦਿਆਂ</span><span>ਕੋਈ</span><span>ਤਮਾਸ਼ਾ</span><span>ਲੱਗਾ</span><span>ਹੋਵੇ,</span><span>ਤਾਂ</span><span>ਅਸੀਂ</span><span>ਉਸ</span><span>ਦੁਆਲੇ</span><span>ਜਮ੍ਹਾਂ</span><span>ਹੋਏ</span><span>ਇਕੱਠ</span><span>ਵਿੱਚ</span><span>ਵੜ</span><span>ਜਾਵਾਂਗੇ</span><span>ਤੇ</span><span>ਆਪਣੀਆਂ</span><span>ਜ਼ਿੰਮੇਵਾਰੀਆਂ</span><span>ਨੂੰ</span><span>ਭੁੱਲ</span><span>ਕੇ</span><span>ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰਾਂਗੇ</span><span>।ਇਸੇ</span><span>ਪ੍ਰਕਾਰ</span><span>ਹੀ</span><span>ਅਸੀਂ</span><span>ਪ੍ਰਾਹੁਣਚਾਰੀ</span><span>ਕਰਨ</span><span>ਵਿੱਚ,</span><span>ਵਿਆਹ</span><span>ਸ਼ਾਦੀਆਂ</span><span>ਵੇਲੇ,</span><span>ਜਲੂਸਾਂ</span><span>ਵਿੱਚ,</span><span>ਖੇਡਾਂ</span><span>ਵਿੱਚ,</span><span>ਫਾਲਤੂ</span><span>ਗੱਲਾਂ</span><span>ਵਿੱਚ</span><span>ਤੇ</span><span>ਸ਼ਰਾਰਤਾਂ</span><span>ਕਰਨ</span><span>ਵਿੱਚ</span><span>ਆਪਣਾ</span><span>ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਕਈ</span><span>ਵਾਰ</span><span>ਅਸੀਂ</span><span>ਆਪਣਾ</span><span>ਸਮਾਂ</span><span>ਤਾ</span><span>ਗੁਆਉਣਾ</span><span>ਹੀ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span></span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਦੂਜਿਆਂ</span><span>ਦਾ</span><span>ਕੀਮਤੀ</span><span>ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰ</span><span>ਦਿੰਦੇ</span><span>ਹਾਂ,</span><span>ਜਿਵੇਂ</span><span>ਵਿਆਹ</span><span>ਸ਼ਾਦੀਆਂ</span><span>ਸਮੇਂ</span><span>ਜਾਂ</span><span>ਕਿਸੇ</span><span>ਧਾਰਮਿਕ</span><span>ਉਤਸਵ</span><span>ਸਮੇਂ</span><span>ਢੋਲਕੀਆਂ</span><span>ਛੈਣੇ</span><span>ਖੜਕਾਉਂਦੇ</span><span>ਅਸੀਂ</span><span>ਦੁਪਹਿਰ</span><span>ਚੜ੍ਹਾ</span><span>ਦਿੰਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਲਾਊਡ</span><span>ਸਪੀਕਰ</span><span>ਲਾ</span><span>ਆਂਢੀਆਂ-ਗੁਆਂਢੀਆਂ</span><span>ਨੂੰ</span><span>ਤਕਲੀਫ</span><span>ਦਿੰਦੇ</span><span>ਹਾਂ</span><span>।</span><span>ਅਜਿਹੇ</span><span>ਪ੍ਰੋਗਰਾਮ</span><span>ਸਮੇਂ</span><span>ਅਸੀਂ</span><span>ਆਏ</span><span>ਰਿਸ਼ਤੇਦਾਰਾਂ</span><span>ਦੇ</span><span>ਸਮੇਂ</span><span>ਦੀ</span><span>ਉੱਕੀ</span><span>ਪਰਵਾਹ</span><span>ਨਹੀਂ</span><span>ਕਰਦੇ</span><span>।ਵਿਚਾਰੇ</span><span>ਸਿਸ਼ਟਾਚਾਰ</span><span>ਦੇ</span><span>ਮਾਰੇ</span><span>ਨਾ</span><span>ਉੱਠਣ</span><span>ਜ਼ੋਗੇ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਨਾ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਧਿਆਨ</span><span>ਨਾਲ</span><span>ਕੁੱਝ</span><span>ਸੁਣਨ</span><span>ਜ਼ੋਗੇ</span><span>।</span><span>ਬੈਠੇ</span><span>ਆਪਣੇ</span><span>ਆਪ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਕੋਸਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਸਾਡੇ</span><span>ਵਰਗੇ</span><span>ਪ੍ਰਬੰਧਕਾਂ</span><span>ਤੇ</span><span>ਘਰਾਂ</span><span>ਵਾਲਿਆਂ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>।</span><span>ਇਹਨਾਂ</span><span>ਸਾਰੀਆਂ</span><span>ਗੱਲਾਂ</span><span>ਦਾ</span><span>ਕਾਰਨ</span><span>ਇਹ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਅਸੀਂ</span><span>ਅਜੇ</span><span>ਸਮਾਂ</span><span>ਦਾ</span><span>ਮੁੱਲ</span><span>ਪਾਉਣਾ</span><span>ਨਹੀਂ</span><span>ਸਿੱਖੇ</span><span>।</span><span>ਅਸੀਂ</span><span>ਵਕਤ</span><span>ਦੀ</span><span>ਯੋਗ</span><span>ਵੰਡ</span><span>ਕਰਨੀ</span><span>ਨਹੀਂ</span><span>ਜਾਣਦੇ</span><span>।</span><span>ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰਨ</span><span>ਦੇ</span><span>ਨੁਕਸਾਨ</span><span>ਤਾਂ</span><span>ਸਪੱਸ਼ਟ</span><span>ਹੀ</span><span>ਹਨ</span><span>।</span><span>ਜ਼ਰਾ</span><span>ਸੋਚੋ,</span><span>ਜੇਕਰ</span><span>ਰੇਲਾਂ</span><span>ਸਮੇਂ</span><span>ਸਿਰ</span><span>ਨਾ</span><span>ਚੱਲਣ</span><span>ਤਾਂ</span><span>ਕੀ</span><span>ਹੋਵੇ?</span><span></span><span>ਜ਼ਰਾ</span><span>ਸੋਚੋ,</span><span>ਜੇਕਰ</span><span>ਸਰਕਾਰੀ</span><span>ਦਫ਼ਤਰਾਂ,</span><span>ਬੈਂਕਾਂ,</span><span>ਡਾਕਖਾਨਿਆਂ,</span><span>ਟੈਲੀਫ਼ੋਨਾਂ</span><span>ਤੇ</span><span>ਰੇਡੀਓ</span><span>ਸਟੇਸ਼ਨਾਂ</span><span>ਦੇ</span><span>ਕਰਮਚਾਰੀ</span><span>ਆਪਣੀ</span><span>ਡਿਊਟੀ</span><span>ਦੇਣ</span><span>ਲਈ</span><span>ਸਮੇਂ</span><span>ਸਿਰ</span><span>ਨਾ</span><span>ਪੁੱਜਣ,</span><span>ਤਾਂ</span><span>ਕੀ</span><span>ਹੋਵੇ?</span><span>ਜੇਕਰ</span><span>ਅਜਿਹਾ</span><span>ਹੋਵੇ</span><span></span><span>ਤਾਂ</span><span>ਸੱਚਮੁੱਚ</span><span>ਹੀ</span><span>ਬੜੀ</span><span>ਗੜਬੜ</span><span>ਮਚ</span><span>ਜਾਵੇ</span><span>ਤੇ</span><span>ਚਾਰੇ</span><span>ਪਾਸੇ</span><span>ਦੁੱਖ</span><span>ਤੇ</span><span>ਤਕਲੀਫ਼ਾਂ</span><span>ਫੈਲ</span><span>ਜਾਣ</span><span>।ਸਮਾਂ</span><span>ਨਸ਼ਟ</span><span>ਕਰ</span><span>ਕੇ</span><span>ਅਸੀਂ</span><span>ਆਪਣੇ</span><span>ਆਪ</span><span>ਨੂੰ</span><span>ਧੋਖਾ</span><span>ਦਿੰਦੇ</span><span>ਹਾਂ</span><span>ਤੇ</span><span>ਭਾਰੀ</span><span>ਨੁਕਸਾਨ</span><span>ਦੇ</span><span>ਭਾਗੀ</span><span>ਬਣਦੇ</span><span>ਹਾਂ</span><span>।ਸਾਡਾ</span><span>ਕੋਈ</span><span>ਵੀ</span><span>ਕੰਮ</span><span>ਠੀਕ</span><span>ਸਮੇ</span><span>ਸਿਰ</span><span>ਨਹੀਂ</span><span>ਚੜ੍ਹਦਾ</span><span>ਤੇ</span><span>ਕਈ</span><span>ਜ਼ਰੂਰੀ</span><span>ਕੰਮ</span><span>ਖਰਾਬ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>।ਇਸ</span><span>ਪ੍ਰਕਾਰ</span><span>ਸਾਨੂੰ</span><span>ਬੀਤੇ</span><span>ਸਮੇਂ</span><span>ਦੇ</span><span>ਹੱਥੋਂ</span><span>ਖੁਸਣ</span><span>ਉੱਤੇ</span><span>ਪਛਤਾਉਣਾ</span><span>ਪੈਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਵਕਤ</span><span>ਦੀ</span><span>ਕਦਰ</span><span>ਨਾ</span><span>ਕਰਨ</span><span>ਵਾਲਾ</span><span>ਮਨੁੱਖ</span><span>ਆਪਣੇ</span><span>ਲਈ</span><span>ਵੀ</span><span>ਤੇ</span><span>ਦੂਜਿਆਂ</span><span>ਲਈ</span><span>ਵੀ</span><span>ਇਕ</span><span>ਮੁਸੀਬਤ</span><span>ਦਾ</span><span>ਕਾਰਨ</span><span>ਬਣ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਉਹ</span><span>ਹਮੇਸ਼ਾ</span><span>ਜਲਦੀ</span><span>ਵਿੱਚ</span><span>ਰਹਿੰਦਾ</span><span>ਹੈ,</span><span>ਪਰ</span><span>ਉਹ</span><span>ਨਾ</span><span>ਕੋਈ</span><span>ਕੰਮ</span><span>ਸਿਰੇ</span><span>ਚਾੜ੍ਹ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>ਤੇ</span><span>ਨਾ</span><span>ਹੀ</span><span>ਸਮੇਂ</span><span>ਦੀ</span><span>ਸੰਭਾਲ</span><span>ਕਰ</span><span>ਸਕਦਾ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਸਮਾਂ", "ਬਹੁਤ", "ਕੀਮਤੀ", "ਹੈ", "।", "ਕੋਈ", "ਗੁਆਚੀ", "ਵਸਤੂ", "ਤਾਂ", "ਹੱਥ", "ਆ", "ਸਕਦੀ", "ਹੈ,", "ਪਰ", "ਬੀਤਿਆਂ", "ਸਮਾਂ", "ਕਿਸੇ", "ਸਾਧਨ", "ਜਾਂ", "ਕੀਮਤ", "ਨਾਲ", "ਵਾਪਸ", "ਨਹੀਂ", "ਆਉਂਦਾ", "।ਇਸ", "ਕਰਕੇ", "ਸਾਨੂੰ", "ਸਮੇਂ", "ਦੇ", "ਨਿੱਕੇ-ਨਿੱਕੇ", "ਅੰਸ਼", "ਦਾ", "ਲਾਭ", "ਉਠਾਉਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "ਅਤੇ", "ਸਮੇਂ", "ਦੀ", "ਵਰਤੋਂ", "ਠੀਕ", "ਤਰੀਕੇ", "ਨਾਲ", "ਕਰਨੀ", "ਚਾਹੀਦੀ", "ਹੈ", "।", "ਕੁਝ", "ਲੋਕਾਂ", "ਵਿੱਚ", "ਇਹ", "ਆਮ", "ਗੱਲ", "ਹੈ", "ਕਿ", "ਉਹ", "ਸਮੇਂ", "ਦੀ", "ਕਦਰ", "ਨਹੀਂ", "ਕਰਦੇ", "।ਅਸੀਂ", "ਕਿਸੇ", "ਕੰਮ", "ਵਿੱਚ", "ਥੋੜ੍ਹਾ", "ਬਹੁਤ", "ਵਧੇਰੇ", "ਸਮਾਂ", "ਲੱਗ", "ਜਾਣ", "ਨੂੰ", "ਇਕ", "ਮਾਮੂਲੀ", "ਗੱਲ", "ਸਮਝਦੇ", "ਹਾਂ,", "ਅਤੇ", "ਸਾਨੂੰ", "ਸਮੇਂ", "ਦਾ", "ਹੱਥੋਂ", "ਜਾਣ", "ਦਾ", "ਡਰ", "ਨਹੀਂ", "ਹੁੰਦਾ", "।", "ਫਿਰ", "ਸਾਡੀਆਂ", "ਆਦਤਾਂ", "ਅਜਿਹੀਆਂ", "ਹਨ", "ਕਿ", "ਸਾਡੇ", "ਖਾਣ-ਪੀਣ,", "ਉੱਠਣ,", "ਜਾਗਣ,", "ਦਫ਼ਤਰ", "ਜਾਣ,", "ਖੇਡਣ", "ਤੇ", "ਪੜ੍ਹਣ", "ਦਾ", "ਕੋਈ", "ਸਮਾਂ", "ਨਹੀਂ", "ਹੁੰਦਾ", "ਹੈ", "।", "ਜਦੋਂ", "ਸਾਡਾ", "ਮੰਨ", "ਕਰਦਾ", "ਹੈ,", "ਅੱਸੀਂ", "ਖਾਣ", "ਬਹਿ", "ਜਾਂਦੇ", "ਹਾਂ,", "ਜਦੋਂ", "ਜੀ", "ਕਰਦਾ", "ਹੈ,", "ਸੋ", "ਜਾਂਦੇ", "ਹਾਂ", "ਤੇ", "ਜਦੋਂ", "ਜੀ", "ਕਰਦਾ", "ਹੈ", "ਨੀਂਦ", "ਤੋਂ", "ਜਾਗਦੇ", "ਹਾਂ", "ਤੇ", "ਜਦੋਂ", "ਜੀ", "ਕਰਦਾ", "ਹੈ", "ਅਸੀਂ", "ਉੱਠਦੇ", "ਹਾਂ", "ਤੇ", "ਜਦੋਂ", "ਜੀ", "ਕਰਦਾ", "ਹੈ", "ਅਸੀਂ", "ਪੜ੍ਹਣ", "ਲਿਖਣ", "ਬੈਠ", "ਜਾਂਦੇ", "ਹਾਂ", "।ਜੇਕਰ", "ਕਿਸੇ", "ਦੋਸਤ", "ਜਾਂ", "ਰਿਸ਼ਤੇਦਾਰ", "ਕੋਲ", "ਜਾਵਾਂਗੇ,", "ਤਾਂ", "ਉਸ", "ਦੇ", "ਕੋਲ", "ਬਹਿ", "ਕੇ", "ਬਹੁਤਾ", "ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰਨ", "ਨੂੰ", "ਅਸੀਂ", "ਚੰਗੀ", "ਗੱਲ", "ਸਮਝਦੇ", "ਹਾਂ", "।", "ਇਸੇ", "ਪ੍ਰਕਾਰ", "ਹੀ", "ਜਾਂ", "ਤਾਂ", "ਅਸੀਂ", "ਖੇਡਣ", "ਵਿੱਚ", "ਰੁੱਝੇ", "ਰਹਾਂਗੇ", "ਜਾਂ", "ਰੇਡੀਓ", "ਸੁਣਨ,", "ਅਖ਼ਬਾਰਾਂ", "ਪੜ੍ਹਨ", "ਤੇ", "ਟੈਲੀਵਿਜ਼ਨ", "ਦੇਖਣ,", "ਇੱਧਰ-ਉੱਧਰ", "ਘੁੰਮਣ", "ਵਿੱਚ", "ਮਸਤ", "ਰਹਾਂਗੇ", "।ਜੇਕਰ", "ਆਪਣੇ", "ਘਰ", "ਟੈਲੀਵਿਜ਼ਨ", "ਨਾ", "ਹੋਵੇ,", "ਤਾਂ", "ਕੰਧ", "ਟੱਪ", "ਕੇ", "ਦੂਸਰੇ", "ਦੇ", "ਘਰ", "ਜਾ", "ਵੜਾਂਗੇ", "।", "ਜੇਕਰ", "ਸੜਕ", "'ਤੇ", "ਜਾਂਦਿਆਂ", "ਕੋਈ", "ਤਮਾਸ਼ਾ", "ਲੱਗਾ", "ਹੋਵੇ,", "ਤਾਂ", "ਅਸੀਂ", "ਉਸ", "ਦੁਆਲੇ", "ਜਮ੍ਹਾਂ", "ਹੋਏ", "ਇਕੱਠ", "ਵਿੱਚ", "ਵੜ", "ਜਾਵਾਂਗੇ", "ਤੇ", "ਆਪਣੀਆਂ", "ਜ਼ਿੰਮੇਵਾਰੀਆਂ", "ਨੂੰ", "ਭੁੱਲ", "ਕੇ", "ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰਾਂਗੇ", "।ਇਸੇ", "ਪ੍ਰਕਾਰ", "ਹੀ", "ਅਸੀਂ", "ਪ੍ਰਾਹੁਣਚਾਰੀ", "ਕਰਨ", "ਵਿੱਚ,", "ਵਿਆਹ", "ਸ਼ਾਦੀਆਂ", "ਵੇਲੇ,", "ਜਲੂਸਾਂ", "ਵਿੱਚ,", "ਖੇਡਾਂ", "ਵਿੱਚ,", "ਫਾਲਤੂ", "ਗੱਲਾਂ", "ਵਿੱਚ", "ਤੇ", "ਸ਼ਰਾਰਤਾਂ", "ਕਰਨ", "ਵਿੱਚ", "ਆਪਣਾ", "ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰਦੇ", "ਹਾਂ", "।", "ਕਈ", "ਵਾਰ", "ਅਸੀਂ", "ਆਪਣਾ", "ਸਮਾਂ", "ਤਾ", "ਗੁਆਉਣਾ", "ਹੀ", "ਹੁੰਦਾ", "ਹੈ", "", "ਨਾਲ", "ਹੀ", "ਦੂਜਿਆਂ", "ਦਾ", "ਕੀਮਤੀ", "ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰ", "ਦਿੰਦੇ", "ਹਾਂ,", "ਜਿਵੇਂ", "ਵਿਆਹ", "ਸ਼ਾਦੀਆਂ", "ਸਮੇਂ", "ਜਾਂ", "ਕਿਸੇ", "ਧਾਰਮਿਕ", "ਉਤਸਵ", "ਸਮੇਂ", "ਢੋਲਕੀਆਂ", "ਛੈਣੇ", "ਖੜਕਾਉਂਦੇ", "ਅਸੀਂ", "ਦੁਪਹਿਰ", "ਚੜ੍ਹਾ", "ਦਿੰਦੇ", "ਹਾਂ", "ਤੇ", "ਲਾਊਡ", "ਸਪੀਕਰ", "ਲਾ", "ਆਂਢੀਆਂ-ਗੁਆਂਢੀਆਂ", "ਨੂੰ", "ਤਕਲੀਫ", "ਦਿੰਦੇ", "ਹਾਂ", "।", "ਅਜਿਹੇ", "ਪ੍ਰੋਗਰਾਮ", "ਸਮੇਂ", "ਅਸੀਂ", "ਆਏ", "ਰਿਸ਼ਤੇਦਾਰਾਂ", "ਦੇ", "ਸਮੇਂ", "ਦੀ", "ਉੱਕੀ", "ਪਰਵਾਹ", "ਨਹੀਂ", "ਕਰਦੇ", "।ਵਿਚਾਰੇ", "ਸਿਸ਼ਟਾਚਾਰ", "ਦੇ", "ਮਾਰੇ", "ਨਾ", "ਉੱਠਣ", "ਜ਼ੋਗੇ", "ਹੁੰਦੇ", "ਹਨ", "ਨਾ", "ਤੇ", "ਨਾ", "ਧਿਆਨ", "ਨਾਲ", "ਕੁੱਝ", "ਸੁਣਨ", "ਜ਼ੋਗੇ", "।", "ਬੈਠੇ", "ਆਪਣੇ", "ਆਪ", "ਨੂੰ", "ਵੀ", "ਕੋਸਦੇ", "ਹਨ", "ਤੇ", "ਸਾਡੇ", "ਵਰਗੇ", "ਪ੍ਰਬੰਧਕਾਂ", "ਤੇ", "ਘਰਾਂ", "ਵਾਲਿਆਂ", "ਨੂੰ", "ਵੀ", "।", "ਇਹਨਾਂ", "ਸਾਰੀਆਂ", "ਗੱਲਾਂ", "ਦਾ", "ਕਾਰਨ", "ਇਹ", "ਹੈ", "ਕਿ", "ਅਸੀਂ", "ਅਜੇ", "ਸਮਾਂ", "ਦਾ", "ਮੁੱਲ", "ਪਾਉਣਾ", "ਨਹੀਂ", "ਸਿੱਖੇ", "।", "ਅਸੀਂ", "ਵਕਤ", "ਦੀ", "ਯੋਗ", "ਵੰਡ", "ਕਰਨੀ", "ਨਹੀਂ", "ਜਾਣਦੇ", "।", "ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰਨ", "ਦੇ", "ਨੁਕਸਾਨ", "ਤਾਂ", "ਸਪੱਸ਼ਟ", "ਹੀ", "ਹਨ", "।", "ਜ਼ਰਾ", "ਸੋਚੋ,", "ਜੇਕਰ", "ਰੇਲਾਂ", "ਸਮੇਂ", "ਸਿਰ", "ਨਾ", "ਚੱਲਣ", "ਤਾਂ", "ਕੀ", "ਹੋਵੇ?", "", "ਜ਼ਰਾ", "ਸੋਚੋ,", "ਜੇਕਰ", "ਸਰਕਾਰੀ", "ਦਫ਼ਤਰਾਂ,", "ਬੈਂਕਾਂ,", "ਡਾਕਖਾਨਿਆਂ,", "ਟੈਲੀਫ਼ੋਨਾਂ", "ਤੇ", "ਰੇਡੀਓ", "ਸਟੇਸ਼ਨਾਂ", "ਦੇ", "ਕਰਮਚਾਰੀ", "ਆਪਣੀ", "ਡਿਊਟੀ", "ਦੇਣ", "ਲਈ", "ਸਮੇਂ", "ਸਿਰ", "ਨਾ", "ਪੁੱਜਣ,", "ਤਾਂ", "ਕੀ", "ਹੋਵੇ?", "ਜੇਕਰ", "ਅਜਿਹਾ", "ਹੋਵੇ", "", "ਤਾਂ", "ਸੱਚਮੁੱਚ", "ਹੀ", "ਬੜੀ", "ਗੜਬੜ", "ਮਚ", "ਜਾਵੇ", "ਤੇ", "ਚਾਰੇ", "ਪਾਸੇ", "ਦੁੱਖ", "ਤੇ", "ਤਕਲੀਫ਼ਾਂ", "ਫੈਲ", "ਜਾਣ", "।ਸਮਾਂ", "ਨਸ਼ਟ", "ਕਰ", "ਕੇ", "ਅਸੀਂ", "ਆਪਣੇ", "ਆਪ", "ਨੂੰ", "ਧੋਖਾ", "ਦਿੰਦੇ", "ਹਾਂ", "ਤੇ", "ਭਾਰੀ", "ਨੁਕਸਾਨ", "ਦੇ", "ਭਾਗੀ", "ਬਣਦੇ", "ਹਾਂ", "।ਸਾਡਾ", "ਕੋਈ", "ਵੀ", "ਕੰਮ", "ਠੀਕ", "ਸਮੇ", "ਸਿਰ", "ਨਹੀਂ", "ਚੜ੍ਹਦਾ", "ਤੇ", "ਕਈ", "ਜ਼ਰੂਰੀ", "ਕੰਮ", "ਖਰਾਬ", "ਹੋ", "ਜਾਂਦੇ", "ਹਨ", "।ਇਸ", "ਪ੍ਰਕਾਰ", "ਸਾਨੂੰ", "ਬੀਤੇ", "ਸਮੇਂ", "ਦੇ", "ਹੱਥੋਂ", "ਖੁਸਣ", "ਉੱਤੇ", "ਪਛਤਾਉਣਾ", "ਪੈਂਦਾ", "ਹੈ", "।", "ਵਕਤ", "ਦੀ", "ਕਦਰ", "ਨਾ", "ਕਰਨ", "ਵਾਲਾ", "ਮਨੁੱਖ", "ਆਪਣੇ", "ਲਈ", "ਵੀ", "ਤੇ", "ਦੂਜਿਆਂ", "ਲਈ", "ਵੀ", "ਇਕ", "ਮੁਸੀਬਤ", "ਦਾ", "ਕਾਰਨ", "ਬਣ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਉਹ", "ਹਮੇਸ਼ਾ", "ਜਲਦੀ", "ਵਿੱਚ", "ਰਹਿੰਦਾ", "ਹੈ,", "ਪਰ", "ਉਹ", "ਨਾ", "ਕੋਈ", "ਕੰਮ", "ਸਿਰੇ", "ਚਾੜ੍ਹ", "ਸਕਦਾ", "ਹੈ", "ਤੇ", "ਨਾ", "ਹੀ", "ਸਮੇਂ", "ਦੀ", "ਸੰਭਾਲ", "ਕਰ", "ਸਕਦਾ", "ਹੈ", "।"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>
}







