
@{

    ViewBag.Title = "Passage Typing : Lesson 19 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 19:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "20" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 506   </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਬਿਜਲੀ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਵਿੱਚ</span><span>ਮਹੱਤਵਪੂਰਨ</span><span>ਸਥਾਣ</span><span>ਬਣ</span><span>ਗਿਆ</span><span>ਹੈ</span><span>|</span><span>ਨਿੱਤ</span><span>ਵਰਤੋਂ</span><span>ਦੀਆਂ</span><span>ਵਸਤੂਆਂ</span><span>ਹੀ</span><span>ਲੈ</span><span>ਲਈਏ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਵਿੱਚੋਂ</span><span>ਕਿੰਨੀਆਂ</span><span>ਹੀ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਨਾਲ</span><span>ਚੱਲਣ</span><span>ਵਾਲੇ</span><span>ਕਾਰਖਾਨਿਆਂ</span><span>ਵਿੱਚ</span><span>ਬਣੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਰੇਡੀਓ,</span><span>ਟੇਲੀਵਿਜਨ,</span><span>ਫਰਿਜ,</span><span>ਕੂਲਰ,</span><span>ਹੀਟਰ,</span><span>ਪੱਖੇ,</span><span>ਬਲੱਬ,</span><span>ਟਿਊਬਾਂ</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਦਿਨੋ-ਦਿਨ</span><span>ਵਧ</span><span>ਰਹੀ</span><span>ਹੈ,</span><span>ਬਿਜਲੀ</span><span>ਨਾਲ</span><span>ਚਲਦੇ</span><span>ਹਨ</span><span>|</span><span>ਓਦਯੋਗਾਂ</span><span>ਤੋਂ</span><span>ਬਿਨਾ</span><span>ਖੇਤੀਬਾੜੀ</span><span>ਲਈ</span><span>ਵਰਤੀਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਕਈ</span><span>ਮਸ਼ੀਨਾਂ</span><span>ਵੀ</span><span>ਬਿਜਲੀ</span><span>ਨਾਲ</span><span>ਚਲਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਸਪਸ਼ਟ</span><span>ਹੈ</span><span>ਸਾਡੀ</span><span>ਜਿੰਦਗੀ</span><span>ਵਿੱਚ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਵਿੱਚ</span><span>ਵਾਧਾ</span><span>ਹੋ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਸਮੁੱਚੇ</span><span>ਦੇਸ਼</span><span>ਦੀ</span><span>ਉਸਾਰੀ</span><span>ਦੇ</span><span>ਕੰਮਾ</span><span>ਵਿੱਚ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਵਧਦੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਮੰਗ</span><span>ਕਰਨ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਪ੍ਰੀਤਦਿਨ</span><span>ਵਧਦੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਮੰਗ</span><span>ਕਰਨ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਦੀ</span><span>ਥੁੜ</span><span>ਹੋ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਥੁੜ</span><span>ਪੂਰੀ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਉਪਜ</span><span>ਵਿੱਚ</span><span>ਵਾਧਾ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਕੰਮ</span><span>ਲਈ</span><span>ਕਰੋੜਾ</span><span>ਰੁਪਿਆ</span><span>ਅਤੇ</span><span>ਲਮਾਂ</span><span>ਸਮਾਂ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਸੀਮਤ</span><span>ਸਾਧਨਾਂ</span><span>ਕਰਨ</span><span>ਅਤੇ</span><span>ਇਸ</span><span>ਗਤੀ</span><span>ਨਾਲ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਪੈਦਾਵਾਰ</span><span>ਵਧਾਉਣਾ</span><span>ਸੰਭਵ</span><span>ਨਹੀਂ</span><span>|</span><span>ਇਸ</span><span>ਲਈ</span><span>ਇਹ</span><span>ਸੋਚਣ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਜਿੰਨੀ</span><span>ਸ਼ਕਤੀ</span><span>ਸਾਡੇ</span><span>ਕੋਲ,</span><span>ਹੈ</span><span>ਉਸ</span><span>ਨੂੰ</span><span>ਸੰਜਮ</span><span>ਨਾਲ</span><span>ਕਿਵੇਂ</span><span>ਵਰਤਿਆ</span><span>ਜਾਵੇ</span><span>|</span><span>ਵਰਤਮਾਨ</span><span>ਸਾਧਨਾਂ</span><span>ਨੂੰ</span><span>ਹੀ</span><span>ਠੀਕ</span><span>ਢੰਗ</span><span>ਨਾਲ</span><span>ਕਿਵੇਂ</span><span>ਵਰਤਿਆ</span><span>ਜਾਵੇ</span><span>|</span><span>ਵਰਤਮਾਨ</span><span>ਸਾਧਨਾਂ</span><span>ਨੂੰ</span><span>ਹੀ</span><span>ਠੀਕ</span><span>ਢੰਗ</span><span>ਨਾਲ</span><span>ਵਰਤਣ</span><span>ਦਾ</span><span>ਸਾਰੇ</span><span>ਦੇਸ</span><span>ਦੀ</span><span>ਉਪਜ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਕਰਕੇ</span><span>ਕਾਰਖਾਨਿਆਂ</span><span>ਅਤੇ</span><span>ਖੇਤਾਂ</span><span>ਵਿੱਚ</span><span>ਹੋਣ</span><span>ਵਾਲੀ</span><span>ਉਪਜ</span><span>ਤੇ</span><span>ਲਾਹੇਵੰਦ</span><span>ਪ੍ਰਭਾਵ</span><span>ਪਵੇਗਾ</span><span>|</span><span>ਕੌਮੀ</span><span>ਪੱਧਰ</span><span>ਤੇ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਸਪਲਾਈ</span><span>ਅਤੇ</span><span>ਮੰਗ</span><span>ਦੀ</span><span>ਪੂਰਤੀ</span><span>ਕਵੇਲ</span><span>ਤਾ</span><span>ਹੀ</span><span>ਘੱਟ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>ਜੇ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਵਿੱਚ</span><span>ਸੰਜਮ</span><span>ਕੀਤਾ</span><span>ਜਾਵੇ</span><span>|</span><span>ਇਹ</span><span>ਸੰਜਮ</span><span>ਸਾਰੇ</span><span>ਦੇਸ਼</span><span>ਵਾਸੀ</span><span>ਸਮੂਹ</span><span>ਰੂਪ</span><span>ਵਿੱਚ</span><span>ਰਲ</span><span>ਕੇ</span><span>ਕਰਨ</span><span>|</span><span>ਘਰ</span><span>ਵਿੱਚ</span><span>ਖ਼ਰਚੇ</span><span>ਜਾਣ</span><span>ਵਾਲੇ</span><span>ਪੈਸਿਆਂ</span><span>ਵਾਗ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਖ਼ਰਚ</span><span>ਦੀ</span><span>ਯੋਜਨਾ-ਬੁੱਧ</span><span>ਢੰਗ</span><span>ਨਾਲ਼</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>|</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਸ਼ਕਤੀ</span><span>ਨਾਲ</span><span>ਸੰਬੰਧ</span><span>ਰੱਖਣ</span><span>ਵਾਲੀਆਂ</span><span>ਲੋੜਾਂ</span><span>ਘਟਾਉਣੀਆਂ</span><span>ਚਾਹੀਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਇਸ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਖ਼ਪਤ</span><span>ਵਾਲੇ</span><span>ਸਾਧਨਾਂ</span><span>ਨੂੰ</span><span>ਵਰਤਣ</span><span>ਵੇਲੇ</span><span>ਸੰਜਮ</span><span>ਤੋਂ</span><span>ਕੰਮ</span><span>ਲੈਣ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਮਨੋਰਥ</span><span>ਨੂੰ</span><span>ਪੂਰਾ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਸਾਨੂੰ</span><span>ਆਪਣੇ</span><span>ਸਰੀਰ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਸੋਧ</span><span>ਲੈਣੇ</span><span>ਚਾਹੀਦੇ</span><span>ਹਨ</span><span>ਕਿ</span><span>ਥੋੜ੍ਹੀ</span><span>ਬਹੁਤੀ</span><span>ਗਰਮੀ</span><span>ਤੇ</span><span>ਸਰਦੀ</span><span>ਨੂੰ</span><span>ਸਹਿ</span><span>ਸਕਣ</span><span>ਅਤੇ</span><span>ਸਧਾਰਨ</span><span>ਤਾਪਮਾਨ</span><span>ਵਿੱਚ</span><span>ਮੋਸਮ</span><span>ਅਨੁਸਾਰ</span><span>ਹੀਟਰ</span><span>ਜਾ</span><span>ਕੂਲਰ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੀ</span><span>ਮਹਿਸੂਸ</span><span>ਨਾ</span><span>ਹੋਵੇ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਸਾਧਨਾਂ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਘਟਾਉਣ</span><span>ਨਾਲ</span><span>ਜੀਵਨ</span><span>ਦੇ</span><span>ਸੁਖਚੈਨ</span><span>ਵਿਚ</span><span>ਖ਼ਾਸ</span><span>ਫ਼ਰਕ</span><span>ਨਹੀਂ</span><span>ਪੈਂਦਾ</span><span>ਪਰ</span><span>ਕੌਮੀ</span><span>ਪੱਧਰ</span><span>ਤੇ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਬੱਚਤ</span><span>ਬਹੁਤ</span><span>ਹੋ</span><span>ਸਕਦੀ</span><span>ਹੈ</span><span>|</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਆਮ</span><span>ਵਰਤੋਂ</span><span>ਸਮੇਂ</span><span>ਸੰਜਮ</span><span>ਵਾਲਾ</span><span>ਰਵੱਈਆ</span><span>ਅਪਣਾਉਣਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਘਰਾਂ</span><span>ਵਿੱਚ</span><span>ਬਲਬਾਂ,</span><span>ਟਿਊਬਾਂ</span><span>ਅਤੇ</span><span></span><span>ਪੱਖਿਆਂ</span><span>ਦੀ</span><span>ਵਰਤੋਂ</span><span>ਦੇਰ</span><span>ਹੀ</span><span>ਕੀਤਾ</span><span>ਜਾਵੇ</span><span>ਜਿੰਨੀ</span><span>ਦੇ</span><span>ਸੱਚਮੁੱਚ</span><span>ਲੌੜੀਦੀ</span><span>ਹੋਵੇ</span><span>|</span><span>ਵਰਤੋਂ</span><span>ਤੋਂ</span><span>ਇਕਦਮ</span><span>ਬਾਅਦ</span><span>ਇਹਨਾਂ</span><span>ਨੂੰ</span><span>ਬੰਦ</span><span>ਕਰ</span><span>ਦੇਣ</span><span>ਦੀ</span><span>ਆਦਤ</span><span>ਬਣਾਉਣ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>|</span><span>ਕਈ</span><span>ਵਾਰ</span><span>ਅਜਿਹਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਅਸੀਂ</span><span>ਜਾਗਦੀ</span><span>ਬੱਤੀ</span><span>ਜਾ</span><span>ਚਲਦਾ</span><span>ਪੱਖਾ</span><span>ਛੱਡ</span><span>ਕੇ</span><span>ਚਲੇ</span><span>ਜਾਂਦੇ</span><span>ਹਾਂ</span><span>|</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਬੇਲੋੜੀ</span><span>ਬਿਜਲੀ</span><span>ਜਾਇਆ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਪ੍ਰਕਾਰ</span><span>ਦੀ</span><span>ਜਾਇਆ</span><span>ਹੋ</span><span>ਰਹੀ</span><span>ਬਿਜਲੀ</span><span>ਵੱਲ</span><span>ਉਚੇਚਾ</span><span>ਧਿਆਨ</span><span>ਦੇਣ</span><span>ਦੀ</span><span>ਲੋੜ</span><span>ਹੈ</span><span>|</span><span>ਜੀਵਨ</span><span>ਵਿੱਚ</span><span>ਬਿਜਲੀ</span><span>ਦੁਆਰਾ</span><span>ਮਿਲੇ</span><span>ਸੁੱਖਾਂ</span><span>ਅਤੇ</span><span>ਸੁਵਿਧਾਵਾਂ</span><span>ਨੂੰ</span><span>ਸਮਝਾਦਿਆਂ</span><span>ਅਤੇ</span><span>ਸੰਜਮ</span><span>ਨਾਲ</span><span>ਕੀਤੀ</span><span>ਵਰਤੋਂ</span><span>ਦੇ</span><span>ਲਾਭ</span><span>ਵੱਲ</span><span>ਧਿਆਨ</span><span>ਦੇਂਦਿਆਂ</span><span>ਇਸ</span><span>ਗੱਲ</span><span>ਦਾ</span><span>ਅਹਿਸਾਸ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਬਿਜਲੀ</span><span>ਦੀ</span><span>ਬੱਚਤ</span><span>ਆਮ</span><span>ਲੋਕਾਂ</span><span>ਨੇ</span><span>ਹੀ</span><span>ਕਰਨੀ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਦੇ</span><span>ਲਈ</span><span>ਕੋਈ</span><span>ਨਿਸਚਿਤ</span><span>ਕਾਨੂੰਨ</span><span>ਜਾਂ</span><span>ਨਿਯਮ</span><span>ਨਹੀਂ</span><span>ਬਣਾਏ</span><span>ਜਾ</span><span>ਸਕਦੇ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਬਿਜਲੀ", "ਸਾਡੇ", "ਜੀਵਨ", "ਵਿੱਚ", "ਮਹੱਤਵਪੂਰਨ", "ਸਥਾਣ", "ਬਣ", "ਗਿਆ", "ਹੈ", "|", "ਨਿੱਤ", "ਵਰਤੋਂ", "ਦੀਆਂ", "ਵਸਤੂਆਂ", "ਹੀ", "ਲੈ", "ਲਈਏ", "|", "ਇਹਨਾਂ", "ਵਿੱਚੋਂ", "ਕਿੰਨੀਆਂ", "ਹੀ", "ਬਿਜਲੀ", "ਦੀ", "ਸ਼ਕਤੀ", "ਨਾਲ", "ਚੱਲਣ", "ਵਾਲੇ", "ਕਾਰਖਾਨਿਆਂ", "ਵਿੱਚ", "ਬਣੀਆਂ", "ਹਨ", "|", "ਰੇਡੀਓ,", "ਟੇਲੀਵਿਜਨ,", "ਫਰਿਜ,", "ਕੂਲਰ,", "ਹੀਟਰ,", "ਪੱਖੇ,", "ਬਲੱਬ,", "ਟਿਊਬਾਂ", "ਜਿਨ੍ਹਾਂ", "ਦੀ", "ਵਰਤੋਂ", "ਦਿਨੋ-ਦਿਨ", "ਵਧ", "ਰਹੀ", "ਹੈ,", "ਬਿਜਲੀ", "ਨਾਲ", "ਚਲਦੇ", "ਹਨ", "|", "ਓਦਯੋਗਾਂ", "ਤੋਂ", "ਬਿਨਾ", "ਖੇਤੀਬਾੜੀ", "ਲਈ", "ਵਰਤੀਆਂ", "ਜਾਂਦੀਆਂ", "ਕਈ", "ਮਸ਼ੀਨਾਂ", "ਵੀ", "ਬਿਜਲੀ", "ਨਾਲ", "ਚਲਦੀਆਂ", "ਹਨ", "|", "ਸਪਸ਼ਟ", "ਹੈ", "ਸਾਡੀ", "ਜਿੰਦਗੀ", "ਵਿੱਚ", "ਬਿਜਲੀ", "ਦੀ", "ਵਰਤੋਂ", "ਵਿੱਚ", "ਵਾਧਾ", "ਹੋ", "ਰਿਹਾ", "ਹੈ", "|", "ਸਮੁੱਚੇ", "ਦੇਸ਼", "ਦੀ", "ਉਸਾਰੀ", "ਦੇ", "ਕੰਮਾ", "ਵਿੱਚ", "ਬਿਜਲੀ", "ਦੀ", "ਵਧਦੀ", "ਜਾ", "ਰਹੀ", "ਮੰਗ", "ਕਰਨ", "ਬਿਜਲੀ", "ਦੀ", "ਪ੍ਰੀਤਦਿਨ", "ਵਧਦੀ", "ਜਾ", "ਰਹੀ", "ਮੰਗ", "ਕਰਨ", "ਬਿਜਲੀ", "ਦੀ", "ਸ਼ਕਤੀ", "ਦੀ", "ਥੁੜ", "ਹੋ", "ਰਹੀ", "ਹੈ", "|", "ਇਹ", "ਥੁੜ", "ਪੂਰੀ", "ਕਰਨ", "ਲਈ", "ਬਿਜਲੀ", "ਦੀ", "ਉਪਜ", "ਵਿੱਚ", "ਵਾਧਾ", "ਕਰਨ", "ਦੀ", "ਲੋੜ", "ਹੈ", "|", "ਇਸ", "ਕੰਮ", "ਲਈ", "ਕਰੋੜਾ", "ਰੁਪਿਆ", "ਅਤੇ", "ਲਮਾਂ", "ਸਮਾਂ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਦੇਸ਼", "ਵਿੱਚ", "ਸੀਮਤ", "ਸਾਧਨਾਂ", "ਕਰਨ", "ਅਤੇ", "ਇਸ", "ਗਤੀ", "ਨਾਲ", "ਬਿਜਲੀ", "ਦੀ", "ਪੈਦਾਵਾਰ", "ਵਧਾਉਣਾ", "ਸੰਭਵ", "ਨਹੀਂ", "|", "ਇਸ", "ਲਈ", "ਇਹ", "ਸੋਚਣ", "ਦੀ", "ਲੋੜ", "ਹੈ", "ਕਿ", "ਜਿੰਨੀ", "ਸ਼ਕਤੀ", "ਸਾਡੇ", "ਕੋਲ,", "ਹੈ", "ਉਸ", "ਨੂੰ", "ਸੰਜਮ", "ਨਾਲ", "ਕਿਵੇਂ", "ਵਰਤਿਆ", "ਜਾਵੇ", "|", "ਵਰਤਮਾਨ", "ਸਾਧਨਾਂ", "ਨੂੰ", "ਹੀ", "ਠੀਕ", "ਢੰਗ", "ਨਾਲ", "ਕਿਵੇਂ", "ਵਰਤਿਆ", "ਜਾਵੇ", "|", "ਵਰਤਮਾਨ", "ਸਾਧਨਾਂ", "ਨੂੰ", "ਹੀ", "ਠੀਕ", "ਢੰਗ", "ਨਾਲ", "ਵਰਤਣ", "ਦਾ", "ਸਾਰੇ", "ਦੇਸ", "ਦੀ", "ਉਪਜ", "ਵਿਸ਼ੇਸ਼", "ਕਰਕੇ", "ਕਾਰਖਾਨਿਆਂ", "ਅਤੇ", "ਖੇਤਾਂ", "ਵਿੱਚ", "ਹੋਣ", "ਵਾਲੀ", "ਉਪਜ", "ਤੇ", "ਲਾਹੇਵੰਦ", "ਪ੍ਰਭਾਵ", "ਪਵੇਗਾ", "|", "ਕੌਮੀ", "ਪੱਧਰ", "ਤੇ", "ਬਿਜਲੀ", "ਦੀ", "ਸਪਲਾਈ", "ਅਤੇ", "ਮੰਗ", "ਦੀ", "ਪੂਰਤੀ", "ਕਵੇਲ", "ਤਾ", "ਹੀ", "ਘੱਟ", "ਸਕਦੀ", "ਹੈ", "ਜੇ", "ਬਿਜਲੀ", "ਦੀ", "ਵਰਤੋਂ", "ਵਿੱਚ", "ਸੰਜਮ", "ਕੀਤਾ", "ਜਾਵੇ", "|", "ਇਹ", "ਸੰਜਮ", "ਸਾਰੇ", "ਦੇਸ਼", "ਵਾਸੀ", "ਸਮੂਹ", "ਰੂਪ", "ਵਿੱਚ", "ਰਲ", "ਕੇ", "ਕਰਨ", "|", "ਘਰ", "ਵਿੱਚ", "ਖ਼ਰਚੇ", "ਜਾਣ", "ਵਾਲੇ", "ਪੈਸਿਆਂ", "ਵਾਗ", "ਬਿਜਲੀ", "ਦੀ", "ਖ਼ਰਚ", "ਦੀ", "ਯੋਜਨਾ-ਬੁੱਧ", "ਢੰਗ", "ਨਾਲ਼", "ਕਰਨ", "ਦੀ", "ਲੋੜ", "ਹੈ", "|", "ਬਿਜਲੀ", "ਦੀ", "ਸ਼ਕਤੀ", "ਨਾਲ", "ਸੰਬੰਧ", "ਰੱਖਣ", "ਵਾਲੀਆਂ", "ਲੋੜਾਂ", "ਘਟਾਉਣੀਆਂ", "ਚਾਹੀਦੀਆਂ", "ਹਨ", "|", "ਇਸ", "ਦੇ", "ਨਾਲ", "ਹੀ", "ਬਿਜਲੀ", "ਦੀ", "ਖ਼ਪਤ", "ਵਾਲੇ", "ਸਾਧਨਾਂ", "ਨੂੰ", "ਵਰਤਣ", "ਵੇਲੇ", "ਸੰਜਮ", "ਤੋਂ", "ਕੰਮ", "ਲੈਣ", "ਦੀ", "ਲੋੜ", "ਹੈ", "|", "ਇਸ", "ਮਨੋਰਥ", "ਨੂੰ", "ਪੂਰਾ", "ਕਰਨ", "ਲਈ", "ਸਾਨੂੰ", "ਆਪਣੇ", "ਸਰੀਰ", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਸੋਧ", "ਲੈਣੇ", "ਚਾਹੀਦੇ", "ਹਨ", "ਕਿ", "ਥੋੜ੍ਹੀ", "ਬਹੁਤੀ", "ਗਰਮੀ", "ਤੇ", "ਸਰਦੀ", "ਨੂੰ", "ਸਹਿ", "ਸਕਣ", "ਅਤੇ", "ਸਧਾਰਨ", "ਤਾਪਮਾਨ", "ਵਿੱਚ", "ਮੋਸਮ", "ਅਨੁਸਾਰ", "ਹੀਟਰ", "ਜਾ", "ਕੂਲਰ", "ਦੀ", "ਲੋੜ", "ਹੀ", "ਮਹਿਸੂਸ", "ਨਾ", "ਹੋਵੇ", "|", "ਇਹਨਾਂ", "ਸਾਧਨਾਂ", "ਦੀ", "ਵਰਤੋਂ", "ਘਟਾਉਣ", "ਨਾਲ", "ਜੀਵਨ", "ਦੇ", "ਸੁਖਚੈਨ", "ਵਿਚ", "ਖ਼ਾਸ", "ਫ਼ਰਕ", "ਨਹੀਂ", "ਪੈਂਦਾ", "ਪਰ", "ਕੌਮੀ", "ਪੱਧਰ", "ਤੇ", "ਬਿਜਲੀ", "ਦੀ", "ਬੱਚਤ", "ਬਹੁਤ", "ਹੋ", "ਸਕਦੀ", "ਹੈ", "|", "ਬਿਜਲੀ", "ਦੀ", "ਆਮ", "ਵਰਤੋਂ", "ਸਮੇਂ", "ਸੰਜਮ", "ਵਾਲਾ", "ਰਵੱਈਆ", "ਅਪਣਾਉਣਾ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਘਰਾਂ", "ਵਿੱਚ", "ਬਲਬਾਂ,", "ਟਿਊਬਾਂ", "ਅਤੇ", "", "ਪੱਖਿਆਂ", "ਦੀ", "ਵਰਤੋਂ", "ਦੇਰ", "ਹੀ", "ਕੀਤਾ", "ਜਾਵੇ", "ਜਿੰਨੀ", "ਦੇ", "ਸੱਚਮੁੱਚ", "ਲੌੜੀਦੀ", "ਹੋਵੇ", "|", "ਵਰਤੋਂ", "ਤੋਂ", "ਇਕਦਮ", "ਬਾਅਦ", "ਇਹਨਾਂ", "ਨੂੰ", "ਬੰਦ", "ਕਰ", "ਦੇਣ", "ਦੀ", "ਆਦਤ", "ਬਣਾਉਣ", "ਦੀ", "ਲੋੜ", "ਹੈ", "|", "ਕਈ", "ਵਾਰ", "ਅਜਿਹਾ", "ਹੁੰਦਾ", "ਹੈ", "ਕਿ", "ਅਸੀਂ", "ਜਾਗਦੀ", "ਬੱਤੀ", "ਜਾ", "ਚਲਦਾ", "ਪੱਖਾ", "ਛੱਡ", "ਕੇ", "ਚਲੇ", "ਜਾਂਦੇ", "ਹਾਂ", "|", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਬੇਲੋੜੀ", "ਬਿਜਲੀ", "ਜਾਇਆ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਇਸ", "ਪ੍ਰਕਾਰ", "ਦੀ", "ਜਾਇਆ", "ਹੋ", "ਰਹੀ", "ਬਿਜਲੀ", "ਵੱਲ", "ਉਚੇਚਾ", "ਧਿਆਨ", "ਦੇਣ", "ਦੀ", "ਲੋੜ", "ਹੈ", "|", "ਜੀਵਨ", "ਵਿੱਚ", "ਬਿਜਲੀ", "ਦੁਆਰਾ", "ਮਿਲੇ", "ਸੁੱਖਾਂ", "ਅਤੇ", "ਸੁਵਿਧਾਵਾਂ", "ਨੂੰ", "ਸਮਝਾਦਿਆਂ", "ਅਤੇ", "ਸੰਜਮ", "ਨਾਲ", "ਕੀਤੀ", "ਵਰਤੋਂ", "ਦੇ", "ਲਾਭ", "ਵੱਲ", "ਧਿਆਨ", "ਦੇਂਦਿਆਂ", "ਇਸ", "ਗੱਲ", "ਦਾ", "ਅਹਿਸਾਸ", "ਹੁੰਦਾ", "ਹੈ", "ਕਿ", "ਬਿਜਲੀ", "ਦੀ", "ਬੱਚਤ", "ਆਮ", "ਲੋਕਾਂ", "ਨੇ", "ਹੀ", "ਕਰਨੀ", "ਹੈ", "|", "ਇਸ", "ਦੇ", "ਲਈ", "ਕੋਈ", "ਨਿਸਚਿਤ", "ਕਾਨੂੰਨ", "ਜਾਂ", "ਨਿਯਮ", "ਨਹੀਂ", "ਬਣਾਏ", "ਜਾ", "ਸਕਦੇ", "|"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







