
@{
    ViewBag.Title = "Passage Typing : Lesson 16 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 16:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "17" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 496  </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਸਾਡਾ</span><span>ਭਾਰਤ</span><span>ਦੇਸ਼</span><span>ਮੇਲਿਆ</span><span>ਅਤੇ</span><span>ਤਿਓਹਾਰਾਂ</span><span>ਦਾ</span><span>ਦੇਸ਼</span><span>ਹੈ</span><span>|</span><span>'ਤਿਓਹਾਰ'</span><span>ਉਸ</span><span>ਖਾਸ</span><span>ਮੌਕੇ</span><span>ਨੂੰ</span><span>ਕਹਿੰਦੇ</span><span>ਹਨ,</span><span>ਜਿਸ</span><span>ਦਿਨ</span><span>ਕੋਈ</span><span>ਇਤਹਾਸਿਕ,</span><span>ਮਿਥਿਹਾਸਿਕ,</span><span>ਧਾਰਮਿਕ</span><span>ਜਾਂ</span><span>ਸਮਾਜਿਕ</span><span>ਉਤਸਵ</span><span>ਅਨੰਦ</span><span>ਨਾਲ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਨ੍ਹਾਂ</span><span>ਦਾ</span><span>ਸੰਬੰਧ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਵਿਅਕਤੀਆ</span><span>ਨਾਲ</span><span>ਸੰਬੰਧਿਤ</span><span>ਘਟਨਾਵਾਂ</span><span>ਤੇ</span><span>ਰੁੱਤਾਂ</span><span>ਨਾਲ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਦਾ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਅੰਗ</span><span>ਹਨ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਨੂੰ</span><span>ਮਨਾਉਣ</span><span>ਲਈ</span><span>ਆਮ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਮੇਲੇ</span><span>ਲੱਗਦੇ</span><span>ਹਨ,</span><span>ਧਾਰਮਿਕ</span><span>ਗ੍ਰੰਥਾਂ</span><span>ਦੇ</span><span>ਪਾਠ,</span><span>ਤੀਰਥ-ਇਸ਼ਨਾਨ</span><span>ਮਠਿਆਈਆਂ,</span><span>ਖੇਡਾਂ,</span><span>ਤਮਾਸਿਆਂ,</span><span>ਨਾਚਾਂ</span><span>ਤੇ</span><span>ਭੰਗੜਿਆਂ</span><span>ਦਾ</span><span>ਪ੍ਰਬੰਧ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਤਿਉਹਾਰ</span><span>ਦਾ</span><span>ਦਿਨ</span><span>ਚਾਅ,</span><span>ਉਮੰਗ,</span><span>ਰਾਗ-ਰੰਗ</span><span>ਤੇ</span><span>ਖੁਸ਼ੀਆਂ</span><span>ਨਾਲ</span><span>ਭਰਪੂਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਪੂਰੇ</span><span>ਸਾਲ</span><span>ਵਿੱਚ</span><span>ਇੱਕ</span><span>ਹੀ</span><span>ਮਹੀਨਾ</span><span>ਅਜਿਹਾ</span><span>ਹੁੰਦਾ</span><span>ਹੋਵੇਗਾ</span><span>ਜਦੋਂ</span><span>ਇਕ</span><span>ਜਾ</span><span>ਦੋ</span><span>ਤਿਉਹਾਰ</span><span>ਨਾ</span><span>ਮਨਾਏ</span><span>ਜਾਂਦੇ</span><span>ਹੋਣ</span><span>|</span><span>ਜੇਕਰ</span><span>ਅਸੀਂ</span><span>ਪੂਰੇ</span><span>ਸਾਲ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਤਿਉਹਾਰ</span><span>ਵਲ</span><span>ਨਜ਼ਰ</span><span>ਮਾਰੀਏ,</span><span>ਤਾਂ</span><span>ਇਹਨਾਂ</span><span>ਦੀ</span><span>ਸਾਡੇ</span><span>ਜੀਵਨ</span><span>ਵਿੱਚ</span><span>ਲੋੜੀਂਦੀ</span><span>ਅਤੇ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਥਾਂ</span><span>ਭਲੀ-ਭਾਂਤ</span><span>ਸਪੱਸਟ</span><span>ਹੋ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਚੜ੍ਹਦੀ</span><span>ਜਨਵਰੀ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਨਵੇਂ</span><span>ਸਾਲ</span><span>ਦੇ</span><span>ਆਰੰਭ</span><span>ਹੁੰਦਆਂ</span><span>ਹੀ</span><span>ਲੋਹੜੀ</span><span>ਦਾ</span><span>ਤਿਉਹਾਰ</span><span>ਨੇੜੇ</span><span>ਢੱਕ</span><span>ਰਿਹਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਹਰ</span><span>ਰੋਜ਼</span><span>ਲੋਹੜੀ</span><span>ਮੰਗਦੇ</span><span>ਮੁੰਡੇ-ਕੁੜੀਆਂ</span><span>ਤ੍ਰਿਕਾਲਾਂ</span><span>ਵੇਲੇ</span><span>ਆਪਣੇ</span><span>ਗੀਤਾਂ</span><span>ਨਾਲ</span><span>ਵਾਤਾਵਰਨ</span><span>ਨੂੰ</span><span>ਗੁੰਜਾ</span><span>ਦਿੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਤਿਉਹਾਰ</span><span>ਮਾਘੀ</span><span>ਦੀ</span><span>ਸੰਗਰਾਂਦ</span><span>ਤੋਂ</span><span>ਇਕ</span><span>ਦਿਨ</span><span>ਪਹਿਲਾਂ</span><span>(ਆਰਾਮ</span><span>ਕਰਕੇ</span><span>13</span><span>ਜਨਵਰੀ)</span><span>ਨੂੰ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਘਰੀਂ</span><span>ਮੁੰਡੇ</span><span>ਦਾ</span><span>ਜਨਮ</span><span>ਹੋਇਆ</span><span>ਹੋਵੇ,</span><span>ਉਹਨਾਂ</span><span>ਦੇ</span><span>ਘਰ</span><span>ਇਹ।</span><span>ਦਿਨ</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਖੁਸ਼ੀਆਂ</span><span>ਭਰਪੂਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਘਰਾਂ</span><span>ਵਿੱਚ</span><span>ਮੁੰਡੇ</span><span>ਦੇ</span><span>ਜਨਮ</span><span>ਦੀ</span><span>ਖੁਸ਼ੀ</span><span>ਵਿੱਚ</span><span>ਇਕ</span><span>ਦਿਨ</span><span>ਪਹਿਲਾਂ</span><span>ਹੀ</span><span>ਲੋਹੜੀ</span><span>ਵੰਡਣੀ</span><span>ਆਰੰਭ</span><span>ਕੀਤੀ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਲੋਹੜੀ</span><span>ਦੇ</span><span>ਦਿਨ</span><span>ਇਸ</span><span>ਘਰ</span><span>ਵਿੱਚ,</span><span>ਜਿੱਥੇ</span><span>ਲੋਹੜੀ</span><span>ਮੰਗਣ</span><span>ਵਾਲੇ</span><span>ਟੋਲੀਆਂ</span><span>ਬਣਾ-ਬਣਾ</span><span>ਕੇ</span><span>ਆਉਂਦੇ</span><span>ਹਨ,</span><span>ਇਕ</span><span>ਵੱਡੀ</span><span>ਧੂਣੀ</span><span>ਲਾ</span><span>ਕੇ</span><span>ਗੀਤ</span><span>ਗਾਏ</span><span>ਤੇ</span><span>ਨਾਚ-ਨਚੇ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਰਿਓੜੀਆਂ,</span><span>ਮੂੰਗਫਲੀ,</span><span>ਚਿੜਵੇ</span><span>ਤੇ</span><span>ਬੱਕਲੀਆਂ</span><span>ਵੰਡੀਆਂ</span><span>ਤੇ</span><span>ਖਾਧੀਆਂ</span><span>ਜਾਂਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਲੋਹੜੀ</span><span>ਤੋਂ</span><span>ਅਗਲੇ</span><span>ਦਿਨ</span><span>ਮਾਘੀ</span><span>ਦਾ</span><span>ਪਵਿੱਤਰ</span><span>ਤਿਉਹਾਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਦਿਨ</span><span>ਲੋਕ</span><span>ਹਰਦੁਆਰ,</span><span>ਪ੍ਰਯਾਗ</span><span>ਤੇ</span><span>ਬਨਾਰਸ</span><span>ਆਦਿ</span><span>ਤੀਰਥ</span><span>ਉੱਪਰ</span><span>ਜਾ</span><span>ਕੇ</span><span>ਇਸ਼ਨਾਨ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਪੰਜਾਬ</span><span>ਵਿੱਚ</span><span>ਮੁਕਤਸਰ</span><span>ਵਿਖੇ</span><span>ਮਾਘੀ</span><span>ਦਾ</span><span>ਮੇਲਾ</span><span>ਲਗਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਪਿੱਛੋਂ</span><span>ਜਨਵਰੀ</span><span>ਦੇ</span><span>ਅਖੀਰ</span><span>ਜਾਂ</span><span>ਫਰਵਰੀ</span><span>ਦੇ</span><span>ਆਰੰਭ</span><span>ਵਿਚ</span><span>ਬਸੰਤ</span><span>ਪੰਚਮੀ</span><span>ਦਾ</span><span>ਤਿਉਹਾਰ</span><span>ਆਉਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਹ</span><span>ਸਿਆਲ</span><span>ਦੀ</span><span>ਰੁੱਤ</span><span>ਜਾਣ</span><span>ਤੇ</span><span>ਬਾਹਰ</span><span>ਦੀ</span><span>ਰੁੱਤ</span><span>ਆਉਣ</span><span>ਦੀ</span><span>ਖੁਸ਼ੀ</span><span>ਵਿਚ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸੇ</span><span>ਕਰਕੇ</span><span>ਕਿਹਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਆਈ</span><span>ਬਸੰਤ</span><span>ਤੇ</span><span>ਪਾਲਾ</span><span>ਉਡੰਤ</span><span>|</span><span>ਘਰ</span><span>ਵਿਚ</span><span>ਲੋਕ</span><span>ਬਸੰਤੀ</span><span>ਰੰਗ</span><span>ਦਾ</span><span>ਹਲਵਾ</span><span>ਬਣਾਉਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਮਰਦ</span><span>ਬਸੰਤੀ</span><span>ਪੱਗਾਂ</span><span>ਬੰਨ੍ਹਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਇਸਤਰੀਆਂ</span><span>ਬਸੰਤੀ</span><span>ਚੁੰਨੀਆਂ</span><span>ਲੈਂਦੀਆ</span><span>ਹਨ</span><span>|</span><span>ਲੋਕ</span><span>ਪਤੰਗ</span><span>ਵੀ</span><span>ਉਡਾਉਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਸ਼ਿਵਰਾਤਰੀ</span><span>ਦਾ</span><span>ਤਿਉਹਾਰ</span><span>ਵੀ</span><span>ਇਸ</span><span>ਮਹੀਨੇ</span><span>ਵਿਚ</span><span>ਹੀ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਮਾਰਚ</span><span>ਦੇ</span><span>ਮਹੀਨੇ</span><span>ਵਿਚ</span><span>ਏਕ</span><span>ਦੂਜੇ</span><span>ਉੱਪਰ</span><span>ਰੰਗ</span><span>ਸੁੱਟ</span><span>ਕੇ</span><span>ਹੌਲੀ</span><span>ਦਾ</span><span>ਤਿਉਹਾਰ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਪਿੱਛੋਂ</span><span>ਜੁਲਾਈ</span><span>ਵਿਚ</span><span>ਜਨਮ-ਅਸ਼ਟਮੀ</span><span>ਤੇ</span><span>ਰੱਖੜੀ</span><span>ਦਾ</span><span>ਤਿਉਹਾਰ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਸਤੰਬਰ</span><span>ਵਿਚ</span><span>ਸਰਾਧਾਂ</span><span>ਦੇ</span><span>ਦਿਨ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਦਿਨਾਂ</span><span>ਵਿਚ</span><span>ਪਿਤਰਾਂ</span><span>ਦੀ</span><span>ਯਾਦ</span><span>ਵਿਚ</span><span>ਪੰਡਤਾਂ</span><span>ਨੂੰ</span><span>ਭੋਜਨ</span><span>ਆਦਿ</span><span>ਛਕਾਏ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਹਨਾਂ</span><span>ਤੋਂ</span><span>ਮਗਰੋਂ</span><span>ਖੁਸ਼ੀਆਂ</span><span>ਨਾਲ</span><span>ਭਰਪੂਰ</span><span>ਨਰਾਤੇ</span><span>ਸ਼ੁਰੂ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਨੰਵਬਰ</span><span>ਵਿਚ</span><span>ਗੁਰੂ</span><span>ਨਾਨਕ</span><span>ਦੇਵ</span><span>ਜੀ</span><span>ਦਾ</span><span>ਜਨਮ-ਦਿਨ</span><span>ਅਤੇ</span><span>ਜਨਵਰੀ</span><span>ਵਿਚ</span><span>ਸ੍ਰੀ</span><span>ਗੁਰੂ</span><span>ਗੋਬਿੰਦ</span><span>ਸਿੰਘ</span><span>ਜੀ</span><span>ਦਾ</span><span>ਜਨਮ</span><span>ਦਿਨ</span><span>ਨਗਰ</span><span>ਕੀਰਤਨ</span><span>ਕੱਢ</span><span>ਕੇ,</span><span>ਦੀਵਾਨ</span><span>ਸਜਾ</span><span>ਕੇ</span><span>ਤੇ</span><span>ਲੰਗਰ</span><span>ਵਰਤਾ</span><span>ਕ</span><span>ਬੜੀ</span><span>ਧੂਮ-ਧਾਮ</span><span>ਅਤੇ</span><span>ਸ਼ਰਧਾ</span><span>ਨਾਲ</span><span>ਮਨਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">
        var wordList = ["ਸਾਡਾ", "ਭਾਰਤ", "ਦੇਸ਼", "ਮੇਲਿਆ", "ਅਤੇ", "ਤਿਓਹਾਰਾਂ", "ਦਾ", "ਦੇਸ਼", "ਹੈ", "|", "'ਤਿਓਹਾਰ'", "ਉਸ", "ਖਾਸ", "ਮੌਕੇ", "ਨੂੰ", "ਕਹਿੰਦੇ", "ਹਨ,", "ਜਿਸ", "ਦਿਨ", "ਕੋਈ", "ਇਤਹਾਸਿਕ,", "ਮਿਥਿਹਾਸਿਕ,", "ਧਾਰਮਿਕ", "ਜਾਂ", "ਸਮਾਜਿਕ", "ਉਤਸਵ", "ਅਨੰਦ", "ਨਾਲ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇਨ੍ਹਾਂ", "ਦਾ", "ਸੰਬੰਧ", "ਵਿਸ਼ੇਸ਼", "ਵਿਅਕਤੀਆ", "ਨਾਲ", "ਸੰਬੰਧਿਤ", "ਘਟਨਾਵਾਂ", "ਤੇ", "ਰੁੱਤਾਂ", "ਨਾਲ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਇਹ", "ਸਾਡੇ", "ਜੀਵਨ", "ਦਾ", "ਵਿਸ਼ੇਸ਼", "ਅੰਗ", "ਹਨ", "|", "ਇਹਨਾਂ", "ਨੂੰ", "ਮਨਾਉਣ", "ਲਈ", "ਆਮ", "ਤੌਰ", "ਤੇ", "ਮੇਲੇ", "ਲੱਗਦੇ", "ਹਨ,", "ਧਾਰਮਿਕ", "ਗ੍ਰੰਥਾਂ", "ਦੇ", "ਪਾਠ,", "ਤੀਰਥ-ਇਸ਼ਨਾਨ", "ਮਠਿਆਈਆਂ,", "ਖੇਡਾਂ,", "ਤਮਾਸਿਆਂ,", "ਨਾਚਾਂ", "ਤੇ", "ਭੰਗੜਿਆਂ", "ਦਾ", "ਪ੍ਰਬੰਧ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਤਿਉਹਾਰ", "ਦਾ", "ਦਿਨ", "ਚਾਅ,", "ਉਮੰਗ,", "ਰਾਗ-ਰੰਗ", "ਤੇ", "ਖੁਸ਼ੀਆਂ", "ਨਾਲ", "ਭਰਪੂਰ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਪੂਰੇ", "ਸਾਲ", "ਵਿੱਚ", "ਇੱਕ", "ਹੀ", "ਮਹੀਨਾ", "ਅਜਿਹਾ", "ਹੁੰਦਾ", "ਹੋਵੇਗਾ", "ਜਦੋਂ", "ਇਕ", "ਜਾ", "ਦੋ", "ਤਿਉਹਾਰ", "ਨਾ", "ਮਨਾਏ", "ਜਾਂਦੇ", "ਹੋਣ", "|", "ਜੇਕਰ", "ਅਸੀਂ", "ਪੂਰੇ", "ਸਾਲ", "ਭਰ", "ਦੇ", "ਤਿਉਹਾਰ", "ਵਲ", "ਨਜ਼ਰ", "ਮਾਰੀਏ,", "ਤਾਂ", "ਇਹਨਾਂ", "ਦੀ", "ਸਾਡੇ", "ਜੀਵਨ", "ਵਿੱਚ", "ਲੋੜੀਂਦੀ", "ਅਤੇ", "ਵਿਸ਼ੇਸ਼", "ਥਾਂ", "ਭਲੀ-ਭਾਂਤ", "ਸਪੱਸਟ", "ਹੋ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਚੜ੍ਹਦੀ", "ਜਨਵਰੀ", "ਦੇ", "ਨਾਲ", "ਨਵੇਂ", "ਸਾਲ", "ਦੇ", "ਆਰੰਭ", "ਹੁੰਦਆਂ", "ਹੀ", "ਲੋਹੜੀ", "ਦਾ", "ਤਿਉਹਾਰ", "ਨੇੜੇ", "ਢੱਕ", "ਰਿਹਾ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਹਰ", "ਰੋਜ਼", "ਲੋਹੜੀ", "ਮੰਗਦੇ", "ਮੁੰਡੇ-ਕੁੜੀਆਂ", "ਤ੍ਰਿਕਾਲਾਂ", "ਵੇਲੇ", "ਆਪਣੇ", "ਗੀਤਾਂ", "ਨਾਲ", "ਵਾਤਾਵਰਨ", "ਨੂੰ", "ਗੁੰਜਾ", "ਦਿੰਦੇ", "ਹਨ", "|", "ਇਹ", "ਤਿਉਹਾਰ", "ਮਾਘੀ", "ਦੀ", "ਸੰਗਰਾਂਦ", "ਤੋਂ", "ਇਕ", "ਦਿਨ", "ਪਹਿਲਾਂ", "(ਆਰਾਮ", "ਕਰਕੇ", "13", "ਜਨਵਰੀ)", "ਨੂੰ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਜਿਨ੍ਹਾਂ", "ਦੇ", "ਘਰੀਂ", "ਮੁੰਡੇ", "ਦਾ", "ਜਨਮ", "ਹੋਇਆ", "ਹੋਵੇ,", "ਉਹਨਾਂ", "ਦੇ", "ਘਰ", "ਇਹ।", "ਦਿਨ", "ਵਿਸ਼ੇਸ਼", "ਖੁਸ਼ੀਆਂ", "ਭਰਪੂਰ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਇਹਨਾਂ", "ਘਰਾਂ", "ਵਿੱਚ", "ਮੁੰਡੇ", "ਦੇ", "ਜਨਮ", "ਦੀ", "ਖੁਸ਼ੀ", "ਵਿੱਚ", "ਇਕ", "ਦਿਨ", "ਪਹਿਲਾਂ", "ਹੀ", "ਲੋਹੜੀ", "ਵੰਡਣੀ", "ਆਰੰਭ", "ਕੀਤੀ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਲੋਹੜੀ", "ਦੇ", "ਦਿਨ", "ਇਸ", "ਘਰ", "ਵਿੱਚ,", "ਜਿੱਥੇ", "ਲੋਹੜੀ", "ਮੰਗਣ", "ਵਾਲੇ", "ਟੋਲੀਆਂ", "ਬਣਾ-ਬਣਾ", "ਕੇ", "ਆਉਂਦੇ", "ਹਨ,", "ਇਕ", "ਵੱਡੀ", "ਧੂਣੀ", "ਲਾ", "ਕੇ", "ਗੀਤ", "ਗਾਏ", "ਤੇ", "ਨਾਚ-ਨਚੇ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਰਿਓੜੀਆਂ,", "ਮੂੰਗਫਲੀ,", "ਚਿੜਵੇ", "ਤੇ", "ਬੱਕਲੀਆਂ", "ਵੰਡੀਆਂ", "ਤੇ", "ਖਾਧੀਆਂ", "ਜਾਂਦੀਆਂ", "ਹਨ", "|", "ਲੋਹੜੀ", "ਤੋਂ", "ਅਗਲੇ", "ਦਿਨ", "ਮਾਘੀ", "ਦਾ", "ਪਵਿੱਤਰ", "ਤਿਉਹਾਰ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਇਸ", "ਦਿਨ", "ਲੋਕ", "ਹਰਦੁਆਰ,", "ਪ੍ਰਯਾਗ", "ਤੇ", "ਬਨਾਰਸ", "ਆਦਿ", "ਤੀਰਥ", "ਉੱਪਰ", "ਜਾ", "ਕੇ", "ਇਸ਼ਨਾਨ", "ਕਰਦੇ", "ਹਨ", "|", "ਪੰਜਾਬ", "ਵਿੱਚ", "ਮੁਕਤਸਰ", "ਵਿਖੇ", "ਮਾਘੀ", "ਦਾ", "ਮੇਲਾ", "ਲਗਦਾ", "ਹੈ", "|", "ਇਸ", "ਪਿੱਛੋਂ", "ਜਨਵਰੀ", "ਦੇ", "ਅਖੀਰ", "ਜਾਂ", "ਫਰਵਰੀ", "ਦੇ", "ਆਰੰਭ", "ਵਿਚ", "ਬਸੰਤ", "ਪੰਚਮੀ", "ਦਾ", "ਤਿਉਹਾਰ", "ਆਉਂਦਾ", "ਹੈ", "|", "ਇਹ", "ਸਿਆਲ", "ਦੀ", "ਰੁੱਤ", "ਜਾਣ", "ਤੇ", "ਬਾਹਰ", "ਦੀ", "ਰੁੱਤ", "ਆਉਣ", "ਦੀ", "ਖੁਸ਼ੀ", "ਵਿਚ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇਸੇ", "ਕਰਕੇ", "ਕਿਹਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਆਈ", "ਬਸੰਤ", "ਤੇ", "ਪਾਲਾ", "ਉਡੰਤ", "|", "ਘਰ", "ਵਿਚ", "ਲੋਕ", "ਬਸੰਤੀ", "ਰੰਗ", "ਦਾ", "ਹਲਵਾ", "ਬਣਾਉਂਦੇ", "ਹਨ", "|", "ਮਰਦ", "ਬਸੰਤੀ", "ਪੱਗਾਂ", "ਬੰਨ੍ਹਦੇ", "ਹਨ", "ਤੇ", "ਇਸਤਰੀਆਂ", "ਬਸੰਤੀ", "ਚੁੰਨੀਆਂ", "ਲੈਂਦੀਆ", "ਹਨ", "|", "ਲੋਕ", "ਪਤੰਗ", "ਵੀ", "ਉਡਾਉਂਦੇ", "ਹਨ", "|", "ਸ਼ਿਵਰਾਤਰੀ", "ਦਾ", "ਤਿਉਹਾਰ", "ਵੀ", "ਇਸ", "ਮਹੀਨੇ", "ਵਿਚ", "ਹੀ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਮਾਰਚ", "ਦੇ", "ਮਹੀਨੇ", "ਵਿਚ", "ਏਕ", "ਦੂਜੇ", "ਉੱਪਰ", "ਰੰਗ", "ਸੁੱਟ", "ਕੇ", "ਹੌਲੀ", "ਦਾ", "ਤਿਉਹਾਰ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇਸ", "ਪਿੱਛੋਂ", "ਜੁਲਾਈ", "ਵਿਚ", "ਜਨਮ-ਅਸ਼ਟਮੀ", "ਤੇ", "ਰੱਖੜੀ", "ਦਾ", "ਤਿਉਹਾਰ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਸਤੰਬਰ", "ਵਿਚ", "ਸਰਾਧਾਂ", "ਦੇ", "ਦਿਨ", "ਹੁੰਦੇ", "ਹਨ", "|", "ਇਹਨਾਂ", "ਦਿਨਾਂ", "ਵਿਚ", "ਪਿਤਰਾਂ", "ਦੀ", "ਯਾਦ", "ਵਿਚ", "ਪੰਡਤਾਂ", "ਨੂੰ", "ਭੋਜਨ", "ਆਦਿ", "ਛਕਾਏ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਇਹਨਾਂ", "ਤੋਂ", "ਮਗਰੋਂ", "ਖੁਸ਼ੀਆਂ", "ਨਾਲ", "ਭਰਪੂਰ", "ਨਰਾਤੇ", "ਸ਼ੁਰੂ", "ਹੋ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਨੰਵਬਰ", "ਵਿਚ", "ਗੁਰੂ", "ਨਾਨਕ", "ਦੇਵ", "ਜੀ", "ਦਾ", "ਜਨਮ-ਦਿਨ", "ਅਤੇ", "ਜਨਵਰੀ", "ਵਿਚ", "ਸ੍ਰੀ", "ਗੁਰੂ", "ਗੋਬਿੰਦ", "ਸਿੰਘ", "ਜੀ", "ਦਾ", "ਜਨਮ", "ਦਿਨ", "ਨਗਰ", "ਕੀਰਤਨ", "ਕੱਢ", "ਕੇ,", "ਦੀਵਾਨ", "ਸਜਾ", "ਕੇ", "ਤੇ", "ਲੰਗਰ", "ਵਰਤਾ", "ਕ", "ਬੜੀ", "ਧੂਮ-ਧਾਮ", "ਅਤੇ", "ਸ਼ਰਧਾ", "ਨਾਲ", "ਮਨਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|"];

        function addWords() {
            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







