
@{
    ViewBag.Title = "Passage Typing : Lesson 17 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 17:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "18" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 464   </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਵੱਧ</span><span>ਰਹੀ</span><span>ਅਬਾਦੀ</span><span>ਨੇ</span><span>ਸਾਰੇ</span><span>ਸੰਸਾਰ</span><span>ਦੇ</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿੱੱਚ</span><span>ਇੱਕ</span><span>ਬੜੀ</span><span>ਗੰਭੀਰ</span><span>ਸਮੱਸਿਆ</span><span>ਪੈਦਾ</span><span>ਕੀਤੀ</span><span>ਹੋਈ</span><span>ਹੈ</span><span>।</span><span>ਇਹ</span><span>ਸਮੱਸਿਆ</span><span>ਭਾਰਤ,</span><span>ਪਾਕਿਸਤਾਨ,</span><span>ਚੀਨ</span><span>ਵਰਗੇ</span><span>ਵਿਕਸਿਤ</span><span>ਹੋ</span><span>ਰਹੇ</span><span>ਦੇਸ਼ਾਂ</span><span>ਲਈ</span><span>ਵਧੇਰੇ</span><span>ਗੰਭੀਰ</span><span>ਅਤੇ</span><span>ਖਤਰਨਾਕ</span><span>ਹੈ</span><span>।</span><span>ਕੋਈ</span><span>ਸਮਾਂ</span><span>ਸੀ,</span><span>ਜਦੋਂ</span><span>ਸਾਡੇ</span><span>ਦੇਸ਼</span><span>ਵਿੱਚ</span><span>ਵਿਅਕਤੀ</span><span>ਲਈ</span><span>ਬਹੁਤੇ</span><span>ਪੁੱਤਰਾਂ</span><span>ਜਾਂ</span><span>ਭਰਾਵਾਂ</span><span>ਵਾਲੇ</span><span>ਹੋਣਾ</span><span>ਇੱਕ</span><span>ਮਾਣ</span><span>ਦੀ</span><span>ਗੱਲ</span><span>ਅਤੇ</span><span>ਸੱਤਾਂ</span><span>ਪੁੱਤਰਾਂ</span><span>ਵਾਲੀ</span><span>ਮਾਂ</span><span>ਨੂੰ</span><span>ਸਨਮਾਨ</span><span>ਦੀ</span><span>ਨਜ਼ਰ</span><span>ਨਾਲ</span><span>ਦੇਖਿਆ</span><span>ਜਾਂਦਾ</span><span>ਸੀ</span><span>।</span><span>ਉਸ</span><span>ਸਮੇਂ</span><span>ਸਾਡੇ</span><span>ਦੇਸ਼</span><span>ਦੀ</span><span>ਆਬਾਦੀ</span><span>ਬਹੁਤ</span><span>ਘੱਟ</span><span>ਸੀ,</span><span></span><span>ਆਦਮੀ</span><span>ਦੀਆਂ</span><span>ਆਮ</span><span>ਲੋੜਾਂ</span><span>ਬਹੁਤ</span><span>ਘੱਟ</span><span>ਸਨ,</span><span>ਜੀਵਨ-ਪੱਧਰ</span><span>ਬਹੁਤ</span><span>ਨੀਵਾਂ</span><span>ਸੀ</span><span>ਤੇ</span><span>ਧਰਤੀ</span><span>ਵਿਚੋਂ</span><span>ਹਰ</span><span>ਇੱਕ</span><span>ਦਾ</span><span>ਢਿੱਡ</span><span>ਭਰ</span><span>ਦੇਣ</span><span>ਜ਼ੋਗੇ</span><span>ਦਾਣੇ</span><span>ਪੈਦਾ</span><span>ਹੋ</span><span>ਜਾਂਦੇ</span><span>ਸਨ,</span><span>ਪਰ</span><span>ਅੱਜ</span><span>ਆਬਾਦੀ</span><span>ਦਾ</span><span>ਪਸਾਰਾ</span><span>ਹੱਦਾਂ</span><span>ਟੱਪ</span><span>ਗਿਆ</span><span>ਹੈ,</span><span>ਮਨੁੱਖ</span><span>ਦੀਆਂ</span><span>ਲੋੜਾਂ</span><span>ਵਧ</span><span>ਗਈਆਂ</span><span>ਹਨ</span><span></span><span>ਜੀਵਨ</span><span>ਪੱਧਰ</span><span>ਉੱਚਾ</span><span>ਹੋ</span><span>ਗਿਆ</span><span>ਹੈ</span><span></span><span>ਪਰ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਮੁਤਾਬਕ</span><span>ਮਨੁੱਖ</span><span>ਦੀਆਂ</span><span>ਲੋੜਾਂ</span><span>ਪੂਰੀਆਂ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਸਾਧਨਾਂ</span><span>ਦੀ</span><span>ਇੰਨੀ</span><span>ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਉੱਨਤੀ</span><span>ਨਹੀਂ</span><span>ਹੋਈ</span><span>।</span><span>ਇਸ</span><span>ਪ੍ਰਕਾਰ</span><span>ਅੱਜ</span><span>ਦੇ</span><span>ਜ਼ਮਾਨੇ</span><span>ਵਿੱਚ</span><span>ਬਹੁਤੇ</span><span>ਪੁੱਤਰਾਂ</span><span>ਦਾ</span><span>ਹੋਣਾ</span><span>ਮਾਣ</span><span>ਦੀ</span><span>ਗੱਲ</span><span>ਨਹੀਂ</span><span>ਰਹੀ,</span><span>ਸਗੋਂ</span><span>ਬਹੁਤੇ</span><span>ਧੀਆਂ-ਪੁੱਤਰਾਂ</span><span>ਪੈਦਾ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਮਾਪਿਆਂ</span><span>ਨੂੰ</span><span>ਬੇਸਮਝ</span><span>ਖਿਆਲ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਵਿਗਿਆਨ</span><span>ਦੇ</span><span>ਵਰਤਮਾਨ</span><span>ਯੁਗ</span><span>ਵਿੱਚ</span><span>ਖੇਤੀਬਾੜੀ</span><span>ਅਤੇ</span><span>ਸਨਅਤ</span><span>ਨੇ</span><span>ਕਾਫੀ</span><span>ਵਿਕਾਸ</span><span>ਕੀਤਾ</span><span>ਹੈ</span><span>।</span><span>ਦਵਾਈਆਂ</span><span>ਨੇ</span><span>ਮਨੁੱਖੀ</span><span>ਸਿਹਤ</span><span>ਨੂੰ</span><span>ਠੀਕ</span><span>ਰੱਖਣ</span><span>ਤੇ</span><span>ਰੋਗਾਂ</span><span>ਤੋਂ</span><span>ਬਚਾਉਣ</span><span>ਲਈ</span><span>ਹੈਰਾਨ</span><span>ਕਰਨ</span><span>ਵਾਲੇ</span><span>ਕਾਰਨਾਮੇ</span><span>ਕਰ</span><span>ਦਿਖਾਏ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਬਹੁਤ</span><span>ਸਾਰੀਆਂ</span><span>ਭਿਆਨਕ</span><span>ਤੇ</span><span>ਛੂਤ</span><span>ਦੀਆਂ</span><span>ਬਿਮਾਰੀਆਂ</span><span>ਦਾ</span><span>ਉਹਨਾਂ</span><span>ਦੇ</span><span>ਫੁੱਟਣ</span><span>ਤੋਂ</span><span>ਪਹਿਲਾਂ</span><span>ਹੀ</span><span>ਨਾਸ</span><span>ਕਰ</span><span>ਦਿੱਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>।</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਖੁਰਾਕ</span><span>ਦੀ</span><span>ਕਿਸਮ</span><span>ਵਿੱਚ</span><span>ਵੀ</span><span>ਸੁਧਾਰ</span><span>ਹੋਇਆ</span><span>ਹੈ</span><span>।</span><span>ਇਹਨਾਂ</span><span>ਸਾਰੇ</span><span>ਸਾਧਨਾਂ</span><span>ਨਾਲ</span><span>ਮੌਤ</span><span>ਦਰ</span><span>ਬਹੁਤ</span><span>ਘੱਟ</span><span>ਗਈ</span><span>ਹੈ</span><span>।</span><span>ਪੁਰਾਣੇ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਜੇਕਰ</span><span>ਕਿਸੇ</span><span>ਦੇ</span><span>ਦਸ</span><span>ਕੁ</span><span>ਬੱਚੇ</span><span>ਹੁੰਦੇ</span><span>ਸਨ,</span><span>ਤਾਂ</span><span>ਉਹਨਾਂ</span><span>ਵਿਚੋਂ</span><span>ਅੱਧੇ</span><span>ਕੁ</span><span>ਬਚਪਨ</span><span>ਵਿੱਚ</span><span>ਹੀ</span><span>ਮਰ</span><span>ਜਾਂਦੇ</span><span>ਸਨ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਆਬਾਦੀ</span><span>ਦੇ</span><span>ਵਧਣ</span><span>ਦੀ</span><span>ਰਫ਼ਤਾਰ</span><span>ਬਹੁਤ</span><span>ਤੇਜ਼</span><span>ਨਹੀਂ</span><span>ਸੀ,</span><span>ਪਰ</span><span>ਅੱਜ-ਕੱਲ੍ਹ</span><span>ਹਸਪਤਾਲਾਂ</span><span>ਦੇ</span><span>ਫੈਲਣ</span><span>ਤੇ</span><span>ਤੁਰੰਤ</span><span>ਡਾਕਟਰੀ</span><span>ਸਹਾਇਤਾ</span><span>ਪ੍ਰਾਪਤ</span><span>ਹੋਣ</span><span>ਕਰਕੇ</span><span>ਮੌਤ</span><span>ਦੀ</span><span>ਦਰ</span><span>ਬਹੁਤ</span><span>ਘਟ</span><span>ਗਈ</span><span>ਹੈ,</span><span>ਪਰ</span><span>ਦੂਜੇ</span><span>ਪਾਸੇ</span><span>ਜਨਮ</span><span>ਦੀ</span><span>ਦਰ</span><span>ਵਧ</span><span>ਗਈ</span><span>ਹੈ</span><span>।</span><span>ਇਕ</span><span>ਸਰਵੇਖਣ</span><span>ਅਨੁਸਾਰ</span><span>ਸਾਡੇ</span><span>ਦੇਸ਼</span><span>ਵਿਚ</span><span>ਹਰ</span><span>ਸੈਕਿੰਡ</span><span>ਵਿੱਚ</span><span>ਤਿੰਨ</span><span>ਬੱਚੇ</span><span>ਪੈਦਾ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਦੋ</span><span>ਮਰਦੇ</span><span>ਹਨ</span><span>।</span><span>ਇਸ</span><span>ਪ੍ਰਕਾਰ</span><span>ਜਨਮ-</span><span>ਦਰ</span><span>ਮਰਨ-ਦਰ</span><span>ਨਾਲੋਂ</span><span>ਵੱਧ</span><span>ਹੈ</span><span>।</span><span>ਪਿਛਲੇ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਜਨਮ-ਦਰ</span><span>ਤੇ</span><span>ਮਰਨ-ਦਰ</span><span>ਲਗਪਗ</span><span>ਬਰਾਬਰ</span><span>ਰਹਿੰਦੀ</span><span>ਸੀ</span><span>ਤੇ</span><span>ਜਦ</span><span>ਕਦੇ</span><span>ਇਹਨਾਂ</span><span>ਵਿੱਚ</span><span>ਸੰਤੁਲਨ</span><span>ਨਹੀਂ</span><span>ਸੀ</span><span>ਰਹਿੰਦਾ,</span><span>ਤਾਂ</span><span>ਕੋਈ</span><span>ਨਾ</span><span>ਕੋਈ</span><span>ਛੂਤ</span><span>ਦੀ</span><span>ਬਿਮਾਰੀ</span><span>ਆ</span><span>ਕੇ</span><span>ਪਿੰਡਾਂ</span><span>ਦੇ</span><span>ਪਿੰਡ</span><span>ਤੇ</span><span>ਮੁਹੱਲਿਆਂ</span><span>ਦੇ</span><span>ਮੁਹੱਲੇ</span><span>ਸਾਫ</span><span>ਕਰ</span><span>ਜਾਂਦੀ</span><span>ਸੀ</span><span>ਪਰ</span><span>ਵਰਤਮਾਨ</span><span>ਸਮੇਂ</span><span>ਵਿੱਚ</span><span>ਜਨਮ</span><span>ਲੈ</span><span>ਚੁੱਕੇ</span><span>ਬੱਚੇ,</span><span>ਨੌਜਵਾਨ</span><span>ਜਾਂ</span><span>ਬੁੱਢੇ</span><span>ਨੂੰ</span><span>ਦਵਾਈਆਂ</span><span>ਸਹਿਜੇ</span><span>ਕੀਤੇ</span><span>ਮਰਨ</span><span>ਨਹੀਂ</span><span>ਦਿੰਦੀਆਂ</span><span>।</span><span>ਇਹ</span><span>ਗੱਲ</span><span>ਸਾਰੇ</span><span>ਸੰਸਾਰ</span><span>ਤੇ</span><span>ਲਾਗੂ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>।</span><span>1855</span><span>ਵਿਚ</span><span>ਸੰਸਾਰ</span><span>ਦੀ</span><span>ਆਬਾਦੀ</span><span>ਇੱਕ</span><span>ਅਰਬ</span><span>ਸੀ</span><span>।</span><span>1930</span><span>ਵਿੱਚ</span><span>ਇਹ</span><span>ਦੋ</span><span>ਅਰਬ</span><span>ਹੋ</span><span>ਗਈ</span><span>ਤੇ</span><span>1985</span><span>ਵਿੱਚ</span><span>4</span><span>ਅਰਬ,</span><span>41</span><span>ਕਰੋੜ</span><span>ਨੂੰ</span><span>ਪੁੱਜ</span><span>ਗਈ</span><span>।</span><span>ਇਸ</span><span>ਸਮੇਂ</span><span>ਸੰਸਾਰ</span><span>ਦੀ</span><span>ਆਬਾਦੀ</span><span>ਸੱਤ</span><span>ਅਰਬ</span><span>ਤੋਂ</span><span>ਉੱਪਰ</span><span>ਹੋ</span><span>ਚੁੱਕੀ</span><span>ਹੈ</span><span>।</span><span>ਇਸ</span><span>ਦਾ</span><span>ਛੇਵਾਂ</span><span>ਹਿੱਸਾ</span><span>ਆਬਾਦੀ</span><span>ਭਾਰਤ</span><span>ਵਿੱੱਚ</span><span>ਹੈ</span><span>।</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>


<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">
        var wordList = ["ਤੇਜ਼ੀ", "ਨਾਲ", "ਵੱਧ", "ਰਹੀ", "ਅਬਾਦੀ", "ਨੇ", "ਸਾਰੇ", "ਸੰਸਾਰ", "ਦੇ", "ਦੇਸ਼ਾਂ", "ਵਿੱੱਚ", "ਇੱਕ", "ਬੜੀ", "ਗੰਭੀਰ", "ਸਮੱਸਿਆ", "ਪੈਦਾ", "ਕੀਤੀ", "ਹੋਈ", "ਹੈ", "।", "ਇਹ", "ਸਮੱਸਿਆ", "ਭਾਰਤ,", "ਪਾਕਿਸਤਾਨ,", "ਚੀਨ", "ਵਰਗੇ", "ਵਿਕਸਿਤ", "ਹੋ", "ਰਹੇ", "ਦੇਸ਼ਾਂ", "ਲਈ", "ਵਧੇਰੇ", "ਗੰਭੀਰ", "ਅਤੇ", "ਖਤਰਨਾਕ", "ਹੈ", "।", "ਕੋਈ", "ਸਮਾਂ", "ਸੀ,", "ਜਦੋਂ", "ਸਾਡੇ", "ਦੇਸ਼", "ਵਿੱਚ", "ਵਿਅਕਤੀ", "ਲਈ", "ਬਹੁਤੇ", "ਪੁੱਤਰਾਂ", "ਜਾਂ", "ਭਰਾਵਾਂ", "ਵਾਲੇ", "ਹੋਣਾ", "ਇੱਕ", "ਮਾਣ", "ਦੀ", "ਗੱਲ", "ਅਤੇ", "ਸੱਤਾਂ", "ਪੁੱਤਰਾਂ", "ਵਾਲੀ", "ਮਾਂ", "ਨੂੰ", "ਸਨਮਾਨ", "ਦੀ", "ਨਜ਼ਰ", "ਨਾਲ", "ਦੇਖਿਆ", "ਜਾਂਦਾ", "ਸੀ", "।", "ਉਸ", "ਸਮੇਂ", "ਸਾਡੇ", "ਦੇਸ਼", "ਦੀ", "ਆਬਾਦੀ", "ਬਹੁਤ", "ਘੱਟ", "ਸੀ,", "", "ਆਦਮੀ", "ਦੀਆਂ", "ਆਮ", "ਲੋੜਾਂ", "ਬਹੁਤ", "ਘੱਟ", "ਸਨ,", "ਜੀਵਨ-ਪੱਧਰ", "ਬਹੁਤ", "ਨੀਵਾਂ", "ਸੀ", "ਤੇ", "ਧਰਤੀ", "ਵਿਚੋਂ", "ਹਰ", "ਇੱਕ", "ਦਾ", "ਢਿੱਡ", "ਭਰ", "ਦੇਣ", "ਜ਼ੋਗੇ", "ਦਾਣੇ", "ਪੈਦਾ", "ਹੋ", "ਜਾਂਦੇ", "ਸਨ,", "ਪਰ", "ਅੱਜ", "ਆਬਾਦੀ", "ਦਾ", "ਪਸਾਰਾ", "ਹੱਦਾਂ", "ਟੱਪ", "ਗਿਆ", "ਹੈ,", "ਮਨੁੱਖ", "ਦੀਆਂ", "ਲੋੜਾਂ", "ਵਧ", "ਗਈਆਂ", "ਹਨ", "", "ਜੀਵਨ", "ਪੱਧਰ", "ਉੱਚਾ", "ਹੋ", "ਗਿਆ", "ਹੈ", "", "ਪਰ", "ਇਸ", "ਦੇ", "ਮੁਤਾਬਕ", "ਮਨੁੱਖ", "ਦੀਆਂ", "ਲੋੜਾਂ", "ਪੂਰੀਆਂ", "ਕਰਨ", "ਵਾਲੇ", "ਸਾਧਨਾਂ", "ਦੀ", "ਇੰਨੀ", "ਤੇਜ਼ੀ", "ਨਾਲ", "ਉੱਨਤੀ", "ਨਹੀਂ", "ਹੋਈ", "।", "ਇਸ", "ਪ੍ਰਕਾਰ", "ਅੱਜ", "ਦੇ", "ਜ਼ਮਾਨੇ", "ਵਿੱਚ", "ਬਹੁਤੇ", "ਪੁੱਤਰਾਂ", "ਦਾ", "ਹੋਣਾ", "ਮਾਣ", "ਦੀ", "ਗੱਲ", "ਨਹੀਂ", "ਰਹੀ,", "ਸਗੋਂ", "ਬਹੁਤੇ", "ਧੀਆਂ-ਪੁੱਤਰਾਂ", "ਪੈਦਾ", "ਕਰਨ", "ਵਾਲੇ", "ਮਾਪਿਆਂ", "ਨੂੰ", "ਬੇਸਮਝ", "ਖਿਆਲ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਇਸ", "ਦੇ", "ਨਾਲ", "ਹੀ", "ਵਿਗਿਆਨ", "ਦੇ", "ਵਰਤਮਾਨ", "ਯੁਗ", "ਵਿੱਚ", "ਖੇਤੀਬਾੜੀ", "ਅਤੇ", "ਸਨਅਤ", "ਨੇ", "ਕਾਫੀ", "ਵਿਕਾਸ", "ਕੀਤਾ", "ਹੈ", "।", "ਦਵਾਈਆਂ", "ਨੇ", "ਮਨੁੱਖੀ", "ਸਿਹਤ", "ਨੂੰ", "ਠੀਕ", "ਰੱਖਣ", "ਤੇ", "ਰੋਗਾਂ", "ਤੋਂ", "ਬਚਾਉਣ", "ਲਈ", "ਹੈਰਾਨ", "ਕਰਨ", "ਵਾਲੇ", "ਕਾਰਨਾਮੇ", "ਕਰ", "ਦਿਖਾਏ", "ਹਨ", "ਤੇ", "ਬਹੁਤ", "ਸਾਰੀਆਂ", "ਭਿਆਨਕ", "ਤੇ", "ਛੂਤ", "ਦੀਆਂ", "ਬਿਮਾਰੀਆਂ", "ਦਾ", "ਉਹਨਾਂ", "ਦੇ", "ਫੁੱਟਣ", "ਤੋਂ", "ਪਹਿਲਾਂ", "ਹੀ", "ਨਾਸ", "ਕਰ", "ਦਿੱਤਾ", "ਜਾਂਦਾ", "ਹੈ", "।", "ਨਾਲ", "ਹੀ", "ਖੁਰਾਕ", "ਦੀ", "ਕਿਸਮ", "ਵਿੱਚ", "ਵੀ", "ਸੁਧਾਰ", "ਹੋਇਆ", "ਹੈ", "।", "ਇਹਨਾਂ", "ਸਾਰੇ", "ਸਾਧਨਾਂ", "ਨਾਲ", "ਮੌਤ", "ਦਰ", "ਬਹੁਤ", "ਘੱਟ", "ਗਈ", "ਹੈ", "।", "ਪੁਰਾਣੇ", "ਸਮੇਂ", "ਵਿੱਚ", "ਜੇਕਰ", "ਕਿਸੇ", "ਦੇ", "ਦਸ", "ਕੁ", "ਬੱਚੇ", "ਹੁੰਦੇ", "ਸਨ,", "ਤਾਂ", "ਉਹਨਾਂ", "ਵਿਚੋਂ", "ਅੱਧੇ", "ਕੁ", "ਬਚਪਨ", "ਵਿੱਚ", "ਹੀ", "ਮਰ", "ਜਾਂਦੇ", "ਸਨ", "ਤੇ", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਆਬਾਦੀ", "ਦੇ", "ਵਧਣ", "ਦੀ", "ਰਫ਼ਤਾਰ", "ਬਹੁਤ", "ਤੇਜ਼", "ਨਹੀਂ", "ਸੀ,", "ਪਰ", "ਅੱਜ-ਕੱਲ੍ਹ", "ਹਸਪਤਾਲਾਂ", "ਦੇ", "ਫੈਲਣ", "ਤੇ", "ਤੁਰੰਤ", "ਡਾਕਟਰੀ", "ਸਹਾਇਤਾ", "ਪ੍ਰਾਪਤ", "ਹੋਣ", "ਕਰਕੇ", "ਮੌਤ", "ਦੀ", "ਦਰ", "ਬਹੁਤ", "ਘਟ", "ਗਈ", "ਹੈ,", "ਪਰ", "ਦੂਜੇ", "ਪਾਸੇ", "ਜਨਮ", "ਦੀ", "ਦਰ", "ਵਧ", "ਗਈ", "ਹੈ", "।", "ਇਕ", "ਸਰਵੇਖਣ", "ਅਨੁਸਾਰ", "ਸਾਡੇ", "ਦੇਸ਼", "ਵਿਚ", "ਹਰ", "ਸੈਕਿੰਡ", "ਵਿੱਚ", "ਤਿੰਨ", "ਬੱਚੇ", "ਪੈਦਾ", "ਹੁੰਦੇ", "ਹਨ", "ਤੇ", "ਦੋ", "ਮਰਦੇ", "ਹਨ", "।", "ਇਸ", "ਪ੍ਰਕਾਰ", "ਜਨਮ-", "ਦਰ", "ਮਰਨ-ਦਰ", "ਨਾਲੋਂ", "ਵੱਧ", "ਹੈ", "।", "ਪਿਛਲੇ", "ਸਮੇਂ", "ਵਿੱਚ", "ਜਨਮ-ਦਰ", "ਤੇ", "ਮਰਨ-ਦਰ", "ਲਗਪਗ", "ਬਰਾਬਰ", "ਰਹਿੰਦੀ", "ਸੀ", "ਤੇ", "ਜਦ", "ਕਦੇ", "ਇਹਨਾਂ", "ਵਿੱਚ", "ਸੰਤੁਲਨ", "ਨਹੀਂ", "ਸੀ", "ਰਹਿੰਦਾ,", "ਤਾਂ", "ਕੋਈ", "ਨਾ", "ਕੋਈ", "ਛੂਤ", "ਦੀ", "ਬਿਮਾਰੀ", "ਆ", "ਕੇ", "ਪਿੰਡਾਂ", "ਦੇ", "ਪਿੰਡ", "ਤੇ", "ਮੁਹੱਲਿਆਂ", "ਦੇ", "ਮੁਹੱਲੇ", "ਸਾਫ", "ਕਰ", "ਜਾਂਦੀ", "ਸੀ", "ਪਰ", "ਵਰਤਮਾਨ", "ਸਮੇਂ", "ਵਿੱਚ", "ਜਨਮ", "ਲੈ", "ਚੁੱਕੇ", "ਬੱਚੇ,", "ਨੌਜਵਾਨ", "ਜਾਂ", "ਬੁੱਢੇ", "ਨੂੰ", "ਦਵਾਈਆਂ", "ਸਹਿਜੇ", "ਕੀਤੇ", "ਮਰਨ", "ਨਹੀਂ", "ਦਿੰਦੀਆਂ", "।", "ਇਹ", "ਗੱਲ", "ਸਾਰੇ", "ਸੰਸਾਰ", "ਤੇ", "ਲਾਗੂ", "ਹੁੰਦੀ", "ਹੈ", "।", "1855", "ਵਿਚ", "ਸੰਸਾਰ", "ਦੀ", "ਆਬਾਦੀ", "ਇੱਕ", "ਅਰਬ", "ਸੀ", "।", "1930", "ਵਿੱਚ", "ਇਹ", "ਦੋ", "ਅਰਬ", "ਹੋ", "ਗਈ", "ਤੇ", "1985", "ਵਿੱਚ", "4", "ਅਰਬ,", "41", "ਕਰੋੜ", "ਨੂੰ", "ਪੁੱਜ", "ਗਈ", "।", "ਇਸ", "ਸਮੇਂ", "ਸੰਸਾਰ", "ਦੀ", "ਆਬਾਦੀ", "ਸੱਤ", "ਅਰਬ", "ਤੋਂ", "ਉੱਪਰ", "ਹੋ", "ਚੁੱਕੀ", "ਹੈ", "।", "ਇਸ", "ਦਾ", "ਛੇਵਾਂ", "ਹਿੱਸਾ", "ਆਬਾਦੀ", "ਭਾਰਤ", "ਵਿੱੱਚ", "ਹੈ", "।"];

        function addWords() {
            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







