

@{

    ViewBag.Title = "Passage Typing : Lesson 3 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 3:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "4" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 459 </h5>
            <br />

            <section id="word-section">
                <span class="current-word">ਧਰਤੀ</span><span>ਹੀ</span><span>ਇਕ</span><span>ਅਜਿਹਾ</span><span>ਗ੍ਰਹਿ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>'ਤੇ</span><span>ਜੀਵਨ</span><span>ਹੈ</span><span>।</span><span>ਜੀਵਨ</span><span>ਲਈ</span><span>ਆਲਾ-ਦੁਆਲਾ,</span><span>ਤਾਪ,</span><span>ਪਾਣੀ</span><span>ਅਤੇ</span><span>ਭੋਜਨ</span><span>ਦੀ</span><span>ਜ਼ਰੂਰਤ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਜੀਵਾਂ</span><span>ਲਈ</span><span>ਸੂਰਜੀ</span><span>ਊਰਜਾ</span><span>ਅਤੇ</span><span>ਧਰਤੀ</span><span>ਤੇ</span><span>ਮੌਜੂਦ</span><span>ਸੰਸਾਧਨ</span><span>ਜ਼ਰੂਰੀ</span><span>ਹਨ</span><span>|</span><span>ਧਰਤੀ</span><span>ਦੇ</span><span>ਸਾਧਨ</span><span>ਹਨ</span><span>ਭੂਮੀ,</span><span>ਜਨ</span><span>ਅਤੇ</span><span>ਹਵਾ</span><span>।</span><span>ਧਰਤੀ</span><span>ਦਾ</span><span>ਸਭੁ</span><span>ਤੋਂ</span><span>ਬਾਹਰੀ</span><span>ਭਾਗ</span><span>ਸਥਲ</span><span>ਮੰਡਲ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਲਗਭਗ</span><span>75%</span><span>ਭਾਗ</span><span>ਪਾਣੀ</span><span>ਹੈ</span><span>|</span><span>ਸਜੀਵ</span><span>ਜੀਵ</span><span>ਮੰਡਲ</span><span>ਦੇ</span><span>ਜੈਵਿਕ</span><span>ਘਟਕ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਹਵਾ,</span><span>ਪਾਣੀ</span><span>ਅਤੇ</span><span>ਮਿੱਟੀ</span><span>ਅਜੈਵਿਕ(ਨਿਰਜੀਵ)</span><span>ਘਟਕ</span><span>ਹਨ</span><span>|</span><span>ਧਰਤੀ</span><span>ਸੂਰਜ</span><span>ਦੇ</span><span>ਆਲੇ-ਦੁਆਲੇ</span><span>ਘੁੰਮਦੀ</span><span>ਹੈ</span><span>|</span><span>ਜਦੋਂ</span><span>ਧਰਤੀ</span><span>ਸੂਰਜ</span><span>ਦੇ</span><span>ਆਲੇ-ਦੁਆਲੇ</span><span>ਘੁੰਮਦੀ</span><span>ਹੈ</span><span>ਉਸ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਦਿਨ</span><span>ਅਤੇ</span><span>ਰਾਤ</span><span>ਬਣਦੇ</span><span>ਹਨ</span><span>|</span><span>ਧਰਤੀ</span><span>ਸਭ</span><span>ਤੋਂ</span><span>ਜ਼ਿਆਦਾ</span><span>ਗਰਮ</span><span>ਦਿਨ</span><span>ਵੇਲੇ</span><span>ਤੇ</span><span>ਠੰਡੀ</span><span>ਰਾਤ</span><span>ਵੇਲੇ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਸਾਡਾ</span><span>ਜੀਵਨ</span><span>ਹਵਾ</span><span>ਦੇ</span><span>ਘਟਕਾਂ</span><span>ਦਾ</span><span>ਪਰਿਣਾਮ</span><span>ਹੈ</span><span>|</span><span>ਚੰਦਰਮਾ</span><span>ਦੀ</span><span>ਸਤ੍ਹਾ</span><span>ਤੇ</span><span>ਵਾਯੂਮੰਡਲ</span><span>ਨਹੀਂ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਉਸਦਾ</span><span>ਤਾਪਮਾਨ-</span><span>190</span><span>ਤੋਂ</span><span>-110</span><span>ਦੇ</span><span>ਵਿਚਕਾਰ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਪਾਣੀ</span><span>ਦੀ</span><span>ਤੁਲਨਾ</span><span>ਵਿਚ</span><span>ਧਰਤੀ</span><span>ਜਲਦੀ</span><span>ਗਰਮ</span><span>ਹੁੰਦੀ</span><span>ਹੈ,</span><span>ਇਸ</span><span>ਲਈ</span><span>ਧਰਤੀ</span><span>ਉਪਰ</span><span>ਹਵਾ</span><span>ਵੀ</span><span>ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਗਰਮ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਦਿਨ</span><span>ਦੇ</span><span>ਸਮੇਂ</span><span>ਹਵਾ</span><span>ਦੀ</span><span>ਦਿਸ਼ਾ</span><span>ਸਮੁੰਦਰ</span><span>ਤੋਂ</span><span>ਧਰਤੀ</span><span>ਵੱਲ</span><span>ਅਤੇ</span><span>ਰਾਤ</span><span>ਸਮੇਂ</span><span>ਧਰਤੀ</span><span>ਤੋਂ</span><span>ਸਮੁੰਦਰ</span><span>ਵੱਲ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਹਵਾ</span><span>ਨੂੰ</span><span>ਧਰਤੀ</span><span>ਦੀ</span><span>ਘੁੰਮਣ</span><span>ਗਤੀ</span><span>ਅਤੇ</span><span>ਪਰਬਤ</span><span>ਲੜੀਆਂ</span><span>ਵੀ</span><span>ਪ੍ਰਭਾਵਿਤ</span><span>ਕਰਦਿਆਂ</span><span>ਹਨ</span><span>|</span><span>ਵਰਖਾ</span><span>ਦੀ</span><span>ਕਿਸਮ</span><span>ਪਵਨਾਂ</span><span>ਦੇ</span><span>ਪੈਟਰਨ</span><span>ਤੇ</span><span>ਨਿਰਭਰ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਵਰਖਾ</span><span>ਦੱਖਣ-ਪੱਛਮ</span><span>ਜਾਂ</span><span>ਉੱਤਰ-ਪੂਰਬੀ</span><span>ਮਾਨਸੂਨ</span><span>ਦੇ</span><span>ਕਰਨ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਹਵਾ</span><span>ਦੇ</span><span>ਗੁਣ</span><span>ਸਾਰੇ</span><span>ਜੀਵਾਂ</span><span>ਨੂੰ</span><span>ਪ੍ਰਭਾਵਿਤ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਬਾਲਣ</span><span>ਦੇ</span><span>ਜਲਣ</span><span>ਤੇ</span><span>ਦੂਸ਼ਿਤ</span><span>ਗੈਸਾਂ</span><span>ਪੈਦਾ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>ਜੋ</span><span>ਵਰਖਾ</span><span>ਦੇ</span><span>ਪਾਣੀ</span><span>ਵਿਚ</span><span>ਮਿਲ</span><span>ਕੇ</span><span>ਅਮਲੀ</span><span>ਵਰਖਾ</span><span>ਪੈਦਾ</span><span>ਕਰਦਿਆਂ</span><span>ਹਨ</span><span>|</span><span>ਨਿਲੰਬਤ</span><span>ਕਣ</span><span>ਅਣਜਲੇ</span><span>ਕਾਬਲ</span><span>ਕਣ</span><span>ਜਾਂ</span><span>ਪ੍ਰਦਾਰਥ</span><span>ਹੋ</span><span>ਸਕਦੇ</span><span>ਹਨ</span><span>ਜਿਸ</span><span>ਨੂੰ</span><span>ਹਾਈਡਰੋਕਾਰਬਨ</span><span>ਕਹਿੰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਦੂਸ਼ਿਤ</span><span>ਹਵਾ</span><span>ਵਿਚ</span><span>ਸਾਹ</span><span>ਲੈਣ</span><span>ਨਾਲ</span><span>ਕੈਂਸਰ,</span><span>ਦਿਲ</span><span>ਦੇ</span><span>ਰੋਗ</span><span>ਜਾਂ</span><span>ਅਲਰਜੀ</span><span>ਵਰਗੀਆਂ</span><span>ਬਿਮਾਰੀਆਂ</span><span>ਦੀ</span><span>ਸੰਭਾਵਨਾ</span><span>ਵੱਧ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਧਰਤੀ</span><span>ਦੀ</span><span>ਸਤ੍ਹਾ</span><span>ਤੇ</span><span>ਮਿਲਣ</span><span>ਵਾਲਾ</span><span>ਵਧੇਰੇ</span><span>ਪਾਣੀ</span><span>ਸਮੁੰਦਰਾਂ</span><span>ਅਤੇ</span><span>ਮਹਾਂਸਾਗਰਾਂ</span><span>ਵਿਚ</span><span>ਹੈ</span><span>|</span><span>ਸ਼ੁੱਧ</span><span>ਪਾਣੀ</span><span>ਬਰਫ</span><span>ਦੇ</span><span>ਰੂਪ</span><span>ਵਿਚ</span><span>ਦੋਨਾਂ</span><span>ਧਰੁਵਾਂ</span><span>ਅਤੇ</span><span>ਬਰਫ</span><span>ਦੇ</span><span>ਪਹਾੜਾਂ</span><span>ਤੇ</span><span>ਮਿਲਦਾ</span><span>ਹੈ</span><span>|</span><span>ਭੂਮੀਗਤ</span><span>ਜਲ,</span><span>ਨਦੀਆਂ-ਝੀਲਾਂ,</span><span>ਤਲਾਬਾਂ</span><span>ਦਾ</span><span>ਪਾਣੀ</span><span>ਵੀ</span><span>ਅਲੂਣਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਜੀਵਨ</span><span>ਦੀ</span><span>ਵਿਵਿਧਤਾ</span><span>ਨੂੰ</span><span>ਮਿੱਟੀ</span><span>ਪ੍ਰਭਾਵਿਤ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਮਿੱਟੀ</span><span>ਵਿਚ</span><span>ਮਿਲਣ</span><span>ਵਾਲੇ</span><span>ਖਣਿਜ</span><span></span><span>ਜੀਵਾਂ</span><span>ਨੂੰ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਪ੍ਰਕਾਰ</span><span>ਨਾਲ</span><span>ਸਹਾਇਤਾ</span><span>ਪ੍ਰਦਾਨ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਸੂਰਜ,</span><span>ਪਾਣੀ,</span><span>ਹਵਾ</span><span>ਅਤੇ</span><span>ਜੀਵ-ਜੰਤੂ</span><span>ਮਿੱਟੀ</span><span>ਦੀ</span><span>ਰਚਨਾ</span><span>ਵਿਚ</span><span>ਸਹਾਇਕ</span><span>ਹਨ</span><span>|</span><span>ਮਿੱਟੀ</span><span>ਦੇ</span><span>ਪ੍ਰਕਾਰ</span><span>ਦਾ</span><span>ਨਿਰਣਾ</span><span>ਉਸ</span><span>ਵਿਚ</span><span>ਮਿਲਣ</span><span>ਵਾਲੇ</span><span>ਕਣਾਂ</span><span>ਦੇ</span><span>ਔਸਤ</span><span>ਦੁਆਰਾ</span><span>ਨਿਰਧਾਰਿਤ</span><span>ਕੀਤਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਮਿੱਟੀ</span><span>ਦੇ</span><span>ਗੁਣ</span><span>ਮਲਤ</span><span>ਦੀ</span><span>ਮਾਤਰਾ</span><span>ਅਤ</span><span>ਉਸ</span><span>ਵਿਚ</span><span>ਸੂਖਮ</span><span>ਜੀਵਾਂ</span><span>ਦੇ</span><span>ਆਧਾਰ</span><span>ਤੇ</span><span>ਜਾਂਚੇ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਵਿਸ਼ੇਸ਼</span><span>ਪੱਥਰਾਂ</span><span>ਤੋਂ</span><span>ਬਣੀ</span><span>ਮਿੱਟੀ</span><span>ਉਸ</span><span>ਵਿਚ</span><span>ਮੌਜੂਦ</span><span>ਖਣਿਜ</span><span>ਪੋਸ਼ਕ</span><span>ਤੱਤਾਂ</span><span>ਨੂੰ</span><span>ਪ੍ਰਗਟ</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਆਧੁਨਿਕ</span><span>ਕੀਟ</span><span>ਨਾਸ਼ਕਾਂ</span><span>ਅਤੇ</span><span>ਰਾਸਾਇਨਿਕ</span><span>ਖਾਦਾਂ</span><span>ਨੇ</span><span>ਮਿੱਟੀ</span><span>ਦੀ</span><span>ਸਰੰਚਨਾ</span><span>ਵਿਗਾੜ</span><span>ਦਿੱਤੀ</span><span>ਹੈ</span><span>|</span><span>ਕਾਰਬਨ</span><span>ਦਾ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਭੌਤਿਕ</span><span>ਅਤੇ</span><span>ਜੈਵਿਕ</span><span>ਕਿਰਿਆਵਾਂ</span><span>ਦੁਆਰਾ</span><span>ਚਕਰ</span><span>ਲੱਗਦਾ</span><span>ਹੈ</span><span>|</span><span>ਧਰਤੀ</span><span>ਉੱਤੇ</span><span>ਰੁੱਖਾਂ</span><span>ਦੀ</span><span>ਘਾਟ</span><span>ਕਰਨ</span><span>ਹੀ</span><span>ਗਲੇਸ਼ੀਅਰ</span><span>ਪਿਘਲ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>ਅਤੇ</span><span>ਗਰਮੀ</span><span>ਵੱਧ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਧਰਤੀ", "ਹੀ", "ਇਕ", "ਅਜਿਹਾ", "ਗ੍ਰਹਿ", "ਹੈ", "ਜਿਸ", "'ਤੇ", "ਜੀਵਨ", "ਹੈ", "।", "ਜੀਵਨ", "ਲਈ", "ਆਲਾ-ਦੁਆਲਾ,", "ਤਾਪ,", "ਪਾਣੀ", "ਅਤੇ", "ਭੋਜਨ", "ਦੀ", "ਜ਼ਰੂਰਤ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਜੀਵਾਂ", "ਲਈ", "ਸੂਰਜੀ", "ਊਰਜਾ", "ਅਤੇ", "ਧਰਤੀ", "ਤੇ", "ਮੌਜੂਦ", "ਸੰਸਾਧਨ", "ਜ਼ਰੂਰੀ", "ਹਨ", "|", "ਧਰਤੀ", "ਦੇ", "ਸਾਧਨ", "ਹਨ", "ਭੂਮੀ,", "ਜਨ", "ਅਤੇ", "ਹਵਾ", "।", "ਧਰਤੀ", "ਦਾ", "ਸਭੁ", "ਤੋਂ", "ਬਾਹਰੀ", "ਭਾਗ", "ਸਥਲ", "ਮੰਡਲ", "ਹੈ", "ਅਤੇ", "ਲਗਭਗ", "75%", "ਭਾਗ", "ਪਾਣੀ", "ਹੈ", "|", "ਸਜੀਵ", "ਜੀਵ", "ਮੰਡਲ", "ਦੇ", "ਜੈਵਿਕ", "ਘਟਕ", "ਹਨ", "ਅਤੇ", "ਹਵਾ,", "ਪਾਣੀ", "ਅਤੇ", "ਮਿੱਟੀ", "ਅਜੈਵਿਕ(ਨਿਰਜੀਵ)", "ਘਟਕ", "ਹਨ", "|", "ਧਰਤੀ", "ਸੂਰਜ", "ਦੇ", "ਆਲੇ-ਦੁਆਲੇ", "ਘੁੰਮਦੀ", "ਹੈ", "|", "ਜਦੋਂ", "ਧਰਤੀ", "ਸੂਰਜ", "ਦੇ", "ਆਲੇ-ਦੁਆਲੇ", "ਘੁੰਮਦੀ", "ਹੈ", "ਉਸ", "ਨਾਲ", "ਹੀ", "ਦਿਨ", "ਅਤੇ", "ਰਾਤ", "ਬਣਦੇ", "ਹਨ", "|", "ਧਰਤੀ", "ਸਭ", "ਤੋਂ", "ਜ਼ਿਆਦਾ", "ਗਰਮ", "ਦਿਨ", "ਵੇਲੇ", "ਤੇ", "ਠੰਡੀ", "ਰਾਤ", "ਵੇਲੇ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਸਾਡਾ", "ਜੀਵਨ", "ਹਵਾ", "ਦੇ", "ਘਟਕਾਂ", "ਦਾ", "ਪਰਿਣਾਮ", "ਹੈ", "|", "ਚੰਦਰਮਾ", "ਦੀ", "ਸਤ੍ਹਾ", "ਤੇ", "ਵਾਯੂਮੰਡਲ", "ਨਹੀਂ", "ਹੈ", "ਅਤੇ", "ਉਸਦਾ", "ਤਾਪਮਾਨ-", "190", "ਤੋਂ", "-110", "ਦੇ", "ਵਿਚਕਾਰ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਪਾਣੀ", "ਦੀ", "ਤੁਲਨਾ", "ਵਿਚ", "ਧਰਤੀ", "ਜਲਦੀ", "ਗਰਮ", "ਹੁੰਦੀ", "ਹੈ,", "ਇਸ", "ਲਈ", "ਧਰਤੀ", "ਉਪਰ", "ਹਵਾ", "ਵੀ", "ਤੇਜ਼ੀ", "ਨਾਲ", "ਗਰਮ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਦਿਨ", "ਦੇ", "ਸਮੇਂ", "ਹਵਾ", "ਦੀ", "ਦਿਸ਼ਾ", "ਸਮੁੰਦਰ", "ਤੋਂ", "ਧਰਤੀ", "ਵੱਲ", "ਅਤੇ", "ਰਾਤ", "ਸਮੇਂ", "ਧਰਤੀ", "ਤੋਂ", "ਸਮੁੰਦਰ", "ਵੱਲ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਹਵਾ", "ਨੂੰ", "ਧਰਤੀ", "ਦੀ", "ਘੁੰਮਣ", "ਗਤੀ", "ਅਤੇ", "ਪਰਬਤ", "ਲੜੀਆਂ", "ਵੀ", "ਪ੍ਰਭਾਵਿਤ", "ਕਰਦਿਆਂ", "ਹਨ", "|", "ਵਰਖਾ", "ਦੀ", "ਕਿਸਮ", "ਪਵਨਾਂ", "ਦੇ", "ਪੈਟਰਨ", "ਤੇ", "ਨਿਰਭਰ", "ਕਰਦੀ", "ਹੈ", "|", "ਭਾਰਤ", "ਵਿਚ", "ਵਰਖਾ", "ਦੱਖਣ-ਪੱਛਮ", "ਜਾਂ", "ਉੱਤਰ-ਪੂਰਬੀ", "ਮਾਨਸੂਨ", "ਦੇ", "ਕਰਨ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਹਵਾ", "ਦੇ", "ਗੁਣ", "ਸਾਰੇ", "ਜੀਵਾਂ", "ਨੂੰ", "ਪ੍ਰਭਾਵਿਤ", "ਕਰਦੇ", "ਹਨ", "|", "ਬਾਲਣ", "ਦੇ", "ਜਲਣ", "ਤੇ", "ਦੂਸ਼ਿਤ", "ਗੈਸਾਂ", "ਪੈਦਾ", "ਹੁੰਦੀਆਂ", "ਹਨ", "ਜੋ", "ਵਰਖਾ", "ਦੇ", "ਪਾਣੀ", "ਵਿਚ", "ਮਿਲ", "ਕੇ", "ਅਮਲੀ", "ਵਰਖਾ", "ਪੈਦਾ", "ਕਰਦਿਆਂ", "ਹਨ", "|", "ਨਿਲੰਬਤ", "ਕਣ", "ਅਣਜਲੇ", "ਕਾਬਲ", "ਕਣ", "ਜਾਂ", "ਪ੍ਰਦਾਰਥ", "ਹੋ", "ਸਕਦੇ", "ਹਨ", "ਜਿਸ", "ਨੂੰ", "ਹਾਈਡਰੋਕਾਰਬਨ", "ਕਹਿੰਦੇ", "ਹਨ", "|", "ਦੂਸ਼ਿਤ", "ਹਵਾ", "ਵਿਚ", "ਸਾਹ", "ਲੈਣ", "ਨਾਲ", "ਕੈਂਸਰ,", "ਦਿਲ", "ਦੇ", "ਰੋਗ", "ਜਾਂ", "ਅਲਰਜੀ", "ਵਰਗੀਆਂ", "ਬਿਮਾਰੀਆਂ", "ਦੀ", "ਸੰਭਾਵਨਾ", "ਵੱਧ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਧਰਤੀ", "ਦੀ", "ਸਤ੍ਹਾ", "ਤੇ", "ਮਿਲਣ", "ਵਾਲਾ", "ਵਧੇਰੇ", "ਪਾਣੀ", "ਸਮੁੰਦਰਾਂ", "ਅਤੇ", "ਮਹਾਂਸਾਗਰਾਂ", "ਵਿਚ", "ਹੈ", "|", "ਸ਼ੁੱਧ", "ਪਾਣੀ", "ਬਰਫ", "ਦੇ", "ਰੂਪ", "ਵਿਚ", "ਦੋਨਾਂ", "ਧਰੁਵਾਂ", "ਅਤੇ", "ਬਰਫ", "ਦੇ", "ਪਹਾੜਾਂ", "ਤੇ", "ਮਿਲਦਾ", "ਹੈ", "|", "ਭੂਮੀਗਤ", "ਜਲ,", "ਨਦੀਆਂ-ਝੀਲਾਂ,", "ਤਲਾਬਾਂ", "ਦਾ", "ਪਾਣੀ", "ਵੀ", "ਅਲੂਣਾ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਜੀਵਨ", "ਦੀ", "ਵਿਵਿਧਤਾ", "ਨੂੰ", "ਮਿੱਟੀ", "ਪ੍ਰਭਾਵਿਤ", "ਕਰਦੀ", "ਹੈ", "|", "ਮਿੱਟੀ", "ਵਿਚ", "ਮਿਲਣ", "ਵਾਲੇ", "ਖਣਿਜ", "", "ਜੀਵਾਂ", "ਨੂੰ", "ਵੱਖ-ਵੱਖ", "ਪ੍ਰਕਾਰ", "ਨਾਲ", "ਸਹਾਇਤਾ", "ਪ੍ਰਦਾਨ", "ਕਰਦੇ", "ਹਨ", "|", "ਸੂਰਜ,", "ਪਾਣੀ,", "ਹਵਾ", "ਅਤੇ", "ਜੀਵ-ਜੰਤੂ", "ਮਿੱਟੀ", "ਦੀ", "ਰਚਨਾ", "ਵਿਚ", "ਸਹਾਇਕ", "ਹਨ", "|", "ਮਿੱਟੀ", "ਦੇ", "ਪ੍ਰਕਾਰ", "ਦਾ", "ਨਿਰਣਾ", "ਉਸ", "ਵਿਚ", "ਮਿਲਣ", "ਵਾਲੇ", "ਕਣਾਂ", "ਦੇ", "ਔਸਤ", "ਦੁਆਰਾ", "ਨਿਰਧਾਰਿਤ", "ਕੀਤਾ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਮਿੱਟੀ", "ਦੇ", "ਗੁਣ", "ਮਲਤ", "ਦੀ", "ਮਾਤਰਾ", "ਅਤ", "ਉਸ", "ਵਿਚ", "ਸੂਖਮ", "ਜੀਵਾਂ", "ਦੇ", "ਆਧਾਰ", "ਤੇ", "ਜਾਂਚੇ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਵਿਸ਼ੇਸ਼", "ਪੱਥਰਾਂ", "ਤੋਂ", "ਬਣੀ", "ਮਿੱਟੀ", "ਉਸ", "ਵਿਚ", "ਮੌਜੂਦ", "ਖਣਿਜ", "ਪੋਸ਼ਕ", "ਤੱਤਾਂ", "ਨੂੰ", "ਪ੍ਰਗਟ", "ਕਰਦੇ", "ਹਨ", "|", "ਆਧੁਨਿਕ", "ਕੀਟ", "ਨਾਸ਼ਕਾਂ", "ਅਤੇ", "ਰਾਸਾਇਨਿਕ", "ਖਾਦਾਂ", "ਨੇ", "ਮਿੱਟੀ", "ਦੀ", "ਸਰੰਚਨਾ", "ਵਿਗਾੜ", "ਦਿੱਤੀ", "ਹੈ", "|", "ਕਾਰਬਨ", "ਦਾ", "ਵੱਖ-ਵੱਖ", "ਭੌਤਿਕ", "ਅਤੇ", "ਜੈਵਿਕ", "ਕਿਰਿਆਵਾਂ", "ਦੁਆਰਾ", "ਚਕਰ", "ਲੱਗਦਾ", "ਹੈ", "|", "ਧਰਤੀ", "ਉੱਤੇ", "ਰੁੱਖਾਂ", "ਦੀ", "ਘਾਟ", "ਕਰਨ", "ਹੀ", "ਗਲੇਸ਼ੀਅਰ", "ਪਿਘਲ", "ਰਹੇ", "ਹਨ", "ਅਤੇ", "ਗਰਮੀ", "ਵੱਧ", "ਰਹੀ", "ਹੈ", "|"];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}



