
@{

    ViewBag.Title = "Passage Typing : Lesson 21 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 21:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage ", "Passage", "PassageTyping", new { id = "22" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 505     </h5>
            <br />
            <section id="word-section">
                <span class="current-word">ਇਕ</span><span>ਆਦਰਸ਼</span><span>ਰਾਜ-ਪ੍ਰਬੰਧ</span><span>ਵਿਚ</span><span>ਜਨਤਾ</span><span>ਗੁਪਤ</span><span>ਵੋਟਾਂ</span><span>ਦੁਆਰਾ</span><span>ਆਪਣੇ</span><span>ਪ੍ਰਤੀਨਿਧ</span><span>ਚੁਣਦੀ</span><span>ਹੈ</span><span>|</span><span>ਜਿਸ</span><span>ਰਾਜਸੀ</span><span>ਪਾਰਟੀ</span><span>ਦੇ</span><span>ਜਿਆਦਾ</span><span>ਉਮਮੀਦਵਾਰ</span><span>ਜਿੱਤੇ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>ਉਹ</span><span>ਨਿਸ਼ਚਿਤ</span><span>ਸਮੇਂ</span><span>ਲਈ</span><span>ਮੰਤਰੀ</span><span>ਮੰਡਲ</span><span>ਦੁਆਰਾ</span><span>ਰਾਜ</span><span>ਕਰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਜੇ</span><span>ਉਸ</span><span>ਦਾ</span><span>ਰਾਜ</span><span>ਲੋਕ-ਹਿਤ</span><span>ਸਿੱਧ</span><span>ਹੋਵੇ</span><span>ਤਾਂ</span><span>ਉਸ</span><span>ਪਾਰਟੀ</span><span>ਦੇ</span><span>ਉਮੀਦਵਾਰਾਂ</span><span>ਨੂੰ</span><span>ਮੁੜ</span><span>ਜਿਤਾਇਆ</span><span>ਜੇ</span><span>ਰਾਜਗੱਦੀ</span><span>'ਤੇ</span><span>ਬਿਠਾਇਆ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਪਰ</span><span>ਇਸ</span><span>ਤਰ੍ਹਾਂ</span><span>ਦੀ</span><span>ਰਾਜ</span><span>ਪ੍ਰੀਕਰੀਆ</span><span>ਲਈ</span><span>ਵੋਟਰ</span><span>ਦਾ</span><span>ਆਰਥਕ</span><span>ਤੌਰ</span><span>'ਤੇ</span><span></span><span>ਖੁਸ਼ਹਾਲ</span><span>ਪੜ੍ਹਿਆ</span><span>ਲਿਖਿਆ</span><span>ਤੇ</span><span>ਸੂਝਵਾਨ</span><span>ਹੋਣਾ</span><span>ਜਰੂਰੀ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਪੰਜਾਬ</span><span>ਵਿਧਾਨ-ਸਭਾ</span><span>ਦੀਆਂ</span><span>ਚੋਣਾਂ</span><span>ਬਟਾਲਾ</span><span>ਵਿਚ</span><span>ਗੁਰੂ</span><span>ਨਾਨਕ</span><span>ਨਗਰ</span><span>ਤੇ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਆਲੇ-ਦੁਵਾਲੇ</span><span>ਦੀਆਂ</span><span>ਵੋਟਾਂ</span><span>ਆਮ</span><span>ਤੌਰ</span><span>ਤੇ</span><span>ਖਾਲਸਾ</span><span>ਸਕੂਲ</span><span>ਵਿੱਚ</span><span>ਪੈਂਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਸਕੂਲ</span><span>ਦੇ</span><span>ਮੁੱਖ</span><span>ਗੇਟ</span><span>ਦੇ</span><span>ਬਾਹਰ</span><span>ਥੋੜੀ</span><span>ਵਿੱਥ</span><span>'ਤੇ</span><span>ਸੜਕ</span><span>ਕਿਨਾਰੇ</span><span>ਰਾਜਸੀ</span><span>ਪਾਰਟੀਆਂ</span><span>ਸ਼ਾਮਿਆਨੇ</span><span>ਤੇ</span><span>ਕਨਾਤਾਂ</span><span>ਨਾਲ</span><span>ਆਪੋ</span><span>ਆਪਣਾ</span><span>ਅਸਥਾਈ</span><span>ਦਫ਼ਤਰ</span><span>ਬਣਾ</span><span>ਲੈਂਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਕੁਰਸੀਆਂ,</span><span>ਮੇਜ਼ਾ,</span><span>ਦਰੀਆਂ,</span><span>ਝੰਡੀਆ</span><span>ਤੇ</span><span>ਪਾਰਟੀ</span><span>ਦੇ</span><span>ਭਿੰਨ</span><span>ਭਿੰਨ</span><span>ਇਸ਼ਤਿਹਾਰਾਂ</span><span>ਨਾਲ</span><span>ਸੁੰਦਰ</span><span>ਬਣਾ</span><span>ਲੈਂਦੀਆ</span><span>ਹਨ</span><span>|</span><span>ਵੋਟਾਂ</span><span>ਦੀਆ</span><span>ਛਪੀਆਂ</span><span>ਸੂਚੀਆਂ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਪਾਰਟੀ</span><span>ਦੇ</span><span>ਮੈਂਬਰ</span><span>ਵੋਟਾਂ</span><span>ਪੈਣ</span><span>ਤੋਂ</span><span>ਪਹਿਲਾਂ</span><span>ਹੀ</span><span>ਬੈਠ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਅਨੁਸ਼ਾਸ਼ਨ</span><span>ਦੀ</span><span>ਸਥਾਪਤੀ</span><span>ਲਈ</span><span>ਲੋੜ</span><span>ਅਨੁਸਾਰ</span><span>ਪੁਲਿਸ</span><span>ਖੜ੍ਹੀ</span><span>ਹੋ</span><span>ਜਾਂਦੀ</span><span>ਹੈ</span><span>|</span><span>ਹਰ</span><span>ਵੋਟਰ</span><span>ਪਹਿਲਾਂ</span><span>ਆਪਣੀ</span><span>ਪਾਰਟੀ</span><span>ਦੇ</span><span>ਦਫ਼ਰ</span><span>ਵਿਚ</span><span>ਜਾ</span><span>ਕੇ</span><span>ਚੋਣ</span><span>ਕਾਰਡ</span><span>ਲੈਂਦਾ</span><span>ਹੈ</span><span>ਜਿਸ</span><span>ਵਿਚ</span><span>ਪਾਰਟੀ</span><span>ਤੇ</span><span>ਉਸ</span><span>ਦੇ</span><span>(ਚੋਣ</span><span>ਲੜ</span><span>ਰਹੇ)</span><span>ਉਮੀਦਵਾਰ</span><span>ਦਾ</span><span>ਨਾਂ,</span><span>ਚੋਣ-ਨਿਸ਼ਾਨ,</span><span>ਵੋਟਰ</span><span>ਦਾ</span><span>ਨਾਂ,</span><span>ਪਿਤਾ</span><span>ਦਾ</span><span>ਨਾਂ,</span><span>ਮਾਤਾ</span><span>ਦਾ</span><span>ਨਾਂ,</span><span>ਹਲਕੇ</span><span>ਦਾ</span><span>ਨੰਬਰ</span><span>ਅਤੇ</span><span>ਵੋਟ-ਨੰਬਰ</span><span>ਲਿਖਿਆ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਕੋਈ</span><span>ਰਾਜਸੀ</span><span>ਪਾਰਟੀਆਂ</span><span>ਆਪਣੇ</span><span>ਵੋਟਰਾਂ</span><span>ਨੂੰ</span><span>ਇਹ</span><span>ਕਾਰਡ</span><span>ਘਰ</span><span>ਹੀ</span><span>ਪਹੁੰਚਾ</span><span>ਦਿੰਦੀਆ</span><span>ਹਨ</span><span>|</span><span>ਕਈ</span><span>ਸਿਆਣੇ</span><span>ਵੋਟਰ</span><span>ਕੇਵਲ</span><span>ਅਪਣੇ</span><span>ਵੋਟ</span><span>ਨੰਬਰ</span><span>ਲਿਖ</span><span>ਕੇ</span><span>ਲੈ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>ਤਾਂ</span><span>ਜ਼ੋ</span><span>ਕਿਸੇ</span><span>ਪਾਰਟੀ</span><span>ਨੂੰ</span><span>ਪਤਾ</span><span>ਹੀ</span><span>ਨਾ</span><span>ਲੱਗੇ</span><span>ਕਿ</span><span>ਉਹ</span><span>ਇਸ</span><span>ਨੂੰ</span><span>ਵੋਟ</span><span>ਪਾ</span><span>ਰਿਹਾ</span><span>ਹੈ</span><span>|</span><span>ਵੋਟਰ</span><span>ਇਹ</span><span>ਕਾਰਡ</span><span>ਸਕੂਲ</span><span>ਦੇ</span><span>ਗੇਟ</span><span>'ਤੇ</span><span>ਖੜ੍ਹੇ</span><span>ਸਿਪਾਹੀ</span><span>ਨੂੰ</span><span>ਵਿਖਾ</span><span>ਕੇ</span><span>ਅੰਦਰ</span><span>ਚਲਾ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਅਤੇ</span><span>ਵੋਟ-ਘਰ</span><span>ਦੇ</span><span>ਅੰਦਰ</span><span>ਜਾਣ</span><span>ਵਾਲੇ</span><span>ਦਰਵਾਜ਼ੇ</span><span>ਦੇ</span><span>ਬਾਹਰ</span><span>ਕਤਾਰ</span><span>ਵਿੱਚ</span><span>ਖੜ੍ਹਾ</span><span>ਹੋ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>|</span><span>ਇਥੇ</span><span>ਖੜ੍ਹੇ</span><span>ਸਿਪਾਹੀ</span><span>ਤੇ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਸਹਾਇਕਾਂ</span><span>ਤੇ</span><span>ਜ਼ਨਾਨਾ</span><span>ਦੋ</span><span>ਕਤਾਰਾਂ</span><span>ਬਣਵਾਈਆਂ</span><span>ਹੁੰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਇਹ</span><span>ਵਾਰੋ</span><span>ਵਾਰੀ</span><span>ਵੋਟਰਾਂ</span><span>ਨੂੰ</span><span>ਅੰਦਰੀ</span><span>ਭੇਜੀ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਸ</span><span>ਦਰਵਾਜ਼ੇ</span><span>ਦੇ</span><span>ਖੱਬੇ</span><span>ਪਾਸੇ</span><span>ਚੋਣ</span><span>ਕਰਮਚਾਰੀ</span><span>ਤੇ</span><span>ਸਾਹਮਣੇ</span><span>ਥੋੜ੍ਹੀ</span><span>ਜਗ੍ਹਾ</span><span>'ਤੇ</span><span>ਸੱਜੇ</span><span>ਪਾਸੇ</span><span>ਚੋਣ</span><span>ਲੜ</span><span>ਰਹੇ</span><span>ਉਮੀਦਵਾਰ</span><span>ਜਾਂ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦੇ</span><span>ਨਾਮਜ਼ਦ</span><span>ਕੀਤੇ</span><span>ਏਜੰਟ</span><span>ਬੈੰਚਾ</span><span>'ਤੇ</span><span>ਬੈਠੇ</span><span>ਹੁੰਦੇ</span><span>ਹਨ</span><span>ਤਾਂ</span><span>ਜ਼ੋ</span><span>ਕੋਈ</span><span>ਬੋਗਸ</span><span>ਪੋਟ</span><span>ਨਾ</span><span>ਭੁਗਤਾ</span><span>ਸਕੇ</span><span>|</span><span>ਦਰਵਾਜ਼ੇ</span><span>ਦੇ</span><span>ਸਾਹਮਸ਼ਾਣੇ</span><span>ਕਮਰੇ</span><span>ਦੇ</span><span>ਵਿਚਕਾਰ</span><span>ਮੁੱਖ</span><span>ਚੋਣ-ਅਫਸਰ</span><span>ਆਪਣਾ</span><span>ਦਫਤਰ</span><span>ਲਾ</span><span>ਕ</span><span>ਬੈਠਾ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਉਸ</span><span>ਬਾਹਰ</span><span>ਜਾਣ</span><span>ਵਾਲੇ</span><span>ਦਰਵਾਜੇ</span><span>ਦੇ</span><span>ਕੋਲ</span><span>ਕਨਾਤ</span><span>ਨਾਲ</span><span>ਬਣਾਏ</span><span>ਕੈਬਿਨ</span><span>ਵਿਚ</span><span>ਇਕ</span><span>ਮੇਜ਼</span><span>'ਤੇ</span><span>ਵੋਟਾਂ</span><span>ਪਾਉਣ</span><span>ਵਾਲਾ</span><span>ਬਕਸਾ</span><span>ਰੱਖਿਆ</span><span>ਹੁੰਦਾ</span><span>ਹੈ</span><span>|</span><span>ਤਾਂ</span><span>ਜ਼ੋ</span><span>ਵੋਟਰ</span><span>ਆਪਣੀ</span><span>ਮਰਜ਼ੀ</span><span>ਦੇ</span><span>ਉਮਮੀਵਾਰ</span><span>ਦੇ</span><span>ਖਾਨੇ</span><span>'ਤੇ</span><span>ਮੋਹਰ</span><span>ਲਾ</span><span>ਕ</span><span>ਵੋਟਰ-ਪੇਪਰ</span><span>ਬਕਸੇ</span><span>ਵਿੱਚ</span><span>ਪਾ</span><span>ਕੇ</span><span>ਬਾਹਰ</span><span>ਚਲਾ</span><span>ਜਾਵੇ</span><span>|</span><span>ਸ਼ੁਰੂ-ਸ਼ੁਰੂ</span><span>ਵਿਚ</span><span>ਆਮ</span><span>ਤੌਰ</span><span>'ਤੇ</span><span>ਬਹੁਤ</span><span>ਭੀੜ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਬਾਅਦ</span><span>ਵਿੱਚ</span><span>ਬਿਮਾਰ</span><span>ਤੇ</span><span>ਬਿਰਧ</span><span>ਆਉਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਸ</span><span>ਵੇਲੇ</span><span>ਚਲਾਕ</span><span>ਉਮੀਦਵਾਰ</span><span>ਜਾਂ</span><span>ਉਸ</span><span>ਦੇ</span><span>ਕਹਿੰਦੇ</span><span>ਬੋਗਸ</span><span>ਵੋਟਾਂ</span><span>ਨੂੰ</span><span>ਭੁਗਤਾਉਣ</span><span>ਦੀ</span><span>ਕੋਸ਼ਿਸ਼</span><span>ਕਰਦੇ</span><span>ਹਨ</span><span>|</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਉਨ੍ਹਾਂ</span><span>ਦਾ</span><span>ਦਾਅ</span><span>ਲੱਗ</span><span>ਜਾਂਦਾ</span><span>ਹੈ</span><span>ਪਰ</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਫੜੇ</span><span>ਵੀ</span><span>ਜਾਂਦੇ</span><span>ਹਨ</span><span>|</span><span>ਕਈ</span><span>ਵਾਰ</span><span>ਕਿਸੇ</span><span>ਨਾ</span><span>ਕਿਸੇ</span><span>ਕਾਰਨ</span><span>ਰਾਜਸੀ</span><span>ਪਾਰਟੀਆਂ</span><span>ਵੋਟ-ਘਰ</span><span>ਦੇ</span><span>ਅੰਦਰ</span><span>ਜਾਂ</span><span>ਬਾਹਰ</span><span>ਲੜਾਈ-ਝਗੜਾ</span><span>ਵੀ</span><span>ਕਰਦੀਆਂ</span><span>ਹਨ</span><span>|</span><span>ਕਈ</span><span>ਵਾਰੀ</span><span>ਰਾਜਸੀ</span><span>ਪਾਰਟੀਆਂ</span><span>ਸੀਨਾਜ਼ੋਰੀ/ਮਨਮਰਜ਼ੀ</span><span>ਤੋਂ</span><span>ਕੰਮ</span><span>ਲੈ</span><span>ਕੇ</span><span>ਮਨਮਾਨੀਆਂ</span><span>ਕਰਨ</span><span>ਦੀ</span><span>ਕੋਸ਼ਿਸ਼</span><span>ਕਰਦੀਆਂ</span><span>ਹਨ</span><span>|</span>
            </section>
            <br />
            <div id="errorDiv" style="text-align:center;">
                <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span>
            </div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--add area here -->
            </div>
            <div class="row col-sm-6">
                <table class="table">
                    <thead style="text-align:center;">
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
                <div id="banner" style="text-align:center;">
                    <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript">

        function addWords() {
            var wordList = ["ਇਕ", "ਆਦਰਸ਼", "ਰਾਜ-ਪ੍ਰਬੰਧ", "ਵਿਚ", "ਜਨਤਾ", "ਗੁਪਤ", "ਵੋਟਾਂ", "ਦੁਆਰਾ", "ਆਪਣੇ", "ਪ੍ਰਤੀਨਿਧ", "ਚੁਣਦੀ", "ਹੈ", "|", "ਜਿਸ", "ਰਾਜਸੀ", "ਪਾਰਟੀ", "ਦੇ", "ਜਿਆਦਾ", "ਉਮਮੀਦਵਾਰ", "ਜਿੱਤੇ", "ਜਾਂਦੇ", "ਹਨ", "ਉਹ", "ਨਿਸ਼ਚਿਤ", "ਸਮੇਂ", "ਲਈ", "ਮੰਤਰੀ", "ਮੰਡਲ", "ਦੁਆਰਾ", "ਰਾਜ", "ਕਰਦੀ", "ਹੈ", "|", "ਜੇ", "ਉਸ", "ਦਾ", "ਰਾਜ", "ਲੋਕ-ਹਿਤ", "ਸਿੱਧ", "ਹੋਵੇ", "ਤਾਂ", "ਉਸ", "ਪਾਰਟੀ", "ਦੇ", "ਉਮੀਦਵਾਰਾਂ", "ਨੂੰ", "ਮੁੜ", "ਜਿਤਾਇਆ", "ਜੇ", "ਰਾਜਗੱਦੀ", "'ਤੇ", "ਬਿਠਾਇਆ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਪਰ", "ਇਸ", "ਤਰ੍ਹਾਂ", "ਦੀ", "ਰਾਜ", "ਪ੍ਰੀਕਰੀਆ", "ਲਈ", "ਵੋਟਰ", "ਦਾ", "ਆਰਥਕ", "ਤੌਰ", "'ਤੇ", "", "ਖੁਸ਼ਹਾਲ", "ਪੜ੍ਹਿਆ", "ਲਿਖਿਆ", "ਤੇ", "ਸੂਝਵਾਨ", "ਹੋਣਾ", "ਜਰੂਰੀ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਪੰਜਾਬ", "ਵਿਧਾਨ-ਸਭਾ", "ਦੀਆਂ", "ਚੋਣਾਂ", "ਬਟਾਲਾ", "ਵਿਚ", "ਗੁਰੂ", "ਨਾਨਕ", "ਨਗਰ", "ਤੇ", "ਇਸ", "ਦੇ", "ਆਲੇ-ਦੁਵਾਲੇ", "ਦੀਆਂ", "ਵੋਟਾਂ", "ਆਮ", "ਤੌਰ", "ਤੇ", "ਖਾਲਸਾ", "ਸਕੂਲ", "ਵਿੱਚ", "ਪੈਂਦੀਆਂ", "ਹਨ", "|", "ਸਕੂਲ", "ਦੇ", "ਮੁੱਖ", "ਗੇਟ", "ਦੇ", "ਬਾਹਰ", "ਥੋੜੀ", "ਵਿੱਥ", "'ਤੇ", "ਸੜਕ", "ਕਿਨਾਰੇ", "ਰਾਜਸੀ", "ਪਾਰਟੀਆਂ", "ਸ਼ਾਮਿਆਨੇ", "ਤੇ", "ਕਨਾਤਾਂ", "ਨਾਲ", "ਆਪੋ", "ਆਪਣਾ", "ਅਸਥਾਈ", "ਦਫ਼ਤਰ", "ਬਣਾ", "ਲੈਂਦੀਆਂ", "ਹਨ", "|", "ਇਸ", "ਨੂੰ", "ਕੁਰਸੀਆਂ,", "ਮੇਜ਼ਾ,", "ਦਰੀਆਂ,", "ਝੰਡੀਆ", "ਤੇ", "ਪਾਰਟੀ", "ਦੇ", "ਭਿੰਨ", "ਭਿੰਨ", "ਇਸ਼ਤਿਹਾਰਾਂ", "ਨਾਲ", "ਸੁੰਦਰ", "ਬਣਾ", "ਲੈਂਦੀਆ", "ਹਨ", "|", "ਵੋਟਾਂ", "ਦੀਆ", "ਛਪੀਆਂ", "ਸੂਚੀਆਂ", "ਲੈ", "ਕੇ", "ਪਾਰਟੀ", "ਦੇ", "ਮੈਂਬਰ", "ਵੋਟਾਂ", "ਪੈਣ", "ਤੋਂ", "ਪਹਿਲਾਂ", "ਹੀ", "ਬੈਠ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਅਨੁਸ਼ਾਸ਼ਨ", "ਦੀ", "ਸਥਾਪਤੀ", "ਲਈ", "ਲੋੜ", "ਅਨੁਸਾਰ", "ਪੁਲਿਸ", "ਖੜ੍ਹੀ", "ਹੋ", "ਜਾਂਦੀ", "ਹੈ", "|", "ਹਰ", "ਵੋਟਰ", "ਪਹਿਲਾਂ", "ਆਪਣੀ", "ਪਾਰਟੀ", "ਦੇ", "ਦਫ਼ਰ", "ਵਿਚ", "ਜਾ", "ਕੇ", "ਚੋਣ", "ਕਾਰਡ", "ਲੈਂਦਾ", "ਹੈ", "ਜਿਸ", "ਵਿਚ", "ਪਾਰਟੀ", "ਤੇ", "ਉਸ", "ਦੇ", "(ਚੋਣ", "ਲੜ", "ਰਹੇ)", "ਉਮੀਦਵਾਰ", "ਦਾ", "ਨਾਂ,", "ਚੋਣ-ਨਿਸ਼ਾਨ,", "ਵੋਟਰ", "ਦਾ", "ਨਾਂ,", "ਪਿਤਾ", "ਦਾ", "ਨਾਂ,", "ਮਾਤਾ", "ਦਾ", "ਨਾਂ,", "ਹਲਕੇ", "ਦਾ", "ਨੰਬਰ", "ਅਤੇ", "ਵੋਟ-ਨੰਬਰ", "ਲਿਖਿਆ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਕੋਈ", "ਰਾਜਸੀ", "ਪਾਰਟੀਆਂ", "ਆਪਣੇ", "ਵੋਟਰਾਂ", "ਨੂੰ", "ਇਹ", "ਕਾਰਡ", "ਘਰ", "ਹੀ", "ਪਹੁੰਚਾ", "ਦਿੰਦੀਆ", "ਹਨ", "|", "ਕਈ", "ਸਿਆਣੇ", "ਵੋਟਰ", "ਕੇਵਲ", "ਅਪਣੇ", "ਵੋਟ", "ਨੰਬਰ", "ਲਿਖ", "ਕੇ", "ਲੈ", "ਜਾਂਦੇ", "ਹਨ", "ਤਾਂ", "ਜ਼ੋ", "ਕਿਸੇ", "ਪਾਰਟੀ", "ਨੂੰ", "ਪਤਾ", "ਹੀ", "ਨਾ", "ਲੱਗੇ", "ਕਿ", "ਉਹ", "ਇਸ", "ਨੂੰ", "ਵੋਟ", "ਪਾ", "ਰਿਹਾ", "ਹੈ", "|", "ਵੋਟਰ", "ਇਹ", "ਕਾਰਡ", "ਸਕੂਲ", "ਦੇ", "ਗੇਟ", "'ਤੇ", "ਖੜ੍ਹੇ", "ਸਿਪਾਹੀ", "ਨੂੰ", "ਵਿਖਾ", "ਕੇ", "ਅੰਦਰ", "ਚਲਾ", "ਜਾਂਦਾ", "ਹੈ", "ਅਤੇ", "ਵੋਟ-ਘਰ", "ਦੇ", "ਅੰਦਰ", "ਜਾਣ", "ਵਾਲੇ", "ਦਰਵਾਜ਼ੇ", "ਦੇ", "ਬਾਹਰ", "ਕਤਾਰ", "ਵਿੱਚ", "ਖੜ੍ਹਾ", "ਹੋ", "ਜਾਂਦਾ", "ਹੈ", "|", "ਇਥੇ", "ਖੜ੍ਹੇ", "ਸਿਪਾਹੀ", "ਤੇ", "ਉਸ", "ਦੇ", "ਸਹਾਇਕਾਂ", "ਤੇ", "ਜ਼ਨਾਨਾ", "ਦੋ", "ਕਤਾਰਾਂ", "ਬਣਵਾਈਆਂ", "ਹੁੰਦੀਆਂ", "ਹਨ", "|", "ਇਹ", "ਵਾਰੋ", "ਵਾਰੀ", "ਵੋਟਰਾਂ", "ਨੂੰ", "ਅੰਦਰੀ", "ਭੇਜੀ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਇਸ", "ਦਰਵਾਜ਼ੇ", "ਦੇ", "ਖੱਬੇ", "ਪਾਸੇ", "ਚੋਣ", "ਕਰਮਚਾਰੀ", "ਤੇ", "ਸਾਹਮਣੇ", "ਥੋੜ੍ਹੀ", "ਜਗ੍ਹਾ", "'ਤੇ", "ਸੱਜੇ", "ਪਾਸੇ", "ਚੋਣ", "ਲੜ", "ਰਹੇ", "ਉਮੀਦਵਾਰ", "ਜਾਂ", "ਉਨ੍ਹਾਂ", "ਦੇ", "ਨਾਮਜ਼ਦ", "ਕੀਤੇ", "ਏਜੰਟ", "ਬੈੰਚਾ", "'ਤੇ", "ਬੈਠੇ", "ਹੁੰਦੇ", "ਹਨ", "ਤਾਂ", "ਜ਼ੋ", "ਕੋਈ", "ਬੋਗਸ", "ਪੋਟ", "ਨਾ", "ਭੁਗਤਾ", "ਸਕੇ", "|", "ਦਰਵਾਜ਼ੇ", "ਦੇ", "ਸਾਹਮਸ਼ਾਣੇ", "ਕਮਰੇ", "ਦੇ", "ਵਿਚਕਾਰ", "ਮੁੱਖ", "ਚੋਣ-ਅਫਸਰ", "ਆਪਣਾ", "ਦਫਤਰ", "ਲਾ", "ਕ", "ਬੈਠਾ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਉਸ", "ਬਾਹਰ", "ਜਾਣ", "ਵਾਲੇ", "ਦਰਵਾਜੇ", "ਦੇ", "ਕੋਲ", "ਕਨਾਤ", "ਨਾਲ", "ਬਣਾਏ", "ਕੈਬਿਨ", "ਵਿਚ", "ਇਕ", "ਮੇਜ਼", "'ਤੇ", "ਵੋਟਾਂ", "ਪਾਉਣ", "ਵਾਲਾ", "ਬਕਸਾ", "ਰੱਖਿਆ", "ਹੁੰਦਾ", "ਹੈ", "|", "ਤਾਂ", "ਜ਼ੋ", "ਵੋਟਰ", "ਆਪਣੀ", "ਮਰਜ਼ੀ", "ਦੇ", "ਉਮਮੀਵਾਰ", "ਦੇ", "ਖਾਨੇ", "'ਤੇ", "ਮੋਹਰ", "ਲਾ", "ਕ", "ਵੋਟਰ-ਪੇਪਰ", "ਬਕਸੇ", "ਵਿੱਚ", "ਪਾ", "ਕੇ", "ਬਾਹਰ", "ਚਲਾ", "ਜਾਵੇ", "|", "ਸ਼ੁਰੂ-ਸ਼ੁਰੂ", "ਵਿਚ", "ਆਮ", "ਤੌਰ", "'ਤੇ", "ਬਹੁਤ", "ਭੀੜ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਬਾਅਦ", "ਵਿੱਚ", "ਬਿਮਾਰ", "ਤੇ", "ਬਿਰਧ", "ਆਉਂਦੇ", "ਹਨ", "|", "ਇਸ", "ਵੇਲੇ", "ਚਲਾਕ", "ਉਮੀਦਵਾਰ", "ਜਾਂ", "ਉਸ", "ਦੇ", "ਕਹਿੰਦੇ", "ਬੋਗਸ", "ਵੋਟਾਂ", "ਨੂੰ", "ਭੁਗਤਾਉਣ", "ਦੀ", "ਕੋਸ਼ਿਸ਼", "ਕਰਦੇ", "ਹਨ", "|", "ਕਈ", "ਵਾਰੀ", "ਉਨ੍ਹਾਂ", "ਦਾ", "ਦਾਅ", "ਲੱਗ", "ਜਾਂਦਾ", "ਹੈ", "ਪਰ", "ਕਈ", "ਵਾਰੀ", "ਫੜੇ", "ਵੀ", "ਜਾਂਦੇ", "ਹਨ", "|", "ਕਈ", "ਵਾਰ", "ਕਿਸੇ", "ਨਾ", "ਕਿਸੇ", "ਕਾਰਨ", "ਰਾਜਸੀ", "ਪਾਰਟੀਆਂ", "ਵੋਟ-ਘਰ", "ਦੇ", "ਅੰਦਰ", "ਜਾਂ", "ਬਾਹਰ", "ਲੜਾਈ-ਝਗੜਾ", "ਵੀ", "ਕਰਦੀਆਂ", "ਹਨ", "|", "ਕਈ", "ਵਾਰੀ", "ਰਾਜਸੀ", "ਪਾਰਟੀਆਂ", "ਸੀਨਾਜ਼ੋਰੀ/ਮਨਮਰਜ਼ੀ", "ਤੋਂ", "ਕੰਮ", "ਲੈ", "ਕੇ", "ਮਨਮਾਨੀਆਂ", "ਕਰਨ", "ਦੀ", "ਕੋਸ਼ਿਸ਼", "ਕਰਦੀਆਂ", "ਹਨ", "|",];

            // clear existing word-section
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";
            for (i = 0; i < wordList.length; i++) {
                var wordSpan = "<span>" + wordList[i] + "</span>";
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word
            wordSection.firstChild.classList.add("current-word");
        }
    </script>

}







