

@{
    /**/

    ViewBag.Title = "Home Row : Lesson 1 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!--add area here -->
        </div>
        <div class="col-sm-8">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Passage 1:&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Next Passage", "LearnTyping", "StartTyping")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>

            <h5 style="text-align:right">Total Words: 476</h5>
            <br />
            <section id="word-section"><span class="current-word">ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦੁਨੀਆ</span><span>ਭਰ</span><span>ਦੇ</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿਚ</span><span>ਦਿਨ</span><span>ਪ੍ਰਤੀ</span><span>ਦਿਨ</span><span>ਵੱਧ</span><span>ਰਹੀ</span><span>ਹੈ,</span><span>ਪਰ</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਤੇਜ਼ੀ</span><span>ਨਾਲ</span><span>ਵਧਣ</span><span>ਦੀ</span><span>ਰਫਤਾਰ</span><span>ਸਭ</span><span>ਦੇਸ਼ਾਂ</span><span>ਨਾਲੋਂ</span><span>ਵਧੇਰੇ</span><span>ਤੇਜ਼</span><span>ਅਤੇ</span><span>ਅੱਗੇ</span><span>ਹੈ।</span><span>ਇਸ</span><span>ਦਾ</span><span>ਜੋ</span><span>ਖਤਰਨਾਕ</span><span>ਰੂਪ</span><span>ਵਰਤਮਾਨ</span><span>ਸਮੇਂ</span><span>ਵਿਚ</span><span>ਦਿਖਾਈ</span><span>ਦੇ</span><span>ਰਿਹਾ</span><span>ਹੈ,</span><span>ਇਹੋ</span><span>ਜਿਹਾ</span><span>ਪਹਿਲਾਂ</span><span>ਕਦੇ</span><span>ਵੀ</span><span>ਦੇਖਣ</span><span>ਵਿਚ</span><span>ਨਹੀ</span><span>ਸੀ</span><span>ਆਇਆ।</span><span>ਅਰਥ-ਵਿਗਿਆਨੀਆਂ</span><span>ਅਨੁਸਾਰ</span><span>ਭਾਰਤ</span><span>ਦੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦਾ</span><span>ਸਰੂਪ</span><span>ਦੁਨੀਆ</span><span>ਦੇ</span><span>ਵਿਕਸਿਤ</span><span>ਦੇਸ਼ਾਂ</span><span>ਦੇ</span><span>ਮੁਕਾਬਲੇ</span><span>ਕਾਫ਼ੀ</span><span>ਭਿੰਨ/ਅਲੱਗ</span><span>ਹੈ।</span><span>ਵਿਕਸਿਤ</span><span>ਅਤੇ</span><span>ਸਾਰੀਆਂ</span><span>ਸੁਵਿਧਾਵਾਂ</span><span>ਤੋਂ</span><span>ਭਰਪੂਰ</span><span>ਉਦਯੋਗਿਕ</span><span>ਦੇਸ਼ਾਂ</span><span>ਵਿਚ</span><span>ਚੱਕਰੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਹੈ,</span><span>ਜਦ</span><span>ਕਿ</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਇਸ</span><span>ਦਾ</span><span>ਸਰੂਪ</span><span>ਲੰਮੇ</span><span>ਅਰਸੇ</span><span>ਤੋਂ</span><span>ਵੇਖਣ</span><span>ਨੂੰ</span><span>ਮਿਲ</span><span>ਰਿਹਾ</span><span>ਹੈ।</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਕਈ</span><span>ਰੂਪ</span><span>ਹਨ:</span><span>ਜਿਵੇਂ</span><span>ਮੌਸਮੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ,</span><span>ਛਿਪੀ</span><span>ਹੋਈ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਤੇ</span><span>ਅਲਪ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ,</span><span>ਅਸਿੱਖਿਅਤ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ।</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦੇ</span><span>ਇਹੇ</span><span>ਸਾਰੇ</span><span>ਰੂਪ</span><span>ਭਾਰਤ</span><span>ਦੇ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਪਿੰਡਾਂ</span><span>ਦੀ</span><span>ਕਿਸਾਨੀ</span><span>ਵਿਚ</span><span>ਮਿਲਦੇ</span><span>ਹਨ</span><span>|</span><span>ਇਸ</span><span>ਤੋਂ</span><span>ਇਲਾਵਾ</span><span>ਸ਼ਹਿਰੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਵਿਚ</span><span>ਉਦਯੋਗਿਕ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਤੇ</span><span>ਪੜ੍ਹੇ-ਲਿਖੇ</span><span>ਲੋਕਾਂ</span><span>ਦੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਸ਼ਾਮਿਲ</span><span>ਹੁੰਦੀ</span><span>ਹੈ</span><span>|</span><span>ਬਹੁਤ</span><span>ਬੇਰੁਜ਼ਗਾਰ</span><span>ਸਰਕਾਰੀ</span><span>ਦਫਤਰਾਂ</span><span>ਕੰਮਾਂ</span><span>ਤੋਂ</span><span>ਨਿਰਾਸ਼</span><span>ਹੋ</span><span>ਚੁਕੇ</span><span>ਹਨ</span><span>ਤੇ</span><span>ਬਹੁਤੇ</span><span>ਅਜਿਹੇ</span><span>ਹਨ,</span><span>ਜਿਨ੍ਹਾਂ</span><span>ਨੂੰ</span><span>ਰੁਜ਼ਗਾਰ</span><span>ਦਫਤਰਾਂ</span><span>ਦਾ</span><span>ਰਾਹ</span><span>ਵੀ</span><span>ਪਤਾ</span><span>ਨਹੀਂ</span><span>|</span><span>ਪਿੱਛੇ</span><span>ਜਿਹੇ</span><span>ਭਾਰਤ</span><span>ਅਤੇ</span><span>ਪਾਕਿਸਤਾਨ</span><span>ਦੀ</span><span>ਲੜਾਈ</span><span>ਸਮੇਂ</span><span>ਵੱਖ-ਵੱਖ</span><span>ਰਾਜਾਂ</span><span>ਵਿਚ</span><span>ਫੌਜੀ</span><span>ਭਰਤੀ</span><span>ਲਈ</span><span>ਲੱਗਿਆ</span><span>ਨੌਜਵਾਨਾਂ</span><span>ਦੀਆਂ</span><span>ਭੀੜਾਂ</span><span>ਤੋਂ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦੇ</span><span>ਵਿਕਰਾਲ</span><span>ਰੂਪ</span><span>ਦੇ</span><span>ਦਰਸ਼ਨ</span><span>ਕੀਤੇ</span><span>ਜਾ</span><span>ਸਕਦੇ</span><span>ਸਨ</span><span>|</span><span>ਪੜ੍ਹੇ-ਲਿਖੇ</span><span>ਤੇ</span><span>ਸਿਖਲਾਈ</span><span>ਪ੍ਰਾਪਤ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਦੀ</span><span>ਗਿਣਤੀ</span><span>ਦੀਨੋ-ਦਿਨ</span><span>ਵੱਧਦੀ</span><span>ਜਾ</span><span>ਰਹੀ</span><span>ਹੈ</span><span>|</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਦੀਨੋ-ਦਿਨ</span><span>ਵੱਧ</span><span>ਰਹੀ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਨੂੰ</span><span>ਦੇਖਦੇ</span><span>ਹੋਏ</span><span>ਨੌਜਵਾਨ</span><span>ਵਿਦੇਸ਼ਾਂ</span><span>ਦਾ</span><span>ਰਾਹ</span><span>ਦੇਖ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>|</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਰੁਜ਼ਗਾਰ</span><span>ਦੀ</span><span>ਭਾਲ</span><span>ਵਿਚ</span><span>ਧੜਾ-ਧੜ</span><span>ਵਿਦੇਸ਼</span><span>ਵੱਲ</span><span>ਭੱਜ</span><span>ਰਹੇ</span><span>ਨੌਜਵਾਨਾਂ</span><span>ਨੂੰ</span><span>ਵੀ</span><span>ਬੇਰੁਜ਼ਗਾਰਾਂ</span><span>ਵਿਚ</span><span>ਹੀ</span><span>ਸ਼ਾਮਿਲ</span><span>ਕਰਨਾ</span><span>ਚਾਹੀਦਾ</span><span>ਹੈ</span><span>|</span><span>ਭਾਰਤ</span><span>ਵਿਚ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਵਿਚ</span><span>ਵਾਧੇ</span><span>ਦਾ</span><span>ਮੁਖ</span><span>ਕਾਰਨ</span><span>ਆਬਾਦੀ</span><span>ਵਿਚ</span><span>ਵਿਸਫੋਟਕ</span><span>ਵਾਧਾ</span><span>ਹੈ</span><span>|</span><span>1951</span><span>ਵਿੱਚ</span><span>ਭਾਰਤ</span><span>ਦੀ</span><span>ਅਬਾਦੀ</span><span>ਕੇਵਲ</span><span>35</span><span>ਕਰੋੜ</span><span>ਦੇ</span><span>ਲਗਭਗ</span><span>ਸੀ</span><span>ਪਰੰਤੂ</span><span>ਇਹ</span><span>2.5%</span><span>ਸਾਲਾਨਾ</span><span>ਦਰ</span><span>ਨਾਲ</span><span>ਵੱਧਦੀ</span><span>ਹੋਈ</span><span>ਅੱਜ</span><span>105</span><span>ਕਰੋੜ</span><span>ਤੋਂ</span><span>ਉੱਪਰ</span><span>ਹੋ</span><span>ਚੁਕੀ</span><span>ਹੈ</span><span>|</span><span>ਆਬਾਦੀ</span><span>ਦੇ</span><span>ਇਸ</span><span>ਤੇਜ਼</span><span>ਰਫਤਾਰ</span><span>ਵਾਧੇ</span><span>ਨੇ</span><span>ਯੋਜਨਾਵਾਂ</span><span>ਵਿਚ</span><span>ਬੇਰੁਜ਼ਗਾਰੀ</span><span>ਨੂੰ</span><span>ਖਤਮ</span><span>ਕਰਨ</span><span>ਲਈ</span><span>ਸਿੱਖੇ</span><span>ਟੀਚੇ</span><span>ਪੂਰੇ</span><span>ਨਹੀਂ</span><span>ਹੋਣ</span><span>ਦਿੱਤੇ</span><span>ਅਤੇ</span><span>ਯੋਜਨਾਵਾਂ</span><span>ਨੂੰ</span><span>ਤਹਿਸ-ਨਹਿਸ</span><span>ਕਰ</span><span>ਦਿੱਤੋ</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਦੇ</span><span>ਨਾਲ</span><span>ਹੀ</span><span>ਸਾਡੇ</span><span>ਦੇਸ਼</span><span>ਵਿਚ</span><span>ਆਰਥਿਕ</span><span>ਵਿਕਾਸ</span><span>ਦੀ</span><span>ਧੀਮੀ</span><span>ਰਫਤਾਰ,</span><span>ਪਲਾਨਾ</span><span>ਦੀ</span><span>ਅਸਫਲਤਾ,</span><span>ਖੇਤੀਬਾੜੀ</span><span>ਦੇ</span><span>ਵਿਕਾਸ</span><span>ਵਿਚ</span><span>ਲੋੜੀਂਦਾ</span><span>ਧਿਆਨ</span><span>ਨਾ</span><span>ਦਿੱਤੇ</span><span>ਜਾਣਾ,</span><span>ਲਘੂ</span><span>ਤੇ</span><span>ਕੁਟੀਰ</span><span>ਉਦਯੋਗਾਂ</span><span>ਪ੍ਰਤੀ</span><span>ਅਣਗਹਿਲੀ,</span><span>ਉਦਯੋਗਿਕ</span><span>ਵਿਕਾਸ</span><span>ਦੀ</span><span>ਨੀਵੀਂ</span><span>ਡਾਰ,</span><span>ਪੂੰਜੀ</span><span>ਤੇ</span><span>ਨਿਵੇਸ਼</span><span>ਦੀ</span><span>ਘਾਟ,</span><span>ਕੁਦਰਤੀ</span><span>ਸਾਧਨਾਂ</span><span>ਦੀ</span><span>ਅਧੂਰੀ</span><span>ਵਰਤੋਂ,</span><span>ਦੋਸ਼ਪੂਰਨ</span><span>ਸਿੱਖਿਆ</span><span>ਪ੍ਰਣਾਲੀ,</span><span>ਜਾਤੀ</span><span>ਪ੍ਰਥਾ,</span><span>ਸਾਂਝੇ</span><span>ਪਰਿਵਾਰ,</span><span>ਗ਼ਰੀਬੀ,</span><span>ਮੱਧ</span><span>ਸ਼੍ਰੇਣੀ</span><span>ਵਿਚ</span><span>ਵਾਧਾ,</span><span>ਕਾਮਿਆਂ</span><span>ਤੇ</span><span>ਕਿੱਤਾਕਾਰਾਂ</span><span>ਵਿਚ</span><span>ਗਤੀਸ਼ੀਲਤਾ</span><span>ਦੀ</span><span>ਘਾਟ,</span><span>ਬਾਲਣ</span><span>ਤੇ</span><span>ਸ਼ਕਤੀ</span><span>ਦੀ</span><span>ਘਾਟ,</span><span>ਕੁਦਰਤੀ</span><span>ਸਾਧਨਾਂ</span><span>ਦੀ</span><span>ਘਾਟ,</span><span>ਛਾਂਟੀ</span><span>ਤੇ</span><span>ਸਥਾਪਿਤ</span><span>ਸ਼ਕਤੀ</span><span>ਦੀ</span><span>ਪੂਰੀ</span><span>ਵਰਤੋਂ</span><span>ਨਾ</span><span>ਕਰਨਾ,</span><span>ਸਰਕਾਰੀ</span><span>ਅਦਾਰਿਆਂ</span><span>ਦਾ</span><span>ਅੰਨੇਵਾਹ</span><span>ਨਿਜੀਕਰਨ,</span><span>ਰਾਜਨੀਤਕ</span><span>ਭ੍ਰਿਸ਼ਟਾਚਾਰ,</span><span>ਉਦਯੋਗਿਕ</span><span>ਆਧੁਨਿਕੀਕਰਨ</span><span>ਤੇ</span><span>ਕੰਪੂਟਿਕਰਨ</span><span>ਇਸ</span><span>ਦੇ</span><span>ਹੋਰ</span><span>ਕਈ</span><span>ਕਰਨ</span><span>ਹਨ</span><span>|</span><span>ਇਹੋ</span><span>ਹੀ</span><span>ਕਾਰਨ</span><span>ਹੈ</span><span>ਕਿ</span><span>ਰੁਜ਼ਗਾਰਾਂ</span><span>ਦੇ</span><span>ਮੌਕੇ</span><span>ਦੀਨੋ</span><span>ਦਿਨ</span><span>ਘਟਦੇ</span><span>ਜਾ</span><span>ਰਹੇ</span><span>ਹਨ</span><span>|</span><span>ਆਪਣੇ</span><span>ਦੇਸ਼</span><span>ਦੇ</span><span>ਨਾਗਰਿਕਾਂ</span><span>ਨੂੰ</span><span>ਰੁਜ਼ਗਾਰ</span><span>ਪ੍ਰਦਾਨ</span><span>ਕਰਨਾ</span><span>ਹਰ</span><span>ਸਰਕਾਰ</span><span>ਦਾ</span><span>ਨੈਤਿਕ</span><span>ਫਰਜ਼</span><span>ਹੈ</span><span>|</span><span>ਇਸ</span><span>ਲਈ</span><span>ਦ੍ਰਿੜ</span><span>ਇਰਾਦੇ</span><span>ਤੇ</span><span>ਠੋਸ</span><span>ਕਾਰਵਾਹੀ</span><span>ਦੀ</span><span>ਜ਼ਰੂਰਤ</span><span>ਹੈ</span><span>|</span><span>ਸਰਕਾਰ</span><span>ਨੂੰ</span><span>ਪਰਿਵਾਰ</span><span>ਨਿਯੋਜਨ</span><span>ਸੰਬੰਧੀ,</span><span>ਸਿੱਖਿਆ</span><span>ਕੈਂਪ</span><span>ਲੱਗਾਉਣੇ</span><span>ਚਾਹੀਦੇ</span><span>ਹਨ</span><span>|</span></section>
            @*<section id="word-section"><span class="current-word">ੋ</span><span>ੋ</span><span>ੋ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>ੋ</span><span>ਚ</span><span>ਟ</span><span>ਕ</span><span>ਟ</span><span>ਪ</span><span>ੋ</span><span>ੇ</span><span>ੇ</span><span>ੇ</span><span>੍</span><span>ਰ</span><span>ਿ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ਿ</span><span>ਿ</span><span>ਚ</span><span>੍</span><span>ਿ</span><span>ਿ</span><span>ਕ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਟ</span><span>ੋ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ਿ</span><span>ੁ</span><span>ਚ</span><span>ੇ</span><span>ੁ</span><span>ਿ</span><span>ਕ</span><span>ਚ</span><span>ੇ</span><span>੍</span><span>ਟ</span><span>ਿ</span><span>ਰ</span><span>ੇ</span><span>ੁ</span><span>ੇ</span><span>ੇ</span><span>ਕ</span><span>ਪ</span><span>ੋ</span><span>੍</span><span>ਰ</span><span>ਚ</span><span>੍</span><span>ਟ</span><span>ਿ</span><span>ਿ</span><span>ਟ</span><span>੍</span><span>ੋ</span><span>ਪ</span><span>ਟ</span><span>ਚ</span><span>ਿ</span><span>ੇ</span><span>ਚ</span><span>ਰ</span><span>ਚ</span><span>੍</span><span>ਟ</span><span>ਕ</span><span>ਿ</span><span>ੋ</span><span>ਰ</span><span>ਤ</span><span>ੁ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ਰ</span><span>ਪ</span><span>ਟ</span><span>ੁ</span><span>ਪ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>ਤ</span><span>ੋ</span><span>੍</span><span>ੋ</span><span>ਰ</span><span>ਚ</span><span>ਰ</span><span>ੇ</span><span>ੋ</span><span>ੁ</span><span>ਿ</span><span>ਪ</span><span>ੋ</span><span>ਿ</span><span>੍</span><span>ਪ</span><span>ਟ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ੁ</span><span>ਿ</span><span>ਚ</span><span>ਚ</span><span>ਪ</span><span>ੁ</span><span>੍</span><span>ਚ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>ੇ</span><span>ੇ</span><span>ੁ</span><span>ਿ</span><span>ਟ</span><span>ਤ</span><span>ੁ</span><span>ਚ</span><span>ੇ</span><span>ਟ</span><span>ਕ</span><span>ੁ</span><span>ੇ</span><span>ਪ</span><span>ਕ</span><span>ਪ</span><span>ੇ</span><span>ਰ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>ਟ</span><span>ੋ</span><span>ਰ</span><span>ਤ</span><span>ਿ</span><span>ਿ</span><span>ਰ</span><span>ਟ</span><span>ਚ</span><span>ਤ</span><span>ੇ</span><span>ਟ</span><span>ਟ</span><span>ੁ</span><span>ਿ</span><span>੍</span><span>ਟ</span><span>ੋ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ੇ</span><span>ਚ</span><span>ਕ</span><span>ਿ</span><span>ਤ</span><span>ਰ</span><span>ੇ</span><span>ਕ</span><span>ਟ</span><span>੍</span><span>੍</span><span>ਚ</span><span>੍</span><span>ੇ</span><span>ਚ</span><span>ਰ</span><span>੍</span><span>ਰ</span><span>ਪ</span><span>ਟ</span><span>ਿ</span><span>ੋ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>੍</span><span>ਤ</span><span>ਪ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ਕ</span><span>ਟ</span><span>ਚ</span><span>ੋ</span><span>ੋ</span><span>ੁ</span><span>ਚ</span><span>ਕ</span><span>ਚ</span><span>ਿ</span><span>ਪ</span><span>ਿ</span><span>ਚ</span><span>ਚ</span><span>ੋ</span><span>ਟ</span><span>੍</span><span>ਪ</span><span>ਕ</span><span>ਕ</span><span>੍</span><span>ਚ</span><span>ੋ</span><span>ੋ</span><span>੍</span><span>ਟ</span><span>ੁ</span><span>ਟ</span><span>ੋ</span><span>ਿ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ਪ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ੁ</span><span>ੁ</span><span>ੇ</span><span>ਰ</span><span>ੋ</span><span>ੋ</span><span>ਰ</span><span>ਿ</span><span>ੋ</span><span>ਪ</span><span>ੋ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ੇ</span><span>ਰ</span><span>ਤ</span><span>ੋ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>੍</span><span>ਕ</span><span>ਰ</span><span>ੇ</span><span>ੁ</span><span>ੋ</span><span>ੇ</span><span>ਚ</span><span>ੋ</span><span>ਕ</span><span>ਤ</span><span>੍</span><span>ਿ</span><span>ਚ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ੁ</span><span>ਚ</span><span>ਿ</span><span>ਕ</span><span>ਿ</span><span>ਕ</span><span>ਚ</span><span>ਤ</span><span>ੇ</span><span>ਿ</span><span>ੁ</span><span>੍</span><span>ੇ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>ੁ</span><span>ਰ</span><span>ੇ</span><span>੍</span><span>ਤ</span><span>ੋ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>੍</span><span>੍</span><span>ੁ</span><span>ੇ</span><span>ਟ</span><span>ਤ</span><span>ਪ</span><span>੍</span><span>ਕ</span><span>ੋ</span><span>ਕ</span><span>੍</span><span>ਤ</span><span>੍</span><span>ੇ</span><span>ੋ</span><span>ਿ</span><span>ਟ</span><span>ਤ</span><span>ਕ</span><span>ੁ</span><span>ਤ</span><span>ਪ</span><span>ਤ</span><span>ਿ</span><span>ਰ</span><span>ਟ</span><span>ੇ</span><span>ਚ</span><span>ਚ</span><span>੍</span><span>ੋ</span><span>ਤ</span><span>ਿ</span><span>ਿ</span><span>ਟ</span><span>੍</span></section>*@

            @* <section id="word-section"><span class="current-word">ੋ</span><span>ੋ</span></section>*@
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>

        </div>
        <div class="col-sm-2">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>'|' is considered as a word/character.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>
       
    </div>
    <br />

    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>


@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>


    <script src="~/Scripts/JavaScript.js"></script>

    <script type="text/javascript">

        var wordList = ["ਬੇਰੁਜ਼ਗਾਰੀ", "ਦੁਨੀਆ", "ਭਰ", "ਦੇ", "ਦੇਸ਼ਾਂ", "ਵਿਚ", "ਦਿਨ", "ਪ੍ਰਤੀ", "ਦਿਨ", "ਵੱਧ", "ਰਹੀ", "ਹੈ,", "ਪਰ", "ਭਾਰਤ", "ਵਿਚ", "ਇਸ", "ਦੇ", "ਤੇਜ਼ੀ", "ਨਾਲ", "ਵਧਣ", "ਦੀ", "ਰਫਤਾਰ", "ਸਭ", "ਦੇਸ਼ਾਂ", "ਨਾਲੋਂ", "ਵਧੇਰੇ", "ਤੇਜ਼", "ਅਤੇ", "ਅੱਗੇ", "ਹੈ।", "ਇਸ", "ਦਾ", "ਜੋ", "ਖਤਰਨਾਕ", "ਰੂਪ", "ਵਰਤਮਾਨ", "ਸਮੇਂ", "ਵਿਚ", "ਦਿਖਾਈ", "ਦੇ", "ਰਿਹਾ", "ਹੈ,", "ਇਹੋ", "ਜਿਹਾ", "ਪਹਿਲਾਂ", "ਕਦੇ", "ਵੀ", "ਦੇਖਣ", "ਵਿਚ", "ਨਹੀ", "ਸੀ", "ਆਇਆ", "।", "ਅਰਥ-ਵਿਗਿਆਨੀਆਂ", "ਅਨੁਸਾਰ", "ਭਾਰਤ", "ਦੀ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦਾ", "ਸਰੂਪ", "ਦੁਨੀਆ", "ਦੇ", "ਵਿਕਸਿਤ", "ਦੇਸ਼ਾਂ", "ਦੇ", "ਮੁਕਾਬਲੇ", "ਕਾਫ਼ੀ", "ਭਿੰਨ/ਅਲੱਗ", "ਹੈ", "।", "ਵਿਕਸਿਤ", "ਅਤੇ", "ਸਾਰੀਆਂ", "ਸੁਵਿਧਾਵਾਂ", "ਤੋਂ", "ਭਰਪੂਰ", "ਉਦਯੋਗਿਕ", "ਦੇਸ਼ਾਂ", "ਵਿਚ", "ਚੱਕਰੀ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਹੈ,", "ਜਦ", "ਕਿ", "ਭਾਰਤ", "ਵਿਚ", "ਇਸ", "ਦਾ", "ਸਰੂਪ", "ਲੰਮੇ", "ਅਰਸੇ", "ਤੋਂ", "ਵੇਖਣ", "ਨੂੰ", "ਮਿਲ", "ਰਿਹਾ", "ਹੈ", "।", "ਭਾਰਤ", "ਵਿਚ", "ਇਸ", "ਦੇ", "ਕਈ", "ਰੂਪ", "ਹਨ:", "ਜਿਵੇਂ", "ਮੌਸਮੀ", "ਬੇਰੁਜ਼ਗਾਰੀ,", "ਛਿਪੀ", "ਹੋਈ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਤੇ", "ਅਲਪ", "ਬੇਰੁਜ਼ਗਾਰੀ,", "ਅਸਿੱਖਿਅਤ", "ਬੇਰੁਜ਼ਗਾਰੀ।", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦੇ", "ਇਹੇ", "ਸਾਰੇ", "ਰੂਪ", "ਭਾਰਤ", "ਦੇ", "ਵੱਖ-ਵੱਖ", "ਪਿੰਡਾਂ", "ਦੀ", "ਕਿਸਾਨੀ", "ਵਿਚ", "ਮਿਲਦੇ", "ਹਨ", "|", "ਇਸ", "ਤੋਂ", "ਇਲਾਵਾ", "ਸ਼ਹਿਰੀ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਵਿਚ", "ਉਦਯੋਗਿਕ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਤੇ", "ਪੜ੍ਹੇ-ਲਿਖੇ", "ਲੋਕਾਂ", "ਦੀ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਸ਼ਾਮਿਲ", "ਹੁੰਦੀ", "ਹੈ", "|", "ਬਹੁਤ", "ਬੇਰੁਜ਼ਗਾਰ", "ਸਰਕਾਰੀ", "ਦਫਤਰਾਂ", "ਕੰਮਾਂ", "ਤੋਂ", "ਨਿਰਾਸ਼", "ਹੋ", "ਚੁਕੇ", "ਹਨ", "ਤੇ", "ਬਹੁਤੇ", "ਅਜਿਹੇ", "ਹਨ,", "ਜਿਨ੍ਹਾਂ", "ਨੂੰ", "ਰੁਜ਼ਗਾਰ", "ਦਫਤਰਾਂ", "ਦਾ", "ਰਾਹ", "ਵੀ", "ਪਤਾ", "ਨਹੀਂ", "|", "ਪਿੱਛੇ", "ਜਿਹੇ", "ਭਾਰਤ", "ਅਤੇ", "ਪਾਕਿਸਤਾਨ", "ਦੀ", "ਲੜਾਈ", "ਸਮੇਂ", "ਵੱਖ-ਵੱਖ", "ਰਾਜਾਂ", "ਵਿਚ", "ਫੌਜੀ", "ਭਰਤੀ", "ਲਈ", "ਲੱਗਿਆ", "ਨੌਜਵਾਨਾਂ", "ਦੀਆਂ", "ਭੀੜਾਂ", "ਤੋਂ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦੇ", "ਵਿਕਰਾਲ", "ਰੂਪ", "ਦੇ", "ਦਰਸ਼ਨ", "ਕੀਤੇ", "ਜਾ", "ਸਕਦੇ", "ਸਨ", "|", "ਪੜ੍ਹੇ-ਲਿਖੇ", "ਤੇ", "ਸਿਖਲਾਈ", "ਪ੍ਰਾਪਤ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਦੀ", "ਗਿਣਤੀ", "ਦੀਨੋ-ਦਿਨ", "ਵੱਧਦੀ", "ਜਾ", "ਰਹੀ", "ਹੈ", "|", "ਭਾਰਤ", "ਵਿਚ", "ਦੀਨੋ-ਦਿਨ", "ਵੱਧ", "ਰਹੀ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਨੂੰ", "ਦੇਖਦੇ", "ਹੋਏ", "ਨੌਜਵਾਨ", "ਵਿਦੇਸ਼ਾਂ", "ਦਾ", "ਰਾਹ", "ਦੇਖ", "ਰਹੇ", "ਹਨ", "|", "ਭਾਰਤ", "ਵਿਚ", "ਰੁਜ਼ਗਾਰ", "ਦੀ", "ਭਾਲ", "ਵਿਚ", "ਧੜਾ-ਧੜ", "ਵਿਦੇਸ਼", "ਵੱਲ", "ਭੱਜ", "ਰਹੇ", "ਨੌਜਵਾਨਾਂ", "ਨੂੰ", "ਵੀ", "ਬੇਰੁਜ਼ਗਾਰਾਂ", "ਵਿਚ", "ਹੀ", "ਸ਼ਾਮਿਲ", "ਕਰਨਾ", "ਚਾਹੀਦਾ", "ਹੈ", "|", "ਭਾਰਤ", "ਵਿਚ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਵਿਚ", "ਵਾਧੇ", "ਦਾ", "ਮੁਖ", "ਕਾਰਨ", "ਆਬਾਦੀ", "ਵਿਚ", "ਵਿਸਫੋਟਕ", "ਵਾਧਾ", "ਹੈ", "|", "1951", "ਵਿੱਚ", "ਭਾਰਤ", "ਦੀ", "ਅਬਾਦੀ", "ਕੇਵਲ", "35", "ਕਰੋੜ", "ਦੇ", "ਲਗਭਗ", "ਸੀ", "ਪਰੰਤੂ", "ਇਹ", "2.5%", "ਸਾਲਾਨਾ", "ਦਰ", "ਨਾਲ", "ਵੱਧਦੀ", "ਹੋਈ", "ਅੱਜ", "105", "ਕਰੋੜ", "ਤੋਂ", "ਉੱਪਰ", "ਹੋ", "ਚੁਕੀ", "ਹੈ", "|", "ਆਬਾਦੀ", "ਦੇ", "ਇਸ", "ਤੇਜ਼", "ਰਫਤਾਰ", "ਵਾਧੇ", "ਨੇ", "ਯੋਜਨਾਵਾਂ", "ਵਿਚ", "ਬੇਰੁਜ਼ਗਾਰੀ", "ਨੂੰ", "ਖਤਮ", "ਕਰਨ", "ਲਈ", "ਸਿੱਖੇ", "ਟੀਚੇ", "ਪੂਰੇ", "ਨਹੀਂ", "ਹੋਣ", "ਦਿੱਤੇ", "ਅਤੇ", "ਯੋਜਨਾਵਾਂ", "ਨੂੰ", "ਤਹਿਸ-ਨਹਿਸ", "ਕਰ", "ਦਿੱਤੋ", "ਹੈ", "|", "ਇਸ", "ਦੇ", "ਨਾਲ", "ਹੀ", "ਸਾਡੇ", "ਦੇਸ਼", "ਵਿਚ", "ਆਰਥਿਕ", "ਵਿਕਾਸ", "ਦੀ", "ਧੀਮੀ", "ਰਫਤਾਰ,", "ਪਲਾਨਾ", "ਦੀ", "ਅਸਫਲਤਾ,", "ਖੇਤੀਬਾੜੀ", "ਦੇ", "ਵਿਕਾਸ", "ਵਿਚ", "ਲੋੜੀਂਦਾ", "ਧਿਆਨ", "ਨਾ", "ਦਿੱਤੇ", "ਜਾਣਾ,", "ਲਘੂ", "ਤੇ", "ਕੁਟੀਰ", "ਉਦਯੋਗਾਂ", "ਪ੍ਰਤੀ", "ਅਣਗਹਿਲੀ,", "ਉਦਯੋਗਿਕ", "ਵਿਕਾਸ", "ਦੀ", "ਨੀਵੀਂ", "ਦਰ,", "ਪੂੰਜੀ", "ਤੇ", "ਨਿਵੇਸ਼", "ਦੀ", "ਘਾਟ,", "ਕੁਦਰਤੀ", "ਸਾਧਨਾਂ", "ਦੀ", "ਅਧੂਰੀ", "ਵਰਤੋਂ,", "ਦੋਸ਼ਪੂਰਨ", "ਸਿੱਖਿਆ", "ਪ੍ਰਣਾਲੀ,", "ਜਾਤੀ", "ਪ੍ਰਥਾ,", "ਸਾਂਝੇ", "ਪਰਿਵਾਰ,", "ਗ਼ਰੀਬੀ,", "ਮੱਧ", "ਸ਼੍ਰੇਣੀ", "ਵਿਚ", "ਵਾਧਾ,", "ਕਾਮਿਆਂ", "ਤੇ", "ਕਿੱਤਾਕਾਰਾਂ", "ਵਿਚ", "ਗਤੀਸ਼ੀਲਤਾ", "ਦੀ", "ਘਾਟ,", "ਬਾਲਣ", "ਤੇ", "ਸ਼ਕਤੀ", "ਦੀ", "ਘਾਟ,", "ਕੁਦਰਤੀ", "ਸਾਧਨਾਂ", "ਦੀ", "ਘਾਟ,", "ਛਾਂਟੀ", "ਤੇ", "ਸਥਾਪਿਤ", "ਸ਼ਕਤੀ", "ਦੀ", "ਪੂਰੀ", "ਵਰਤੋਂ", "ਨਾ", "ਕਰਨਾ,", "ਸਰਕਾਰੀ", "ਅਦਾਰਿਆਂ", "ਦਾ", "ਅੰਨੇਵਾਹ", "ਨਿਜੀਕਰਨ,", "ਰਾਜਨੀਤਕ", "ਭ੍ਰਿਸ਼ਟਾਚਾਰ,", "ਉਦਯੋਗਿਕ", "ਆਧੁਨਿਕੀਕਰਨ", "ਤੇ", "ਕੰਪੂਟਿਕਰਨ", "ਇਸ", "ਦੇ", "ਹੋਰ", "ਕਈ", "ਕਰਨ", "ਹਨ", "|", "ਇਹੋ", "ਹੀ", "ਕਾਰਨ", "ਹੈ", "ਕਿ", "ਰੁਜ਼ਗਾਰਾਂ", "ਦੇ", "ਮੌਕੇ", "ਦੀਨੋ", "ਦਿਨ", "ਘਟਦੇ", "ਜਾ", "ਰਹੇ", "ਹਨ", "|", "ਆਪਣੇ", "ਦੇਸ਼", "ਦੇ", "ਨਾਗਰਿਕਾਂ", "ਨੂੰ", "ਰੁਜ਼ਗਾਰ", "ਪ੍ਰਦਾਨ", "ਕਰਨਾ", "ਹਰ", "ਸਰਕਾਰ", "ਦਾ", "ਨੈਤਿਕ", "ਫਰਜ਼", "ਹੈ", "|", "ਇਸ", "ਲਈ", "ਦ੍ਰਿੜ", "ਇਰਾਦੇ", "ਤੇ", "ਠੋਸ", "ਕਾਰਵਾਹੀ", "ਦੀ", "ਜ਼ਰੂਰਤ", "ਹੈ", "|", "ਸਰਕਾਰ", "ਨੂੰ", "ਪਰਿਵਾਰ", "ਨਿਯੋਜਨ", "ਸੰਬੰਧੀ,", "ਸਿੱਖਿਆ", "ਕੈਂਪ", "ਲੱਗਾਉਣੇ", "ਚਾਹੀਦੇ", "ਹਨ", "|"];

        //var txt = "";
        //$("#word-section span").each(function () {
        //    txt += $(this).text() + ",";
        //});
        //console.log(txt);

        console.log('Value taken from array');
        for (i = 0; i < wordList.length; i++)
            console.log((i + 1) + ": " + wordList[i]);

        function addWords() {
            // clear existing word-section

            //console.log("called addword function");
            //alert("add word");
            var wordSection = $("#word-section")[0];
            wordSection.innerHTML = "";

           // shuffle(wordList);
            

            for (i = 0; i < wordList.length; i++) {

                var wordSpan = "<span>" + wordList[i] + "</span>";
                console.log(wordSpan);
                wordSection.innerHTML += wordSpan;
            }
            // mark first word as current-word

            wordSection.firstChild.classList.add("current-word");
        }


    </script>











    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <style type="text/css">
        #word-section {
            font-family: Arial;
            font-size: 1.5em;
            height: 12em;
            line-height: 1.5em;
            /* hide 3rd line of text */
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            border: 4px solid black;
        }
    </style>



}



