
@{
    /**/

    ViewBag.Title = "Upper Row : Lesson 2 |";
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

    <script type="text/javascript">
        var wordList = ["ਡ", "ਗ", "ਜ", "ਡ", "ਗ", "ਜਦੈਬ", "ਜਦੌਦ", "ਗੈਗ", "ਬੌਬ", "ਬੈ", "ਡੈ", "ਬਹ", "ਦਜੈ", "ਦੂ", "ਡਬੈਦ", "ਜ", "ਦ", "ਹੈ", "ਗ", "ਗਹੌ", "ਗਹੂਬ", "ਗ", "ਗ", "ਬ", "ਡ", "ਜੈ", "ਜੈਦ", "ਗੂ", "ਹੂਬੈਜਡ", "ਬੈ", "ਜਦੈਬ", "ਡ", "ਗੈਗ", "ਬੌਬ", "ਜਦੈਬ", "ਜਦੈਬ", "ਹੂਜੌ", "ਦ", "ਡ", "ਜ", "ਗ", "ਹੂਬੈਜਡ", "ਹ", "ਹ", "ਡੌਜ", "ਡੈ", "ਹ", "ਹ", "ਬ", "ਜੌ", "ਗਹੂਬ", "ਹ", "ਹ", "ਹ", "ਦ", "ਜਦੌਦ", "ਬੈ", "ਹ", "ਡਹਜਗ", "ਗ", "ਜੂ", "ਦ", "ਦੂ", "ਬੂਡ", "ਗੈਗ", "ਹੂਬੈਜਡ", "ਜਦੌਦ", "ਜ", "ਦ", "ਹੈ", "ਡ", "ਗ", "ਜੂਗੂਦ", "ਜ", "ਜੈ", "ਗੌ", "ਗੌਡ", "ਡੈ", "ਡੌਗ", "ਦ", "ਬਗਦ", "ਦ", "ਜਦੌਦ", "ਹੂਜੌ", "ਹ", "ਹ", "ਬਹ", "ਦਜੈ", "ਜੌ", "ਦ", "ਡ", "ਗੈਗ", "ਦੂ", "ਡੌਗ", "ਜਗਬਹ", "ਜਗਬਹ", "ਦ", "ਹੈਦ", "ਡ", "ਗ", "ਹ", "ਡ", "ਦੂ", "ਡਬੈਦ", "ਗਹੂਬ", "ਜਦੈਬ", "ਦ", "ਗ", "ਜੈਦ", "ਗੂ", "ਡਬੈਦ", "ਡ", "ਗ", "ਜਦੈਬ", "ਜਦੌਦ", "ਗੈਗ", "ਬੌਬ", "ਬੈ", "ਡੈ", "ਬਹ", "ਦਜੈ", "ਦੂ", "ਡਬੈਦ", "ਜ", "ਦ", "ਹੈ", "ਗ", "ਗਹੌ", "ਗਹੂਬ", "ਗ", "ਗ", "ਬ", "ਡ", "ਜੈ", "ਜੈਦ", "ਗੂ", "ਹੂਬੈਜਡ", "ਬੈ", "ਜਦੈਬ", "ਡ", "ਗੈਗ", "ਬੌਬ", "ਜਦੈਬ", "ਜਦੈਬ", "ਹੂਜੌ", "ਦ", "ਡ", "ਜ", "ਗ", "ਹੂਬੈਜਡ", "ਹ", "ਹ", "ਡੌਜ", "ਡੈ", "ਹ", "ਹ", "ਬ", "ਜੌ", "ਗਹੂਬ", "ਹ", "ਹ", "ਹ", "ਦ", "ਜਦੌਦ", "ਬੈ", "ਹ", "ਡਹਜਗ", "ਗ", "ਜੂ", "ਦ", "ਦੂ", "ਬੂਡ", "ਗੈਗ", "ਹੂਬੈਜਡ", "ਜਦੌਦ", "ਜ", "ਦ", "ਹੈ", "ਡ", "ਗ", "ਜੂਗੂਦ", "ਜ", "ਜੈ", "ਗੌ", "ਗੌਡ", "ਡੈ", "ਡੌਗ", "ਦ", "ਬਗਦ", "ਦ", "ਜਦੌਦ", "ਹੂਜੌ", "ਹ", "ਹ", "ਬਹ", "ਦਜੈ", "ਜੌ", "ਦ", "ਡ", "ਗੈਗ", "ਦੂ", "ਡੌਗ", "ਜਗਬਹ", "ਜਗਬਹ", "ਦ", "ਹੈਦ", "ਡ", "ਗ", "ਹ", "ਡ", "ਦੂ", "ਡਬੈਦ", "ਗਹੂਬ", "ਜਦੈਬ", "ਦ", "ਗ", "ਜੈਦ", "ਗੂ", "ਡਬੈਦ", "ਡ", "ਗ", "ਜ", "ਡ", "ਗ", "ਜਦੈਬ", "ਜਦੌਦ", "ਗੈਗ", "ਬੌਬ", "ਬੈ", "ਡੈ", "ਬਹ", "ਦਜੈ", "ਦੂ", "ਡਬੈਦ", "ਜ", "ਦ", "ਹੈ", "ਗ", "ਗਹੌ", "ਗਹੂਬ", "ਗ", "ਗ", "ਬ", "ਡ", "ਜੈ", "ਜੈਦ", "ਗੂ", "ਹੂਬੈਜਡ", "ਬੈ", "ਜਦੈਬ", "ਡ", "ਗੈਗ", "ਬੌਬ", "ਜਦੈਬ", "ਜਦੈਬ", "ਹੂਜੌ", "ਦ", "ਡ", "ਜ", "ਗ", "ਹੂਬੈਜਡ", "ਹ", "ਹ", "ਡੌਜ", "ਡੈ", "ਹ", "ਹ", "ਬ", "ਜੌ", "ਗਹੂਬ", "ਹ", "ਹ", "ਹ", "ਦ", "ਜਦੌਦ", "ਬੈ", "ਹ", "ਡਹਜਗ", "ਗ", "ਜੂ", "ਦ", "ਦੂ", "ਬੂਡ", "ਗੈਗ", "ਹੂਬੈਜਡ", "ਜਦੌਦ", "ਜ", "ਦ", "ਹੈ", "ਡ", "ਗ", "ਜੂਗੂਦ", "ਜ", "ਜੈ", "ਗੌ", "ਗੌਡ", "ਡੈ", "ਡੌਗ", "ਡੈ", "ਡੌਗ"];

        //console.log('Words Before shuffling');
        //for (i = 0; i < wordList.length; i++)
        //    console.log((i + 1) + ": " + wordList[i]);

    </script>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Upper Row : Lesson 2&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 3", "Lesson3", "FirstRow")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            q
                        </td>
                        <td>
                            w
                        </td>
                        <td>
                            e
                        </td>
                        <td>
                            r
                        </td>
                        <td>
                            t
                        </td>
                        <td>
                            y
                        </td>
                        <td>
                            u
                        </td>
                        <td>
                            i
                        </td>
                        <td>
                            o
                        </td>
                        <td>
                            p
                        </td>
                        <td>
                            [
                        </td>
                        <td>
                            ]
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੌ
                        </td>
                        <td>
                            ੈ
                        </td>
                        <td>
                            ਾ
                        </td>
                        <td>
                            ੀ
                        </td>
                        <td>
                            ੂ
                        </td>
                        <td>
                            ਬ
                        </td>
                        <td>
                            ਹ
                        </td>
                        <td>
                            ਗ
                        </td>
                        <td>
                            ਦ
                        </td>
                        <td>
                            ਜ
                        </td>
                        <td>
                            ਡ
                        </td>
                        <td>
                            ਼
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">

                <table class="bangali">
                    <tbody>
                        <tr>
                            <td class="tab_key _key"><span>Tab</span> <span class="special_characters">↹</span></td>
                            <td class="_key">
                                <span class="_right_char">Q</span> <br />
                                <span class="_right_char">ੌ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">W</span> <br />
                                <span class="_right_char">ੈ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">E</span> <br />
                                <span class="_right_char">ਾ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">R</span> <br />
                                <span class="_right_char">ੀ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">T</span> <br />
                                <span class="_right_char">ੂ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">Y</span> <br />
                                <span class="_right_char">ਬ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">U</span> <br />
                                <span class="_right_char">ਹ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">I</span> <br />
                                <span class="_right_char">ਗ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">O</span> <br />
                                <span class="_right_char">ਦ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">P</span> <br />
                                <span class="_right_char">ਜ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">[</span> <br />
                                <span class="_right_char">ਡ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">]</span> <br />
                                <span class="_right_char">਼</span>
                            </td>

                            <td class="r_tab_key _key">
                                <span class="_right_char">|</span> <br>
                                <span class="_right_char">\</span>
                            </td>


                        </tr>
                    </tbody>
                </table>

                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>

            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ਡਾਗ</span><span>ਜਾ</span><span>ਡਾਗ</span><span>ਜਦੈਬ</span><span>ਜਦੌਦਾ</span><span>ਗੈਗ</span><span>ਬੌਬ</span><span>ਬੈ</span><span>ਡੈ</span><span>ਬਹਾਦਜੈ</span><span>ਦੂ</span><span>ਡਬੈਦਾ</span><span>ਜਾਦਾਹੈ</span><span>ਗੀਗਹੌ</span><span>ਗਹੂਬ</span><span>ਗੀ</span><span>ਗੀਬ</span><span>ਡਾ</span><span>ਜੈ</span><span>ਜੈਦਾਗੂ</span><span>ਹੂਬੈਜਡ</span><span>ਬੈ</span><span>ਜਦੈਬ</span><span>ਡਾ</span><span>ਗੈਗ</span><span>ਬੌਬ</span><span>ਜਦੈਬ</span><span>ਜਦੈਬ</span><span>ਹੂਜੌ</span><span>ਦਾਡ</span><span>ਜਾਗਾ</span><span>ਹੂਬੈਜਡ</span><span>ਹੀਹ</span><span>ਡੌਜ</span><span>ਡੈ</span><span>ਹੀਹ</span><span>ਬੀ</span><span>ਜੌ</span><span>ਗਹੂਬ</span><span>ਹੀ</span><span>ਹੀਹ</span><span>ਦੀ</span><span>ਜਦੌਦਾ</span><span>ਬੈ</span><span>ਹੀ</span><span>ਡਹਜਗ</span><span>ਗੀ</span><span>ਜੂ</span><span>ਦਾ</span><span>ਦੂ</span><span>ਬੂਡਾ</span><span>ਗੈਗ</span><span>ਹੂਬੈਜਡ</span><span>ਜਦੌਦਾ</span><span>ਜਾਦਾਹੈ</span><span>ਡਾਗ</span><span>ਜੂਗੂਦ</span><span>ਜਾ</span><span>ਜੈ</span><span>ਗੌ</span><span>ਗੌਡ</span><span>ਡੈ</span><span>ਡੌਗ</span><span>ਦੀ</span><span>ਬਗਦਾਦੀ</span><span>ਜਦੌਦਾ</span><span>ਹੂਜੌ</span><span>ਹੀਹ</span><span>ਬਹਾਦਜੈ</span><span>ਜੌ</span><span>ਦਾ</span><span>ਡਾ</span><span>ਗੈਗ</span><span>ਦੂ</span><span>ਡੌਗ</span><span>ਜਗਬਹੀ</span><span>ਜਗਬਹੀ</span><span>ਦੀ</span><span>ਹੈਦ</span><span>ਡਾਗ</span><span>ਹੀ</span><span>ਡਾ</span><span>ਦੂ</span><span>ਡਬੈਦਾ</span><span>ਗਹੂਬ</span><span>ਜਦੈਬ</span><span>ਦਾਗੀ</span><span>ਜੈਦਾਗੂ</span><span>ਡਬੈਦਾ</span><span>ਡਾਗ</span><span>ਜਦੈਬ</span><span>ਜਦੌਦਾ</span><span>ਗੈਗ</span><span>ਬੌਬ</span><span>ਬੈ</span><span>ਡੈ</span><span>ਬਹਾਦਜੈ</span><span>ਦੂ</span><span>ਡਬੈਦਾ</span><span>ਜਾਦਾਹੈ</span><span>ਗੀਗਹੌ</span><span>ਗਹੂਬ</span><span>ਗੀ</span><span>ਗੀਬ</span><span>ਡਾ</span><span>ਜੈ</span><span>ਜੈਦਾਗੂ</span><span>ਹੂਬੈਜਡ</span><span>ਬੈ</span><span>ਜਦੈਬ</span><span>ਡਾ</span><span>ਗੈਗ</span><span>ਬੌਬ</span><span>ਜਦੈਬ</span><span>ਜਦੈਬ</span><span>ਹੂਜੌ</span><span>ਦਾਡ</span><span>ਜਾਗਾ</span><span>ਹੂਬੈਜਡ</span><span>ਹੀਹ</span><span>ਡੌਜ</span><span>ਡੈ</span><span>ਹੀਹ</span><span>ਬੀ</span><span>ਜੌ</span><span>ਗਹੂਬ</span><span>ਹੀ</span><span>ਹੀਹ</span><span>ਦੀ</span><span>ਜਦੌਦਾ</span><span>ਬੈ</span><span>ਹੀ</span><span>ਡਹਜਗ</span><span>ਗੀ</span><span>ਜੂ</span><span>ਦਾ</span><span>ਦੂ</span><span>ਬੂਡਾ</span><span>ਗੈਗ</span><span>ਹੂਬੈਜਡ</span><span>ਜਦੌਦਾ</span><span>ਜਾਦਾਹੈ</span><span>ਡਾਗ</span><span>ਜੂਗੂਦ</span><span>ਜਾ</span><span>ਜੈ</span><span>ਗੌ</span><span>ਗੌਡ</span><span>ਡੈ</span><span>ਡੌਗ</span><span>ਦੀ</span><span>ਬਗਦਾਦੀ</span><span>ਜਦੌਦਾ</span><span>ਹੂਜੌ</span><span>ਹੀਹ</span><span>ਬਹਾਦਜੈ</span><span>ਜੌ</span><span>ਦਾ</span><span>ਡਾ</span><span>ਗੈਗ</span><span>ਦੂ</span><span>ਡੌਗ</span><span>ਜਗਬਹੀ</span><span>ਜਗਬਹੀ</span><span>ਦੀ</span><span>ਹੈਦ</span><span>ਡਾਗ</span><span>ਹੀ</span><span>ਡਾ</span><span>ਦੂ</span><span>ਡਬੈਦਾ</span><span>ਗਹੂਬ</span><span>ਜਦੈਬ</span><span>ਦਾਗੀ</span><span>ਜੈਦਾਗੂ</span><span>ਡਬੈਦਾ</span></section>



            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="chartrow" style="display:none">
        <div class="col-md-6" id="mcyhartdiv">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6" id="accuracydiv">
            <canvas id="accuracyChart"></canvas>
        </div>
        <div class="col-md-6" id="grossdiv">
            <canvas id="grossspeedchart"></canvas>
        </div>
        <div class="col-md-6" id="netdiv">
            <canvas id="netspeedChart"></canvas>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>




