
@{

    ViewBag.Title = "Right Alt Key : Lesson |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Right Alt Key with All Keyboard Keys&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Number line with Shift Keys", "Lesson", "ShiftNumberRow")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Alt + b
                        </td>
                        <td>
                            Alt + h
                        </td>
                        <td>
                            Alt + i
                        </td>
                        <td>
                            Alt + p
                        </td>
                        <td>
                            Alt + [
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੳ
                        </td>
                        <td>
                            ਫ਼
                        </td>
                        <td>
                            ਗ਼
                        </td>
                        <td>
                            ਜ਼
                        </td>
                        <td>
                            ੜ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <section id="word-section"><span class="current-word">੨</span><span>ਫ਼</span><span>॥</span><span>੫</span><span>੮</span>  <span>੮</span><span>੦</span><span>ੳ</span> <span>ਜ਼</span><span>੬</span><span>੬</span><span>॥</span><span>॥</span><span>੯</span><span>॥</span><span>੨</span><span>ੜ</span><span>੩</span><span>੪</span><span>੭</span><span>ੳ</span><span>੯</span><span>ੜ</span><span>ੜ</span><span>੫</span><span>੫</span><span>੭</span><span>ੜ</span><span>੦</span><span>੭</span><span>੦</span><span>ਜ਼</span><span>੮</span><span>੯</span><span>ਜ਼</span><span>ਗ਼</span><span>ੳ</span><span>ੜ</span><span>ੳ</span><span>੮</span><span>॥</span><span>੧</span><span>੧</span><span>੩</span><span>੫</span><span>੬</span><span>੮</span><span>ਫ਼</span><span>੦</span><span>੮</span><span>੪</span><span>॥</span><span>੫</span><span>ੳ</span><span>ਜ਼</span><span>੩</span><span>ੜ</span> <span>ਜ਼</span><span>ਫ਼</span><span>ੜ</span><span>ਗ਼</span><span>੦</span><span>ੳ</span><span>॥</span><span>ਜ਼</span><span>॥</span><span>੧</span><span>ਗ਼</span><span>੨</span><span>੧</span> <span>॥</span><span>੮</span><span>ੳ</span><span>੬</span><span>੮</span><span>ੜ</span> <span>੧</span><span>੦</span><span>ਜ਼</span><span>ਜ਼</span><span>ਫ਼</span><span>੯</span><span>ੜ</span><span>੨</span><span>੬</span><span>੩</span><span>੦</span><span>॥</span><span>੨</span><span>ਗ਼</span><span>॥</span><span>੬</span><span>ਜ਼</span><span>ਜ਼</span><span>੪</span><span>॥</span><span>ਗ਼</span><span>ਜ਼</span><span>੮</span><span>॥</span><span>ਜ਼</span><span>ਜ਼</span><span>੦</span><span>ੜ</span><span>੩</span><span>ੳ</span><span>ੜ</span><span>॥</span><span>੮</span><span>੩</span><span>ਫ਼</span><span>ਜ਼</span><span>੧</span><span>ਜ਼</span><span>੩</span><span>੫</span> <span>॥</span> <span>॥</span><span>੨</span><span>੩</span><span>ਜ਼</span><span>੩</span><span>ੳ</span><span>ਜ਼</span><span>ਗ਼</span><span>੮</span><span>ਗ਼</span><span>ੳ</span><span>॥</span>  <span>੯</span><span>੭</span><span>ਫ਼</span><span>੫</span><span>ੳ</span><span>੮</span><span>ਜ਼</span><span>॥</span><span>੨</span><span>ਗ਼</span><span>ਜ਼</span><span>੬</span><span>੭</span><span>ੳ</span><span>ੜ</span><span>ਗ਼</span><span>ੳ</span><span>॥</span><span>੨</span><span>ੳ</span><span>੯</span><span>ਜ਼</span><span>੩</span><span>ੳ</span><span>੬</span><span>੮</span><span>ਜ਼</span><span>੧</span> <span>॥</span><span>੯</span><span>ਜ਼</span><span>ੳ</span><span>ੳ</span><span>ਜ਼</span><span>੯</span><span>ੳ</span><span>੯</span> <span>ੳ</span><span>੧</span><span>ੜ</span><span>ਫ਼</span><span>੧</span><span>ੜ</span><span>॥</span><span>ਫ਼</span><span>੩</span><span>੨</span><span>ੜ</span><span>੦</span><span>ੜ</span><span>੯</span><span>੬</span><span>੦</span><span>ਜ਼</span><span>ਜ਼</span><span>੧</span><span>ਜ਼</span><span>ਗ਼</span><span>੮</span><span>੫</span><span>੮</span> <span>ੜ</span><span>੩</span><span>੨</span> <span>੧</span><span>॥</span><span>੬</span><span>॥</span><span>ਜ਼</span><span>੫</span><span>ਫ਼</span> <span>੧</span><span>॥</span><span>੦</span><span>ੳ</span><span>੨</span><span>ਜ਼</span><span>੧</span><span>ਫ਼</span><span>॥</span> <span>ਜ਼</span><span>੬</span><span>੫</span><span>੦</span><span>੯</span><span>੮</span><span>ਗ਼</span><span>੬</span><span>੨</span><span>ੳ</span><span>ੳ</span><span>੩</span><span>ਜ਼</span><span>ਫ਼</span><span>ੜ</span><span>ਗ਼</span><span>੮</span><span>॥</span><span>॥</span><span>੬</span><span>੭</span><span>੪</span><span>੨</span><span>ਜ਼</span><span>੨</span><span>੧</span><span>ਜ਼</span><span>੬</span><span>੫</span><span>ੳ</span><span>ੳ</span><span>੦</span><span>ੳ</span><span>ਜ਼</span><span>੯</span><span>੩</span><span>੨</span> <span>੮</span><span>ੳ</span><span>੩</span><span>ਫ਼</span><span>॥</span><span>੨</span><span>॥</span><span>ੳ</span><span>੯</span><span>੩</span><span>ੳ</span><span>ੜ</span><span>੯</span><span>੫</span><span>੩</span><span>॥</span><span>੯</span><span>ਜ਼</span><span>੩</span><span>ਫ਼</span><span>੯</span><span>੮</span><span>ੳ</span><span>ਜ਼</span><span>॥</span><span>੮</span><span>੭</span><span>੯</span> <span>॥</span><span>ਜ਼</span><span>੬</span><span>੮</span><span>ੳ</span><span>ੳ</span><span>੫</span><span>॥</span><span>੨</span><span>ੳ</span><span>੬</span><span>॥</span><span>੯</span><span>੯</span><span>੨</span><span>੦</span><span>੭</span><span>੪</span><span>੪</span><span>ਜ਼</span><span>ਜ਼</span><span>੭</span><span>ੜ</span><span>॥</span><span>॥</span><span>੫</span><span>੫</span><span>ੜ</span><span>ੜ</span><span>੮</span><span>੨</span><span>ਜ਼</span><span>੦</span><span>ਫ਼</span><span>ੳ</span><span>੧</span><span>੭</span><span>ਫ਼</span><span>॥</span><span>ਫ਼</span><span>੫</span><span>ੜ</span><span>੧</span><span>੨</span><span>ੜ</span><span>ੜ</span><span>ਫ਼</span><span>੮</span> <span>ਜ਼</span><span>ਜ਼</span><span>੩</span><span>॥</span><span>੬</span><span>੯</span><span>ਜ਼</span><span>ਗ਼</span><span>ਫ਼</span></section>

            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        var wordList = ["੨", "ਫ਼", "੫", "੮", "੮", "੦", "ੳ", "ਜ਼", "੬", "੬", "੯", "੨", "ੜ", "੩", "੪", "੭", "ੳ", "੯", "ੜ", "ੜ", "੫", "੫", "੭", "ੜ", "੦", "੭", "੦", "ਜ਼", "੮", "੯", "ਜ਼", "ਗ਼", "ੳ", "ੜ", "ੳ", "੮", "੧", "੧", "੩", "੫", "੬", "੮", "ਫ਼", "੦", "੮", "੪", "੫", "ੳ", "ਜ਼", "੩", "ੜ", "ਜ਼", "ਫ਼", "ੜ", "ਗ਼", "੦", "ੳ", "ਜ਼", "੧", "ਗ਼", "੨", "੧", "੮", "ੳ", "੬", "੮", "ੜ", "੧", "੦", "ਜ਼", "ਜ਼", "ਫ਼", "੯", "ੜ", "੨", "੬", "੩", "੦", "੨", "ਗ਼", "੬", "ਜ਼", "ਜ਼", "੪", "ਗ਼", "ਜ਼", "੮", "ਜ਼", "ਜ਼", "੦", "ੜ", "੩", "ੳ", "ੜ", "੮", "੩", "ਫ਼", "ਜ਼", "੧", "ਜ਼", "੩", "੫", "੨", "੩", "ਜ਼", "੩", "ੳ", "ਜ਼", "ਗ਼", "੮", "ਗ਼", "ੳ", "੯", "੭", "ਫ਼", "੫", "ੳ", "੮", "ਜ਼", "੨", "ਗ਼", "ਜ਼", "੬", "੭", "ੳ", "ੜ", "ਗ਼", "ੳ", "੨", "ੳ", "੯", "ਜ਼", "੩", "ੳ", "੬", "੮", "ਜ਼", "੧", "੯", "ਜ਼", "ੳ", "ੳ", "ਜ਼", "੯", "ੳ", "੯", "ੳ", "੧", "ੜ", "ਫ਼", "੧", "ੜ", "ਫ਼", "੩", "੨", "ੜ", "੦", "ੜ", "੯", "੬", "੦", "ਜ਼", "ਜ਼", "੧", "ਜ਼", "ਗ਼", "੮", "੫", "੮", "ੜ", "੩", "੨", "੧", "੬", "ਜ਼", "੫", "ਫ਼", "੧", "੦", "ੳ", "੨", "ਜ਼", "੧", "ਫ਼", "ਜ਼", "੬", "੫", "੦", "੯", "੮", "ਗ਼", "੬", "੨", "ੳ", "ੳ", "੩", "ਜ਼", "ਫ਼", "ੜ", "ਗ਼", "੮", "੬", "੭", "੪", "੨", "ਜ਼", "੨", "੧", "ਜ਼", "੬", "੫", "ੳ", "ੳ", "੦", "ੳ", "ਜ਼", "੯", "੩", "੨", "੮", "ੳ", "੩", "ਫ਼", "੨", "ੳ", "੯", "੩", "ੳ", "ੜ", "੯", "੫", "੩", "੯", "ਜ਼", "੩", "ਫ਼", "੯", "੮", "ੳ", "ਜ਼", "੮", "੭", "੯", "ਜ਼", "੬", "੮", "ੳ", "ੳ", "੫", "੨", "ੳ", "੬", "੯", "੯", "੨", "੦", "੭", "੪", "੪", "ਜ਼", "ਜ਼", "੭", "ੜ", "੫", "੫", "ੜ", "ੜ", "੮", "੨", "ਜ਼", "੦", "ਫ਼", "ੳ", "੧", "੭", "ਫ਼", "ਫ਼", "੫", "ੜ", "੧", "੨", "ੜ", "ੜ", "ਫ਼", "੮", "ਜ਼", "ਜ਼", "੩", "੬", "੯", "ਜ਼", "ਗ਼", "ਫ਼"];
    </script>

    <script src="~/Scripts/JavaScript.js"></script>

}


