@{
    ViewBag.Title = "Set up Punjabi Ravi Font in Windows 7";
}
@section Scripts
{
    <style type="text/css">
        video {
            width: 80%;
            height: auto;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
}
<div class="row">
    <div class="text-center" style="margin-top:90px;margin-bottom:30px;">
        <h1 style="font-size:25px;">Complete Video to Set up Punjabi Ravi Font in Windows 7 </h1>
        <video controls="controls" width="480" controlsList="nodownload">
            <source src="~/Content/SetUpRavi/Windows%207%20steps/Win7.webm" type="video/webm" />
            <source src="~/Content/SetUpRavi/Windows%207%20steps/Win7.mp4" type="video/mp4" />
        </video>
    </div>
</div>
