﻿@{

    ViewBag.Title = "Set up Punjabi Ravi Font in Windows 7";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->

        </div>
        <div class="col-sm-6">
            <h1 style="text-align:center;margin-top:90px;font-size:24px;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Steps to Set up Punjabi Ravi Font in Windows 7&nbsp;&nbsp;<br /><br /><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;@Html.ActionLink("Watch Video to Set Up", "Win7video", "SetUpRaviFont")</h1>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">1. Click on Start Menu and Type "Region and Language" in the 'Search Area', then Click on "Region and Language".</div>

                    <div class="panel-body">
                        <img class="img-responsive" src="~/Content/SetUpRavi/Windows%207%20steps/Image1.JPG" alt="Step1" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">2. Click on "Keyboard and Languages"</div>
                    <div class="panel-body">
                        <img src="~/Content/SetUpRavi/Windows%207%20steps/Image2.JPG" alt="Step2" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        3. Click on "Change keyboards"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image3.JPG" alt="Step3" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        4. Click on "Add"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image4.JPG" alt="Step4" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        5. Click on "Preview" to see the preview of "Punjabi Keyboard"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image5.JPG" alt="Step5" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        6. Click on "Close"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image6.JPG" alt="Step6" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        7. Click on "O.K"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image7.JPG" alt="Step7" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        8. Click on "Apply"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image8.JPG" alt="Step8" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        9. Click on "O.K"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image9.JPG" alt="Step9" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        10. Click on "Keyboard Preferences" from the taskbar menu
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image10.JPG" alt="Step10" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        11. Click on "Punjabi(India)"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows%207%20steps/image11.JPG" alt="Step11" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
</div>
