@{

                ViewBag.Title = "Set up Punjabi Ravi Font in Windows 7";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Steps To Enable Ravi Font on Windows 7&nbsp;&nbsp;<br /><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;@Html.ActionLink("Watch Video", "Win7video", "SetUpRaviFont")</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">1. Click on Start Menu and Type "Region and Language" in the 'Search Area', then Click on "Region and Language".</div>

                    <div class="panel-body">
                        <img class="img-responsive" src="~/Content/SetUpRavi/Windows 7 steps/Image1.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">2. Click on "Keyboard and Languages"</div>
                    <div class="panel-body">
                        <img src="~/Content/SetUpRavi/Windows 7 steps/Image2.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        3. Click on "Change keyboards"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image3.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        4. Click on "Add"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image4.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        5. Click on "Preview" to see the preview of "Punjabi Keyboard"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image5.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        6. Click on "Close"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image6.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        7. Click on "O.K"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image7.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        8. Click on "Apply"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image8.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        9. Click on "O.K"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image9.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        10. Click on "Keyboard Preferences" from the taskbar menu
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image10.JPG" />
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        11. Click on "Punjabi(India)"
                    </div>
                    <div class="panel-body">

                        <img src="~/Content/SetUpRavi/Windows 7 steps/image11.JPG" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
        </div>
    </div>
