
@{
    /**/

    ViewBag.Title = "Bottom Row : Lesson 3 |";
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    
    <script type="text/javascript">
        var wordList = ["ਦਾਦਾ", "ਚਾਚਾ", "ਮਾਮਾ", "ਨਾਨਾ", "ਦਰਦ", "ਵਸੀਕਾ", "ਵਿਚਾਰ", "ਦਰਗਾਹ", "ਪੀਰ", "ਚਾਰਟਰ", "ਕਿਤਾਬ", "ਹਿੰਦ", "ਵੀਰ", "ਵੀਰਤਾ", "ਪੰਜਾਬੀ", "ਲੋਕਰ", "ਕਾਹਲੀ", "ਨੀਯਤ", "ਨਿਪੁੰਨਤਾ", "ਬੁਲੇਟ", "ਸਹਿਕਾਰਤਾ", "ਯੋਜਨਾ", "ਗ਼ਦਰ", "ਲਹਿਰ", "ਡਰਪੋਕ", "ਮੋਹਿਤ", "ਰੋਹਿਤ", "ਸਾਹਿਲ", "ਯਤਿਨ", "ਹੁਕਮ", "ਸਲਾਦ", "ਮਹਿਕ", "ਵਾਰਿਸਪਰਬਤ", "ਹਿਸਾਬ", "ਬਰਾਬਰ", "ਨਾਲ", "ਵਿਚ", "ਵੀ", "ਚੰਦਾ", "ਰਕਮ", "ਕਿਸੇ", "ਰੂਪ", "ਲਿਵਸ", "ਮਾਨਵਰੁਕਾਵਟ", "ਮਕਾਨ", "ਹੀਰਾ", "ਨੰਨ", "ਸਯ", "ਮਨ", "ਮੰਲਸ", "ਲਵ", "ਮਨ", "ਯਮਨਵ", "ਵਯਲਮ", "ਵਯਲਮ", "ਮਨਮੰਲਸ", "ਯਵਮ", "ਵਨਵਨ", "ਵਨਵਨ", "ਵਨ", "ਯਨਲ", "ਲਸਨ", "ਵਨ", "ਯੰਮਨ", "ਮੰਲਸ", "ਦਾਦਾ", "ਚਾਚਾ", "ਮਾਮਾ", "ਨਾਨਾ", "ਦਰਦ", "ਵਸੀਕਾ", "ਵਿਚਾਰ", "ਦਰਗਾਹ", "ਪੀਰ", "ਚਾਰਟਰ", "ਕਿਤਾਬ", "ਹਿੰਦ", "ਵੀਰ", "ਵੀਰਤਾ", "ਪੰਜਾਬੀ", "ਲੋਕਰ", "ਕਾਹਲੀ", "ਨੀਯਤ", "ਨਿਪੁੰਨਤਾ", "ਬੁਲੇਟ", "ਸਹਿਕਾਰਤਾ", "ਯੋਜਨਾ", "ਗ਼ਦਰ", "ਲਹਿਰ", "ਡਰਪੋਕ", "ਮੋਹਿਤ", "ਰੋਹਿਤ", "ਸਾਹਿਲ", "ਯਤਿਨ", "ਹੁਕਮ", "ਸਲਾਦ", "ਮਹਿਕ", "ਵਾਰਿਸਪਰਬਤ", "ਹਿਸਾਬ", "ਬਰਾਬਰ", "ਨਾਲ", "ਵਿਚ", "ਵੀ", "ਚੰਦਾ", "ਰਕਮ", "ਕਿਸੇ", "ਰੂਪ", "ਲਿਵਸ", "ਮਾਨਵਰੁਕਾਵਟ", "ਮਕਾਨ", "ਹੀਰਾ", "ਨੰਨ", "ਸਯ", "ਮਨ", "ਮੰਲਸ", "ਲਵ", "ਮਨ", "ਯਮਨਵ", "ਵਯਲਮ", "ਵਯਲਮ", "ਮਨਮੰਲਸ", "ਯਵਮ", "ਵਨਵਨ", "ਵਨਵਨ", "ਵਨ", "ਯਨਲ", "ਲਸਨ", "ਵਨ", "ਯੰਮਨ", "ਮੰਲਸ", "ਦਾਦਾ", "ਚਾਚਾ", "ਮਾਮਾ", "ਨਾਨਾ", "ਦਰਦ", "ਵਸੀਕਾ", "ਵਿਚਾਰ", "ਦਰਗਾਹ", "ਪੀਰ", "ਚਾਰਟਰ", "ਕਿਤਾਬ", "ਹਿੰਦ", "ਵੀਰ", "ਵੀਰਤਾ", "ਪੰਜਾਬੀ", "ਲੋਕਰ", "ਕਾਹਲੀ", "ਨੀਯਤ", "ਨਿਪੁੰਨਤਾ", "ਬੁਲੇਟ", "ਸਹਿਕਾਰਤਾ", "ਯੋਜਨਾ", "ਗ਼ਦਰ", "ਲਹਿਰ", "ਡਰਪੋਕ", "ਮੋਹਿਤ", "ਰੋਹਿਤ", "ਸਾਹਿਲ", "ਯਤਿਨ", "ਹੁਕਮ", "ਸਲਾਦ", "ਮਹਿਕ", "ਵਾਰਿਸਪਰਬਤ", "ਹਿਸਾਬ", "ਬਰਾਬਰ", "ਨਾਲ", "ਵਿਚ", "ਵੀ", "ਚੰਦਾ", "ਰਕਮ", "ਕਿਸੇ", "ਰੂਪ", "ਲਿਵਸ", "ਮਾਨਵਰੁਕਾਵਟ", "ਮਕਾਨ", "ਹੀਰਾ", "ਨੰਨ", "ਸਯ", "ਮਨ", "ਮੰਲਸ", "ਲਵ", "ਮਨ", "ਯਮਨਵ", "ਵਯਲਮ", "ਵਯਲਮ", "ਮਨਮੰਲਸ", "ਯਵਮ", "ਵਨਵਨ", "ਵਨਵਨ", "ਵਨ", "ਯਨਲ", "ਲਸਨ", "ਵਨ", "ਯੰਮਨ", "ਮੰਲਸ", "ਦਾਦਾ", "ਚਾਚਾ", "ਮਾਮਾ", "ਨਾਨਾ", "ਦਰਦ", "ਵਸੀਕਾ", "ਵਿਚਾਰ", "ਦਰਗਾਹ", "ਪੀਰ", "ਚਾਰਟਰ", "ਕਿਤਾਬ", "ਹਿੰਦ", "ਵੀਰ", "ਵੀਰਤਾ", "ਪੰਜਾਬੀ", "ਲੋਕਰ", "ਕਾਹਲੀ", "ਨੀਯਤ", "ਨਿਪੁੰਨਤਾ", "ਬੁਲੇਟ", "ਸਹਿਕਾਰਤਾ", "ਯੋਜਨਾ", "ਗ਼ਦਰ", "ਲਹਿਰ", "ਡਰਪੋਕ", "ਮੋਹਿਤ", "ਰੋਹਿਤ", "ਸਾਹਿਲ", "ਯਤਿਨ", "ਹੁਕਮ", "ਸਲਾਦ", "ਮਹਿਕ", "ਵਾਰਿਸਪਰਬਤ", "ਹਿਸਾਬ", "ਬਰਾਬਰ", "ਨਾਲ", "ਵਿਚ", "ਵੀ", "ਚੰਦਾ", "ਰਕਮ", "ਕਿਸੇ", "ਰੂਪ", "ਲਿਵਸ", "ਮਾਨਵਰੁਕਾਵਟ", "ਮਕਾਨ", "ਹੀਰਾ", "ਨੰਨ", "ਸਯ", "ਮਨ", "ਮੰਲਸ", "ਲਵ", "ਮਨ", "ਯਮਨਵ", "ਵਯਲਮ", "ਵਯਲਮ", "ਮਨਮੰਲਸ", "ਯਵਮ", "ਵਨਵਨ", "ਵਨਵਨ", "ਵਨ", "ਯਨਲ", "ਲਸਨ", "ਵਨ", "ਯੰਮਨ", "ਮੰਲਸ", "ਦਾਦਾ", "ਚਾਚਾ", "ਮਾਮਾ", "ਨਾਨਾ", "ਦਰਦ", "ਵਸੀਕਾ", "ਵਿਚਾਰ", "ਦਰਗਾਹ", "ਪੀਰ", "ਚਾਰਟਰ", "ਕਿਤਾਬ", "ਹਿੰਦ", "ਵੀਰ", "ਵੀਰਤਾ", "ਪੰਜਾਬੀ", "ਲੋਕਰ", "ਕਾਹਲੀ", "ਨੀਯਤ", "ਨਿਪੁੰਨਤਾ", "ਬੁਲੇਟ", "ਸਹਿਕਾਰਤਾ", "ਯੋਜਨਾ", "ਗ਼ਦਰ", "ਲਹਿਰ", "ਡਰਪੋਕ", "ਮੋਹਿਤ", "ਰੋਹਿਤ", "ਸਾਹਿਲ", "ਯਤਿਨ", "ਹੁਕਮ", "ਸਲਾਦ", "ਮਹਿਕ", "ਵਾਰਿਸਪਰਬਤ", "ਹਿਸਾਬ", "ਬਰਾਬਰ", "ਨਾਲ", "ਵਿਚ", "ਵੀ", "ਚੰਦਾ", "ਰਕਮ"];
        //console.log('Words Before shuffling');
        //for (i = 0; i < wordList.length; i++)
        //    console.log((i + 1) + ": " + wordList[i]);
    </script>

    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Bottom Row : Lesson 3&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Upper Row", "Lesson1", "FirstRow")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key 
                        </th>
                        <td>
                            x
                        </td>
                        <td>
                            c
                        </td>
                        <td>
                            v
                        </td>
                        <td>
                            b
                        </td>
                        <td>
                            n
                        </td>
                        <td>
                            m
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                            /
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੰ
                        </td>
                        <td>
                            ਮ
                        </td>
                        <td>
                            ਨ
                        </td>
                        <td>
                            ਵ
                        </td>
                        <td>
                            ਲ
                        </td>
                        <td>
                            ਸ
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                            ਯ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">
                <table id="third_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="l_shift_key _key" id="l_shift_key"><span class="special_characters">⇧</span> Shift</td>
                            <td class="_key">
                                <span class="_right_char">Z</span><br>
                                <span class="_right_char">ਁ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">X</span> <br />
                                <span class="_right_char">ੰ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">C</span> <br />
                                <span class="_right_char">ਮ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">V</span> <br />
                                <span class="_right_char">ਨ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">B</span> <br />
                                <span class="_right_char">ਵ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">N</span> <br />
                                <span class="_right_char">ਲ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">M</span> <br />
                                <span class="_right_char">ਸ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">&lt;</span> <br>
                                <span class="_right_char">,</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">></span> <br>
                                <span class="_right_char">.</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">?</span> <br>
                                <span class="_right_char">ਯ</span>
                            </td>

                            <td class="r_shift_key _key" id="r_shift_key"><span class="special_characters">⇧</span> Shift</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word"></span><span>ਦਾਦਾ </span><span>ਚਾਚਾ </span><span>ਮਾਮਾ </span><span>ਨਾਨਾ </span><span>ਦਰਦ </span><span>ਵਸੀਕਾ </span><span>ਵਿਚਾਰ </span><span>ਦਰਗਾਹ </span><span>ਪੀਰ </span><span>ਚਾਰਟਰ </span><span>ਕਿਤਾਬ </span><span>ਹਿੰਦ </span><span>ਵੀਰ </span><span>ਵੀਰਤਾ </span><span>ਪੰਜਾਬੀ </span><span>ਲੋਕਰ </span><span>ਕਾਹਲੀ </span><span>ਨੀਯਤ </span><span>ਨਿਪੁੰਨਤਾ </span><span>ਬੁਲੇਟ </span><span>ਸਹਿਕਾਰਤਾ </span><span>ਯੋਜਨਾ </span><span>ਗ਼ਦਰ </span><span>ਲਹਿਰ </span><span>ਡਰਪੋਕ </span><span>ਮੋਹਿਤ</span><span>ਰੋਹਿਤ </span><span>ਸਾਹਿਲ </span><span>ਯਤਿਨ </span><span>ਹੁਕਮ </span><span>ਸਲਾਦ </span><span>ਮਹਿਕ </span><span>ਵਾਰਿਸ </span><span>ਪਰਬਤ </span><span>ਹਿਸਾਬ </span><span>ਬਰਾਬਰ </span><span>ਨਾਲ </span><span>ਵਿਚ </span><span> ਵੀ</span><span>ਚੰਦਾ</span><span>ਰਕਮ </span><span>ਕਿਸੇ </span><span>ਰੂਪ </span><span>ਲਿਵਸ </span><span>ਮਾਨਵ </span><span>ਰੁਕਾਵਟ </span><span>ਮਕਾਨ </span><span>  ਹੀਰਾ </span><span>ਨੰਨ</span><span>ਸਯ</span><span>ਮਨ</span><span>ਮੰਲਸ</span><span>ਲਵ</span><span>ਮਨ</span><span>ਯਮਨਵ</span><span>ਵਯਲਮ</span><span>ਵਯਲਮ</span><span>ਮਨ</span><span>ਮੰਲਸ</span><span>ਯਵਮ</span><span>ਵਨਵਨ</span><span>ਵਨਵਨ</span><span>ਵਨ</span><span>ਯਨਲ</span><span>ਲਸਨ</span><span>ਵਨ</span><span>ਯੰਮਨ</span><span>ਮੰਲਸ</span></section>



            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="chartrow" style="display:none">
        <div class="col-md-6" id="mcyhartdiv">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6" id="accuracydiv">
            <canvas id="accuracyChart"></canvas>
        </div>
        <div class="col-md-6" id="grossdiv">
            <canvas id="grossspeedchart"></canvas>
        </div>
        <div class="col-md-6" id="netdiv">
            <canvas id="netspeedChart"></canvas>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>




