
@{

    ViewBag.Title = "Bottom Row : Lesson 1 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Bottom Row : Lesson 1&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 2", "Lesson", "BottomRow", new { id = "2" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            x
                        </td>
                        <td>
                            c
                        </td>
                        <td>
                            v
                        </td>
                        <td>
                            b
                        </td>
                        <td>
                            n
                        </td>
                        <td>
                            m
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                            /
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੰ
                        </td>
                        <td>
                            ਮ
                        </td>
                        <td>
                            ਨ
                        </td>
                        <td>
                            ਵ
                        </td>
                        <td>
                            ਲ
                        </td>
                        <td>
                            ਸ
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                            ਯ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">
                <table id="third_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="l_shift_key _key" id="l_shift_key"><span class="special_characters">⇧</span> Shift</td>
                            <td class="_key">
                                <span class="_right_char">Z</span><br>
                                <span class="_right_char">ਁ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">X</span> <br />
                                <span class="_right_char">ੰ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">C</span> <br />
                                <span class="_right_char">ਮ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">V</span> <br />
                                <span class="_right_char">ਨ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">B</span> <br />
                                <span class="_right_char">ਵ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">N</span> <br />
                                <span class="_right_char">ਲ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">M</span> <br />
                                <span class="_right_char">ਸ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">&lt;</span> <br>
                                <span class="_right_char">,</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">></span> <br>
                                <span class="_right_char">.</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">?</span> <br>
                                <span class="_right_char">ਯ</span>
                            </td>

                            <td class="r_shift_key _key" id="r_shift_key"><span class="special_characters">⇧</span> Shift</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ਸ</span><span>ੰ</span><span>ਲ</span><span>ਲ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਵ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਨ</span><span>ਨ</span><span>ਯ</span><span>ਲ</span><span>ੰ</span><span>ਯ</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਵ</span><span>ਸ</span><span>ਵ</span><span>ਯ</span><span>ਮ</span><span>ਸ</span><span>ੰ</span><span>.</span><span>,</span><span>ਯ</span><span>ਯ</span><span>ਸ</span><span>ਮ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਸ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>ਸ</span><span>ਲ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>ਲ</span><span>ੰ</span><span>ਲ</span><span>ਯ</span><span>ਵ</span><span>ਯ</span><span>ਮ</span><span>ੰ</span><span>.</span><span>ਯ</span><span>.</span><span>ਵ</span><span>ਮ</span><span>ਲ</span><span>ਸ</span><span>ੰ</span><span>ਲ</span><span>ਵ</span><span>ਮ</span><span>ਸ</span><span>ਯ</span><span>ਵ</span><span>ੰ</span><span>ਵ</span><span>.</span><span>ਮ</span><span>ੰ</span><span>ਲ</span><span>ਮ</span><span>,</span><span>,</span><span>ੰ</span><span>ੰ</span><span>ਯ</span><span>ਲ</span><span>ਲ</span><span>ਮ</span><span>ਲ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਲ</span><span>ਸ</span><span>,</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਵ</span><span>ਸ</span><span>ਸ</span><span>.</span><span>ੰ</span><span>,</span><span>.</span><span>,</span><span>ਮ</span><span>ਸ</span><span>ਨ</span><span>ਯ</span><span>ਯ</span><span>ਵ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>ੰ</span><span>ਮ</span><span>ਨ</span><span>ੰ</span><span>ਨ</span><span>ਯ</span><span>ਵ</span><span>ਮ</span><span>,</span><span>ੰ</span><span>,</span><span>ਵ</span><span>ਨ</span><span>ਲ</span><span>ੰ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>.</span><span>ਵ</span><span>ਮ</span><span>ਨ</span><span>.</span><span>,</span><span>,</span><span>ਲ</span><span>ਸ</span><span>ਨ</span><span>ਵ</span><span>.</span><span>ਮ</span><span>ਵ</span><span>ਯ</span><span>ਲ</span><span>ਯ</span><span>ਸ</span><span>.</span><span>ਯ</span><span>,</span><span>ਯ</span><span>ਸ</span><span>ਯ</span><span>ਮ</span><span>ੰ</span><span>ਸ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>.</span><span>ਯ</span><span>ਨ</span><span>ੰ</span><span>ਮ</span><span>.</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਮ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>,</span><span>ਵ</span><span>ਲ</span><span>ਨ</span><span>.</span><span>ਮ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਮ</span><span>ਲ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>.</span><span>ਨ</span><span>,</span><span>ਲ</span><span>ਯ</span><span>ੰ</span><span>,</span><span>,</span><span>ੰ</span><span>ਨ</span><span>ਮ</span><span>ਲ</span><span>.</span><span>.</span><span>ਨ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਲ</span><span>,</span><span>.</span><span>ਨ</span><span>ਮ</span><span>ਯ</span><span>ੰ</span><span>ਨ</span><span>ੰ</span><span>,</span><span>.</span><span>ੰ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>ੰ</span><span>ੰ</span><span>ਲ</span><span>ਲ</span><span>ਮ</span><span>ਨ</span><span>ਯ</span><span>.</span><span>.</span><span>ਮ</span><span>ੰ</span><span>ਨ</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>ਸ</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਮ</span><span>ਲ</span><span>ਨ</span><span>ਸ</span><span>ਸ</span><span>ਸ</span><span>.</span><span>,</span><span>,</span><span>ੰ</span><span>ੰ</span><span>.</span><span>ਮ</span><span>ਮ</span><span>ਨ</span><span>ਨ</span><span>ਯ</span><span>ੰ</span><span>,</span><span>ਯ</span><span>ਵ</span><span>.</span><span>ਯ</span><span>ਮ</span><span>.</span><span>ਯ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>.</span><span>ਮ</span><span>ਸ</span><span>ੰ</span><span>ਸ</span><span>ਮ</span><span>ੰ</span><span>ਨ</span><span>ਸ</span><span>ਨ</span><span>.</span><span>ਸ</span><span>.</span><span>.</span><span>.</span><span>ਯ</span><span>ੰ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ੰ</span><span>ਨ</span><span>ਨ</span><span>ਸ</span><span>ਵ</span><span>ਮ</span><span>ਵ</span><span>.</span><span>ਯ</span><span>ਵ</span><span>.</span><span>ਲ</span><span>ਵ</span><span>.</span><span>ਲ</span><span>ਨ</span><span>ੰ</span><span>ਯ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਮ</span><span>ਲ</span><span>ਯ</span><span>,</span><span>ਵ</span><span>ਨ</span><span>ਵ</span><span>ਯ</span><span>ਵ</span><span>ੰ</span><span>ਲ</span><span>ਯ</span><span>ਸ</span><span>ਨ</span><span>ਮ</span><span>.</span><span>ਮ</span><span>ਮ</span><span>ਨ</span><span>ਨ</span><span>ਮ</span><span>ਮ</span><span>ਮ</span><span>ਯ</span><span>ਯ</span><span>ਯ</span><span>ਵ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>ਯ</span><span>.</span><span>ਸ</span><span>ਲ</span></section>



            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script type="text/javascript">
        var wordList = ["ਸ", "ੰ", "ਲ", "ਲ", "ਵ", "ੰ", ".", "ਵ", "ਵ", "ੰ", ".", "ਨ", "ਨ", "ਯ", "ਲ", "ੰ", "ਯ", "ਲ", "ੰ", "ਸ", "ਵ", "ੰ", "ਵ", "ਸ", "ਵ", "ਯ", "ਮ", "ਸ", "ੰ", ".", "ਯ", "ਯ", "ਸ", "ਮ", "ੰ", "ਵ", "ਮ", "ਸ", "ਵ", "ਸ", "ੰ", "ਸ", "ਲ", "ਸ", "ੰ", "ਲ", "ੰ", "ਲ", "ਯ", "ਵ", "ਯ", "ਮ", "ੰ", ".", "ਯ", ".", "ਵ", "ਮ", "ਲ", "ਸ", "ੰ", "ਲ", "ਵ", "ਮ", "ਸ", "ਯ", "ਵ", "ੰ", "ਵ", ".", "ਮ", "ੰ", "ਲ", "ਮ", "ੰ", "ੰ", "ਯ", "ਲ", "ਲ", "ਮ", "ਲ", "ਸ", "ਵ", "ੰ", "ਲ", "ਸ", "ਵ", "ੰ", ".", "ਸ", "ਵ", "ਸ", "ਸ", ".", "ੰ", ".", "ਮ", "ਸ", "ਨ", "ਯ", "ਯ", "ਵ", "ਯ", "ੰ", "ੰ", "ੰ", "ਮ", "ਨ", "ੰ", "ਨ", "ਯ", "ਵ", "ਮ", "ੰ", "ਵ", "ਨ", "ਲ", "ੰ", "ਵ", "ੰ", ".", ".", "ਵ", "ਮ", "ਨ", ".", "ਲ", "ਸ", "ਨ", "ਵ", ".", "ਮ", "ਵ", "ਯ", "ਲ", "ਯ", "ਸ", ".", "ਯ", "ਯ", "ਸ", "ਯ", "ਮ", "ੰ", "ਸ", "ਯ", "ੰ", "ੰ", ".", "ਯ", "ਨ", "ੰ", "ਮ", ".", "ੰ", ".", "ਸ", "ਮ", "ਵ", "ਸ", "ੰ", "ਵ", "ਲ", "ਨ", ".", "ਮ", "ਲ", "ੰ", "ੰ", "ਵ", "ਮ", "ਮ", "ਲ", "ਸ", "ੰ", ".", "ਨ", "ਲ", "ਯ", "ੰ", "ੰ", "ਨ", "ਮ", "ਲ", ".", ".", "ਨ", "ੰ", "ਵ", "ਮ", "ਲ", ".", "ਨ", "ਮ", "ਯ", "ੰ", "ਨ", "ੰ", ".", "ੰ", "ਸ", "ੰ", "ੰ", "ੰ", "ਲ", "ਲ", "ਮ", "ਨ", "ਯ", ".", ".", "ਮ", "ੰ", "ਨ", "ਲ", "ੰ", "ਸ", "ਯ", "ੰ", "ੰ", "ਸ", "ੰ", ".", "ਸ", "ਮ", "ਲ", "ਨ", "ਸ", "ਸ", "ਸ", ".", "ੰ", "ੰ", ".", "ਮ", "ਮ", "ਨ", "ਨ", "ਯ", "ੰ", "ਯ", "ਵ", ".", "ਯ", "ਮ", ".", "ਯ", "ਲ", "ੰ", "ਸ", ".", "ਮ", "ਸ", "ੰ", "ਸ", "ਮ", "ੰ", "ਨ", "ਸ", "ਨ", ".", "ਸ", ".", ".", ".", "ਯ", "ੰ", "ਲ", "ੰ", "ੰ", "ਨ", "ਨ", "ਸ", "ਵ", "ਮ", "ਵ", ".", "ਯ", "ਵ", ".", "ਲ", "ਵ", ".", "ਲ", "ਨ", "ੰ", "ਯ", "ਸ", "ਵ", "ੰ", "ਮ", "ਲ", "ਯ", "ਵ", "ਨ", "ਵ", "ਯ", "ਵ", "ੰ", "ਲ", "ਯ", "ਸ", "ਨ", "ਮ", ".", "ਮ", "ਮ", "ਨ", "ਨ", "ਮ", "ਮ", "ਮ", "ਯ", "ਯ", "ਯ", "ਵ", "ਵ", "ਸ", "ੰ", "ਯ", ".", "ਸ", "ਲ"];

            //console.log('Words Before shuffling');
            //for (i = 0; i < wordList.length; i++)
            //    console.log((i + 1) + ": " + wordList[i]);


    </script>

    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}



