
@{
    /**/

    ViewBag.Title = "Lesson 1";
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Bottom Row : Lesson 1&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 2", "Lesson2", "BottomRow")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <img src="~/LearnTypingPhotos/HomeRow/HomeRowLesson1.jpg" style="width:550px;" />
            <br />
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key Combinations
                        </th>
                        <td>
                            x
                        </td>
                        <td>
                            c
                        </td>
                        <td>
                            v
                        </td>
                        <td>
                            b
                        </td>
                        <td>
                            n
                        </td>
                        <td>
                            m
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                           /
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੰ
                        </td>
                        <td>
                            ਮ
                        </td>
                        <td>
                            ਨ
                        </td>
                        <td>
                            ਵ
                        </td>
                        <td>
                            ਲ
                        </td>
                        <td>
                            ਸ
                        </td>
                        <td>
                            ,
                        </td>
                        <td>
                            .
                        </td>
                        <td>
                            ਯ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <section id="word-section"><span class="current-word">ਸ</span><span>ੰ</span><span>ਲ</span><span>ਲ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਵ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਨ</span><span>ਨ</span><span>ਯ</span><span>ਲ</span><span>ੰ</span><span>ਯ</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਵ</span><span>ਸ</span><span>ਵ</span><span>ਯ</span><span>ਮ</span><span>ਸ</span><span>ੰ</span><span>.</span><span>,</span><span>ਯ</span><span>ਯ</span><span>ਸ</span><span>ਮ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਸ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>ਸ</span><span>ਲ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>ਲ</span><span>ੰ</span><span>ਲ</span><span>ਯ</span><span>ਵ</span><span>ਯ</span><span>ਮ</span><span>ੰ</span><span>.</span><span>ਯ</span><span>.</span><span>ਵ</span><span>ਮ</span><span>ਲ</span><span>ਸ</span><span>ੰ</span><span>ਲ</span><span>ਵ</span><span>ਮ</span><span>ਸ</span><span>ਯ</span><span>ਵ</span><span>ੰ</span><span>ਵ</span><span>.</span><span>ਮ</span><span>ੰ</span><span>ਲ</span><span>ਮ</span><span>,</span><span>,</span><span>ੰ</span><span>ੰ</span><span>ਯ</span><span>ਲ</span><span>ਲ</span><span>ਮ</span><span>ਲ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਲ</span><span>ਸ</span><span>,</span><span>ਵ</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਵ</span><span>ਸ</span><span>ਸ</span><span>.</span><span>ੰ</span><span>,</span><span>.</span><span>,</span><span>ਮ</span><span>ਸ</span><span>ਨ</span><span>ਯ</span><span>ਯ</span><span>ਵ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>ੰ</span><span>ਮ</span><span>ਨ</span><span>ੰ</span><span>ਨ</span><span>ਯ</span><span>ਵ</span><span>ਮ</span><span>,</span><span>ੰ</span><span>,</span><span>ਵ</span><span>ਨ</span><span>ਲ</span><span>ੰ</span><span>ਵ</span><span>ੰ</span><span>.</span><span>.</span><span>ਵ</span><span>ਮ</span><span>ਨ</span><span>.</span><span>,</span><span>,</span><span>ਲ</span><span>ਸ</span><span>ਨ</span><span>ਵ</span><span>.</span><span>ਮ</span><span>ਵ</span><span>ਯ</span><span>ਲ</span><span>ਯ</span><span>ਸ</span><span>.</span><span>ਯ</span><span>,</span><span>ਯ</span><span>ਸ</span><span>ਯ</span><span>ਮ</span><span>ੰ</span><span>ਸ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>.</span><span>ਯ</span><span>ਨ</span><span>ੰ</span><span>ਮ</span><span>.</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਮ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>,</span><span>ਵ</span><span>ਲ</span><span>ਨ</span><span>.</span><span>ਮ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਮ</span><span>ਲ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>.</span><span>ਨ</span><span>,</span><span>ਲ</span><span>ਯ</span><span>ੰ</span><span>,</span><span>,</span><span>ੰ</span><span>ਨ</span><span>ਮ</span><span>ਲ</span><span>.</span><span>.</span><span>ਨ</span><span>ੰ</span><span>ਵ</span><span>ਮ</span><span>ਲ</span><span>,</span><span>.</span><span>ਨ</span><span>ਮ</span><span>ਯ</span><span>ੰ</span><span>ਨ</span><span>ੰ</span><span>,</span><span>.</span><span>ੰ</span><span>,</span><span>ਸ</span><span>ੰ</span><span>ੰ</span><span>ੰ</span><span>ਲ</span><span>ਲ</span><span>ਮ</span><span>ਨ</span><span>ਯ</span><span>.</span><span>.</span><span>ਮ</span><span>ੰ</span><span>ਨ</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>ਯ</span><span>ੰ</span><span>ੰ</span><span>ਸ</span><span>ੰ</span><span>.</span><span>ਸ</span><span>ਮ</span><span>ਲ</span><span>ਨ</span><span>ਸ</span><span>ਸ</span><span>ਸ</span><span>.</span><span>,</span><span>,</span><span>ੰ</span><span>ੰ</span><span>.</span><span>ਮ</span><span>ਮ</span><span>ਨ</span><span>ਨ</span><span>ਯ</span><span>ੰ</span><span>,</span><span>ਯ</span><span>ਵ</span><span>.</span><span>ਯ</span><span>ਮ</span><span>.</span><span>ਯ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ਸ</span><span>.</span><span>ਮ</span><span>ਸ</span><span>ੰ</span><span>ਸ</span><span>ਮ</span><span>ੰ</span><span>ਨ</span><span>ਸ</span><span>ਨ</span><span>.</span><span>ਸ</span><span>.</span><span>.</span><span>.</span><span>ਯ</span><span>ੰ</span><span>,</span><span>ਲ</span><span>ੰ</span><span>ੰ</span><span>ਨ</span><span>ਨ</span><span>ਸ</span><span>ਵ</span><span>ਮ</span><span>ਵ</span><span>.</span><span>ਯ</span><span>ਵ</span><span>.</span><span>ਲ</span><span>ਵ</span><span>.</span><span>ਲ</span><span>ਨ</span><span>ੰ</span><span>ਯ</span><span>ਸ</span><span>ਵ</span><span>ੰ</span><span>ਮ</span><span>ਲ</span><span>ਯ</span><span>,</span><span>ਵ</span><span>ਨ</span><span>ਵ</span><span>ਯ</span><span>ਵ</span><span>ੰ</span><span>ਲ</span><span>ਯ</span><span>ਸ</span><span>ਨ</span><span>ਮ</span><span>.</span><span>ਮ</span><span>ਮ</span><span>ਨ</span><span>ਨ</span><span>ਮ</span><span>ਮ</span><span>ਮ</span><span>ਯ</span><span>ਯ</span><span>ਯ</span><span>ਵ</span><span>ਵ</span><span>ਸ</span><span>ੰ</span><span>ਯ</span><span>.</span><span>ਸ</span><span>ਲ</span></section>



            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters per minute.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="chartrow" style="display:none">
        <div class="col-md-6" id="mcyhartdiv">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6" id="accuracydiv">
            <canvas id="accuracyChart"></canvas>
        </div>
        <div class="col-md-6" id="grossdiv">
            <canvas id="grossspeedchart"></canvas>
        </div>
        <div class="col-md-6" id="netdiv">
            <canvas id="netspeedChart"></canvas>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>




