
@{
    /**/

    ViewBag.Title = "Shift Upper Row : Lesson 2 |";
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">
        

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script type="text/javascript">
        var wordList = ["ਊਭਈ", "ਊਭਈ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ", "ਊਭਈ", "ਊਭਈ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ", "ਊਭਈ", "ਊਭਈ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ", "ਢਊਞਘ", "ਭਝ", "ਢਊਞਘ", "ਐਢ", "ਐਝ", "ਧਙਐ", "ਞਢਝਧ", "ਝਧਙ", "ਐਝ", "ਧਙਐ", "ਝਞ", "ਝਞ", "ਆਊ", "ਔਢ", "ਢਊਞਘ", "ਞਢਝਧ", "ਐਝ", "ਝਧਙ", "ਙਊ", "ਭਝ", "ਆਊ", "ਐਢ", "ਝਞ", "ਞਢਝਧ", "ਝਧਙ", "ਔਢ", "ਆਈ", "ਘਙ", "ਈਊਭ", "ਢਝਙ", "ਧਙਐ", "ਢਝਧ", "ਈਊਭ", "ਞਢਙ", "ਢਝਙ", "ਆਊ", "ਘਙਊਈ", "ਔਧ", "ਧਙਐ", "ਊਭਈ", "ਘਙ", "ਊਭਧ", "ਊਭਧ", "ਘਭਈ", "ਔਢ", "ਞਆ", "ਙਊ", "ਊਭਈ", "ਢਊਞਘ", "ਞਢਝਧ", "ਔਧ", "ਞਢਝਧ", "ਝਧਙ", "ਞਢਙ", "ਐਝ", "ਞਆ", "ਔਧ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਊਭਈਆਝ", "ਢਝਧ"];
             console.log('Value taken from Lesson1');
        for (i = 0; i < wordList.length; i++)
            console.log((i + 1) + ": " + wordList[i]);
    </script>

    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Shift Upper Row : Lesson 2&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Right Alt Key with All Key Characters", "Lesson", "RightAltWithAllKeys")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + q
                        </td>
                        <td>
                            Shift + w
                        </td>
                        <td>
                            Shift + e
                        </td>
                        <td>
                            Shift + r
                        </td>
                        <td>
                            Shift + t
                        </td>
                        <td>
                            Shift + y
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਔ
                        </td>
                        <td>
                            ਐ
                        </td>
                        <td>
                            ਆ
                        </td>
                        <td>
                            ਈ
                        </td>
                        <td>
                            ਊ
                        </td>
                        <td>
                            ਭ
                        </td>
                    </tr>

                </tbody>
            </table>
            <br />

            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + u
                        </td>
                        <td>
                            Shift + i
                        </td>
                        <td>
                            Shift + o
                        </td>
                        <td>
                            Shift + p
                        </td>
                        <td>
                            Shift + {
                        </td>
                        <td>
                            Shift + }
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਙ
                        </td>
                        <td>
                            ਘ
                        </td>
                        <td>
                            ਧ
                        </td>
                        <td>
                            ਝ
                        </td>
                        <td>
                            ਢ
                        </td>
                        <td>
                            ਞ
                        </td>

                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">

                <table class="bangali">
                    <tbody>
                        <tr>
                            <td class="tab_key _key"><span>Tab</span> <span class="special_characters">↹</span></td>
                            <td class="_key">
                                <span class="_right_char">ਔ</span> <br>
                                <span class="_right_char">Q</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਐ</span> <br>
                                <span class="_right_char">W</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਆ</span> <br>
                                <span class="_right_char">E</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਈ</span> <br>
                                <span class="_right_char">R</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਊ</span> <br>
                                <span class="_right_char">T</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਭ</span> <br>
                                <span class="_right_char">Y</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਙ</span> <br>
                                <span class="_right_char">U</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਘ</span> <br>
                                <span class="_right_char">I</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਧ</span> <br>
                                <span class="_right_char">O</span> <br />
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਝ</span> <br>
                                <span class="_right_char">P</span> <br />
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਢ</span> <br>
                                <span class="_right_char">[</span> <br />
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਞ</span> <br>
                                <span class="_right_char">]</span> <br />
                            </td>

                            <td class="r_tab_key _key">
                                <span class="_right_char">|</span> <br>
                                <span class="_right_char">\</span>
                            </td>


                        </tr>
                    </tbody>
                </table>

                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>

            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ਊਭਈ</span><span>ਊਭਈ</span><span>ਢਊਞਘ</span><span>ਭਝ</span><span>ਢਊਞਘ</span><span>ਐਢ</span><span>ਐਝ</span><span>ਧਙਐ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਐਝ</span><span>ਧਙਐ</span><span>ਝਞ</span><span>ਝਞ</span><span>ਆਊ</span><span>ਔਢ</span><span>ਢਊਞਘ</span><span>ਞਢਝਧ</span><span>ਐਝ</span><span>ਝਧਙ</span><span>ਙਊ</span><span>ਭਝ</span><span>ਆਊ</span><span>ਐਢ</span><span>ਝਞ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਔਢ</span><span>ਆਈ</span><span>ਘਙ</span><span>ਈਊਭ</span><span>ਢਝਙ</span><span>ਧਙਐ</span><span>ਢਝਧ</span><span>ਈਊਭ</span><span>ਞਢਙ</span><span>ਢਝਙ</span><span>ਆਊ</span><span>ਘਙਊਈ</span><span>ਔਧ</span><span>ਧਙਐ</span><span>ਊਭਈ</span><span>ਘਙ</span><span>ਊਭਧ</span><span>ਊਭਧ</span><span>ਘਭਈ</span><span>ਔਢ</span><span>ਞਆ</span><span>ਙਊ</span><span>ਊਭਈ</span><span>ਢਊਞਘ</span><span>ਞਢਝਧ</span><span>ਔਧ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਞਢਙ</span><span>ਐਝ</span><span>ਞਆ</span><span>ਔਧ</span><span>ਊਭਈਆਝ</span><span>ਊਭਈਆਝ</span><span>ਊਭਈਆਝ</span><span>ਢਝਧ</span><span>ਢਊਞਘ</span><span>ਭਝ</span><span>ਢਊਞਘ</span><span>ਐਢ</span><span>ਐਝ</span><span>ਧਙਐ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਐਝ</span><span>ਧਙਐ</span><span>ਝਞ</span><span>ਝਞ</span><span>ਆਊ</span><span>ਔਢ</span><span>ਢਊਞਘ</span><span>ਞਢਝਧ</span><span>ਐਝ</span><span>ਝਧਙ</span><span>ਙਊ</span><span>ਭਝ</span><span>ਆਊ</span><span>ਐਢ</span><span>ਝਞ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਔਢ</span><span>ਆਈ</span><span>ਘਙ</span><span>ਈਊਭ</span><span>ਢਝਙ</span><span>ਧਙਐ</span><span>ਢਝਧ</span><span>ਈਊਭ</span><span>ਞਢਙ</span><span>ਢਝਙ</span><span>ਆਊ</span><span>ਘਙਊਈ</span><span>ਔਧ</span><span>ਧਙਐ</span><span>ਊਭਈ</span><span>ਘਙ</span><span>ਊਭਧ</span><span>ਊਭਧ</span><span>ਘਭਈ</span><span>ਔਢ</span><span>ਞਆ</span><span>ਙਊ</span><span>ਊਭਈ</span><span>ਢਊਞਘ</span><span>ਞਢਝਧ</span><span>ਔਧ</span><span>ਞਢਝਧ</span><span>ਝਧਙ</span><span>ਞਢਙ</span><span>ਐਝ</span><span>ਞਆ</span><span>ਔਧ</span><span>ਊਭਈਆਝ</span><span>ਊਭਈਆਝ</span><span>ਊਭਈਆਝ</span><span>ਢਝਧ</span></section>

            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
    <div class="row" id="chartrow" style="display:none;">

        <div class="col-sm-2">
            <!--add area here -->
        </div>

        <div class="col-sm-8" style="height:510px;">
            <div class="row">
                <div class="col-md-6" id="mcyhartdiv" style="text-align:center;">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-6" id="accuracydiv" style="text-align:center;">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="grossdiv" style="text-align:center;">
                    <canvas id="grossspeedchart"></canvas>
                </div>
                <div class="col-md-6" id="netdiv" style="text-align:center;">
                    <canvas id="netspeedChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--add area here -->
        </div>

    </div>
    <br />
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>




