
@{
    ViewBag.Title = "EnglishHome";
}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <br />
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;English MCQ for Competitive Exams&nbsp;&nbsp;</h3>




            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group d-flex flex-row flex-wrap">
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            <span class="glyphicon glyphicon-check"></span><h5>Antonyms</h5>
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Synonyms
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Spelling Check
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Voice
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Ordering of Words
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Ordering of Sentences
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Selecting Words
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Sentence Correction
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Idioms and Phrases
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="list-group d-flex flex-row flex-wrap">
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Common Error Detection
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Sentence Completion
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Direct and Indirect Speech
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            One Word Substitution
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Sentence Improvement
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Verbal Analogies
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Sentence Formation
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Completing Statements
                        </a>
                        <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                            Grammar
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>
