
@{
    ViewBag.Title = "Number Line with Shift : Lesson |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Number line with Shift Keys&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Link to passage typing", "Passage", "PassageTyping", new { id = "1" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + 1
                        </td>
                        <td>
                            Shift + 2
                        </td>
                        <td>
                            Shift + 3
                        </td>
                        <td>
                            Shift + 4
                        </td>
                        <td>
                            Shift + (
                        </td>
                        <td>
                            Shift + )
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੍ਵ
                        </td>
                        <td>
                            ੍ਯ
                        </td>
                        <td>
                            ੍ਰ
                        </td>
                        <td>
                            ੱ
                        </td>
                        <td>
                            (
                        </td>
                        <td>
                            )
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">

                <table id="number_key" class="bangali">
                    <tbody>
                        <tr>
                            <td class="_key">
                                <span class="_right_char">~</span> <br>
                                <span class="_right_char">`</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">!</span> <br>
                                <span class="_right_char">1</span> <br>
                                <span class="_right_char">੍ਵ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">@@</span> <br>
                                <span class="_right_char">2</span> <br>
                                <span class="_right_char">੍ਯ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">#</span> <br>
                                <span class="_right_char">3</span> <br>
                                <span class="_right_char">੍ਰ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">$</span> <br>
                                <span class="_right_char">4</span> <br>
                                <span class="_right_char">ੱ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">%</span> <br>
                                <span class="_right_char">5</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">^</span> <br>
                                <span class="_right_char">6</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">&amp;</span> <br>
                                <span class="_right_char">7</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">*</span> <br>
                                <span class="_right_char">8</span> <br>
                            </td>
                            <td class="_key">
                                <span class="_right_char">(</span> <br>
                                <span class="_right_char">9</span> <br>
                            </td>
                            <td class="_key">
                                <span class="_right_char">)</span> <br>
                                <span class="_right_char">0</span> <br>
                            </td>
                            <td class="_key">
                                <span class="_right_char">-</span> <br>
                                <span class="_right_char">_</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">+</span> <br>
                                <span class="_right_char">=</span>
                            </td>


                            <td class="backspace_key _key" id="backspace_key"><span class="special_characters">← </span>Backspace</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <br />
            <section id="word-section"><span class="current-word">ਸੱ</span><span>੍ਯ</span><span>੍ਵ</span><span>(</span><span>(</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>ਸੱ</span><span>ਸੱ</span><span>੍ਯ</span><span>ੱ</span><span>)</span><span>ਸੱ</span><span>(</span><span>ੱ</span><span>ਸੱ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>)</span><span>੍ਯ</span><span>੍ਯ</span><span>੍ਯ</span><span>ਸੱ</span><span>ੱ</span><span>੍ਰ</span><span>੍ਰ</span><span>ਦ੍ਵ</span><span>)</span><span>੍ਰ</span><span>੍ਵ</span><span>੍ਰ</span><span>ਕ੍ਰ</span><span>੍ਵ</span><span>ੱ</span><span>ਕ੍ਯ</span><span>ਸੱ</span><span>)</span><span>(</span><span>ਕ੍ਰ</span><span>੍ਰ</span><span>(</span><span>੍ਯ</span><span>ਦ੍ਵ</span><span>੍ਯ</span><span>੍ਵ</span><span>ੱ</span><span>੍ਯ</span><span>(</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>ਦ੍ਵ</span><span>੍ਵ</span><span>ੱ</span><span>ਸੱ</span><span>(</span><span>੍ਵ</span><span>(</span><span>(</span><span>੍ਰ</span><span>੍ਵ</span><span>੍ਵ</span><span>ੱ</span><span>ਕ੍ਰ</span><span>ਕ੍ਯ</span><span>ਦ੍ਵ</span><span>ਕ੍ਯ</span><span>)</span><span>ਕ੍ਰ</span><span>)</span><span>੍ਯ</span><span>੍ਯ</span><span>ਕ੍ਯ</span><span>ਦ੍ਵ</span><span>੍ਯ</span><span>੍ਵ</span><span>ਸੱ</span><span>(</span><span>ਕ੍ਯ</span><span>)</span><span>ਕ੍ਰ</span><span>(</span><span>ਦ੍ਵ</span><span>੍ਵ</span><span>ੱ</span><span>੍ਰ</span><span>ਕ੍ਯ</span><span>ਦ੍ਵ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਕ੍ਯ</span><span>੍ਰ</span><span>ਦ੍ਵ</span><span>੍ਯ</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>੍ਯ</span><span>ਕ੍ਰ</span><span>ਕ੍ਯ</span><span>ਸੱ</span><span>੍ਵ</span><span>ਸੱ</span><span>)</span><span>ਕ੍ਯ</span><span>(</span><span>ਕ੍ਰ</span><span>ਕ੍ਰ</span><span>੍ਵ</span><span>ਕ੍ਰ</span><span>੍ਰ</span><span>)</span><span>ਕ੍ਰ</span><span>ੱ</span><span>ੱ</span><span>੍ਯ</span><span>੍ਵ</span><span>ੱ</span><span>੍ਯ</span><span>ਕ੍ਯ</span><span>੍ਯ</span><span>੍ਰ</span><span>ੱ</span><span>ਕ੍ਰ</span><span>)</span><span>੍ਰ</span><span>ਦ੍ਵ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>ਕ੍ਰ</span><span>੍ਵ</span><span>(</span><span>ਕ੍ਯ</span><span>੍ਵ</span><span>੍ਵ</span><span>ਸੱ</span><span>ਸੱ</span><span>(</span><span>੍ਰ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>(</span><span>ਸੱ</span><span>ਕ੍ਰ</span><span>)</span><span>੍ਰ</span><span>ਸੱ</span><span>ੱ</span><span>ਦ੍ਵ</span><span>੍ਵ</span><span>)</span><span>(</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>(</span><span>੍ਵ</span><span>੍ਰ</span><span>ਕ੍ਰ</span><span>ਕ੍ਰ</span><span>(</span><span>ਕ੍ਯ</span><span>ੱ</span><span>੍ਵ</span><span>੍ਵ</span><span>ੱ</span><span>੍ਯ</span><span>(</span><span>(</span><span>ਕ੍ਰ</span><span>੍ਰ</span><span>ਸੱ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>ਕ੍ਯ</span><span>੍ਯ</span><span>ਸੱ</span><span>੍ਵ</span><span>ਕ੍ਯ</span><span>(</span><span>(</span><span>)</span><span>੍ਯ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>ਕ੍ਯ</span><span>ਕ੍ਰ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>੍ਵ</span><span>੍ਵ</span><span>ਦ੍ਵ</span><span>)</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>ਦ੍ਵ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>੍ਯ</span><span>(</span><span>੍ਰ</span><span>ਕ੍ਰ</span><span>੍ਯ</span><span>੍ਯ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>੍ਯ</span><span>੍ਯ</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>੍ਰ</span><span>ਕ੍ਰ</span><span>ੱ</span><span>੍ਵ</span><span>੍ਰ</span><span>ੱ</span><span>ਕ੍ਯ</span><span>ਦ੍ਵ</span><span>ਦ੍ਵ</span><span>ਕ੍ਰ</span><span>(</span><span>ੱ</span><span>ਕ੍ਰ</span><span>(</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>ੱ</span><span>੍ਵ</span><span>੍ਵ</span><span>ਦ੍ਵ</span><span>ਦ੍ਵ</span><span>)</span><span>ਦ੍ਵ</span><span>ੱ</span><span>ਕ੍ਰ</span><span>੍ਵ</span><span>ਕ੍ਯ</span><span>)</span><span>ਕ੍ਰ</span><span>੍ਰ</span><span>੍ਵ</span><span>ਕ੍ਰ</span><span>(</span><span>(</span><span>ਦ੍ਵ</span><span>)</span><span>੍ਰ</span><span>ੱ</span><span>)</span><span>ਸੱ</span><span>(</span><span>੍ਰ</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>੍ਯ</span><span>ਸੱ</span><span>ਦ੍ਵ</span><span>ੱ</span><span>(</span><span>(</span><span>੍ਰ</span><span>ੱ</span><span>(</span><span>ਸੱ</span><span>ਸੱ</span><span>ੱ</span><span>)</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਦ੍ਵ</span><span>ਦ੍ਵ</span><span>)</span><span>ਕ੍ਰ</span><span>)</span><span>)</span><span>ਸੱ</span><span>੍ਵ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>੍ਰ</span><span>(</span><span>ਕ੍ਰ</span><span>ਦ੍ਵ</span><span>੍ਰ</span><span>(</span><span>੍ਰ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>ੱ</span><span>੍ਰ</span><span>(</span><span>ਕ੍ਰ</span><span>ਕ੍ਯ</span><span>ਕ੍ਯ</span><span>)</span><span>)</span><span>੍ਯ</span><span>ਸੱ</span><span>੍ਵ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਸੱ</span><span>ਸੱ</span><span>੍ਰ</span><span>ਸੱ</span><span>ਸੱ</span><span>)</span><span>ੱ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>ਸੱ</span><span>੍ਯ</span><span>ਕ੍ਯ</span><span>੍ਰ</span><span>੍ਰ</span><span>ਕ੍ਰ</span><span>ਸੱ</span><span>੍ਯ</span><span>੍ਯ</span><span>ਕ੍ਰ</span><span>ਸੱ</span><span>ਕ੍ਯ</span><span>੍ਯ</span><span>ਦ੍ਵ</span><span>ਦ੍ਵ</span><span>ਕ੍ਯ</span><span>੍ਰ</span><span>੍ਵ</span><span>)</span><span>ੱ</span><span>ਕ੍ਰ</span><span>)</span><span>੍ਰ</span><span>ਕ੍ਯ</span><span>ੱ</span><span>)</span><span>੍ਯ</span><span>੍ਯ</span><span>ਕ੍ਰ</span><span>੍ਵ</span><span>੍ਯ</span><span>)</span><span>੍ਵ</span><span>ਸੱ</span><span>ੱ</span></section>


            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        var wordList = ["ਸੱ", "੍ਯ", "੍ਵ", "ਕ੍ਯ", "ਕ੍ਯ", "ਸੱ", "ਸੱ", "੍ਯ", "ੱ", "ਸੱ", "ੱ", "ਸੱ", "ਕ੍ਰ", "ੱ", "੍ਯ", "੍ਯ", "੍ਯ", "ਸੱ", "ੱ", "੍ਰ", "੍ਰ", "ਦ੍ਵ", "੍ਰ", "੍ਵ", "੍ਰ", "ਕ੍ਰ", "੍ਵ", "ੱ", "ਕ੍ਯ", "ਸੱ", "ਕ੍ਰ", "੍ਰ", "੍ਯ", "ਦ੍ਵ", "੍ਯ", "੍ਵ", "ੱ", "੍ਯ", "ਕ੍ਯ", "ਕ੍ਯ", "ਦ੍ਵ", "੍ਵ", "ੱ", "ਸੱ", "੍ਵ", "੍ਰ", "੍ਵ", "੍ਵ", "ੱ", "ਕ੍ਰ", "ਕ੍ਯ", "ਦ੍ਵ", "ਕ੍ਯ", "ਕ੍ਰ", "੍ਯ", "੍ਯ", "ਕ੍ਯ", "ਦ੍ਵ", "੍ਯ", "੍ਵ", "ਸੱ", "ਕ੍ਯ", "ਕ੍ਰ", "ਦ੍ਵ", "੍ਵ", "ੱ", "੍ਰ", "ਕ੍ਯ", "ਦ੍ਵ", "ਸੱ", "ਸੱ", "ਸੱ", "ਕ੍ਯ", "੍ਰ", "ਦ੍ਵ", "੍ਯ", "ਦ੍ਵ", "੍ਰ", "੍ਯ", "ਕ੍ਰ", "ਕ੍ਯ", "ਸੱ", "੍ਵ", "ਸੱ", "ਕ੍ਯ", "ਕ੍ਰ", "ਕ੍ਰ", "੍ਵ", "ਕ੍ਰ", "੍ਰ", "ਕ੍ਰ", "ੱ", "ੱ", "੍ਯ", "੍ਵ", "ੱ", "੍ਯ", "ਕ੍ਯ", "੍ਯ", "੍ਰ", "ੱ", "ਕ੍ਰ", "੍ਰ", "ਦ੍ਵ", "ਕ੍ਰ", "ੱ", "ਕ੍ਰ", "੍ਵ", "ਕ੍ਯ", "੍ਵ", "੍ਵ", "ਸੱ", "ਸੱ", "੍ਰ", "ਕ੍ਯ", "ੱ", "ਸੱ", "ਕ੍ਰ", "੍ਰ", "ਸੱ", "ੱ", "ਦ੍ਵ", "੍ਵ", "ਦ੍ਵ", "੍ਰ", "੍ਵ", "੍ਰ", "ਕ੍ਰ", "ਕ੍ਰ", "ਕ੍ਯ", "ੱ", "੍ਵ", "੍ਵ", "ੱ", "੍ਯ", "ਕ੍ਰ", "੍ਰ", "ਸੱ", "ਕ੍ਯ", "ੱ", "ਕ੍ਯ", "੍ਯ", "ਸੱ", "੍ਵ", "ਕ੍ਯ", "੍ਯ", "ਕ੍ਰ", "ੱ", "ਕ੍ਯ", "ਕ੍ਰ", "ਕ੍ਰ", "ੱ", "੍ਵ", "੍ਵ", "ਦ੍ਵ", "ਦ੍ਵ", "੍ਰ", "ਦ੍ਵ", "ਕ੍ਰ", "ੱ", "੍ਯ", "੍ਰ", "ਕ੍ਰ", "੍ਯ", "੍ਯ", "ਸੱ", "ਸੱ", "ਕ੍ਯ", "ਕ੍ਯ", "੍ਯ", "੍ਯ", "ਦ੍ਵ", "੍ਰ", "੍ਰ", "ਕ੍ਰ", "ੱ", "੍ਵ", "੍ਰ", "ੱ", "ਕ੍ਯ", "ਦ੍ਵ", "ਦ੍ਵ", "ਕ੍ਰ", "ੱ", "ਕ੍ਰ", "ਦ੍ਵ", "੍ਰ", "ੱ", "੍ਵ", "੍ਵ", "ਦ੍ਵ", "ਦ੍ਵ", "ਦ੍ਵ", "ੱ", "ਕ੍ਰ", "੍ਵ", "ਕ੍ਯ", "ਕ੍ਰ", "੍ਰ", "੍ਵ", "ਕ੍ਰ", "ਦ੍ਵ", "੍ਰ", "ੱ", "ਸੱ", "੍ਰ", "ਕ੍ਯ", "ਕ੍ਯ", "੍ਯ", "ਸੱ", "ਦ੍ਵ", "ੱ", "੍ਰ", "ੱ", "ਸੱ", "ਸੱ", "ੱ", "ਕ੍ਯ", "ਕ੍ਯ", "ਸੱ", "ਸੱ", "ਦ੍ਵ", "ਦ੍ਵ", "ਕ੍ਰ", "ਸੱ", "੍ਵ", "ਸੱ", "ਸੱ", "ਕ੍ਯ", "ਕ੍ਯ", "ੱ", "੍ਰ", "ਕ੍ਰ", "ਦ੍ਵ", "੍ਰ", "੍ਰ", "ਕ੍ਯ", "ੱ", "ੱ", "੍ਰ", "ਕ੍ਰ", "ਕ੍ਯ", "ਕ੍ਯ", "੍ਯ", "ਸੱ", "੍ਵ", "ਸੱ", "ਸੱ", "ਸੱ", "ਸੱ", "੍ਰ", "ਸੱ", "ਸੱ", "ੱ", "ਕ੍ਯ", "ੱ", "ਸੱ", "੍ਯ", "ਕ੍ਯ", "੍ਰ", "੍ਰ", "ਕ੍ਰ", "ਸੱ", "੍ਯ", "੍ਯ", "ਕ੍ਰ", "ਸੱ", "ਕ੍ਯ", "੍ਯ", "ਦ੍ਵ", "ਦ੍ਵ", "ਕ੍ਯ", "੍ਰ", "੍ਵ", "ੱ", "ਕ੍ਰ", "੍ਰ", "ਕ੍ਯ", "ੱ", "੍ਯ", "੍ਯ", "ਕ੍ਰ", "੍ਵ", "੍ਯ", "੍ਵ", "ਸੱ", "ੱ"];
    </script>

    <script src="~/Scripts/JavaScript.js"></script>

}


