
@{
                /**/

                /**/

                ViewBag.Title = "Lesson 1";
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="fb-root">

    </div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Home Row : Lesson 3&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Start Bottom Row", "Lesson1", "BottomRow")&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <img src="~/LearnTypingPhotos/HomeRow/HomeRowLesson1.jpg" style="width:550px;" />
            <br />
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key Combinations
                        </th>
                        <td>
                            a
                        </td>
                        <td>
                            s
                        </td>
                        <td>
                            d
                        </td>
                        <td>
                            f
                        </td>
                        <td>
                            g
                        </td>
                        <td>
                            h
                        </td>
                        <td>
                            j
                        </td>
                        <td>
                            k
                        </td>
                        <td>
                            l
                        </td>
                        <td>
                            ;
                        </td>
                        <td>
                            '
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੋ
                        </td>
                        <td>
                            ੇ
                        </td>
                        <td>
                            ੍
                        </td>
                        <td>
                            ਿ
                        </td>
                        <td>
                            ੁ
                        </td>
                        <td>
                            ਪ
                        </td>
                        <td>
                            ਰ
                        </td>
                        <td>
                            ਕ
                        </td>
                        <td>
                            ਤ
                        </td>
                        <td>
                            ਚ
                        </td>
                        <td>
                            ਟ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <section id="word-section"><span class="current-word">ਟੋਟਰ</span><span>ਪੁਟ</span><span>ਕੋਕਰ</span><span>ਪਿਤਰ</span><span>ਕਿਟ</span><span>ਕਰਕ</span><span>ਪੁਟ</span><span>ਤ੍ਰਿਪਤ</span><span>ਤਿਤ</span><span>ਚ੍ਕਕਰ</span><span>ਪਰਕਤ</span><span>ਪਰਕਤ</span><span>ਚ੍ਕਕਰ</span><span>ਕਰਕ</span><span>ਪਿਕ</span><span>ਰੇਤ</span><span>ਚਪਟ੍</span><span>ਤੁਰਤ</span><span>ਤਿਤ</span><span>ਟੋਤ</span><span>ਤ੍ਕ</span><span>ਤਿਤ</span><span>ਤੁਰਤ</span><span>ਤ੍ਰਿਪਤ</span><span>ਪਿਤਰ</span><span>ਪੋਟ</span><span>ਕੋਕਰ</span><span>ਟੇਪ</span><span>ਕਿਰਕ੍</span><span>ਰੁਕ</span><span>ਟੇਪ</span><span>ਕੋਕ</span><span>ਪਿਕ</span><span>ਪੁਟ</span><span>ਕਰਤ</span><span>ਪੁਟ</span><span>ਕੋਕਰ</span><span>ਪਿਤਰ</span><span>ਕਿਟ</span><span>ਕਰਕ</span><span>ਪੁਟ</span><span>ਤ੍ਰਿਪਤ</span><span>ਤਿਤ</span><span>ਚ੍ਕਕਰ</span><span>ਪਰਕਤ</span><span>ਪਰਕਤ</span><span>ਚ੍ਕਕਰ</span><span>ਕਰਕ</span><span>ਪਿਕ</span><span>ਰੇਤ</span><span>ਚਪਟ੍</span><span>ਤੁਰਤ</span><span>ਤਿਤ</span><span>ਟੋਤ</span><span>ਤ੍ਕ</span><span>ਤਿਤ</span><span>ਤੁਰਤ</span><span>ਤ੍ਰਿਪਤ</span><span>ਪਿਤਰ</span><span>ਪੋਟ</span><span>ਕੋਕਰ</span><span>ਟੇਪ</span><span>ਕਿਰਕ੍</span><span>ਰੁਕ</span><span>ਟੇਪ</span><span>ਕੋਕ</span><span>ਪਿਕ</span><span>ਪੁਟ</span><span>ਕਰਤ</span><span>ਪੁਟ</span><span>ਕੋਕਰ</span><span>ਪਿਤਰ</span><span>ਕਿਟ</span><span>ਕਰਕ</span><span>ਪੁਟ</span><span>ਤ੍ਰਿਪਤ</span><span>ਤਿਤ</span><span>ਚ੍ਕਕਰ</span><span>ਪਰਕਤ</span><span>ਪਰਕਤ</span><span>ਚ੍ਕਕਰ</span><span>ਕਰਕ</span><span>ਪਿਕ</span><span>ਰੇਤ</span><span>ਚਪਟ੍</span><span>ਤੁਰਤ</span><span>ਤਿਤ</span><span>ਟੋਤ</span><span>ਤ੍ਕ</span><span>ਤਿਤ</span><span>ਤੁਰਤ</span><span>ਤ੍ਰਿਪਤ</span><span>ਪਿਤਰ</span><span>ਪੋਟ</span><span>ਕੋਕਰ</span><span>ਟੇਪ</span><span>ਕਿਰਕ੍</span><span>ਰੁਕ</span><span>ਟੇਪ</span><span>ਕੋਕ</span><span>ਪਿਕ</span><span>ਪੁਟ</span><span>ਕਰਤ</span></section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div id="divtimer" style="text-align:center">
                <p id="test"></p>
                <button type="button" class="btn btn-success" id="clock" onclick="Clock(this);">Start</button>
                <button type="button" class="btn btn-success" style="margin-left:6px" id="restarttype" title="Every Restart will shuffle the words to practice more" onclick="disableButton(this);" disabled>Re-Start</button>
            </div>
            <br />
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <div class="row" id="chartrow" style="display:none">
        <div class="col-md-6" id="mcyhartdiv">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6" id="accuracydiv">
            <canvas id="accuracyChart"></canvas>
        </div>
        <div class="col-md-6" id="grossdiv">
            <canvas id="grossspeedchart"></canvas>
        </div>
        <div class="col-md-6" id="netdiv">
            <canvas id="netspeedChart"></canvas>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="fb-comments" style="display:inline-block" data-href="https://localhost:44392/HomeRow/Lesson1" data-width="" data-numposts="5"></div>
    </div>
</div>




