
@{
    ViewBag.Title = "Home Row : Lesson 2 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Home Row : Lesson 2&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 3", "Lesson", "HomeRow", new { id = "3" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            a
                        </td>
                        <td>
                            s
                        </td>
                        <td>
                            d
                        </td>
                        <td>
                            f
                        </td>
                        <td>
                            g
                        </td>
                        <td>
                            h
                        </td>
                        <td>
                            j
                        </td>
                        <td>
                            k
                        </td>
                        <td>
                            l
                        </td>
                        <td>
                            ;
                        </td>
                        <td>
                            '
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੋ
                        </td>
                        <td>
                            ੇ
                        </td>
                        <td>
                            ੍
                        </td>
                        <td>
                            ਿ
                        </td>
                        <td>
                            ੁ
                        </td>
                        <td>
                            ਪ
                        </td>
                        <td>
                            ਰ
                        </td>
                        <td>
                            ਕ
                        </td>
                        <td>
                            ਤ
                        </td>
                        <td>
                            ਚ
                        </td>
                        <td>
                            ਟ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">
                <table id="second_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="caps_key _key" id="_caps_Lock"><span>Caps Lock</span></td>
                            <td class="_key">
                                <span class="_right_char">A</span> <br />
                                <span class="_right_char">ੋ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">S</span> <br />
                                <span class="_right_char">ੇ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">D</span> <br />
                                <span class="_right_char">੍</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">F</span> <br />
                                <span class="_right_char">ਿ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">G</span> <br />
                                <span class="_right_char">ੁ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">H</span> <br />
                                <span class="_right_char">ਪ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">J</span> <br />
                                <span class="_right_char">ਰ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">K</span> <br />
                                <span class="_right_char">ਕ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">L</span> <br />
                                <span class="_right_char">ਤ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">;</span> <br />
                                <span class="_right_char">ਚ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">'</span> <br />
                                <span class="_right_char">ਟ</span>
                            </td>
                            <td class="enter_key _key" id="enter_key"><span class="special_characters">↩</span> Enter </td>
                        </tr>
                    </tbody>
                </table>

                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <section id="word-section"><span class="current-word">ਰਿ</span><span>ਰੁ</span><span>ਟੇ</span><span>ਪੋ</span><span>ਚਿ</span><span>ਕਿ</span><span>ਕ੍</span><span>ਰੇ</span><span>ਪਿ</span><span>ਰਿ</span><span>ਪੁ</span><span>ਕਟ</span><span>ਟ੍</span><span>ਤ੍</span><span>ਟੋ</span><span>ਪੇ</span><span>ਕ੍</span><span>ਰੋ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਪ੍</span><span>ਚੋ</span><span>ਰਿ</span><span>ਰ੍</span><span>ਚਕ</span><span>ਕੇ</span><span>ਕੇ</span><span>ਕਟ</span><span>ਕ੍</span><span>ਤੁ</span><span>ਟਤ</span><span>ਰੇ</span><span>ਟਪ</span><span>ਰ੍</span><span>ਕੇ</span><span>ਚੋ</span><span>ਟੋ</span><span>ਰਿ</span><span>ਤਿ</span><span>ਚਿ</span><span>ਕਿ</span><span>ਕੇ</span><span>ਰੁ</span><span>ਤਿ</span><span>ਕਟ</span><span>ਤੇ</span><span>ਟਰ</span><span>ਤ੍</span><span>ਟੇ</span><span>ਚੋ</span><span>ਪ੍</span><span>ਟਚ</span><span>ਚ੍</span><span>ਟਤ</span><span>ਰਿ</span><span>ਤੇ</span><span>ਚੁ</span><span>ਪੇ</span><span>ਤ੍</span><span>ਟ੍</span><span>ਕੁ</span><span>ਪਿ</span><span>ਤੋ</span><span>ਤੋ</span><span>ਟਚ</span><span>ਪਰ</span><span>ਤ੍</span><span>ਕਰ</span><span>ਕੇ</span><span>ਰਿ</span><span>ਚਕ</span><span>ਚਤ</span><span>ਤਿ</span><span>ਚੋ</span><span>ਪੁ</span><span>ਚਤ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਚੋ</span><span>ਟਿ</span><span>ਪੇ</span><span>ਤੁ</span><span>ਰੁ</span><span>ਪੁ</span><span>ਚੁ</span><span>ਟੁ</span><span>ਟੇ</span><span>ਕਟ</span><span>ਰ੍</span><span>ਕਿ</span><span>ਚਤ</span><span>ਤਕ</span><span>ਕਿ</span><span>ਟੁ</span><span>ਟਚ</span><span>ਪੋ</span><span>ਰਿ</span><span>ਰੁ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਕੇ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਚੋ</span><span>ਕਿ</span><span>ਚੁ</span><span>ਚੁ</span><span>ਪਰ</span><span>ਪੇ</span><span>ਤਿ</span><span>ਟਚ</span><span>ਪਰ</span><span>ਟਤ</span><span>ਤਿ</span><span>ਤੁ</span><span>ਟੁ</span><span>ਕੇ</span><span>ਪੇ</span><span>ਤੇ</span><span>ਚਤ</span><span>ਰੁ</span><span>ਟਤ</span><span>ਤਿ</span><span>ਤਿ</span><span>ਟਪ</span><span>ਚਰ</span><span>ਰੁ</span><span>ਪੁ</span><span>ਤੇ</span><span>ਚਰ</span><span>ਕੁ</span><span>ਰ੍</span><span>ਟਪ</span><span>ਟੋ</span><span>ਕਿ</span><span>ਟਰ</span><span>ਰ੍</span><span>ਪੋ</span><span>ਤਕ</span><span>ਕਰ</span><span>ਟਪ</span><span>ਰੁ</span><span>ਰਿ</span><span>ਟ੍</span><span>ਤੋ</span><span>ਟਿ</span><span>ਤੇ</span><span>ਚੋ</span><span>ਚਿ</span><span>ਪ੍</span><span>ਪ੍</span><span>ਚਿ</span><span>ਟੋ</span><span>ਚਰ</span><span>ਪਰ</span><span>ਰੁ</span><span>ਤੇ</span><span>ਕੁ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਤਿ</span><span>ਚਕ</span><span>ਟਪ</span><span>ਟਤ</span><span>ਤੇ</span><span>ਪਰ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਚੁ</span><span>ਚਤ</span><span>ਟ੍</span><span>ਟਚ</span><span>ਕੇ</span><span>ਚਕ</span><span>ਕਿ</span><span>ਟਤ</span><span>ਕੇ</span><span>ਟਤ</span><span>ਤੇ</span><span>ਚਰ</span><span>ਰਿ</span><span>ਕਰ</span><span>ਕਰ</span><span>ਟ੍</span><span>ਕਟ</span><span>ਤਿ</span><span>ਤੋ</span><span>ਕਿ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਪੋ</span><span>ਰੁ</span><span>ਤਕ</span><span>ਟਤ</span><span>ਚੋ</span><span>ਟਪ</span><span>ਕਟ</span><span>ਕੇ</span><span>ਟ੍</span><span>ਟਤ</span><span>ਕਿ</span><span>ਚਕ</span><span>ਰੁ</span><span>ਤ੍</span><span>ਰੋ</span><span>ਕ੍</span><span>ਤਿ</span><span>ਪਿ</span><span>ਤਕ</span><span>ਪਰ</span><span>ਚੋ</span><span>ਰੁ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਚਿ</span><span>ਤਿ</span><span>ਟਰ</span><span>ਰੁ</span><span>ਚਕ</span><span>ਟਚ</span><span>ਤੁ</span><span>ਟੋ</span><span>ਟੁ</span><span>ਕੇ</span><span>ਚਿ</span><span>ਰ੍</span><span>ਟਿ</span><span>ਰਿ</span><span>ਤੇ</span><span>ਟ੍</span><span>ਰ੍</span><span>ਟਤ</span><span>ਟੇ</span><span>ਕੇ</span><span>ਪੁ</span><span>ਕੇ</span><span>ਚੁ</span><span>ਤੇ</span><span>ਕੋ</span><span>ਪਰ</span><span>ਚਕ</span><span>ਰੁ</span><span>ਕੇ</span><span>ਟਿ</span><span>ਟੁ</span><span>ਤੋ</span><span>ਤਿ</span><span>ਰਿ</span><span>ਚਤ</span><span>ਚਰ</span><span>ਕਟ</span><span>ਰਿ</span><span>ਪੋ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਰੇ</span><span>ਪੋ</span><span>ਤੋ</span><span>ਚੋ</span><span>ਟੁ</span><span>ਟੋ</span><span>ਪੁ</span><span>ਚ੍</span><span>ਚਿ</span><span>ਚਕ</span><span>ਟੋ</span><span>ਕੇ</span><span>ਪੇ</span><span>ਟਿ</span><span>ਤੋ</span><span>ਟਿ</span><span>ਪ੍</span><span>ਪਰ</span><span>ਤੋ</span><span>ਰਿ</span><span>ਚ੍</span><span>ਕ੍</span><span>ਰਿ</span><span>ਚਿ</span><span>ਟੇ</span><span>ਚੁ</span><span>ਕਿ</span><span>ਕ੍</span><span>ਤ੍</span><span>ਚੋ</span><span>ਪੇ</span><span>ਚਰ</span><span>ਚੋ</span><span>ਟਿ</span><span>ਚੁ</span><span>ਕਿ</span><span>ਟੇ</span><span>ਟਰ</span><span>ਕ੍</span><span>ਰਿ</span><span>ਤਿ</span><span>ਤਿ</span><span>ਕੇ</span><span>ਕਟ</span><span>ਰੁ</span><span>ਟੇ</span><span>ਪੋ</span><span>ਚਿ</span><span>ਕਿ</span><span>ਕ੍</span><span>ਰੇ</span><span>ਪਿ</span><span>ਰਿ</span><span>ਪੁ</span><span>ਕਟ</span><span>ਟ੍</span><span>ਤ੍</span><span>ਟੋ</span><span>ਪੇ</span><span>ਕ੍</span><span>ਰੋ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਪ੍</span><span>ਚੋ</span><span>ਰਿ</span><span>ਰ੍</span><span>ਚਕ</span><span>ਕੇ</span><span>ਕੇ</span><span>ਕਟ</span><span>ਕ੍</span><span>ਤੁ</span><span>ਟਤ</span><span>ਰੇ</span><span>ਟਪ</span><span>ਰ੍</span><span>ਕੇ</span><span>ਚੋ</span><span>ਟੋ</span><span>ਰਿ</span><span>ਤਿ</span><span>ਚਿ</span><span>ਕਿ</span><span>ਕੇ</span><span>ਰੁ</span><span>ਤਿ</span><span>ਕਟ</span><span>ਤੇ</span><span>ਟਰ</span><span>ਤ੍</span><span>ਟੇ</span><span>ਚੋ</span><span>ਪ੍</span><span>ਟਚ</span><span>ਚ੍</span><span>ਟਤ</span><span>ਰਿ</span><span>ਤੇ</span><span>ਚੁ</span><span>ਪੇ</span><span>ਤ੍</span><span>ਟ੍</span><span>ਕੁ</span><span>ਪਿ</span><span>ਤੋ</span><span>ਤੋ</span><span>ਟਚ</span><span>ਪਰ</span><span>ਤ੍</span><span>ਕਰ</span><span>ਕੇ</span><span>ਰਿ</span><span>ਚਕ</span><span>ਚਤ</span><span>ਤਿ</span><span>ਚੋ</span><span>ਪੁ</span><span>ਚਤ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਚੋ</span><span>ਟਿ</span><span>ਪੇ</span><span>ਤੁ</span><span>ਰੁ</span><span>ਪੁ</span><span>ਚੁ</span><span>ਟੁ</span><span>ਟੇ</span><span>ਕਟ</span><span>ਰ੍</span><span>ਕਿ</span><span>ਚਤ</span><span>ਤਕ</span><span>ਕਿ</span><span>ਟੁ</span><span>ਟਚ</span><span>ਪੋ</span><span>ਰਿ</span><span>ਰੁ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਕੇ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਚੋ</span><span>ਕਿ</span><span>ਚੁ</span><span>ਚੁ</span><span>ਪਰ</span><span>ਪੇ</span><span>ਤਿ</span><span>ਟਚ</span><span>ਪਰ</span><span>ਟਤ</span><span>ਤਿ</span><span>ਤੁ</span><span>ਟੁ</span><span>ਕੇ</span><span>ਪੇ</span><span>ਤੇ</span><span>ਚਤ</span><span>ਰੁ</span><span>ਟਤ</span><span>ਤਿ</span><span>ਤਿ</span><span>ਟਪ</span><span>ਚਰ</span><span>ਰੁ</span><span>ਪੁ</span><span>ਤੇ</span><span>ਚਰ</span><span>ਕੁ</span><span>ਰ੍</span><span>ਟਪ</span><span>ਟੋ</span><span>ਕਿ</span><span>ਟਰ</span><span>ਰ੍</span><span>ਪੋ</span><span>ਤਕ</span><span>ਕਰ</span><span>ਟਪ</span><span>ਰੁ</span><span>ਰਿ</span><span>ਟ੍</span><span>ਤੋ</span><span>ਟਿ</span><span>ਤੇ</span><span>ਚੋ</span><span>ਚਿ</span><span>ਪ੍</span><span>ਪ੍</span><span>ਚਿ</span><span>ਟੋ</span><span>ਚਰ</span><span>ਪਰ</span><span>ਰੁ</span><span>ਤੇ</span><span>ਕੁ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਤਿ</span><span>ਚਕ</span><span>ਟਪ</span><span>ਟਤ</span><span>ਤੇ</span><span>ਪਰ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਚੁ</span><span>ਚਤ</span><span>ਟ੍</span><span>ਟਚ</span><span>ਕੇ</span><span>ਚਕ</span><span>ਕਿ</span><span>ਟਤ</span><span>ਕੇ</span><span>ਟਤ</span><span>ਤੇ</span><span>ਚਰ</span><span>ਰਿ</span><span>ਕਰ</span><span>ਕਰ</span><span>ਟ੍</span><span>ਕਟ</span><span>ਤਿ</span><span>ਤੋ</span><span>ਕਿ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਪੋ</span><span>ਰੁ</span><span>ਤਕ</span><span>ਟਤ</span><span>ਚੋ</span><span>ਟਪ</span><span>ਕਟ</span><span>ਕੇ</span><span>ਟ੍</span><span>ਟਤ</span><span>ਕਿ</span><span>ਚਕ</span><span>ਰੁ</span><span>ਤ੍</span><span>ਰੋ</span><span>ਕ੍</span><span>ਤਿ</span><span>ਪਿ</span><span>ਤਕ</span><span>ਪਰ</span><span>ਚੋ</span><span>ਰੁ</span><span>ਰ੍</span><span>ਚਿ</span><span>ਚਿ</span><span>ਤਿ</span><span>ਟਰ</span><span>ਰੁ</span><span>ਚਕ</span><span>ਟਚ</span><span>ਤੁ</span><span>ਟੋ</span><span>ਟੁ</span><span>ਕੇ</span><span>ਚਿ</span><span>ਰ੍</span><span>ਟਿ</span><span>ਰਿ</span><span>ਤੇ</span><span>ਟ੍</span><span>ਰ੍</span><span>ਟਤ</span><span>ਟੇ</span><span>ਕੇ</span><span>ਪੁ</span><span>ਕੇ</span><span>ਚੁ</span><span>ਤੇ</span><span>ਕੋ</span><span>ਪਰ</span><span>ਚਕ</span><span>ਰੁ</span><span>ਕੇ</span><span>ਟਿ</span><span>ਟੁ</span><span>ਤੋ</span><span>ਤਿ</span><span>ਰਿ</span><span>ਚਤ</span><span>ਚਰ</span><span>ਕਟ</span><span>ਰਿ</span><span>ਪੋ</span><span>ਟਰ</span><span>ਚੋ</span><span>ਰਿ</span><span>ਰੇ</span><span>ਪੋ</span><span>ਤੋ</span><span>ਚੋ</span><span>ਟੁ</span><span>ਟੋ</span><span>ਪੁ</span><span>ਚ੍</span><span>ਚਿ</span><span>ਚਕ</span><span>ਟੋ</span><span>ਕੇ</span><span>ਪੇ</span><span>ਟਿ</span><span>ਤੋ</span><span>ਟਿ</span><span>ਪ੍</span><span>ਪਰ</span><span>ਤੋ</span><span>ਰਿ</span><span>ਚ੍</span><span>ਕ੍</span><span>ਰਿ</span><span>ਚਿ</span><span>ਟੇ</span><span>ਚੁ</span><span>ਕਿ</span><span>ਕ੍</span><span>ਤ੍</span><span>ਚੋ</span><span>ਪੇ</span><span>ਚਰ</span><span>ਚੋ</span><span>ਟਿ</span><span>ਚੁ</span><span>ਕਿ</span><span>ਟੇ</span><span>ਟਰ</span><span>ਕ੍</span><span>ਰਿ</span><span>ਤਿ</span><span>ਤਿ</span><span>ਕੇ</span><span>ਕਟ</span></section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>
<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">

        var wordList = ["ਰਿ", "ਰੁ", "ਟੇ", "ਪੋ", "ਚਿ", "ਕਿ", "ਕ੍", "ਰੇ", "ਪਿ", "ਰਿ", "ਪੁ", "ਕਟ", "ਟ੍", "ਤ੍", "ਟੋ", "ਪੇ", "ਕ੍", "ਰੋ", "ਚੋ", "ਰਿ", "ਪ੍", "ਚੋ", "ਰਿ", "ਰ੍", "ਚਕ", "ਕੇ", "ਕੇ", "ਰੇ", "ਟਪ", "ਰ੍", "ਕੇ", "ਚੋ", "ਟੋ",
            "ਕਟ", "ਕ੍", "ਤੁ", "ਟਤ", "ਰਿ", "ਤਿ", "ਚਿ", "ਕਿ", "ਕੇ", "ਰੁ", "ਤਿ", "ਕਟ", "ਤੇ", "ਟਰ", "ਤ੍", "ਟੇ", "ਚੋ", "ਪ੍", "ਟਚ", "ਚ੍", "ਟਤ", "ਰਿ", "ਤੇ", "ਚੁ", "ਤ੍",
            "ਟ੍", "ਕੁ", "ਪਿ", "ਤੋ", "ਤੋ", "ਟਚ", "ਪਰ", "ਤ੍", "ਕਰ", "ਕੇ", "ਰਿ", "ਚਕ", "ਚਤ", "ਤਿ", "ਚੋ", "ਪੁ", "ਚਤ", "ਰ੍", "ਚਿ", "ਚੋ", "ਟਿ", "ਪੇ", "ਤੁ", "ਰੁ", "ਪੁ", "ਚੁ",
            "ਟੁ", "ਟੇ", "ਕਟ", "ਰ੍", "ਕਿ", "ਚਤ", "ਤਕ", "ਕਿ", "ਟੁ", "ਟਚ", "ਪੋ", "ਰਿ", "ਰੁ", "ਰ੍", "ਚਿ", "ਕੇ", "ਟਰ", "ਚੋ", "ਚੋ", "ਕਿ", "ਚੁ", "ਚੁ",
            "ਪਰ", "ਪੇ", "ਤਿ", "ਟਚ", "ਪਰ", "ਟਤ", "ਤਿ", "ਤੁ", "ਟੁ", "ਕੇ", "ਪੇ", "ਤੇ", "ਚਤ", "ਰੁ", "ਟਤ", "ਤਿ", "ਤਿ", "ਟਪ", "ਚਰ", "ਰੁ", "ਪੁ", "ਤੇ", "ਚਰ", "ਕੁ", "ਰ੍", "ਟਪ", "ਟੋ", "ਕਿ", "ਟਰ",
            "ਰ੍", "ਪੋ", "ਤਕ", "ਕਰ", "ਟਪ", "ਰੁ", "ਰਿ", "ਟ੍", "ਤੋ", "ਟਿ", "ਤੇ", "ਚੋ", "ਚਿ", "ਪ੍", "ਪ੍", ""
            , "ਚਿ", "ਟੋ", "ਚਰ", "ਪਰ", "ਰੁ", "ਤੇ", "ਕੁ", "ਟਰ", "ਚੋ", "ਤਿ", "ਚਕ", "ਟਪ", "ਟਤ", "ਤੇ", "ਪਰ", "ਟਰ", "ਚੋ", "ਚੁ"
            , "ਚਤ", "ਟਚ", "ਕੇ", "ਚਕ", "ਕਿ", "ਟਤ", "ਟ੍", "ਕੇ", "ਟਤ", "ਤੇ", "ਚਰ", "ਰਿ", "ਕਰ", "ਕਰ", "ਟ੍", "ਕਟ", "ਤਿ"
            , "ਤੋ", "ਕਿ", "ਚੋ", "ਰਿ", "ਪੋ", "ਰੁ", "ਤਕ", "ਟਤ", "ਚੋ", "ਟਪ", "ਕਟ", "ਕੇ", "ਟ੍", "ਟਤ", "ਚਕ"
            , "ਕਿ", "ਰੁ", "ਤ੍", "ਰੋ", "ਕ੍", "ਤਿ", "ਪਿ", "ਤਕ", "ਪਰ", "ਚੋ", "ਰੁ", "ਰ੍", "ਚਿ", "ਚਿ", "ਤਿ", "ਟਰ", "ਰੁ", "ਚਕ", "ਟਚ", "ਟੁ", "ਤੁ"
            , "ਟੋ", "ਕੇ", "ਚਿ", "ਰ੍", "ਰਿ", "ਟਿ", "ਤੇ", "ਟ੍", "ਰ੍", "ਟਤ", "ਟੇ", "ਕੇ", "ਪੁ", "ਕੇ", "ਚੁ", "ਤੇ", "ਕੋ", "ਪਰ", "ਚਕ", "ਰੁ", "ਕੇ", "ਟਿ", "ਟੁ", "ਤੋ", "ਤਿ",
            "ਰਿ", "ਚਤ", "ਚਰ", "ਕਟ", "ਰਿ", "ਪੋ", "ਟਰ", "ਰਿ", "ਰੇ", "ਚੋ", "ਪੋ", "ਤੋ", "ਚੋ", "ਟੁ", "ਟੋ", "ਪੁ", "ਚ੍", "ਚਿ", "ਚਕ", "ਟੋ", "ਕੇ", "ਪੇ", "ਟਿ", "ਤੋ", "ਟਿ", "ਪ੍"
            , "ਪਰ", "ਤੋ", "ਰਿ", "ਚ੍", "ਰਿ", "ਕ੍", "ਚਿ", "ਟੇ", "ਚੁ", "ਕਿ", "ਕ੍", "ਤ੍", "ਚੋ", "ਪੇ", "ਚਰ", "ਚੋ", "ਟਿ", "ਚੁ", "ਕਿ", "ਟੇ", "ਟਰ", "ਕ੍", "ਰਿ", "ਤਿ",
            "ਤਿ", "ਕੇ", "ਰੁ", "ਕਟ", "ਟੇ", "ਪੋ", "ਚਿ", "ਕਿ", "ਕ੍", "ਰੇ", "ਪਿ", "ਰਿ", "ਪੁ", "ਕਟ", "ਟ੍", "ਤ੍",
            "ਟੋ", "ਪੇ", "ਕ੍", "ਰੋ", "ਚੋ", "ਰਿ", "ਪ੍", "ਚੋ", "ਰਿ", "ਰ੍", "ਚਕ", "ਕੇ", "ਕੇ", "ਕਟ", "ਤੁ", "ਕ੍", "ਟਪ", "ਰੇ", "ਟਤ", "ਰ੍",
            "ਕੇ", "ਚੋ", "ਟੋ", "ਰਿ", "ਤਿ", "ਚਿ", "ਕਿ", "ਕੇ", "ਰੁ", "ਤਿ", "ਤੇ", "ਟਰ", "ਟੇ", "ਚੋ", "ਟਚ", "ਕਟ", "ਤ੍", "ਚ੍", "ਟਤ", "ਰਿ", "ਤੇ", "ਚੁ", "ਪੇ", "ਤ੍", "ਟ੍",
            "ਪਿ", "ਕੁ", "ਤੋ", "ਟਚ", "ਤੋ", "ਪਰ", "ਕਰ", "ਤ੍", "ਕੇ", "", "ਰਿ", "ਚਕ", "ਰ੍", "ਚਤ", "ਚੋ", "ਚਤ", "ਤਿ", "ਚਿ", "ਚੋ", "ਟਿ", "ਪੁ", "ਟੋ", "ਪੇ", "ਕ੍", "ਰੋ", "ਚੋ", "ਰਿ", "ਪ੍", "ਚੋ", "ਰਿ", "ਰ੍", "ਚਕ", "ਕੇ", "ਕੇ", "ਕਟ", "ਤੁ", "ਕ੍", "ਟਪ", "ਰੇ", "ਟਤ", "ਰ੍",
            "ਕੇ", "ਚੋ", "ਟੋ", "ਰਿ", "ਤਿ", "ਚਿ", "ਕਿ", "ਕੇ", "ਰੁ", "ਤਿ", "ਤੇ", "ਟਰ", "ਟੇ", "ਚੋ", "ਟਚ", "ਕਟ", "ਤ੍", "ਚ੍", "ਟਤ", "ਰਿ", "ਤੇ", "ਚੁ", "ਪੇ", "ਤ੍", "ਟ੍",
            "ਪਿ", "ਕੁ", "ਤੋ", "ਟਚ", "ਤੋ", "ਪਰ", "ਕਰ", "ਤ੍", "ਕੇ", "", "ਰਿ", "ਚਕ", "ਰ੍", "ਚਤ", "ਚੋ", "ਚਤ", "ਤਿ", "ਚਿ", "ਚੋ", "ਟਿ", "ਪੁ"];


                    //console.log('Value taken from Lesson1');
                    //for (i = 0; i < wordList.length; i++)
                    //    console.log((i + 1) + ": " + wordList[i]);

    </script>

    <script src="~/Scripts/JavaScript.js"></script>


}


