
@{
    ViewBag.Title = "Home Row : Lesson 1 |";

}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Home Row : Lesson 1&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 2", "Lesson", "HomeRow", new { id = "2" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            a
                        </td>
                        <td>
                            s
                        </td>
                        <td>
                            d
                        </td>
                        <td>
                            f
                        </td>
                        <td>
                            g
                        </td>
                        <td>
                            h
                        </td>
                        <td>
                            j
                        </td>
                        <td>
                            k
                        </td>
                        <td>
                            l
                        </td>
                        <td>
                            ;
                        </td>
                        <td>
                            '
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ੋ
                        </td>
                        <td>
                            ੇ
                        </td>
                        <td>
                            ੍
                        </td>
                        <td>
                            ਿ
                        </td>
                        <td>
                            ੁ
                        </td>
                        <td>
                            ਪ
                        </td>
                        <td>
                            ਰ
                        </td>
                        <td>
                            ਕ
                        </td>
                        <td>
                            ਤ
                        </td>
                        <td>
                            ਚ
                        </td>
                        <td>
                            ਟ
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="hindi_keyboard">
                <table id="second_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="caps_key _key" id="_caps_Lock"><span>Caps Lock</span></td>
                            <td class="_key">
                                <span class="_right_char">A</span> <br />
                                <span class="_right_char">ੋ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">S</span> <br />
                                <span class="_right_char">ੇ</span>
                            </td>
                            <td class="_key" style="">
                                <span class="_right_char">D</span> <br />
                                <span class="_right_char">੍</span>
                            </td>
                            <td class="_key" style="">
                                <span class="_right_char">F</span> <br />
                                <span class="_right_char">ਿ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">G</span> <br />
                                <span class="_right_char">ੁ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">H</span> <br />
                                <span class="_right_char">ਪ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">J</span> <br />
                                <span class="_right_char">ਰ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">K</span> <br />
                                <span class="_right_char">ਕ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">L</span> <br />
                                <span class="_right_char">ਤ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">;</span> <br />
                                <span class="_right_char">ਚ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">'</span> <br />
                                <span class="_right_char">ਟ</span>
                            </td>
                            <td class="enter_key _key" id="enter_key"><span class="special_characters">↩</span> Enter </td>
                        </tr>
                    </tbody>
                </table>

                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />

            <section id="word-section"><span class="current-word">ੋ</span><span>ੋ</span><span>ੋ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>ੋ</span><span>ਚ</span><span>ਟ</span><span>ਕ</span><span>ਟ</span><span>ਪ</span><span>ੋ</span><span>ੇ</span><span>ੇ</span><span>ੇ</span><span>੍</span><span>ਰ</span><span>ਿ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ਿ</span><span>ਿ</span><span>ਚ</span><span>੍</span><span>ਿ</span><span>ਿ</span><span>ਕ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਟ</span><span>ੋ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ਿ</span><span>ੁ</span><span>ਚ</span><span>ੇ</span><span>ੁ</span><span>ਿ</span><span>ਕ</span><span>ਚ</span><span>ੇ</span><span>੍</span><span>ਟ</span><span>ਿ</span><span>ਰ</span><span>ੇ</span><span>ੁ</span><span>ੇ</span><span>ੇ</span><span>ਕ</span><span>ਪ</span><span>ੋ</span><span>੍</span><span>ਰ</span><span>ਚ</span><span>੍</span><span>ਟ</span><span>ਿ</span><span>ਿ</span><span>ਟ</span><span>੍</span><span>ੋ</span><span>ਪ</span><span>ਟ</span><span>ਚ</span><span>ਿ</span><span>ੇ</span><span>ਚ</span><span>ਰ</span><span>ਚ</span><span>੍</span><span>ਟ</span><span>ਕ</span><span>ਿ</span><span>ੋ</span><span>ਰ</span><span>ਤ</span><span>ੁ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ਰ</span><span>ਪ</span><span>ਟ</span><span>ੁ</span><span>ਪ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>ਤ</span><span>ੋ</span><span>੍</span><span>ੋ</span><span>ਰ</span><span>ਚ</span><span>ਰ</span><span>ੇ</span><span>ੋ</span><span>ੁ</span><span>ਿ</span><span>ਪ</span><span>ੋ</span><span>ਿ</span><span>੍</span><span>ਪ</span><span>ਟ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ੁ</span><span>ਿ</span><span>ਚ</span><span>ਚ</span><span>ਪ</span><span>ੁ</span><span>੍</span><span>ਚ</span><span>ਿ</span><span>ੁ</span><span>ਰ</span><span>ੇ</span><span>ੇ</span><span>ੁ</span><span>ਿ</span><span>ਟ</span><span>ਤ</span><span>ੁ</span><span>ਚ</span><span>ੇ</span><span>ਟ</span><span>ਕ</span><span>ੁ</span><span>ੇ</span><span>ਪ</span><span>ਕ</span><span>ਪ</span><span>ੇ</span><span>ਰ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>ਟ</span><span>ੋ</span><span>ਰ</span><span>ਤ</span><span>ਿ</span><span>ਿ</span><span>ਰ</span><span>ਟ</span><span>ਚ</span><span>ਤ</span><span>ੇ</span><span>ਟ</span><span>ਟ</span><span>ੁ</span><span>ਿ</span><span>੍</span><span>ਟ</span><span>ੋ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ੇ</span><span>ਚ</span><span>ਕ</span><span>ਿ</span><span>ਤ</span><span>ਰ</span><span>ੇ</span><span>ਕ</span><span>ਟ</span><span>੍</span><span>੍</span><span>ਚ</span><span>੍</span><span>ੇ</span><span>ਚ</span><span>ਰ</span><span>੍</span><span>ਰ</span><span>ਪ</span><span>ਟ</span><span>ਿ</span><span>ੋ</span><span>ੇ</span><span>੍</span><span>ਿ</span><span>੍</span><span>ਤ</span><span>ਪ</span><span>ਪ</span><span>ੇ</span><span>ਿ</span><span>ਕ</span><span>ਟ</span><span>ਚ</span><span>ੋ</span><span>ੋ</span><span>ੁ</span><span>ਚ</span><span>ਕ</span><span>ਚ</span><span>ਿ</span><span>ਪ</span><span>ਿ</span><span>ਚ</span><span>ਚ</span><span>ੋ</span><span>ਟ</span><span>੍</span><span>ਪ</span><span>ਕ</span><span>ਕ</span><span>੍</span><span>ਚ</span><span>ੋ</span><span>ੋ</span><span>੍</span><span>ਟ</span><span>ੁ</span><span>ਟ</span><span>ੋ</span><span>ਿ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ਪ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ੁ</span><span>ੁ</span><span>ੇ</span><span>ਰ</span><span>ੋ</span><span>ੋ</span><span>ਰ</span><span>ਿ</span><span>ੋ</span><span>ਪ</span><span>ੋ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ੇ</span><span>ਰ</span><span>ਤ</span><span>ੋ</span><span>ਕ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>੍</span><span>ਕ</span><span>ਰ</span><span>ੇ</span><span>ੁ</span><span>ੋ</span><span>ੇ</span><span>ਚ</span><span>ੋ</span><span>ਕ</span><span>ਤ</span><span>੍</span><span>ਿ</span><span>ਚ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>ਰ</span><span>੍</span><span>ਕ</span><span>ੁ</span><span>ਚ</span><span>ਿ</span><span>ਕ</span><span>ਿ</span><span>ਕ</span><span>ਚ</span><span>ਤ</span><span>ੇ</span><span>ਿ</span><span>ੁ</span><span>੍</span><span>ੇ</span><span>ੋ</span><span>ਰ</span><span>ਕ</span><span>ੁ</span><span>ਰ</span><span>ੇ</span><span>੍</span><span>ਤ</span><span>ੋ</span><span>ਕ</span><span>ਕ</span><span>ੋ</span><span>ਚ</span><span>ੇ</span><span>੍</span><span>੍</span><span>ੁ</span><span>ੇ</span><span>ਟ</span><span>ਤ</span><span>ਪ</span><span>੍</span><span>ਕ</span><span>ੋ</span><span>ਕ</span><span>੍</span><span>ਤ</span><span>੍</span><span>ੇ</span><span>ੋ</span><span>ਿ</span><span>ਟ</span><span>ਤ</span><span>ਕ</span><span>ੁ</span><span>ਤ</span><span>ਪ</span><span>ਤ</span><span>ਿ</span><span>ਰ</span><span>ਟ</span><span>ੇ</span><span>ਚ</span><span>ਚ</span><span>੍</span><span>ੋ</span><span>ਤ</span><span>ਿ</span><span>ਿ</span><span>ਟ</span><span>੍</span></section>

             @*<section id="word-section"><span class="current-word">ੋ</span><span>ੋ</span></section>*@
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>

            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>

            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>&nbsp;If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>
            </div>
            @*<div style="text-align:center;">
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2F127.0.0.1%2FPunjabi-Ravi-Font-Typing-Home-Row%2F1&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>*@
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        var wordList = ["ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ", "ੋ", "ੇ", "੍", "ਿ", "ੁ", "ਪ", "ਰ", "ਕ", "ਤ", "ਚ", "ਟ", "ੋ", "ੇ", "ੁ", "ਰ", "੍", "ਕ", "ਿ", "ਟ", "ਚ"];

    </script>

    <script src="~/Scripts/JavaScript.js"></script>

}



