
@{
    ViewBag.Title = "Shift Home Row : Lesson 1 |";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;margin-top:90px;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>
            <h4 style="text-align:center;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;@Html.ActionLink("Back To Learn Typing", "LearnTyping", "StartTyping")&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;Shift Home Row : Lesson 1&nbsp;&nbsp;</h4>
            <h4 style="text-align:center;">&nbsp;&nbsp;@Html.ActionLink("Lesson 2", "Lesson", "ShiftHomeRow", new { id = "2" }, null)&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></h4>
            <br />
            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + a
                        </td>
                        <td>
                            Shift + s
                        </td>
                        <td>
                            Shift + d
                        </td>
                        <td>
                            Shift + f
                        </td>
                        <td>
                            Shift + g
                        </td>


                    </tr>
                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਓ
                        </td>
                        <td>
                            ਏ
                        </td>
                        <td>
                            ਅ
                        </td>
                        <td>
                            ਇ
                        </td>
                        <td>
                            ਉ
                        </td>

                    </tr>

                </tbody>
            </table>
            <br />

            <table class="cont-table">
                <tbody>
                    <tr>
                        <th>
                            Key
                        </th>
                        <td>
                            Shift + h
                        </td>
                        <td>
                            Shift + j
                        </td>
                        <td>
                            Shift + k
                        </td>
                        <td>
                            Shift + l
                        </td>
                        <td>
                            Shift + :
                        </td>
                        <td>
                            Shift + "
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Raavi
                        </th>
                        <td>
                            ਫ
                        </td>
                        <td>
                            ੜ
                        </td>
                        <td>
                            ਖ
                        </td>
                        <td>
                            ਥ
                        </td>
                        <td>
                            ਛ
                        </td>
                        <td>
                            ਠ
                        </td>

                    </tr>
                </tbody>
            </table>
            <br />

            <div id="hindi_keyboard">

                <table id="second_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="caps_key _key" id="_caps_Lock"><span>CapsLock</span></td>
                            <td class="_key">
                                <span class="_right_char">A</span> <br />
                                <span class="_right_char">ਓ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">S</span> <br />
                                <span class="_right_char">ਏ</span> <br>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">D</span> <br />
                                <span class="_right_char">ਅ</span> <br>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">F</span> <br />
                                <span class="_right_char">ਇ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">G</span> <br />
                                <span class="_right_char">ਉ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">H</span> <br />
                                <span class="_right_char">ਫ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">J</span> <br />
                                <span class="_right_char">ੜ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">K</span> <br />
                                <span class="_right_char">ਖ</span> <br>
                            </td>

                            <td class="_key">
                                <span class="_right_char">L</span> <br />
                                <span class="_right_char">ਥ</span> <br>
                            </td>
                            <td class="_key">
                                <span class="_right_char">;</span> <br />
                                <span class="_right_char">ਛ</span> <br>
                            </td>
                            <td class="_key">
                                <span class="_right_char">'</span> <br />
                                <span class="_right_char">ਠ</span> <br>
                            </td>
                            <td class="enter_key _key" id="enter_key"><span class="special_characters">↩</span> Enter </td>


                        </tr>
                    </tbody>
                </table>
                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <br />
            <section id="word-section"><span class="current-word">ਠ</span><span>ਇ</span><span>ਓ</span><span>ਇ</span><span>ਅ</span><span>ਫ</span><span>ਛ</span><span>ਅ</span><span>ਠ</span><span>ਛ</span><span>ਖ</span><span>ੜ</span><span>ਏ</span><span>ਏ</span><span>ਠ</span><span>ਇ</span><span>ਇ</span><span>ਇ</span><span>ਅ</span><span>ੜ</span><span>ੜ</span><span>ਇ</span><span>ਅ</span><span>ਅ</span><span>ਇ</span><span>ਓ</span><span>ਖ</span><span>ਓ</span><span>ਛ</span><span>ਉ</span><span>ਖ</span><span>ੜ</span><span>ਅ</span><span>ੜ</span><span>ਉ</span><span>ਠ</span><span>ਉ</span><span>ਠ</span><span>ਫ</span><span>ਫ</span><span>ਖ</span><span>ੜ</span><span>ਅ</span><span>ੜ</span><span>ਇ</span><span>ਉ</span><span>ਖ</span><span>ਇ</span><span>ੜ</span><span>ਇ</span><span>ਅ</span><span>ਇ</span><span>ਥ</span><span>ਖ</span><span>ਛ</span><span>ਠ</span><span>ੜ</span><span>ਅ</span><span>ਏ</span><span>ਠ</span><span>ਇ</span><span>ਛ</span><span>ਠ</span><span>ੜ</span><span>ਥ</span><span>ਅ</span><span>ਫ</span><span>ਅ</span><span>ਖ</span><span>ਛ</span><span>ਏ</span><span>ਠ</span><span>ਓ</span><span>ਏ</span><span>ਫ</span><span>ੜ</span><span>ਉ</span><span>ੜ</span><span>ਖ</span><span>ਛ</span><span>ਖ</span><span>ਉ</span><span>ਛ</span><span>ਖ</span><span>ਅ</span><span>ਥ</span><span>ਠ</span><span>ਖ</span><span>ਇ</span><span>ਫ</span><span>ਏ</span><span>ਓ</span><span>ਠ</span><span>ਛ</span><span>ਛ</span><span>ਓ</span><span>ਛ</span><span>ਏ</span><span>ਇ</span><span>ੜ</span><span>ਛ</span><span>ਇ</span><span>ਏ</span><span>ਏ</span><span>ਠ</span><span>ਥ</span><span>ਫ</span><span>ਓ</span><span>ਇ</span><span>ਛ</span><span>ੜ</span><span>ਖ</span><span>ੜ</span><span>ਇ</span><span>ਛ</span><span>ਛ</span><span>ਛ</span><span>ਥ</span><span>ੜ</span><span>ਇ</span><span>ਥ</span><span>ਏ</span><span>ਫ</span><span>ਅ</span><span>ਫ</span><span>ਓ</span><span>ੜ</span><span>ਥ</span><span>ਛ</span><span>ੜ</span><span>ੜ</span><span>ਛ</span><span>ਅ</span><span>ਫ</span><span>ੜ</span><span>ਠ</span><span>ੜ</span><span>ਠ</span><span>ਏ</span><span>ਛ</span><span>ਖ</span><span>ਠ</span><span>ਓ</span><span>ਠ</span><span>ਇ</span><span>ੜ</span><span>ਥ</span><span>ਠ</span><span>ਓ</span><span>ਠ</span><span>ਓ</span><span>ਓ</span><span>ੜ</span><span>ਏ</span><span>ਠ</span><span>ਥ</span><span>ਇ</span><span>ਏ</span><span>ਓ</span><span>ਖ</span><span>ਫ</span><span>ਖ</span><span>ਥ</span><span>ਅ</span><span>ਖ</span><span>ਠ</span><span>ਛ</span><span>ਛ</span><span>ੜ</span><span>ਏ</span><span>ਛ</span><span>ਠ</span><span>ੜ</span><span>ਓ</span><span>ਉ</span><span>ਅ</span><span>ਉ</span><span>ੜ</span><span>ਖ</span><span>ਏ</span><span>ਖ</span><span>ਅ</span><span>ਓ</span><span>ਉ</span><span>ਖ</span><span>ੜ</span><span>ਏ</span><span>ਇ</span><span>ਇ</span><span>ਏ</span><span>ੜ</span><span>ਖ</span><span>ਖ</span><span>ਏ</span><span>ਖ</span><span>ਓ</span><span>ਛ</span><span>ਛ</span><span>ਅ</span><span>ਉ</span><span>ਖ</span><span>ਅ</span><span>ਓ</span><span>ਅ</span><span>ਠ</span><span>ਇ</span><span>ਅ</span><span>ਓ</span><span>ੜ</span><span>ਅ</span><span>ਠ</span><span>ਅ</span><span>ੜ</span><span>ਥ</span><span>ਥ</span><span>ਏ</span><span>ਫ</span><span>ੜ</span><span>ਛ</span><span>ਛ</span><span>ੜ</span><span>ਫ</span><span>ਥ</span><span>ਅ</span><span>ਇ</span><span>ਓ</span><span>ਅ</span><span>ਠ</span><span>ਠ</span><span>ਓ</span><span>ਓ</span><span>ਓ</span><span>ੜ</span><span>ਖ</span><span>ੜ</span><span>ਥ</span><span>ਓ</span><span>ਠ</span><span>ਇ</span><span>ਖ</span><span>ਠ</span><span>ਏ</span><span>ਫ</span><span>ੜ</span><span>ੜ</span><span>ਠ</span><span>ਇ</span><span>ਥ</span><span>ਏ</span><span>ੜ</span><span>ੜ</span><span>ਫ</span><span>ਏ</span><span>ਇ</span><span>ਇ</span><span>ਇ</span><span>ਠ</span><span>ਇ</span><span>ਏ</span><span>ਏ</span><span>ਛ</span><span>ੜ</span><span>ਛ</span><span>ਛ</span><span>ਉ</span><span>ਏ</span><span>ਛ</span><span>ਥ</span><span>ਏ</span><span>ਖ</span><span>ਠ</span><span>ਛ</span><span>ਇ</span><span>ੜ</span><span>ਅ</span><span>ਅ</span><span>ਇ</span><span>ਫ</span><span>ਅ</span><span>ਛ</span><span>ਛ</span><span>ਖ</span><span>ਠ</span><span>ਖ</span><span>ਛ</span><span>ਓ</span><span>ਇ</span><span>ਉ</span><span>ਅ</span><span>ਖ</span><span>ਫ</span><span>ਛ</span><span>ਅ</span><span>ਓ</span><span>ਇ</span><span>ਠ</span><span>ਫ</span><span>ਅ</span><span>ਉ</span><span>ਉ</span><span>ਛ</span><span>ਓ</span><span>ਫ</span><span>ਛ</span><span>ਠ</span><span>ਖ</span><span>ੜ</span><span>ਫ</span><span>ਇ</span><span>ਥ</span><span>ਠ</span><span>ਇ</span><span>ੜ</span><span>ਏ</span><span>ਉ</span><span>ਫ</span><span>ਛ</span><span>ਇ</span><span>ਓ</span><span>ੜ</span><span>ਛ</span><span>ਇ</span><span>ਏ</span><span>ਅ</span><span>ੜ</span><span>ਠ</span><span>ਇ</span><span>ਇ</span><span>ਠ</span><span>ਉ</span><span>ਛ</span><span>ਖ</span><span>ਏ</span><span>ਏ</span><span>ਥ</span><span>ਇ</span><span>ਅ</span><span>ੜ</span><span>ਏ</span><span>ਠ</span><span>ਏ</span><span>ਇ</span><span>ਠ</span><span>ਏ</span><span>ਇ</span><span>ਅ</span><span>ਉ</span><span>ਉ</span><span>ਠ</span><span>ਛ</span></section>
            <br />
            <div id="errorDiv" style="text-align:center;"> <span id="errorMessage" style="text-align:center;color:red;font-weight:bold"></span></div>
            <div id="divtimer" style="font-weight:bold;font-size:large;">
                <div class="row" style="text-align:center;">
                    <span>Time&nbsp;</span><span class="glyphicon glyphicon-time"></span>&nbsp;<span id="test">00:00</span>
                </div>
            </div>
            <section id="type-section">
                <input id="typebox" name="typebox" type="text" autofocus="" tabindex="1" onkeyup="typingTest(event)">
            </section>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time Based Test</th>
                            <th>Click below</th>
                            <th>Custom (No Time Limit)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="mySelect">
                                    <option selected value="default">Select Test Time</option>
                                    <option value="1">1 Minute</option>
                                    <option value="3">3 Minutes</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="10">10 Minutes</option>
                                    <option value="15">15 Minutes</option>
                                </select>
                            </td>
                            <td>
                                @*<button class="btn btn-success btn-sm" id="startbutton">Start Timer</button>*@
                                <button type="button" class="btn btn-success btn-sm" id="timerclock" onclick="timerfunction();">Start Timer</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" id="clock" onclick="Clock(this);">Start Custom Test</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><b>Test Instructions</b></td>
                        </tr>
                        <tr>
                            <td>1. For a time based test, results will be displayed only when the time is over. Once, started one cannot stop the test</td>
                        </tr>
                        <tr>
                            <td>2. For a custom type test, results will be displayed  once the exercise is over or by Stoping the test.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="banner" style="text-align:center;">
                <p><b><u>Note:</u></b>If you see typed characters in English, Please Navigate to Set Up Raavi Font tab</p>

            </div>
            <div class="col-sm-3">
                <!--add area here -->
            </div>
        </div>
    </div>
    <div class="row" id="criteriarow">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6" id="typingcriteria">
            <div id="banner" style="border-color:brown;border-style:groove">
                <p style="text-align:center"><br /><b>Criteria of Typing Results</b></p>
                <ol style="text-align:left">
                    <li>Speed is calculated based on characters/Words per minute.</li>
                    <li>After a space, each character is considered as a word irrespective of its length.</li>
                    <li>Space Character is not used in calculation.</li>
                    <li>Gross(CPM) is speed = Correct Characters Typed / Time Taken in Minutes</li>
                    <li>Net(NCM) is speed =  Gross(CPM) - (Incorrect Characters Typed / Time Taken in Minutes)</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
    <br />
</div>
<div class="container">
    <div class="row" id="numericrow" style="display:none;">
        <div class="col-md-3 col-sm-6" id="dataone">
            <span id="typedtime"></span>
            <div class="info">
                <p class="desc">Time Taken(HH:MM:SS)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datatwo">
            <span id="accuracynum"></span>
            <div class="info">
                <p class="desc">Accuracy(%)</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6" id="datathree">
            <span id="grossnum"></span>
            <div class="info">
                <p class="desc">Gross Speed(WPM)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="datafour">
            <span id="netnum"></span>
            <div class="info">
                <p class="desc">Net Speed(WPM)</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;" id="chartrow">
    <div class="row">
        <div class="col-sm-3" id="mcyhartdiv"></div>
        <div class="col-sm-3" id="accuracydiv"></div>
        <div class="col-sm-3" id="grossdiv"></div>
        <div class="col-sm-3" id="netdiv"></div>
    </div>
</div>
<br />
<br />

@section Scripts
{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        var wordList = ["ਠ", "ਇ", "ਓ", "ਇ", "ਅ", "ਫ", "ਛ", "ਅ", "ਠ", "ਛ", "ਖ", "ੜ", "ਏ", "ਏ", "ਠ", "ਇ", "ਇ", "ਇ", "ਅ", "ੜ", "ੜ", "ਇ", "ਅ", "ਅ", "ਇ", "ਓ", "ਖ", "ਓ", "ਛ", "ਉ", "ਖ", "ੜ", "ਅ", "ੜ", "ਉ", "ਠ", "ਉ", "ਠ", "ਫ", "ਫ", "ਖ", "ੜ", "ਅ", "ੜ", "ਇ", "ਉ", "ਖ", "ਇ", "ੜ", "ਇ", "ਅ", "ਇ", "ਥ", "ਖ", "ਛ", "ਠ", "ੜ", "ਅ", "ਏ", "ਠ", "ਇ", "ਛ", "ਠ", "ੜ", "ਥ", "ਅ", "ਫ", "ਅ", "ਖ", "ਛ", "ਏ", "ਠ", "ਓ", "ਏ", "ਫ", "ੜ", "ਉ", "ੜ", "ਖ", "ਛ", "ਖ", "ਉ", "ਛ", "ਖ", "ਅ", "ਥ", "ਠ", "ਖ", "ਇ", "ਫ", "ਏ", "ਓ", "ਠ", "ਛ", "ਛ", "ਓ", "ਛ", "ਏ", "ਇ", "ੜ", "ਛ", "ਇ", "ਏ", "ਏ", "ਠ", "ਥ", "ਫ", "ਓ", "ਇ", "ਛ", "ੜ", "ਖ", "ੜ", "ਇ", "ਛ", "ਛ", "ਛ", "ਥ", "ੜ", "ਇ", "ਥ", "ਏ", "ਫ", "ਅ", "ਫ", "ਓ", "ੜ", "ਥ", "ਛ", "ੜ", "ੜ", "ਛ", "ਅ", "ਫ", "ੜ", "ਠ", "ੜ", "ਠ", "ਏ", "ਛ", "ਖ", "ਠ", "ਓ", "ਠ", "ਇ", "ੜ", "ਥ", "ਠ", "ਓ", "ਠ", "ਓ", "ਓ", "ੜ", "ਏ", "ਠ", "ਥ", "ਇ", "ਏ", "ਓ", "ਖ", "ਫ", "ਖ", "ਥ", "ਅ", "ਖ", "ਠ", "ਛ", "ਛ", "ੜ", "ਏ", "ਛ", "ਠ", "ੜ", "ਓ", "ਉ", "ਅ", "ਉ", "ੜ", "ਖ", "ਏ", "ਖ", "ਅ", "ਓ", "ਉ", "ਖ", "ੜ", "ਏ", "ਇ", "ਇ", "ਏ", "ੜ", "ਖ", "ਖ", "ਏ", "ਖ", "ਓ", "ਛ", "ਛ", "ਅ", "ਉ", "ਖ", "ਅ", "ਓ", "ਅ", "ਠ", "ਇ", "ਅ", "ਓ", "ੜ", "ਅ", "ਠ", "ਅ", "ੜ", "ਥ", "ਥ", "ਏ", "ਫ", "ੜ", "ਛ", "ਛ", "ੜ", "ਫ", "ਥ", "ਅ", "ਇ", "ਓ", "ਅ", "ਠ", "ਠ", "ਓ", "ਓ", "ਓ", "ੜ", "ਖ", "ੜ", "ਥ", "ਓ", "ਠ", "ਇ", "ਖ", "ਠ", "ਏ", "ਫ", "ੜ", "ੜ", "ਠ", "ਇ", "ਥ", "ਏ", "ੜ", "ੜ", "ਫ", "ਏ", "ਇ", "ਇ", "ਇ", "ਠ", "ਇ", "ਏ", "ਏ", "ਛ", "ੜ", "ਛ", "ਛ", "ਉ", "ਏ", "ਛ", "ਥ", "ਏ", "ਖ", "ਠ", "ਛ", "ਇ", "ੜ", "ਅ", "ਅ", "ਇ", "ਫ", "ਅ", "ਛ", "ਛ", "ਖ", "ਠ", "ਖ", "ਛ", "ਓ", "ਇ", "ਉ", "ਅ", "ਖ", "ਫ", "ਛ", "ਅ", "ਓ", "ਇ", "ਠ", "ਫ", "ਅ", "ਉ", "ਉ", "ਛ", "ਓ", "ਫ", "ਛ", "ਠ", "ਖ", "ੜ", "ਫ", "ਇ", "ਥ", "ਠ", "ਇ", "ੜ", "ਏ", "ਉ", "ਫ", "ਛ", "ਇ", "ਓ", "ੜ", "ਛ", "ਇ", "ਏ", "ਅ", "ੜ", "ਠ", "ਇ", "ਇ", "ਠ", "ਉ", "ਛ", "ਖ", "ਏ", "ਏ", "ਥ", "ਇ", "ਅ", "ੜ", "ਏ", "ਠ", "ਏ", "ਇ", "ਠ", "ਏ", "ਇ", "ਅ", "ਉ", "ਉ", "ਠ", "ਛ"];
    </script>

    <script src="~/Scripts/JavaScript.js"></script>

}
