
@{
    ViewBag.Title = "Tips";
}

<div class="container" >

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <h1 class="add-bottom cut-top">Learn how to touch type</h1>
            <p class="text-black fs-18 add-bottom">
                Touch typing is all about the idea that each finger has its own area on the keyboard. Thanks to that fact you can type without looking at the keys. Practice regularly and your fingers will learn their location on the keyboard through muscle memory.
            </p>
        </div>

        <div class="col-sm-2">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8" style="height:300px;">
                    <h2>Sitting posture for typing</h2>
                    <ul>
                        <li>Sit straight and remember to keep your back straight.</li>
                        <li>Keep your elbows bent at the right angle.</li>
                        <li>Face the screen with your head slightly tilted forward.</li>
                        <li>Keep at least 45 - 70 cm of distance between your eyes and the screen.</li>
                        <li>Еxpose the shoulder, arm, and wrist muscles to the least possible strain. The wrists can touch the tabletop in front of the keyboard. Never shift your body weight to the wrists by resting on them.</li>
                    </ul>
                </div>
                <div class="col-sm-4" >
                    <img src="~/img/posture.png" title="Sitting posture for typing" alt="Sitting posture for typing" style="height:300px;" />
                </div>
            </div>
        </div>

        <div class="col-sm-2">

        </div>

    </div>

    <div class="row" >
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <h2>Home row position</h2>
            <img src="~/img/main_keys.png" title="Fingers home row position" alt="Fingers home row position" />
            <p>Curve your fingers a little and put them on the ASDF and JKL; keys which are located in the middle row of the letter keys. This row is called HOME ROW because you always start from these keys and always return to them.</p>
            <p class="cut-bottom">F and J keys under your index fingers should have a raised line on them to aide in finding these keys without looking.</p>
        </div>

        <div class="col-sm-2">

        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <h2>Кeyboard scheme</h2>
            <span class="hidden">Fingers position on the keyboard</span>
            <ul>
                <li>Hit keys only with the fingers for which they have been reserved.</li>
                <li>Always return to the starting position of the fingers "ASDF – JKL;".</li>
                <li>When typing, imagine the location of the symbol on the keyboard.</li>
                <li>Establish and maintain a rhythm while typing. Your keystrokes should come at equal intervals.</li>
                <li>The SHIFT key is always pressed by the pinky finger opposite to the one hitting the other key.</li>
                <li>Use the thumb of whichever hand is more convenient for you to press the Space bar.</li>
            </ul>
            <p class="cut-bottom">This method may seem inconvenient at first, but do not stop, eventually you’ll find out that you are typing quickly, easily and conveniently.</p>
        </div>

        <div class="col-sm-2">

        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <div class="row">

                <div class="col-sm-8" >
                    <h2>Fingers motion</h2>
                    <p class="cut-top">Don't look at the keys when you type. Just slide your fingers around until they find the home row marking.</p>
                    <p>Limit your hand and finger movement only to what is necessary to press a specific key. Keep your hands and fingers close to the base position. This improves typing speed and reduces stress on the hands.</p>
                    <p class="cut-bottom">Pay attention to ring fingers and little fingers, since they are considerably underdeveloped.</p>
                </div>

                <div class="col-sm-4">
                    <img src="~/img/man.png" style="width: 150px" title="Fingers<br/> motion" alt="Fingers<br/> motion" />
                </div>

            </div>
        </div>

        <div class="col-sm-2">

        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <h2> Typing speed</h2>
            <ul>
                <li>
                    Do not rush when you just started learning. Speed up only when your fingers hit the right keys out of habit.
                </li>
                <li>
                    Take your time when typing to avoid mistakes. The speed will pick up as you progress.
                </li>
                <li>Always scan the text a word or two in advance.</li>
                <li>
                    Pass all typing lessons to get to know the results of each lesson after completion.
                </li>
            </ul>
        </div>

        <div class="col-sm-2">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <h2>Take care of yourself</h2>
            <div class="tip-right">
                <p class="cut-top">Take a break if you feel that you get distracted easily and are making a lot of mistakes. It is more productive to come back when you feel refreshed.</p>
            </div>

        </div>

        <div class="col-sm-2">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8" style="text-align:center;">
            @Html.ActionLink("It's time to get some practice", "LearnTyping", "StartTyping", null, new { @class = "btn btn-primary btn-large" })
        </div>

        <div class="col-sm-2">

        </div>

    </div>
    <br />

</div>